Servicos/Service References/ServicoAvon/ExchangeMessage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.psystemit.com/wsdl/Infinitri/ExchangeMessage" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.psystemit.com/wsdl/Infinitri/ExchangeMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.psystemit.com/wsdl/Infinitri/ExchangeMessage">
      <s:element name="CompressedSendWithCompressedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crosstalkMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompressedSendWithCompressedResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompressedSendWithCompressedResponseResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendWithCompressedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crosstalkMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendWithCompressedResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendWithCompressedResponseResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompressedSend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crosstalkMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompressedSendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompressedSendResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crosstalkMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CompressedSendWithCompressedResponseSoapIn">
    <wsdl:part name="parameters" element="tns:CompressedSendWithCompressedResponse" />
  </wsdl:message>
  <wsdl:message name="CompressedSendWithCompressedResponseSoapOut">
    <wsdl:part name="parameters" element="tns:CompressedSendWithCompressedResponseResponse" />
  </wsdl:message>
  <wsdl:message name="SendWithCompressedResponseSoapIn">
    <wsdl:part name="parameters" element="tns:SendWithCompressedResponse" />
  </wsdl:message>
  <wsdl:message name="SendWithCompressedResponseSoapOut">
    <wsdl:part name="parameters" element="tns:SendWithCompressedResponseResponse" />
  </wsdl:message>
  <wsdl:message name="CompressedSendSoapIn">
    <wsdl:part name="parameters" element="tns:CompressedSend" />
  </wsdl:message>
  <wsdl:message name="CompressedSendSoapOut">
    <wsdl:part name="parameters" element="tns:CompressedSendResponse" />
  </wsdl:message>
  <wsdl:message name="SendSoapIn">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="SendSoapOut">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:portType name="RequestSoap">
    <wsdl:operation name="CompressedSendWithCompressedResponse">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Responsável pelo recebimento das mensagens compactadas de requisiçao de operações, dados ou serviços do Infinitri. A mensagem deve estar compactada no formato Zip. O primeiro arquivo localizado no "Zip" será descompactado usando o encoding especificado no CrossTalk Header. Demais arquivos serão ignorados. O retorno também estará compactado no formato Zip.</wsdl:documentation>
      <wsdl:input message="tns:CompressedSendWithCompressedResponseSoapIn" />
      <wsdl:output message="tns:CompressedSendWithCompressedResponseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendWithCompressedResponse">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Responsável pelo recebimento das mensagens de requisiçao de operações, dados ou serviços do Infinitri.</wsdl:documentation>
      <wsdl:input message="tns:SendWithCompressedResponseSoapIn" />
      <wsdl:output message="tns:SendWithCompressedResponseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompressedSend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Responsável pelo recebimento das mensagens compactadas de requisiçao de operações, dados ou serviços do Infinitri. A mensagem deve estar compactada no formato Zip. O primeiro arquivo localizado no "Zip" será descompactado usando o encoding especificado no CrossTalk Header. Demais arquivos serão ignorados.</wsdl:documentation>
      <wsdl:input message="tns:CompressedSendSoapIn" />
      <wsdl:output message="tns:CompressedSendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Send">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Responsável pelo recebimento das mensagens de requisiçao de operações, dados ou serviços do Infinitri.</wsdl:documentation>
      <wsdl:input message="tns:SendSoapIn" />
      <wsdl:output message="tns:SendSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RequestSoap" type="tns:RequestSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CompressedSendWithCompressedResponse">
      <soap:operation soapAction="http://www.psystemit.com/wsdl/Infinitri/ExchangeMessage/CompressedSendWithCompressedResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWithCompressedResponse">
      <soap:operation soapAction="http://www.psystemit.com/wsdl/Infinitri/ExchangeMessage/SendWithCompressedResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompressedSend">
      <soap:operation soapAction="http://www.psystemit.com/wsdl/Infinitri/ExchangeMessage/CompressedSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap:operation soapAction="http://www.psystemit.com/wsdl/Infinitri/ExchangeMessage/Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RequestSoap1" type="tns:RequestSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CompressedSendWithCompressedResponse">
      <soap12:operation soapAction="http://www.psystemit.com/wsdl/Infinitri/ExchangeMessage/CompressedSendWithCompressedResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWithCompressedResponse">
      <soap12:operation soapAction="http://www.psystemit.com/wsdl/Infinitri/ExchangeMessage/SendWithCompressedResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompressedSend">
      <soap12:operation soapAction="http://www.psystemit.com/wsdl/Infinitri/ExchangeMessage/CompressedSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap12:operation soapAction="http://www.psystemit.com/wsdl/Infinitri/ExchangeMessage/Send" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExchangeMessage">
    <wsdl:port name="RequestSoap" binding="tns:RequestSoap">
      <soap:address location="http://portalnfe-intqa.rye.avon.com/Infinitri.WebService.ExchangeMessage/ExchangeMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="RequestSoap1" binding="tns:RequestSoap1">
      <soap12:address location="http://portalnfe-intqa.rye.avon.com/Infinitri.WebService.ExchangeMessage/ExchangeMessage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>