Servicos/Service References/ServicoSAP.ArmazenaCTe/SI_Armazena_Cte_Async_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://jsl.com.br/Armazena_CTE" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_Armazena_Cte_Async_OUT" targetNamespace="http://jsl.com.br/Armazena_CTE" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_Armazena_Cte_Async_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="http://jsl.com.br/Armazena_CTE" targetNamespace="http://jsl.com.br/Armazena_CTE" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_Armazena_CTe_req" type="p1:DT_Armazena_Cte_req" />
      <xsd:element name="MT_Armazena_CTe_resp" type="p1:DT_Armazena_Cte_resp" />
      <xsd:complexType name="DT_Armazena_Cte_req">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">7076ef38bb8711e4a4020000332d37ea</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="XML_CTe" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">70db4e59bb8711e48abc90004ec42afd</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Armazena_Cte_resp">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">628612eecc0411e4b4dd0000332d37ea</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="T_RETORN">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b85ff518cc0411e4936154ebf9e72a1c</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="TIPO">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b85ff516cc0411e4c45954ebf9e72a1c</xsd:appinfo>
                    <xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MENSAGEM">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b85ff517cc0411e4a4a254ebf9e72a1c</xsd:appinfo>
                    <xsd:documentation>Text length 300</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="300" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Armazena_CTe_req">
    <wsdl:documentation />
    <wsdl:part name="MT_Armazena_CTe_req" element="p1:MT_Armazena_CTe_req" />
  </wsdl:message>
  <wsdl:message name="MT_Armazena_CTe_resp">
    <wsdl:documentation />
    <wsdl:part name="MT_Armazena_CTe_resp" element="p1:MT_Armazena_CTe_resp" />
  </wsdl:message>
  <wsdl:portType name="SI_Armazena_Cte_Async_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_Armazena_Cte_Async_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_Armazena_Cte_Async_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_Armazena_CTe_req" />
      <wsdl:output message="p1:MT_Armazena_CTe_resp" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_Armazena_Cte_Async_OUTBinding" type="p1:SI_Armazena_Cte_Async_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_Armazena_Cte_Async_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_Armazena_Cte_Async_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_Armazena_Cte_Async_OUTBinding">
      <address location="http://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_TMS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Armazena_Cte_Async_OUT&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FArmazena_CTE" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_Armazena_Cte_Async_OUTBinding">
      <address location="https://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_TMS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Armazena_Cte_Async_OUT&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FArmazena_CTE" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>