Servicos/Service References/ServicoNOX/IntegraGR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="IntegraGR" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xs:complexType name="stLogin">
        <xs:sequence>
          <xs:element name="sUserName" type="xs:string" />
          <xs:element name="sPassWord" type="xs:string" />
          <xs:element name="sToken" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosAV">
        <xs:sequence>
          <xs:element name="sCd_CnpjUnidNeg" type="xs:string" />
          <xs:element name="sCd_Placa" type="xs:string" />
          <xs:element name="sTp_Veiculo" type="xs:string" />
          <xs:element name="sId_AutoInclusao" type="xs:string" />
          <xs:element name="DadosVeiculo" type="tns:stDadosVeiculo" />
          <xs:element name="DadosFaturamento" type="tns:stDadosFaturamento" />
          <xs:element name="DadosProprietario" type="tns:stDadosProprietario" />
          <xs:element name="DadosSerial" type="tns:stDadosSerial" />
          <xs:element name="DadosFormacaoPadrao" type="tns:stDadosFormacaoPadrao" />
          <xs:element name="DadosCondutorPadrao" type="tns:stDadosCondutorPadrao" />
          <xs:element name="DadosTransSinal" type="tns:stDadosTransSinal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosVeiculo">
        <xs:sequence>
          <xs:element name="sCd_ExclusivoCliente" type="xs:string" />
          <xs:element name="iCd_Renavam" type="xs:string" />
          <xs:element name="sCd_Chassi" type="xs:string" />
          <xs:element name="sNm_Cor" type="xs:string" />
          <xs:element name="iAa_Fabricacao" type="xs:int" />
          <xs:element name="iAa_Modelo" type="xs:int" />
          <xs:element name="iCd_Carroceria" type="xs:int" />
          <xs:element name="sCd_ModeloVeiculo" type="xs:string" />
          <xs:element name="sCd_MarcaVeiCarga" type="xs:string" />
          <xs:element name="sId_VeiculoCarga" type="xs:string" />
          <xs:element name="sId_VincVeiculo" type="xs:string" />
          <xs:element name="sCd_MunLicenc" type="xs:string" />
          <xs:element name="dDt_Aquisicao" type="xs:date" />
          <xs:element name="dDt_Venda" type="xs:date" />
          <xs:element name="sId_Ativo" type="xs:string" />
          <xs:element name="sDc_Obs" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosFaturamento">
        <xs:sequence>
          <xs:element name="sTp_Faturamento" type="xs:string" />
          <xs:element name="sId_FormaFixo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosProprietario">
        <xs:sequence>
          <xs:element name="sCd_CnpjPropVeiculo" type="xs:string" />
          <xs:element name="sNm_PropVeiculo" type="xs:string" />
          <xs:element name="sNo_FonePropVeiculo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosSerial">
        <xs:sequence>
          <xs:element name="iCd_Tecnologia" type="xs:int" />
          <xs:element name="sCd_ModRastreador" type="xs:string" />
          <xs:element name="sCd_SerialRastreador" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosFormacaoPadrao">
        <xs:sequence>
          <xs:element name="sId_FormPadrao" type="xs:int" />
          <xs:element name="sCd_PlacaCarreta" type="tns:ArrayOfString" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosCondutorPadrao">
        <xs:sequence>
          <xs:element name="sNo_CpfCondutor" type="xs:string" />
          <xs:element name="DadosPerfSecCondutor" type="tns:stDadosPerfSecCondutor" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosPerfSecCondutor">
        <xs:sequence>
          <xs:element name="iCd_FornecPerfSec" type="xs:int" />
          <xs:element name="sId_VincCondutorPS" type="xs:string" />
          <xs:element name="sCd_PesquisaPS" type="xs:string" />
          <xs:element name="dDt_PesquisaPS" type="xs:date" />
          <xs:element name="dDt_ValidadePS" type="xs:date" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosTransSinal">
        <xs:sequence>
          <xs:element name="sId_IncExcSinal" type="xs:string" />
          <xs:element name="sCd_CnpjEmpDet" type="xs:string" />
          <xs:element name="sNm_EmpDet" type="xs:string" />
          <xs:element name="sNm_FantasiaEmpDet" type="xs:string" />
          <xs:element name="sCd_AutotracID" type="xs:string" />
          <xs:element name="sCd_AutotracUA" type="xs:string" />
          <xs:element name="sNo_TelefEmpDet" type="xs:string" />
          <xs:element name="sNm_ContatoEmpDet" type="xs:string" />
          <xs:element name="sDc_EmailCntEmpDet" type="xs:string" />
          <xs:element name="sNo_TelefCntEmpDet" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stSet_AlteraVeiculoResult">
        <xs:sequence>
          <xs:element name="Retorno" type="tns:ArrayOfstResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stResult">
        <xs:sequence>
          <xs:element name="sCode" type="xs:string" />
          <xs:element name="sResult" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosAC">
        <xs:sequence>
          <xs:element name="sCd_CnpjUnidNeg" type="xs:string" />
          <xs:element name="sNo_CpfCondutor" type="xs:string" />
          <xs:element name="sId_AutoInclusao" type="xs:string" />
          <xs:element name="DadosCondutor" type="tns:stDadosCondutor" />
          <xs:element name="DadosCondutorCnt" type="tns:ArrayOfstDadosCondutorCnt" />
          <xs:element name="DadosPerfSecCondutor" type="tns:stDadosPerfSecCondutor" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosCondutor">
        <xs:sequence>
          <xs:element name="sNm_Condutor" type="xs:string" />
          <xs:element name="sAb_Condutor" type="xs:string" />
          <xs:element name="sNo_CNH" type="xs:string" />
          <xs:element name="dDt_ValidadeCNH" type="xs:date" />
          <xs:element name="sId_CategoriaCNH" type="xs:string" />
          <xs:element name="sTp_Identidade" type="xs:string" />
          <xs:element name="sNo_Identidade" type="xs:string" />
          <xs:element name="sSg_OrgaoExpedIdentidade" type="xs:string" />
          <xs:element name="dDt_EmissaoIdentidade" type="xs:date" />
          <xs:element name="sId_VinculoEmpreg" type="xs:string" />
          <xs:element name="iCd_CEP" type="xs:int" />
          <xs:element name="sNm_Logradouro" type="xs:string" />
          <xs:element name="sNo_Logradouro" type="xs:string" />
          <xs:element name="sCp_Logradouro" type="xs:string" />
          <xs:element name="sNm_Bairro" type="xs:string" />
          <xs:element name="sCd_Municipio" type="xs:string" />
          <xs:element name="sCd_Latitude" type="xs:string" />
          <xs:element name="sCd_Longitude" type="xs:string" />
          <xs:element name="sDc_Obs" type="xs:string" />
          <xs:element name="dDt_InterrupAtivid" type="xs:date" />
          <xs:element name="sCd_SegCentralMonit" type="xs:string" />
          <xs:element name="sNm_Mae" type="xs:string" />
          <xs:element name="sNm_Pai" type="xs:string" />
          <xs:element name="dDt_Nascimento" type="xs:date" />
          <xs:element name="sCd_MunNatural" type="xs:string" />
          <xs:element name="sId_EstadoCivil" type="xs:string" />
          <xs:element name="sId_Sexo" type="xs:string" />
          <xs:element name="sCd_SegurancaCNH" type="xs:string" />
          <xs:element name="sUF_SegurancaCNH" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosCondutorCnt">
        <xs:sequence>
          <xs:element name="iCd_DDD" type="xs:int" />
          <xs:element name="sNo_TelContato" type="xs:string" />
          <xs:element name="sId_TipoTelefone" type="xs:string" />
          <xs:element name="sId_Propriedade" type="xs:string" />
          <xs:element name="iCd_OperTelefonia" type="xs:int" />
          <xs:element name="sNm_PessoaCnt" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stSet_AlteraCondutor">
        <xs:sequence>
          <xs:element name="Retorno" type="tns:ArrayOfstResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosSM">
        <xs:sequence>
          <xs:element name="sCd_CnpjUnidNeg" type="xs:string" />
          <xs:element name="sCd_Placa" type="xs:string" />
          <xs:element name="ControleAgendamento" type="tns:stControleAgendamento" />
          <xs:element name="ConjuntoViagem" type="tns:stConjuntoViagem" />
          <xs:element name="CondutoresViagem" type="tns:stCondutoresViagem" />
          <xs:element name="DadosAjudantes" type="tns:stDadosAjudantes" />
          <xs:element name="ControleDDR" type="tns:stControleDDR" />
          <xs:element name="DadosViagem" type="tns:stDadosViagem" />
          <xs:element name="DadosEscolta" type="tns:stDadosEscolta" />
          <xs:element name="RastreadorAuxiliar" type="tns:stRastreadorAuxiliar" />
          <xs:element name="FaixasTemperatura" type="tns:stFaixasTemperatura" />
          <xs:element name="sNm_UserCliente" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stControleAgendamento">
        <xs:sequence>
          <xs:element name="sId_AutorizaCklNeg" type="xs:string" />
          <xs:element name="sId_UtilizaFormPadrao" type="xs:string" />
          <xs:element name="sId_UtilizaCondPadrao" type="xs:string" />
          <xs:element name="sId_CtrlCarga" type="xs:string" />
          <xs:element name="sId_CtrlDescarga" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stConjuntoViagem">
        <xs:sequence>
          <xs:element name="iId_FormacaoCVC" type="xs:int" />
          <xs:element name="sCd_PlacaCarretaCV" type="tns:ArrayOfString" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stCondutoresViagem">
        <xs:sequence>
          <xs:element name="sNo_CpfCondutorPrinc" type="xs:string" />
          <xs:element name="sNo_CpfCondutorAux" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosAjudantes">
        <xs:sequence>
          <xs:element name="iQt_Ajudantes" type="xs:int" />
          <xs:element name="sNo_CpfAjudante" type="tns:ArrayOfString" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stControleDDR">
        <xs:sequence>
          <xs:element name="sId_Ddr" type="xs:string" />
          <xs:element name="iCd_SeguradoraDdr" type="xs:int" />
          <xs:element name="sCd_CnpjEmbarcDdr" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosViagem">
        <xs:sequence>
          <xs:element name="sCd_Rota" type="xs:string" />
          <xs:element name="sCd_MunicipioOrigem" type="xs:string" />
          <xs:element name="sCd_MunicipioDestino" type="xs:string" />
          <xs:element name="dDh_PrevInicio" type="xs:dateTime" />
          <xs:element name="dDh_PrevFim" type="xs:dateTime" />
          <xs:element name="sId_OperTransp" type="xs:string" />
          <xs:element name="nVl_Carga" type="xs:decimal" />
          <xs:element name="sCd_CnpjEmbarcViagem" type="xs:string" />
          <xs:element name="EnderecoOrigem" type="tns:stEnderecos" />
          <xs:element name="EnderecoDestino" type="tns:stEnderecos" />
          <xs:element name="DadosObsViagem" type="tns:stDadosObsViagem" />
          <xs:element name="DadosTranspTerceiro" type="tns:stDadosTranspTerceiro" />
          <xs:element name="SequenciaOperacao" type="tns:ArrayOfstSequenciaOperacao" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stEnderecos">
        <xs:sequence>
          <xs:element name="sCEP" type="xs:string" />
          <xs:element name="sNm_Endereco" type="xs:string" />
          <xs:element name="sNo_Endereco" type="xs:string" />
          <xs:element name="sNm_Bairro" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosObsViagem">
        <xs:sequence>
          <xs:element name="sDc_ObsGEN" type="xs:string" />
          <xs:element name="sDc_ObsOGR" type="xs:string" />
          <xs:element name="sDc_ObsOFV" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosTranspTerceiro">
        <xs:sequence>
          <xs:element name="sId_TranspTerceiro" type="xs:string" />
          <xs:element name="sCd_CnpjTransp" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stSequenciaOperacao">
        <xs:sequence>
          <xs:element name="sId_Operacao" type="xs:string" />
          <xs:element name="sCd_MunicipioOper" type="xs:string" />
          <xs:element name="sDc_LocalOperacao" type="xs:string" />
          <xs:element name="sCd_CnpjEmbarcCliente" type="xs:string" />
          <xs:element name="sCEP" type="xs:string" />
          <xs:element name="sNm_Endereco" type="xs:string" />
          <xs:element name="sNo_Endereco" type="xs:string" />
          <xs:element name="sNm_Bairro" type="xs:string" />
          <xs:element name="sCd_Produto" type="xs:string" />
          <xs:element name="nVl_Produto" type="xs:decimal" />
          <xs:element name="dDh_PrevisaoChegada" type="xs:dateTime" />
          <xs:element name="sId_DetNF" type="xs:string" />
          <xs:element name="iNo_NotaFiscal" type="tns:ArrayOfInt" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosEscolta">
        <xs:sequence>
          <xs:element name="sId_PossuiEscolta" type="xs:string" />
          <xs:element name="sCd_CnpjEmpEscolta" type="xs:string" />
          <xs:element name="sCd_PlacaEscolta" type="xs:string" />
          <xs:element name="sCd_CpfAgenteEscolta" type="tns:ArrayOfString" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stRastreadorAuxiliar">
        <xs:sequence>
          <xs:element name="sId_UtilizaRLAux" type="xs:string" />
          <xs:element name="Rastreadores" type="tns:ArrayOfstRastreadores" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stRastreadores">
        <xs:sequence>
          <xs:element name="sTp_InstRastrLoc" type="xs:string" />
          <xs:element name="iCd_TecnologiaRLAux" type="xs:int" />
          <xs:element name="iCd_ModRLAux" type="xs:int" />
          <xs:element name="sCd_SerialRLAux" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stFaixasTemperatura">
        <xs:sequence>
          <xs:element name="sId_CtrlTemperatura" type="xs:string" />
          <xs:element name="nFx_TemperMin" type="xs:decimal" />
          <xs:element name="nFx_TemperMax" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stSet_SolicitaMonitoramentoResult">
        <xs:sequence>
          <xs:element name="iCd_Viagem" type="xs:int" />
          <xs:element name="Retorno" type="tns:ArrayOfstResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosCK">
        <xs:sequence>
          <xs:element name="sCd_CnpjUnidNeg" type="xs:string" />
          <xs:element name="sSolicitaCheckList" type="xs:string" />
          <xs:element name="sCd_Placa" type="xs:string" />
          <xs:element name="sCd_PlacaCarreta" type="tns:ArrayOfString" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stSet_SolicitaChecklistResponse">
        <xs:sequence>
          <xs:element name="iCd_Cheklist" type="xs:int" />
          <xs:element name="sStatus" type="xs:string" />
          <xs:element name="dtValidade" type="xs:dateTime" />
          <xs:element name="ItensCheck" type="tns:ArrayOfstItensCheck" />
          <xs:element name="Retorno" type="tns:ArrayOfstResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stItensCheck">
        <xs:sequence>
          <xs:element name="sItem" type="xs:string" />
          <xs:element name="sResultado" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosCP">
        <xs:sequence>
          <xs:element name="nCd_CnpjUnidNeg" type="xs:string" />
          <xs:element name="sCd_Placas" type="tns:ArrayOfString" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stConsultaPosicaoResponse">
        <xs:sequence>
          <xs:element name="Retorno" type="tns:stResult" />
          <xs:element name="Veiculos" type="tns:ArrayOfVeiculoCPResp" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VeiculoCPResp">
        <xs:sequence>
          <xs:element name="sCode" type="xs:string" />
          <xs:element name="sResult" type="xs:string" />
          <xs:element name="sPlaca" type="xs:string" />
          <xs:element name="dDh_GeracaoEv" type="xs:dateTime" />
          <xs:element name="sCd_Latitude" type="xs:string" />
          <xs:element name="sCd_Longitude" type="xs:string" />
          <xs:element name="sDc_Referencia" type="xs:string" />
          <xs:element name="iSt_Ignicao" type="xs:int" />
          <xs:element name="nDc_VelocInst" type="xs:decimal" />
          <xs:element name="Alertas" type="tns:ArrayOfString" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosCD">
        <xs:sequence>
          <xs:element name="sCd_CnpjUnidNeg" type="xs:string" />
          <xs:element name="sNo_CpfCondutorPrinc" type="xs:string" />
          <xs:element name="sCd_Placa" type="xs:string" />
          <xs:element name="sCd_PlacaCarretas" type="tns:ArrayOfString" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stGet_ConsultaDisponibilidadeResponse">
        <xs:sequence>
          <xs:element name="Retorno" type="tns:ArrayOfstResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosFV">
        <xs:sequence>
          <xs:element name="sCd_CnpjUnidNeg" type="xs:string" />
          <xs:element name="iCd_Viagem" type="xs:int" />
          <xs:element name="dDh_FinalizaViagem" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stSet_FinalizaViagemResponse">
        <xs:sequence>
          <xs:element name="iCd_Viagem" type="xs:int" />
          <xs:element name="Retorno" type="tns:ArrayOfstResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosCV">
        <xs:sequence>
          <xs:element name="sCd_CnpjUnidNeg" type="xs:string" />
          <xs:element name="iCd_Viagem" type="xs:int" />
          <xs:element name="sMotivoCancela" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stSet_CancelaViagemResponse">
        <xs:sequence>
          <xs:element name="Retorno" type="tns:ArrayOfstResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stConsultaModeloResponse">
        <xs:sequence>
          <xs:element name="Marcas" type="tns:ArrayOfstMarcas" />
          <xs:element name="Categorias" type="tns:ArrayOfstCategorias" />
          <xs:element name="Modelos" type="tns:ArrayOfstModelos" />
          <xs:element name="Retorno" type="tns:ArrayOfstResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stMarcas">
        <xs:sequence>
          <xs:element name="iCd_Marca" type="xs:int" />
          <xs:element name="sNm_Marca" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stCategorias">
        <xs:sequence>
          <xs:element name="iCd_Categoria" type="xs:int" />
          <xs:element name="sNm_Categoria" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stModelos">
        <xs:sequence>
          <xs:element name="iCd_Modelo" type="xs:int" />
          <xs:element name="sNm_Modelo" type="xs:string" />
          <xs:element name="iCd_Marca" type="xs:int" />
          <xs:element name="iCd_Categoria" type="xs:int" />
          <xs:element name="iQt_Eixos" type="xs:int" />
          <xs:element name="sId_Truck" type="xs:string" />
          <xs:element name="sTp_Tracao" type="xs:string" />
          <xs:element name="sId_VeicTrator" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stDadosTP">
        <xs:sequence>
          <xs:element name="nCd_CnpjUnidNeg" type="xs:string" />
          <xs:element name="sCd_Placas" type="xs:string" />
          <xs:element name="dtInicio" type="xs:dateTime" />
          <xs:element name="dtFim" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stConsultaTPResponse">
        <xs:sequence>
          <xs:element name="sCode" type="xs:string" />
          <xs:element name="sResult" type="xs:string" />
          <xs:element name="sPlaca" type="xs:string" />
          <xs:element name="sSerial" type="xs:string" />
          <xs:element name="Paradas" type="tns:ArrayOfstParadas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stParadas">
        <xs:sequence>
          <xs:element name="dtInicio" type="xs:dateTime" />
          <xs:element name="sLocalInicio" type="xs:string" />
          <xs:element name="dtFim" type="xs:dateTime" />
          <xs:element name="sLocalFim" type="xs:string" />
          <xs:element name="iDuracao" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stVeiculo">
        <xs:sequence>
          <xs:element name="sCd_CnpjUnidNeg" type="xs:string" />
          <xs:element name="sCd_Placa" type="xs:string" />
          <xs:element name="sNm_Responsavel" type="xs:string" />
          <xs:element name="sEa_Responsavel" type="xs:string" />
          <xs:element name="sCd_DDDResponsavel" type="xs:string" />
          <xs:element name="sNo_FoneResponsavel" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stVeiculoCPResp">
        <xs:sequence>
          <xs:element name="sCode" type="xs:string" />
          <xs:element name="sResult" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfString">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfstResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stResult" nillable="true" type="tns:stResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfstDadosCondutorCnt">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stDadosCondutorCnt" nillable="true" type="tns:stDadosCondutorCnt" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfstSequenciaOperacao">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stSequenciaOperacao" nillable="true" type="tns:stSequenciaOperacao" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfInt">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="int" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfstRastreadores">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stRastreadores" nillable="true" type="tns:stRastreadores" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfstItensCheck">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stItensCheck" nillable="true" type="tns:stItensCheck" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfVeiculoCPResp">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="VeiculoCPResp" nillable="true" type="tns:VeiculoCPResp" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfstMarcas">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stMarcas" nillable="true" type="tns:stMarcas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfstCategorias">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stCategorias" nillable="true" type="tns:stCategorias" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfstModelos">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stModelos" nillable="true" type="tns:stModelos" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfstParadas">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stParadas" nillable="true" type="tns:stParadas" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Set_AlteraVeiculo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Login" type="tns:stLogin" />
            <xs:element name="DadosAV" type="tns:stDadosAV" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Set_AlteraVeiculoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Set_AlteraVeiculoResult" type="tns:stSet_AlteraVeiculoResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Set_AlteraCondutor">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Login" type="tns:stLogin" />
            <xs:element name="DadosAC" type="tns:stDadosAC" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Set_AlteraCondutorResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Set_AlteraCondutorResult" type="tns:stSet_AlteraCondutor" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Set_SolicitaMonitoramento">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Login" type="tns:stLogin" />
            <xs:element name="DadosSM" type="tns:stDadosSM" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Set_SolicitaMonitoramentoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Set_SolicitaMonitoramentoResult" type="tns:stSet_SolicitaMonitoramentoResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Set_SolicitaChecklist">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Login" type="tns:stLogin" />
            <xs:element name="DadosCK" type="tns:stDadosCK" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Set_SolicitaChecklistResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Set_SolicitaChecklistResult" type="tns:stSet_SolicitaChecklistResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Get_ConsultaPosicao">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Login" type="tns:stLogin" />
            <xs:element name="DadosCP" type="tns:stDadosCP" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Get_ConsultaPosicaoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Get_ConsultaPosicaoResult" type="tns:stConsultaPosicaoResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Get_ConsultaDisponibilidade">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Login" type="tns:stLogin" />
            <xs:element name="DadosCD" type="tns:stDadosCD" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Get_ConsultaDisponibilidadeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Get_ConsultaDisponibilidadeResult" type="tns:stGet_ConsultaDisponibilidadeResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Set_FinalizaViagem">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Login" type="tns:stLogin" />
            <xs:element name="DadosFV" type="tns:stDadosFV" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Set_FinalizaViagemResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Set_FinalizaViagemResult" type="tns:stSet_FinalizaViagemResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Set_CancelaViagem">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Login" type="tns:stLogin" />
            <xs:element name="DadosCV" type="tns:stDadosCV" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Set_CancelaViagemResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Set_CancelaViagemResult" type="tns:stSet_CancelaViagemResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Get_ConsultaModelo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Login" type="tns:stLogin" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Get_ConsultaModeloResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Get_ConsultaModeloResult" type="tns:stConsultaModeloResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Get_ConsultaTempoParado">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Login" type="tns:stLogin" />
            <xs:element name="DadosTP" type="tns:stDadosTP" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Get_ConsultaTempoParadoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Get_ConsultaTempoParadoResult" type="tns:stConsultaTPResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Set_ResponsavelVeiculo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Login" type="tns:stLogin" />
            <xs:element name="Veiculo" type="tns:stVeiculo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Set_ResponsavelVeiculoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Set_ResponsavelVeiculoResult" type="tns:stVeiculoCPResp" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="Set_AlteraVeiculoSoapRequest">
    <part name="parameters" element="tns:Set_AlteraVeiculo" />
  </message>
  <message name="Set_AlteraVeiculoSoapResponse">
    <part name="parameters" element="tns:Set_AlteraVeiculoResponse" />
  </message>
  <message name="Set_AlteraCondutorSoapRequest">
    <part name="parameters" element="tns:Set_AlteraCondutor" />
  </message>
  <message name="Set_AlteraCondutorSoapResponse">
    <part name="parameters" element="tns:Set_AlteraCondutorResponse" />
  </message>
  <message name="Set_SolicitaMonitoramentoSoapRequest">
    <part name="parameters" element="tns:Set_SolicitaMonitoramento" />
  </message>
  <message name="Set_SolicitaMonitoramentoSoapResponse">
    <part name="parameters" element="tns:Set_SolicitaMonitoramentoResponse" />
  </message>
  <message name="Set_SolicitaChecklistSoapRequest">
    <part name="parameters" element="tns:Set_SolicitaChecklist" />
  </message>
  <message name="Set_SolicitaChecklistSoapResponse">
    <part name="parameters" element="tns:Set_SolicitaChecklistResponse" />
  </message>
  <message name="Get_ConsultaPosicaoSoapRequest">
    <part name="parameters" element="tns:Get_ConsultaPosicao" />
  </message>
  <message name="Get_ConsultaPosicaoSoapResponse">
    <part name="parameters" element="tns:Get_ConsultaPosicaoResponse" />
  </message>
  <message name="Get_ConsultaDisponibilidadeSoapRequest">
    <part name="parameters" element="tns:Get_ConsultaDisponibilidade" />
  </message>
  <message name="Get_ConsultaDisponibilidadeSoapResponse">
    <part name="parameters" element="tns:Get_ConsultaDisponibilidadeResponse" />
  </message>
  <message name="Set_FinalizaViagemSoapRequest">
    <part name="parameters" element="tns:Set_FinalizaViagem" />
  </message>
  <message name="Set_FinalizaViagemSoapResponse">
    <part name="parameters" element="tns:Set_FinalizaViagemResponse" />
  </message>
  <message name="Set_CancelaViagemSoapRequest">
    <part name="parameters" element="tns:Set_CancelaViagem" />
  </message>
  <message name="Set_CancelaViagemSoapResponse">
    <part name="parameters" element="tns:Set_CancelaViagemResponse" />
  </message>
  <message name="Get_ConsultaModeloSoapRequest">
    <part name="parameters" element="tns:Get_ConsultaModelo" />
  </message>
  <message name="Get_ConsultaModeloSoapResponse">
    <part name="parameters" element="tns:Get_ConsultaModeloResponse" />
  </message>
  <message name="Get_ConsultaTempoParadoSoapRequest">
    <part name="parameters" element="tns:Get_ConsultaTempoParado" />
  </message>
  <message name="Get_ConsultaTempoParadoSoapResponse">
    <part name="parameters" element="tns:Get_ConsultaTempoParadoResponse" />
  </message>
  <message name="Set_ResponsavelVeiculoSoapRequest">
    <part name="parameters" element="tns:Set_ResponsavelVeiculo" />
  </message>
  <message name="Set_ResponsavelVeiculoSoapResponse">
    <part name="parameters" element="tns:Set_ResponsavelVeiculoResponse" />
  </message>
  <portType name="IntegraGRSoapType">
    <operation name="Set_AlteraVeiculo">
      <documentation>Método para Alterar os dados do Veículo</documentation>
      <input message="tns:Set_AlteraVeiculoSoapRequest" />
      <output message="tns:Set_AlteraVeiculoSoapResponse" />
    </operation>
    <operation name="Set_AlteraCondutor">
      <documentation>Método para Alterar os dados do Condutor</documentation>
      <input message="tns:Set_AlteraCondutorSoapRequest" />
      <output message="tns:Set_AlteraCondutorSoapResponse" />
    </operation>
    <operation name="Set_SolicitaMonitoramento">
      <documentation>Método para Fazer Solicitação de Monitoramento</documentation>
      <input message="tns:Set_SolicitaMonitoramentoSoapRequest" />
      <output message="tns:Set_SolicitaMonitoramentoSoapResponse" />
    </operation>
    <operation name="Set_SolicitaChecklist">
      <documentation>Método para Fazer Solicitação de CheckList</documentation>
      <input message="tns:Set_SolicitaChecklistSoapRequest" />
      <output message="tns:Set_SolicitaChecklistSoapResponse" />
    </operation>
    <operation name="Get_ConsultaPosicao">
      <documentation>Método para consultar a última posição do veículo</documentation>
      <input message="tns:Get_ConsultaPosicaoSoapRequest" />
      <output message="tns:Get_ConsultaPosicaoSoapResponse" />
    </operation>
    <operation name="Get_ConsultaDisponibilidade">
      <documentation>Método para consultar disponibilidade de Veículo e Condutor para a Viagem</documentation>
      <input message="tns:Get_ConsultaDisponibilidadeSoapRequest" />
      <output message="tns:Get_ConsultaDisponibilidadeSoapResponse" />
    </operation>
    <operation name="Set_FinalizaViagem">
      <documentation>Metodo para Finalizar Viagem</documentation>
      <input message="tns:Set_FinalizaViagemSoapRequest" />
      <output message="tns:Set_FinalizaViagemSoapResponse" />
    </operation>
    <operation name="Set_CancelaViagem">
      <documentation>Método para Cancelar uma Viagem</documentation>
      <input message="tns:Set_CancelaViagemSoapRequest" />
      <output message="tns:Set_CancelaViagemSoapResponse" />
    </operation>
    <operation name="Get_ConsultaModelo">
      <documentation>Método para consultar modelos de veículos</documentation>
      <input message="tns:Get_ConsultaModeloSoapRequest" />
      <output message="tns:Get_ConsultaModeloSoapResponse" />
    </operation>
    <operation name="Get_ConsultaTempoParado">
      <documentation>Método para consultar o tempo do veículo parado</documentation>
      <input message="tns:Get_ConsultaTempoParadoSoapRequest" />
      <output message="tns:Get_ConsultaTempoParadoSoapResponse" />
    </operation>
    <operation name="Set_ResponsavelVeiculo">
      <documentation>Método para adicionar o responsável pelo veículo</documentation>
      <input message="tns:Set_ResponsavelVeiculoSoapRequest" />
      <output message="tns:Set_ResponsavelVeiculoSoapResponse" />
    </operation>
  </portType>
  <binding name="IntegraGRSoapBinding" type="tns:IntegraGRSoapType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Set_AlteraVeiculo">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Set_AlteraCondutor">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Set_SolicitaMonitoramento">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Set_SolicitaChecklist">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Get_ConsultaPosicao">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Get_ConsultaDisponibilidade">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Set_FinalizaViagem">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Set_CancelaViagem">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Get_ConsultaModelo">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Get_ConsultaTempoParado">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Set_ResponsavelVeiculo">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="IntegraGRSoapBinding12" type="tns:IntegraGRSoapType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Set_AlteraVeiculo">
      <soap12:operation soapAction="" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="Set_AlteraCondutor">
      <soap12:operation soapAction="" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="Set_SolicitaMonitoramento">
      <soap12:operation soapAction="" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="Set_SolicitaChecklist">
      <soap12:operation soapAction="" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="Get_ConsultaPosicao">
      <soap12:operation soapAction="" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="Get_ConsultaDisponibilidade">
      <soap12:operation soapAction="" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="Set_FinalizaViagem">
      <soap12:operation soapAction="" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="Set_CancelaViagem">
      <soap12:operation soapAction="" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="Get_ConsultaModelo">
      <soap12:operation soapAction="" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="Get_ConsultaTempoParado">
      <soap12:operation soapAction="" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="Set_ResponsavelVeiculo">
      <soap12:operation soapAction="" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="IntegraGR">
    <documentation>DataFlex Web Service .....  ... documentation</documentation>
    <port name="IntegraGRSoap" binding="tns:IntegraGRSoapBinding">
      <soap:address location="http://vader.streamsoft.com.br/NOXWebService/IntegraGR.wso" />
    </port>
    <port name="IntegraGRSoap12" binding="tns:IntegraGRSoapBinding12">
      <soap12:address location="http://vader.streamsoft.com.br/NOXWebService/IntegraGR.wso" />
    </port>
  </service>
</definitions>