Servicos/Service References/ServicoSICSeguranca/SegurancaSVC8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum.Filtro" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca.ControleAcesso" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ObterRegistrosUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum.Filtro" minOccurs="0" name="filtro" nillable="true" type="q1:FiltroDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterRegistrosUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="ObterRegistrosUsuarioResult" nillable="true" type="q2:RespostaDTCRegistrosPaginadosDTCRegistrosUsuarioDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterDadosControleAcessoFilial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterDadosControleAcessoFilialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="ObterDadosControleAcessoFilialResult" nillable="true" type="q3:RespostaDTCDadosControleAcessoFilialDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarDadosControleAcessoFilial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca.ControleAcesso" minOccurs="0" name="DadosControleAcesso" nillable="true" type="q4:DadosControleAcessoFilialDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarDadosControleAcessoFilialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="SalvarDadosControleAcessoFilialResult" nillable="true" type="q5:RespostaDTCint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterDadosControleAcessoOperacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ControleAcessoID" type="xs:int" />
        <xs:element minOccurs="0" name="FilialID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterDadosControleAcessoOperacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="ObterDadosControleAcessoOperacaoResult" nillable="true" type="q6:RespostaDTCDadosControleAcessoOperacaoDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarDadosControleAcessoOperacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca.ControleAcesso" minOccurs="0" name="DadosControleAcesso" nillable="true" type="q7:DadosControleAcessoOperacaoDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarDadosControleAcessoOperacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="SalvarDadosControleAcessoOperacaoResult" nillable="true" type="q8:RespostaDTCint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterListaPermissionamentoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterListaPermissionamentoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="ObterListaPermissionamentoUsuarioResult" nillable="true" type="q9:RespostaDTCArrayOfPermissionamentoUsuarioDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterListaPermissionamentoAplicacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterListaPermissionamentoAplicacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="ObterListaPermissionamentoAplicacaoResult" nillable="true" type="q10:RespostaDTCArrayOfPermissionamentoAplicacaoDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInAplicacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInAplicacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="LogInAplicacaoResult" nillable="true" type="q11:RespostaDTCPermissionamentoAplicacaoDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="LogInUsuarioResult" nillable="true" type="q12:RespostaDTCPermissionamentoUsuarioDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInUsuarioPosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInUsuarioPostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="LogInUsuarioPostoResult" nillable="true" type="q13:RespostaDTCPermissionamentoUsuarioDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOffAplicacao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOffAplicacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="LogOffAplicacaoResult" nillable="true" type="q14:RespostaDTCboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOffUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOffUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="LogOffUsuarioResult" nillable="true" type="q15:RespostaDTCboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarGuidNovaSenhaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="externo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarGuidNovaSenhaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="GerarGuidNovaSenhaUsuarioResult" nillable="true" type="q16:RespostaDTCPermissionamentoUsuarioDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterListaModulos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterListaModulosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="ObterListaModulosResult" nillable="true" type="q17:RespostaDTCArrayOfModuloSsoDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarAutenticacaoAutorizacaoFuncional">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaPermissaoFuncional" nillable="true" type="q18:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarAutenticacaoAutorizacaoFuncionalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="VerificarAutenticacaoAutorizacaoFuncionalResult" nillable="true" type="q19:RespostaDTCint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teste" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="ServiceTestResult" nillable="true" type="q20:RespostaDTCstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>