Servicos/Service References/ServicoSICSeguranca/SegurancaSVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SegurancaSVC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd3" namespace="Jsl_Header" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum.Filtro" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Usuario" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca.ControleAcesso" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IControleAcesso_ObterRegistrosUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterRegistrosUsuario" />
  </wsdl:message>
  <wsdl:message name="IControleAcesso_ObterRegistrosUsuario_InputMessage_Headers">
    <wsdl:part xmlns:q1="Jsl_Header" name="JSLHeader" element="q1:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IControleAcesso_ObterRegistrosUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterRegistrosUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IControleAcesso_ObterDadosControleAcessoFilial_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosControleAcessoFilial" />
  </wsdl:message>
  <wsdl:message name="IControleAcesso_ObterDadosControleAcessoFilial_InputMessage_Headers">
    <wsdl:part xmlns:q2="Jsl_Header" name="JSLHeader" element="q2:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IControleAcesso_ObterDadosControleAcessoFilial_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosControleAcessoFilialResponse" />
  </wsdl:message>
  <wsdl:message name="IControleAcesso_SalvarDadosControleAcessoFilial_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarDadosControleAcessoFilial" />
  </wsdl:message>
  <wsdl:message name="IControleAcesso_SalvarDadosControleAcessoFilial_InputMessage_Headers">
    <wsdl:part xmlns:q3="Jsl_Header" name="JSLHeader" element="q3:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IControleAcesso_SalvarDadosControleAcessoFilial_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarDadosControleAcessoFilialResponse" />
  </wsdl:message>
  <wsdl:message name="IControleAcesso_ObterDadosControleAcessoOperacao_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosControleAcessoOperacao" />
  </wsdl:message>
  <wsdl:message name="IControleAcesso_ObterDadosControleAcessoOperacao_InputMessage_Headers">
    <wsdl:part xmlns:q4="Jsl_Header" name="JSLHeader" element="q4:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IControleAcesso_ObterDadosControleAcessoOperacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosControleAcessoOperacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IControleAcesso_SalvarDadosControleAcessoOperacao_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarDadosControleAcessoOperacao" />
  </wsdl:message>
  <wsdl:message name="IControleAcesso_SalvarDadosControleAcessoOperacao_InputMessage_Headers">
    <wsdl:part xmlns:q5="Jsl_Header" name="JSLHeader" element="q5:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IControleAcesso_SalvarDadosControleAcessoOperacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarDadosControleAcessoOperacaoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_ObterListaPermissionamentoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterListaPermissionamentoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_ObterListaPermissionamentoUsuario_InputMessage_Headers">
    <wsdl:part xmlns:q6="Jsl_Header" name="JSLHeader" element="q6:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_ObterListaPermissionamentoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterListaPermissionamentoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_ObterListaPermissionamentoAplicacao_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterListaPermissionamentoAplicacao" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_ObterListaPermissionamentoAplicacao_InputMessage_Headers">
    <wsdl:part xmlns:q7="Jsl_Header" name="JSLHeader" element="q7:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_ObterListaPermissionamentoAplicacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterListaPermissionamentoAplicacaoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_LogInAplicacao_InputMessage">
    <wsdl:part name="parameters" element="tns:LogInAplicacao" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_LogInAplicacao_InputMessage_Headers">
    <wsdl:part xmlns:q8="Jsl_Header" name="JSLHeader" element="q8:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_LogInAplicacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInAplicacaoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_LogInUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:LogInUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_LogInUsuario_InputMessage_Headers">
    <wsdl:part xmlns:q9="Jsl_Header" name="JSLHeader" element="q9:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_LogInUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_LogInUsuarioPosto_InputMessage">
    <wsdl:part name="parameters" element="tns:LogInUsuarioPosto" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_LogInUsuarioPosto_InputMessage_Headers">
    <wsdl:part xmlns:q10="Jsl_Header" name="JSLHeader" element="q10:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_LogInUsuarioPosto_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInUsuarioPostoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_LogOffAplicacao_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOffAplicacao" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_LogOffAplicacao_InputMessage_Headers">
    <wsdl:part xmlns:q11="Jsl_Header" name="JSLHeader" element="q11:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_LogOffAplicacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOffAplicacaoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_LogOffUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOffUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_LogOffUsuario_InputMessage_Headers">
    <wsdl:part xmlns:q12="Jsl_Header" name="JSLHeader" element="q12:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_LogOffUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOffUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_GerarGuidNovaSenhaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarGuidNovaSenhaUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_GerarGuidNovaSenhaUsuario_InputMessage_Headers">
    <wsdl:part xmlns:q13="Jsl_Header" name="JSLHeader" element="q13:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_GerarGuidNovaSenhaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarGuidNovaSenhaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_ObterListaModulos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterListaModulos" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_ObterListaModulos_InputMessage_Headers">
    <wsdl:part xmlns:q14="Jsl_Header" name="JSLHeader" element="q14:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_ObterListaModulos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterListaModulosResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_VerificarAutenticacaoAutorizacaoFuncional_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarAutenticacaoAutorizacaoFuncional" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_VerificarAutenticacaoAutorizacaoFuncional_InputMessage_Headers">
    <wsdl:part xmlns:q15="Jsl_Header" name="JSLHeader" element="q15:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_VerificarAutenticacaoAutorizacaoFuncional_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarAutenticacaoAutorizacaoFuncionalResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_ServiceTest_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceTest" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_ServiceTest_InputMessage_Headers">
    <wsdl:part xmlns:q16="Jsl_Header" name="JSLHeader" element="q16:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="ISeguranca_ServiceTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceTestResponse" />
  </wsdl:message>
  <wsdl:portType name="IControleAcesso">
    <wsdl:operation name="ObterRegistrosUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IControleAcesso/ObterRegistrosUsuario" message="tns:IControleAcesso_ObterRegistrosUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControleAcesso/ObterRegistrosUsuarioResponse" message="tns:IControleAcesso_ObterRegistrosUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterDadosControleAcessoFilial">
      <wsdl:input wsaw:Action="http://tempuri.org/IControleAcesso/ObterDadosControleAcessoFilial" message="tns:IControleAcesso_ObterDadosControleAcessoFilial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControleAcesso/ObterDadosControleAcessoFilialResponse" message="tns:IControleAcesso_ObterDadosControleAcessoFilial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarDadosControleAcessoFilial">
      <wsdl:input wsaw:Action="http://tempuri.org/IControleAcesso/SalvarDadosControleAcessoFilial" message="tns:IControleAcesso_SalvarDadosControleAcessoFilial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControleAcesso/SalvarDadosControleAcessoFilialResponse" message="tns:IControleAcesso_SalvarDadosControleAcessoFilial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterDadosControleAcessoOperacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IControleAcesso/ObterDadosControleAcessoOperacao" message="tns:IControleAcesso_ObterDadosControleAcessoOperacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControleAcesso/ObterDadosControleAcessoOperacaoResponse" message="tns:IControleAcesso_ObterDadosControleAcessoOperacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarDadosControleAcessoOperacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IControleAcesso/SalvarDadosControleAcessoOperacao" message="tns:IControleAcesso_SalvarDadosControleAcessoOperacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControleAcesso/SalvarDadosControleAcessoOperacaoResponse" message="tns:IControleAcesso_SalvarDadosControleAcessoOperacao_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ISeguranca">
    <wsdl:operation name="ObterListaPermissionamentoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguranca/ObterListaPermissionamentoUsuario" message="tns:ISeguranca_ObterListaPermissionamentoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguranca/ObterListaPermissionamentoUsuarioResponse" message="tns:ISeguranca_ObterListaPermissionamentoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterListaPermissionamentoAplicacao">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguranca/ObterListaPermissionamentoAplicacao" message="tns:ISeguranca_ObterListaPermissionamentoAplicacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguranca/ObterListaPermissionamentoAplicacaoResponse" message="tns:ISeguranca_ObterListaPermissionamentoAplicacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInAplicacao">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguranca/LogInAplicacao" message="tns:ISeguranca_LogInAplicacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguranca/LogInAplicacaoResponse" message="tns:ISeguranca_LogInAplicacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguranca/LogInUsuario" message="tns:ISeguranca_LogInUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguranca/LogInUsuarioResponse" message="tns:ISeguranca_LogInUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInUsuarioPosto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguranca/LogInUsuarioPosto" message="tns:ISeguranca_LogInUsuarioPosto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguranca/LogInUsuarioPostoResponse" message="tns:ISeguranca_LogInUsuarioPosto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOffAplicacao">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguranca/LogOffAplicacao" message="tns:ISeguranca_LogOffAplicacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguranca/LogOffAplicacaoResponse" message="tns:ISeguranca_LogOffAplicacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOffUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguranca/LogOffUsuario" message="tns:ISeguranca_LogOffUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguranca/LogOffUsuarioResponse" message="tns:ISeguranca_LogOffUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarGuidNovaSenhaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguranca/GerarGuidNovaSenhaUsuario" message="tns:ISeguranca_GerarGuidNovaSenhaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguranca/GerarGuidNovaSenhaUsuarioResponse" message="tns:ISeguranca_GerarGuidNovaSenhaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterListaModulos">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguranca/ObterListaModulos" message="tns:ISeguranca_ObterListaModulos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguranca/ObterListaModulosResponse" message="tns:ISeguranca_ObterListaModulos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarAutenticacaoAutorizacaoFuncional">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguranca/VerificarAutenticacaoAutorizacaoFuncional" message="tns:ISeguranca_VerificarAutenticacaoAutorizacaoFuncional_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguranca/VerificarAutenticacaoAutorizacaoFuncionalResponse" message="tns:ISeguranca_VerificarAutenticacaoAutorizacaoFuncional_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceTest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguranca/ServiceTest" message="tns:ISeguranca_ServiceTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguranca/ServiceTestResponse" message="tns:ISeguranca_ServiceTest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IControleAcesso" type="tns:IControleAcesso">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterRegistrosUsuario">
      <soap:operation soapAction="http://tempuri.org/IControleAcesso/ObterRegistrosUsuario" style="document" />
      <wsdl:input>
        <soap:header message="tns:IControleAcesso_ObterRegistrosUsuario_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosControleAcessoFilial">
      <soap:operation soapAction="http://tempuri.org/IControleAcesso/ObterDadosControleAcessoFilial" style="document" />
      <wsdl:input>
        <soap:header message="tns:IControleAcesso_ObterDadosControleAcessoFilial_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarDadosControleAcessoFilial">
      <soap:operation soapAction="http://tempuri.org/IControleAcesso/SalvarDadosControleAcessoFilial" style="document" />
      <wsdl:input>
        <soap:header message="tns:IControleAcesso_SalvarDadosControleAcessoFilial_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosControleAcessoOperacao">
      <soap:operation soapAction="http://tempuri.org/IControleAcesso/ObterDadosControleAcessoOperacao" style="document" />
      <wsdl:input>
        <soap:header message="tns:IControleAcesso_ObterDadosControleAcessoOperacao_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarDadosControleAcessoOperacao">
      <soap:operation soapAction="http://tempuri.org/IControleAcesso/SalvarDadosControleAcessoOperacao" style="document" />
      <wsdl:input>
        <soap:header message="tns:IControleAcesso_SalvarDadosControleAcessoOperacao_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ISeguranca" type="tns:ISeguranca">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterListaPermissionamentoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISeguranca/ObterListaPermissionamentoUsuario" style="document" />
      <wsdl:input>
        <soap:header message="tns:ISeguranca_ObterListaPermissionamentoUsuario_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterListaPermissionamentoAplicacao">
      <soap:operation soapAction="http://tempuri.org/ISeguranca/ObterListaPermissionamentoAplicacao" style="document" />
      <wsdl:input>
        <soap:header message="tns:ISeguranca_ObterListaPermissionamentoAplicacao_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInAplicacao">
      <soap:operation soapAction="http://tempuri.org/ISeguranca/LogInAplicacao" style="document" />
      <wsdl:input>
        <soap:header message="tns:ISeguranca_LogInAplicacao_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInUsuario">
      <soap:operation soapAction="http://tempuri.org/ISeguranca/LogInUsuario" style="document" />
      <wsdl:input>
        <soap:header message="tns:ISeguranca_LogInUsuario_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInUsuarioPosto">
      <soap:operation soapAction="http://tempuri.org/ISeguranca/LogInUsuarioPosto" style="document" />
      <wsdl:input>
        <soap:header message="tns:ISeguranca_LogInUsuarioPosto_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOffAplicacao">
      <soap:operation soapAction="http://tempuri.org/ISeguranca/LogOffAplicacao" style="document" />
      <wsdl:input>
        <soap:header message="tns:ISeguranca_LogOffAplicacao_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOffUsuario">
      <soap:operation soapAction="http://tempuri.org/ISeguranca/LogOffUsuario" style="document" />
      <wsdl:input>
        <soap:header message="tns:ISeguranca_LogOffUsuario_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarGuidNovaSenhaUsuario">
      <soap:operation soapAction="http://tempuri.org/ISeguranca/GerarGuidNovaSenhaUsuario" style="document" />
      <wsdl:input>
        <soap:header message="tns:ISeguranca_GerarGuidNovaSenhaUsuario_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterListaModulos">
      <soap:operation soapAction="http://tempuri.org/ISeguranca/ObterListaModulos" style="document" />
      <wsdl:input>
        <soap:header message="tns:ISeguranca_ObterListaModulos_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarAutenticacaoAutorizacaoFuncional">
      <soap:operation soapAction="http://tempuri.org/ISeguranca/VerificarAutenticacaoAutorizacaoFuncional" style="document" />
      <wsdl:input>
        <soap:header message="tns:ISeguranca_VerificarAutenticacaoAutorizacaoFuncional_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceTest">
      <soap:operation soapAction="http://tempuri.org/ISeguranca/ServiceTest" style="document" />
      <wsdl:input>
        <soap:header message="tns:ISeguranca_ServiceTest_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SegurancaSVC">
    <wsdl:port name="BasicHttpBinding_IControleAcesso" binding="tns:BasicHttpBinding_IControleAcesso">
      <soap:address location="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ISeguranca" binding="tns:BasicHttpBinding_ISeguranca">
      <soap:address location="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>