Servicos/Service References/ServicoSICSeguranca/SegurancaSVC1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Jsl_Header" elementFormDefault="qualified" targetNamespace="Jsl_Header" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Header">
    <xs:sequence>
      <xs:element minOccurs="0" name="TokenAplicacao" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TokenFuncional" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Header" nillable="true" type="tns:Header" />
  <xs:element name="JSLHeader" nillable="true" type="tns:Header" />
</xs:schema>