Servicos/Service References/ServicoSICSeguranca/SegurancaSVC4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Usuario" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca.ControleAcesso" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" />
  <xs:complexType name="RespostaDTCRegistrosPaginadosDTCRegistrosUsuarioDTC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RegistrosPaginadosDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Usuario">
            <GenericParameter Name="RegistrosUsuarioDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Usuario" />
          </GenericParameter>
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfRegistrosPaginadosDTCRegistrosUsuarioDTCEnumRetornoDTC2G3nt7Hs">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCRegistrosPaginadosDTCRegistrosUsuarioDTC" nillable="true" type="tns:RespostaDTCRegistrosPaginadosDTCRegistrosUsuarioDTC" />
  <xs:complexType name="RetornoDTCOfRegistrosPaginadosDTCRegistrosUsuarioDTCEnumRetornoDTC2G3nt7Hs">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RegistrosPaginadosDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Usuario">
            <GenericParameter Name="RegistrosUsuarioDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Usuario" />
          </GenericParameter>
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q1:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Usuario" minOccurs="0" name="Retorno" nillable="true" type="q2:RegistrosPaginadosDTCRegistrosUsuarioDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q3:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfRegistrosPaginadosDTCRegistrosUsuarioDTCEnumRetornoDTC2G3nt7Hs" nillable="true" type="tns:RetornoDTCOfRegistrosPaginadosDTCRegistrosUsuarioDTCEnumRetornoDTC2G3nt7Hs" />
  <xs:complexType name="RespostaDTCDadosControleAcessoFilialDTC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DadosControleAcessoFilialDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca.ControleAcesso" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfDadosControleAcessoFilialDTCEnumRetornoDTCfDq6g28B">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCDadosControleAcessoFilialDTC" nillable="true" type="tns:RespostaDTCDadosControleAcessoFilialDTC" />
  <xs:complexType name="RetornoDTCOfDadosControleAcessoFilialDTCEnumRetornoDTCfDq6g28B">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DadosControleAcessoFilialDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca.ControleAcesso" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q4:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca.ControleAcesso" minOccurs="0" name="Retorno" nillable="true" type="q5:DadosControleAcessoFilialDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q6:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfDadosControleAcessoFilialDTCEnumRetornoDTCfDq6g28B" nillable="true" type="tns:RetornoDTCOfDadosControleAcessoFilialDTCEnumRetornoDTCfDq6g28B" />
  <xs:complexType name="RespostaDTCint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfintEnumRetornoDTC2LV2fjlZ">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCint" nillable="true" type="tns:RespostaDTCint" />
  <xs:complexType name="RetornoDTCOfintEnumRetornoDTC2LV2fjlZ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q7:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Retorno" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q8:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfintEnumRetornoDTC2LV2fjlZ" nillable="true" type="tns:RetornoDTCOfintEnumRetornoDTC2LV2fjlZ" />
  <xs:complexType name="RespostaDTCDadosControleAcessoOperacaoDTC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DadosControleAcessoOperacaoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca.ControleAcesso" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfDadosControleAcessoOperacaoDTCEnumRetornoDTCfDq6g28B">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCDadosControleAcessoOperacaoDTC" nillable="true" type="tns:RespostaDTCDadosControleAcessoOperacaoDTC" />
  <xs:complexType name="RetornoDTCOfDadosControleAcessoOperacaoDTCEnumRetornoDTCfDq6g28B">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DadosControleAcessoOperacaoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca.ControleAcesso" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q9:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca.ControleAcesso" minOccurs="0" name="Retorno" nillable="true" type="q10:DadosControleAcessoOperacaoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q11:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfDadosControleAcessoOperacaoDTCEnumRetornoDTCfDq6g28B" nillable="true" type="tns:RetornoDTCOfDadosControleAcessoOperacaoDTCEnumRetornoDTCfDq6g28B" />
  <xs:complexType name="RespostaDTCArrayOfPermissionamentoUsuarioDTC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPermissionamentoUsuarioDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfArrayOfPermissionamentoUsuarioDTCEnumRetornoDTCnYgIO3tK">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCArrayOfPermissionamentoUsuarioDTC" nillable="true" type="tns:RespostaDTCArrayOfPermissionamentoUsuarioDTC" />
  <xs:complexType name="RetornoDTCOfArrayOfPermissionamentoUsuarioDTCEnumRetornoDTCnYgIO3tK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPermissionamentoUsuarioDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q12:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" minOccurs="0" name="Retorno" nillable="true" type="q13:ArrayOfPermissionamentoUsuarioDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q14:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfArrayOfPermissionamentoUsuarioDTCEnumRetornoDTCnYgIO3tK" nillable="true" type="tns:RetornoDTCOfArrayOfPermissionamentoUsuarioDTCEnumRetornoDTCnYgIO3tK" />
  <xs:complexType name="RespostaDTCArrayOfPermissionamentoAplicacaoDTC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPermissionamentoAplicacaoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfArrayOfPermissionamentoAplicacaoDTCEnumRetornoDTCnYgIO3tK">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCArrayOfPermissionamentoAplicacaoDTC" nillable="true" type="tns:RespostaDTCArrayOfPermissionamentoAplicacaoDTC" />
  <xs:complexType name="RetornoDTCOfArrayOfPermissionamentoAplicacaoDTCEnumRetornoDTCnYgIO3tK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPermissionamentoAplicacaoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q15:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" minOccurs="0" name="Retorno" nillable="true" type="q16:ArrayOfPermissionamentoAplicacaoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q17:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfArrayOfPermissionamentoAplicacaoDTCEnumRetornoDTCnYgIO3tK" nillable="true" type="tns:RetornoDTCOfArrayOfPermissionamentoAplicacaoDTCEnumRetornoDTCnYgIO3tK" />
  <xs:complexType name="RespostaDTCPermissionamentoAplicacaoDTC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PermissionamentoAplicacaoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfPermissionamentoAplicacaoDTCEnumRetornoDTCnYgIO3tK">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCPermissionamentoAplicacaoDTC" nillable="true" type="tns:RespostaDTCPermissionamentoAplicacaoDTC" />
  <xs:complexType name="RetornoDTCOfPermissionamentoAplicacaoDTCEnumRetornoDTCnYgIO3tK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PermissionamentoAplicacaoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q18:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" minOccurs="0" name="Retorno" nillable="true" type="q19:PermissionamentoAplicacaoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q20:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfPermissionamentoAplicacaoDTCEnumRetornoDTCnYgIO3tK" nillable="true" type="tns:RetornoDTCOfPermissionamentoAplicacaoDTCEnumRetornoDTCnYgIO3tK" />
  <xs:complexType name="RespostaDTCPermissionamentoUsuarioDTC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PermissionamentoUsuarioDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfPermissionamentoUsuarioDTCEnumRetornoDTCnYgIO3tK">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCPermissionamentoUsuarioDTC" nillable="true" type="tns:RespostaDTCPermissionamentoUsuarioDTC" />
  <xs:complexType name="RetornoDTCOfPermissionamentoUsuarioDTCEnumRetornoDTCnYgIO3tK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PermissionamentoUsuarioDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q21:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" minOccurs="0" name="Retorno" nillable="true" type="q22:PermissionamentoUsuarioDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q23:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfPermissionamentoUsuarioDTCEnumRetornoDTCnYgIO3tK" nillable="true" type="tns:RetornoDTCOfPermissionamentoUsuarioDTCEnumRetornoDTCnYgIO3tK" />
  <xs:complexType name="RespostaDTCboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfbooleanEnumRetornoDTC2LV2fjlZ">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCboolean" nillable="true" type="tns:RespostaDTCboolean" />
  <xs:complexType name="RetornoDTCOfbooleanEnumRetornoDTC2LV2fjlZ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q24:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Retorno" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q25:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfbooleanEnumRetornoDTC2LV2fjlZ" nillable="true" type="tns:RetornoDTCOfbooleanEnumRetornoDTC2LV2fjlZ" />
  <xs:complexType name="RespostaDTCArrayOfModuloSsoDTC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfModuloSsoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfArrayOfModuloSsoDTCEnumRetornoDTCnYgIO3tK">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCArrayOfModuloSsoDTC" nillable="true" type="tns:RespostaDTCArrayOfModuloSsoDTC" />
  <xs:complexType name="RetornoDTCOfArrayOfModuloSsoDTCEnumRetornoDTCnYgIO3tK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfModuloSsoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q26:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" minOccurs="0" name="Retorno" nillable="true" type="q27:ArrayOfModuloSsoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q28:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfArrayOfModuloSsoDTCEnumRetornoDTCnYgIO3tK" nillable="true" type="tns:RetornoDTCOfArrayOfModuloSsoDTCEnumRetornoDTCnYgIO3tK" />
  <xs:complexType name="RespostaDTCstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfstringEnumRetornoDTC2LV2fjlZ">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCstring" nillable="true" type="tns:RespostaDTCstring" />
  <xs:complexType name="RetornoDTCOfstringEnumRetornoDTC2LV2fjlZ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q29:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Retorno" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q30:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfstringEnumRetornoDTC2LV2fjlZ" nillable="true" type="tns:RetornoDTCOfstringEnumRetornoDTC2LV2fjlZ" />
</xs:schema>