Servicos/Service References/ServicoSICSeguranca/SegurancaSVC.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfPermissionamentoUsuarioDTC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermissionamentoUsuarioDTC" nillable="true" type="tns:PermissionamentoUsuarioDTC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermissionamentoUsuarioDTC" nillable="true" type="tns:ArrayOfPermissionamentoUsuarioDTC" />
  <xs:complexType name="PermissionamentoUsuarioDTC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveNovaSenha" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CodigoAcesso" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FornecedorId" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" minOccurs="0" name="ListaAutorizacao" nillable="true" type="q1:ArrayOfUSUARIO_PERMISSIONAMENTODTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" minOccurs="0" name="ListaAutorizacaoUsuarioExterno" nillable="true" type="q2:ArrayOfUSUARIOEXTERN_PERMISSIONAMENTODTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TimeOut" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" minOccurs="0" name="UsuarioDtc" nillable="true" type="q3:USUARIODTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" minOccurs="0" name="UsuarioExternoDtc" nillable="true" type="q4:USUARIOEXTERNODTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionamentoUsuarioDTC" nillable="true" type="tns:PermissionamentoUsuarioDTC" />
  <xs:complexType name="ArrayOfPermissionamentoAplicacaoDTC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermissionamentoAplicacaoDTC" nillable="true" type="tns:PermissionamentoAplicacaoDTC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermissionamentoAplicacaoDTC" nillable="true" type="tns:ArrayOfPermissionamentoAplicacaoDTC" />
  <xs:complexType name="PermissionamentoAplicacaoDTC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoAcesso" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" minOccurs="0" name="ListaAutorizacao" nillable="true" type="q5:ArrayOfUSUARIOAPLICACAO_SERVICODTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TimeOut" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" minOccurs="0" name="UsuarioDtc" nillable="true" type="q6:USUARIOAPLICACAODTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionamentoAplicacaoDTC" nillable="true" type="tns:PermissionamentoAplicacaoDTC" />
  <xs:complexType name="ArrayOfModuloSsoDTC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModuloSsoDTC" nillable="true" type="tns:ModuloSsoDTC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModuloSsoDTC" nillable="true" type="tns:ArrayOfModuloSsoDTC" />
  <xs:complexType name="ModuloSsoDTC">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" minOccurs="0" name="ListaGrupoSubModuloDtc" nillable="true" type="q7:ArrayOfGRUPOSUBMODULODTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ListaSubModuloDtc" nillable="true" type="tns:ArrayOfSubModuloSsoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" minOccurs="0" name="ModuloDtc" nillable="true" type="q8:MODULODTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuloSsoDTC" nillable="true" type="tns:ModuloSsoDTC" />
  <xs:complexType name="ArrayOfSubModuloSsoDTC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubModuloSsoDTC" nillable="true" type="tns:SubModuloSsoDTC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubModuloSsoDTC" nillable="true" type="tns:ArrayOfSubModuloSsoDTC" />
  <xs:complexType name="SubModuloSsoDTC">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" base="q9:SUBMODULODTC">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaPermissoes" nillable="true" type="q10:ArrayOfint">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubModuloSsoDTC" nillable="true" type="tns:SubModuloSsoDTC" />
</xs:schema>