Servicos/Service References/ServicoSICSeguranca/SegurancaSVC10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca.ControleAcesso" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Seguranca.ControleAcesso" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Seguranca/SegurancaSVC.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" />
  <xs:complexType name="DadosControleAcessoFilialDTC">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" base="q1:CONTROLEACESSODTC">
        <xs:sequence>
          <xs:element minOccurs="0" name="Usuario" nillable="true" type="q1:USUARIODTC">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="listaFilial" nillable="true" type="tns:ArrayOfRegistrosControleAcessoFilialDTC">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DadosControleAcessoFilialDTC" nillable="true" type="tns:DadosControleAcessoFilialDTC" />
  <xs:complexType name="ArrayOfRegistrosControleAcessoFilialDTC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegistrosControleAcessoFilialDTC" nillable="true" type="tns:RegistrosControleAcessoFilialDTC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegistrosControleAcessoFilialDTC" nillable="true" type="tns:ArrayOfRegistrosControleAcessoFilialDTC" />
  <xs:complexType name="RegistrosControleAcessoFilialDTC">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" base="q2:CONTROLEACESSO_FILIALDTC">
        <xs:sequence>
          <xs:element minOccurs="0" name="NomeFilial" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrosControleAcessoFilialDTC" nillable="true" type="tns:RegistrosControleAcessoFilialDTC" />
  <xs:complexType name="DadosControleAcessoOperacaoDTC">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" base="q3:CONTROLEACESSO_FILIALDTC">
        <xs:sequence>
          <xs:element minOccurs="0" name="AcessoTodasOperacoes" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Filial" nillable="true" type="q3:FILIALDTC">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Usuario" nillable="true" type="q3:USUARIODTC">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="listaOperacao" nillable="true" type="tns:ArrayOfRegistrosControleAcessoOperacaoDTC">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DadosControleAcessoOperacaoDTC" nillable="true" type="tns:DadosControleAcessoOperacaoDTC" />
  <xs:complexType name="ArrayOfRegistrosControleAcessoOperacaoDTC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegistrosControleAcessoOperacaoDTC" nillable="true" type="tns:RegistrosControleAcessoOperacaoDTC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegistrosControleAcessoOperacaoDTC" nillable="true" type="tns:ArrayOfRegistrosControleAcessoOperacaoDTC" />
  <xs:complexType name="RegistrosControleAcessoOperacaoDTC">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" base="q4:CONTROLEACESSO_FILIAL_OPERACAODTC">
        <xs:sequence>
          <xs:element minOccurs="0" name="NomeOperacao" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrosControleAcessoOperacaoDTC" nillable="true" type="tns:RegistrosControleAcessoOperacaoDTC" />
</xs:schema>