Servicos/Service References/SGT.WebService.CTe/CTe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CTe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ICTe_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ICMS" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ISS" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd19" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICTe_BuscarAverbacaoCTes_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAverbacaoCTes" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarAverbacaoCTes_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAverbacaoCTesResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTes_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTes" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTes_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTesResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTesPorCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTesPorCarga" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTesPorCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTesPorCargaResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTesPorOcorrencia_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTesPorOcorrencia" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTesPorOcorrencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTesPorOcorrenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTesPorBoleto_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTesPorBoleto" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTesPorBoleto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTesPorBoletoResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTesPorPeriodo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTesPorPeriodo" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTesPorPeriodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTesPorPeriodoResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTesComplementaresAguardandoIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTesComplementaresAguardandoIntegracao" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTesComplementaresAguardandoIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTesComplementaresAguardandoIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_ConfirmarIntegracaoCTeComplementar_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoCTeComplementar" />
  </wsdl:message>
  <wsdl:message name="ICTe_ConfirmarIntegracaoCTeComplementar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoCTeComplementarResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_GerarCCe_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarCCe" />
  </wsdl:message>
  <wsdl:message name="ICTe_GerarCCe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarCCeResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_ConfirmarRecebimentoCancelamentoCTeComplementar_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarRecebimentoCancelamentoCTeComplementar" />
  </wsdl:message>
  <wsdl:message name="ICTe_ConfirmarRecebimentoCancelamentoCTeComplementar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarRecebimentoCancelamentoCTeComplementarResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTePorProtocolo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTePorProtocolo" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTePorProtocolo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTePorProtocoloResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_InformarPrevisaoPagamentoCTe_InputMessage">
    <wsdl:part name="parameters" element="tns:InformarPrevisaoPagamentoCTe" />
  </wsdl:message>
  <wsdl:message name="ICTe_InformarPrevisaoPagamentoCTe_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformarPrevisaoPagamentoCTeResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_ConfirmarPagamentoCTe_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarPagamentoCTe" />
  </wsdl:message>
  <wsdl:message name="ICTe_ConfirmarPagamentoCTe_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarPagamentoCTeResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsulta" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarTitulosPorPeriodo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTitulosPorPeriodo" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarTitulosPorPeriodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTitulosPorPeriodoResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTeCanceladoPorProtocolo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTeCanceladoPorProtocolo" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTeCanceladoPorProtocolo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTeCanceladoPorProtocoloResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_ConfirmarConsultaCTeCancelado_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarConsultaCTeCancelado" />
  </wsdl:message>
  <wsdl:message name="ICTe_ConfirmarConsultaCTeCancelado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarConsultaCTeCanceladoResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarOutrosDocsPorPeriodo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOutrosDocsPorPeriodo" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarOutrosDocsPorPeriodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOutrosDocsPorPeriodoResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarFaturaCTes_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarFaturaCTes" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarFaturaCTes_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarFaturaCTesResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_QuitarTituloCTe_InputMessage">
    <wsdl:part name="parameters" element="tns:QuitarTituloCTe" />
  </wsdl:message>
  <wsdl:message name="ICTe_QuitarTituloCTe_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuitarTituloCTeResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarFaturasCTePorProtocolo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarFaturasCTePorProtocolo" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarFaturasCTePorProtocolo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarFaturasCTePorProtocoloResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarNotaFiscal_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarNotaFiscal_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTesFaturadosPendenteDeIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTesFaturadosPendenteDeIntegracao" />
  </wsdl:message>
  <wsdl:message name="ICTe_BuscarCTesFaturadosPendenteDeIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTesFaturadosPendenteDeIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_ConfirmarIntegracaoCTeFaturado_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoCTeFaturado" />
  </wsdl:message>
  <wsdl:message name="ICTe_ConfirmarIntegracaoCTeFaturado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoCTeFaturadoResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_VerificarSituacaoCTe_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarSituacaoCTe" />
  </wsdl:message>
  <wsdl:message name="ICTe_VerificarSituacaoCTe_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarSituacaoCTeResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_EnviarArquivoXMLCTe_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarArquivoXMLCTe" />
  </wsdl:message>
  <wsdl:message name="ICTe_EnviarArquivoXMLCTe_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarArquivoXMLCTeResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_AnularCTe_InputMessage">
    <wsdl:part name="parameters" element="tns:AnularCTe" />
  </wsdl:message>
  <wsdl:message name="ICTe_AnularCTe_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnularCTeResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_IntegrarDadosCTesAnteriores_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarDadosCTesAnteriores" />
  </wsdl:message>
  <wsdl:message name="ICTe_IntegrarDadosCTesAnteriores_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarDadosCTesAnterioresResponse" />
  </wsdl:message>
  <wsdl:message name="ICTe_IntegrarCTesAnteriores_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarCTesAnteriores" />
  </wsdl:message>
  <wsdl:message name="ICTe_IntegrarCTesAnteriores_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarCTesAnterioresResponse" />
  </wsdl:message>
  <wsdl:portType name="ICTe">
    <wsdl:operation name="BuscarAverbacaoCTes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarAverbacaoCTes" message="tns:ICTe_BuscarAverbacaoCTes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarAverbacaoCTesResponse" message="tns:ICTe_BuscarAverbacaoCTes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCTes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarCTes" message="tns:ICTe_BuscarCTes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarCTesResponse" message="tns:ICTe_BuscarCTes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCTesPorCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarCTesPorCarga" message="tns:ICTe_BuscarCTesPorCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarCTesPorCargaResponse" message="tns:ICTe_BuscarCTesPorCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCTesPorOcorrencia">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarCTesPorOcorrencia" message="tns:ICTe_BuscarCTesPorOcorrencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarCTesPorOcorrenciaResponse" message="tns:ICTe_BuscarCTesPorOcorrencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCTesPorBoleto">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarCTesPorBoleto" message="tns:ICTe_BuscarCTesPorBoleto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarCTesPorBoletoResponse" message="tns:ICTe_BuscarCTesPorBoleto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCTesPorPeriodo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarCTesPorPeriodo" message="tns:ICTe_BuscarCTesPorPeriodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarCTesPorPeriodoResponse" message="tns:ICTe_BuscarCTesPorPeriodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCTesComplementaresAguardandoIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarCTesComplementaresAguardandoIntegracao" message="tns:ICTe_BuscarCTesComplementaresAguardandoIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarCTesComplementaresAguardandoIntegracaoResponse" message="tns:ICTe_BuscarCTesComplementaresAguardandoIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoCTeComplementar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/ConfirmarIntegracaoCTeComplementar" message="tns:ICTe_ConfirmarIntegracaoCTeComplementar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/ConfirmarIntegracaoCTeComplementarResponse" message="tns:ICTe_ConfirmarIntegracaoCTeComplementar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarCCe">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/GerarCCe" message="tns:ICTe_GerarCCe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/GerarCCeResponse" message="tns:ICTe_GerarCCe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarRecebimentoCancelamentoCTeComplementar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/ConfirmarRecebimentoCancelamentoCTeComplementar" message="tns:ICTe_ConfirmarRecebimentoCancelamentoCTeComplementar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/ConfirmarRecebimentoCancelamentoCTeComplementarResponse" message="tns:ICTe_ConfirmarRecebimentoCancelamentoCTeComplementar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCTePorProtocolo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarCTePorProtocolo" message="tns:ICTe_BuscarCTePorProtocolo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarCTePorProtocoloResponse" message="tns:ICTe_BuscarCTePorProtocolo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformarPrevisaoPagamentoCTe">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/InformarPrevisaoPagamentoCTe" message="tns:ICTe_InformarPrevisaoPagamentoCTe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/InformarPrevisaoPagamentoCTeResponse" message="tns:ICTe_InformarPrevisaoPagamentoCTe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarPagamentoCTe">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/ConfirmarPagamentoCTe" message="tns:ICTe_ConfirmarPagamentoCTe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/ConfirmarPagamentoCTeResponse" message="tns:ICTe_ConfirmarPagamentoCTe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsulta" message="tns:ICTe_BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsultaResponse" message="tns:ICTe_BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTitulosPorPeriodo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarTitulosPorPeriodo" message="tns:ICTe_BuscarTitulosPorPeriodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarTitulosPorPeriodoResponse" message="tns:ICTe_BuscarTitulosPorPeriodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCTeCanceladoPorProtocolo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarCTeCanceladoPorProtocolo" message="tns:ICTe_BuscarCTeCanceladoPorProtocolo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarCTeCanceladoPorProtocoloResponse" message="tns:ICTe_BuscarCTeCanceladoPorProtocolo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarConsultaCTeCancelado">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/ConfirmarConsultaCTeCancelado" message="tns:ICTe_ConfirmarConsultaCTeCancelado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/ConfirmarConsultaCTeCanceladoResponse" message="tns:ICTe_ConfirmarConsultaCTeCancelado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarOutrosDocsPorPeriodo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarOutrosDocsPorPeriodo" message="tns:ICTe_BuscarOutrosDocsPorPeriodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarOutrosDocsPorPeriodoResponse" message="tns:ICTe_BuscarOutrosDocsPorPeriodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarFaturaCTes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarFaturaCTes" message="tns:ICTe_BuscarFaturaCTes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarFaturaCTesResponse" message="tns:ICTe_BuscarFaturaCTes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuitarTituloCTe">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/QuitarTituloCTe" message="tns:ICTe_QuitarTituloCTe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/QuitarTituloCTeResponse" message="tns:ICTe_QuitarTituloCTe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarFaturasCTePorProtocolo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarFaturasCTePorProtocolo" message="tns:ICTe_BuscarFaturasCTePorProtocolo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarFaturasCTePorProtocoloResponse" message="tns:ICTe_BuscarFaturasCTePorProtocolo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNotaFiscal">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarNotaFiscal" message="tns:ICTe_BuscarNotaFiscal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarNotaFiscalResponse" message="tns:ICTe_BuscarNotaFiscal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCTesFaturadosPendenteDeIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/BuscarCTesFaturadosPendenteDeIntegracao" message="tns:ICTe_BuscarCTesFaturadosPendenteDeIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/BuscarCTesFaturadosPendenteDeIntegracaoResponse" message="tns:ICTe_BuscarCTesFaturadosPendenteDeIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoCTeFaturado">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/ConfirmarIntegracaoCTeFaturado" message="tns:ICTe_ConfirmarIntegracaoCTeFaturado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/ConfirmarIntegracaoCTeFaturadoResponse" message="tns:ICTe_ConfirmarIntegracaoCTeFaturado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarSituacaoCTe">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/VerificarSituacaoCTe" message="tns:ICTe_VerificarSituacaoCTe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/VerificarSituacaoCTeResponse" message="tns:ICTe_VerificarSituacaoCTe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarArquivoXMLCTe">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/EnviarArquivoXMLCTe" message="tns:ICTe_EnviarArquivoXMLCTe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/EnviarArquivoXMLCTeResponse" message="tns:ICTe_EnviarArquivoXMLCTe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnularCTe">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/AnularCTe" message="tns:ICTe_AnularCTe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/AnularCTeResponse" message="tns:ICTe_AnularCTe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarDadosCTesAnteriores">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/IntegrarDadosCTesAnteriores" message="tns:ICTe_IntegrarDadosCTesAnteriores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/IntegrarDadosCTesAnterioresResponse" message="tns:ICTe_IntegrarDadosCTesAnteriores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarCTesAnteriores">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTe/IntegrarCTesAnteriores" message="tns:ICTe_IntegrarCTesAnteriores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTe/IntegrarCTesAnterioresResponse" message="tns:ICTe_IntegrarCTesAnteriores_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICTe" type="tns:ICTe">
    <wsp:PolicyReference URI="#BasicHttpBinding_ICTe_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarAverbacaoCTes">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarAverbacaoCTes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCTes">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarCTes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCTesPorCarga">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarCTesPorCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCTesPorOcorrencia">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarCTesPorOcorrencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCTesPorBoleto">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarCTesPorBoleto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCTesPorPeriodo">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarCTesPorPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCTesComplementaresAguardandoIntegracao">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarCTesComplementaresAguardandoIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoCTeComplementar">
      <soap:operation soapAction="http://tempuri.org/ICTe/ConfirmarIntegracaoCTeComplementar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarCCe">
      <soap:operation soapAction="http://tempuri.org/ICTe/GerarCCe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarRecebimentoCancelamentoCTeComplementar">
      <soap:operation soapAction="http://tempuri.org/ICTe/ConfirmarRecebimentoCancelamentoCTeComplementar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCTePorProtocolo">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarCTePorProtocolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformarPrevisaoPagamentoCTe">
      <soap:operation soapAction="http://tempuri.org/ICTe/InformarPrevisaoPagamentoCTe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarPagamentoCTe">
      <soap:operation soapAction="http://tempuri.org/ICTe/ConfirmarPagamentoCTe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsulta">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTitulosPorPeriodo">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarTitulosPorPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCTeCanceladoPorProtocolo">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarCTeCanceladoPorProtocolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarConsultaCTeCancelado">
      <soap:operation soapAction="http://tempuri.org/ICTe/ConfirmarConsultaCTeCancelado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarOutrosDocsPorPeriodo">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarOutrosDocsPorPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarFaturaCTes">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarFaturaCTes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuitarTituloCTe">
      <soap:operation soapAction="http://tempuri.org/ICTe/QuitarTituloCTe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarFaturasCTePorProtocolo">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarFaturasCTePorProtocolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCTesFaturadosPendenteDeIntegracao">
      <soap:operation soapAction="http://tempuri.org/ICTe/BuscarCTesFaturadosPendenteDeIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoCTeFaturado">
      <soap:operation soapAction="http://tempuri.org/ICTe/ConfirmarIntegracaoCTeFaturado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarSituacaoCTe">
      <soap:operation soapAction="http://tempuri.org/ICTe/VerificarSituacaoCTe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarArquivoXMLCTe">
      <soap:operation soapAction="http://tempuri.org/ICTe/EnviarArquivoXMLCTe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnularCTe">
      <soap:operation soapAction="http://tempuri.org/ICTe/AnularCTe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarDadosCTesAnteriores">
      <soap:operation soapAction="http://tempuri.org/ICTe/IntegrarDadosCTesAnteriores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarCTesAnteriores">
      <soap:operation soapAction="http://tempuri.org/ICTe/IntegrarCTesAnteriores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CTe">
    <wsdl:port name="BasicHttpBinding_ICTe" binding="tns:BasicHttpBinding_ICTe">
      <soap:address location="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>