Servicos/Service References/SGT.WebService.CTe/CTe21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ocorrencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPFResponsavel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeResponsavel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCargaEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroOcorrencia" type="xs:int" />
      <xs:element minOccurs="0" name="Pedidos" nillable="true" type="tns:ArrayOfPedido" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocoloOcorrencia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ocorrencia" nillable="true" type="tns:Ocorrencia" />
  <xs:complexType name="ArrayOfPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pedido" nillable="true" type="tns:Pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedido" nillable="true" type="tns:ArrayOfPedido" />
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumeroEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
</xs:schema>