Servicos/Service References/SGT.WebService.CTe/CTe3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" />
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
  <xs:complexType name="ArrayOfCTe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CTe" nillable="true" type="tns:CTe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCTe" nillable="true" type="tns:ArrayOfCTe" />
  <xs:complexType name="CTe">
    <xs:sequence>
      <xs:element minOccurs="0" name="CFOP" type="xs:int" />
      <xs:element minOccurs="0" name="CTeAnulacao" nillable="true" type="tns:CTeAnulacao" />
      <xs:element minOccurs="0" name="CTeComplementar" nillable="true" type="tns:CTeComplementar" />
      <xs:element minOccurs="0" name="CTeSubstituicao" nillable="true" type="tns:CTeSubstituicao" />
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChaveCTEReferenciado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChaveCTeComplementado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoDuplicado" type="xs:int" />
      <xs:element minOccurs="0" name="Containers" nillable="true" type="tns:ArrayOfModalAquaviarioContainer" />
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q1:Pessoa" />
      <xs:element minOccurs="0" name="DetalhesRetira" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentosAnteriores" nillable="true" type="tns:ArrayOfDocumentoAnterior" />
      <xs:element minOccurs="0" name="DocumentosAnterioresDePapel" nillable="true" type="tns:ArrayOfDocumentoAnteriorPapel" />
      <xs:element minOccurs="0" name="Duplicata" nillable="true" type="tns:Duplicata" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Emitente" nillable="true" type="q2:Empresa" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Expedidor" nillable="true" type="q3:Pessoa" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="IndicadorGlobalizado" type="q4:OpcaoSimNao" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="IndicadorIETomador" nillable="true" type="q5:IndicadorIE" />
      <xs:element minOccurs="0" name="InformacaoAdicionalContribuinte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InformacaoAdicionalFisco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InformacaoCarga" nillable="true" type="tns:InformacaoCarga" />
      <xs:element minOccurs="0" name="InformacaoModal" nillable="true" type="tns:InformacaoModal" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="LocalidadeFimPrestacao" nillable="true" type="q6:Localidade" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="LocalidadeInicioPrestacao" nillable="true" type="q7:Localidade" />
      <xs:element minOccurs="0" name="ModalAereo" nillable="true" type="tns:ModalAereo" />
      <xs:element minOccurs="0" name="ModalAquaviario" nillable="true" type="tns:ModalAquaviario" />
      <xs:element minOccurs="0" name="ModalDutoviario" nillable="true" type="tns:ModalDutoviario" />
      <xs:element minOccurs="0" name="ModalFerroviario" nillable="true" type="tns:ModalFerroviario" />
      <xs:element minOccurs="0" name="ModalMultimodal" nillable="true" type="tns:ModalMultimodal" />
      <xs:element minOccurs="0" name="ModalRodoviario" nillable="true" type="tns:ModalRodoviario" />
      <xs:element minOccurs="0" name="NFEs" nillable="true" type="tns:ArrayOfNFe" />
      <xs:element minOccurs="0" name="NaturezaOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotasFiscais" nillable="true" type="tns:ArrayOfNotaFiscal" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroRomaneio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacoesContribuinte" nillable="true" type="tns:ArrayOfObservacao" />
      <xs:element minOccurs="0" name="ObservacoesFisco" nillable="true" type="tns:ArrayOfObservacao" />
      <xs:element minOccurs="0" name="ObservacoesGeral" nillable="true" type="tns:Observacao" />
      <xs:element minOccurs="0" name="OutrosDocumentos" nillable="true" type="tns:ArrayOfOutroDocumento" />
      <xs:element minOccurs="0" name="PesoTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProdutosPerigosos" nillable="true" type="tns:ArrayOfProdutoPerigoso" />
      <xs:element minOccurs="0" name="Protocolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantidadesCarga" nillable="true" type="tns:ArrayOfQuantidadeCarga" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Recebedor" nillable="true" type="q8:Pessoa" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Remetente" nillable="true" type="q9:Pessoa" />
      <xs:element minOccurs="0" name="Retira" type="xs:boolean" />
      <xs:element minOccurs="0" name="Seguros" nillable="true" type="tns:ArrayOfSeguro" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoCTeSefaz" type="q10:SituacaoCTeSefaz" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoAmbiente" type="q11:TipoAmbiente" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoCTE" type="q12:TipoCTE" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoImpressao" type="q13:TipoImpressao" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoModal" type="q14:TipoModal" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoPagamento" type="q15:TipoPagamento" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoServico" type="q16:TipoServico" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoTomador" type="q17:TipoTomador" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Tomador" nillable="true" type="q18:Pessoa" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" minOccurs="0" name="ValorFrete" nillable="true" type="q19:FreteValor" />
      <xs:element minOccurs="0" name="Versao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Xml" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTe" nillable="true" type="tns:CTe" />
  <xs:complexType name="CTeAnulacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveCTeAnulado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataAnulacao" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTeAnulacao" nillable="true" type="tns:CTeAnulacao" />
  <xs:complexType name="CTeComplementar">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveCTeComplementado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTeComplementar" nillable="true" type="tns:CTeComplementar" />
  <xs:complexType name="CTeSubstituicao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChaveCTeSubstituido" nillable="true" type="xs:string" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="ContribuinteICMS" type="q20:OpcaoSimNao" />
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Emitente" type="xs:double" />
      <xs:element minOccurs="0" name="ModeloDocumentoFiscal" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subserie" nillable="true" type="xs:string" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="Tipo" type="q21:TipoDocumentoAnulacao" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTeSubstituicao" nillable="true" type="tns:CTeSubstituicao" />
  <xs:complexType name="ArrayOfModalAquaviarioContainer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModalAquaviarioContainer" nillable="true" type="tns:ModalAquaviarioContainer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModalAquaviarioContainer" nillable="true" type="tns:ArrayOfModalAquaviarioContainer" />
  <xs:complexType name="ModalAquaviarioContainer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Container" type="xs:int" />
      <xs:element minOccurs="0" name="Documentos" nillable="true" type="tns:ArrayOfModalAquaviarioContainerDocumento" />
      <xs:element minOccurs="0" name="Lacre1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lacre2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lacre3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModalAquaviarioContainer" nillable="true" type="tns:ModalAquaviarioContainer" />
  <xs:complexType name="ArrayOfModalAquaviarioContainerDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModalAquaviarioContainerDocumento" nillable="true" type="tns:ModalAquaviarioContainerDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModalAquaviarioContainerDocumento" nillable="true" type="tns:ArrayOfModalAquaviarioContainerDocumento" />
  <xs:complexType name="ModalAquaviarioContainerDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoDocumento" type="q22:TipoDocumentoCTe" />
      <xs:element minOccurs="0" name="UnidadeMedidaRateada" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModalAquaviarioContainerDocumento" nillable="true" type="tns:ModalAquaviarioContainerDocumento" />
  <xs:complexType name="ArrayOfDocumentoAnterior">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentoAnterior" nillable="true" type="tns:DocumentoAnterior" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentoAnterior" nillable="true" type="tns:ArrayOfDocumentoAnterior" />
  <xs:complexType name="DocumentoAnterior">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveAcesso" nillable="true" type="xs:string" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Emitente" nillable="true" type="q23:Pessoa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoAnterior" nillable="true" type="tns:DocumentoAnterior" />
  <xs:complexType name="ArrayOfDocumentoAnteriorPapel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentoAnteriorPapel" nillable="true" type="tns:DocumentoAnteriorPapel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentoAnteriorPapel" nillable="true" type="tns:ArrayOfDocumentoAnteriorPapel" />
  <xs:complexType name="DocumentoAnteriorPapel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Emitente" nillable="true" type="q24:Pessoa" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumentoTransportaAnteriorPapel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoAnteriorPapel" nillable="true" type="tns:DocumentoAnteriorPapel" />
  <xs:complexType name="Duplicata">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataDuplicata" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Parcela" type="xs:int" />
      <xs:element minOccurs="0" name="ValorDuplicata" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Duplicata" nillable="true" type="tns:Duplicata" />
  <xs:complexType name="InformacaoCarga">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaracteristicaServico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaracteristicaTransporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Container" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEntregaContainer" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroLacreContainer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutrasCaracteristicas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdutoPredominante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorCargaAverbacao" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalCarga" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformacaoCarga" nillable="true" type="tns:InformacaoCarga" />
  <xs:complexType name="InformacaoModal">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescricaoCarrier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroBooking" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroControle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OcorreuSinistroAvaria" type="xs:boolean" />
      <xs:element minOccurs="0" name="PortoDestino" type="xs:int" />
      <xs:element minOccurs="0" name="PortoOrigem" type="xs:int" />
      <xs:element minOccurs="0" name="PortoPassagemCinco" type="xs:int" />
      <xs:element minOccurs="0" name="PortoPassagemDois" type="xs:int" />
      <xs:element minOccurs="0" name="PortoPassagemQuatro" type="xs:int" />
      <xs:element minOccurs="0" name="PortoPassagemTres" type="xs:int" />
      <xs:element minOccurs="0" name="PortoPassagemUm" type="xs:int" />
      <xs:element minOccurs="0" name="TerminalDestino" type="xs:int" />
      <xs:element minOccurs="0" name="TerminalOrigem" type="xs:int" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoPropostaFeeder" type="q25:TipoPropostaFeeder" />
      <xs:element minOccurs="0" name="Viagem" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformacaoModal" nillable="true" type="tns:InformacaoModal" />
  <xs:complexType name="ModalAereo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClasseTarifa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTarifa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevistaEntrega" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dimensao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manuseios" nillable="true" type="tns:ArrayOfModalAereoManuseio" />
      <xs:element minOccurs="0" name="NumeroMinuta" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="NumeroOperacionalConhecimentoAereo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ValorTarifa" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModalAereo" nillable="true" type="tns:ModalAereo" />
  <xs:complexType name="ArrayOfModalAereoManuseio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModalAereoManuseio" nillable="true" type="tns:ModalAereoManuseio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModalAereoManuseio" nillable="true" type="tns:ArrayOfModalAereoManuseio" />
  <xs:complexType name="ModalAereoManuseio">
    <xs:sequence>
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="InformacaoManuseio" type="q26:InformacaoManuseio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModalAereoManuseio" nillable="true" type="tns:ModalAereoManuseio" />
  <xs:complexType name="ModalAquaviario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balsas" nillable="true" type="tns:ArrayOfModalAquaviarioBalsa" />
      <xs:element minOccurs="0" name="Direcao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Navio" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroViagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorAdicionalAfrmm" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPrestacaoAfrmm" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModalAquaviario" nillable="true" type="tns:ModalAquaviario" />
  <xs:complexType name="ArrayOfModalAquaviarioBalsa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModalAquaviarioBalsa" nillable="true" type="tns:ModalAquaviarioBalsa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModalAquaviarioBalsa" nillable="true" type="tns:ArrayOfModalAquaviarioBalsa" />
  <xs:complexType name="ModalAquaviarioBalsa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balsa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModalAquaviarioBalsa" nillable="true" type="tns:ModalAquaviarioBalsa" />
  <xs:complexType name="ModalDutoviario">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataFimPrestacaoServico" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInicioPrestacaoServico" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValorTarifa" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModalDutoviario" nillable="true" type="tns:ModalDutoviario" />
  <xs:complexType name="ModalFerroviario">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveCTeFerroviaOrigem" nillable="true" type="xs:string" />
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="FerroviaEmitente" nillable="true" type="q27:FerroviaResponsavel" />
      <xs:element minOccurs="0" name="Ferrovias" nillable="true" type="tns:ArrayOfModalFerroviarioFerrovia" />
      <xs:element minOccurs="0" name="NumeroFluxoFerroviario" nillable="true" type="xs:string" />
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="ResponsavelFaturamento" nillable="true" type="q28:FerroviaResponsavel" />
      <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoTrafego" type="q29:TipoTrafego" />
      <xs:element minOccurs="0" name="ValorFrete" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModalFerroviario" nillable="true" type="tns:ModalFerroviario" />
  <xs:complexType name="ArrayOfModalFerroviarioFerrovia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModalFerroviarioFerrovia" nillable="true" type="tns:ModalFerroviarioFerrovia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModalFerroviarioFerrovia" nillable="true" type="tns:ArrayOfModalFerroviarioFerrovia" />
  <xs:complexType name="ModalFerroviarioFerrovia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ferrovia" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModalFerroviarioFerrovia" nillable="true" type="tns:ModalFerroviarioFerrovia" />
  <xs:complexType name="ModalMultimodal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Containers" nillable="true" type="tns:ArrayOfModalMultimodalContainer" />
      <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="IndicadorNegociavel" nillable="true" type="q30:OpcaoSimNao" />
      <xs:element minOccurs="0" name="NumeroCOTM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModalMultimodal" nillable="true" type="tns:ModalMultimodal" />
  <xs:complexType name="ArrayOfModalMultimodalContainer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModalMultimodalContainer" nillable="true" type="tns:ModalMultimodalContainer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModalMultimodalContainer" nillable="true" type="tns:ArrayOfModalMultimodalContainer" />
  <xs:complexType name="ModalMultimodalContainer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Container" type="xs:int" />
      <xs:element minOccurs="0" name="Documentos" nillable="true" type="tns:ArrayOfModalMultimodalContainerDocumento" />
      <xs:element minOccurs="0" name="Lacre1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lacre2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lacre3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModalMultimodalContainer" nillable="true" type="tns:ModalMultimodalContainer" />
  <xs:complexType name="ArrayOfModalMultimodalContainerDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModalMultimodalContainerDocumento" nillable="true" type="tns:ModalMultimodalContainerDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModalMultimodalContainerDocumento" nillable="true" type="tns:ArrayOfModalMultimodalContainerDocumento" />
  <xs:complexType name="ModalMultimodalContainerDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoDocumento" type="q31:TipoDocumentoCTe" />
      <xs:element minOccurs="0" name="UnidadeMedidaRateada" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModalMultimodalContainerDocumento" nillable="true" type="tns:ModalMultimodalContainerDocumento" />
  <xs:complexType name="ModalRodoviario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CIOT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lotacao" type="xs:boolean" />
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Motoristas" nillable="true" type="q32:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="RNTRC" nillable="true" type="xs:string" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculos" nillable="true" type="q33:ArrayOfVeiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModalRodoviario" nillable="true" type="tns:ModalRodoviario" />
  <xs:complexType name="ArrayOfNFe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NFe" nillable="true" type="tns:NFe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNFe" nillable="true" type="tns:ArrayOfNFe" />
  <xs:complexType name="NFe">
    <xs:sequence>
      <xs:element minOccurs="0" name="CFOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NCMPredominante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroReferenciaEDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroRomaneio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PINSuframa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoCubado" type="xs:decimal" />
      <xs:element minOccurs="0" name="Protocolo" nillable="true" type="xs:string" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Transportador" nillable="true" type="q34:Empresa" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="Volumes" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NFe" nillable="true" type="tns:NFe" />
  <xs:complexType name="ArrayOfNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotaFiscal" nillable="true" type="tns:ArrayOfNotaFiscal" />
  <xs:complexType name="NotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseCalculoICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculoICMSST" type="xs:decimal" />
      <xs:element minOccurs="0" name="CFOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="ModeloNotaFiscal" type="q35:ModeloNotaFiscal" />
      <xs:element minOccurs="0" name="NCMPredominante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroReferenciaEDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PINSuframa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMSST" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorProdutos" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
  <xs:complexType name="ArrayOfObservacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Observacao" nillable="true" type="tns:Observacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObservacao" nillable="true" type="tns:ArrayOfObservacao" />
  <xs:complexType name="Observacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Campo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Observacao" nillable="true" type="tns:Observacao" />
  <xs:complexType name="ArrayOfOutroDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OutroDocumento" nillable="true" type="tns:OutroDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOutroDocumento" nillable="true" type="tns:ArrayOfOutroDocumento" />
  <xs:complexType name="OutroDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CFOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NCMPredominante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroReferenciaEDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PINSuframa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Tipo" type="q36:TipoOutroDocumento" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutroDocumento" nillable="true" type="tns:OutroDocumento" />
  <xs:complexType name="ArrayOfProdutoPerigoso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdutoPerigoso" nillable="true" type="tns:ProdutoPerigoso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdutoPerigoso" nillable="true" type="tns:ArrayOfProdutoPerigoso" />
  <xs:complexType name="ProdutoPerigoso">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClasseRisco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeApropriado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroONU" type="xs:int" />
      <xs:element minOccurs="0" name="PontoFulgor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantidadeTotal" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="UnidadeDeMedida" nillable="true" type="q37:UnidadeDeMedidaCTeAereo" />
      <xs:element minOccurs="0" name="Volumes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoPerigoso" nillable="true" type="tns:ProdutoPerigoso" />
  <xs:complexType name="ArrayOfQuantidadeCarga">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuantidadeCarga" nillable="true" type="tns:QuantidadeCarga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuantidadeCarga" nillable="true" type="tns:ArrayOfQuantidadeCarga" />
  <xs:complexType name="QuantidadeCarga">
    <xs:sequence>
      <xs:element minOccurs="0" name="Medida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:decimal" />
      <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="Unidade" type="q38:UnidadeMedida" />
      <xs:element minOccurs="0" name="UnidadeMedida" nillable="true" type="tns:UnidadeMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuantidadeCarga" nillable="true" type="tns:QuantidadeCarga" />
  <xs:complexType name="UnidadeMedida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadeMedida" nillable="true" type="tns:UnidadeMedida" />
  <xs:complexType name="ArrayOfSeguro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Seguro" nillable="true" type="tns:Seguro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeguro" nillable="true" type="tns:ArrayOfSeguro" />
  <xs:complexType name="Seguro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apolice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Averbacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJSeguradora" nillable="true" type="xs:string" />
      <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="ResponsavelSeguro" type="q39:TipoSeguro" />
      <xs:element minOccurs="0" name="Seguradora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Seguro" nillable="true" type="tns:Seguro" />
  <xs:complexType name="ArrayOfTokenCte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TokenCte" nillable="true" type="tns:TokenCte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTokenCte" nillable="true" type="tns:ArrayOfTokenCte" />
  <xs:complexType name="TokenCte">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenCte" nillable="true" type="tns:TokenCte" />
</xs:schema>