Servicos/Service References/SGT.WebService.CTe/CTe4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CentroResultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CentroResultado" nillable="true" type="tns:CentroResultado" />
  <xs:complexType name="ArrayOfContaContabil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContaContabil" nillable="true" type="tns:ContaContabil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContaContabil" nillable="true" type="tns:ArrayOfContaContabil" />
  <xs:complexType name="ContaContabil">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContaContabil" nillable="true" type="tns:ContaContabil" />
</xs:schema>