Servicos/Service References/ServicoSaintGobainPIPO/SI_conjuntoFuncoesTMS_sync_Out.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="urn:sgbr:tms:funcoes" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="SI_conjuntoFuncoesTMS_sync_Out" targetNamespace="urn:sgbr:tms:funcoes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_ZSFH_TMS27_RECEBE_DADOS_AGTO" />
  <wsp:Policy wsu:Id="OP_ZSFH_TMS19_BUSCA_FRETE" />
  <wsp:Policy wsu:Id="OP_ZSFH_TMS21_RECEBE_DADOS_NFSE" />
  <wsp:Policy wsu:Id="OP_ZSFH_TMS18_ALTERA_DT" />
  <wsdl:types>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ZSDF_TMS18_ALTERA_DT">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="IT_ALTERA_DT">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSD_TMS_ALTERA_DT" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZSDF_TMS21_RECEBE_DADOS_NFSE">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="IS_CABECALHO" type="rfc:ZSD_TMS_CABECALHO_NFSE" />
            <xsd:element name="IT_ITEM">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSD_TMS_ITEM_NFSE" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZSDF_TMS19_BUSCA_FRETE.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="ET_RETORNO">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSD_TMS_RETORNO_WP19" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZSDF_TMS27_RECEBE_DADOS_AGTO.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="ET_RETORNO">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSD_TMS_RETORNO_WP27" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZSDF_TMS21_RECEBE_DADOS_NFSE.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="ET_RETORNO">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSD_TMS_RETORNO_WP21" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZSDF_TMS27_RECEBE_DADOS_AGTO">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="IT_AGENDAMENTO">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSD_TMS_AGENDAMENTO" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZSDF_TMS19_BUSCA_FRETE">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="IT_FRETE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSD_TMS_FRETE" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZSDF_TMS18_ALTERA_DT.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="ET_RETORNO">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSD_TMS_RETORNO_WP18" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="genericDate">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="....-..-.." />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="genericTime">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="..:..:.." />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="time">
        <xsd:union memberTypes="xsd:time rfc:genericTime" />
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:union memberTypes="xsd:date rfc:genericDate" />
      </xsd:simpleType>
      <xsd:complexType name="ZSD_T_TMS_ITEM_AGENDAMENTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSD_TMS_ITEM_AGENDAMENTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSD_TMS_ALTERA_DT">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PROTOCOLOINTEGRACAOCARGA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TKNUM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TDLNR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EXTI1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZPARTNER_MOT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="11" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NAME1_MOT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DATAAGENDAMENTO" type="rfc:date" />
          <xsd:element minOccurs="0" name="HORAAGENDAMENTO" type="rfc:time" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSD_TMS_AGENDAMENTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="FILIAL">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MODELO_VEICULAR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CODIGO_MOTORISTA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="25" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NOME_MOTORISTA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DOCUMENTO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="14" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NUMERO_CARGA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PROTOCOLO_INTEGRACAO_CARGA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NUMERO_PEDIDO_EMBARCADOR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PROTOCOLO_INTEGRACAO_PEDIDO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TIPO_OPERACAO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TRANSPORTADORA_EMITENTE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="16" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VEICULO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DATA_AGENDAMENTO" type="rfc:date" />
          <xsd:element minOccurs="0" name="HORA_AGENDAMENTO" type="rfc:time" />
          <xsd:element minOccurs="0" name="DOCA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TIPO_AGENDAMENTO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TIPO_RESERVA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ACAO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ITENS" type="rfc:ZSD_T_TMS_ITEM_AGENDAMENTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSD_TMS_ITEM_AGENDAMENTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="N_ITEM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CODIGO_PRODUTO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="QUANTIDADE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="13" />
                <xsd:fractionDigits value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSD_TMS_RETORNO_WP21">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PROTOCOLOINTEGRACAOCARGA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PROTOCOLOINTEGRACAOPEDIDO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZTYPE_MESSAGE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZMESSAGE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSD_TMS_ITEM_NFSE">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="N_ITEM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NUMERO_CARGA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PROT_INTEGRACAO_CARGA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="N_PEDIDO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PROTOCOLO_INTEGRACAO_PEDIDO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="V_BAS_RET_ISS_ITEM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="V_RET_ISS_ITEM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="V_NF_ITEM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSD_TMS_FRETE">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PROTOCOLOINTEGRACAOCARGA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PROTOCOLOINTEGRACAOPEDIDO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="FRETE_NF">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VAL_MAIOR_MEN_ZDFD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TPOPER">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PEDAGIO_NF">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ID_PEDAGIO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VAL_SOMA_S_ZDFD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VAL_MAIOR_SOMA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSD_TMS_CABECALHO_NFSE">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="C_CNPJ">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="16" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PES_FISIC">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="C_CPF">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="11" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="C_UF">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NAT_OP">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="N_NF">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="9" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="N_SERIE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="D_EMI" type="rfc:date" />
          <xsd:element minOccurs="0" name="D_SAI_ENT" type="rfc:date" />
          <xsd:element minOccurs="0" name="VER_PROC">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="C_NOME">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="C_IE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="E_CNPJ">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="16" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="V_PROD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="V_BAS_RET_ISS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="V_RET_ISS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="V_NF">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="INF_AD_FISCO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="INF_CPL">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="C_STAT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="N_DUP">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="D_VENC" type="rfc:date" />
          <xsd:element minOccurs="0" name="V_DUP">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="C_TP_NFS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSD_TMS_RETORNO_WP27">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PROTOCOLOINTEGRACAOCARGA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PROTOCOLOINTEGRACAOPEDIDO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZTYPE_MESSAGE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZMESSAGE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSD_TMS_RETORNO_WP18">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PROTOCOLOINTEGRACAOCARGA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TKNUM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZTYPE_MESSAGE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZMESSAGE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSD_TMS_RETORNO_WP19">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PROTOCOLOINTEGRACAOCARGA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PROTOCOLOINTEGRACAOPEDIDO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DOCNUM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TKNUM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VBELN">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZTYPE_MESSAGE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZMESSAGE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="rfc.ZSDF_TMS27_RECEBE_DADOS_AGTO.Input">
    <wsdl:documentation />
    <wsdl:part name="parameters" element="rfc:ZSDF_TMS27_RECEBE_DADOS_AGTO" />
  </wsdl:message>
  <wsdl:message name="rfc.ZSDF_TMS27_RECEBE_DADOS_AGTO.Output">
    <wsdl:documentation />
    <wsdl:part name="parameters" element="rfc:ZSDF_TMS27_RECEBE_DADOS_AGTO.Response" />
  </wsdl:message>
  <wsdl:message name="rfc.ZSDF_TMS19_BUSCA_FRETE.Input">
    <wsdl:documentation />
    <wsdl:part name="parameters" element="rfc:ZSDF_TMS19_BUSCA_FRETE" />
  </wsdl:message>
  <wsdl:message name="rfc.ZSDF_TMS19_BUSCA_FRETE.Output">
    <wsdl:documentation />
    <wsdl:part name="parameters" element="rfc:ZSDF_TMS19_BUSCA_FRETE.Response" />
  </wsdl:message>
  <wsdl:message name="rfc.ZSDF_TMS21_RECEBE_DADOS_NFSE.Input">
    <wsdl:documentation />
    <wsdl:part name="parameters" element="rfc:ZSDF_TMS21_RECEBE_DADOS_NFSE" />
  </wsdl:message>
  <wsdl:message name="rfc.ZSDF_TMS21_RECEBE_DADOS_NFSE.Output">
    <wsdl:documentation />
    <wsdl:part name="parameters" element="rfc:ZSDF_TMS21_RECEBE_DADOS_NFSE.Response" />
  </wsdl:message>
  <wsdl:message name="rfc.ZSDF_TMS18_ALTERA_DT.Input">
    <wsdl:documentation />
    <wsdl:part name="parameters" element="rfc:ZSDF_TMS18_ALTERA_DT" />
  </wsdl:message>
  <wsdl:message name="rfc.ZSDF_TMS18_ALTERA_DT.Output">
    <wsdl:documentation />
    <wsdl:part name="parameters" element="rfc:ZSDF_TMS18_ALTERA_DT.Response" />
  </wsdl:message>
  <wsdl:portType name="SI_conjuntoFuncoesTMS_sync_Out">
    <wsdl:documentation />
    <wsdl:operation name="ZSFH_TMS27_RECEBE_DADOS_AGTO">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ZSFH_TMS27_RECEBE_DADOS_AGTO" />
      </wsp:Policy>
      <wsdl:input message="p1:rfc.ZSDF_TMS27_RECEBE_DADOS_AGTO.Input" />
      <wsdl:output message="p1:rfc.ZSDF_TMS27_RECEBE_DADOS_AGTO.Output" />
    </wsdl:operation>
    <wsdl:operation name="ZSFH_TMS19_BUSCA_FRETE">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ZSFH_TMS19_BUSCA_FRETE" />
      </wsp:Policy>
      <wsdl:input message="p1:rfc.ZSDF_TMS19_BUSCA_FRETE.Input" />
      <wsdl:output message="p1:rfc.ZSDF_TMS19_BUSCA_FRETE.Output" />
    </wsdl:operation>
    <wsdl:operation name="ZSFH_TMS21_RECEBE_DADOS_NFSE">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ZSFH_TMS21_RECEBE_DADOS_NFSE" />
      </wsp:Policy>
      <wsdl:input message="p1:rfc.ZSDF_TMS21_RECEBE_DADOS_NFSE.Input" />
      <wsdl:output message="p1:rfc.ZSDF_TMS21_RECEBE_DADOS_NFSE.Output" />
    </wsdl:operation>
    <wsdl:operation name="ZSFH_TMS18_ALTERA_DT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ZSFH_TMS18_ALTERA_DT" />
      </wsp:Policy>
      <wsdl:input message="p1:rfc.ZSDF_TMS18_ALTERA_DT.Input" />
      <wsdl:output message="p1:rfc.ZSDF_TMS18_ALTERA_DT.Output" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_conjuntoFuncoesTMS_sync_OutBinding" type="p1:SI_conjuntoFuncoesTMS_sync_Out">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="ZSFH_TMS27_RECEBE_DADOS_AGTO">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZSFH_TMS19_BUSCA_FRETE">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZSFH_TMS21_RECEBE_DADOS_NFSE">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZSFH_TMS18_ALTERA_DT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_conjuntoFuncoesTMS_sync_OutService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_conjuntoFuncoesTMS_sync_OutBinding">
      <address location="https://test.api.saint-gobain.com/sgdsi/br/ppc/qh1/tms/zsfh_tms_servicos/qas/v02" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_conjuntoFuncoesTMS_sync_OutBinding">
      <address location="https://test.api.saint-gobain.com/sgdsi/br/ppc/qh1/tms/zsfh_tms_servicos/qas/v02" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>