Servicos/Service References/ServicoSAP.SolicitaCancelamentoCTe/SI_Solicita_Cancelamento_Sync_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://jsl.com.br/Solicita_Cancelamento_SD" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_Solicita_Cancelamento_Sync_OUT" targetNamespace="http://jsl.com.br/Solicita_Cancelamento_SD" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_Solicita_Cancelamento_Sync_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="http://jsl.com.br/Solicita_Cancelamento_SD" targetNamespace="http://jsl.com.br/Solicita_Cancelamento_SD" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_Solicita_Cancelamento_resp" type="p1:DT_Solicita_Cancelamento_resp" />
      <xsd:element name="MT_Solicita_Cancelamento_req" type="p1:DT_Solicita_Cancelamento_req" />
      <xsd:complexType name="DT_Solicita_Cancelamento_req">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">.</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">14091851bda711e4cb680000332d37ea</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ZSOLICITASTATUS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">0c3817d9b13f11e4cb4890004ec42afd</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="ZORIGEM">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d8272fceb12711e4a0f290004ec42afd</xsd:appinfo>
                    <xsd:documentation>0001 = E-cargo; 0002 = TWMS.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ZSAPEMPRESA">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d8272fcfb12711e48dab90004ec42afd</xsd:appinfo>
                    <xsd:documentation>Código SAP da Empresa</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ZDATASOLICTE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d8272fd0b12711e4cc6790004ec42afd</xsd:appinfo>
                    <xsd:documentation>Data da solicitação de cancelamento do CTE</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="ZSAPDOCFAT">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">15c45ec1bda711e4882490004ec42afd</xsd:appinfo>
                    <xsd:documentation>Nº Documento de Faturamento SAP</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Solicita_Cancelamento_resp">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">3c91e0c0bda711e4c0b70000332d37ea</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ZDEVOLVESTATUS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">3e5032a1bda711e49bb990004ec42afd</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="ZORIGEM">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">37b0c6c8b12811e4aa7b90004ec42afd</xsd:appinfo>
                    <xsd:documentation>0001 = E-cargo; 0002 = TWMS</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ZSAPEMPRESA">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">37b0c6c9b12811e498a290004ec42afd</xsd:appinfo>
                    <xsd:documentation>Código SAP da Empresa</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ZSAPSTATUS">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">37b0c6cab12811e4866390004ec42afd</xsd:appinfo>
                    <xsd:documentation>SIM – 0001
NÃO - 0002</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ZSAPDOCFAT">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3e5032a0bda711e48f7590004ec42afd</xsd:appinfo>
                    <xsd:documentation>Nº Documento de Faturamento SAP</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Solicita_Cancelamento_req">
    <wsdl:documentation />
    <wsdl:part name="MT_Solicita_Cancelamento_req" element="p1:MT_Solicita_Cancelamento_req" />
  </wsdl:message>
  <wsdl:message name="MT_Solicita_Cancelamento_resp">
    <wsdl:documentation />
    <wsdl:part name="MT_Solicita_Cancelamento_resp" element="p1:MT_Solicita_Cancelamento_resp" />
  </wsdl:message>
  <wsdl:portType name="SI_Solicita_Cancelamento_Sync_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_Solicita_Cancelamento_Sync_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_Solicita_Cancelamento_Sync_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_Solicita_Cancelamento_req" />
      <wsdl:output message="p1:MT_Solicita_Cancelamento_resp" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_Solicita_Cancelamento_Sync_OUTBinding" type="p1:SI_Solicita_Cancelamento_Sync_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_Solicita_Cancelamento_Sync_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_Solicita_Cancelamento_Sync_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_Solicita_Cancelamento_Sync_OUTBinding">
      <address location="http://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_TMS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Solicita_Cancelamento_Sync_OUT&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FSolicita_Cancelamento_SD" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_Solicita_Cancelamento_Sync_OUTBinding">
      <address location="https://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_TMS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Solicita_Cancelamento_Sync_OUT&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FSolicita_Cancelamento_SD" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>