Servicos/Service References/ServicoTarget/FreteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tmsfrete.v2.targetmp.com.br" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_FreteTMSService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_FreteTMSServiceExtended_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://tmsfrete.v2.targetmp.com.br" location="https://dev.transportesbra.com.br/frete/TMS/FreteService.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_FreteTMSService" type="i0:FreteTMSService">
    <wsp:PolicyReference URI="#BasicHttpBinding_FreteTMSService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterInformacaoServico">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterInformacaoServico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarTokenParaAcesso">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/GerarTokenParaAcesso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarParticipante">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarParticipante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarParticipante">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarParticipante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarCentroDeCusto">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarCentroDeCusto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCentroDeCusto">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCentroDeCusto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarMotorista">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarMotorista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMotorista">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarMotorista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarTransportador">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTransportador">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarPagamentoAvulsoCartao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RealizarPagamentoAvulsoCartao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPagamentoAvulsoCartao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarPagamentoAvulsoCartao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarPagamentoCombustivelAvulsoCartao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RealizarPagamentoCombustivelAvulsoCartao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCombustivelAvulsoCartao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCombustivelAvulsoCartao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCompraValePedagio">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCompraValePedagio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetificarOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RetificarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizarOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/FinalizarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarDadosQuitacaoOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarDadosQuitacaoOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDetalhesQuitacao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterDetalhesQuitacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeclararOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/DeclararOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PagarParcelaIndividual">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/PagarParcelaIndividual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarParcelaAdicional">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RegistrarParcelaAdicional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterInformacaoCartao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterInformacaoCartao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociarSubstituirCartao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/AssociarSubstituirCartao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CancelarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncerrarOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/EncerrarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCartoesPortador">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCartoesPortador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprarPedagioAvulso">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ComprarPedagioAvulso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarPedagioAvulso">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/AtualizarPedagioAvulso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarPedagioTAG">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConfirmarPedagioTAG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCompraValePedagio">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CancelarCompraValePedagio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRotas">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ListarRotas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterCustoRota">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterCustoRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarRoteiro">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarRoteiro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarRoteiro">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarRoteiro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmitirDocumento">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/EmitirDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarInformacoesContratacao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarInformacoesContratacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTransacoesFinanceiras">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTransacoesFinanceiras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTaxasCalculadas">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarTaxasCalculadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrocarPlacaCompraValePedagioTAG">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/TrocarPlacaCompraValePedagioTAG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoTransportadorAntt">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarSituacaoTransportadorAntt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarRoteiroCustomizado">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarRoteiroCustomizado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoEmpresaTransportadorAntt">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarSituacaoEmpresaTransportadorAntt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularValorTabelaFrete">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularValorTabelaFrete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarItemReguaImposto">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarItemReguaImposto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularImpostosFrete">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularImpostosFrete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarItemReguaImposto">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarItemReguaImposto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularValoresPisCofins">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularValoresPisCofins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTerminaisCarregamentoAutorizados">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTerminaisCarregamentoAutorizados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_FreteTMSServiceExtended" type="i0:FreteTMSServiceExtended">
    <wsp:PolicyReference URI="#BasicHttpBinding_FreteTMSServiceExtended_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterInformacaoServico">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterInformacaoServico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarTokenParaAcesso">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/GerarTokenParaAcesso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarParticipante">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarParticipante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarParticipante">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarParticipante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarCentroDeCusto">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarCentroDeCusto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCentroDeCusto">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCentroDeCusto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarMotorista">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarMotorista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMotorista">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarMotorista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarTransportador">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTransportador">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarPagamentoAvulsoCartao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RealizarPagamentoAvulsoCartao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPagamentoAvulsoCartao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarPagamentoAvulsoCartao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarPagamentoCombustivelAvulsoCartao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RealizarPagamentoCombustivelAvulsoCartao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCombustivelAvulsoCartao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCombustivelAvulsoCartao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCompraValePedagio">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCompraValePedagio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetificarOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RetificarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizarOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/FinalizarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarDadosQuitacaoOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarDadosQuitacaoOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDetalhesQuitacao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterDetalhesQuitacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeclararOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/DeclararOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PagarParcelaIndividual">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/PagarParcelaIndividual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarParcelaAdicional">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RegistrarParcelaAdicional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterInformacaoCartao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterInformacaoCartao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociarSubstituirCartao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/AssociarSubstituirCartao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CancelarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncerrarOperacaoTransporte">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/EncerrarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCartoesPortador">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCartoesPortador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprarPedagioAvulso">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ComprarPedagioAvulso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarPedagioAvulso">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/AtualizarPedagioAvulso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarPedagioTAG">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConfirmarPedagioTAG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCompraValePedagio">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CancelarCompraValePedagio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRotas">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ListarRotas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterCustoRota">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterCustoRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarRoteiro">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarRoteiro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarRoteiro">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarRoteiro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmitirDocumento">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/EmitirDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarInformacoesContratacao">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarInformacoesContratacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTransacoesFinanceiras">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTransacoesFinanceiras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTaxasCalculadas">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarTaxasCalculadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrocarPlacaCompraValePedagioTAG">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/TrocarPlacaCompraValePedagioTAG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoTransportadorAntt">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarSituacaoTransportadorAntt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarRoteiroCustomizado">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarRoteiroCustomizado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoEmpresaTransportadorAntt">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarSituacaoEmpresaTransportadorAntt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularValorTabelaFrete">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularValorTabelaFrete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarItemReguaImposto">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarItemReguaImposto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularImpostosFrete">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularImpostosFrete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarItemReguaImposto">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarItemReguaImposto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularValoresPisCofins">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularValoresPisCofins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTerminaisCarregamentoAutorizados">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTerminaisCarregamentoAutorizados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarRoteiroDetalhado">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSServiceExtended/CadastrarRoteiroDetalhado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprarPedagioPorPracas">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSServiceExtended/ComprarPedagioPorPracas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterCustoRotaPorPracas">
      <soap:operation soapAction="http://tmsfrete.v2.targetmp.com.br/FreteTMSServiceExtended/ObterCustoRotaPorPracas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>