Servicos/Service References/ServicoTarget/FreteService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tmsfrete.v2.targetmp.com.br" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FreteService" targetNamespace="http://tmsfrete.v2.targetmp.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="https://dev.transportesbra.com.br/frete/TMS/FreteService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tmsfrete.v2.targetmp.com.br/Imports">
      <xsd:import schemaLocation="https://dev.transportesbra.com.br/frete/TMS/FreteService.svc?xsd=xsd0" namespace="http://tmsfrete.v2.targetmp.com.br" />
      <xsd:import schemaLocation="https://dev.transportesbra.com.br/frete/TMS/FreteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://dev.transportesbra.com.br/frete/TMS/FreteService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://dev.transportesbra.com.br/frete/TMS/FreteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TARGET.VectioFrete.InterfaceTMS.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FreteTMSService_ObterInformacaoServico_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterInformacaoServico" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ObterInformacaoServico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterInformacaoServicoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_GerarTokenParaAcesso_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarTokenParaAcesso" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_GerarTokenParaAcesso_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarTokenParaAcessoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarAtualizarParticipante_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarAtualizarParticipante" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarAtualizarParticipante_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarAtualizarParticipanteResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarParticipante_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarParticipante" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarParticipante_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarParticipanteResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarAtualizarCentroDeCusto_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarAtualizarCentroDeCusto" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarAtualizarCentroDeCusto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarAtualizarCentroDeCustoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarCentroDeCusto_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCentroDeCusto" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarCentroDeCusto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCentroDeCustoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarAtualizarMotorista_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarAtualizarMotorista" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarAtualizarMotorista_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarAtualizarMotoristaResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarMotorista_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMotorista" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarMotorista_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMotoristaResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarAtualizarTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarAtualizarTransportador" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarAtualizarTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarAtualizarTransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTransportador" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_RealizarPagamentoAvulsoCartao_InputMessage">
    <wsdl:part name="parameters" element="tns:RealizarPagamentoAvulsoCartao" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_RealizarPagamentoAvulsoCartao_OutputMessage">
    <wsdl:part name="parameters" element="tns:RealizarPagamentoAvulsoCartaoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarPagamentoAvulsoCartao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPagamentoAvulsoCartao" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarPagamentoAvulsoCartao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPagamentoAvulsoCartaoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_RealizarPagamentoCombustivelAvulsoCartao_InputMessage">
    <wsdl:part name="parameters" element="tns:RealizarPagamentoCombustivelAvulsoCartao" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_RealizarPagamentoCombustivelAvulsoCartao_OutputMessage">
    <wsdl:part name="parameters" element="tns:RealizarPagamentoCombustivelAvulsoCartaoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarCombustivelAvulsoCartao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCombustivelAvulsoCartao" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarCombustivelAvulsoCartao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCombustivelAvulsoCartaoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarCompraValePedagio_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCompraValePedagio" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarCompraValePedagio_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCompraValePedagioResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarAtualizarOperacaoTransporte_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarAtualizarOperacaoTransporte" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarAtualizarOperacaoTransporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarAtualizarOperacaoTransporteResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarOperacaoTransporte_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOperacaoTransporte" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarOperacaoTransporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOperacaoTransporteResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_RetificarOperacaoTransporte_InputMessage">
    <wsdl:part name="parameters" element="tns:RetificarOperacaoTransporte" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_RetificarOperacaoTransporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetificarOperacaoTransporteResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_FinalizarOperacaoTransporte_InputMessage">
    <wsdl:part name="parameters" element="tns:FinalizarOperacaoTransporte" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_FinalizarOperacaoTransporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinalizarOperacaoTransporteResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarAtualizarDadosQuitacaoOperacaoTransporte_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarAtualizarDadosQuitacaoOperacaoTransporte" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarAtualizarDadosQuitacaoOperacaoTransporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarAtualizarDadosQuitacaoOperacaoTransporteResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ObterDetalhesQuitacao_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterDetalhesQuitacao" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ObterDetalhesQuitacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterDetalhesQuitacaoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_DeclararOperacaoTransporte_InputMessage">
    <wsdl:part name="parameters" element="tns:DeclararOperacaoTransporte" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_DeclararOperacaoTransporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeclararOperacaoTransporteResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_PagarParcelaIndividual_InputMessage">
    <wsdl:part name="parameters" element="tns:PagarParcelaIndividual" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_PagarParcelaIndividual_OutputMessage">
    <wsdl:part name="parameters" element="tns:PagarParcelaIndividualResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_RegistrarParcelaAdicional_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarParcelaAdicional" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_RegistrarParcelaAdicional_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarParcelaAdicionalResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ObterInformacaoCartao_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterInformacaoCartao" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ObterInformacaoCartao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterInformacaoCartaoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_AssociarSubstituirCartao_InputMessage">
    <wsdl:part name="parameters" element="tns:AssociarSubstituirCartao" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_AssociarSubstituirCartao_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssociarSubstituirCartaoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CancelarOperacaoTransporte_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarOperacaoTransporte" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CancelarOperacaoTransporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarOperacaoTransporteResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_EncerrarOperacaoTransporte_InputMessage">
    <wsdl:part name="parameters" element="tns:EncerrarOperacaoTransporte" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_EncerrarOperacaoTransporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncerrarOperacaoTransporteResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarCartoesPortador_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCartoesPortador" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarCartoesPortador_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCartoesPortadorResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ComprarPedagioAvulso_InputMessage">
    <wsdl:part name="parameters" element="tns:ComprarPedagioAvulso" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ComprarPedagioAvulso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComprarPedagioAvulsoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_AtualizarPedagioAvulso_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarPedagioAvulso" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_AtualizarPedagioAvulso_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarPedagioAvulsoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ConfirmarPedagioTAG_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarPedagioTAG" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ConfirmarPedagioTAG_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarPedagioTAGResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CancelarCompraValePedagio_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCompraValePedagio" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CancelarCompraValePedagio_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCompraValePedagioResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ListarRotas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarRotas" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ListarRotas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarRotasResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ObterCustoRota_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterCustoRota" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ObterCustoRota_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterCustoRotaResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarRoteiro_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarRoteiro" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarRoteiro_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarRoteiroResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarRoteiro_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRoteiro" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarRoteiro_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRoteiroResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_EmitirDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:EmitirDocumento" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_EmitirDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmitirDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarInformacoesContratacao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarInformacoesContratacao" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarInformacoesContratacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarInformacoesContratacaoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarTransacoesFinanceiras_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTransacoesFinanceiras" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarTransacoesFinanceiras_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTransacoesFinanceirasResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ConsultarTaxasCalculadas_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTaxasCalculadas" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ConsultarTaxasCalculadas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTaxasCalculadasResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_TrocarPlacaCompraValePedagioTAG_InputMessage">
    <wsdl:part name="parameters" element="tns:TrocarPlacaCompraValePedagioTAG" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_TrocarPlacaCompraValePedagioTAG_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrocarPlacaCompraValePedagioTAGResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ConsultarSituacaoTransportadorAntt_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSituacaoTransportadorAntt" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ConsultarSituacaoTransportadorAntt_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSituacaoTransportadorAnttResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarRoteiroCustomizado_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarRoteiroCustomizado" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarRoteiroCustomizado_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarRoteiroCustomizadoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ConsultarSituacaoEmpresaTransportadorAntt_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSituacaoEmpresaTransportadorAntt" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_ConsultarSituacaoEmpresaTransportadorAntt_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSituacaoEmpresaTransportadorAnttResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CalcularValorTabelaFrete_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcularValorTabelaFrete" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CalcularValorTabelaFrete_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcularValorTabelaFreteResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarAtualizarItemReguaImposto_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarAtualizarItemReguaImposto" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CadastrarAtualizarItemReguaImposto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarAtualizarItemReguaImpostoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CalcularImpostosFrete_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcularImpostosFrete" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CalcularImpostosFrete_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcularImpostosFreteResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarItemReguaImposto_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarItemReguaImposto" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarItemReguaImposto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarItemReguaImpostoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CalcularValoresPisCofins_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcularValoresPisCofins" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_CalcularValoresPisCofins_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcularValoresPisCofinsResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarTerminaisCarregamentoAutorizados_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTerminaisCarregamentoAutorizados" />
  </wsdl:message>
  <wsdl:message name="FreteTMSService_BuscarTerminaisCarregamentoAutorizados_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTerminaisCarregamentoAutorizadosResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSServiceExtended_CadastrarRoteiroDetalhado_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarRoteiroDetalhado" />
  </wsdl:message>
  <wsdl:message name="FreteTMSServiceExtended_CadastrarRoteiroDetalhado_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarRoteiroDetalhadoResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSServiceExtended_ComprarPedagioPorPracas_InputMessage">
    <wsdl:part name="parameters" element="tns:ComprarPedagioPorPracas" />
  </wsdl:message>
  <wsdl:message name="FreteTMSServiceExtended_ComprarPedagioPorPracas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComprarPedagioPorPracasResponse" />
  </wsdl:message>
  <wsdl:message name="FreteTMSServiceExtended_ObterCustoRotaPorPracas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterCustoRotaPorPracas" />
  </wsdl:message>
  <wsdl:message name="FreteTMSServiceExtended_ObterCustoRotaPorPracas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterCustoRotaPorPracasResponse" />
  </wsdl:message>
  <wsdl:portType name="FreteTMSService">
    <wsdl:operation name="ObterInformacaoServico">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterInformacaoServico" message="tns:FreteTMSService_ObterInformacaoServico_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterInformacaoServicoResponse" message="tns:FreteTMSService_ObterInformacaoServico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarTokenParaAcesso">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/GerarTokenParaAcesso" message="tns:FreteTMSService_GerarTokenParaAcesso_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/GerarTokenParaAcessoResponse" message="tns:FreteTMSService_GerarTokenParaAcesso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarParticipante">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarParticipante" message="tns:FreteTMSService_CadastrarAtualizarParticipante_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarParticipanteResponse" message="tns:FreteTMSService_CadastrarAtualizarParticipante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarParticipante">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarParticipante" message="tns:FreteTMSService_BuscarParticipante_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarParticipanteResponse" message="tns:FreteTMSService_BuscarParticipante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarCentroDeCusto">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarCentroDeCusto" message="tns:FreteTMSService_CadastrarAtualizarCentroDeCusto_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarCentroDeCustoResponse" message="tns:FreteTMSService_CadastrarAtualizarCentroDeCusto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCentroDeCusto">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCentroDeCusto" message="tns:FreteTMSService_BuscarCentroDeCusto_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCentroDeCustoResponse" message="tns:FreteTMSService_BuscarCentroDeCusto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarMotorista">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarMotorista" message="tns:FreteTMSService_CadastrarAtualizarMotorista_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarMotoristaResponse" message="tns:FreteTMSService_CadastrarAtualizarMotorista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMotorista">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarMotorista" message="tns:FreteTMSService_BuscarMotorista_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarMotoristaResponse" message="tns:FreteTMSService_BuscarMotorista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarTransportador">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarTransportador" message="tns:FreteTMSService_CadastrarAtualizarTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarTransportadorResponse" message="tns:FreteTMSService_CadastrarAtualizarTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTransportador">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTransportador" message="tns:FreteTMSService_BuscarTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTransportadorResponse" message="tns:FreteTMSService_BuscarTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RealizarPagamentoAvulsoCartao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RealizarPagamentoAvulsoCartao" message="tns:FreteTMSService_RealizarPagamentoAvulsoCartao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RealizarPagamentoAvulsoCartaoResponse" message="tns:FreteTMSService_RealizarPagamentoAvulsoCartao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPagamentoAvulsoCartao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarPagamentoAvulsoCartao" message="tns:FreteTMSService_BuscarPagamentoAvulsoCartao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarPagamentoAvulsoCartaoResponse" message="tns:FreteTMSService_BuscarPagamentoAvulsoCartao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RealizarPagamentoCombustivelAvulsoCartao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RealizarPagamentoCombustivelAvulsoCartao" message="tns:FreteTMSService_RealizarPagamentoCombustivelAvulsoCartao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RealizarPagamentoCombustivelAvulsoCartaoResponse" message="tns:FreteTMSService_RealizarPagamentoCombustivelAvulsoCartao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCombustivelAvulsoCartao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCombustivelAvulsoCartao" message="tns:FreteTMSService_BuscarCombustivelAvulsoCartao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCombustivelAvulsoCartaoResponse" message="tns:FreteTMSService_BuscarCombustivelAvulsoCartao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCompraValePedagio">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCompraValePedagio" message="tns:FreteTMSService_BuscarCompraValePedagio_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCompraValePedagioResponse" message="tns:FreteTMSService_BuscarCompraValePedagio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarOperacaoTransporte" message="tns:FreteTMSService_CadastrarAtualizarOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarOperacaoTransporteResponse" message="tns:FreteTMSService_CadastrarAtualizarOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarOperacaoTransporte" message="tns:FreteTMSService_BuscarOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarOperacaoTransporteResponse" message="tns:FreteTMSService_BuscarOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetificarOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RetificarOperacaoTransporte" message="tns:FreteTMSService_RetificarOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RetificarOperacaoTransporteResponse" message="tns:FreteTMSService_RetificarOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinalizarOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/FinalizarOperacaoTransporte" message="tns:FreteTMSService_FinalizarOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/FinalizarOperacaoTransporteResponse" message="tns:FreteTMSService_FinalizarOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarDadosQuitacaoOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarDadosQuitacaoOperacaoTransporte" message="tns:FreteTMSService_CadastrarAtualizarDadosQuitacaoOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarDadosQuitacaoOperacaoTransporteResponse" message="tns:FreteTMSService_CadastrarAtualizarDadosQuitacaoOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterDetalhesQuitacao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterDetalhesQuitacao" message="tns:FreteTMSService_ObterDetalhesQuitacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterDetalhesQuitacaoResponse" message="tns:FreteTMSService_ObterDetalhesQuitacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeclararOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/DeclararOperacaoTransporte" message="tns:FreteTMSService_DeclararOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/DeclararOperacaoTransporteResponse" message="tns:FreteTMSService_DeclararOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PagarParcelaIndividual">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/PagarParcelaIndividual" message="tns:FreteTMSService_PagarParcelaIndividual_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/PagarParcelaIndividualResponse" message="tns:FreteTMSService_PagarParcelaIndividual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarParcelaAdicional">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RegistrarParcelaAdicional" message="tns:FreteTMSService_RegistrarParcelaAdicional_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RegistrarParcelaAdicionalResponse" message="tns:FreteTMSService_RegistrarParcelaAdicional_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterInformacaoCartao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterInformacaoCartao" message="tns:FreteTMSService_ObterInformacaoCartao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterInformacaoCartaoResponse" message="tns:FreteTMSService_ObterInformacaoCartao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssociarSubstituirCartao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/AssociarSubstituirCartao" message="tns:FreteTMSService_AssociarSubstituirCartao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/AssociarSubstituirCartaoResponse" message="tns:FreteTMSService_AssociarSubstituirCartao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CancelarOperacaoTransporte" message="tns:FreteTMSService_CancelarOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CancelarOperacaoTransporteResponse" message="tns:FreteTMSService_CancelarOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EncerrarOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/EncerrarOperacaoTransporte" message="tns:FreteTMSService_EncerrarOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/EncerrarOperacaoTransporteResponse" message="tns:FreteTMSService_EncerrarOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCartoesPortador">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCartoesPortador" message="tns:FreteTMSService_BuscarCartoesPortador_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCartoesPortadorResponse" message="tns:FreteTMSService_BuscarCartoesPortador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComprarPedagioAvulso">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ComprarPedagioAvulso" message="tns:FreteTMSService_ComprarPedagioAvulso_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ComprarPedagioAvulsoResponse" message="tns:FreteTMSService_ComprarPedagioAvulso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarPedagioAvulso">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/AtualizarPedagioAvulso" message="tns:FreteTMSService_AtualizarPedagioAvulso_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/AtualizarPedagioAvulsoResponse" message="tns:FreteTMSService_AtualizarPedagioAvulso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarPedagioTAG">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConfirmarPedagioTAG" message="tns:FreteTMSService_ConfirmarPedagioTAG_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConfirmarPedagioTAGResponse" message="tns:FreteTMSService_ConfirmarPedagioTAG_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarCompraValePedagio">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CancelarCompraValePedagio" message="tns:FreteTMSService_CancelarCompraValePedagio_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CancelarCompraValePedagioResponse" message="tns:FreteTMSService_CancelarCompraValePedagio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarRotas">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ListarRotas" message="tns:FreteTMSService_ListarRotas_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ListarRotasResponse" message="tns:FreteTMSService_ListarRotas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterCustoRota">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterCustoRota" message="tns:FreteTMSService_ObterCustoRota_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterCustoRotaResponse" message="tns:FreteTMSService_ObterCustoRota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarRoteiro">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarRoteiro" message="tns:FreteTMSService_CadastrarRoteiro_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarRoteiroResponse" message="tns:FreteTMSService_CadastrarRoteiro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarRoteiro">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarRoteiro" message="tns:FreteTMSService_BuscarRoteiro_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarRoteiroResponse" message="tns:FreteTMSService_BuscarRoteiro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmitirDocumento">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/EmitirDocumento" message="tns:FreteTMSService_EmitirDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/EmitirDocumentoResponse" message="tns:FreteTMSService_EmitirDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarInformacoesContratacao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarInformacoesContratacao" message="tns:FreteTMSService_BuscarInformacoesContratacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarInformacoesContratacaoResponse" message="tns:FreteTMSService_BuscarInformacoesContratacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTransacoesFinanceiras">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTransacoesFinanceiras" message="tns:FreteTMSService_BuscarTransacoesFinanceiras_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTransacoesFinanceirasResponse" message="tns:FreteTMSService_BuscarTransacoesFinanceiras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTaxasCalculadas">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarTaxasCalculadas" message="tns:FreteTMSService_ConsultarTaxasCalculadas_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarTaxasCalculadasResponse" message="tns:FreteTMSService_ConsultarTaxasCalculadas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrocarPlacaCompraValePedagioTAG">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/TrocarPlacaCompraValePedagioTAG" message="tns:FreteTMSService_TrocarPlacaCompraValePedagioTAG_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/TrocarPlacaCompraValePedagioTAGResponse" message="tns:FreteTMSService_TrocarPlacaCompraValePedagioTAG_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoTransportadorAntt">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarSituacaoTransportadorAntt" message="tns:FreteTMSService_ConsultarSituacaoTransportadorAntt_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarSituacaoTransportadorAnttResponse" message="tns:FreteTMSService_ConsultarSituacaoTransportadorAntt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarRoteiroCustomizado">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarRoteiroCustomizado" message="tns:FreteTMSService_CadastrarRoteiroCustomizado_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarRoteiroCustomizadoResponse" message="tns:FreteTMSService_CadastrarRoteiroCustomizado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoEmpresaTransportadorAntt">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarSituacaoEmpresaTransportadorAntt" message="tns:FreteTMSService_ConsultarSituacaoEmpresaTransportadorAntt_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarSituacaoEmpresaTransportadorAnttResponse" message="tns:FreteTMSService_ConsultarSituacaoEmpresaTransportadorAntt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcularValorTabelaFrete">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularValorTabelaFrete" message="tns:FreteTMSService_CalcularValorTabelaFrete_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularValorTabelaFreteResponse" message="tns:FreteTMSService_CalcularValorTabelaFrete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarItemReguaImposto">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarItemReguaImposto" message="tns:FreteTMSService_CadastrarAtualizarItemReguaImposto_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarItemReguaImpostoResponse" message="tns:FreteTMSService_CadastrarAtualizarItemReguaImposto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcularImpostosFrete">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularImpostosFrete" message="tns:FreteTMSService_CalcularImpostosFrete_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularImpostosFreteResponse" message="tns:FreteTMSService_CalcularImpostosFrete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarItemReguaImposto">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarItemReguaImposto" message="tns:FreteTMSService_BuscarItemReguaImposto_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarItemReguaImpostoResponse" message="tns:FreteTMSService_BuscarItemReguaImposto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcularValoresPisCofins">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularValoresPisCofins" message="tns:FreteTMSService_CalcularValoresPisCofins_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularValoresPisCofinsResponse" message="tns:FreteTMSService_CalcularValoresPisCofins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTerminaisCarregamentoAutorizados">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTerminaisCarregamentoAutorizados" message="tns:FreteTMSService_BuscarTerminaisCarregamentoAutorizados_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTerminaisCarregamentoAutorizadosResponse" message="tns:FreteTMSService_BuscarTerminaisCarregamentoAutorizados_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FreteTMSServiceExtended">
    <wsdl:operation name="ObterInformacaoServico">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterInformacaoServico" message="tns:FreteTMSService_ObterInformacaoServico_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterInformacaoServicoResponse" message="tns:FreteTMSService_ObterInformacaoServico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarTokenParaAcesso">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/GerarTokenParaAcesso" message="tns:FreteTMSService_GerarTokenParaAcesso_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/GerarTokenParaAcessoResponse" message="tns:FreteTMSService_GerarTokenParaAcesso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarParticipante">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarParticipante" message="tns:FreteTMSService_CadastrarAtualizarParticipante_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarParticipanteResponse" message="tns:FreteTMSService_CadastrarAtualizarParticipante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarParticipante">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarParticipante" message="tns:FreteTMSService_BuscarParticipante_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarParticipanteResponse" message="tns:FreteTMSService_BuscarParticipante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarCentroDeCusto">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarCentroDeCusto" message="tns:FreteTMSService_CadastrarAtualizarCentroDeCusto_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarCentroDeCustoResponse" message="tns:FreteTMSService_CadastrarAtualizarCentroDeCusto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCentroDeCusto">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCentroDeCusto" message="tns:FreteTMSService_BuscarCentroDeCusto_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCentroDeCustoResponse" message="tns:FreteTMSService_BuscarCentroDeCusto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarMotorista">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarMotorista" message="tns:FreteTMSService_CadastrarAtualizarMotorista_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarMotoristaResponse" message="tns:FreteTMSService_CadastrarAtualizarMotorista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMotorista">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarMotorista" message="tns:FreteTMSService_BuscarMotorista_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarMotoristaResponse" message="tns:FreteTMSService_BuscarMotorista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarTransportador">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarTransportador" message="tns:FreteTMSService_CadastrarAtualizarTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarTransportadorResponse" message="tns:FreteTMSService_CadastrarAtualizarTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTransportador">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTransportador" message="tns:FreteTMSService_BuscarTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTransportadorResponse" message="tns:FreteTMSService_BuscarTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RealizarPagamentoAvulsoCartao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RealizarPagamentoAvulsoCartao" message="tns:FreteTMSService_RealizarPagamentoAvulsoCartao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RealizarPagamentoAvulsoCartaoResponse" message="tns:FreteTMSService_RealizarPagamentoAvulsoCartao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPagamentoAvulsoCartao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarPagamentoAvulsoCartao" message="tns:FreteTMSService_BuscarPagamentoAvulsoCartao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarPagamentoAvulsoCartaoResponse" message="tns:FreteTMSService_BuscarPagamentoAvulsoCartao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RealizarPagamentoCombustivelAvulsoCartao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RealizarPagamentoCombustivelAvulsoCartao" message="tns:FreteTMSService_RealizarPagamentoCombustivelAvulsoCartao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RealizarPagamentoCombustivelAvulsoCartaoResponse" message="tns:FreteTMSService_RealizarPagamentoCombustivelAvulsoCartao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCombustivelAvulsoCartao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCombustivelAvulsoCartao" message="tns:FreteTMSService_BuscarCombustivelAvulsoCartao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCombustivelAvulsoCartaoResponse" message="tns:FreteTMSService_BuscarCombustivelAvulsoCartao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCompraValePedagio">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCompraValePedagio" message="tns:FreteTMSService_BuscarCompraValePedagio_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCompraValePedagioResponse" message="tns:FreteTMSService_BuscarCompraValePedagio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarOperacaoTransporte" message="tns:FreteTMSService_CadastrarAtualizarOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarOperacaoTransporteResponse" message="tns:FreteTMSService_CadastrarAtualizarOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarOperacaoTransporte" message="tns:FreteTMSService_BuscarOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarOperacaoTransporteResponse" message="tns:FreteTMSService_BuscarOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetificarOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RetificarOperacaoTransporte" message="tns:FreteTMSService_RetificarOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RetificarOperacaoTransporteResponse" message="tns:FreteTMSService_RetificarOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinalizarOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/FinalizarOperacaoTransporte" message="tns:FreteTMSService_FinalizarOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/FinalizarOperacaoTransporteResponse" message="tns:FreteTMSService_FinalizarOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarDadosQuitacaoOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarDadosQuitacaoOperacaoTransporte" message="tns:FreteTMSService_CadastrarAtualizarDadosQuitacaoOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarDadosQuitacaoOperacaoTransporteResponse" message="tns:FreteTMSService_CadastrarAtualizarDadosQuitacaoOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterDetalhesQuitacao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterDetalhesQuitacao" message="tns:FreteTMSService_ObterDetalhesQuitacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterDetalhesQuitacaoResponse" message="tns:FreteTMSService_ObterDetalhesQuitacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeclararOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/DeclararOperacaoTransporte" message="tns:FreteTMSService_DeclararOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/DeclararOperacaoTransporteResponse" message="tns:FreteTMSService_DeclararOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PagarParcelaIndividual">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/PagarParcelaIndividual" message="tns:FreteTMSService_PagarParcelaIndividual_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/PagarParcelaIndividualResponse" message="tns:FreteTMSService_PagarParcelaIndividual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarParcelaAdicional">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RegistrarParcelaAdicional" message="tns:FreteTMSService_RegistrarParcelaAdicional_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/RegistrarParcelaAdicionalResponse" message="tns:FreteTMSService_RegistrarParcelaAdicional_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterInformacaoCartao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterInformacaoCartao" message="tns:FreteTMSService_ObterInformacaoCartao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterInformacaoCartaoResponse" message="tns:FreteTMSService_ObterInformacaoCartao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssociarSubstituirCartao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/AssociarSubstituirCartao" message="tns:FreteTMSService_AssociarSubstituirCartao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/AssociarSubstituirCartaoResponse" message="tns:FreteTMSService_AssociarSubstituirCartao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CancelarOperacaoTransporte" message="tns:FreteTMSService_CancelarOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CancelarOperacaoTransporteResponse" message="tns:FreteTMSService_CancelarOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EncerrarOperacaoTransporte">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/EncerrarOperacaoTransporte" message="tns:FreteTMSService_EncerrarOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/EncerrarOperacaoTransporteResponse" message="tns:FreteTMSService_EncerrarOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCartoesPortador">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCartoesPortador" message="tns:FreteTMSService_BuscarCartoesPortador_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarCartoesPortadorResponse" message="tns:FreteTMSService_BuscarCartoesPortador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComprarPedagioAvulso">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ComprarPedagioAvulso" message="tns:FreteTMSService_ComprarPedagioAvulso_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ComprarPedagioAvulsoResponse" message="tns:FreteTMSService_ComprarPedagioAvulso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarPedagioAvulso">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/AtualizarPedagioAvulso" message="tns:FreteTMSService_AtualizarPedagioAvulso_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/AtualizarPedagioAvulsoResponse" message="tns:FreteTMSService_AtualizarPedagioAvulso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarPedagioTAG">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConfirmarPedagioTAG" message="tns:FreteTMSService_ConfirmarPedagioTAG_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConfirmarPedagioTAGResponse" message="tns:FreteTMSService_ConfirmarPedagioTAG_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarCompraValePedagio">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CancelarCompraValePedagio" message="tns:FreteTMSService_CancelarCompraValePedagio_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CancelarCompraValePedagioResponse" message="tns:FreteTMSService_CancelarCompraValePedagio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarRotas">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ListarRotas" message="tns:FreteTMSService_ListarRotas_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ListarRotasResponse" message="tns:FreteTMSService_ListarRotas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterCustoRota">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterCustoRota" message="tns:FreteTMSService_ObterCustoRota_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ObterCustoRotaResponse" message="tns:FreteTMSService_ObterCustoRota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarRoteiro">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarRoteiro" message="tns:FreteTMSService_CadastrarRoteiro_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarRoteiroResponse" message="tns:FreteTMSService_CadastrarRoteiro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarRoteiro">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarRoteiro" message="tns:FreteTMSService_BuscarRoteiro_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarRoteiroResponse" message="tns:FreteTMSService_BuscarRoteiro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmitirDocumento">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/EmitirDocumento" message="tns:FreteTMSService_EmitirDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/EmitirDocumentoResponse" message="tns:FreteTMSService_EmitirDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarInformacoesContratacao">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarInformacoesContratacao" message="tns:FreteTMSService_BuscarInformacoesContratacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarInformacoesContratacaoResponse" message="tns:FreteTMSService_BuscarInformacoesContratacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTransacoesFinanceiras">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTransacoesFinanceiras" message="tns:FreteTMSService_BuscarTransacoesFinanceiras_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTransacoesFinanceirasResponse" message="tns:FreteTMSService_BuscarTransacoesFinanceiras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTaxasCalculadas">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarTaxasCalculadas" message="tns:FreteTMSService_ConsultarTaxasCalculadas_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarTaxasCalculadasResponse" message="tns:FreteTMSService_ConsultarTaxasCalculadas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrocarPlacaCompraValePedagioTAG">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/TrocarPlacaCompraValePedagioTAG" message="tns:FreteTMSService_TrocarPlacaCompraValePedagioTAG_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/TrocarPlacaCompraValePedagioTAGResponse" message="tns:FreteTMSService_TrocarPlacaCompraValePedagioTAG_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoTransportadorAntt">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarSituacaoTransportadorAntt" message="tns:FreteTMSService_ConsultarSituacaoTransportadorAntt_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarSituacaoTransportadorAnttResponse" message="tns:FreteTMSService_ConsultarSituacaoTransportadorAntt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarRoteiroCustomizado">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarRoteiroCustomizado" message="tns:FreteTMSService_CadastrarRoteiroCustomizado_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarRoteiroCustomizadoResponse" message="tns:FreteTMSService_CadastrarRoteiroCustomizado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoEmpresaTransportadorAntt">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarSituacaoEmpresaTransportadorAntt" message="tns:FreteTMSService_ConsultarSituacaoEmpresaTransportadorAntt_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/ConsultarSituacaoEmpresaTransportadorAnttResponse" message="tns:FreteTMSService_ConsultarSituacaoEmpresaTransportadorAntt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcularValorTabelaFrete">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularValorTabelaFrete" message="tns:FreteTMSService_CalcularValorTabelaFrete_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularValorTabelaFreteResponse" message="tns:FreteTMSService_CalcularValorTabelaFrete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarAtualizarItemReguaImposto">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarItemReguaImposto" message="tns:FreteTMSService_CadastrarAtualizarItemReguaImposto_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CadastrarAtualizarItemReguaImpostoResponse" message="tns:FreteTMSService_CadastrarAtualizarItemReguaImposto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcularImpostosFrete">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularImpostosFrete" message="tns:FreteTMSService_CalcularImpostosFrete_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularImpostosFreteResponse" message="tns:FreteTMSService_CalcularImpostosFrete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarItemReguaImposto">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarItemReguaImposto" message="tns:FreteTMSService_BuscarItemReguaImposto_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarItemReguaImpostoResponse" message="tns:FreteTMSService_BuscarItemReguaImposto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcularValoresPisCofins">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularValoresPisCofins" message="tns:FreteTMSService_CalcularValoresPisCofins_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/CalcularValoresPisCofinsResponse" message="tns:FreteTMSService_CalcularValoresPisCofins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTerminaisCarregamentoAutorizados">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTerminaisCarregamentoAutorizados" message="tns:FreteTMSService_BuscarTerminaisCarregamentoAutorizados_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSService/BuscarTerminaisCarregamentoAutorizadosResponse" message="tns:FreteTMSService_BuscarTerminaisCarregamentoAutorizados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarRoteiroDetalhado">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSServiceExtended/CadastrarRoteiroDetalhado" message="tns:FreteTMSServiceExtended_CadastrarRoteiroDetalhado_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSServiceExtended/CadastrarRoteiroDetalhadoResponse" message="tns:FreteTMSServiceExtended_CadastrarRoteiroDetalhado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComprarPedagioPorPracas">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSServiceExtended/ComprarPedagioPorPracas" message="tns:FreteTMSServiceExtended_ComprarPedagioPorPracas_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSServiceExtended/ComprarPedagioPorPracasResponse" message="tns:FreteTMSServiceExtended_ComprarPedagioPorPracas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterCustoRotaPorPracas">
      <wsdl:input wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSServiceExtended/ObterCustoRotaPorPracas" message="tns:FreteTMSServiceExtended_ObterCustoRotaPorPracas_InputMessage" />
      <wsdl:output wsaw:Action="http://tmsfrete.v2.targetmp.com.br/FreteTMSServiceExtended/ObterCustoRotaPorPracasResponse" message="tns:FreteTMSServiceExtended_ObterCustoRotaPorPracas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="FreteService">
    <wsdl:port name="BasicHttpBinding_FreteTMSService" binding="i0:BasicHttpBinding_FreteTMSService">
      <soap:address location="https://dev.transportesbra.com.br/frete/TMS/FreteService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_FreteTMSServiceExtended" binding="i0:BasicHttpBinding_FreteTMSServiceExtended">
      <soap:address location="https://dev.transportesbra.com.br/frete/TMS/FreteService.svc/extended" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>