WebApplication1/Service References/MDFe/ManifestoEletronicoDeDocumentosFiscais.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManifestoEletronicoDeDocumentosFiscais" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3521/ManifestoEletronicoDeDocumentosFiscais.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3521/ManifestoEletronicoDeDocumentosFiscais.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3521/ManifestoEletronicoDeDocumentosFiscais.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
      <xsd:import schemaLocation="http://localhost:3521/ManifestoEletronicoDeDocumentosFiscais.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" />
      <xsd:import schemaLocation="http://localhost:3521/ManifestoEletronicoDeDocumentosFiscais.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" />
      <xsd:import schemaLocation="http://localhost:3521/ManifestoEletronicoDeDocumentosFiscais.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManifestoEletronicoDeDocumentosFiscais_IntegrarMDFePorTxt_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarMDFePorTxt" />
  </wsdl:message>
  <wsdl:message name="IManifestoEletronicoDeDocumentosFiscais_IntegrarMDFePorTxt_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarMDFePorTxtResponse" />
  </wsdl:message>
  <wsdl:message name="IManifestoEletronicoDeDocumentosFiscais_IntegrarMDFePorObjeto_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarMDFePorObjeto" />
  </wsdl:message>
  <wsdl:message name="IManifestoEletronicoDeDocumentosFiscais_IntegrarMDFePorObjeto_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarMDFePorObjetoResponse" />
  </wsdl:message>
  <wsdl:message name="IManifestoEletronicoDeDocumentosFiscais_EncerrarMDFe_InputMessage">
    <wsdl:part name="parameters" element="tns:EncerrarMDFe" />
  </wsdl:message>
  <wsdl:message name="IManifestoEletronicoDeDocumentosFiscais_EncerrarMDFe_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncerrarMDFeResponse" />
  </wsdl:message>
  <wsdl:message name="IManifestoEletronicoDeDocumentosFiscais_CancelarMDFe_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarMDFe" />
  </wsdl:message>
  <wsdl:message name="IManifestoEletronicoDeDocumentosFiscais_CancelarMDFe_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarMDFeResponse" />
  </wsdl:message>
  <wsdl:portType name="IManifestoEletronicoDeDocumentosFiscais">
    <wsdl:operation name="IntegrarMDFePorTxt">
      <wsdl:input wsaw:Action="http://tempuri.org/IManifestoEletronicoDeDocumentosFiscais/IntegrarMDFePorTxt" message="tns:IManifestoEletronicoDeDocumentosFiscais_IntegrarMDFePorTxt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManifestoEletronicoDeDocumentosFiscais/IntegrarMDFePorTxtResponse" message="tns:IManifestoEletronicoDeDocumentosFiscais_IntegrarMDFePorTxt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarMDFePorObjeto">
      <wsdl:input wsaw:Action="http://tempuri.org/IManifestoEletronicoDeDocumentosFiscais/IntegrarMDFePorObjeto" message="tns:IManifestoEletronicoDeDocumentosFiscais_IntegrarMDFePorObjeto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManifestoEletronicoDeDocumentosFiscais/IntegrarMDFePorObjetoResponse" message="tns:IManifestoEletronicoDeDocumentosFiscais_IntegrarMDFePorObjeto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EncerrarMDFe">
      <wsdl:input wsaw:Action="http://tempuri.org/IManifestoEletronicoDeDocumentosFiscais/EncerrarMDFe" message="tns:IManifestoEletronicoDeDocumentosFiscais_EncerrarMDFe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManifestoEletronicoDeDocumentosFiscais/EncerrarMDFeResponse" message="tns:IManifestoEletronicoDeDocumentosFiscais_EncerrarMDFe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarMDFe">
      <wsdl:input wsaw:Action="http://tempuri.org/IManifestoEletronicoDeDocumentosFiscais/CancelarMDFe" message="tns:IManifestoEletronicoDeDocumentosFiscais_CancelarMDFe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManifestoEletronicoDeDocumentosFiscais/CancelarMDFeResponse" message="tns:IManifestoEletronicoDeDocumentosFiscais_CancelarMDFe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManifestoEletronicoDeDocumentosFiscais" type="tns:IManifestoEletronicoDeDocumentosFiscais">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IntegrarMDFePorTxt">
      <soap:operation soapAction="http://tempuri.org/IManifestoEletronicoDeDocumentosFiscais/IntegrarMDFePorTxt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarMDFePorObjeto">
      <soap:operation soapAction="http://tempuri.org/IManifestoEletronicoDeDocumentosFiscais/IntegrarMDFePorObjeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncerrarMDFe">
      <soap:operation soapAction="http://tempuri.org/IManifestoEletronicoDeDocumentosFiscais/EncerrarMDFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarMDFe">
      <soap:operation soapAction="http://tempuri.org/IManifestoEletronicoDeDocumentosFiscais/CancelarMDFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManifestoEletronicoDeDocumentosFiscais">
    <wsdl:port name="BasicHttpBinding_IManifestoEletronicoDeDocumentosFiscais" binding="tns:BasicHttpBinding_IManifestoEletronicoDeDocumentosFiscais">
      <soap:address location="http://localhost:3521/ManifestoEletronicoDeDocumentosFiscais.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>