WebApplication1/Service References/MDFe/ManifestoEletronicoDeDocumentosFiscais1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3521/ManifestoEletronicoDeDocumentosFiscais.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" />
  <xs:import schemaLocation="http://localhost:3521/ManifestoEletronicoDeDocumentosFiscais.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:complexType name="MDFe">
    <xs:sequence>
      <xs:element minOccurs="0" name="CIOT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Emitente" nillable="true" type="q1:Empresa" />
      <xs:element minOccurs="0" name="Lacres" nillable="true" type="tns:ArrayOfLacre" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Motoristas" nillable="true" type="q2:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="MunicipiosDeCarregamento" nillable="true" type="tns:ArrayOfMunicipioCarregamento" />
      <xs:element minOccurs="0" name="MunicipiosDeDescarregamento" nillable="true" type="tns:ArrayOfMunicipioDescarregamento" />
      <xs:element minOccurs="0" name="NumeroCarga" type="xs:int" />
      <xs:element minOccurs="0" name="ObservacaoContribuinte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoFisco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Percursos" nillable="true" type="tns:ArrayOfPercurso" />
      <xs:element minOccurs="0" name="PesoBrutoMercadoria" type="xs:decimal" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Reboques" nillable="true" type="q3:ArrayOfVeiculo" />
      <xs:element minOccurs="0" name="UFCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UFDescarregamento" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="UnidadeMedidaMercadoria" type="q4:UnidadeMedidaMDFe" />
      <xs:element minOccurs="0" name="ValesPedagio" nillable="true" type="tns:ArrayOfValePedagio" />
      <xs:element minOccurs="0" name="ValorTotalMercadoria" type="xs:decimal" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Veiculo" nillable="true" type="q5:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MDFe" nillable="true" type="tns:MDFe" />
  <xs:complexType name="ArrayOfLacre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lacre" nillable="true" type="tns:Lacre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLacre" nillable="true" type="tns:ArrayOfLacre" />
  <xs:complexType name="Lacre">
    <xs:sequence>
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lacre" nillable="true" type="tns:Lacre" />
  <xs:complexType name="ArrayOfMunicipioCarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MunicipioCarregamento" nillable="true" type="tns:MunicipioCarregamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMunicipioCarregamento" nillable="true" type="tns:ArrayOfMunicipioCarregamento" />
  <xs:complexType name="MunicipioCarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIBGE" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MunicipioCarregamento" nillable="true" type="tns:MunicipioCarregamento" />
  <xs:complexType name="ArrayOfMunicipioDescarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MunicipioDescarregamento" nillable="true" type="tns:MunicipioDescarregamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMunicipioDescarregamento" nillable="true" type="tns:ArrayOfMunicipioDescarregamento" />
  <xs:complexType name="MunicipioDescarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIBGE" type="xs:int" />
      <xs:element minOccurs="0" name="Documentos" nillable="true" type="tns:ArrayOfDocumentoMunicipioDescarregamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MunicipioDescarregamento" nillable="true" type="tns:MunicipioDescarregamento" />
  <xs:complexType name="ArrayOfDocumentoMunicipioDescarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentoMunicipioDescarregamento" nillable="true" type="tns:DocumentoMunicipioDescarregamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentoMunicipioDescarregamento" nillable="true" type="tns:ArrayOfDocumentoMunicipioDescarregamento" />
  <xs:complexType name="DocumentoMunicipioDescarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveCTe" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoMunicipioDescarregamento" nillable="true" type="tns:DocumentoMunicipioDescarregamento" />
  <xs:complexType name="ArrayOfPercurso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Percurso" nillable="true" type="tns:Percurso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPercurso" nillable="true" type="tns:ArrayOfPercurso" />
  <xs:complexType name="Percurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="UFPercurso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Percurso" nillable="true" type="tns:Percurso" />
  <xs:complexType name="ArrayOfValePedagio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValePedagio" nillable="true" type="tns:ValePedagio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValePedagio" nillable="true" type="tns:ArrayOfValePedagio" />
  <xs:complexType name="ValePedagio">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJFornecedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJResponsavel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroComprovante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValePedagio" nillable="true" type="tns:ValePedagio" />
</xs:schema>