Servicos/Service References/ServicoNatura.RecebeNotasFiscais/SI_RecebeNotaisFiscaisSync_OB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://www.natura.net/NotasFiscais" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_RecebeNotaisFiscaisSync_OB" targetNamespace="http://www.natura.net/NotasFiscais" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_RecebeNotaisFiscaisSync_OB" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.natura.net/NotasFiscais" targetNamespace="http://www.natura.net/NotasFiscais" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_RecebeNotasFiscais" type="p1:DT_RecebeNotasFiscais" />
      <xsd:element name="MT_EnviaParamNotasFiscais" type="p1:DT_EnviaParamNotasFiscais" />
      <xsd:complexType name="DT_RecebeNotasFiscais">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">5cde5826979211e5a98000000189c4e2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="dados">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">f024c09315b611e5c67454ec5bba1438</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="documentoTransporte" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f024c08815b611e5963e54ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="dataEmbarqueMercadoria" type="xsd:date">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f024c08915b611e5906b54ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="codTranspEmit" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f024c08a15b611e5882f54ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="cnpjTranspEmit" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f024c08b15b611e5cd3354ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="codTranspMatriz" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f024c08c15b611e5c11e54ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="cnpjTranspMatriz" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f024c08d15b611e586fb54ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="meioTransporte" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f024c08e15b611e5c3a254ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="tipoTransporte" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f024c08f15b611e597b954ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="data" type="xsd:date">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f024c09015b611e5bd5854ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="hora" type="xsd:time">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f024c09115b611e590c954ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="mensagem" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">30dcbf45313b11e594bbaaaaaaac9800</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="nfe">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f024c09215b611e5bf2b54ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="chaveNFe" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">f7e0313c15b911e5adb654ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="xmlNFe" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">f7e0313d15b911e5945e54ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="informacoesPedido">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">bc06938515ba11e594c254ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="numeroSolicitacao" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">bc040b7615ba11e5ae8054ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="numeroPedido" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">bc040b7715ba11e5b99854ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="codDestinatario" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">bc040b7915ba11e59f5354ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="dataPrevEntregaPedido" type="xsd:date">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">bc040b7815ba11e59af754ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="idAbastecimento" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">559e3aa5313b11e5c435aaaaaaac9800</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="tipoResidencia" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">bc040b7a15ba11e5c90d54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="codConsumidorFinal" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">bc040b7d15ba11e5888a54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="identVitrineNF" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">bc06938215ba11e5865054ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="setorCN" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">bc06938315ba11e5a81d54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="numeroComunicacao" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">bc06938415ba11e5803954ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="nfe">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">b1c63395978211e588a754ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element minOccurs="0" name="modelo" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c6338e978211e5ac9454ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="serie" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c6338f978211e59dfa54ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="nNF" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c63390978211e58c4854ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="dataEmissao" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c63391978211e5b78754ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="icmsTot">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c63394978211e5c94854ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element minOccurs="0" name="vNF" type="xsd:string">
                                          <xsd:annotation>
                                            <xsd:appinfo source="http://sap.com/xi/TextID">b1c63393978211e5bd9b54ec5bba1438</xsd:appinfo>
                                          </xsd:annotation>
                                        </xsd:element>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="emitente">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">b1c633a6978211e5b25854ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element minOccurs="0" name="cnpj" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c63396978211e5b7ca54ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="nomeEmitente" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c63397978211e5bd8854ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="nomeFantasia" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c63398978211e5873854ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="logradouro" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c63399978211e5c6b954ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="numero" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c6339a978211e58b9254ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="bairro" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c6339b978211e5815254ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="codMunicipio" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c6339c978211e5c58354ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="descMunicipio" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c6339d978211e5bb5454ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="uf" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c6339e978211e592d854ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="cep" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c6339f978211e58ea854ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="pais" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c633a0978211e5b2ff54ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="telefone" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c633a1978211e5856554ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="inscricaoEstadual" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c633a2978211e5add054ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="inscricaoMunicipal" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c633a3978211e59e0354ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="cnae" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c633a4978211e5bda754ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="crt" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">b1c633a5978211e583d354ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="destinatario">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">137912b6978311e59d7e54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element minOccurs="0" name="cnpj" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">137912a7978311e5c11754ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="cpf" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">137912a8978311e5955154ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="nomeDestinatario" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">137912a9978311e589d054ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="logradouro" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">137912ab978311e5c9ec54ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="numero" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">f0559dcc978a11e5845154ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="bairro" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">137912ac978311e5995854ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="codMunicipio" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">137912ad978311e5c1de54ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="descMunicipio" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">137912ae978311e5cd6a54ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="uf" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">137912af978311e5cbac54ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="cep" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">137912b0978311e5823854ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="codPais" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">137912b1978311e5a68d54ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="descPais" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">137912b2978311e5bad154ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="telefone" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">137912b3978311e5c72f54ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="inscricaoEstadual" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:appinfo source="http://sap.com/xi/TextID">137912b5978311e5b94154ec5bba1438</xsd:appinfo>
                                    </xsd:annotation>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="informacoesTransporte">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e3c911fe15ba11e5ae2754ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="codEstabelecimento" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e3c6dc4d15ba11e5847f54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="tipoEntrega" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e3c911f415ba11e5861154ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="grauRisco" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e3c911f515ba11e5932754ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="areaFrete" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e3c911f615ba11e5cdb754ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="codigoRota" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e3c911f715ba11e5a38f54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="periodoEntrega" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e3c911f815ba11e5832154ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="condFrete" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e3c911f915ba11e5ab3754ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="qtdVolumes" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e3c911fa15ba11e594e854ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="pesoBruto" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e3c911fb15ba11e5861f54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="pesoLiquido" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">851fbf0c978411e583fa54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="unidadePeso" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">55a0ab64313b11e5b73daaaaaaac9800</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="volumeCubagem" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e3c911fc15ba11e591d054ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="unidadeVolume" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">851fbf0d978411e5b23f54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="valorFrete" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e3c911fd15ba11e5901054ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="informacoesAdicItemNF">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">83f0f9d623fb11e5910254ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="codMaterial" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">83f0f9d423fb11e5c2ac54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="qtdRevista" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">83f0f9d523fb11e58fa754ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_EnviaParamNotasFiscais">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">af4710d023f911e5c8f100000189c4e2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="dados">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ab71a7b723f911e58b9d54ec5bba1438</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="protocolo" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ab71a7b623f911e5a1c754ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="codTranspMatriz" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_EnviaParamNotasFiscais">
    <wsdl:documentation />
    <wsdl:part name="MT_EnviaParamNotasFiscais" element="p1:MT_EnviaParamNotasFiscais" />
  </wsdl:message>
  <wsdl:message name="MT_RecebeNotasFiscais">
    <wsdl:documentation />
    <wsdl:part name="MT_RecebeNotasFiscais" element="p1:MT_RecebeNotasFiscais" />
  </wsdl:message>
  <wsdl:portType name="SI_RecebeNotaisFiscaisSync_OB">
    <wsdl:documentation />
    <wsdl:operation name="SI_RecebeNotaisFiscaisSync_OB">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_RecebeNotaisFiscaisSync_OB" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_EnviaParamNotasFiscais" />
      <wsdl:output message="p1:MT_RecebeNotasFiscais" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_RecebeNotaisFiscaisSync_OBBinding" type="p1:SI_RecebeNotaisFiscaisSync_OB">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_RecebeNotaisFiscaisSync_OB">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_RecebeNotaisFiscaisSync_OBService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_RecebeNotaisFiscaisSync_OBBinding">
      <address location="http://aslx251br.natura.com.br:50200/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_RecebeNotaisFiscaisSync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FNotasFiscais" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_RecebeNotaisFiscaisSync_OBBinding">
      <address location="https://aslx251br.natura.com.br:50201/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_RecebeNotaisFiscaisSync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FNotasFiscais" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>