Servicos/Service References/ServicosYPE.IntegrarPagamento/SI_OS_RecebeContabilizacao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="urn:multiembarcador:RecebeContabilizacao" name="SI_OS_RecebeContabilizacao" targetNamespace="urn:multiembarcador:RecebeContabilizacao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_OS_RecebeContabilizacao" />
  <wsdl:types>
    <xsd:schema xmlns="urn:multiembarcador:RecebeContabilizacao" targetNamespace="urn:multiembarcador:RecebeContabilizacao" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_RecebeContabilizacao_Resp" type="p1:DT_RecebeContabilizacao_Resp" />
      <xsd:element name="MT_RecebeContabilizacao" type="p1:DT_RecebeContabilizacao" />
      <xsd:complexType name="DT_RecebeContabilizacao_Resp">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">bb26bd41052d11eebb8d00000152c5fa</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="STATUS" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_070">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">393d9e95ad6611ed850600000152c5fa</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="TPREGISTRO" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1bf8763464a11e3cc0e00ffb71e5e68</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="IDDOC" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1bf8764464a11e38d9f00ffb71e5e68</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TPLANCAMENTO" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1bf8765464a11e3940e00ffb71e5e68</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SISCORPORATIVO" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1bf8766464a11e3bb4000ffb71e5e68</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CDREFERENCIA" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1bf8767464a11e3a75b00ffb71e5e68</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CDCOMPANHIA" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1bf8768464a11e3b74900ffb71e5e68</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DTLANCAMENTO" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1bf8769464a11e3ad9e00ffb71e5e68</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DTVENCIMENTO" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1bf876a464a11e396e800ffb71e5e68</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DTEMISSAO" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1bf876b464a11e39b2200ffb71e5e68</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NONF" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1bf876c464a11e3be5a00ffb71e5e68</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CDSERIE" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1bf876d464a11e3b53b00ffb71e5e68</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CDEVENTO" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1bf876e464a11e3b0b500ffb71e5e68</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="REMETENTE" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1bf876f464a11e38c5000ffb71e5e68</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TRANSPORTADORA" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1bf8770464a11e3a2a900ffb71e5e68</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="VALTOTPROV" type="xsd:string" />
          <xsd:element name="ORIGEM" type="xsd:string" />
          <xsd:element name="DESTINO" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_RecebeContabilizacao">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">5fd01e7dae0411edb34800000152c5fa</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Row">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="REG_070" type="p1:DT_070" />
                <xsd:element maxOccurs="unbounded" name="REG_075" type="p1:DT_075" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_075">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">39493335ad6611edad2a00000152c5fa</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="TPREGISTRO" type="xsd:string" />
          <xsd:element name="CDCONTACONTABIL" type="xsd:string" />
          <xsd:element name="DC" type="xsd:string" />
          <xsd:element name="VRLANCAMENTO" type="xsd:string" />
          <xsd:element name="CDITEM" type="xsd:string" />
          <xsd:element name="CDCENTROCUSTO" type="xsd:string" />
          <xsd:element name="NONF" type="xsd:string" />
          <xsd:element name="IDDOCPROV" type="xsd:string" />
          <xsd:element name="TPCONTA" type="xsd:string" />
          <xsd:element name="CDODESPCOMP" type="xsd:string" />
          <xsd:element name="TPRESPDESPACOMP" type="xsd:string" />
          <xsd:element name="NC" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_RecebeContabilizacao">
    <wsdl:documentation />
    <wsdl:part name="MT_RecebeContabilizacao" element="p1:MT_RecebeContabilizacao" />
  </wsdl:message>
  <wsdl:message name="MT_RecebeContabilizacao_Resp">
    <wsdl:documentation />
    <wsdl:part name="MT_RecebeContabilizacao_Resp" element="p1:MT_RecebeContabilizacao_Resp" />
  </wsdl:message>
  <wsdl:portType name="SI_OS_RecebeContabilizacao">
    <wsdl:documentation />
    <wsdl:operation name="SI_OS_RecebeContabilizacao">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_OS_RecebeContabilizacao" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_RecebeContabilizacao" />
      <wsdl:output message="p1:MT_RecebeContabilizacao_Resp" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_OS_RecebeContabilizacaoBinding" type="p1:SI_OS_RecebeContabilizacao">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_OS_RecebeContabilizacao">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_OS_RecebeContabilizacaoService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_OS_RecebeContabilizacaoBinding">
      <address location="http://brampaxpoq01.ype.ind.br:50400/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MULTIEMBARCADOR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_RecebeContabilizacao&amp;interfaceNamespace=urn%3Amultiembarcador%3ARecebeContabilizacao" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_OS_RecebeContabilizacaoBinding">
      <address location="https://brampaxpoq01.ype.ind.br:50401/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MULTIEMBARCADOR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_RecebeContabilizacao&amp;interfaceNamespace=urn%3Amultiembarcador%3ARecebeContabilizacao" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>