Servicos/Service References/ServicoSGT.NFS/NFS11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
  <xs:complexType name="ArrayOfDocumentosCTe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentosCTe" nillable="true" type="tns:DocumentosCTe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentosCTe" nillable="true" type="tns:ArrayOfDocumentosCTe" />
  <xs:complexType name="DocumentosCTe">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveNFe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NCMPredominante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCanhoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroControleCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroReferenciaEDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PINSuframa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentosCTe" nillable="true" type="tns:DocumentosCTe" />
  <xs:complexType name="ArrayOfCTe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CTe" nillable="true" type="tns:CTe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCTe" nillable="true" type="tns:ArrayOfCTe" />
  <xs:complexType name="CTe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Afretamento" type="xs:boolean" />
      <xs:element minOccurs="0" name="AliquotaCofins" type="xs:decimal" />
      <xs:element minOccurs="0" name="AliquotaISS" type="xs:decimal" />
      <xs:element minOccurs="0" name="AliquotaIcmsDestinatario" type="xs:decimal" />
      <xs:element minOccurs="0" name="AliquotaIcmsPobreza" type="xs:decimal" />
      <xs:element minOccurs="0" name="AliquotaIcmsRemetente" type="xs:decimal" />
      <xs:element minOccurs="0" name="AliquotaPis" type="xs:decimal" />
      <xs:element minOccurs="0" name="CFOP" type="xs:int" />
      <xs:element minOccurs="0" name="CTeFaturadoExclusivamente" type="xs:boolean" />
      <xs:element minOccurs="0" name="CTeTitulo" nillable="true" type="tns:CTeTitulo" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" minOccurs="0" name="CentroResultado" nillable="true" type="q1:CentroResultado" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" minOccurs="0" name="CentroResultadoDestinatario" nillable="true" type="q2:CentroResultado" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" minOccurs="0" name="CentroResultadoEscrituracao" nillable="true" type="q3:CentroResultado" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" minOccurs="0" name="CentroResultadoFaturamento" nillable="true" type="q4:CentroResultado" />
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChaveCTeVinculado" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChavesCTeCTM" nillable="true" type="q5:ArrayOfstring" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChavesCTeSVM" nillable="true" type="q6:ArrayOfstring" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Containeres" nillable="true" type="q7:ArrayOfContainer" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" minOccurs="0" name="ContasContabeis" nillable="true" type="q8:ArrayOfContaContabil" />
      <xs:element minOccurs="0" name="DataAnulacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataAutorizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCancelamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataColeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataETA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmbarque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissaoBoleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissaoFatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissaoMDFeVinculado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPreviaVencimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoEntrega" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q9:Pessoa" />
      <xs:element minOccurs="0" name="DocumentoGlobalizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Documentos" nillable="true" type="tns:ArrayOfDocumentosCTe" />
      <xs:element minOccurs="0" name="DocumentosAnterior" nillable="true" type="tns:ArrayOfCTeAnterior" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Expedidor" nillable="true" type="q10:Pessoa" />
      <xs:element minOccurs="0" name="FlagDebitoIcms" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlagDebitoPisCofins" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlagIsendoContribuicoes" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlagIsentoIcms" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlagIsentoPisCofins" type="xs:boolean" />
      <xs:element minOccurs="0" name="InticativoRetencaoIss" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemServico" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="LocalidadeFimPrestacao" nillable="true" type="q11:Localidade" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="LocalidadeInicioPrestacao" nillable="true" type="q12:Localidade" />
      <xs:element minOccurs="0" name="Lotacao" type="xs:boolean" />
      <xs:element minOccurs="0" name="MensagemRetornoSefaz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivoCancelamento" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Motoristas" nillable="true" type="q13:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="MunicipioColeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MunicipioEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MunicipioRemetente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaturezaOperacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaturezaServico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroBoleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCEFEEDER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCEMercante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCTeAnulacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCTeComplementar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCTeDuplicado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCTeOriginal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCTeSubstituto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroControle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroControleCTeAnulacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroControleCTeComplementar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroControleCTeDuplicado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroControleCTeOriginal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroControleCTeSubstituto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMDFeVinculado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroManifesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroManifestoFEEDER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroManifestoTransbordo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroNFSePrefeitura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroProtocoloANTAQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTitulo" type="xs:int" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="ObservacoesContribuinte" nillable="true" type="q14:ArrayOfObservacao" />
      <xs:element minOccurs="0" name="OcorreuSinistroAvaria" type="xs:boolean" />
      <xs:element minOccurs="0" name="PDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDFBoleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentualIcmsDestinatario" type="xs:decimal" />
      <xs:element minOccurs="0" name="PercentualIcmsRemetente" type="xs:decimal" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoCubado" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoFaturado" type="xs:decimal" />
      <xs:element minOccurs="0" name="PossuiCTeComplementar" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrazoPgtoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrazoPgtoSacado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdutoPredominante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocoloAutorizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloCancelamentoInutilizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
      <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProtocolosDePedidos" nillable="true" type="q15:ArrayOfint" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Recebedor" nillable="true" type="q16:Pessoa" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Remetente" nillable="true" type="q17:Pessoa" />
      <xs:element minOccurs="0" name="SFCSacado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serie" type="xs:int" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoCTeSefaz" type="q18:SituacaoCTeSefaz" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="StatusMDFeVinculado" type="q19:StatusMDFe" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoCTE" type="q20:TipoCTE" />
      <xs:element minOccurs="0" name="TipoDocumentoFiscal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoIcms" nillable="true" type="xs:string" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoModal" type="q21:TipoModal" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoOperacao" nillable="true" type="q22:TipoOperacao" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoServico" type="q23:TipoServico" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoTomador" type="q24:TipoTomador" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Tomador" nillable="true" type="q25:Pessoa" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="TransportadoraEmitente" nillable="true" type="q26:Empresa" />
      <xs:element minOccurs="0" name="ValorBaseIcms" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorBaseIcmsDestinatario" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorBaseIcmsPobreza" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorBaseIcmsRemetente" type="xs:decimal" />
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" minOccurs="0" name="ValorFrete" nillable="true" type="q27:FreteValor" />
      <xs:element minOccurs="0" name="ValorIcmsDestinatario" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIcmsPobreza" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIcmsReduzido" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIcmsRemetente" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIss" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorReducao" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTaxaFeeder" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalMercadoria" type="xs:decimal" />
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculo" nillable="true" type="q28:Veiculo" />
      <xs:element minOccurs="0" name="VersaoCTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XMLAutorizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XMLCancelamento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTe" nillable="true" type="tns:CTe" />
  <xs:complexType name="CTeTitulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoletoConfiguracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoletoEnviadoPorEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="BoletoGeradoAutomaticamente" type="xs:boolean" />
      <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="BoletoStatusTitulo" type="q29:BoletoStatusTitulo" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="DataAlteracao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataBaseCRT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataLancamento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataProgramacaoPagamento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataVencimento" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Empresa" nillable="true" type="q30:Empresa" />
      <xs:element minOccurs="0" name="EnviarDocumentacaoFaturamentoCTe" type="xs:boolean" />
      <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="FormaTitulo" type="q31:FormaTitulo" />
      <xs:element minOccurs="0" name="GerarFaturamentoAVista" type="xs:boolean" />
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="GrupoPessoas" nillable="true" type="q32:GrupoPessoa" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="MoedaCotacaoBancoCentral" nillable="true" type="q33:MoedaCotacaoBancoCentral" />
      <xs:element minOccurs="0" name="NossoNumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumentoTituloOriginal" nillable="true" type="xs:string" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Pessoa" nillable="true" type="q34:Pessoa" />
      <xs:element minOccurs="0" name="Sequencia" type="xs:int" />
      <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="StatusTitulo" type="q35:StatusTitulo" />
      <xs:element minOccurs="0" name="TipoDocumentoTituloOriginal" nillable="true" type="xs:string" />
      <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" minOccurs="0" name="TipoMovimento" nillable="true" type="q36:TipoMovimento" />
      <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoTitulo" type="q37:TipoTitulo" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorMoedaCotacao" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorOriginal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorOriginalMoedaEstrangeira" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPendente" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTituloOriginal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTeTitulo" nillable="true" type="tns:CTeTitulo" />
  <xs:complexType name="ArrayOfCTeAnterior">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CTeAnterior" nillable="true" type="tns:CTeAnterior" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCTeAnterior" nillable="true" type="tns:ArrayOfCTeAnterior" />
  <xs:complexType name="CTeAnterior">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJCPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChaveCTe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataHoraEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IERG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notas" nillable="true" type="tns:ArrayOfCTeAnteriorNota" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="PesoTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorMercadoria" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTeAnterior" nillable="true" type="tns:CTeAnterior" />
  <xs:complexType name="ArrayOfCTeAnteriorNota">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CTeAnteriorNota" nillable="true" type="tns:CTeAnteriorNota" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCTeAnteriorNota" nillable="true" type="tns:ArrayOfCTeAnteriorNota" />
  <xs:complexType name="CTeAnteriorNota">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveNFe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NCMPredominante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PINSuframa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenciaEDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTeAnteriorNota" nillable="true" type="tns:CTeAnteriorNota" />
</xs:schema>