Servicos/Service References/ServicoSGT.NFS/NFS6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.NFS" />
  <xs:element name="BuscarNFSs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q1:Protocolos" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q2:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNFSsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarNFSsResult" nillable="true" type="q3:RetornoOfPaginacaoOfNFSYRsas_SFX51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNFSsPorCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q4:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNFSsPorCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarNFSsPorCargaResult" nillable="true" type="q5:RetornoOfPaginacaoOfNFSYRsas_SFX51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNFSsCompletasPorCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q6:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNFSsCompletasPorCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarNFSsCompletasPorCargaResult" nillable="true" type="q7:RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNFSsPorPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataFinal" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q8:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
        <xs:element minOccurs="0" name="codigoTipoOperacao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="situacao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNFSsPorPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarNFSsPorPeriodoResult" nillable="true" type="q9:RetornoOfPaginacaoOfNFSYRsas_SFX51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNFSPorProtocolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloNFS" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q10:TipoDocumentoRetorno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNFSPorProtocoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarNFSPorProtocoloResult" nillable="true" type="q11:RetornoOfNFSYRsas_SFX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNFSesComplementaresAguardandoIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q12:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNFSesComplementaresAguardandoIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarNFSesComplementaresAguardandoIntegracaoResult" nillable="true" type="q13:RetornoOfPaginacaoOfNFSComplementarYRsas_SFX51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNFSAguardandoIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNFSAguardandoIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarNFSAguardandoIntegracaoResult" nillable="true" type="q14:RetornoOfPaginacaoOfint51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNFSe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.NFS" minOccurs="0" name="notasFiscais" nillable="true" type="q15:ArrayOfNFS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNFSeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarNFSeResult" nillable="true" type="q16:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoNFS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloNFS" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoNFSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoNFSResult" nillable="true" type="q17:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoNFSComplementar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloNFS" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoNFSComplementarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoNFSComplementarResult" nillable="true" type="q18:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarRejeicaoNFS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloNFS" type="xs:int" />
        <xs:element minOccurs="0" name="msgRejeicao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarRejeicaoNFSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="InformarRejeicaoNFSResult" nillable="true" type="q19:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNFSsPorOcocorrencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.NFS" minOccurs="0" name="dadosRequest" nillable="true" type="q20:RequestNFSOcorrencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNFSsPorOcocorrenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarNFSsPorOcocorrenciaResult" nillable="true" type="q21:RetornoOfPaginacaoOfNFSYRsas_SFX51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>