Servicos/Service References/ServicoSGT.NFS/NFS9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
  <xs:import schemaLocation="http://localhost:5146/NFS.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Enumerador" />
  <xs:complexType name="ArrayOfModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeloVeicular" nillable="true" type="tns:ModeloVeicular" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeloVeicular" nillable="true" type="tns:ArrayOfModeloVeicular" />
  <xs:complexType name="ModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="CodigoAgrupamentoCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoInterno" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DivisaoCapacidade" nillable="true" type="tns:ArrayOfDivisaoCapacidadeModeloVeicular" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeExtraExcedenteTolerado" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoModeloVeicular" type="q1:TipoModeloVeicularCarga" />
      <xs:element minOccurs="0" name="ToleranciaExtra" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloVeicular" nillable="true" type="tns:ModeloVeicular" />
  <xs:complexType name="ArrayOfDivisaoCapacidadeModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DivisaoCapacidadeModeloVeicular" nillable="true" type="tns:DivisaoCapacidadeModeloVeicular" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDivisaoCapacidadeModeloVeicular" nillable="true" type="tns:ArrayOfDivisaoCapacidadeModeloVeicular" />
  <xs:complexType name="DivisaoCapacidadeModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Coluna" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Piso" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadeDeMedida" nillable="true" type="tns:UnidadeDeMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivisaoCapacidadeModeloVeicular" nillable="true" type="tns:DivisaoCapacidadeModeloVeicular" />
  <xs:complexType name="UnidadeDeMedida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="UnidadeMedida" type="q2:UnidadeMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadeDeMedida" nillable="true" type="tns:UnidadeDeMedida" />
  <xs:complexType name="ArrayOfTipoOperacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoOperacao" nillable="true" type="tns:TipoOperacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoOperacao" nillable="true" type="tns:ArrayOfTipoOperacao" />
  <xs:complexType name="TipoOperacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="BloquearEmissaoDeEntidadeSemCadastro" type="xs:boolean" />
      <xs:element minOccurs="0" name="BloquearEmissaoDosDestinatario" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CNPJsDaOperacao" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CNPJsDestinatariosNaoAutorizados" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="ModalPropostaMultimodal" type="q5:ModalPropostaMultimodal" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoCobrancaMultimodal" type="q6:TipoCobrancaMultimodal" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoPropostaMultimodal" type="q7:TipoPropostaMultimodal" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoServicoMultimodal" type="q8:TipoServicoMultimodal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoOperacao" nillable="true" type="tns:TipoOperacao" />
  <xs:complexType name="ArrayOfMotorista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Motorista" nillable="true" type="tns:Motorista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMotorista" nillable="true" type="tns:ArrayOfMotorista" />
  <xs:complexType name="Motorista">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ativo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoriaCNH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="DadosBancarios" nillable="true" type="q9:DadosBancarios" />
      <xs:element minOccurs="0" name="DataAdmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataDemissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissaoRG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataHabilitacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSuspensaoFim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSuspensaoInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataValidadeGR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataVencimentoHabilitacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Endereco" nillable="true" type="q10:Endereco" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Escolaridade" nillable="true" type="q11:Escolaridade" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="EstadoCivil" nillable="true" type="q12:EstadoCivil" />
      <xs:element minOccurs="0" name="EstadoRG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaContatos" nillable="true" type="tns:ArrayOfMotoristaContato" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="ListaDadosBancarios" nillable="true" type="q13:ArrayOfDadosBancarios" />
      <xs:element minOccurs="0" name="MotivoBloqueio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCartao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroHabilitacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPISPASEP" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Enumerador" minOccurs="0" name="OrgaoEmissorRG" nillable="true" type="q14:OrgaoEmissorRG" />
      <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoColaborador" nillable="true" type="q15:SituacaoColaborador" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Transportador" nillable="true" type="q16:Empresa" />
      <xs:element minOccurs="0" name="UtilizaMultiMobile" nillable="true" type="xs:boolean" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoMotorista" type="q17:TipoMotorista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Motorista" nillable="true" type="tns:Motorista" />
  <xs:complexType name="ArrayOfMotoristaContato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MotoristaContato" nillable="true" type="tns:MotoristaContato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMotoristaContato" nillable="true" type="tns:ArrayOfMotoristaContato" />
  <xs:complexType name="MotoristaContato">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoParentesco" type="q18:TipoParentesco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MotoristaContato" nillable="true" type="tns:MotoristaContato" />
  <xs:complexType name="ArrayOfAnexo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Anexo" nillable="true" type="tns:Anexo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnexo" nillable="true" type="tns:ArrayOfAnexo" />
  <xs:complexType name="Anexo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arquivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extensao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Anexo" nillable="true" type="tns:Anexo" />
  <xs:complexType name="ArrayOfContainer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Container" nillable="true" type="tns:Container" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContainer" nillable="true" type="tns:ArrayOfContainer" />
  <xs:complexType name="Container">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIntegracao" type="xs:int" />
      <xs:element minOccurs="0" name="DencidadeProduto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InativarCadastro" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lacre1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lacre2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lacre3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PesoLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tara" type="xs:int" />
      <xs:element minOccurs="0" name="TipoContainer" nillable="true" type="tns:TipoContainer" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoPropriedade" type="q19:TipoPropriedadeContainer" />
      <xs:element minOccurs="0" name="Volume" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Container" nillable="true" type="tns:Container" />
  <xs:complexType name="TipoContainer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FFE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InativarCadastro" type="xs:boolean" />
      <xs:element minOccurs="0" name="MetrosCubicos" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoMaximo" type="xs:decimal" />
      <xs:element minOccurs="0" name="TEU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tara" type="xs:decimal" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoContainer" nillable="true" type="tns:TipoContainer" />
</xs:schema>