Servicos/Service References/ServicoAX.Complemento/xppservice7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/MultiCTEComplSalesInv" />
  <xs:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/MultiCTESalesCompInvoice" />
  <xs:element name="MultiCTECompSalesInvServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/dynamics/2008/01/documents/MultiCTEComplSalesInv" minOccurs="0" ref="q1:MultiCTEComplSalesInv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiCTECompSalesInvServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q2:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiCTECompSalesInvServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q3:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiCTECompSalesInvServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/MultiCTEComplSalesInv" minOccurs="0" ref="q4:MultiCTEComplSalesInv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiCTECompSalesInvServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q5:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiCTECompSalesInvServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/MultiCTEComplSalesInv" minOccurs="0" ref="q6:MultiCTEComplSalesInv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiCTESalesCompInvServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q7:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiCTESalesCompInvServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/MultiCTESalesCompInvoice" minOccurs="0" ref="q8:MultiCTESalesCompInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiCTESalesCompInvServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/dynamics/2008/01/documents/MultiCTESalesCompInvoice" minOccurs="0" ref="q9:MultiCTESalesCompInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiCTESalesCompInvServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q10:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>