Servicos/Service References/ServicoAX.Complemento/xppservice3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/MultiCTESalesCompInvoice" xmlns:st="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/MultiCTESalesCompInvoice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
  <xs:element name="MultiCTESalesCompInvoice" type="tns:AxdMultiCTESalesCompInvoice" />
  <xs:complexType name="AxdMultiCTESalesCompInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearNilFieldsOnUpdate" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="st:AxdEnum_XMLDocPurpose" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesCompInvoive" type="tns:AxdEntity_SalesCompInvoive" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxdEntity_SalesCompInvoive">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="AccountingDistributionTemplate" nillable="true" type="st:AxdExtType_TemplateName" />
      <xs:element minOccurs="0" name="CashDisc" nillable="true" type="st:AxdExtType_CustCashDiscCode" />
      <xs:element minOccurs="0" name="CashDiscDate" nillable="true" type="st:AxdExtType_CustCashDiscDate" />
      <xs:element minOccurs="0" name="CashDiscPercent" nillable="true" type="st:AxdExtType_DiscPct" />
      <xs:element minOccurs="0" name="ComplementaryType" nillable="true" type="st:AxdEnum_InvoiceComplementaryType_BR" />
      <xs:element minOccurs="0" name="ComplementedFiscalDocument" nillable="true" type="st:AxdEntityKey_FiscalDocument_BR" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="st:AxdExtType_CustCurrencyCode" />
      <xs:element minOccurs="0" name="CustBankAccountID" nillable="true" type="st:AxdExtType_CustBankAccountId" />
      <xs:element minOccurs="0" name="CustFinalUser" nillable="true" type="st:AxdExtType_CustVendFinalUser_BR" />
      <xs:element minOccurs="0" name="CustPaymModeSpec" nillable="true" type="st:AxdExtType_PaymSpec" />
      <xs:element minOccurs="0" name="CustPaymModeTable" nillable="true" type="st:AxdExtType_CustPaymMode" />
      <xs:element minOccurs="0" name="CustTable" nillable="true" type="st:AxdExtType_CustAccount" />
      <xs:element minOccurs="0" name="DefaultDimension" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="DocumentDate" nillable="true" type="st:AxdExtType_DocumentDate" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="st:AxdExtType_DueDate" />
      <xs:element minOccurs="0" name="FiscalDocumentNumber" nillable="true" type="st:AxdExtType_InvoiceId" />
      <xs:element minOccurs="0" name="FiscalDocumentType_BR" nillable="true" type="st:AxdEntityKey_FiscalDocumentType_BR" />
      <xs:element minOccurs="0" name="FiscalEstablishment_BR" nillable="true" type="st:AxdExtType_FiscalEstablishmentId_BR" />
      <xs:element minOccurs="0" name="LedgerVoucher" nillable="true" type="st:AxdExtType_Voucher" />
      <xs:element minOccurs="0" name="PaymSched" nillable="true" type="st:AxdExtType_PaymSchedId" />
      <xs:element minOccurs="0" name="PaymTerm" nillable="true" type="st:AxdExtType_CustPaymTermId" />
      <xs:element minOccurs="0" name="PostingProfile" nillable="true" type="st:AxdExtType_CustPostingProfile" />
      <xs:element minOccurs="0" name="ReasonTableRef_BR" nillable="true" type="st:AxdExtType_ReasonTableRefRecId" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="st:AxdEnum_ComplementaryInvoiceStatus" />
      <xs:element minOccurs="0" name="ThirdPartyLogisticsPostalAddress" nillable="true" type="st:AxdEntityKey_LogisticsPostalAddress" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="st:AxdExtType_AmountMST" />
      <xs:element minOccurs="0" name="WSYSAccountCNPJCPF" nillable="true" type="st:AxdExtType_WSYSAccountCNPJCPF" />
      <xs:element minOccurs="0" name="WSYSIENum" nillable="true" type="st:AxdExtType_IENum_BR" />
      <xs:element minOccurs="0" name="WSYSIntegrated" nillable="true" type="st:AxdExtType_WSYSIntegrated" />
      <xs:element minOccurs="0" name="MultiCTEIntegrated" nillable="true" type="st:AxdExtType_MultiCTEIntegrated" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesCompInvLine" type="tns:AxdEntity_SalesCompInvLine" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CTESalesCompInvoice" type="tns:AxdEntity_CTESalesCompInvoice" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_SalesCompInvLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="AccountingDistributionTemplate" nillable="true" type="st:AxdExtType_TemplateName" />
      <xs:element minOccurs="0" name="AdditionalICMSAmount" nillable="true" type="st:AxdExtType_TaxAmount" />
      <xs:element minOccurs="0" name="AdditionalIPIAmount" nillable="true" type="st:AxdExtType_TaxAmount" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="CFOPTable_BR" nillable="true" type="st:AxdExtType_CustVendCFOPId_BR" />
      <xs:element minOccurs="0" name="CorrectedAmount" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="st:AxdExtType_Description" />
      <xs:element minOccurs="0" name="InventDim" nillable="true" type="st:AxdExtType_InventDimId" />
      <xs:element minOccurs="0" name="ItemCode" nillable="true" type="st:AxdExtType_ItemIdSmall" />
      <xs:element minOccurs="0" name="LedgerDimension" nillable="true" type="st:AxdType_DefaultAccount" />
      <xs:element minOccurs="0" name="LineNum" nillable="true" type="st:AxdExtType_LineNum" />
      <xs:element minOccurs="0" name="OriginalLineAmount" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="ProjCategory" nillable="true" type="st:AxdExtType_ProjCategoryId" />
      <xs:element minOccurs="0" name="ProjFundingSource" nillable="true" type="st:AxdEntityKey_ProjFundingSource" />
      <xs:element minOccurs="0" name="ProjTable" nillable="true" type="st:AxdExtType_ProjId" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="st:AxdExtType_InvoiceQuantity" />
      <xs:element minOccurs="0" name="TaxGroup" nillable="true" type="st:AxdExtType_TaxGroup" />
      <xs:element minOccurs="0" name="TaxItemGroup" nillable="true" type="st:AxdExtType_TaxItemGroup" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventDimDS" type="tns:AxdEntity_InventDimDS" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_InventDimDS">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="inventDimId" nillable="true" type="st:AxdExtType_InventDimId" />
      <xs:element minOccurs="0" name="inventBatchId" nillable="true" type="st:AxdExtType_InventBatchId" />
      <xs:element minOccurs="0" name="wMSLocationId" nillable="true" type="st:AxdExtType_WMSLocationId" />
      <xs:element minOccurs="0" name="wMSPalletId" nillable="true" type="st:AxdExtType_WMSPalletId" />
      <xs:element minOccurs="0" name="inventSerialId" nillable="true" type="st:AxdExtType_InventSerialId" />
      <xs:element minOccurs="0" name="InventLocationId" nillable="true" type="st:AxdExtType_InventLocationId" />
      <xs:element minOccurs="0" name="configId" nillable="true" type="st:AxdExtType_EcoResItemConfigurationName" />
      <xs:element minOccurs="0" name="InventSizeId" nillable="true" type="st:AxdExtType_EcoResItemSizeName" />
      <xs:element minOccurs="0" name="InventColorId" nillable="true" type="st:AxdExtType_EcoResItemColorName" />
      <xs:element minOccurs="0" name="InventSiteId" nillable="true" type="st:AxdExtType_InventSiteId" />
      <xs:element minOccurs="0" name="InventGtdId_RU" nillable="true" type="st:AxdExtType_InventGTDId_RU" />
      <xs:element minOccurs="0" name="InventProfileId_RU" nillable="true" type="st:AxdExtType_InventProfileId_RU" />
      <xs:element minOccurs="0" name="InventOwnerId_RU" nillable="true" type="st:AxdExtType_InventOwnerId_RU" />
      <xs:element minOccurs="0" name="InventStyleId" nillable="true" type="st:AxdExtType_EcoResItemStyleName" />
      <xs:element minOccurs="0" name="LicensePlateId" nillable="true" type="st:AxdExtType_WHSLicensePlateId" />
      <xs:element minOccurs="0" name="InventStatusId" nillable="true" type="st:AxdExtType_WHSInventStatusId" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_CTESalesCompInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="AccessKey" nillable="true" type="st:AxdExtType_EFDocAccessKey_BR" />
      <xs:element minOccurs="0" name="Agreement" nillable="true" type="st:AxdExtType_WSYSAgreement" />
      <xs:element minOccurs="0" name="COFINSAmount" nillable="true" type="st:AxdExtType_TaxAmount" />
      <xs:element minOccurs="0" name="ICMSAmount" nillable="true" type="st:AxdExtType_TaxAmount" />
      <xs:element minOccurs="0" name="IntegrationDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="InvoiceDate" nillable="true" type="st:AxdExtType_FiscalDocumentDate_BR" />
      <xs:element minOccurs="0" name="InvoicePostDate" nillable="true" type="st:AxdExtType_FiscalDocumentDate_BR" />
      <xs:element minOccurs="0" name="IPIAmount" nillable="true" type="st:AxdExtType_TaxAmount" />
      <xs:element minOccurs="0" name="IsThirdPartyInvoice" nillable="true" type="st:AxdExtType_WSYSIsThirdPartyInvoice" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="st:AxdExtType_FiscalDocumentModel_BR" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="st:AxdExtType_Num" />
      <xs:element minOccurs="0" name="PISAmount" nillable="true" type="st:AxdExtType_TaxAmount" />
      <xs:element minOccurs="0" name="RefAccessKey" nillable="true" type="st:AxdExtType_EFDocAccessKey_BR" />
      <xs:element minOccurs="0" name="RefNumber" nillable="true" type="st:AxdExtType_Num" />
      <xs:element minOccurs="0" name="SalesComplementaryInvoiceHeader" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="Series" nillable="true" type="st:AxdExtType_FiscalDocumentSeries_BR" />
      <xs:element minOccurs="0" name="SiteCNPJ" nillable="true" type="st:AxdExtType_WSYSSiteCNPJ" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
</xs:schema>