Servicos/Service References/ServicoAX.Complemento/xppservice1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd8" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd11" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/MultiCTEComplSalesInv" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/MultiCTESalesCompInvoice" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MultiCTECompSalesInvServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:MultiCTECompSalesInvServiceCreateRequest" />
  </wsdl:message>
  <wsdl:message name="MultiCTECompSalesInvServiceCreateRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="MultiCTECompSalesInvServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:MultiCTECompSalesInvServiceCreateResponse" />
  </wsdl:message>
  <wsdl:message name="MultiCTECompSalesInvService_create_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="MultiCTECompSalesInvServiceReadRequest">
    <wsdl:part name="parameters" element="tns:MultiCTECompSalesInvServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="MultiCTECompSalesInvServiceReadRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="MultiCTECompSalesInvServiceReadResponse">
    <wsdl:part name="parameters" element="tns:MultiCTECompSalesInvServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="MultiCTECompSalesInvService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="MultiCTECompSalesInvServiceFindRequest">
    <wsdl:part name="parameters" element="tns:MultiCTECompSalesInvServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="MultiCTECompSalesInvServiceFindRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="MultiCTECompSalesInvServiceFindResponse">
    <wsdl:part name="parameters" element="tns:MultiCTECompSalesInvServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="MultiCTECompSalesInvService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="MultiCTESalesCompInvServiceReadRequest">
    <wsdl:part name="parameters" element="tns:MultiCTESalesCompInvServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="MultiCTESalesCompInvServiceReadRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="MultiCTESalesCompInvServiceReadResponse">
    <wsdl:part name="parameters" element="tns:MultiCTESalesCompInvServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="MultiCTESalesCompInvService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="MultiCTESalesCompInvServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:MultiCTESalesCompInvServiceCreateRequest" />
  </wsdl:message>
  <wsdl:message name="MultiCTESalesCompInvServiceCreateRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="MultiCTESalesCompInvServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:MultiCTESalesCompInvServiceCreateResponse" />
  </wsdl:message>
  <wsdl:message name="MultiCTESalesCompInvService_create_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:portType name="MultiCTECompSalesInvService">
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/MultiCTECompSalesInvService/create" name="MultiCTECompSalesInvServiceCreateRequest" message="tns:MultiCTECompSalesInvServiceCreateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MultiCTECompSalesInvService/createResponse" name="MultiCTECompSalesInvServiceCreateResponse" message="tns:MultiCTECompSalesInvServiceCreateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MultiCTECompSalesInvService/createAifFaultFault" name="AifFaultFault" message="tns:MultiCTECompSalesInvService_create_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/MultiCTECompSalesInvService/read" name="MultiCTECompSalesInvServiceReadRequest" message="tns:MultiCTECompSalesInvServiceReadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MultiCTECompSalesInvService/readResponse" name="MultiCTECompSalesInvServiceReadResponse" message="tns:MultiCTECompSalesInvServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MultiCTECompSalesInvService/readAifFaultFault" name="AifFaultFault" message="tns:MultiCTECompSalesInvService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/MultiCTECompSalesInvService/find" name="MultiCTECompSalesInvServiceFindRequest" message="tns:MultiCTECompSalesInvServiceFindRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MultiCTECompSalesInvService/findResponse" name="MultiCTECompSalesInvServiceFindResponse" message="tns:MultiCTECompSalesInvServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MultiCTECompSalesInvService/findAifFaultFault" name="AifFaultFault" message="tns:MultiCTECompSalesInvService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MultiCTESalesCompInvService">
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/MultiCTESalesCompInvService/read" name="MultiCTESalesCompInvServiceReadRequest" message="tns:MultiCTESalesCompInvServiceReadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MultiCTESalesCompInvService/readResponse" name="MultiCTESalesCompInvServiceReadResponse" message="tns:MultiCTESalesCompInvServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MultiCTESalesCompInvService/readAifFaultFault" name="AifFaultFault" message="tns:MultiCTESalesCompInvService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/MultiCTESalesCompInvService/create" name="MultiCTESalesCompInvServiceCreateRequest" message="tns:MultiCTESalesCompInvServiceCreateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MultiCTESalesCompInvService/createResponse" name="MultiCTESalesCompInvServiceCreateResponse" message="tns:MultiCTESalesCompInvServiceCreateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MultiCTESalesCompInvService/createAifFaultFault" name="AifFaultFault" message="tns:MultiCTESalesCompInvService_create_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>