Servicos/Service References/ServicoSIC/IntegracaoSVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntegracaoSVC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd3" namespace="Jsl_Header" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEnums" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" />
      <xsd:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntegracao_ObterListaCadastrosSIC_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterListaCadastrosSIC" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterListaCadastrosSIC_InputMessage_Headers">
    <wsdl:part xmlns:q1="Jsl_Header" name="JSLHeader" element="q1:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterListaCadastrosSIC_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterListaCadastrosSICResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterCadastroSIC_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterCadastroSIC" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterCadastroSIC_InputMessage_Headers">
    <wsdl:part xmlns:q2="Jsl_Header" name="JSLHeader" element="q2:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterCadastroSIC_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterCadastroSICResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaClienteBalcao_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarListaClienteBalcao" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaClienteBalcao_InputMessage_Headers">
    <wsdl:part xmlns:q3="Jsl_Header" name="JSLHeader" element="q3:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaClienteBalcao_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarListaClienteBalcaoResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaClienteTerceiro_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarListaClienteTerceiro" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaClienteTerceiro_InputMessage_Headers">
    <wsdl:part xmlns:q4="Jsl_Header" name="JSLHeader" element="q4:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaClienteTerceiro_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarListaClienteTerceiroResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarListaCliente" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaCliente_InputMessage_Headers">
    <wsdl:part xmlns:q5="Jsl_Header" name="JSLHeader" element="q5:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarListaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaTransportadora_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarListaTransportadora" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaTransportadora_InputMessage_Headers">
    <wsdl:part xmlns:q6="Jsl_Header" name="JSLHeader" element="q6:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaTransportadora_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarListaTransportadoraResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaMotorista_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarListaMotorista" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaMotorista_InputMessage_Headers">
    <wsdl:part xmlns:q7="Jsl_Header" name="JSLHeader" element="q7:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaMotorista_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarListaMotoristaResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaFornecedor_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarListaFornecedor" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaFornecedor_InputMessage_Headers">
    <wsdl:part xmlns:q8="Jsl_Header" name="JSLHeader" element="q8:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarListaFornecedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarListaFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarCadastro_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarCadastro" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarCadastro_InputMessage_Headers">
    <wsdl:part xmlns:q9="Jsl_Header" name="JSLHeader" element="q9:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarCadastro_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarCadastroResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarCadastroMovida_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarCadastroMovida" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarCadastroMovida_InputMessage_Headers">
    <wsdl:part xmlns:q10="Jsl_Header" name="JSLHeader" element="q10:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_SalvarCadastroMovida_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarCadastroMovidaResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterInformacaoProtocoloInclusaoCadastro_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterInformacaoProtocoloInclusaoCadastro" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterInformacaoProtocoloInclusaoCadastro_InputMessage_Headers">
    <wsdl:part xmlns:q11="Jsl_Header" name="JSLHeader" element="q11:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterInformacaoProtocoloInclusaoCadastro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterInformacaoProtocoloInclusaoCadastroResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterInformacaoCadastroClientePJ_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterInformacaoCadastroClientePJ" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterInformacaoCadastroClientePJ_InputMessage_Headers">
    <wsdl:part xmlns:q12="Jsl_Header" name="JSLHeader" element="q12:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterInformacaoCadastroClientePJ_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterInformacaoCadastroClientePJResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ConfirmarRecebimentoListaCadastrosSIC_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarRecebimentoListaCadastrosSIC" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ConfirmarRecebimentoListaCadastrosSIC_InputMessage_Headers">
    <wsdl:part xmlns:q13="Jsl_Header" name="JSLHeader" element="q13:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ConfirmarRecebimentoListaCadastrosSIC_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarRecebimentoListaCadastrosSICResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterListaProtocoloAplicacao_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterListaProtocoloAplicacao" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterListaProtocoloAplicacao_InputMessage_Headers">
    <wsdl:part xmlns:q14="Jsl_Header" name="JSLHeader" element="q14:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterListaProtocoloAplicacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterListaProtocoloAplicacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_AtualizarStatusProtocoloAplicacao_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarStatusProtocoloAplicacao" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_AtualizarStatusProtocoloAplicacao_InputMessage_Headers">
    <wsdl:part xmlns:q15="Jsl_Header" name="JSLHeader" element="q15:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_AtualizarStatusProtocoloAplicacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarStatusProtocoloAplicacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterListaProtocoloAplicacaoChancela_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterListaProtocoloAplicacaoChancela" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterListaProtocoloAplicacaoChancela_InputMessage_Headers">
    <wsdl:part xmlns:q16="Jsl_Header" name="JSLHeader" element="q16:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_ObterListaProtocoloAplicacaoChancela_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterListaProtocoloAplicacaoChancelaResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_AtualizarChancelaProtocoloAplicacao_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarChancelaProtocoloAplicacao" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_AtualizarChancelaProtocoloAplicacao_InputMessage_Headers">
    <wsdl:part xmlns:q17="Jsl_Header" name="JSLHeader" element="q17:JSLHeader" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_AtualizarChancelaProtocoloAplicacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarChancelaProtocoloAplicacaoResponse" />
  </wsdl:message>
  <wsdl:portType name="IIntegracao">
    <wsdl:operation name="ObterListaCadastrosSIC">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/ObterListaCadastrosSIC" message="tns:IIntegracao_ObterListaCadastrosSIC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/ObterListaCadastrosSICResponse" message="tns:IIntegracao_ObterListaCadastrosSIC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterCadastroSIC">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/ObterCadastroSIC" message="tns:IIntegracao_ObterCadastroSIC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/ObterCadastroSICResponse" message="tns:IIntegracao_ObterCadastroSIC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarListaClienteBalcao">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/SalvarListaClienteBalcao" message="tns:IIntegracao_SalvarListaClienteBalcao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/SalvarListaClienteBalcaoResponse" message="tns:IIntegracao_SalvarListaClienteBalcao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarListaClienteTerceiro">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/SalvarListaClienteTerceiro" message="tns:IIntegracao_SalvarListaClienteTerceiro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/SalvarListaClienteTerceiroResponse" message="tns:IIntegracao_SalvarListaClienteTerceiro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarListaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/SalvarListaCliente" message="tns:IIntegracao_SalvarListaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/SalvarListaClienteResponse" message="tns:IIntegracao_SalvarListaCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarListaTransportadora">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/SalvarListaTransportadora" message="tns:IIntegracao_SalvarListaTransportadora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/SalvarListaTransportadoraResponse" message="tns:IIntegracao_SalvarListaTransportadora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarListaMotorista">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/SalvarListaMotorista" message="tns:IIntegracao_SalvarListaMotorista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/SalvarListaMotoristaResponse" message="tns:IIntegracao_SalvarListaMotorista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarListaFornecedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/SalvarListaFornecedor" message="tns:IIntegracao_SalvarListaFornecedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/SalvarListaFornecedorResponse" message="tns:IIntegracao_SalvarListaFornecedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarCadastro">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/SalvarCadastro" message="tns:IIntegracao_SalvarCadastro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/SalvarCadastroResponse" message="tns:IIntegracao_SalvarCadastro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarCadastroMovida">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/SalvarCadastroMovida" message="tns:IIntegracao_SalvarCadastroMovida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/SalvarCadastroMovidaResponse" message="tns:IIntegracao_SalvarCadastroMovida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterInformacaoProtocoloInclusaoCadastro">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/ObterInformacaoProtocoloInclusaoCadastro" message="tns:IIntegracao_ObterInformacaoProtocoloInclusaoCadastro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/ObterInformacaoProtocoloInclusaoCadastroResponse" message="tns:IIntegracao_ObterInformacaoProtocoloInclusaoCadastro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterInformacaoCadastroClientePJ">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/ObterInformacaoCadastroClientePJ" message="tns:IIntegracao_ObterInformacaoCadastroClientePJ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/ObterInformacaoCadastroClientePJResponse" message="tns:IIntegracao_ObterInformacaoCadastroClientePJ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarRecebimentoListaCadastrosSIC">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/ConfirmarRecebimentoListaCadastrosSIC" message="tns:IIntegracao_ConfirmarRecebimentoListaCadastrosSIC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/ConfirmarRecebimentoListaCadastrosSICResponse" message="tns:IIntegracao_ConfirmarRecebimentoListaCadastrosSIC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterListaProtocoloAplicacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/ObterListaProtocoloAplicacao" message="tns:IIntegracao_ObterListaProtocoloAplicacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/ObterListaProtocoloAplicacaoResponse" message="tns:IIntegracao_ObterListaProtocoloAplicacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarStatusProtocoloAplicacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/AtualizarStatusProtocoloAplicacao" message="tns:IIntegracao_AtualizarStatusProtocoloAplicacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/AtualizarStatusProtocoloAplicacaoResponse" message="tns:IIntegracao_AtualizarStatusProtocoloAplicacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterListaProtocoloAplicacaoChancela">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/ObterListaProtocoloAplicacaoChancela" message="tns:IIntegracao_ObterListaProtocoloAplicacaoChancela_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/ObterListaProtocoloAplicacaoChancelaResponse" message="tns:IIntegracao_ObterListaProtocoloAplicacaoChancela_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarChancelaProtocoloAplicacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/AtualizarChancelaProtocoloAplicacao" message="tns:IIntegracao_AtualizarChancelaProtocoloAplicacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/AtualizarChancelaProtocoloAplicacaoResponse" message="tns:IIntegracao_AtualizarChancelaProtocoloAplicacao_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIntegracao" type="tns:IIntegracao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterListaCadastrosSIC">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/ObterListaCadastrosSIC" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_ObterListaCadastrosSIC_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterCadastroSIC">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/ObterCadastroSIC" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_ObterCadastroSIC_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarListaClienteBalcao">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/SalvarListaClienteBalcao" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_SalvarListaClienteBalcao_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarListaClienteTerceiro">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/SalvarListaClienteTerceiro" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_SalvarListaClienteTerceiro_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarListaCliente">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/SalvarListaCliente" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_SalvarListaCliente_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarListaTransportadora">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/SalvarListaTransportadora" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_SalvarListaTransportadora_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarListaMotorista">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/SalvarListaMotorista" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_SalvarListaMotorista_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarListaFornecedor">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/SalvarListaFornecedor" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_SalvarListaFornecedor_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarCadastro">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/SalvarCadastro" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_SalvarCadastro_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarCadastroMovida">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/SalvarCadastroMovida" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_SalvarCadastroMovida_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterInformacaoProtocoloInclusaoCadastro">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/ObterInformacaoProtocoloInclusaoCadastro" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_ObterInformacaoProtocoloInclusaoCadastro_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterInformacaoCadastroClientePJ">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/ObterInformacaoCadastroClientePJ" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_ObterInformacaoCadastroClientePJ_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarRecebimentoListaCadastrosSIC">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/ConfirmarRecebimentoListaCadastrosSIC" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_ConfirmarRecebimentoListaCadastrosSIC_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterListaProtocoloAplicacao">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/ObterListaProtocoloAplicacao" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_ObterListaProtocoloAplicacao_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarStatusProtocoloAplicacao">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/AtualizarStatusProtocoloAplicacao" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_AtualizarStatusProtocoloAplicacao_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterListaProtocoloAplicacaoChancela">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/ObterListaProtocoloAplicacaoChancela" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_ObterListaProtocoloAplicacaoChancela_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarChancelaProtocoloAplicacao">
      <soap:operation soapAction="http://tempuri.org/IIntegracao/AtualizarChancelaProtocoloAplicacao" style="document" />
      <wsdl:input>
        <soap:header message="tns:IIntegracao_AtualizarChancelaProtocoloAplicacao_InputMessage_Headers" part="JSLHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegracaoSVC">
    <wsdl:port name="BasicHttpBinding_IIntegracao" binding="tns:BasicHttpBinding_IIntegracao">
      <soap:address location="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>