Servicos/Service References/ServicoSIC/IntegracaoSVC1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="EnumTipoPessoaDTC">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PessoaFisica">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PessoaJuridica">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PessoaEstrangeiraFisica">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PessoaEstrangeiraJuridica">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumTipoPessoaDTC" nillable="true" type="tns:EnumTipoPessoaDTC" />
  <xs:simpleType name="EnumRetornoDTC">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sucesso" />
      <xs:enumeration value="Erro" />
      <xs:enumeration value="ErroCampoObrigatorio" />
      <xs:enumeration value="ErroCampoFormatoInvalido" />
      <xs:enumeration value="ErroValidacao" />
      <xs:enumeration value="AutorizacaoNegada" />
      <xs:enumeration value="TimeoutAplicacao" />
      <xs:enumeration value="TimeoutFuncional" />
      <xs:enumeration value="UsuarioFuncionalNaoAtenticaco" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumRetornoDTC" nillable="true" type="tns:EnumRetornoDTC" />
  <xs:simpleType name="EnumTipoRangeDTC">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Par">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Impar">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Intervalo">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumTipoRangeDTC" nillable="true" type="tns:EnumTipoRangeDTC" />
</xs:schema>