Servicos/Service References/ServicoSIC/IntegracaoSVC5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" />
  <xs:complexType name="RespostaDTCArrayOfDadosCadastroIntegracaoDTC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfDadosCadastroIntegracaoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfArrayOfDadosCadastroIntegracaoDTCEnumRetornoDTCqUmeDxX1">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCArrayOfDadosCadastroIntegracaoDTC" nillable="true" type="tns:RespostaDTCArrayOfDadosCadastroIntegracaoDTC" />
  <xs:complexType name="RetornoDTCOfArrayOfDadosCadastroIntegracaoDTCEnumRetornoDTCqUmeDxX1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfDadosCadastroIntegracaoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q1:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" minOccurs="0" name="Retorno" nillable="true" type="q2:ArrayOfDadosCadastroIntegracaoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q3:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfArrayOfDadosCadastroIntegracaoDTCEnumRetornoDTCqUmeDxX1" nillable="true" type="tns:RetornoDTCOfArrayOfDadosCadastroIntegracaoDTCEnumRetornoDTCqUmeDxX1" />
  <xs:complexType name="RespostaDTCDadosCadastroIntegracaoDTC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DadosCadastroIntegracaoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfDadosCadastroIntegracaoDTCEnumRetornoDTCqUmeDxX1">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCDadosCadastroIntegracaoDTC" nillable="true" type="tns:RespostaDTCDadosCadastroIntegracaoDTC" />
  <xs:complexType name="RetornoDTCOfDadosCadastroIntegracaoDTCEnumRetornoDTCqUmeDxX1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DadosCadastroIntegracaoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q4:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" minOccurs="0" name="Retorno" nillable="true" type="q5:DadosCadastroIntegracaoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q6:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfDadosCadastroIntegracaoDTCEnumRetornoDTCqUmeDxX1" nillable="true" type="tns:RetornoDTCOfDadosCadastroIntegracaoDTCEnumRetornoDTCqUmeDxX1" />
  <xs:complexType name="RespostaDTCstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfstringEnumRetornoDTC2LV2fjlZ">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCstring" nillable="true" type="tns:RespostaDTCstring" />
  <xs:complexType name="RetornoDTCOfstringEnumRetornoDTC2LV2fjlZ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q7:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Retorno" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q8:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfstringEnumRetornoDTC2LV2fjlZ" nillable="true" type="tns:RetornoDTCOfstringEnumRetornoDTC2LV2fjlZ" />
  <xs:complexType name="RespostaDTCDetalheInclusaoCadastroDTC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DetalheInclusaoCadastroDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfDetalheInclusaoCadastroDTCEnumRetornoDTCqUmeDxX1">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCDetalheInclusaoCadastroDTC" nillable="true" type="tns:RespostaDTCDetalheInclusaoCadastroDTC" />
  <xs:complexType name="RetornoDTCOfDetalheInclusaoCadastroDTCEnumRetornoDTCqUmeDxX1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DetalheInclusaoCadastroDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q9:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" minOccurs="0" name="Retorno" nillable="true" type="q10:DetalheInclusaoCadastroDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q11:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfDetalheInclusaoCadastroDTCEnumRetornoDTCqUmeDxX1" nillable="true" type="tns:RetornoDTCOfDetalheInclusaoCadastroDTCEnumRetornoDTCqUmeDxX1" />
  <xs:complexType name="RespostaDTCInformacaoInclusaoCadastroDTC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="InformacaoInclusaoCadastroDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfInformacaoInclusaoCadastroDTCEnumRetornoDTCqUmeDxX1">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCInformacaoInclusaoCadastroDTC" nillable="true" type="tns:RespostaDTCInformacaoInclusaoCadastroDTC" />
  <xs:complexType name="RetornoDTCOfInformacaoInclusaoCadastroDTCEnumRetornoDTCqUmeDxX1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="InformacaoInclusaoCadastroDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q12:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" minOccurs="0" name="Retorno" nillable="true" type="q13:InformacaoInclusaoCadastroDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q14:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfInformacaoInclusaoCadastroDTCEnumRetornoDTCqUmeDxX1" nillable="true" type="tns:RetornoDTCOfInformacaoInclusaoCadastroDTCEnumRetornoDTCqUmeDxX1" />
  <xs:complexType name="RespostaDTCInformacaoCadastroClientePJDTC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="InformacaoCadastroClientePJDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfInformacaoCadastroClientePJDTCEnumRetornoDTCqUmeDxX1">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCInformacaoCadastroClientePJDTC" nillable="true" type="tns:RespostaDTCInformacaoCadastroClientePJDTC" />
  <xs:complexType name="RetornoDTCOfInformacaoCadastroClientePJDTCEnumRetornoDTCqUmeDxX1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="InformacaoCadastroClientePJDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q15:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" minOccurs="0" name="Retorno" nillable="true" type="q16:InformacaoCadastroClientePJDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q17:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfInformacaoCadastroClientePJDTCEnumRetornoDTCqUmeDxX1" nillable="true" type="tns:RetornoDTCOfInformacaoCadastroClientePJDTCEnumRetornoDTCqUmeDxX1" />
  <xs:complexType name="RespostaDTCint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfintEnumRetornoDTC2LV2fjlZ">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCint" nillable="true" type="tns:RespostaDTCint" />
  <xs:complexType name="RetornoDTCOfintEnumRetornoDTC2LV2fjlZ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q18:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Retorno" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q19:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfintEnumRetornoDTC2LV2fjlZ" nillable="true" type="tns:RetornoDTCOfintEnumRetornoDTC2LV2fjlZ" />
  <xs:complexType name="RespostaDTCArrayOfPROTOCOLOAPLICACAODTC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespostaDTC{0}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPROTOCOLOAPLICACAODTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoDTCOfArrayOfPROTOCOLOAPLICACAODTCEnumRetornoDTCjiev_SU_PP">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timeout" type="ser:duration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDTCArrayOfPROTOCOLOAPLICACAODTC" nillable="true" type="tns:RespostaDTCArrayOfPROTOCOLOAPLICACAODTC" />
  <xs:complexType name="RetornoDTCOfArrayOfPROTOCOLOAPLICACAODTCEnumRetornoDTCjiev_SU_PP">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoDTCOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPROTOCOLOAPLICACAODTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" />
          <GenericParameter Name="EnumRetornoDTC" Namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaMensagens" nillable="true" type="q20:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEntities" minOccurs="0" name="Retorno" nillable="true" type="q21:ArrayOfPROTOCOLOAPLICACAODTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="Status" type="q22:EnumRetornoDTC">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDTCOfArrayOfPROTOCOLOAPLICACAODTCEnumRetornoDTCjiev_SU_PP" nillable="true" type="tns:RetornoDTCOfArrayOfPROTOCOLOAPLICACAODTCEnumRetornoDTCjiev_SU_PP" />
</xs:schema>