Servicos/Service References/ServicoSIC/IntegracaoSVC.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEnums" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://sbdev.jsl.com.br/Servicos/Integracao/IntegracaoSVC.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" />
  <xs:element name="ObterListaCadastrosSIC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEnums" minOccurs="0" name="tipoCadastro" type="q1:ENUMTIPOCADASTRODTC" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEnums" minOccurs="0" name="empresa" nillable="true" type="q2:ENUMPESSOAEMPRESADTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterListaCadastrosSICResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="ObterListaCadastrosSICResult" nillable="true" type="q3:RespostaDTCArrayOfDadosCadastroIntegracaoDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterCadastroSIC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEnums" minOccurs="0" name="tipoCadastro" type="q4:ENUMTIPOCADASTRODTC" />
        <xs:element minOccurs="0" name="tipoPessoa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterCadastroSICResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="ObterCadastroSICResult" nillable="true" type="q5:RespostaDTCDadosCadastroIntegracaoDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarListaClienteBalcao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" minOccurs="0" name="listaCadastro" nillable="true" type="q6:ArrayOfDadosCadastroIntegracaoDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarListaClienteBalcaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="SalvarListaClienteBalcaoResult" nillable="true" type="q7:RespostaDTCstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarListaClienteTerceiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" minOccurs="0" name="listaCadastro" nillable="true" type="q8:ArrayOfDadosCadastroIntegracaoDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarListaClienteTerceiroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="SalvarListaClienteTerceiroResult" nillable="true" type="q9:RespostaDTCstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarListaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" minOccurs="0" name="listaCadastro" nillable="true" type="q10:ArrayOfDadosCadastroIntegracaoDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarListaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="SalvarListaClienteResult" nillable="true" type="q11:RespostaDTCstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarListaTransportadora">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" minOccurs="0" name="listaCadastro" nillable="true" type="q12:ArrayOfDadosCadastroIntegracaoDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarListaTransportadoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="SalvarListaTransportadoraResult" nillable="true" type="q13:RespostaDTCstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarListaMotorista">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" minOccurs="0" name="listaCadastro" nillable="true" type="q14:ArrayOfDadosCadastroIntegracaoDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarListaMotoristaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="SalvarListaMotoristaResult" nillable="true" type="q15:RespostaDTCstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarListaFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" minOccurs="0" name="listaCadastro" nillable="true" type="q16:ArrayOfDadosCadastroIntegracaoDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarListaFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="SalvarListaFornecedorResult" nillable="true" type="q17:RespostaDTCstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarCadastro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuarioAplicacao" type="xs:int" />
        <xs:element minOccurs="0" name="protocolo" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" minOccurs="0" name="Cadastro" nillable="true" type="q18:DadosCadastroIntegracaoDTC" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEnums" minOccurs="0" name="tipoCadastro" type="q19:ENUMTIPOCADASTRODTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarCadastroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="SalvarCadastroResult" nillable="true" type="q20:RespostaDTCDetalheInclusaoCadastroDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarCadastroMovida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuarioAplicacao" type="xs:int" />
        <xs:element minOccurs="0" name="idIntegracaoCadastro" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Integracao" minOccurs="0" name="Cadastro" nillable="true" type="q21:DadosCadastroIntegracaoDTC" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEnums" minOccurs="0" name="tipoCadastro" type="q22:ENUMTIPOCADASTRODTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarCadastroMovidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="SalvarCadastroMovidaResult" nillable="true" type="q23:RespostaDTCDetalheInclusaoCadastroDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterInformacaoProtocoloInclusaoCadastro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterInformacaoProtocoloInclusaoCadastroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="ObterInformacaoProtocoloInclusaoCadastroResult" nillable="true" type="q24:RespostaDTCInformacaoInclusaoCadastroDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterInformacaoCadastroClientePJ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterInformacaoCadastroClientePJResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="ObterInformacaoCadastroClientePJResult" nillable="true" type="q25:RespostaDTCInformacaoCadastroClientePJDTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarRecebimentoListaCadastrosSIC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEnums" minOccurs="0" name="tipoCadastro" type="q26:ENUMTIPOCADASTRODTC" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaId" nillable="true" type="q27:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarRecebimentoListaCadastrosSICResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="ConfirmarRecebimentoListaCadastrosSICResult" nillable="true" type="q28:RespostaDTCint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterListaProtocoloAplicacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEnums" minOccurs="0" name="statusProtocolo" type="q29:ENUMSITUACAOPROTOCOLODTC" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.Enums" minOccurs="0" name="tipoRange" nillable="true" type="q30:EnumTipoRangeDTC" />
        <xs:element minOccurs="0" name="numeroInicial" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="numeroFinal" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterListaProtocoloAplicacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="ObterListaProtocoloAplicacaoResult" nillable="true" type="q31:RespostaDTCArrayOfPROTOCOLOAPLICACAODTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarStatusProtocoloAplicacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuarioAplicacao" type="xs:int" />
        <xs:element minOccurs="0" name="protocolo" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEnums" minOccurs="0" name="statusProtocolo" type="q32:ENUMSITUACAOPROTOCOLODTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarStatusProtocoloAplicacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="AtualizarStatusProtocoloAplicacaoResult" nillable="true" type="q33:RespostaDTCint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterListaProtocoloAplicacaoChancela">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.DBEnums" minOccurs="0" name="statusProtocolo" type="q34:ENUMSITUACAOPROTOCOLODTC" />
        <xs:element minOccurs="0" name="Chancela" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterListaProtocoloAplicacaoChancelaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="ObterListaProtocoloAplicacaoChancelaResult" nillable="true" type="q35:RespostaDTCArrayOfPROTOCOLOAPLICACAODTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarChancelaProtocoloAplicacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Chancela" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QtdRegAfetados" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarChancelaProtocoloAplicacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Jsl.ServiceBus.Contracts.SpecificEntities.Comum" minOccurs="0" name="AtualizarChancelaProtocoloAplicacaoResult" nillable="true" type="q36:RespostaDTCint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>