Servicos/Service References/Sascar/SasIntegraWSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.web.integracao.sascar.com.br/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SasIntegraWSService" targetNamespace="http://webservice.web.integracao.sascar.com.br/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://sasintegra.sascar.com.br:443/SasIntegra/SasIntegraWSService?xsd=1" namespace="http://webservice.web.integracao.sascar.com.br/" />
    </xsd:schema>
  </types>
  <message name="atualizarSenha">
    <part name="parameters" element="tns:atualizarSenha" />
  </message>
  <message name="atualizarSenhaResponse">
    <part name="parameters" element="tns:atualizarSenhaResponse" />
  </message>
  <message name="SasIntegraNotification">
    <part name="fault" element="tns:SasIntegraFault" />
  </message>
  <message name="getSmartCamerasEvents">
    <part name="parameters" element="tns:getSmartCamerasEvents" />
  </message>
  <message name="getSmartCamerasEventsResponse">
    <part name="parameters" element="tns:getSmartCamerasEventsResponse" />
  </message>
  <message name="obterClientes">
    <part name="parameters" element="tns:obterClientes" />
  </message>
  <message name="obterClientesResponse">
    <part name="parameters" element="tns:obterClientesResponse" />
  </message>
  <message name="obterPacotePosicaoPorRange">
    <part name="parameters" element="tns:obterPacotePosicaoPorRange" />
  </message>
  <message name="obterPacotePosicaoPorRangeResponse">
    <part name="parameters" element="tns:obterPacotePosicaoPorRangeResponse" />
  </message>
  <message name="obterPacotePosicaoMotoristaPorRangeJSON">
    <part name="parameters" element="tns:obterPacotePosicaoMotoristaPorRangeJSON" />
  </message>
  <message name="obterPacotePosicaoMotoristaPorRangeJSONResponse">
    <part name="parameters" element="tns:obterPacotePosicaoMotoristaPorRangeJSONResponse" />
  </message>
  <message name="obterMotoristas">
    <part name="parameters" element="tns:obterMotoristas" />
  </message>
  <message name="obterMotoristasResponse">
    <part name="parameters" element="tns:obterMotoristasResponse" />
  </message>
  <message name="obterMotoristasVeiculos">
    <part name="parameters" element="tns:obterMotoristasVeiculos" />
  </message>
  <message name="obterMotoristasVeiculosResponse">
    <part name="parameters" element="tns:obterMotoristasVeiculosResponse" />
  </message>
  <message name="obterMotoristasPorVeiculo">
    <part name="parameters" element="tns:obterMotoristasPorVeiculo" />
  </message>
  <message name="obterMotoristasPorVeiculoResponse">
    <part name="parameters" element="tns:obterMotoristasPorVeiculoResponse" />
  </message>
  <message name="obterLayoutTecladoVeiculos">
    <part name="parameters" element="tns:obterLayoutTecladoVeiculos" />
  </message>
  <message name="obterLayoutTecladoVeiculosResponse">
    <part name="parameters" element="tns:obterLayoutTecladoVeiculosResponse" />
  </message>
  <message name="obterLayoutGrupoPontos">
    <part name="parameters" element="tns:obterLayoutGrupoPontos" />
  </message>
  <message name="obterLayoutGrupoPontosResponse">
    <part name="parameters" element="tns:obterLayoutGrupoPontosResponse" />
  </message>
  <message name="obterGrupoAtuadores">
    <part name="parameters" element="tns:obterGrupoAtuadores" />
  </message>
  <message name="obterGrupoAtuadoresResponse">
    <part name="parameters" element="tns:obterGrupoAtuadoresResponse" />
  </message>
  <message name="obterStatusComando">
    <part name="parameters" element="tns:obterStatusComando" />
  </message>
  <message name="obterStatusComandoResponse">
    <part name="parameters" element="tns:obterStatusComandoResponse" />
  </message>
  <message name="obterStatusComandoTicketSascar">
    <part name="parameters" element="tns:obterStatusComandoTicketSascar" />
  </message>
  <message name="obterStatusComandoTicketSascarResponse">
    <part name="parameters" element="tns:obterStatusComandoTicketSascarResponse" />
  </message>
  <message name="obterTipoComando">
    <part name="parameters" element="tns:obterTipoComando" />
  </message>
  <message name="obterTipoComandoResponse">
    <part name="parameters" element="tns:obterTipoComandoResponse" />
  </message>
  <message name="obterPacotePosicoes">
    <part name="parameters" element="tns:obterPacotePosicoes" />
  </message>
  <message name="obterPacotePosicoesResponse">
    <part name="parameters" element="tns:obterPacotePosicoesResponse" />
  </message>
  <message name="obterPacotePosicoesComPlaca">
    <part name="parameters" element="tns:obterPacotePosicoesComPlaca" />
  </message>
  <message name="obterPacotePosicoesComPlacaResponse">
    <part name="parameters" element="tns:obterPacotePosicoesComPlacaResponse" />
  </message>
  <message name="obterPacotePosicoesMotorista">
    <part name="parameters" element="tns:obterPacotePosicoesMotorista" />
  </message>
  <message name="obterPacotePosicoesMotoristaResponse">
    <part name="parameters" element="tns:obterPacotePosicoesMotoristaResponse" />
  </message>
  <message name="obterPacotePosicoesMotoristaComPlaca">
    <part name="parameters" element="tns:obterPacotePosicoesMotoristaComPlaca" />
  </message>
  <message name="obterPacotePosicoesMotoristaComPlacaResponse">
    <part name="parameters" element="tns:obterPacotePosicoesMotoristaComPlacaResponse" />
  </message>
  <message name="obterPacotePosicoesRestricao">
    <part name="parameters" element="tns:obterPacotePosicoesRestricao" />
  </message>
  <message name="obterPacotePosicoesRestricaoResponse">
    <part name="parameters" element="tns:obterPacotePosicoesRestricaoResponse" />
  </message>
  <message name="obterPacotePosicoesMotoristaRestricao">
    <part name="parameters" element="tns:obterPacotePosicoesMotoristaRestricao" />
  </message>
  <message name="obterPacotePosicoesMotoristaRestricaoResponse">
    <part name="parameters" element="tns:obterPacotePosicoesMotoristaRestricaoResponse" />
  </message>
  <message name="obterPacotePosicoesRFNacional">
    <part name="parameters" element="tns:obterPacotePosicoesRFNacional" />
  </message>
  <message name="obterPacotePosicoesRFNacionalResponse">
    <part name="parameters" element="tns:obterPacotePosicoesRFNacionalResponse" />
  </message>
  <message name="obterPacotePosicoesJSON">
    <part name="parameters" element="tns:obterPacotePosicoesJSON" />
  </message>
  <message name="obterPacotePosicoesJSONResponse">
    <part name="parameters" element="tns:obterPacotePosicoesJSONResponse" />
  </message>
  <message name="obterPacotePosicoesJSONComPlaca">
    <part name="parameters" element="tns:obterPacotePosicoesJSONComPlaca" />
  </message>
  <message name="obterPacotePosicoesJSONComPlacaResponse">
    <part name="parameters" element="tns:obterPacotePosicoesJSONComPlacaResponse" />
  </message>
  <message name="obterPacotePosicoesMotoristaJSON">
    <part name="parameters" element="tns:obterPacotePosicoesMotoristaJSON" />
  </message>
  <message name="obterPacotePosicoesMotoristaJSONResponse">
    <part name="parameters" element="tns:obterPacotePosicoesMotoristaJSONResponse" />
  </message>
  <message name="obterPacotePosicaoPorRangeJSON">
    <part name="parameters" element="tns:obterPacotePosicaoPorRangeJSON" />
  </message>
  <message name="obterPacotePosicaoPorRangeJSONResponse">
    <part name="parameters" element="tns:obterPacotePosicaoPorRangeJSONResponse" />
  </message>
  <message name="obterPacotePosicaoMotoristaPorRange">
    <part name="parameters" element="tns:obterPacotePosicaoMotoristaPorRange" />
  </message>
  <message name="obterPacotePosicaoMotoristaPorRangeResponse">
    <part name="parameters" element="tns:obterPacotePosicaoMotoristaPorRangeResponse" />
  </message>
  <message name="obterPacotePosicaoHistorico">
    <part name="parameters" element="tns:obterPacotePosicaoHistorico" />
  </message>
  <message name="obterPacotePosicaoHistoricoResponse">
    <part name="parameters" element="tns:obterPacotePosicaoHistoricoResponse" />
  </message>
  <message name="obterPacotePosicaoMotoristaHistorico">
    <part name="parameters" element="tns:obterPacotePosicaoMotoristaHistorico" />
  </message>
  <message name="obterPacotePosicaoMotoristaHistoricoResponse">
    <part name="parameters" element="tns:obterPacotePosicaoMotoristaHistoricoResponse" />
  </message>
  <message name="obterPacoteLocalizacao">
    <part name="parameters" element="tns:obterPacoteLocalizacao" />
  </message>
  <message name="obterPacoteLocalizacaoResponse">
    <part name="parameters" element="tns:obterPacoteLocalizacaoResponse" />
  </message>
  <message name="obterMacroTd50Tmcd">
    <part name="parameters" element="tns:obterMacroTd50Tmcd" />
  </message>
  <message name="obterMacroTd50TmcdResponse">
    <part name="parameters" element="tns:obterMacroTd50TmcdResponse" />
  </message>
  <message name="obterMacroTd50TmcdDetalhado">
    <part name="parameters" element="tns:obterMacroTd50TmcdDetalhado" />
  </message>
  <message name="obterMacroTd50TmcdDetalhadoResponse">
    <part name="parameters" element="tns:obterMacroTd50TmcdDetalhadoResponse" />
  </message>
  <message name="obterMacroTd40">
    <part name="parameters" element="tns:obterMacroTd40" />
  </message>
  <message name="obterMacroTd40Response">
    <part name="parameters" element="tns:obterMacroTd40Response" />
  </message>
  <message name="obterMacroTms3">
    <part name="parameters" element="tns:obterMacroTms3" />
  </message>
  <message name="obterMacroTms3Response">
    <part name="parameters" element="tns:obterMacroTms3Response" />
  </message>
  <message name="obterMascaraDispositivos">
    <part name="parameters" element="tns:obterMascaraDispositivos" />
  </message>
  <message name="obterMascaraDispositivosResponse">
    <part name="parameters" element="tns:obterMascaraDispositivosResponse" />
  </message>
  <message name="obterLayout">
    <part name="parameters" element="tns:obterLayout" />
  </message>
  <message name="obterLayoutResponse">
    <part name="parameters" element="tns:obterLayoutResponse" />
  </message>
  <message name="obterLayoutData">
    <part name="parameters" element="tns:obterLayoutData" />
  </message>
  <message name="obterLayoutDataResponse">
    <part name="parameters" element="tns:obterLayoutDataResponse" />
  </message>
  <message name="obterLayoutDetalhado">
    <part name="parameters" element="tns:obterLayoutDetalhado" />
  </message>
  <message name="obterLayoutDetalhadoResponse">
    <part name="parameters" element="tns:obterLayoutDetalhadoResponse" />
  </message>
  <message name="obterVeiculos">
    <part name="parameters" element="tns:obterVeiculos" />
  </message>
  <message name="obterVeiculosResponse">
    <part name="parameters" element="tns:obterVeiculosResponse" />
  </message>
  <message name="obterLayoutAreaAvd">
    <part name="parameters" element="tns:obterLayoutAreaAvd" />
  </message>
  <message name="obterLayoutAreaAvdResponse">
    <part name="parameters" element="tns:obterLayoutAreaAvdResponse" />
  </message>
  <message name="obterVeiculosRFNacional">
    <part name="parameters" element="tns:obterVeiculosRFNacional" />
  </message>
  <message name="obterVeiculosRFNacionalResponse">
    <part name="parameters" element="tns:obterVeiculosRFNacionalResponse" />
  </message>
  <message name="obterVeiculosJson">
    <part name="parameters" element="tns:obterVeiculosJson" />
  </message>
  <message name="obterVeiculosJsonResponse">
    <part name="parameters" element="tns:obterVeiculosJsonResponse" />
  </message>
  <message name="obterPontosReferencia">
    <part name="parameters" element="tns:obterPontosReferencia" />
  </message>
  <message name="obterPontosReferenciaResponse">
    <part name="parameters" element="tns:obterPontosReferenciaResponse" />
  </message>
  <message name="obterSequenciamentoEvento">
    <part name="parameters" element="tns:obterSequenciamentoEvento" />
  </message>
  <message name="obterSequenciamentoEventoResponse">
    <part name="parameters" element="tns:obterSequenciamentoEventoResponse" />
  </message>
  <message name="obterMensagemPortal">
    <part name="parameters" element="tns:obterMensagemPortal" />
  </message>
  <message name="obterMensagemPortalResponse">
    <part name="parameters" element="tns:obterMensagemPortalResponse" />
  </message>
  <message name="obterTelemetriaPortal">
    <part name="parameters" element="tns:obterTelemetriaPortal" />
  </message>
  <message name="obterTelemetriaPortalResponse">
    <part name="parameters" element="tns:obterTelemetriaPortalResponse" />
  </message>
  <message name="obterEnderecoPosicao">
    <part name="parameters" element="tns:obterEnderecoPosicao" />
  </message>
  <message name="obterEnderecoPosicaoResponse">
    <part name="parameters" element="tns:obterEnderecoPosicaoResponse" />
  </message>
  <message name="verificarVeiculoIntegrado">
    <part name="parameters" element="tns:verificarVeiculoIntegrado" />
  </message>
  <message name="verificarVeiculoIntegradoResponse">
    <part name="parameters" element="tns:verificarVeiculoIntegradoResponse" />
  </message>
  <message name="obterLayoutAcaoEmbarcadaAVD">
    <part name="parameters" element="tns:obterLayoutAcaoEmbarcadaAVD" />
  </message>
  <message name="obterLayoutAcaoEmbarcadaAVDResponse">
    <part name="parameters" element="tns:obterLayoutAcaoEmbarcadaAVDResponse" />
  </message>
  <message name="comandoEmbarquePontoDiario">
    <part name="parameters" element="tns:comandoEmbarquePontoDiario" />
  </message>
  <message name="comandoEmbarquePontoDiarioResponse">
    <part name="parameters" element="tns:comandoEmbarquePontoDiarioResponse" />
  </message>
  <message name="obterEventoTelemetriaDescricao">
    <part name="parameters" element="tns:obterEventoTelemetriaDescricao" />
  </message>
  <message name="obterEventoTelemetriaDescricaoResponse">
    <part name="parameters" element="tns:obterEventoTelemetriaDescricaoResponse" />
  </message>
  <message name="obterEventoTelemetriaIntegracao">
    <part name="parameters" element="tns:obterEventoTelemetriaIntegracao" />
  </message>
  <message name="obterEventoTelemetriaIntegracaoResponse">
    <part name="parameters" element="tns:obterEventoTelemetriaIntegracaoResponse" />
  </message>
  <message name="obterEventoTelemetriaIntegracaoDataChegada">
    <part name="parameters" element="tns:obterEventoTelemetriaIntegracaoDataChegada" />
  </message>
  <message name="obterEventoTelemetriaIntegracaoDataChegadaResponse">
    <part name="parameters" element="tns:obterEventoTelemetriaIntegracaoDataChegadaResponse" />
  </message>
  <message name="obterDeltaTelemetriaIntegracao">
    <part name="parameters" element="tns:obterDeltaTelemetriaIntegracao" />
  </message>
  <message name="obterDeltaTelemetriaIntegracaoResponse">
    <part name="parameters" element="tns:obterDeltaTelemetriaIntegracaoResponse" />
  </message>
  <message name="obterDeltaTelemetriaIntegracaoDataChegada">
    <part name="parameters" element="tns:obterDeltaTelemetriaIntegracaoDataChegada" />
  </message>
  <message name="obterDeltaTelemetriaIntegracaoDataChegadaResponse">
    <part name="parameters" element="tns:obterDeltaTelemetriaIntegracaoDataChegadaResponse" />
  </message>
  <message name="enviarParametrizacaoTelemetria">
    <part name="parameters" element="tns:enviarParametrizacaoTelemetria" />
  </message>
  <message name="enviarParametrizacaoTelemetriaResponse">
    <part name="parameters" element="tns:enviarParametrizacaoTelemetriaResponse" />
  </message>
  <message name="obterDadosAdicionais">
    <part name="parameters" element="tns:obterDadosAdicionais" />
  </message>
  <message name="obterDadosAdicionaisResponse">
    <part name="parameters" element="tns:obterDadosAdicionaisResponse" />
  </message>
  <message name="obterDadosAdicionaisCliente">
    <part name="parameters" element="tns:obterDadosAdicionaisCliente" />
  </message>
  <message name="obterDadosAdicionaisClienteResponse">
    <part name="parameters" element="tns:obterDadosAdicionaisClienteResponse" />
  </message>
  <message name="obterEventosTempoDirecao">
    <part name="parameters" element="tns:obterEventosTempoDirecao" />
  </message>
  <message name="obterEventosTempoDirecaoResponse">
    <part name="parameters" element="tns:obterEventosTempoDirecaoResponse" />
  </message>
  <message name="obterEventosTempoDirecaoDataChegada">
    <part name="parameters" element="tns:obterEventosTempoDirecaoDataChegada" />
  </message>
  <message name="obterEventosTempoDirecaoDataChegadaResponse">
    <part name="parameters" element="tns:obterEventosTempoDirecaoDataChegadaResponse" />
  </message>
  <message name="solicitarEventosCaixaPreta">
    <part name="parameters" element="tns:solicitarEventosCaixaPreta" />
  </message>
  <message name="solicitarEventosCaixaPretaResponse">
    <part name="parameters" element="tns:solicitarEventosCaixaPretaResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="recuperarEventosCaixaPreta">
    <part name="parameters" element="tns:recuperarEventosCaixaPreta" />
  </message>
  <message name="recuperarEventosCaixaPretaResponse">
    <part name="parameters" element="tns:recuperarEventosCaixaPretaResponse" />
  </message>
  <message name="consultaQuantidadePacotesPosicoesPendentes">
    <part name="parameters" element="tns:consultaQuantidadePacotesPosicoesPendentes" />
  </message>
  <message name="consultaQuantidadePacotesPosicoesPendentesResponse">
    <part name="parameters" element="tns:consultaQuantidadePacotesPosicoesPendentesResponse" />
  </message>
  <message name="obterPacoteIntegracaoDeltatelemetria">
    <part name="parameters" element="tns:obterPacoteIntegracaoDeltatelemetria" />
  </message>
  <message name="obterPacoteIntegracaoDeltatelemetriaResponse">
    <part name="parameters" element="tns:obterPacoteIntegracaoDeltatelemetriaResponse" />
  </message>
  <message name="getPositionsPacketJSON">
    <part name="parameters" element="tns:getPositionsPacketJSON" />
  </message>
  <message name="getPositionsPacketJSONResponse">
    <part name="parameters" element="tns:getPositionsPacketJSONResponse" />
  </message>
  <message name="getDriverPositionPacketJSON">
    <part name="parameters" element="tns:getDriverPositionPacketJSON" />
  </message>
  <message name="getDriverPositionPacketJSONResponse">
    <part name="parameters" element="tns:getDriverPositionPacketJSONResponse" />
  </message>
  <message name="getPositionPacketByRangeJSON">
    <part name="parameters" element="tns:getPositionPacketByRangeJSON" />
  </message>
  <message name="getPositionPacketByRangeJSONResponse">
    <part name="parameters" element="tns:getPositionPacketByRangeJSONResponse" />
  </message>
  <message name="getDriverPositionPacketByRangeJSON">
    <part name="parameters" element="tns:getDriverPositionPacketByRangeJSON" />
  </message>
  <message name="getDriverPositionPacketByRangeJSONResponse">
    <part name="parameters" element="tns:getDriverPositionPacketByRangeJSONResponse" />
  </message>
  <message name="getVehiclesJSON">
    <part name="parameters" element="tns:getVehiclesJSON" />
  </message>
  <message name="getVehiclesJSONResponse">
    <part name="parameters" element="tns:getVehiclesJSONResponse" />
  </message>
  <message name="getPositionPacketWithLicensePlateJSON">
    <part name="parameters" element="tns:getPositionPacketWithLicensePlateJSON" />
  </message>
  <message name="getPositionPacketWithLicensePlateJSONResponse">
    <part name="parameters" element="tns:getPositionPacketWithLicensePlateJSONResponse" />
  </message>
  <message name="obterDeltaTelemetriaIntegracaoInercia">
    <part name="parameters" element="tns:obterDeltaTelemetriaIntegracaoInercia" />
  </message>
  <message name="obterDeltaTelemetriaIntegracaoInerciaResponse">
    <part name="parameters" element="tns:obterDeltaTelemetriaIntegracaoInerciaResponse" />
  </message>
  <message name="obterDeltaTelemetriaIntegracaoInerciaDataChegada">
    <part name="parameters" element="tns:obterDeltaTelemetriaIntegracaoInerciaDataChegada" />
  </message>
  <message name="obterDeltaTelemetriaIntegracaoInerciaDataChegadaResponse">
    <part name="parameters" element="tns:obterDeltaTelemetriaIntegracaoInerciaDataChegadaResponse" />
  </message>
  <message name="obterCadastroAlertasAvd">
    <part name="parameters" element="tns:obterCadastroAlertasAvd" />
  </message>
  <message name="obterCadastroAlertasAvdResponse">
    <part name="parameters" element="tns:obterCadastroAlertasAvdResponse" />
  </message>
  <message name="obterAlertasAVDVinculados">
    <part name="parameters" element="tns:obterAlertasAVDVinculados" />
  </message>
  <message name="obterAlertasAVDVinculadosResponse">
    <part name="parameters" element="tns:obterAlertasAVDVinculadosResponse" />
  </message>
  <message name="obterRotas">
    <part name="parameters" element="tns:obterRotas" />
  </message>
  <message name="obterRotasResponse">
    <part name="parameters" element="tns:obterRotasResponse" />
  </message>
  <portType name="SasIntegraWS">
    <operation name="atualizarSenha">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/atualizarSenhaRequest" message="tns:atualizarSenha" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/atualizarSenhaResponse" message="tns:atualizarSenhaResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/atualizarSenha/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="getSmartCamerasEvents">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getSmartCamerasEventsRequest" message="tns:getSmartCamerasEvents" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getSmartCamerasEventsResponse" message="tns:getSmartCamerasEventsResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getSmartCamerasEvents/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterClientes">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterClientesRequest" message="tns:obterClientes" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterClientesResponse" message="tns:obterClientesResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterClientes/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicaoPorRange">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoPorRangeRequest" message="tns:obterPacotePosicaoPorRange" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoPorRangeResponse" message="tns:obterPacotePosicaoPorRangeResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoPorRange/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicaoMotoristaPorRangeJSON">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoMotoristaPorRangeJSONRequest" message="tns:obterPacotePosicaoMotoristaPorRangeJSON" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoMotoristaPorRangeJSONResponse" message="tns:obterPacotePosicaoMotoristaPorRangeJSONResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoMotoristaPorRangeJSON/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterMotoristas">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMotoristasRequest" message="tns:obterMotoristas" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMotoristasResponse" message="tns:obterMotoristasResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMotoristas/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterMotoristasVeiculos">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMotoristasVeiculosRequest" message="tns:obterMotoristasVeiculos" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMotoristasVeiculosResponse" message="tns:obterMotoristasVeiculosResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMotoristasVeiculos/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterMotoristasPorVeiculo">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMotoristasPorVeiculoRequest" message="tns:obterMotoristasPorVeiculo" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMotoristasPorVeiculoResponse" message="tns:obterMotoristasPorVeiculoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMotoristasPorVeiculo/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterLayoutTecladoVeiculos">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutTecladoVeiculosRequest" message="tns:obterLayoutTecladoVeiculos" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutTecladoVeiculosResponse" message="tns:obterLayoutTecladoVeiculosResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutTecladoVeiculos/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterLayoutGrupoPontos">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutGrupoPontosRequest" message="tns:obterLayoutGrupoPontos" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutGrupoPontosResponse" message="tns:obterLayoutGrupoPontosResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutGrupoPontos/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterGrupoAtuadores">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterGrupoAtuadoresRequest" message="tns:obterGrupoAtuadores" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterGrupoAtuadoresResponse" message="tns:obterGrupoAtuadoresResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterGrupoAtuadores/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterStatusComando">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterStatusComandoRequest" message="tns:obterStatusComando" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterStatusComandoResponse" message="tns:obterStatusComandoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterStatusComando/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterStatusComandoTicketSascar">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterStatusComandoTicketSascarRequest" message="tns:obterStatusComandoTicketSascar" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterStatusComandoTicketSascarResponse" message="tns:obterStatusComandoTicketSascarResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterStatusComandoTicketSascar/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterTipoComando">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterTipoComandoRequest" message="tns:obterTipoComando" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterTipoComandoResponse" message="tns:obterTipoComandoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterTipoComando/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicoes">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesRequest" message="tns:obterPacotePosicoes" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesResponse" message="tns:obterPacotePosicoesResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoes/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicoesComPlaca">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesComPlacaRequest" message="tns:obterPacotePosicoesComPlaca" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesComPlacaResponse" message="tns:obterPacotePosicoesComPlacaResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesComPlaca/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicoesMotorista">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesMotoristaRequest" message="tns:obterPacotePosicoesMotorista" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesMotoristaResponse" message="tns:obterPacotePosicoesMotoristaResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesMotorista/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicoesMotoristaComPlaca">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesMotoristaComPlacaRequest" message="tns:obterPacotePosicoesMotoristaComPlaca" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesMotoristaComPlacaResponse" message="tns:obterPacotePosicoesMotoristaComPlacaResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesMotoristaComPlaca/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicoesRestricao">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesRestricaoRequest" message="tns:obterPacotePosicoesRestricao" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesRestricaoResponse" message="tns:obterPacotePosicoesRestricaoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesRestricao/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicoesMotoristaRestricao">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesMotoristaRestricaoRequest" message="tns:obterPacotePosicoesMotoristaRestricao" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesMotoristaRestricaoResponse" message="tns:obterPacotePosicoesMotoristaRestricaoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesMotoristaRestricao/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicoesRFNacional">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesRFNacionalRequest" message="tns:obterPacotePosicoesRFNacional" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesRFNacionalResponse" message="tns:obterPacotePosicoesRFNacionalResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesRFNacional/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicoesJSON">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesJSONRequest" message="tns:obterPacotePosicoesJSON" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesJSONResponse" message="tns:obterPacotePosicoesJSONResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesJSON/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicoesJSONComPlaca">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesJSONComPlacaRequest" message="tns:obterPacotePosicoesJSONComPlaca" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesJSONComPlacaResponse" message="tns:obterPacotePosicoesJSONComPlacaResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesJSONComPlaca/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicoesMotoristaJSON">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesMotoristaJSONRequest" message="tns:obterPacotePosicoesMotoristaJSON" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesMotoristaJSONResponse" message="tns:obterPacotePosicoesMotoristaJSONResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicoesMotoristaJSON/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicaoPorRangeJSON">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoPorRangeJSONRequest" message="tns:obterPacotePosicaoPorRangeJSON" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoPorRangeJSONResponse" message="tns:obterPacotePosicaoPorRangeJSONResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoPorRangeJSON/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicaoMotoristaPorRange">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoMotoristaPorRangeRequest" message="tns:obterPacotePosicaoMotoristaPorRange" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoMotoristaPorRangeResponse" message="tns:obterPacotePosicaoMotoristaPorRangeResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoMotoristaPorRange/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicaoHistorico">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoHistoricoRequest" message="tns:obterPacotePosicaoHistorico" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoHistoricoResponse" message="tns:obterPacotePosicaoHistoricoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoHistorico/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacotePosicaoMotoristaHistorico">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoMotoristaHistoricoRequest" message="tns:obterPacotePosicaoMotoristaHistorico" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoMotoristaHistoricoResponse" message="tns:obterPacotePosicaoMotoristaHistoricoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacotePosicaoMotoristaHistorico/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPacoteLocalizacao">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacoteLocalizacaoRequest" message="tns:obterPacoteLocalizacao" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacoteLocalizacaoResponse" message="tns:obterPacoteLocalizacaoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacoteLocalizacao/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterMacroTd50Tmcd">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMacroTd50TmcdRequest" message="tns:obterMacroTd50Tmcd" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMacroTd50TmcdResponse" message="tns:obterMacroTd50TmcdResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMacroTd50Tmcd/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterMacroTd50TmcdDetalhado">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMacroTd50TmcdDetalhadoRequest" message="tns:obterMacroTd50TmcdDetalhado" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMacroTd50TmcdDetalhadoResponse" message="tns:obterMacroTd50TmcdDetalhadoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMacroTd50TmcdDetalhado/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterMacroTd40">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMacroTd40Request" message="tns:obterMacroTd40" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMacroTd40Response" message="tns:obterMacroTd40Response" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMacroTd40/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterMacroTms3">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMacroTms3Request" message="tns:obterMacroTms3" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMacroTms3Response" message="tns:obterMacroTms3Response" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMacroTms3/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterMascaraDispositivos">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMascaraDispositivosRequest" message="tns:obterMascaraDispositivos" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMascaraDispositivosResponse" message="tns:obterMascaraDispositivosResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMascaraDispositivos/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterLayout">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutRequest" message="tns:obterLayout" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutResponse" message="tns:obterLayoutResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayout/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterLayoutData">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutDataRequest" message="tns:obterLayoutData" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutDataResponse" message="tns:obterLayoutDataResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutData/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterLayoutDetalhado">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutDetalhadoRequest" message="tns:obterLayoutDetalhado" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutDetalhadoResponse" message="tns:obterLayoutDetalhadoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutDetalhado/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterVeiculos">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterVeiculosRequest" message="tns:obterVeiculos" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterVeiculosResponse" message="tns:obterVeiculosResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterVeiculos/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterLayoutAreaAvd">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutAreaAvdRequest" message="tns:obterLayoutAreaAvd" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutAreaAvdResponse" message="tns:obterLayoutAreaAvdResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutAreaAvd/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterVeiculosRFNacional">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterVeiculosRFNacionalRequest" message="tns:obterVeiculosRFNacional" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterVeiculosRFNacionalResponse" message="tns:obterVeiculosRFNacionalResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterVeiculosRFNacional/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterVeiculosJson">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterVeiculosJsonRequest" message="tns:obterVeiculosJson" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterVeiculosJsonResponse" message="tns:obterVeiculosJsonResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterVeiculosJson/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterPontosReferencia">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPontosReferenciaRequest" message="tns:obterPontosReferencia" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPontosReferenciaResponse" message="tns:obterPontosReferenciaResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPontosReferencia/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterSequenciamentoEvento">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterSequenciamentoEventoRequest" message="tns:obterSequenciamentoEvento" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterSequenciamentoEventoResponse" message="tns:obterSequenciamentoEventoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterSequenciamentoEvento/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterMensagemPortal">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMensagemPortalRequest" message="tns:obterMensagemPortal" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMensagemPortalResponse" message="tns:obterMensagemPortalResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterMensagemPortal/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterTelemetriaPortal">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterTelemetriaPortalRequest" message="tns:obterTelemetriaPortal" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterTelemetriaPortalResponse" message="tns:obterTelemetriaPortalResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterTelemetriaPortal/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterEnderecoPosicao">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEnderecoPosicaoRequest" message="tns:obterEnderecoPosicao" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEnderecoPosicaoResponse" message="tns:obterEnderecoPosicaoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEnderecoPosicao/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="verificarVeiculoIntegrado">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/verificarVeiculoIntegradoRequest" message="tns:verificarVeiculoIntegrado" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/verificarVeiculoIntegradoResponse" message="tns:verificarVeiculoIntegradoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/verificarVeiculoIntegrado/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterLayoutAcaoEmbarcadaAVD">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutAcaoEmbarcadaAVDRequest" message="tns:obterLayoutAcaoEmbarcadaAVD" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutAcaoEmbarcadaAVDResponse" message="tns:obterLayoutAcaoEmbarcadaAVDResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterLayoutAcaoEmbarcadaAVD/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="comandoEmbarquePontoDiario">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/comandoEmbarquePontoDiarioRequest" message="tns:comandoEmbarquePontoDiario" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/comandoEmbarquePontoDiarioResponse" message="tns:comandoEmbarquePontoDiarioResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/comandoEmbarquePontoDiario/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterEventoTelemetriaDescricao">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEventoTelemetriaDescricaoRequest" message="tns:obterEventoTelemetriaDescricao" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEventoTelemetriaDescricaoResponse" message="tns:obterEventoTelemetriaDescricaoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEventoTelemetriaDescricao/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterEventoTelemetriaIntegracao">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEventoTelemetriaIntegracaoRequest" message="tns:obterEventoTelemetriaIntegracao" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEventoTelemetriaIntegracaoResponse" message="tns:obterEventoTelemetriaIntegracaoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEventoTelemetriaIntegracao/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterEventoTelemetriaIntegracaoDataChegada">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEventoTelemetriaIntegracaoDataChegadaRequest" message="tns:obterEventoTelemetriaIntegracaoDataChegada" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEventoTelemetriaIntegracaoDataChegadaResponse" message="tns:obterEventoTelemetriaIntegracaoDataChegadaResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEventoTelemetriaIntegracaoDataChegada/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterDeltaTelemetriaIntegracao">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDeltaTelemetriaIntegracaoRequest" message="tns:obterDeltaTelemetriaIntegracao" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDeltaTelemetriaIntegracaoResponse" message="tns:obterDeltaTelemetriaIntegracaoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDeltaTelemetriaIntegracao/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterDeltaTelemetriaIntegracaoDataChegada">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDeltaTelemetriaIntegracaoDataChegadaRequest" message="tns:obterDeltaTelemetriaIntegracaoDataChegada" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDeltaTelemetriaIntegracaoDataChegadaResponse" message="tns:obterDeltaTelemetriaIntegracaoDataChegadaResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDeltaTelemetriaIntegracaoDataChegada/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="enviarParametrizacaoTelemetria">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/enviarParametrizacaoTelemetriaRequest" message="tns:enviarParametrizacaoTelemetria" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/enviarParametrizacaoTelemetriaResponse" message="tns:enviarParametrizacaoTelemetriaResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/enviarParametrizacaoTelemetria/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterDadosAdicionais">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDadosAdicionaisRequest" message="tns:obterDadosAdicionais" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDadosAdicionaisResponse" message="tns:obterDadosAdicionaisResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDadosAdicionais/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterDadosAdicionaisCliente">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDadosAdicionaisClienteRequest" message="tns:obterDadosAdicionaisCliente" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDadosAdicionaisClienteResponse" message="tns:obterDadosAdicionaisClienteResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDadosAdicionaisCliente/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterEventosTempoDirecao">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEventosTempoDirecaoRequest" message="tns:obterEventosTempoDirecao" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEventosTempoDirecaoResponse" message="tns:obterEventosTempoDirecaoResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEventosTempoDirecao/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterEventosTempoDirecaoDataChegada">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEventosTempoDirecaoDataChegadaRequest" message="tns:obterEventosTempoDirecaoDataChegada" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEventosTempoDirecaoDataChegadaResponse" message="tns:obterEventosTempoDirecaoDataChegadaResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterEventosTempoDirecaoDataChegada/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="solicitarEventosCaixaPreta">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/solicitarEventosCaixaPretaRequest" message="tns:solicitarEventosCaixaPreta" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/solicitarEventosCaixaPretaResponse" message="tns:solicitarEventosCaixaPretaResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/solicitarEventosCaixaPreta/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="recuperarEventosCaixaPreta">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/recuperarEventosCaixaPretaRequest" message="tns:recuperarEventosCaixaPreta" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/recuperarEventosCaixaPretaResponse" message="tns:recuperarEventosCaixaPretaResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/recuperarEventosCaixaPreta/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="consultaQuantidadePacotesPosicoesPendentes">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/consultaQuantidadePacotesPosicoesPendentesRequest" message="tns:consultaQuantidadePacotesPosicoesPendentes" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/consultaQuantidadePacotesPosicoesPendentesResponse" message="tns:consultaQuantidadePacotesPosicoesPendentesResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/consultaQuantidadePacotesPosicoesPendentes/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="obterPacoteIntegracaoDeltatelemetria">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacoteIntegracaoDeltatelemetriaRequest" message="tns:obterPacoteIntegracaoDeltatelemetria" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacoteIntegracaoDeltatelemetriaResponse" message="tns:obterPacoteIntegracaoDeltatelemetriaResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterPacoteIntegracaoDeltatelemetria/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="getPositionsPacketJSON">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getPositionsPacketJSONRequest" message="tns:getPositionsPacketJSON" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getPositionsPacketJSONResponse" message="tns:getPositionsPacketJSONResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getPositionsPacketJSON/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="getDriverPositionPacketJSON">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getDriverPositionPacketJSONRequest" message="tns:getDriverPositionPacketJSON" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getDriverPositionPacketJSONResponse" message="tns:getDriverPositionPacketJSONResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getDriverPositionPacketJSON/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="getPositionPacketByRangeJSON">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getPositionPacketByRangeJSONRequest" message="tns:getPositionPacketByRangeJSON" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getPositionPacketByRangeJSONResponse" message="tns:getPositionPacketByRangeJSONResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getPositionPacketByRangeJSON/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="getDriverPositionPacketByRangeJSON">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getDriverPositionPacketByRangeJSONRequest" message="tns:getDriverPositionPacketByRangeJSON" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getDriverPositionPacketByRangeJSONResponse" message="tns:getDriverPositionPacketByRangeJSONResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getDriverPositionPacketByRangeJSON/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="getVehiclesJSON">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getVehiclesJSONRequest" message="tns:getVehiclesJSON" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getVehiclesJSONResponse" message="tns:getVehiclesJSONResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getVehiclesJSON/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="getPositionPacketWithLicensePlateJSON">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getPositionPacketWithLicensePlateJSONRequest" message="tns:getPositionPacketWithLicensePlateJSON" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getPositionPacketWithLicensePlateJSONResponse" message="tns:getPositionPacketWithLicensePlateJSONResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/getPositionPacketWithLicensePlateJSON/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterDeltaTelemetriaIntegracaoInercia">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDeltaTelemetriaIntegracaoInerciaRequest" message="tns:obterDeltaTelemetriaIntegracaoInercia" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDeltaTelemetriaIntegracaoInerciaResponse" message="tns:obterDeltaTelemetriaIntegracaoInerciaResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDeltaTelemetriaIntegracaoInercia/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterDeltaTelemetriaIntegracaoInerciaDataChegada">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDeltaTelemetriaIntegracaoInerciaDataChegadaRequest" message="tns:obterDeltaTelemetriaIntegracaoInerciaDataChegada" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDeltaTelemetriaIntegracaoInerciaDataChegadaResponse" message="tns:obterDeltaTelemetriaIntegracaoInerciaDataChegadaResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterDeltaTelemetriaIntegracaoInerciaDataChegada/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterCadastroAlertasAvd">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterCadastroAlertasAvdRequest" message="tns:obterCadastroAlertasAvd" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterCadastroAlertasAvdResponse" message="tns:obterCadastroAlertasAvdResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterCadastroAlertasAvd/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterAlertasAVDVinculados">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterAlertasAVDVinculadosRequest" message="tns:obterAlertasAVDVinculados" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterAlertasAVDVinculadosResponse" message="tns:obterAlertasAVDVinculadosResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterAlertasAVDVinculados/Fault/SasIntegraNotification" name="SasIntegraNotification" message="tns:SasIntegraNotification" />
    </operation>
    <operation name="obterRotas">
      <input wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterRotasRequest" message="tns:obterRotas" />
      <output wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterRotasResponse" message="tns:obterRotasResponse" />
      <fault wsam:Action="http://webservice.web.integracao.sascar.com.br/SasIntegraWS/obterRotas/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="SasIntegraWSPortBinding" type="tns:SasIntegraWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="atualizarSenha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="getSmartCamerasEvents">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterClientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicaoPorRange">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicaoMotoristaPorRangeJSON">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterMotoristas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterMotoristasVeiculos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterMotoristasPorVeiculo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterLayoutTecladoVeiculos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterLayoutGrupoPontos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterGrupoAtuadores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterStatusComando">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterStatusComandoTicketSascar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterTipoComando">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicoes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicoesComPlaca">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicoesMotorista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicoesMotoristaComPlaca">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicoesRestricao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicoesMotoristaRestricao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicoesRFNacional">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicoesJSON">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicoesJSONComPlaca">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicoesMotoristaJSON">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicaoPorRangeJSON">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicaoMotoristaPorRange">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicaoHistorico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacotePosicaoMotoristaHistorico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacoteLocalizacao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterMacroTd50Tmcd">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterMacroTd50TmcdDetalhado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterMacroTd40">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterMacroTms3">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterMascaraDispositivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterLayout">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterLayoutData">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterLayoutDetalhado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterVeiculos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterLayoutAreaAvd">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterVeiculosRFNacional">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterVeiculosJson">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterPontosReferencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterSequenciamentoEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterMensagemPortal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterTelemetriaPortal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterEnderecoPosicao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="verificarVeiculoIntegrado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterLayoutAcaoEmbarcadaAVD">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="comandoEmbarquePontoDiario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterEventoTelemetriaDescricao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterEventoTelemetriaIntegracao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterEventoTelemetriaIntegracaoDataChegada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterDeltaTelemetriaIntegracao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterDeltaTelemetriaIntegracaoDataChegada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="enviarParametrizacaoTelemetria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterDadosAdicionais">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterDadosAdicionaisCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterEventosTempoDirecao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterEventosTempoDirecaoDataChegada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="solicitarEventosCaixaPreta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="recuperarEventosCaixaPreta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="consultaQuantidadePacotesPosicoesPendentes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="obterPacoteIntegracaoDeltatelemetria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="getPositionsPacketJSON">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="getDriverPositionPacketJSON">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="getPositionPacketByRangeJSON">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="getDriverPositionPacketByRangeJSON">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="getVehiclesJSON">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="getPositionPacketWithLicensePlateJSON">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterDeltaTelemetriaIntegracaoInercia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterDeltaTelemetriaIntegracaoInerciaDataChegada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterCadastroAlertasAvd">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterAlertasAVDVinculados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SasIntegraNotification">
        <soap:fault use="literal" name="SasIntegraNotification" namespace="" />
      </fault>
    </operation>
    <operation name="obterRotas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="SasIntegraWSService">
    <port name="SasIntegraWSPort" binding="tns:SasIntegraWSPortBinding">
      <soap:address location="https://sasintegra.sascar.com.br:443/SasIntegra/SasIntegraWSService" />
    </port>
  </service>
</definitions>