Servicos/Service References/ServicoAX.Compensacao/xppservice62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="VendPaymSettleServiceCreateVendPaymSettleRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_transDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_vendAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_txt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_invoiceNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="_paymId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendPaymSettleServiceCreateVendPaymSettleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>