Servicos/Service References/ServicoBrasilRisk.Monitoramento/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="SolicitarMonitoramento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="monitoramento" type="tns:RequisicaoMonitoramento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequisicaoMonitoramento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CnpjCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CnpjTransportadora" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ControleCliente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoGris" nillable="true" type="tns:Gris" />
          <s:element minOccurs="0" maxOccurs="1" name="CentroDeCusto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Produto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CpfMotorista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CpfMotorista2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlacaVeiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlacaCarreta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnderecoOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BairroOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CepOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CnpjOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CpfOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CidadeOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstadoOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Destinos" type="tns:ArrayOfDestino" />
          <s:element minOccurs="0" maxOccurs="1" name="Coletas" type="tns:ArrayOfColeta" />
          <s:element minOccurs="0" maxOccurs="1" name="Rota" type="tns:Rota" />
          <s:element minOccurs="0" maxOccurs="1" name="ListaNotasFiscais" type="tns:ListaNotasFiscais" />
          <s:element minOccurs="1" maxOccurs="1" name="PrevisaoInicio" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PrevisaoTermino" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Itinerario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Observacoes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DistanciaTotalPrevista" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="PrevisaoHorasViagem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PedidoLogistico" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Gris">
        <s:restriction base="s:string">
          <s:enumeration value="Rastreado" />
          <s:enumeration value="Telemonitorado" />
          <s:enumeration value="RastreadoComEscolta" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfDestino">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Destino" nillable="true" type="tns:Destino" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Destino">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Peso" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerieNF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Conhecimento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Manifesto" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Ordem" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Distancia" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TempoDePercurso" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalDestino" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrevisaoDataDeChegada" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PrevisaoDataDeSaida" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfColeta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Coleta" nillable="true" type="tns:Coleta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Coleta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrdemDeColeta" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Manifesto" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataDeSolicitacao" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Destinatario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UFDestinatario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CidadeDestinatario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CepDestinario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BairroDestinatario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnderecoDestinatario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDestinatario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrevisaoDataDeChegada" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PrevisaoDataDeSaida" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DistanciaDoPercurso" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinoId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalDestino" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Rota">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RotaId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalMinutos" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalQuilometros" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="ItensRota" type="tns:ArrayOfItemRota" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemRota">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ItemRota" nillable="true" type="tns:ItemRota" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemRota">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemRotaId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Sequencia" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quilometragem" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TempoDePercurso" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Sigla" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListaNotasFiscais">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DepositoOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepositoDestino" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notas" type="tns:ArrayOfDadosNF" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDadosNF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DadosNF" nillable="true" type="tns:DadosNF" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DadosNF">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Serie" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SolicitarMonitoramentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SolicitarMonitoramentoResult" type="tns:RetornoMonitoramento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoMonitoramento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Erro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusServico" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MonitoramentoId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ControleCliente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PreColeta" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Credenciais" type="tns:Credenciais" />
      <s:complexType name="Credenciais">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="CancelarMonitoramento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="monitoramentoId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarMonitoramentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelarMonitoramentoResult" type="tns:RetornoMonitoramento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarMonitoramento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dados" type="tns:RequisicaoAlterarMonitoramento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequisicaoAlterarMonitoramento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MonitoramentoId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoAcao" type="tns:AcoesMonitoramento" />
          <s:element minOccurs="1" maxOccurs="1" name="Data" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioSolicitante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ControleCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalDeOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPFMotorista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlacaVeiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Destinos" type="tns:ArrayOfDestino" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AcoesMonitoramento">
        <s:restriction base="s:string">
          <s:enumeration value="Iniciar" />
          <s:enumeration value="Alterar" />
          <s:enumeration value="Encerrar" />
          <s:enumeration value="Cancelar" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AlterarMonitoramentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlterarMonitoramentoResult" type="tns:RetornoMonitoramento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarPosicaoPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="monitoramentoId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarPosicaoPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarPosicaoPorIdResult" type="tns:RetornoPosicao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoPosicao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PontoDeReferencia" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataPosicao" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarPosicaoPorPlaca">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="placa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarPosicaoPorPlacaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarPosicaoPorPlacaResult" type="tns:RetornoPosicao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdicionarEntrega">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entrega" type="tns:RequisicaoEntrega" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequisicaoEntrega">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MonitoramentoId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Conhecimento" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Manifesto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Peso" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="UF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Local" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ControleCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ordem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento1" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Distancia" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalDestino" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrevisaoInicio" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PrevisaoTermino" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="AdicionarEntregaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdicionarEntregaResult" type="tns:RetornoMonitoramento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdicionarColeta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="coleta" type="tns:RequisicaoColeta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequisicaoColeta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CnpjCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CnpjTransportadora" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MonitoramentoId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrdemDeColeta" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Manifesto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataDeSolicitacao" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Destinatario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CidadeDestinatario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UFDestinatario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalDestino" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrevisaoDeChegada" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PrevisaoDeSaida" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ControleCliente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Distancia" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="AdicionarColetaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdicionarColetaResult" type="tns:RetornoMonitoramento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornoMonitoramento" nillable="true" type="tns:RetornoMonitoramento" />
      <s:element name="RetornoPosicao" nillable="true" type="tns:RetornoPosicao" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SolicitarMonitoramentoSoapIn">
    <wsdl:part name="parameters" element="tns:SolicitarMonitoramento" />
  </wsdl:message>
  <wsdl:message name="SolicitarMonitoramentoSoapOut">
    <wsdl:part name="parameters" element="tns:SolicitarMonitoramentoResponse" />
  </wsdl:message>
  <wsdl:message name="SolicitarMonitoramentoCredenciais">
    <wsdl:part name="Credenciais" element="tns:Credenciais" />
  </wsdl:message>
  <wsdl:message name="CancelarMonitoramentoSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarMonitoramento" />
  </wsdl:message>
  <wsdl:message name="CancelarMonitoramentoSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarMonitoramentoResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarMonitoramentoCredenciais">
    <wsdl:part name="Credenciais" element="tns:Credenciais" />
  </wsdl:message>
  <wsdl:message name="AlterarMonitoramentoSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarMonitoramento" />
  </wsdl:message>
  <wsdl:message name="AlterarMonitoramentoSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarMonitoramentoResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarMonitoramentoCredenciais">
    <wsdl:part name="Credenciais" element="tns:Credenciais" />
  </wsdl:message>
  <wsdl:message name="ConsultarPosicaoPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarPosicaoPorId" />
  </wsdl:message>
  <wsdl:message name="ConsultarPosicaoPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarPosicaoPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarPosicaoPorIdCredenciais">
    <wsdl:part name="Credenciais" element="tns:Credenciais" />
  </wsdl:message>
  <wsdl:message name="ConsultarPosicaoPorPlacaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarPosicaoPorPlaca" />
  </wsdl:message>
  <wsdl:message name="ConsultarPosicaoPorPlacaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarPosicaoPorPlacaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarPosicaoPorPlacaCredenciais">
    <wsdl:part name="Credenciais" element="tns:Credenciais" />
  </wsdl:message>
  <wsdl:message name="AdicionarEntregaSoapIn">
    <wsdl:part name="parameters" element="tns:AdicionarEntrega" />
  </wsdl:message>
  <wsdl:message name="AdicionarEntregaSoapOut">
    <wsdl:part name="parameters" element="tns:AdicionarEntregaResponse" />
  </wsdl:message>
  <wsdl:message name="AdicionarEntregaCredenciais">
    <wsdl:part name="Credenciais" element="tns:Credenciais" />
  </wsdl:message>
  <wsdl:message name="AdicionarColetaSoapIn">
    <wsdl:part name="parameters" element="tns:AdicionarColeta" />
  </wsdl:message>
  <wsdl:message name="AdicionarColetaSoapOut">
    <wsdl:part name="parameters" element="tns:AdicionarColetaResponse" />
  </wsdl:message>
  <wsdl:message name="AdicionarColetaCredenciais">
    <wsdl:part name="Credenciais" element="tns:Credenciais" />
  </wsdl:message>
  <wsdl:message name="CancelarMonitoramentoHttpGetIn">
    <wsdl:part name="monitoramentoId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancelarMonitoramentoHttpGetOut">
    <wsdl:part name="Body" element="tns:RetornoMonitoramento" />
  </wsdl:message>
  <wsdl:message name="ConsultarPosicaoPorIdHttpGetIn">
    <wsdl:part name="monitoramentoId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarPosicaoPorIdHttpGetOut">
    <wsdl:part name="Body" element="tns:RetornoPosicao" />
  </wsdl:message>
  <wsdl:message name="ConsultarPosicaoPorPlacaHttpGetIn">
    <wsdl:part name="placa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarPosicaoPorPlacaHttpGetOut">
    <wsdl:part name="Body" element="tns:RetornoPosicao" />
  </wsdl:message>
  <wsdl:message name="CancelarMonitoramentoHttpPostIn">
    <wsdl:part name="monitoramentoId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancelarMonitoramentoHttpPostOut">
    <wsdl:part name="Body" element="tns:RetornoMonitoramento" />
  </wsdl:message>
  <wsdl:message name="ConsultarPosicaoPorIdHttpPostIn">
    <wsdl:part name="monitoramentoId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarPosicaoPorIdHttpPostOut">
    <wsdl:part name="Body" element="tns:RetornoPosicao" />
  </wsdl:message>
  <wsdl:message name="ConsultarPosicaoPorPlacaHttpPostIn">
    <wsdl:part name="placa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarPosicaoPorPlacaHttpPostOut">
    <wsdl:part name="Body" element="tns:RetornoPosicao" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SolicitarMonitoramento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para inserir novas solicitações de monitoramento.</wsdl:documentation>
      <wsdl:input message="tns:SolicitarMonitoramentoSoapIn" />
      <wsdl:output message="tns:SolicitarMonitoramentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelarMonitoramento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para excluir solicitações de monitoramento.</wsdl:documentation>
      <wsdl:input message="tns:CancelarMonitoramentoSoapIn" />
      <wsdl:output message="tns:CancelarMonitoramentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarMonitoramento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para alterar dados da solicitação de monitoramento enquanto ela está aguardando início.</wsdl:documentation>
      <wsdl:input message="tns:AlterarMonitoramentoSoapIn" />
      <wsdl:output message="tns:AlterarMonitoramentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPosicao">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para consultar a posição do veículo através do número da solicitação de monitoramento.</wsdl:documentation>
      <wsdl:input name="ConsultarPosicaoPorId" message="tns:ConsultarPosicaoPorIdSoapIn" />
      <wsdl:output name="ConsultarPosicaoPorId" message="tns:ConsultarPosicaoPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPosicao">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para consultar a posição do veículo através da placa do veículo.</wsdl:documentation>
      <wsdl:input name="ConsultarPosicaoPorPlaca" message="tns:ConsultarPosicaoPorPlacaSoapIn" />
      <wsdl:output name="ConsultarPosicaoPorPlaca" message="tns:ConsultarPosicaoPorPlacaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarEntrega">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para adicionar novas entregas a solicitação de monitoramento enquanto ela está aguardando inicio.</wsdl:documentation>
      <wsdl:input message="tns:AdicionarEntregaSoapIn" />
      <wsdl:output message="tns:AdicionarEntregaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarColeta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para adicionar novas coletas a solicitação de monitoramento enquanto ela está aguardando inicio.</wsdl:documentation>
      <wsdl:input message="tns:AdicionarColetaSoapIn" />
      <wsdl:output message="tns:AdicionarColetaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="CancelarMonitoramento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para excluir solicitações de monitoramento.</wsdl:documentation>
      <wsdl:input message="tns:CancelarMonitoramentoHttpGetIn" />
      <wsdl:output message="tns:CancelarMonitoramentoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPosicao">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para consultar a posição do veículo através do número da solicitação de monitoramento.</wsdl:documentation>
      <wsdl:input name="ConsultarPosicaoPorId" message="tns:ConsultarPosicaoPorIdHttpGetIn" />
      <wsdl:output name="ConsultarPosicaoPorId" message="tns:ConsultarPosicaoPorIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPosicao">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para consultar a posição do veículo através da placa do veículo.</wsdl:documentation>
      <wsdl:input name="ConsultarPosicaoPorPlaca" message="tns:ConsultarPosicaoPorPlacaHttpGetIn" />
      <wsdl:output name="ConsultarPosicaoPorPlaca" message="tns:ConsultarPosicaoPorPlacaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="CancelarMonitoramento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para excluir solicitações de monitoramento.</wsdl:documentation>
      <wsdl:input message="tns:CancelarMonitoramentoHttpPostIn" />
      <wsdl:output message="tns:CancelarMonitoramentoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPosicao">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para consultar a posição do veículo através do número da solicitação de monitoramento.</wsdl:documentation>
      <wsdl:input name="ConsultarPosicaoPorId" message="tns:ConsultarPosicaoPorIdHttpPostIn" />
      <wsdl:output name="ConsultarPosicaoPorId" message="tns:ConsultarPosicaoPorIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPosicao">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para consultar a posição do veículo através da placa do veículo.</wsdl:documentation>
      <wsdl:input name="ConsultarPosicaoPorPlaca" message="tns:ConsultarPosicaoPorPlacaHttpPostIn" />
      <wsdl:output name="ConsultarPosicaoPorPlaca" message="tns:ConsultarPosicaoPorPlacaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitarMonitoramento">
      <soap:operation soapAction="http://tempuri.org/SolicitarMonitoramento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SolicitarMonitoramentoCredenciais" part="Credenciais" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarMonitoramento">
      <soap:operation soapAction="http://tempuri.org/CancelarMonitoramento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CancelarMonitoramentoCredenciais" part="Credenciais" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarMonitoramento">
      <soap:operation soapAction="http://tempuri.org/AlterarMonitoramento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AlterarMonitoramentoCredenciais" part="Credenciais" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPosicao">
      <soap:operation soapAction="http://tempuri.org/ConsultarPosicaoPorId" style="document" />
      <wsdl:input name="ConsultarPosicaoPorId">
        <soap:body use="literal" />
        <soap:header message="tns:ConsultarPosicaoPorIdCredenciais" part="Credenciais" use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarPosicaoPorId">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPosicao">
      <soap:operation soapAction="http://tempuri.org/ConsultarPosicaoPorPlaca" style="document" />
      <wsdl:input name="ConsultarPosicaoPorPlaca">
        <soap:body use="literal" />
        <soap:header message="tns:ConsultarPosicaoPorPlacaCredenciais" part="Credenciais" use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarPosicaoPorPlaca">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarEntrega">
      <soap:operation soapAction="http://tempuri.org/AdicionarEntrega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AdicionarEntregaCredenciais" part="Credenciais" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarColeta">
      <soap:operation soapAction="http://tempuri.org/AdicionarColeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AdicionarColetaCredenciais" part="Credenciais" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitarMonitoramento">
      <soap12:operation soapAction="http://tempuri.org/SolicitarMonitoramento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SolicitarMonitoramentoCredenciais" part="Credenciais" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarMonitoramento">
      <soap12:operation soapAction="http://tempuri.org/CancelarMonitoramento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CancelarMonitoramentoCredenciais" part="Credenciais" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarMonitoramento">
      <soap12:operation soapAction="http://tempuri.org/AlterarMonitoramento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AlterarMonitoramentoCredenciais" part="Credenciais" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPosicao">
      <soap12:operation soapAction="http://tempuri.org/ConsultarPosicaoPorId" style="document" />
      <wsdl:input name="ConsultarPosicaoPorId">
        <soap12:body use="literal" />
        <soap12:header message="tns:ConsultarPosicaoPorIdCredenciais" part="Credenciais" use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarPosicaoPorId">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPosicao">
      <soap12:operation soapAction="http://tempuri.org/ConsultarPosicaoPorPlaca" style="document" />
      <wsdl:input name="ConsultarPosicaoPorPlaca">
        <soap12:body use="literal" />
        <soap12:header message="tns:ConsultarPosicaoPorPlacaCredenciais" part="Credenciais" use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarPosicaoPorPlaca">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarEntrega">
      <soap12:operation soapAction="http://tempuri.org/AdicionarEntrega" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AdicionarEntregaCredenciais" part="Credenciais" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarColeta">
      <soap12:operation soapAction="http://tempuri.org/AdicionarColeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AdicionarColetaCredenciais" part="Credenciais" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CancelarMonitoramento">
      <http:operation location="/CancelarMonitoramento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPosicao">
      <http:operation location="/ConsultarPosicaoPorId" />
      <wsdl:input name="ConsultarPosicaoPorId">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="ConsultarPosicaoPorId">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPosicao">
      <http:operation location="/ConsultarPosicaoPorPlaca" />
      <wsdl:input name="ConsultarPosicaoPorPlaca">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="ConsultarPosicaoPorPlaca">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CancelarMonitoramento">
      <http:operation location="/CancelarMonitoramento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPosicao">
      <http:operation location="/ConsultarPosicaoPorId" />
      <wsdl:input name="ConsultarPosicaoPorId">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="ConsultarPosicaoPorId">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPosicao">
      <http:operation location="/ConsultarPosicaoPorPlaca" />
      <wsdl:input name="ConsultarPosicaoPorPlaca">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="ConsultarPosicaoPorPlaca">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://testes.brasilrisk.com.br/monitoramento/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://testes.brasilrisk.com.br/monitoramento/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://testes.brasilrisk.com.br/monitoramento/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://testes.brasilrisk.com.br/monitoramento/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>