WebApplication1/Service References/OcorrenciaCTe/OcorrenciaCTe1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3521/transportador/OcorrenciaCTe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
  <xs:element name="ConsultarOcorrencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjTransportador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpjEmbarcador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chaveNFe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroCTe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarOcorrenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="ConsultarOcorrenciaResult" nillable="true" type="q1:RetornoOfRetornoOcorrenciaCTelQrtB7Zh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>