WebApplication1/Service References/OcorrenciaCTe/OcorrenciaCTe2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RetornoOfRetornoOcorrenciaCTelQrtB7Zh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoOcorrenciaCTe" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:RetornoOcorrenciaCTe" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoOcorrenciaCTelQrtB7Zh" nillable="true" type="tns:RetornoOfRetornoOcorrenciaCTelQrtB7Zh" />
  <xs:complexType name="RetornoOcorrenciaCTe">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveCTe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoOcorrencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoOcorrencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCTe" type="xs:int" />
      <xs:element minOccurs="0" name="ObservacaoOcorrencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerieCTe" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOcorrenciaCTe" nillable="true" type="tns:RetornoOcorrenciaCTe" />
</xs:schema>