WebApplication1/Service References/SGTCarga/Cargas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Logistica" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Logistica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:complexType name="Fronteira">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoFronteiraEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FronteiraOutroLado" nillable="true" type="tns:Fronteira" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Localidade" nillable="true" type="q1:Localidade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fronteira" nillable="true" type="tns:Fronteira" />
</xs:schema>