WebApplication1/Service References/SGTCarga/Cargas5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
  <xs:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" />
  <xs:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Logistica" />
  <xs:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
  <xs:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:complexType name="CargaIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJEmpresaEmissoraCTe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataFinalCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataInicioCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoEntrega" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q1:Pessoa" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Destino" nillable="true" type="q2:Endereco" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Expedidor" nillable="true" type="q3:Pessoa" />
      <xs:element minOccurs="0" name="FecharCargaAutomaticamente" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" minOccurs="0" name="Filial" nillable="true" type="q4:Filial" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Logistica" minOccurs="0" name="Fronteira" nillable="true" type="q5:Fronteira" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="ModeloVeicular" nillable="true" type="q6:ModeloVeicular" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Motoristas" nillable="true" type="q7:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPaletes" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroPedidoEmbarcador" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Origem" nillable="true" type="q8:Endereco" />
      <xs:element minOccurs="0" name="PesoBrutoCarga" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoTotalPaletes" type="xs:decimal" />
      <xs:element minOccurs="0" name="PlacaVeiculo" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="ProdutoPredominante" nillable="true" type="q9:Produto" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="Produtos" nillable="true" type="q10:ArrayOfProduto" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Recebedor" nillable="true" type="q11:Pessoa" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Remetente" nillable="true" type="q12:Pessoa" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoCargaEmbarcador" nillable="true" type="q13:TipoCargaEmbarcador" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoOperacao" nillable="true" type="q14:TipoOperacao" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoPagamento" type="q15:TipoPagamento" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoTomador" type="q16:TipoTomador" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Tomador" nillable="true" type="q17:Pessoa" />
      <xs:element minOccurs="0" name="UsarOutroEnderecoDestino" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsarOutroEnderecoOrigem" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValorTotalPaletes" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargaIntegracao" nillable="true" type="tns:CargaIntegracao" />
  <xs:complexType name="Protocolos">
    <xs:sequence>
      <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Protocolos" nillable="true" type="tns:Protocolos" />
</xs:schema>