WebApplication1/Service References/SGTCarga/Cargas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cargas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
      <xsd:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
      <xsd:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
      <xsd:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
      <xsd:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" />
      <xsd:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Logistica" />
      <xsd:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
      <xsd:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
      <xsd:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICargas_AdicionarCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarCarga" />
  </wsdl:message>
  <wsdl:message name="ICargas_AdicionarCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarCargaResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_AtualizarCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarCarga" />
  </wsdl:message>
  <wsdl:message name="ICargas_AtualizarCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarCargaResponse" />
  </wsdl:message>
  <wsdl:portType name="ICargas">
    <wsdl:operation name="AdicionarCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/AdicionarCarga" message="tns:ICargas_AdicionarCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/AdicionarCargaResponse" message="tns:ICargas_AdicionarCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/AtualizarCarga" message="tns:ICargas_AtualizarCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/AtualizarCargaResponse" message="tns:ICargas_AtualizarCarga_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICargas" type="tns:ICargas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdicionarCarga">
      <soap:operation soapAction="http://tempuri.org/ICargas/AdicionarCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarCarga">
      <soap:operation soapAction="http://tempuri.org/ICargas/AtualizarCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cargas">
    <wsdl:port name="BasicHttpBinding_ICargas" binding="tns:BasicHttpBinding_ICargas">
      <soap:address location="http://localhost:3226/Cargas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>