WebApplication1/Service References/SGTCarga/Cargas7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
  <xs:import schemaLocation="http://localhost:3226/Cargas.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
  <xs:element name="AdicionarCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="cargaIntegracao" nillable="true" type="q1:CargaIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AdicionarCargaResult" nillable="true" type="q2:RetornoOfProtocolosVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="cargaIntegracao" nillable="true" type="q3:CargaIntegracao" />
        <xs:element minOccurs="0" name="protocoloIntegracao" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AtualizarCargaResult" nillable="true" type="q4:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>