SGT.WebAdmin/Service References/ConsultaCNPJ/ConsultaCNPJ7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pessoa" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pessoa" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/ConsultaCNPJ.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" />
  <xs:import schemaLocation="http://localhost:5146/ConsultaCNPJ.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:complexType name="RequisicaoFazendaPessoaJuridica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Captcha" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" minOccurs="0" name="Cookies" nillable="true" type="q1:ArrayOfCookieDinamico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequisicaoFazendaPessoaJuridica" nillable="true" type="tns:RequisicaoFazendaPessoaJuridica" />
  <xs:complexType name="ConsultaReceitaPessoaJuridica">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsultaValida" type="xs:boolean" />
      <xs:element minOccurs="0" name="MensagemReceita" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Pessoa" nillable="true" type="q2:Pessoa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultaReceitaPessoaJuridica" nillable="true" type="tns:ConsultaReceitaPessoaJuridica" />
</xs:schema>