SGT.WebAdmin/Service References/ConsultaCNPJ/ConsultaCNPJ77.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCookieDinamico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CookieDinamico" nillable="true" type="tns:CookieDinamico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCookieDinamico" nillable="true" type="tns:ArrayOfCookieDinamico" />
  <xs:complexType name="CookieDinamico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CookieDinamico" nillable="true" type="tns:CookieDinamico" />
</xs:schema>