WebApplication1/Service References/IntegracaoMDFe/IntegracaoMDFe.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3521/IntegracaoMDFe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:complexType name="RetornoOfanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfanyType" nillable="true" type="tns:RetornoOfanyType" />
  <xs:complexType name="RetornoOfArrayOfRetornoMDFelQrtB7Zh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRetornoMDFe" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:ArrayOfRetornoMDFe" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfArrayOfRetornoMDFelQrtB7Zh" nillable="true" type="tns:RetornoOfArrayOfRetornoMDFelQrtB7Zh" />
  <xs:complexType name="ArrayOfRetornoMDFe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetornoMDFe" nillable="true" type="tns:RetornoMDFe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetornoMDFe" nillable="true" type="tns:ArrayOfRetornoMDFe" />
  <xs:complexType name="RetornoMDFe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arquivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChaveMDFe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoMDFe" type="xs:int" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensagemRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeArquivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMDFe" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroProtocolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroRecibo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerieMDFe" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="StatusMDFe" type="q1:StatusMDFe" />
      <xs:element minOccurs="0" name="TXT" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="Tipo" type="q2:TipoIntegracaoMDFe" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoMDFe" nillable="true" type="tns:RetornoMDFe" />
  <xs:complexType name="RetornoOfRetornoMDFelQrtB7Zh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoMDFe" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:RetornoMDFe" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoMDFelQrtB7Zh" nillable="true" type="tns:RetornoOfRetornoMDFelQrtB7Zh" />
</xs:schema>