WebApplication1/Service References/IntegracaoMDFe/IntegracaoMDFe3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3521/IntegracaoMDFe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="http://localhost:3521/IntegracaoMDFe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
  <xs:element name="Alterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoMDFe" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="tipoIntegracao" type="q1:TipoIntegracaoMDFe" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="statusIntegracao" type="q2:StatusIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="AlterarResult" nillable="true" type="q3:RetornoOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="statusIntegracao" type="q4:StatusIntegracao" />
        <xs:element minOccurs="0" name="codigoEmpresaPai" type="xs:int" />
        <xs:element minOccurs="0" name="numeroCarga" type="xs:int" />
        <xs:element minOccurs="0" name="numeroUnidade" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="tipoRetorno" type="q5:TipoRetornoIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="BuscarResult" nillable="true" type="q6:RetornoOfArrayOfRetornoMDFelQrtB7Zh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorCodigoMDFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoMDFe" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="tipoIntegracao" type="q7:TipoIntegracaoMDFe" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="tipoRetorno" type="q8:TipoRetornoIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorCodigoMDFeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="BuscarPorCodigoMDFeResult" nillable="true" type="q9:RetornoOfRetornoMDFelQrtB7Zh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>