Servicos/Service References/ServicoAPISULLOG/ApisulLog3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BuscaEventoPeriodoModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataFim" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInicio" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuscaEventoPeriodoModeloIntegracao" nillable="true" type="tns:BuscaEventoPeriodoModeloIntegracao" />
  <xs:complexType name="BuscaEventoSMPModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnoSMP" type="xs:short" />
      <xs:element minOccurs="0" name="NumeroSMP" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuscaEventoSMPModeloIntegracao" nillable="true" type="tns:BuscaEventoSMPModeloIntegracao" />
</xs:schema>