Servicos/Service References/ServicoAPISULLOG/ApisulLog4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEventoModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventoModeloIntegracao" nillable="true" type="tns:EventoModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventoModeloIntegracao" nillable="true" type="tns:ArrayOfEventoModeloIntegracao" />
  <xs:complexType name="EventoModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnoSMP" type="xs:short" />
      <xs:element minOccurs="0" name="DataEvento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescricaoEvento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentoControle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdExterno" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoEvento" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="NumeroSMP" type="xs:int" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventoModeloIntegracao" nillable="true" type="tns:EventoModeloIntegracao" />
</xs:schema>