Servicos/Service References/ServicoAPISULLOG/ApisulLog5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.Evento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" />
  <xs:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.Evento.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" />
  <xs:element name="BuscaEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" minOccurs="0" name="BuscaEventoResult" nillable="true" type="q1:RetornoBuscaEventos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaEventoPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" minOccurs="0" name="buscaEventosPeriodoModeloIntegracao" nillable="true" type="q2:BuscaEventoPeriodoModeloIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaEventoPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" minOccurs="0" name="BuscaEventoPeriodoResult" nillable="true" type="q3:RetornoBuscaEventos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaEventoSMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" minOccurs="0" name="buscaEventosModeloIntegracao" nillable="true" type="q4:BuscaEventoSMPModeloIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaEventoSMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" minOccurs="0" name="BuscaEventoSMPResult" nillable="true" type="q5:RetornoBuscaEventos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>