Servicos/Service References/ServicoAPISULLOG/ApisulLog2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RetornoModelo">
    <xs:sequence>
      <xs:element minOccurs="0" name="MensagensErro" nillable="true" type="tns:ArrayOfRetornoMensagem" />
      <xs:element minOccurs="0" name="TransacaoOk" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoModelo" nillable="true" type="tns:RetornoModelo" />
  <xs:complexType name="ArrayOfRetornoMensagem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetornoMensagem" nillable="true" type="tns:RetornoMensagem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetornoMensagem" nillable="true" type="tns:ArrayOfRetornoMensagem" />
  <xs:complexType name="RetornoMensagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoMensagem" nillable="true" type="tns:RetornoMensagem" />
</xs:schema>