Servicos/Service References/ServicoAPISULLOG/Evento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Evento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.Evento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.Evento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.Evento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" />
      <xsd:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.Evento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" />
      <xsd:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.Evento.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" />
      <xsd:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.Evento.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEvento_BuscaEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscaEvento" />
  </wsdl:message>
  <wsdl:message name="IEvento_BuscaEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscaEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IEvento_BuscaEventoPeriodo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscaEventoPeriodo" />
  </wsdl:message>
  <wsdl:message name="IEvento_BuscaEventoPeriodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscaEventoPeriodoResponse" />
  </wsdl:message>
  <wsdl:message name="IEvento_BuscaEventoSMP_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscaEventoSMP" />
  </wsdl:message>
  <wsdl:message name="IEvento_BuscaEventoSMP_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscaEventoSMPResponse" />
  </wsdl:message>
  <wsdl:portType name="IEvento">
    <wsdl:operation name="BuscaEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvento/BuscaEvento" message="tns:IEvento_BuscaEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvento/BuscaEventoResponse" message="tns:IEvento_BuscaEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscaEventoPeriodo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvento/BuscaEventoPeriodo" message="tns:IEvento_BuscaEventoPeriodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvento/BuscaEventoPeriodoResponse" message="tns:IEvento_BuscaEventoPeriodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscaEventoSMP">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvento/BuscaEventoSMP" message="tns:IEvento_BuscaEventoSMP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvento/BuscaEventoSMPResponse" message="tns:IEvento_BuscaEventoSMP_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEvento" type="tns:IEvento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscaEvento">
      <soap:operation soapAction="http://tempuri.org/IEvento/BuscaEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaEventoPeriodo">
      <soap:operation soapAction="http://tempuri.org/IEvento/BuscaEventoPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaEventoSMP">
      <soap:operation soapAction="http://tempuri.org/IEvento/BuscaEventoSMP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Evento">
    <wsdl:port name="BasicHttpBinding_IEvento" binding="tns:BasicHttpBinding_IEvento">
      <soap:address location="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.Evento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>