Servicos/Service References/Servico.IntegracaoSMP/ApisulLog6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" />
  <xs:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" />
  <xs:complexType name="RetornoInsereSMP">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" base="q1:RetornoMensagemModelo">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnoSMP" type="xs:short" />
          <xs:element minOccurs="0" name="IdSMP" type="xs:long" />
          <xs:element minOccurs="0" name="NumeroSMP" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetornoInsereSMP" nillable="true" type="tns:RetornoInsereSMP" />
  <xs:complexType name="RetornoBuscaSMP">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" base="q2:RetornoModelo">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" minOccurs="0" name="SMP" nillable="true" type="q3:SMPModeloIntegracao" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetornoBuscaSMP" nillable="true" type="tns:RetornoBuscaSMP" />
  <xs:complexType name="RetornoBuscaListaSMP">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" base="q4:RetornoModelo">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" minOccurs="0" name="ListaResumidaSMPs" nillable="true" type="q5:ArrayOfSMPResumidaModeloIntegracao" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetornoBuscaListaSMP" nillable="true" type="tns:RetornoBuscaListaSMP" />
  <xs:complexType name="RetornoCancelaSMP">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" base="q6:RetornoModelo">
        <xs:sequence>
          <xs:element minOccurs="0" name="SMPCancelada" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetornoCancelaSMP" nillable="true" type="tns:RetornoCancelaSMP" />
  <xs:complexType name="RetornoInserePontoSMP">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" base="q7:RetornoMensagemModelo">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetornoInserePontoSMP" nillable="true" type="tns:RetornoInserePontoSMP" />
  <xs:complexType name="RetornoFinalizaSMP">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" base="q8:RetornoModelo">
        <xs:sequence>
          <xs:element minOccurs="0" name="SMPFinalizada" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetornoFinalizaSMP" nillable="true" type="tns:RetornoFinalizaSMP" />
  <xs:complexType name="RetornoBuscaTiposCarga">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" base="q9:RetornoModelo">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" minOccurs="0" name="TiposCarga" nillable="true" type="q10:ArrayOfTipoCargaModeloIntegracao" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetornoBuscaTiposCarga" nillable="true" type="tns:RetornoBuscaTiposCarga" />
  <xs:complexType name="RetornoBuscaTipoCarga">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" base="q11:RetornoModelo">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" minOccurs="0" name="TipoCarga" nillable="true" type="q12:TipoCargaModeloIntegracao" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetornoBuscaTipoCarga" nillable="true" type="tns:RetornoBuscaTipoCarga" />
  <xs:complexType name="RetornoBuscaSMPPlanoViagem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" base="q13:RetornoModelo">
        <xs:sequence>
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" minOccurs="0" name="ListaSMPPlanoViagem" nillable="true" type="q14:ArrayOfSMPPlanoViagemModeloIntegracao" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetornoBuscaSMPPlanoViagem" nillable="true" type="tns:RetornoBuscaSMPPlanoViagem" />
  <xs:complexType name="RetornoAtualizaPreSMPCarregamento">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" base="q15:RetornoMensagemModelo">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnoSMP" type="xs:short" />
          <xs:element minOccurs="0" name="NumeroSMP" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetornoAtualizaPreSMPCarregamento" nillable="true" type="tns:RetornoAtualizaPreSMPCarregamento" />
  <xs:complexType name="RetornoReprogramaSMP">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" base="q16:RetornoMensagemModelo">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnoSMP" type="xs:short" />
          <xs:element minOccurs="0" name="IdSMP" type="xs:long" />
          <xs:element minOccurs="0" name="NumeroSMP" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetornoReprogramaSMP" nillable="true" type="tns:RetornoReprogramaSMP" />
</xs:schema>