Servicos/Service References/Servico.IntegracaoSMP/ApisulLog3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SMPModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnoSMP" type="xs:short" />
          <xs:element minOccurs="0" name="CNPJEmbarcador" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CNPJTransportadora" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataInicioViagem" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DocumentoControle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdEmitenteEmbarcador" type="xs:int" />
          <xs:element minOccurs="0" name="IdEmitenteTransportadora" type="xs:int" />
          <xs:element minOccurs="0" name="IdRota" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IdSMP" type="xs:long" />
          <xs:element minOccurs="0" name="IdTipoOperacao" type="xs:short" />
          <xs:element minOccurs="0" name="Manifesto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Motoristas" nillable="true" type="tns:ArrayOfMotoristaModeloIntegracao" />
          <xs:element minOccurs="0" name="NomeRota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeSolicitante" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroSMP" type="xs:int" />
          <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pontos" nillable="true" type="tns:ArrayOfSMPPontoModeloIntegracao" />
          <xs:element minOccurs="0" name="Rastreadores" nillable="true" type="tns:ArrayOfRastreadorModeloIntegracao" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Veiculos" nillable="true" type="tns:ArrayOfVeiculoModeloIntegracao" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SMPModeloIntegracao" nillable="true" type="tns:SMPModeloIntegracao" />
  <xs:complexType name="BaseModeloIntegracao">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseModeloIntegracao" nillable="true" type="tns:BaseModeloIntegracao" />
  <xs:complexType name="ArrayOfMotoristaModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MotoristaModeloIntegracao" nillable="true" type="tns:MotoristaModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMotoristaModeloIntegracao" nillable="true" type="tns:ArrayOfMotoristaModeloIntegracao" />
  <xs:complexType name="MotoristaModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
          <xs:element minOccurs="0" name="DataInclusao" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IdMotorista" type="xs:int" />
          <xs:element minOccurs="0" name="IdPais" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IdTipoDocumento" type="xs:short" />
          <xs:element minOccurs="0" name="IdTipoMotorista" type="xs:short" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sobrenome" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MotoristaModeloIntegracao" nillable="true" type="tns:MotoristaModeloIntegracao" />
  <xs:complexType name="ArrayOfSMPPontoModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMPPontoModeloIntegracao" nillable="true" type="tns:SMPPontoModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMPPontoModeloIntegracao" nillable="true" type="tns:ArrayOfSMPPontoModeloIntegracao" />
  <xs:complexType name="SMPPontoModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="Apelido" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ApelidoRota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cargas" nillable="true" type="tns:ArrayOfSMPPontoCargaModeloIntegracao" />
          <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoIBGECidade" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Coordenadas" nillable="true" type="tns:ArrayOfCoordenada" />
          <xs:element minOccurs="0" name="Documentos" nillable="true" type="tns:ArrayOfSMPPontoDocumentoSMPModeloIntegracao" />
          <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdPontoGeografico" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IdSMPPonto" type="xs:long" />
          <xs:element minOccurs="0" name="IdTipoPontoSMP" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JanelaFinal" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="JanelaInicial" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NomeRota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrevisaoChegada" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Raio" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TempoPermanencia" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SMPPontoModeloIntegracao" nillable="true" type="tns:SMPPontoModeloIntegracao" />
  <xs:complexType name="ArrayOfSMPPontoCargaModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMPPontoCargaModeloIntegracao" nillable="true" type="tns:SMPPontoCargaModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMPPontoCargaModeloIntegracao" nillable="true" type="tns:ArrayOfSMPPontoCargaModeloIntegracao" />
  <xs:complexType name="SMPPontoCargaModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="CNPJRemetente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdEmitente" type="xs:int" />
          <xs:element minOccurs="0" name="IdProjeto" type="xs:int" />
          <xs:element minOccurs="0" name="IdSMPPonto" type="xs:long" />
          <xs:element minOccurs="0" name="IdTipoCarga" type="xs:int" />
          <xs:element minOccurs="0" name="Projeto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoCarga" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValorCarga" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SMPPontoCargaModeloIntegracao" nillable="true" type="tns:SMPPontoCargaModeloIntegracao" />
  <xs:complexType name="ArrayOfCoordenada">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Coordenada" nillable="true" type="tns:Coordenada" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoordenada" nillable="true" type="tns:ArrayOfCoordenada" />
  <xs:complexType name="Coordenada">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coordenada" nillable="true" type="tns:Coordenada" />
  <xs:complexType name="ArrayOfSMPPontoDocumentoSMPModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMPPontoDocumentoSMPModeloIntegracao" nillable="true" type="tns:SMPPontoDocumentoSMPModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMPPontoDocumentoSMPModeloIntegracao" nillable="true" type="tns:ArrayOfSMPPontoDocumentoSMPModeloIntegracao" />
  <xs:complexType name="SMPPontoDocumentoSMPModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdTipoDocumentoSMP" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="ListDocumentoSMP" nillable="true" type="tns:ArrayOfSMPPontoDocumentoSMPModeloIntegracao" />
          <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SMPPontoDocumentoSMPModeloIntegracao" nillable="true" type="tns:SMPPontoDocumentoSMPModeloIntegracao" />
  <xs:complexType name="ArrayOfRastreadorModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RastreadorModeloIntegracao" nillable="true" type="tns:RastreadorModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRastreadorModeloIntegracao" nillable="true" type="tns:ArrayOfRastreadorModeloIntegracao" />
  <xs:complexType name="RastreadorModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmitenteCNPJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EquipamentoMovel" type="xs:boolean" />
          <xs:element minOccurs="0" name="IdFabricante" type="xs:int" />
          <xs:element minOccurs="0" name="IdRastreador" type="xs:int" />
          <xs:element minOccurs="0" name="IdTipoComunicacao" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RastreadorModeloIntegracao" nillable="true" type="tns:RastreadorModeloIntegracao" />
  <xs:complexType name="ArrayOfVeiculoModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VeiculoModeloIntegracao" nillable="true" type="tns:VeiculoModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVeiculoModeloIntegracao" nillable="true" type="tns:ArrayOfVeiculoModeloIntegracao" />
  <xs:complexType name="VeiculoModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="ANTT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Altura" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AnoFabricacao" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="AnoModelo" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="Autonomo" type="xs:boolean" />
          <xs:element minOccurs="0" name="Capacidade" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Chassi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Emblemado" type="xs:boolean" />
          <xs:element minOccurs="0" name="EmitenteCNPJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Frota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdCor" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IdPerfil" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IdTipoClassificacao" type="xs:short" />
          <xs:element minOccurs="0" name="IdTipoCombustivel" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IdTipoFaturamento" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="IdVeiculo" type="xs:int" />
          <xs:element minOccurs="0" name="Largura" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Profundidade" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Rastreadores" nillable="true" type="tns:ArrayOfRastreadorModeloIntegracao" />
          <xs:element minOccurs="0" name="Renavam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoVeiculo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VelocidadeMedia" nillable="true" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VeiculoModeloIntegracao" nillable="true" type="tns:VeiculoModeloIntegracao" />
  <xs:complexType name="ArrayOfSMPResumidaModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMPResumidaModeloIntegracao" nillable="true" type="tns:SMPResumidaModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMPResumidaModeloIntegracao" nillable="true" type="tns:ArrayOfSMPResumidaModeloIntegracao" />
  <xs:complexType name="SMPResumidaModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJTransportadora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataInicioViagem" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentoControle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Frota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSMP" type="xs:int" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMPResumidaModeloIntegracao" nillable="true" type="tns:SMPResumidaModeloIntegracao" />
  <xs:complexType name="ArrayOfTipoCargaModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoCargaModeloIntegracao" nillable="true" type="tns:TipoCargaModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoCargaModeloIntegracao" nillable="true" type="tns:ArrayOfTipoCargaModeloIntegracao" />
  <xs:complexType name="TipoCargaModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdTipoCarga" type="xs:int" />
      <xs:element minOccurs="0" name="TipoCarga" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoCargaModeloIntegracao" nillable="true" type="tns:TipoCargaModeloIntegracao" />
  <xs:complexType name="ArrayOfSMPPlanoViagemModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMPPlanoViagemModeloIntegracao" nillable="true" type="tns:SMPPlanoViagemModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMPPlanoViagemModeloIntegracao" nillable="true" type="tns:ArrayOfSMPPlanoViagemModeloIntegracao" />
  <xs:complexType name="SMPPlanoViagemModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnoSMP" type="xs:short" />
      <xs:element minOccurs="0" name="DescricaoRota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentoControle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Embarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalizacaoDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalizacaoOrigem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Motoristas" nillable="true" type="tns:ArrayOfMotoristaModeloIntegracao" />
      <xs:element minOccurs="0" name="NumeroSMP" type="xs:int" />
      <xs:element minOccurs="0" name="ObservacaoSMP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrientacoesGerais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pontos" nillable="true" type="tns:ArrayOfSMPPontoModeloIntegracao" />
      <xs:element minOccurs="0" name="PontosInteresse" nillable="true" type="tns:ArrayOfSMPPlanoViagemPontoInteresseModeloIntegracao" />
      <xs:element minOccurs="0" name="PrevisaoChegada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PrevisaoInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TipoOperacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transportador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Veiculos" nillable="true" type="tns:ArrayOfVeiculoModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMPPlanoViagemModeloIntegracao" nillable="true" type="tns:SMPPlanoViagemModeloIntegracao" />
  <xs:complexType name="ArrayOfSMPPlanoViagemPontoInteresseModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMPPlanoViagemPontoInteresseModeloIntegracao" nillable="true" type="tns:SMPPlanoViagemPontoInteresseModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMPPlanoViagemPontoInteresseModeloIntegracao" nillable="true" type="tns:ArrayOfSMPPlanoViagemPontoInteresseModeloIntegracao" />
  <xs:complexType name="SMPPlanoViagemPontoInteresseModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMPPlanoViagemPontoInteresseModeloIntegracao" nillable="true" type="tns:SMPPlanoViagemPontoInteresseModeloIntegracao" />
  <xs:complexType name="PreSMPCarregamentoModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnoSMP" type="xs:short" />
          <xs:element minOccurs="0" name="CNPJEmbarcador" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CNPJTransportadora" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataInicioCarregamento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DocumentoControle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdTipoOperacao" type="xs:short" />
          <xs:element minOccurs="0" name="NumeroSMP" type="xs:int" />
          <xs:element minOccurs="0" name="Pontos" nillable="true" type="tns:ArrayOfSMPPontoModeloIntegracao" />
          <xs:element minOccurs="0" name="Veiculos" nillable="true" type="tns:ArrayOfVeiculoModeloIntegracao" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreSMPCarregamentoModeloIntegracao" nillable="true" type="tns:PreSMPCarregamentoModeloIntegracao" />
  <xs:complexType name="ReprogramaSMPModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnoSMP" type="xs:short" />
          <xs:element minOccurs="0" name="NomeRota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroSMP" type="xs:int" />
          <xs:element minOccurs="0" name="Pontos" nillable="true" type="tns:ArrayOfSMPPontoReprogramacaoModeloIntegracao" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReprogramaSMPModeloIntegracao" nillable="true" type="tns:ReprogramaSMPModeloIntegracao" />
  <xs:complexType name="ArrayOfSMPPontoReprogramacaoModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMPPontoReprogramacaoModeloIntegracao" nillable="true" type="tns:SMPPontoReprogramacaoModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMPPontoReprogramacaoModeloIntegracao" nillable="true" type="tns:ArrayOfSMPPontoReprogramacaoModeloIntegracao" />
  <xs:complexType name="SMPPontoReprogramacaoModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SMPPontoModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="StatusPonto" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SMPPontoReprogramacaoModeloIntegracao" nillable="true" type="tns:SMPPontoReprogramacaoModeloIntegracao" />
</xs:schema>