Servicos/Service References/Servico.IntegracaoSMP/ApisulLog4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Filtro.SMPPlanoViagem" />
  <xs:complexType name="BuscaSMPModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnoSMP" type="xs:short" />
      <xs:element minOccurs="0" name="IdSMP" type="xs:long" />
      <xs:element minOccurs="0" name="NumeroSMP" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuscaSMPModeloIntegracao" nillable="true" type="tns:BuscaSMPModeloIntegracao" />
  <xs:complexType name="CancelaSMPModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnoSMP" type="xs:short" />
      <xs:element minOccurs="0" name="NumeroSMP" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelaSMPModeloIntegracao" nillable="true" type="tns:CancelaSMPModeloIntegracao" />
  <xs:complexType name="FinalizaSMPModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnoSMP" type="xs:short" />
      <xs:element minOccurs="0" name="NumeroSMP" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinalizaSMPModeloIntegracao" nillable="true" type="tns:FinalizaSMPModeloIntegracao" />
  <xs:complexType name="BuscaTiposCargaModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoCarga" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuscaTiposCargaModeloIntegracao" nillable="true" type="tns:BuscaTiposCargaModeloIntegracao" />
  <xs:complexType name="BuscaTipoCargaModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoCarga" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuscaTipoCargaModeloIntegracao" nillable="true" type="tns:BuscaTipoCargaModeloIntegracao" />
  <xs:complexType name="BuscaSMPPlanoViagemModeloIntegracao">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Filtro.SMPPlanoViagem" minOccurs="0" name="BuscaSMPPlanoViagem" nillable="true" type="q1:ArrayOfFiltroBuscaSMPPlanoViagem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuscaSMPPlanoViagemModeloIntegracao" nillable="true" type="tns:BuscaSMPPlanoViagemModeloIntegracao" />
</xs:schema>