Servicos/Service References/Servico.IntegracaoSMP/ApisulLog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Filtro.SMPPlanoViagem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Filtro.SMPPlanoViagem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFiltroBuscaSMPPlanoViagem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FiltroBuscaSMPPlanoViagem" nillable="true" type="tns:FiltroBuscaSMPPlanoViagem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFiltroBuscaSMPPlanoViagem" nillable="true" type="tns:ArrayOfFiltroBuscaSMPPlanoViagem" />
  <xs:complexType name="FiltroBuscaSMPPlanoViagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnoSMP" type="xs:short" />
      <xs:element minOccurs="0" name="NumeroSMP" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FiltroBuscaSMPPlanoViagem" nillable="true" type="tns:FiltroBuscaSMPPlanoViagem" />
</xs:schema>