Servicos/Service References/Servico.IntegracaoSMP/ApisulLog1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApisulLog.Negocio.Integracao.Modelo.REST.PreSMP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApisulLog.Negocio.Integracao.Modelo.REST.PreSMP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" />
  <xs:complexType name="PreSMPModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" base="q1:BaseModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="CNPJEmbarcador" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CNPJTransportadora" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataInicioViagem" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DocumentoControle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdTipoOperacao" type="xs:short" />
          <xs:element minOccurs="0" name="Motoristas" nillable="true" type="tns:ArrayOfPreSMPMotoristaModeloIntegracao" />
          <xs:element minOccurs="0" name="NomeRota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pontos" nillable="true" type="tns:ArrayOfPreSMPPontoModeloIntegracao" />
          <xs:element minOccurs="0" name="Rastreadores" nillable="true" type="tns:ArrayOfPreSMPRastreadorModeloIntegracao" />
          <xs:element minOccurs="0" name="Veiculos" nillable="true" type="tns:ArrayOfPreSMPVeiculoModeloIntegracao" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreSMPModeloIntegracao" nillable="true" type="tns:PreSMPModeloIntegracao" />
  <xs:complexType name="ArrayOfPreSMPMotoristaModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreSMPMotoristaModeloIntegracao" nillable="true" type="tns:PreSMPMotoristaModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreSMPMotoristaModeloIntegracao" nillable="true" type="tns:ArrayOfPreSMPMotoristaModeloIntegracao" />
  <xs:complexType name="PreSMPMotoristaModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" base="q2:BaseModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdTipoDocumento" type="xs:short" />
          <xs:element minOccurs="0" name="IdTipoMotorista" type="xs:short" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sobrenome" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreSMPMotoristaModeloIntegracao" nillable="true" type="tns:PreSMPMotoristaModeloIntegracao" />
  <xs:complexType name="ArrayOfPreSMPPontoModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreSMPPontoModeloIntegracao" nillable="true" type="tns:PreSMPPontoModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreSMPPontoModeloIntegracao" nillable="true" type="tns:ArrayOfPreSMPPontoModeloIntegracao" />
  <xs:complexType name="PreSMPPontoModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" base="q3:BaseModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="Apelido" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ApelidoRota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cargas" nillable="true" type="tns:ArrayOfPreSMPPontoCargaModeloIntegracao" />
          <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoIBGECidade" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Coordenadas" nillable="true" type="q3:ArrayOfCoordenada" />
          <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdTipoPontoSMP" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JanelaFinal" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="JanelaInicial" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NomeRota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrevisaoChegada" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Raio" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TempoPermanencia" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreSMPPontoModeloIntegracao" nillable="true" type="tns:PreSMPPontoModeloIntegracao" />
  <xs:complexType name="ArrayOfPreSMPPontoCargaModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreSMPPontoCargaModeloIntegracao" nillable="true" type="tns:PreSMPPontoCargaModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreSMPPontoCargaModeloIntegracao" nillable="true" type="tns:ArrayOfPreSMPPontoCargaModeloIntegracao" />
  <xs:complexType name="PreSMPPontoCargaModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" base="q4:BaseModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="CNPJRemetente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Projeto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoCarga" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValorCarga" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreSMPPontoCargaModeloIntegracao" nillable="true" type="tns:PreSMPPontoCargaModeloIntegracao" />
  <xs:complexType name="ArrayOfPreSMPRastreadorModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreSMPRastreadorModeloIntegracao" nillable="true" type="tns:PreSMPRastreadorModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreSMPRastreadorModeloIntegracao" nillable="true" type="tns:ArrayOfPreSMPRastreadorModeloIntegracao" />
  <xs:complexType name="PreSMPRastreadorModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" base="q5:BaseModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmitenteCNPJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EquipamentoMovel" type="xs:boolean" />
          <xs:element minOccurs="0" name="IdFabricante" type="xs:int" />
          <xs:element minOccurs="0" name="IdTipoComunicacao" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreSMPRastreadorModeloIntegracao" nillable="true" type="tns:PreSMPRastreadorModeloIntegracao" />
  <xs:complexType name="ArrayOfPreSMPVeiculoModeloIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreSMPVeiculoModeloIntegracao" nillable="true" type="tns:PreSMPVeiculoModeloIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreSMPVeiculoModeloIntegracao" nillable="true" type="tns:ArrayOfPreSMPVeiculoModeloIntegracao" />
  <xs:complexType name="PreSMPVeiculoModeloIntegracao">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" base="q6:BaseModeloIntegracao">
        <xs:sequence>
          <xs:element minOccurs="0" name="ANTT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Altura" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AnoFabricacao" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="AnoModelo" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="Autonomo" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Capacidade" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Chassi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Emblemado" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="EmitenteCNPJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Frota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdCor" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IdPerfil" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IdTipoClassificacao" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IdTipoCombustivel" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IdTipoFaturamento" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Largura" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Profundidade" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Renavam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoVeiculo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreSMPVeiculoModeloIntegracao" nillable="true" type="tns:PreSMPVeiculoModeloIntegracao" />
</xs:schema>