Servicos/Service References/Servico.IntegracaoSMP/ApisulLog2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApisulLog.Negocio.Integracao.Modelo.Retorno" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApisulLog.Negocio.Integracao.Modelo.Retorno" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" />
  <xs:complexType name="RetornoInserePreSMP">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" base="q1:RetornoMensagemModelo">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnoSMP" type="xs:short" />
          <xs:element minOccurs="0" name="NumeroSMP" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetornoInserePreSMP" nillable="true" type="tns:RetornoInserePreSMP" />
</xs:schema>