Servicos/Service References/Servico.IntegracaoSMP/ApisulLog7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" />
  <xs:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" />
  <xs:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" />
  <xs:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Negocio.Integracao.Modelo.REST.PreSMP" />
  <xs:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Negocio.Integracao.Modelo.Retorno" />
  <xs:element name="InsereSMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" minOccurs="0" name="smp" nillable="true" type="q1:SMPModeloIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsereSMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" minOccurs="0" name="InsereSMPResult" nillable="true" type="q2:RetornoInsereSMP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaSMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" minOccurs="0" name="buscaSMPModeloIntegracao" nillable="true" type="q3:BuscaSMPModeloIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaSMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" minOccurs="0" name="BuscaSMPResult" nillable="true" type="q4:RetornoBuscaSMP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaListaSMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaListaSMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" minOccurs="0" name="BuscaListaSMPResult" nillable="true" type="q5:RetornoBuscaListaSMP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaSMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" minOccurs="0" name="cancelaSMPModeloIntegracao" nillable="true" type="q6:CancelaSMPModeloIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaSMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" minOccurs="0" name="CancelaSMPResult" nillable="true" type="q7:RetornoCancelaSMP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserePontoSMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" minOccurs="0" name="listPontoSMP" nillable="true" type="q8:ArrayOfSMPPontoModeloIntegracao" />
        <xs:element minOccurs="0" name="idSMP" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserePontoSMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" minOccurs="0" name="InserePontoSMPResult" nillable="true" type="q9:RetornoInserePontoSMP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizaSMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" minOccurs="0" name="finalizaSMPModeloIntegracao" nillable="true" type="q10:FinalizaSMPModeloIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizaSMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" minOccurs="0" name="FinalizaSMPResult" nillable="true" type="q11:RetornoFinalizaSMP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaTiposCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" minOccurs="0" name="buscaTiposCargaModeloIntegracao" nillable="true" type="q12:BuscaTiposCargaModeloIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaTiposCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" minOccurs="0" name="BuscaTiposCargaResult" nillable="true" type="q13:RetornoBuscaTiposCarga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaTipoCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" minOccurs="0" name="buscaTipoCargaModeloIntegracao" nillable="true" type="q14:BuscaTipoCargaModeloIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaTipoCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" minOccurs="0" name="BuscaTipoCargaResult" nillable="true" type="q15:RetornoBuscaTipoCarga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaSMPPlanoViagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" minOccurs="0" name="buscaSMPPlanoViagem" nillable="true" type="q16:BuscaSMPPlanoViagemModeloIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaSMPPlanoViagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" minOccurs="0" name="BuscaSMPPlanoViagemResult" nillable="true" type="q17:RetornoBuscaSMPPlanoViagem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizaPreSMPCarregamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" minOccurs="0" name="preSMPModeloIntegracao" nillable="true" type="q18:PreSMPCarregamentoModeloIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizaPreSMPCarregamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" minOccurs="0" name="AtualizaPreSMPCarregamentoResult" nillable="true" type="q19:RetornoAtualizaPreSMPCarregamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprogramaSMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" minOccurs="0" name="reprogramacaoModeloIntegracao" nillable="true" type="q20:ReprogramaSMPModeloIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprogramaSMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" minOccurs="0" name="ReprogramaSMPResult" nillable="true" type="q21:RetornoReprogramaSMP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserePreSMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ApisulLog.Negocio.Integracao.Modelo.REST.PreSMP" minOccurs="0" name="preSMP" nillable="true" type="q22:PreSMPModeloIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserePreSMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ApisulLog.Negocio.Integracao.Modelo.Retorno" minOccurs="0" name="InserePreSMPResult" nillable="true" type="q23:RetornoInserePreSMP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>