Servicos/Service References/Servico.IntegracaoSMP/SMP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SMP" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo" />
      <xsd:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Retorno" />
      <xsd:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Retorno" />
      <xsd:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Integracao.Modelo.Chamada" />
      <xsd:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Modelo.Filtro.SMPPlanoViagem" />
      <xsd:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Negocio.Integracao.Modelo.REST.PreSMP" />
      <xsd:import schemaLocation="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/ApisulLog.Negocio.Integracao.Modelo.Retorno" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISMP_InsereSMP_InputMessage">
    <wsdl:part name="parameters" element="tns:InsereSMP" />
  </wsdl:message>
  <wsdl:message name="ISMP_InsereSMP_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsereSMPResponse" />
  </wsdl:message>
  <wsdl:message name="ISMP_BuscaSMP_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscaSMP" />
  </wsdl:message>
  <wsdl:message name="ISMP_BuscaSMP_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscaSMPResponse" />
  </wsdl:message>
  <wsdl:message name="ISMP_BuscaListaSMP_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscaListaSMP" />
  </wsdl:message>
  <wsdl:message name="ISMP_BuscaListaSMP_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscaListaSMPResponse" />
  </wsdl:message>
  <wsdl:message name="ISMP_CancelaSMP_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelaSMP" />
  </wsdl:message>
  <wsdl:message name="ISMP_CancelaSMP_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelaSMPResponse" />
  </wsdl:message>
  <wsdl:message name="ISMP_InserePontoSMP_InputMessage">
    <wsdl:part name="parameters" element="tns:InserePontoSMP" />
  </wsdl:message>
  <wsdl:message name="ISMP_InserePontoSMP_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserePontoSMPResponse" />
  </wsdl:message>
  <wsdl:message name="ISMP_FinalizaSMP_InputMessage">
    <wsdl:part name="parameters" element="tns:FinalizaSMP" />
  </wsdl:message>
  <wsdl:message name="ISMP_FinalizaSMP_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinalizaSMPResponse" />
  </wsdl:message>
  <wsdl:message name="ISMP_BuscaTiposCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscaTiposCarga" />
  </wsdl:message>
  <wsdl:message name="ISMP_BuscaTiposCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscaTiposCargaResponse" />
  </wsdl:message>
  <wsdl:message name="ISMP_BuscaTipoCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscaTipoCarga" />
  </wsdl:message>
  <wsdl:message name="ISMP_BuscaTipoCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscaTipoCargaResponse" />
  </wsdl:message>
  <wsdl:message name="ISMP_BuscaSMPPlanoViagem_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscaSMPPlanoViagem" />
  </wsdl:message>
  <wsdl:message name="ISMP_BuscaSMPPlanoViagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscaSMPPlanoViagemResponse" />
  </wsdl:message>
  <wsdl:message name="ISMP_AtualizaPreSMPCarregamento_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizaPreSMPCarregamento" />
  </wsdl:message>
  <wsdl:message name="ISMP_AtualizaPreSMPCarregamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizaPreSMPCarregamentoResponse" />
  </wsdl:message>
  <wsdl:message name="ISMP_ReprogramaSMP_InputMessage">
    <wsdl:part name="parameters" element="tns:ReprogramaSMP" />
  </wsdl:message>
  <wsdl:message name="ISMP_ReprogramaSMP_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReprogramaSMPResponse" />
  </wsdl:message>
  <wsdl:message name="ISMP_InserePreSMP_InputMessage">
    <wsdl:part name="parameters" element="tns:InserePreSMP" />
  </wsdl:message>
  <wsdl:message name="ISMP_InserePreSMP_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserePreSMPResponse" />
  </wsdl:message>
  <wsdl:portType name="ISMP">
    <wsdl:operation name="InsereSMP">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMP/InsereSMP" message="tns:ISMP_InsereSMP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMP/InsereSMPResponse" message="tns:ISMP_InsereSMP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscaSMP">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMP/BuscaSMP" message="tns:ISMP_BuscaSMP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMP/BuscaSMPResponse" message="tns:ISMP_BuscaSMP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscaListaSMP">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMP/BuscaListaSMP" message="tns:ISMP_BuscaListaSMP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMP/BuscaListaSMPResponse" message="tns:ISMP_BuscaListaSMP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelaSMP">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMP/CancelaSMP" message="tns:ISMP_CancelaSMP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMP/CancelaSMPResponse" message="tns:ISMP_CancelaSMP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserePontoSMP">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMP/InserePontoSMP" message="tns:ISMP_InserePontoSMP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMP/InserePontoSMPResponse" message="tns:ISMP_InserePontoSMP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinalizaSMP">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMP/FinalizaSMP" message="tns:ISMP_FinalizaSMP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMP/FinalizaSMPResponse" message="tns:ISMP_FinalizaSMP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscaTiposCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMP/BuscaTiposCarga" message="tns:ISMP_BuscaTiposCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMP/BuscaTiposCargaResponse" message="tns:ISMP_BuscaTiposCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscaTipoCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMP/BuscaTipoCarga" message="tns:ISMP_BuscaTipoCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMP/BuscaTipoCargaResponse" message="tns:ISMP_BuscaTipoCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscaSMPPlanoViagem">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMP/BuscaSMPPlanoViagem" message="tns:ISMP_BuscaSMPPlanoViagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMP/BuscaSMPPlanoViagemResponse" message="tns:ISMP_BuscaSMPPlanoViagem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizaPreSMPCarregamento">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMP/AtualizaPreSMPCarregamento" message="tns:ISMP_AtualizaPreSMPCarregamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMP/AtualizaPreSMPCarregamentoResponse" message="tns:ISMP_AtualizaPreSMPCarregamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReprogramaSMP">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMP/ReprogramaSMP" message="tns:ISMP_ReprogramaSMP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMP/ReprogramaSMPResponse" message="tns:ISMP_ReprogramaSMP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserePreSMP">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMP/InserePreSMP" message="tns:ISMP_InserePreSMP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMP/InserePreSMPResponse" message="tns:ISMP_InserePreSMP_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISMP" type="tns:ISMP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsereSMP">
      <soap:operation soapAction="http://tempuri.org/ISMP/InsereSMP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaSMP">
      <soap:operation soapAction="http://tempuri.org/ISMP/BuscaSMP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaListaSMP">
      <soap:operation soapAction="http://tempuri.org/ISMP/BuscaListaSMP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaSMP">
      <soap:operation soapAction="http://tempuri.org/ISMP/CancelaSMP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserePontoSMP">
      <soap:operation soapAction="http://tempuri.org/ISMP/InserePontoSMP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizaSMP">
      <soap:operation soapAction="http://tempuri.org/ISMP/FinalizaSMP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaTiposCarga">
      <soap:operation soapAction="http://tempuri.org/ISMP/BuscaTiposCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaTipoCarga">
      <soap:operation soapAction="http://tempuri.org/ISMP/BuscaTipoCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaSMPPlanoViagem">
      <soap:operation soapAction="http://tempuri.org/ISMP/BuscaSMPPlanoViagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizaPreSMPCarregamento">
      <soap:operation soapAction="http://tempuri.org/ISMP/AtualizaPreSMPCarregamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReprogramaSMP">
      <soap:operation soapAction="http://tempuri.org/ISMP/ReprogramaSMP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserePreSMP">
      <soap:operation soapAction="http://tempuri.org/ISMP/InserePreSMP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMP">
    <wsdl:port name="BasicHttpBinding_ISMP" binding="tns:BasicHttpBinding_ISMP">
      <soap:address location="http://hml-api-novoapisullog.apisul.com.br/ApisulLog.Integracao.SMP.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>