Servicos/Service References/ServicoSGT.Ocorrencia/Ocorrencias3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SGT.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" />
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd21" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" />
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.OcorrenciaCancelamento" />
  <xs:complexType name="RetornoOfPaginacaoOfTipoOcorrencia_Pjial4yu51p1vPsU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService">
            <GenericParameter Name="TipoOcorrencia" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:PaginacaoOfTipoOcorrencia_Pjial4yu" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfPaginacaoOfTipoOcorrencia_Pjial4yu51p1vPsU" nillable="true" type="tns:RetornoOfPaginacaoOfTipoOcorrencia_Pjial4yu51p1vPsU" />
  <xs:complexType name="PaginacaoOfTipoOcorrencia_Pjial4yu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TipoOcorrencia" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" minOccurs="0" name="Itens" nillable="true" type="q1:ArrayOfTipoOcorrencia" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginacaoOfTipoOcorrencia_Pjial4yu" nillable="true" type="tns:PaginacaoOfTipoOcorrencia_Pjial4yu" />
  <xs:complexType name="RetornoOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfint" nillable="true" type="tns:RetornoOfint" />
  <xs:complexType name="RetornoOfPaginacaoOfPedidoEntregaknUzgH8451p1vPsU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService">
            <GenericParameter Name="PedidoEntrega" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:PaginacaoOfPedidoEntregaknUzgH84" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfPaginacaoOfPedidoEntregaknUzgH8451p1vPsU" nillable="true" type="tns:RetornoOfPaginacaoOfPedidoEntregaknUzgH8451p1vPsU" />
  <xs:complexType name="PaginacaoOfPedidoEntregaknUzgH84">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PedidoEntrega" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="Itens" nillable="true" type="q2:ArrayOfPedidoEntrega" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginacaoOfPedidoEntregaknUzgH84" nillable="true" type="tns:PaginacaoOfPedidoEntregaknUzgH84" />
  <xs:complexType name="RetornoOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfboolean" nillable="true" type="tns:RetornoOfboolean" />
  <xs:complexType name="RetornoOfPaginacaoOfRetornoOcorrencia_Pjial4yu51p1vPsU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService">
            <GenericParameter Name="RetornoOcorrencia" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:PaginacaoOfRetornoOcorrencia_Pjial4yu" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfPaginacaoOfRetornoOcorrencia_Pjial4yu51p1vPsU" nillable="true" type="tns:RetornoOfPaginacaoOfRetornoOcorrencia_Pjial4yu51p1vPsU" />
  <xs:complexType name="PaginacaoOfRetornoOcorrencia_Pjial4yu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoOcorrencia" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" minOccurs="0" name="Itens" nillable="true" type="q3:ArrayOfRetornoOcorrencia" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginacaoOfRetornoOcorrencia_Pjial4yu" nillable="true" type="tns:PaginacaoOfRetornoOcorrencia_Pjial4yu" />
  <xs:complexType name="RetornoOfPaginacaoOfCTeComplementarpIzbOyUQ51p1vPsU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService">
            <GenericParameter Name="CTeComplementar" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:PaginacaoOfCTeComplementarpIzbOyUQ" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfPaginacaoOfCTeComplementarpIzbOyUQ51p1vPsU" nillable="true" type="tns:RetornoOfPaginacaoOfCTeComplementarpIzbOyUQ51p1vPsU" />
  <xs:complexType name="PaginacaoOfCTeComplementarpIzbOyUQ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CTeComplementar" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="Itens" nillable="true" type="q4:ArrayOfCTeComplementar" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginacaoOfCTeComplementarpIzbOyUQ" nillable="true" type="tns:PaginacaoOfCTeComplementarpIzbOyUQ" />
  <xs:complexType name="RetornoOfRetornoOcorrencia_Pjial4yu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoOcorrencia" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" minOccurs="0" name="Objeto" nillable="true" type="q5:RetornoOcorrencia" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoOcorrencia_Pjial4yu" nillable="true" type="tns:RetornoOfRetornoOcorrencia_Pjial4yu" />
  <xs:complexType name="RetornoOfArrayOfOcorrenciaIntegracaoMultivXP_PntxX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfOcorrenciaIntegracaoMulti" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" minOccurs="0" name="Objeto" nillable="true" type="q6:ArrayOfOcorrenciaIntegracaoMulti" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfArrayOfOcorrenciaIntegracaoMultivXP_PntxX" nillable="true" type="tns:RetornoOfArrayOfOcorrenciaIntegracaoMultivXP_PntxX" />
  <xs:complexType name="RetornoOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfstring" nillable="true" type="tns:RetornoOfstring" />
  <xs:complexType name="RetornoOfArrayOfOcorrenciaCancelamento0halQhHF">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfOcorrenciaCancelamento" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.OcorrenciaCancelamento" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.OcorrenciaCancelamento" minOccurs="0" name="Objeto" nillable="true" type="q7:ArrayOfOcorrenciaCancelamento" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfArrayOfOcorrenciaCancelamento0halQhHF" nillable="true" type="tns:RetornoOfArrayOfOcorrenciaCancelamento0halQhHF" />
  <xs:complexType name="RetornoOfOcorrenciaIntegracaoMultivXP_PntxX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OcorrenciaIntegracaoMulti" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" minOccurs="0" name="Objeto" nillable="true" type="q8:OcorrenciaIntegracaoMulti" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfOcorrenciaIntegracaoMultivXP_PntxX" nillable="true" type="tns:RetornoOfOcorrenciaIntegracaoMultivXP_PntxX" />
  <xs:complexType name="RetornoOfRetornoDetalhesOcorrencia_Pjial4yu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoDetalhesOcorrencia" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" minOccurs="0" name="Objeto" nillable="true" type="q9:RetornoDetalhesOcorrencia" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoDetalhesOcorrencia_Pjial4yu" nillable="true" type="tns:RetornoOfRetornoDetalhesOcorrencia_Pjial4yu" />
  <xs:complexType name="RetornoOfArrayOfOcorrenciaEntregavXP_PntxX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfOcorrenciaEntrega" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" minOccurs="0" name="Objeto" nillable="true" type="q10:ArrayOfOcorrenciaEntrega" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfArrayOfOcorrenciaEntregavXP_PntxX" nillable="true" type="tns:RetornoOfArrayOfOcorrenciaEntregavXP_PntxX" />
</xs:schema>