Servicos/Service References/ServicoSGT.Ocorrencia/Ocorrencias.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Ocorrencias" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Enumerador" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ICMS" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ISS" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd21" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.OcorrenciaCancelamento" />
      <xsd:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd23" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOcorrencias_BuscarTiposOcorrencia_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTiposOcorrencia" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarTiposOcorrencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTiposOcorrenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarMovivosAprovacaoOcorrencia_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMovivosAprovacaoOcorrencia" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarMovivosAprovacaoOcorrencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMovivosAprovacaoOcorrenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_AdicionarOcorrencia_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarOcorrencia" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_AdicionarOcorrencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarOcorrenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarEntregasPedidoPendentesIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEntregasPedidoPendentesIntegracao" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarEntregasPedidoPendentesIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEntregasPedidoPendentesIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_ConfirmarIntegracaoPedidosPendentes_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoPedidosPendentes" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_ConfirmarIntegracaoPedidosPendentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoPedidosPendentesResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarOcorrencia_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOcorrencia" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarOcorrencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOcorrenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarDocumentosOcorrencia_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarDocumentosOcorrencia" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarDocumentosOcorrencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarDocumentosOcorrenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_SolicitarCancelamentoOcorrencia_InputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarCancelamentoOcorrencia" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_SolicitarCancelamentoOcorrencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarCancelamentoOcorrenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarSituacaoOcorrencia_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarSituacaoOcorrencia" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarSituacaoOcorrencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarSituacaoOcorrenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarOcorrenciasPorTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOcorrenciasPorTransportador" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarOcorrenciasPorTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOcorrenciasPorTransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_ConfirmarIntegracaoOcorrenciaTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoOcorrenciaTransportador" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_ConfirmarIntegracaoOcorrenciaTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoOcorrenciaTransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarOcorrenciasCanceladasPorTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOcorrenciasCanceladasPorTransportador" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarOcorrenciasCanceladasPorTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOcorrenciasCanceladasPorTransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_ConfirmarIntegracaoOcorrenciaCanceladaTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoOcorrenciaCanceladaTransportador" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_ConfirmarIntegracaoOcorrenciaCanceladaTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoOcorrenciaCanceladaTransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarOcorrenciaPorProtocoloETransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOcorrenciaPorProtocoloETransportador" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarOcorrenciaPorProtocoloETransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOcorrenciaPorProtocoloETransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarOcorrenciaPorNumero_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOcorrenciaPorNumero" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarOcorrenciaPorNumero_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOcorrenciaPorNumeroResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarOcorrenciasEntrega_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOcorrenciasEntrega" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarOcorrenciasEntrega_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOcorrenciasEntregaResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarOcorrenciasEntregaPorNumeroPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOcorrenciasEntregaPorNumeroPedido" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarOcorrenciasEntregaPorNumeroPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarOcorrenciasEntregaPorNumeroPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarQuantidadeOcorrenciasColetaEntregaNaoIntegradas_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarQuantidadeOcorrenciasColetaEntregaNaoIntegradas" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_BuscarQuantidadeOcorrenciasColetaEntregaNaoIntegradas_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarQuantidadeOcorrenciasColetaEntregaNaoIntegradasResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_SolicitarReenvioIntegracaoOcorrenciaColetaEntrega_InputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarReenvioIntegracaoOcorrenciaColetaEntrega" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_SolicitarReenvioIntegracaoOcorrenciaColetaEntrega_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarReenvioIntegracaoOcorrenciaColetaEntregaResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_EnviarOcorrencia_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarOcorrencia" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_EnviarOcorrencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarOcorrenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_EnviarCancelamentoOcorrencia_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCancelamentoOcorrencia" />
  </wsdl:message>
  <wsdl:message name="IOcorrencias_EnviarCancelamentoOcorrencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCancelamentoOcorrenciaResponse" />
  </wsdl:message>
  <wsdl:portType name="IOcorrencias">
    <wsdl:operation name="BuscarTiposOcorrencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/BuscarTiposOcorrencia" message="tns:IOcorrencias_BuscarTiposOcorrencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/BuscarTiposOcorrenciaResponse" message="tns:IOcorrencias_BuscarTiposOcorrencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMovivosAprovacaoOcorrencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/BuscarMovivosAprovacaoOcorrencia" message="tns:IOcorrencias_BuscarMovivosAprovacaoOcorrencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/BuscarMovivosAprovacaoOcorrenciaResponse" message="tns:IOcorrencias_BuscarMovivosAprovacaoOcorrencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarOcorrencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/AdicionarOcorrencia" message="tns:IOcorrencias_AdicionarOcorrencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/AdicionarOcorrenciaResponse" message="tns:IOcorrencias_AdicionarOcorrencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEntregasPedidoPendentesIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/BuscarEntregasPedidoPendentesIntegracao" message="tns:IOcorrencias_BuscarEntregasPedidoPendentesIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/BuscarEntregasPedidoPendentesIntegracaoResponse" message="tns:IOcorrencias_BuscarEntregasPedidoPendentesIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoPedidosPendentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/ConfirmarIntegracaoPedidosPendentes" message="tns:IOcorrencias_ConfirmarIntegracaoPedidosPendentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/ConfirmarIntegracaoPedidosPendentesResponse" message="tns:IOcorrencias_ConfirmarIntegracaoPedidosPendentes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarOcorrencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/BuscarOcorrencia" message="tns:IOcorrencias_BuscarOcorrencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/BuscarOcorrenciaResponse" message="tns:IOcorrencias_BuscarOcorrencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarDocumentosOcorrencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/BuscarDocumentosOcorrencia" message="tns:IOcorrencias_BuscarDocumentosOcorrencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/BuscarDocumentosOcorrenciaResponse" message="tns:IOcorrencias_BuscarDocumentosOcorrencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SolicitarCancelamentoOcorrencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/SolicitarCancelamentoOcorrencia" message="tns:IOcorrencias_SolicitarCancelamentoOcorrencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/SolicitarCancelamentoOcorrenciaResponse" message="tns:IOcorrencias_SolicitarCancelamentoOcorrencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarSituacaoOcorrencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/BuscarSituacaoOcorrencia" message="tns:IOcorrencias_BuscarSituacaoOcorrencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/BuscarSituacaoOcorrenciaResponse" message="tns:IOcorrencias_BuscarSituacaoOcorrencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarOcorrenciasPorTransportador">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/BuscarOcorrenciasPorTransportador" message="tns:IOcorrencias_BuscarOcorrenciasPorTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/BuscarOcorrenciasPorTransportadorResponse" message="tns:IOcorrencias_BuscarOcorrenciasPorTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoOcorrenciaTransportador">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/ConfirmarIntegracaoOcorrenciaTransportador" message="tns:IOcorrencias_ConfirmarIntegracaoOcorrenciaTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/ConfirmarIntegracaoOcorrenciaTransportadorResponse" message="tns:IOcorrencias_ConfirmarIntegracaoOcorrenciaTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarOcorrenciasCanceladasPorTransportador">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/BuscarOcorrenciasCanceladasPorTransportador" message="tns:IOcorrencias_BuscarOcorrenciasCanceladasPorTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/BuscarOcorrenciasCanceladasPorTransportadorResponse" message="tns:IOcorrencias_BuscarOcorrenciasCanceladasPorTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoOcorrenciaCanceladaTransportador">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/ConfirmarIntegracaoOcorrenciaCanceladaTransportador" message="tns:IOcorrencias_ConfirmarIntegracaoOcorrenciaCanceladaTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/ConfirmarIntegracaoOcorrenciaCanceladaTransportadorResponse" message="tns:IOcorrencias_ConfirmarIntegracaoOcorrenciaCanceladaTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarOcorrenciaPorProtocoloETransportador">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/BuscarOcorrenciaPorProtocoloETransportador" message="tns:IOcorrencias_BuscarOcorrenciaPorProtocoloETransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/BuscarOcorrenciaPorProtocoloETransportadorResponse" message="tns:IOcorrencias_BuscarOcorrenciaPorProtocoloETransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarOcorrenciaPorNumero">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/BuscarOcorrenciaPorNumero" message="tns:IOcorrencias_BuscarOcorrenciaPorNumero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/BuscarOcorrenciaPorNumeroResponse" message="tns:IOcorrencias_BuscarOcorrenciaPorNumero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarOcorrenciasEntrega">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/BuscarOcorrenciasEntrega" message="tns:IOcorrencias_BuscarOcorrenciasEntrega_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/BuscarOcorrenciasEntregaResponse" message="tns:IOcorrencias_BuscarOcorrenciasEntrega_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarOcorrenciasEntregaPorNumeroPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/BuscarOcorrenciasEntregaPorNumeroPedido" message="tns:IOcorrencias_BuscarOcorrenciasEntregaPorNumeroPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/BuscarOcorrenciasEntregaPorNumeroPedidoResponse" message="tns:IOcorrencias_BuscarOcorrenciasEntregaPorNumeroPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarQuantidadeOcorrenciasColetaEntregaNaoIntegradas">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/BuscarQuantidadeOcorrenciasColetaEntregaNaoIntegradas" message="tns:IOcorrencias_BuscarQuantidadeOcorrenciasColetaEntregaNaoIntegradas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/BuscarQuantidadeOcorrenciasColetaEntregaNaoIntegradasResponse" message="tns:IOcorrencias_BuscarQuantidadeOcorrenciasColetaEntregaNaoIntegradas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SolicitarReenvioIntegracaoOcorrenciaColetaEntrega">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/SolicitarReenvioIntegracaoOcorrenciaColetaEntrega" message="tns:IOcorrencias_SolicitarReenvioIntegracaoOcorrenciaColetaEntrega_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/SolicitarReenvioIntegracaoOcorrenciaColetaEntregaResponse" message="tns:IOcorrencias_SolicitarReenvioIntegracaoOcorrenciaColetaEntrega_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarOcorrencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/EnviarOcorrencia" message="tns:IOcorrencias_EnviarOcorrencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/EnviarOcorrenciaResponse" message="tns:IOcorrencias_EnviarOcorrencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCancelamentoOcorrencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IOcorrencias/EnviarCancelamentoOcorrencia" message="tns:IOcorrencias_EnviarCancelamentoOcorrencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOcorrencias/EnviarCancelamentoOcorrenciaResponse" message="tns:IOcorrencias_EnviarCancelamentoOcorrencia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOcorrencias" type="tns:IOcorrencias">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarTiposOcorrencia">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/BuscarTiposOcorrencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMovivosAprovacaoOcorrencia">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/BuscarMovivosAprovacaoOcorrencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarOcorrencia">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/AdicionarOcorrencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEntregasPedidoPendentesIntegracao">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/BuscarEntregasPedidoPendentesIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoPedidosPendentes">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/ConfirmarIntegracaoPedidosPendentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarOcorrencia">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/BuscarOcorrencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDocumentosOcorrencia">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/BuscarDocumentosOcorrencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolicitarCancelamentoOcorrencia">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/SolicitarCancelamentoOcorrencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarSituacaoOcorrencia">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/BuscarSituacaoOcorrencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarOcorrenciasPorTransportador">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/BuscarOcorrenciasPorTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoOcorrenciaTransportador">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/ConfirmarIntegracaoOcorrenciaTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarOcorrenciasCanceladasPorTransportador">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/BuscarOcorrenciasCanceladasPorTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoOcorrenciaCanceladaTransportador">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/ConfirmarIntegracaoOcorrenciaCanceladaTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarOcorrenciaPorProtocoloETransportador">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/BuscarOcorrenciaPorProtocoloETransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarOcorrenciaPorNumero">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/BuscarOcorrenciaPorNumero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarOcorrenciasEntrega">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/BuscarOcorrenciasEntrega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarOcorrenciasEntregaPorNumeroPedido">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/BuscarOcorrenciasEntregaPorNumeroPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarQuantidadeOcorrenciasColetaEntregaNaoIntegradas">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/BuscarQuantidadeOcorrenciasColetaEntregaNaoIntegradas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolicitarReenvioIntegracaoOcorrenciaColetaEntrega">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/SolicitarReenvioIntegracaoOcorrenciaColetaEntrega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarOcorrencia">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/EnviarOcorrencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCancelamentoOcorrencia">
      <soap:operation soapAction="http://tempuri.org/IOcorrencias/EnviarCancelamentoOcorrencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ocorrencias">
    <wsdl:port name="BasicHttpBinding_IOcorrencias" binding="tns:BasicHttpBinding_IOcorrencias">
      <soap:address location="http://localhost:5146/Ocorrencias.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>