Servicos/Service References/ServicoSGT.Ocorrencia/Ocorrencias124.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfObservacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Observacao" nillable="true" type="tns:Observacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObservacao" nillable="true" type="tns:ArrayOfObservacao" />
  <xs:complexType name="Observacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Observacao" nillable="true" type="tns:Observacao" />
</xs:schema>