Servicos/Service References/ServicoSGT.Ocorrencia/Ocorrencias11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:complexType name="ArrayOfTipoOcorrencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoOcorrencia" nillable="true" type="tns:TipoOcorrencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoOcorrencia" nillable="true" type="tns:ArrayOfTipoOcorrencia" />
  <xs:complexType name="TipoOcorrencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoOcorrencia" nillable="true" type="tns:TipoOcorrencia" />
  <xs:complexType name="Ocorrencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataOcorrencia" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q1:Pessoa" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Empresa" nillable="true" type="q2:Empresa" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroNotaFiscal" type="xs:int" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloIntegracaoCarga" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Remetente" nillable="true" type="q3:Pessoa" />
      <xs:element minOccurs="0" name="TipoOcorrencia" nillable="true" type="tns:TipoOcorrencia" />
      <xs:element minOccurs="0" name="ValorOcorrencia" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ocorrencia" nillable="true" type="tns:Ocorrencia" />
  <xs:complexType name="ArrayOfRetornoOcorrencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetornoOcorrencia" nillable="true" type="tns:RetornoOcorrencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetornoOcorrencia" nillable="true" type="tns:ArrayOfRetornoOcorrencia" />
  <xs:complexType name="RetornoOcorrencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ocorrencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Situacao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOcorrencia" nillable="true" type="tns:RetornoOcorrencia" />
  <xs:complexType name="RetornoDetalhesOcorrencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPFAprovador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPFSolicitante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CentroCusto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracaoFilial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracaoTipoOcorrencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoMotivoAprovacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoFilial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoMotivoAprovacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoTipoOcorrencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeAprovador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeSolicitante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroOcorrencia" type="xs:int" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Situacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorOcorrencia" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDetalhesOcorrencia" nillable="true" type="tns:RetornoDetalhesOcorrencia" />
</xs:schema>