Servicos/Service References/ServicoSGT.Ocorrencia/Ocorrencias142.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.OcorrenciaCancelamento" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.OcorrenciaCancelamento" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
  <xs:complexType name="ArrayOfOcorrenciaCancelamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OcorrenciaCancelamento" nillable="true" type="tns:OcorrenciaCancelamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOcorrenciaCancelamento" nillable="true" type="tns:ArrayOfOcorrenciaCancelamento" />
  <xs:complexType name="OcorrenciaCancelamento">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="Conhecimentos" nillable="true" type="q1:ArrayOfCTe" />
      <xs:element minOccurs="0" name="DataCancelamento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MotivoCancelamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PossuiDocumentoCancelado" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProtocoloCancelamento" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocoloOcorrecia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OcorrenciaCancelamento" nillable="true" type="tns:OcorrenciaCancelamento" />
</xs:schema>