Servicos/Service References/ServicoSGT.Ocorrencia/Ocorrencias8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" />
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd23" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd21" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" />
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.OcorrenciaCancelamento" />
  <xs:element name="BuscarTiposOcorrencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTiposOcorrenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarTiposOcorrenciaResult" nillable="true" type="q1:RetornoOfPaginacaoOfTipoOcorrencia_Pjial4yu51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMovivosAprovacaoOcorrencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMovivosAprovacaoOcorrenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarMovivosAprovacaoOcorrenciaResult" nillable="true" type="q2:RetornoOfPaginacaoOfTipoOcorrencia_Pjial4yu51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarOcorrencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" minOccurs="0" name="ocorrencia" nillable="true" type="q3:Ocorrencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarOcorrenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AdicionarOcorrenciaResult" nillable="true" type="q4:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEntregasPedidoPendentesIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEntregasPedidoPendentesIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarEntregasPedidoPendentesIntegracaoResult" nillable="true" type="q5:RetornoOfPaginacaoOfPedidoEntregaknUzgH8451p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoPedidosPendentes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="protocolos" nillable="true" type="q6:ArrayOfPedidoEntregaProtocolo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoPedidosPendentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoPedidosPendentesResult" nillable="true" type="q7:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOcorrencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjcpfCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpjcpfDestinatario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpjcpfRecebedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpjcpfRemetente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroCTe" type="xs:int" />
        <xs:element minOccurs="0" name="numeroNota" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroPedido" type="xs:int" />
        <xs:element minOccurs="0" name="numeroPedidoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroSolicitacao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serieCTe" type="xs:int" />
        <xs:element minOccurs="0" name="serieNota" type="xs:int" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOcorrenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarOcorrenciaResult" nillable="true" type="q8:RetornoOfPaginacaoOfRetornoOcorrencia_Pjial4yu51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDocumentosOcorrencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloOcorrencia" type="xs:int" />
        <xs:element minOccurs="0" name="numeroOcorrencia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDocumentosOcorrenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarDocumentosOcorrenciaResult" nillable="true" type="q9:RetornoOfPaginacaoOfCTeComplementarpIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCancelamentoOcorrencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloOcorrencia" type="xs:int" />
        <xs:element minOccurs="0" name="motivoCancelamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCancelamentoOcorrenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SolicitarCancelamentoOcorrenciaResult" nillable="true" type="q10:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSituacaoOcorrencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloOcorrencia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSituacaoOcorrenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarSituacaoOcorrenciaResult" nillable="true" type="q11:RetornoOfRetornoOcorrencia_Pjial4yu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOcorrenciasPorTransportador">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOcorrenciasPorTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarOcorrenciasPorTransportadorResult" nillable="true" type="q12:RetornoOfArrayOfOcorrenciaIntegracaoMultivXP_PntxX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoOcorrenciaTransportador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoOcorrenciaTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoOcorrenciaTransportadorResult" nillable="true" type="q13:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOcorrenciasCanceladasPorTransportador">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOcorrenciasCanceladasPorTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarOcorrenciasCanceladasPorTransportadorResult" nillable="true" type="q14:RetornoOfArrayOfOcorrenciaCancelamento0halQhHF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoOcorrenciaCanceladaTransportador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoOcorrenciaCanceladaTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoOcorrenciaCanceladaTransportadorResult" nillable="true" type="q15:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOcorrenciaPorProtocoloETransportador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloOcorrencia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOcorrenciaPorProtocoloETransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarOcorrenciaPorProtocoloETransportadorResult" nillable="true" type="q16:RetornoOfOcorrenciaIntegracaoMultivXP_PntxX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOcorrenciaPorNumero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroOcorrencia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOcorrenciaPorNumeroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarOcorrenciaPorNumeroResult" nillable="true" type="q17:RetornoOfRetornoDetalhesOcorrencia_Pjial4yu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOcorrenciasEntrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q18:Protocolos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOcorrenciasEntregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarOcorrenciasEntregaResult" nillable="true" type="q19:RetornoOfArrayOfOcorrenciaEntregavXP_PntxX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOcorrenciasEntregaPorNumeroPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroPedidoEmbarcador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataFinal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOcorrenciasEntregaPorNumeroPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarOcorrenciasEntregaPorNumeroPedidoResult" nillable="true" type="q20:RetornoOfArrayOfOcorrenciaEntregavXP_PntxX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarQuantidadeOcorrenciasColetaEntregaNaoIntegradas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataFinal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarQuantidadeOcorrenciasColetaEntregaNaoIntegradasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarQuantidadeOcorrenciasColetaEntregaNaoIntegradasResult" nillable="true" type="q21:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarReenvioIntegracaoOcorrenciaColetaEntrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataFinal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarReenvioIntegracaoOcorrenciaColetaEntregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SolicitarReenvioIntegracaoOcorrenciaColetaEntregaResult" nillable="true" type="q22:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarOcorrencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" minOccurs="0" name="ocorrenciaIntegracao" nillable="true" type="q23:OcorrenciaIntegracaoMulti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarOcorrenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarOcorrenciaResult" nillable="true" type="q24:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCancelamentoOcorrencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.OcorrenciaCancelamento" minOccurs="0" name="ocorrenciaCancelamento" nillable="true" type="q25:OcorrenciaCancelamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCancelamentoOcorrenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarCancelamentoOcorrenciaResult" nillable="true" type="q26:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>