Servicos/Service References/ServicoSGT.Ocorrencia/Ocorrencias.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:complexType name="ArrayOfPedidoEntrega">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidoEntrega" nillable="true" type="tns:PedidoEntrega" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidoEntrega" nillable="true" type="tns:ArrayOfPedidoEntrega" />
  <xs:complexType name="PedidoEntrega">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataConfirmacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocolo" nillable="true" type="tns:PedidoEntregaProtocolo" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Situacao" type="q1:SituacaoEntregaPedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoEntrega" nillable="true" type="tns:PedidoEntrega" />
  <xs:complexType name="PedidoEntregaProtocolo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocoloPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoEntregaProtocolo" nillable="true" type="tns:PedidoEntregaProtocolo" />
  <xs:complexType name="ArrayOfPedidoEntregaProtocolo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidoEntregaProtocolo" nillable="true" type="tns:PedidoEntregaProtocolo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidoEntregaProtocolo" nillable="true" type="tns:ArrayOfPedidoEntregaProtocolo" />
</xs:schema>