Servicos/Service References/ServicoSGT.Ocorrencia/Ocorrencias143.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/Ocorrencias.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" />
  <xs:complexType name="Ocorrencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPFResponsavel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeResponsavel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCargaEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroOcorrencia" type="xs:int" />
      <xs:element minOccurs="0" name="Pedidos" nillable="true" type="tns:ArrayOfPedido" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ocorrencia" nillable="true" type="tns:Ocorrencia" />
  <xs:complexType name="ArrayOfPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pedido" nillable="true" type="tns:Pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedido" nillable="true" type="tns:ArrayOfPedido" />
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumeroEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="ArrayOfOcorrenciaIntegracaoMulti">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OcorrenciaIntegracaoMulti" nillable="true" type="tns:OcorrenciaIntegracaoMulti" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOcorrenciaIntegracaoMulti" nillable="true" type="tns:ArrayOfOcorrenciaIntegracaoMulti" />
  <xs:complexType name="OcorrenciaIntegracaoMulti">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="Conhecimentos" nillable="true" type="q1:ArrayOfCTe" />
      <xs:element minOccurs="0" name="DataOcorrencia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Empresa" nillable="true" type="q2:Empresa" />
      <xs:element minOccurs="0" name="NumeroCargaEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroOcorrencia" type="xs:int" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Ocorrencia" minOccurs="0" name="TipoOcorrencia" nillable="true" type="q3:TipoOcorrencia" />
      <xs:element minOccurs="0" name="ValorOcorrencia" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OcorrenciaIntegracaoMulti" nillable="true" type="tns:OcorrenciaIntegracaoMulti" />
  <xs:complexType name="ArrayOfOcorrenciaEntrega">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OcorrenciaEntrega" nillable="true" type="tns:OcorrenciaEntrega" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOcorrenciaEntrega" nillable="true" type="tns:ArrayOfOcorrenciaEntrega" />
  <xs:complexType name="OcorrenciaEntrega">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoOcorrencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoVolume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataOcorrencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoOcorrencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPedidoEMillennium" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPedidoVTEX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotasFiscais" nillable="true" type="tns:ArrayOfNotaFiscal" />
      <xs:element minOccurs="0" name="NumeroPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OcorrenciaFinalizadora" type="xs:boolean" />
      <xs:element minOccurs="0" name="OcorrenciaVisivelAoCliente" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProtocoloPedido" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeVolumes" type="xs:int" />
      <xs:element minOccurs="0" name="Transportadora" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OcorrenciaEntrega" nillable="true" type="tns:OcorrenciaEntrega" />
  <xs:complexType name="ArrayOfNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotaFiscal" nillable="true" type="tns:ArrayOfNotaFiscal" />
  <xs:complexType name="NotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveNFe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroNFe" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
</xs:schema>