Servicos/Service References/ServicoAtlas/atlas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://connect.atlasgr.com.br/soap/Atlas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://connect.atlasgr.com.br/soap/Atlas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://connect.atlasgr.com.br/soap/Atlas">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="Logradouro">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="nome" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaLogradouros">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Logradouro[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LogradourosResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaLogradouros" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Cidade">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="uf" type="xsd:string" />
          <xsd:element name="cidade" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaCidades">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Cidade[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CidadesResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaCidades" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Alvo">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="nome" type="xsd:string" />
          <xsd:element name="tipo_parada" type="xsd:string" />
          <xsd:element name="latitude" type="xsd:string" />
          <xsd:element name="longitude" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaAlvos">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Alvo[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AlvosResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaAlvos" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="EmpresaConsulta">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="nome" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaEmpresaConsulta">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:EmpresaConsulta[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EmpresaConsultaResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaEmpresaConsulta" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="KM">
        <xsd:all>
          <xsd:element name="cod_sm" type="xsd:int" />
          <xsd:element name="placa_veiculo" type="xsd:string" />
          <xsd:element name="inicio_viagem" type="xsd:string" />
          <xsd:element name="fim_viagem" type="xsd:string" />
          <xsd:element name="odometro_inicial" type="xsd:int" />
          <xsd:element name="odometro_final" type="xsd:int" />
          <xsd:element name="rota_distancia" type="xsd:string" />
          <xsd:element name="rota_nome" type="xsd:string" />
          <xsd:element name="diferenca_km" type="xsd:int" />
          <xsd:element name="status_sm" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaKM">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:KM[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="getKMResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaKM" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Mercadoria">
        <xsd:all>
          <xsd:element name="cod_cliente" type="xsd:string" />
          <xsd:element name="codigo_pgr" type="xsd:string" />
          <xsd:element name="sub_limite" type="xsd:double" />
          <xsd:element name="nome_mercadoria" type="xsd:string" />
          <xsd:element name="codigo_mercadoria" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaMercadoria">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Mercadoria[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MercadoriaResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaMercadoria" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Moeda">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:int" />
          <xsd:element name="tipo" type="xsd:string" />
          <xsd:element name="simbolo" type="xsd:string" />
          <xsd:element name="situacao" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaMoeda">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Moeda[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MoedaResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaMoeda" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Motorista">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="nome" type="xsd:string" />
          <xsd:element name="cpf" type="xsd:string" />
          <xsd:element name="cod_operacao" type="xsd:string" />
          <xsd:element name="nome_operacao" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaMotorista">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Motorista[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MotoristaResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaMotorista" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Operacao">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="razaosocial" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaOperacao">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Operacao[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="OperacaoResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaOperacao" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Pgr">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="nome" type="xsd:string" />
          <xsd:element name="vigencia" type="xsd:string" />
          <xsd:element name="apolice" type="xsd:string" />
          <xsd:element name="limite" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaPgr">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Pgr[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="PgrResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaPgr" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Rota">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="nome" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaRotas">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Rota[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="RotasResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaRotas" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Veiculo">
        <xsd:all>
          <xsd:element name="placa" type="xsd:string" />
          <xsd:element name="operacao" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaVeiculo">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Veiculo[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="VeiculoResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaVeiculo" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="VinculoContrat">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="nome" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaVinculoContrat">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:VinculoContrat[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="VinculoContratResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaVinculoContrat" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="VeiculoCarroceria">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="nome" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaVeiculoCarroceria">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:VinculoContrat[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="VeiculoCarroceriaResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaVeiculoCarroceria" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="VeiculoCor">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="nome" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaVeiculoCor">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:VeiculoCor[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="VeiculoCorResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaVeiculoCor" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="VeiculoMarca">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="nome" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaVeiculoMarca">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:VeiculoMarca[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="VeiculoMarcaResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaVeiculoMarca" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="VeiculoModelo">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="nome_modelo" type="xsd:string" />
          <xsd:element name="nome_marca" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaVeiculoModelo">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:VeiculoModelo[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="VeiculoModeloResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaVeiculoModelo" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="VeiculoTipo">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="nome" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaVeiculoTipo">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:VeiculoTipo[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="VeiculoTipoResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaVeiculoTipo" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Embarcador">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="nome" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaEmbarcador">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Embarcador[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EmbarcadorResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaEmbarcador" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="sendMotoristaResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="parametrosMotorista">
        <xsd:all>
          <xsd:element name="cod_operacao" type="xsd:int" />
          <xsd:element name="cpf" type="xsd:string" />
          <xsd:element name="nome" type="xsd:string" />
          <xsd:element name="cod_vinculo_contratual" type="xsd:string" />
          <xsd:element name="rg" type="xsd:string" />
          <xsd:element name="cnh" type="xsd:string" />
          <xsd:element name="cep" type="xsd:string" />
          <xsd:element name="uf" type="xsd:string" />
          <xsd:element name="cod_ibge" type="xsd:string" />
          <xsd:element name="logradouro" type="xsd:string" />
          <xsd:element name="endereco" type="xsd:string" />
          <xsd:element name="numero" type="xsd:string" />
          <xsd:element name="complemento" type="xsd:string" />
          <xsd:element name="bairro" type="xsd:string" />
          <xsd:element name="ddd" type="xsd:string" />
          <xsd:element name="fone_cel" type="xsd:string" />
          <xsd:element name="cod_empresa_consulta" type="xsd:string" />
          <xsd:element name="data_consulta" type="xsd:string" />
          <xsd:element name="num_autorizacao_consulta" type="xsd:string" />
          <xsd:element name="prod_homolog" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SendVeiculoResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="parametrosVeiculo">
        <xsd:all>
          <xsd:element name="cod_operacao" type="xsd:int" />
          <xsd:element name="placa" type="xsd:string" />
          <xsd:element name="cod_vinculo_contratual" type="xsd:string" />
          <xsd:element name="cod_marca" type="xsd:string" />
          <xsd:element name="cod_tipo" type="xsd:string" />
          <xsd:element name="cod_modelo" type="xsd:string" />
          <xsd:element name="cod_carroceria" type="xsd:string" />
          <xsd:element name="cod_empresa_consulta" type="xsd:string" />
          <xsd:element name="data_consulta" type="xsd:string" />
          <xsd:element name="num_autorizacao_consulta" type="xsd:string" />
          <xsd:element name="num_frota" type="xsd:string" />
          <xsd:element name="velocidade_maxima" type="xsd:string" />
          <xsd:element name="cod_cor" type="xsd:string" />
          <xsd:element name="ano_fabricacao" type="xsd:string" />
          <xsd:element name="uf_placa" type="xsd:string" />
          <xsd:element name="cod_ibge_placa" type="xsd:string" />
          <xsd:element name="validade_placa" type="xsd:string" />
          <xsd:element name="inicio_horario_restr" type="xsd:string" />
          <xsd:element name="fim_horario_restr" type="xsd:string" />
          <xsd:element name="prod_homolog" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="parametrosSM">
        <xsd:all>
          <xsd:element name="cod_operacao" type="xsd:int" />
          <xsd:element name="num_interno" type="xsd:string" />
          <xsd:element name="num_docto" type="xsd:string" />
          <xsd:element name="cod_pgr" type="xsd:int" />
          <xsd:element name="cod_rota" type="xsd:int" />
          <xsd:element name="placa" type="xsd:string" />
          <xsd:element name="carreta_01" type="xsd:string" />
          <xsd:element name="carreta_02" type="xsd:string" />
          <xsd:element name="carreta_03" type="xsd:string" />
          <xsd:element name="cpf_motorista" type="xsd:string" />
          <xsd:element name="cpf_motorista_aux" type="xsd:string" />
          <xsd:element name="prev_inicio" type="xsd:string" />
          <xsd:element name="prev_fim" type="xsd:string" />
          <xsd:element name="isca_numero" type="xsd:string" />
          <xsd:element name="url_isca" type="xsd:string" />
          <xsd:element name="usuario_url" type="xsd:string" />
          <xsd:element name="senha_url" type="xsd:string" />
          <xsd:element name="prod_homolog" type="xsd:string" />
          <xsd:element name="cod_emb" type="xsd:int" />
          <xsd:element name="ListaMercadoriasSM" type="tns:ListaMercadoriasSM" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaMercadoriasSM">
        <xsd:all>
          <xsd:element name="MercadoriaSM" type="tns:MercadoriaSM" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MercadoriaSM">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="moeda" type="xsd:string" />
          <xsd:element name="valor" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SendSmResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SM">
        <xsd:all>
          <xsd:element name="codigo_sm" type="xsd:int" />
          <xsd:element name="cod_embarcador" type="xsd:int" />
          <xsd:element name="num_interno" type="xsd:int" />
          <xsd:element name="num_documento" type="xsd:string" />
          <xsd:element name="num_cliente" type="xsd:string" />
          <xsd:element name="cod_ope" type="xsd:int" />
          <xsd:element name="prev_ini_viagem" type="xsd:string" />
          <xsd:element name="prev_fim_viagem" type="xsd:string" />
          <xsd:element name="ini_viagem" type="xsd:string" />
          <xsd:element name="fim_viagem" type="xsd:string" />
          <xsd:element name="cod_rota" type="xsd:int" />
          <xsd:element name="rota_nome" type="xsd:string" />
          <xsd:element name="rota_distancia" type="xsd:string" />
          <xsd:element name="cod_rotaux" type="xsd:int" />
          <xsd:element name="rota_aux_nome" type="xsd:string" />
          <xsd:element name="rota_aux_distancia" type="xsd:int" />
          <xsd:element name="cod_pgr" type="xsd:int" />
          <xsd:element name="pgr_nome" type="xsd:int" />
          <xsd:element name="cod_cpf_mtr" type="xsd:string" />
          <xsd:element name="mtr_nome" type="xsd:string" />
          <xsd:element name="mtr_aux_cpf" type="xsd:string" />
          <xsd:element name="mtr_aux_nome" type="xsd:string" />
          <xsd:element name="cod_uf_origem" type="xsd:string" />
          <xsd:element name="cod_cdd_orig" type="xsd:string" />
          <xsd:element name="cidade_orig" type="xsd:string" />
          <xsd:element name="cod_alvo_rig" type="xsd:int" />
          <xsd:element name="alvo_orig" type="xsd:string" />
          <xsd:element name="cod_uf_destino" type="xsd:string" />
          <xsd:element name="cod_cdd_destino" type="xsd:string" />
          <xsd:element name="cidade_dest" type="xsd:string" />
          <xsd:element name="cod_alvo_dest" type="xsd:int" />
          <xsd:element name="alvo_dest" type="xsd:string" />
          <xsd:element name="cod_veiculo" type="xsd:string" />
          <xsd:element name="cod_carreta1" type="xsd:string" />
          <xsd:element name="cod_carreta2" type="xsd:string" />
          <xsd:element name="cod_carreta3" type="xsd:string" />
          <xsd:element name="cod_escolta" type="xsd:string" />
          <xsd:element name="moeda" type="xsd:string" />
          <xsd:element name="vlr_mercadoria" type="xsd:int" />
          <xsd:element name="url_isca" type="xsd:string" />
          <xsd:element name="url_isca_usuario" type="xsd:string" />
          <xsd:element name="url_isca_senha" type="xsd:string" />
          <xsd:element name="dt_cadastro_sm" type="xsd:string" />
          <xsd:element name="ativo" type="xsd:string" />
          <xsd:element name="cod_usuario" type="xsd:int" />
          <xsd:element name="usr_nome" type="xsd:string" />
          <xsd:element name="odometro" type="xsd:int" />
          <xsd:element name="status_sm" type="xsd:string" />
          <xsd:element name="odometro_inicial" type="xsd:int" />
          <xsd:element name="odometro_final" type="xsd:int" />
          <xsd:element name="diferenca_km" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaSM">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:SM[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="getSMResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaSM" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="cancelaSmResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="StatusSM">
        <xsd:all>
          <xsd:element name="codigo_sm" type="xsd:int" />
          <xsd:element name="cod_embarcador" type="xsd:int" />
          <xsd:element name="num_interno" type="xsd:int" />
          <xsd:element name="num_documento" type="xsd:string" />
          <xsd:element name="num_cliente" type="xsd:string" />
          <xsd:element name="cod_ope" type="xsd:int" />
          <xsd:element name="prev_ini_viagem" type="xsd:string" />
          <xsd:element name="prev_fim_viagem" type="xsd:string" />
          <xsd:element name="ini_viagem" type="xsd:string" />
          <xsd:element name="fim_viagem" type="xsd:string" />
          <xsd:element name="cod_rota" type="xsd:int" />
          <xsd:element name="rota_nome" type="xsd:string" />
          <xsd:element name="rota_distancia" type="xsd:string" />
          <xsd:element name="cod_rotaux" type="xsd:int" />
          <xsd:element name="rota_aux_nome" type="xsd:string" />
          <xsd:element name="rota_aux_distancia" type="xsd:int" />
          <xsd:element name="cod_pgr" type="xsd:int" />
          <xsd:element name="pgr_nome" type="xsd:int" />
          <xsd:element name="cod_cpf_mtr" type="xsd:string" />
          <xsd:element name="mtr_nome" type="xsd:string" />
          <xsd:element name="mtr_aux_cpf" type="xsd:string" />
          <xsd:element name="mtr_aux_nome" type="xsd:string" />
          <xsd:element name="cod_uf_origem" type="xsd:string" />
          <xsd:element name="cod_cdd_orig" type="xsd:string" />
          <xsd:element name="cidade_orig" type="xsd:string" />
          <xsd:element name="cod_alvo_rig" type="xsd:int" />
          <xsd:element name="alvo_orig" type="xsd:string" />
          <xsd:element name="cod_uf_destino" type="xsd:string" />
          <xsd:element name="cod_cdd_destino" type="xsd:string" />
          <xsd:element name="cidade_dest" type="xsd:string" />
          <xsd:element name="cod_alvo_dest" type="xsd:int" />
          <xsd:element name="alvo_dest" type="xsd:string" />
          <xsd:element name="cod_veiculo" type="xsd:string" />
          <xsd:element name="cod_carreta1" type="xsd:string" />
          <xsd:element name="cod_carreta2" type="xsd:string" />
          <xsd:element name="cod_carreta3" type="xsd:string" />
          <xsd:element name="cod_escolta" type="xsd:string" />
          <xsd:element name="moeda" type="xsd:string" />
          <xsd:element name="vlr_mercadoria" type="xsd:int" />
          <xsd:element name="url_isca" type="xsd:string" />
          <xsd:element name="url_isca_usuario" type="xsd:string" />
          <xsd:element name="url_isca_senha" type="xsd:string" />
          <xsd:element name="dt_cadastro_sm" type="xsd:string" />
          <xsd:element name="ativo" type="xsd:string" />
          <xsd:element name="cod_usuario" type="xsd:int" />
          <xsd:element name="usr_nome" type="xsd:string" />
          <xsd:element name="odometro" type="xsd:int" />
          <xsd:element name="status_sm" type="xsd:string" />
          <xsd:element name="odometro_inicial" type="xsd:int" />
          <xsd:element name="odometro_final" type="xsd:int" />
          <xsd:element name="diferenca_km" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaStatusSM">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:StatusSM[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="StatusSMResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaStatusSM" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SmComDataCadastro">
        <xsd:all>
          <xsd:element name="codigo_sm" type="xsd:int" />
          <xsd:element name="cod_embarcador" type="xsd:int" />
          <xsd:element name="num_interno" type="xsd:int" />
          <xsd:element name="num_documento" type="xsd:string" />
          <xsd:element name="num_cliente" type="xsd:string" />
          <xsd:element name="cod_ope" type="xsd:int" />
          <xsd:element name="prev_ini_viagem" type="xsd:string" />
          <xsd:element name="prev_fim_viagem" type="xsd:string" />
          <xsd:element name="ini_viagem" type="xsd:string" />
          <xsd:element name="fim_viagem" type="xsd:string" />
          <xsd:element name="cod_rota" type="xsd:int" />
          <xsd:element name="rota_nome" type="xsd:string" />
          <xsd:element name="rota_distancia" type="xsd:string" />
          <xsd:element name="cod_rotaux" type="xsd:int" />
          <xsd:element name="rota_aux_nome" type="xsd:string" />
          <xsd:element name="rota_aux_distancia" type="xsd:int" />
          <xsd:element name="cod_pgr" type="xsd:int" />
          <xsd:element name="pgr_nome" type="xsd:int" />
          <xsd:element name="cod_cpf_mtr" type="xsd:string" />
          <xsd:element name="mtr_nome" type="xsd:string" />
          <xsd:element name="mtr_aux_cpf" type="xsd:string" />
          <xsd:element name="mtr_aux_nome" type="xsd:string" />
          <xsd:element name="cod_uf_origem" type="xsd:string" />
          <xsd:element name="cod_cdd_orig" type="xsd:string" />
          <xsd:element name="cidade_orig" type="xsd:string" />
          <xsd:element name="cod_alvo_rig" type="xsd:int" />
          <xsd:element name="alvo_orig" type="xsd:string" />
          <xsd:element name="cod_uf_destino" type="xsd:string" />
          <xsd:element name="cod_cdd_destino" type="xsd:string" />
          <xsd:element name="cidade_dest" type="xsd:string" />
          <xsd:element name="cod_alvo_dest" type="xsd:int" />
          <xsd:element name="alvo_dest" type="xsd:string" />
          <xsd:element name="cod_veiculo" type="xsd:string" />
          <xsd:element name="cod_carreta1" type="xsd:string" />
          <xsd:element name="cod_carreta2" type="xsd:string" />
          <xsd:element name="cod_carreta3" type="xsd:string" />
          <xsd:element name="cod_escolta" type="xsd:string" />
          <xsd:element name="moeda" type="xsd:string" />
          <xsd:element name="vlr_mercadoria" type="xsd:int" />
          <xsd:element name="url_isca" type="xsd:string" />
          <xsd:element name="url_isca_usuario" type="xsd:string" />
          <xsd:element name="url_isca_senha" type="xsd:string" />
          <xsd:element name="dt_cadastro_sm" type="xsd:string" />
          <xsd:element name="ativo" type="xsd:string" />
          <xsd:element name="cod_usuario" type="xsd:int" />
          <xsd:element name="usr_nome" type="xsd:string" />
          <xsd:element name="odometro" type="xsd:int" />
          <xsd:element name="status_sm" type="xsd:string" />
          <xsd:element name="odometro_inicial" type="xsd:int" />
          <xsd:element name="odometro_final" type="xsd:int" />
          <xsd:element name="diferenca_km" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaSmComDataCadastro">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:SmComDataCadastro[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SmComDataCadastroResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaSmComDataCadastro" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SMV2">
        <xsd:all>
          <xsd:element name="codigo_sm" type="xsd:int" />
          <xsd:element name="cod_embarcador" type="xsd:int" />
          <xsd:element name="num_interno" type="xsd:int" />
          <xsd:element name="num_documento" type="xsd:string" />
          <xsd:element name="num_cliente" type="xsd:string" />
          <xsd:element name="cod_ope" type="xsd:int" />
          <xsd:element name="prev_ini_viagem" type="xsd:string" />
          <xsd:element name="prev_fim_viagem" type="xsd:string" />
          <xsd:element name="ini_viagem" type="xsd:string" />
          <xsd:element name="fim_viagem" type="xsd:string" />
          <xsd:element name="cod_rota" type="xsd:int" />
          <xsd:element name="rota_nome" type="xsd:string" />
          <xsd:element name="rota_distancia" type="xsd:string" />
          <xsd:element name="cod_rotaux" type="xsd:int" />
          <xsd:element name="rota_aux_nome" type="xsd:string" />
          <xsd:element name="rota_aux_distancia" type="xsd:int" />
          <xsd:element name="cod_pgr" type="xsd:int" />
          <xsd:element name="pgr_nome" type="xsd:int" />
          <xsd:element name="cod_cpf_mtr" type="xsd:string" />
          <xsd:element name="mtr_nome" type="xsd:string" />
          <xsd:element name="mtr_aux_cpf" type="xsd:string" />
          <xsd:element name="mtr_aux_nome" type="xsd:string" />
          <xsd:element name="cod_uf_origem" type="xsd:string" />
          <xsd:element name="cod_cdd_orig" type="xsd:string" />
          <xsd:element name="cidade_orig" type="xsd:string" />
          <xsd:element name="cod_alvo_rig" type="xsd:int" />
          <xsd:element name="alvo_orig" type="xsd:string" />
          <xsd:element name="cod_uf_destino" type="xsd:string" />
          <xsd:element name="cod_cdd_destino" type="xsd:string" />
          <xsd:element name="cidade_dest" type="xsd:string" />
          <xsd:element name="cod_alvo_dest" type="xsd:int" />
          <xsd:element name="alvo_dest" type="xsd:string" />
          <xsd:element name="cod_veiculo" type="xsd:string" />
          <xsd:element name="cod_carreta1" type="xsd:string" />
          <xsd:element name="cod_carreta2" type="xsd:string" />
          <xsd:element name="cod_carreta3" type="xsd:string" />
          <xsd:element name="cod_escolta" type="xsd:string" />
          <xsd:element name="moeda" type="xsd:string" />
          <xsd:element name="vlr_mercadoria" type="xsd:int" />
          <xsd:element name="url_isca" type="xsd:string" />
          <xsd:element name="url_isca_usuario" type="xsd:string" />
          <xsd:element name="url_isca_senha" type="xsd:string" />
          <xsd:element name="dt_cadastro_sm" type="xsd:string" />
          <xsd:element name="ativo" type="xsd:string" />
          <xsd:element name="cod_usuario" type="xsd:int" />
          <xsd:element name="usr_nome" type="xsd:string" />
          <xsd:element name="odometro" type="xsd:int" />
          <xsd:element name="status_sm" type="xsd:string" />
          <xsd:element name="odometro_inicial" type="xsd:int" />
          <xsd:element name="odometro_final" type="xsd:int" />
          <xsd:element name="diferenca_km" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaSMV2">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:SMV2[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SMV2Response">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaSMV2" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AlvoComSM">
        <xsd:all>
          <xsd:element name="cod_alvo" type="xsd:int" />
          <xsd:element name="rota" type="xsd:int" />
          <xsd:element name="alvo" type="xsd:int" />
          <xsd:element name="rotatipo" type="xsd:string" />
          <xsd:element name="latitude" type="xsd:string" />
          <xsd:element name="longitude" type="xsd:int" />
          <xsd:element name="cidade" type="xsd:string" />
          <xsd:element name="raio" type="xsd:string" />
          <xsd:element name="tipo" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListaAlvoComSM">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:AlvoComSM[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AlvoComSMResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaAlvoComSM" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="sendUpdateSMResponse">
        <xsd:all>
          <xsd:element name="responseCode" type="xsd:int" />
          <xsd:element name="responseMessage" type="xsd:string" />
          <xsd:element name="dados" type="tns:ListaSM" />
          <xsd:element minOccurs="0" name="cod_rota" type="xsd:int" />
          <xsd:element minOccurs="0" name="cpf_motorista_aux" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getLogradouroRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getLogradouroResponse">
    <wsdl:part name="return" type="tns:LogradourosResponse" />
  </wsdl:message>
  <wsdl:message name="getCidadeRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
    <wsdl:part name="uf" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getCidadeResponse">
    <wsdl:part name="return" type="tns:CidadesResponse" />
  </wsdl:message>
  <wsdl:message name="getAlvoRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAlvoResponse">
    <wsdl:part name="return" type="tns:AlvosResponse" />
  </wsdl:message>
  <wsdl:message name="getEmpresaConsultaRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getEmpresaConsultaResponse">
    <wsdl:part name="return" type="tns:EmpresaConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="getKMRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
    <wsdl:part name="cod_sm" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getKMResponse">
    <wsdl:part name="return" type="tns:getKMResponse" />
  </wsdl:message>
  <wsdl:message name="getMercadoriaRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getMercadoriaResponse">
    <wsdl:part name="return" type="tns:MercadoriaResponse" />
  </wsdl:message>
  <wsdl:message name="getMoedaRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getMoedaResponse">
    <wsdl:part name="return" type="tns:MoedaResponse" />
  </wsdl:message>
  <wsdl:message name="getMotoristaRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getMotoristaResponse">
    <wsdl:part name="return" type="tns:MotoristaResponse" />
  </wsdl:message>
  <wsdl:message name="getOperacaoRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getOperacaoResponse">
    <wsdl:part name="return" type="tns:OperacaoResponse" />
  </wsdl:message>
  <wsdl:message name="getPgrRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getPgrResponse">
    <wsdl:part name="return" type="tns:PgrResponse" />
  </wsdl:message>
  <wsdl:message name="getRotasRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getRotasResponse">
    <wsdl:part name="return" type="tns:RotasResponse" />
  </wsdl:message>
  <wsdl:message name="getVeiculoRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVeiculoResponse">
    <wsdl:part name="return" type="tns:VeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="getVinculoContratRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVinculoContratResponse">
    <wsdl:part name="return" type="tns:VinculoContratResponse" />
  </wsdl:message>
  <wsdl:message name="getVeiculoCarroceriaRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVeiculoCarroceriaResponse">
    <wsdl:part name="return" type="tns:VinculoContratResponse" />
  </wsdl:message>
  <wsdl:message name="getVeiculoCorRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVeiculoCorResponse">
    <wsdl:part name="return" type="tns:VeiculoCorResponse" />
  </wsdl:message>
  <wsdl:message name="getVeiculoMarcaRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVeiculoMarcaResponse">
    <wsdl:part name="return" type="tns:VeiculoMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="getVeiculoModeloRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
    <wsdl:part name="cod_marca" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVeiculoModeloResponse">
    <wsdl:part name="return" type="tns:VeiculoModeloResponse" />
  </wsdl:message>
  <wsdl:message name="getVeiculoTipoRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVeiculoTipoResponse">
    <wsdl:part name="return" type="tns:VeiculoTipoResponse" />
  </wsdl:message>
  <wsdl:message name="getEmbarcadorRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getEmbarcadorResponse">
    <wsdl:part name="return" type="tns:EmbarcadorResponse" />
  </wsdl:message>
  <wsdl:message name="sendMotoristaRequest">
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="parametrosMotorista" type="tns:parametrosMotorista" />
  </wsdl:message>
  <wsdl:message name="sendMotoristaResponse">
    <wsdl:part name="return" type="tns:sendMotoristaResponse" />
  </wsdl:message>
  <wsdl:message name="sendVeiculoRequest">
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="parametrosVeiculo" type="tns:parametrosVeiculo" />
  </wsdl:message>
  <wsdl:message name="sendVeiculoResponse">
    <wsdl:part name="return" type="tns:SendVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="sendSmRequest">
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="parametrosSM" type="tns:parametrosSM" />
  </wsdl:message>
  <wsdl:message name="sendSmResponse">
    <wsdl:part name="return" type="tns:SendSmResponse" />
  </wsdl:message>
  <wsdl:message name="getSMRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
    <wsdl:part name="cod_sm" type="xsd:int" />
    <wsdl:part name="cod_interno" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getSMResponse">
    <wsdl:part name="return" type="tns:getSMResponse" />
  </wsdl:message>
  <wsdl:message name="cancelaSmRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
    <wsdl:part name="cod_operacao" type="xsd:int" />
    <wsdl:part name="cod_sm" type="xsd:int" />
    <wsdl:part name="prod_homolog" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cancelaSmResponse">
    <wsdl:part name="return" type="tns:cancelaSmResponse" />
  </wsdl:message>
  <wsdl:message name="getStatusSMRequest">
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
    <wsdl:part name="cod_sm" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getStatusSMResponse">
    <wsdl:part name="return" type="tns:StatusSMResponse" />
  </wsdl:message>
  <wsdl:message name="getSmComDataCadastroRequest">
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
    <wsdl:part name="cod_sm" type="xsd:int" />
    <wsdl:part name="data_inicial" type="xsd:string" />
    <wsdl:part name="data_final" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSmComDataCadastroResponse">
    <wsdl:part name="return" type="tns:SmComDataCadastroResponse" />
  </wsdl:message>
  <wsdl:message name="getSMV2Request">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
    <wsdl:part name="sm" type="xsd:string" />
    <wsdl:part name="placa" type="xsd:string" />
    <wsdl:part name="data_inicial" type="xsd:string" />
    <wsdl:part name="data_final" type="xsd:string" />
    <wsdl:part name="status" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSMV2Response">
    <wsdl:part name="return" type="tns:SMV2Response" />
  </wsdl:message>
  <wsdl:message name="getAlvoComSMRequest">
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
    <wsdl:part name="cod_sm" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getAlvoComSMResponse">
    <wsdl:part name="return" type="tns:AlvoComSMResponse" />
  </wsdl:message>
  <wsdl:message name="sendUpdateSMRequest">
    <wsdl:part name="cod_cliente" type="xsd:int" />
    <wsdl:part name="cod_usuario" type="xsd:int" />
    <wsdl:part name="senha_usuario" type="xsd:string" />
    <wsdl:part name="cod_sm" type="xsd:int" />
    <wsdl:part name="num_docto" type="xsd:string" />
    <wsdl:part name="valor_mercadoria" type="xsd:string" />
    <wsdl:part name="ListaMercadoriasSM" type="tns:ListaMercadoriasSM" />
    <wsdl:part name="cod_rota" type="xsd:int" />
    <wsdl:part name="cpf_motorista_aux" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="sendUpdateSMResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="AtlasPortType">
    <wsdl:operation name="getLogradouro">
      <documentation>Lista os logradouros .</documentation>
      <wsdl:input message="tns:getLogradouroRequest" />
      <wsdl:output message="tns:getLogradouroResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCidade">
      <documentation>Lista os logradouros .</documentation>
      <wsdl:input message="tns:getCidadeRequest" />
      <wsdl:output message="tns:getCidadeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAlvo">
      <documentation>Lista os alvos.</documentation>
      <wsdl:input message="tns:getAlvoRequest" />
      <wsdl:output message="tns:getAlvoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEmpresaConsulta">
      <documentation>Lista as empresas .</documentation>
      <wsdl:input message="tns:getEmpresaConsultaRequest" />
      <wsdl:output message="tns:getEmpresaConsultaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getKM">
      <documentation>Exibe a informao de KM.</documentation>
      <wsdl:input message="tns:getKMRequest" />
      <wsdl:output message="tns:getKMResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMercadoria">
      <documentation>Lista as mercadorias.</documentation>
      <wsdl:input message="tns:getMercadoriaRequest" />
      <wsdl:output message="tns:getMercadoriaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMoeda">
      <documentation>Lista os tipos de moedas .</documentation>
      <wsdl:input message="tns:getMoedaRequest" />
      <wsdl:output message="tns:getMoedaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMotorista">
      <documentation>Lista os motoristas.</documentation>
      <wsdl:input message="tns:getMotoristaRequest" />
      <wsdl:output message="tns:getMotoristaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getOperacao">
      <documentation>Lista os motoristas.</documentation>
      <wsdl:input message="tns:getOperacaoRequest" />
      <wsdl:output message="tns:getOperacaoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPgr">
      <documentation>Lista as PGRs.</documentation>
      <wsdl:input message="tns:getPgrRequest" />
      <wsdl:output message="tns:getPgrResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRotas">
      <documentation>Lista as rotas.</documentation>
      <wsdl:input message="tns:getRotasRequest" />
      <wsdl:output message="tns:getRotasResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVeiculo">
      <documentation>Lista os veculos.</documentation>
      <wsdl:input message="tns:getVeiculoRequest" />
      <wsdl:output message="tns:getVeiculoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVinculoContrat">
      <documentation>Lista os vnculos contratuais.</documentation>
      <wsdl:input message="tns:getVinculoContratRequest" />
      <wsdl:output message="tns:getVinculoContratResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVeiculoCarroceria">
      <documentation>Lista os tipos de carroceria.</documentation>
      <wsdl:input message="tns:getVeiculoCarroceriaRequest" />
      <wsdl:output message="tns:getVeiculoCarroceriaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVeiculoCor">
      <documentation>Lista as cores de veculos.</documentation>
      <wsdl:input message="tns:getVeiculoCorRequest" />
      <wsdl:output message="tns:getVeiculoCorResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVeiculoMarca">
      <documentation>Lista as marcas de veculos.</documentation>
      <wsdl:input message="tns:getVeiculoMarcaRequest" />
      <wsdl:output message="tns:getVeiculoMarcaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVeiculoModelo">
      <documentation>Lista os modelos de veculos.</documentation>
      <wsdl:input message="tns:getVeiculoModeloRequest" />
      <wsdl:output message="tns:getVeiculoModeloResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVeiculoTipo">
      <documentation>Lista os tipos de veculos.</documentation>
      <wsdl:input message="tns:getVeiculoTipoRequest" />
      <wsdl:output message="tns:getVeiculoTipoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEmbarcador">
      <documentation>Lista os embarcadores.</documentation>
      <wsdl:input message="tns:getEmbarcadorRequest" />
      <wsdl:output message="tns:getEmbarcadorResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendMotorista">
      <documentation>Cria um novo motorista.</documentation>
      <wsdl:input message="tns:sendMotoristaRequest" />
      <wsdl:output message="tns:sendMotoristaResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendVeiculo">
      <documentation>Cria um novo veculo.</documentation>
      <wsdl:input message="tns:sendVeiculoRequest" />
      <wsdl:output message="tns:sendVeiculoResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendSm">
      <documentation>Cria uma nova solicitao de monitoramento.</documentation>
      <wsdl:input message="tns:sendSmRequest" />
      <wsdl:output message="tns:sendSmResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSM">
      <documentation>Exibe a Solicitacao de Monitoria.</documentation>
      <wsdl:input message="tns:getSMRequest" />
      <wsdl:output message="tns:getSMResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelaSm">
      <documentation>Cancela uma Solitao de monitoramento.</documentation>
      <wsdl:input message="tns:cancelaSmRequest" />
      <wsdl:output message="tns:cancelaSmResponse" />
    </wsdl:operation>
    <wsdl:operation name="getStatusSM">
      <documentation>Exibe a Solicitacao de Monitoria.</documentation>
      <wsdl:input message="tns:getStatusSMRequest" />
      <wsdl:output message="tns:getStatusSMResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSmComDataCadastro">
      <documentation>Exibe a Solicitacao de Monitoria.</documentation>
      <wsdl:input message="tns:getSmComDataCadastroRequest" />
      <wsdl:output message="tns:getSmComDataCadastroResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSMV2">
      <documentation>Exibe a Solicitacao de Monitoria.</documentation>
      <wsdl:input message="tns:getSMV2Request" />
      <wsdl:output message="tns:getSMV2Response" />
    </wsdl:operation>
    <wsdl:operation name="getAlvoComSM">
      <documentation>Exibe a Solicitacao de Monitoria.</documentation>
      <wsdl:input message="tns:getAlvoComSMRequest" />
      <wsdl:output message="tns:getAlvoComSMResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendUpdateSM">
      <documentation>Atualiza valor da mercadoria.</documentation>
      <wsdl:input message="tns:sendUpdateSMRequest" />
      <wsdl:output message="tns:sendUpdateSMResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AtlasBinding" type="tns:AtlasPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getLogradouro">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getLogradouros" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCidade">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getCidades" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlvo">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getAlvos" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmpresaConsulta">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getEmpresaConsulta" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKM">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getKM" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMercadoria">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getMercadoria" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMoeda">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getMoeda" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMotorista">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getMotorista" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOperacao">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getOperacao" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPgr">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getPgr" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRotas">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getRotas" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVeiculo">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getVeiculo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVinculoContrat">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getVinculoContrat" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVeiculoCarroceria">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getVinculoContrat" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVeiculoCor">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getVeiculoCor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVeiculoMarca">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getVeiculoMarca" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVeiculoModelo">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getVeiculoModelo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVeiculoTipo">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getVeiculoTipo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmbarcador">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getEmbarcador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMotorista">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#sendMotorista" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendVeiculo">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#sendVeiculo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSm">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#sendSm" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSM">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getSM" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelaSm">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#cancelaSm" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatusSM">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getStatusSM" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSmComDataCadastro">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getSmComDataCadastro" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSMV2">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getSMV2" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlvoComSM">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#getAlvoComSM" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendUpdateSM">
      <soap:operation soapAction="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php#sendUpdateSM" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://connect.atlasgr.com.br/portalatlas/ui/V3/atlas.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Atlas">
    <wsdl:port name="AtlasPort" binding="tns:AtlasBinding">
      <soap:address location="https://connect.atlasgr.com.br:443/portalatlas/ui/V3/atlas.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>