WebApplication1/Service References/ServiceReference1/ConhecimentoDeTransporteEletronico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConhecimentoDeTransporteEletronico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://177.0.245.100/WebServiceIntegracao/ConhecimentoDeTransporteEletronico.svc/definitions?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://177.0.245.100/WebServiceIntegracao/ConhecimentoDeTransporteEletronico.svc/definitions?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://177.0.245.100/WebServiceIntegracao/ConhecimentoDeTransporteEletronico.svc/definitions?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
      <xsd:import schemaLocation="http://177.0.245.100/WebServiceIntegracao/ConhecimentoDeTransporteEletronico.svc/definitions?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://177.0.245.100/WebServiceIntegracao/ConhecimentoDeTransporteEletronico.svc/definitions?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://177.0.245.100/WebServiceIntegracao/ConhecimentoDeTransporteEletronico.svc/definitions?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" />
      <xsd:import schemaLocation="http://177.0.245.100/WebServiceIntegracao/ConhecimentoDeTransporteEletronico.svc/definitions?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_BuscarLoteDeXMLPorEmpresaEPeriodo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarLoteDeXMLPorEmpresaEPeriodo" />
  </wsdl:message>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_BuscarLoteDeXMLPorEmpresaEPeriodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarLoteDeXMLPorEmpresaEPeriodoResponse" />
  </wsdl:message>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_IntegrarCTePorTxt_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarCTePorTxt" />
  </wsdl:message>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_IntegrarCTePorTxt_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarCTePorTxtResponse" />
  </wsdl:message>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_CancelarCTePorTxt_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCTePorTxt" />
  </wsdl:message>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_CancelarCTePorTxt_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCTePorTxtResponse" />
  </wsdl:message>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_EnviarXMLNFeParaIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarXMLNFeParaIntegracao" />
  </wsdl:message>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_EnviarXMLNFeParaIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarXMLNFeParaIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_IntegrarCTePorXMLNFe_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarCTePorXMLNFe" />
  </wsdl:message>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_IntegrarCTePorXMLNFe_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarCTePorXMLNFeResponse" />
  </wsdl:message>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_IntegrarCTe_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarCTe" />
  </wsdl:message>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_IntegrarCTe_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarCTeResponse" />
  </wsdl:message>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_CancelarCTe_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCTe" />
  </wsdl:message>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_CancelarCTe_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCTeResponse" />
  </wsdl:message>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_InutilizarCTe_InputMessage">
    <wsdl:part name="parameters" element="tns:InutilizarCTe" />
  </wsdl:message>
  <wsdl:message name="IConhecimentoDeTransporteEletronico_InutilizarCTe_OutputMessage">
    <wsdl:part name="parameters" element="tns:InutilizarCTeResponse" />
  </wsdl:message>
  <wsdl:portType name="IConhecimentoDeTransporteEletronico">
    <wsdl:operation name="BuscarLoteDeXMLPorEmpresaEPeriodo">
      <wsdl:input wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/BuscarLoteDeXMLPorEmpresaEPeriodo" message="tns:IConhecimentoDeTransporteEletronico_BuscarLoteDeXMLPorEmpresaEPeriodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/BuscarLoteDeXMLPorEmpresaEPeriodoResponse" message="tns:IConhecimentoDeTransporteEletronico_BuscarLoteDeXMLPorEmpresaEPeriodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarCTePorTxt">
      <wsdl:input wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/IntegrarCTePorTxt" message="tns:IConhecimentoDeTransporteEletronico_IntegrarCTePorTxt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/IntegrarCTePorTxtResponse" message="tns:IConhecimentoDeTransporteEletronico_IntegrarCTePorTxt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarCTePorTxt">
      <wsdl:input wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/CancelarCTePorTxt" message="tns:IConhecimentoDeTransporteEletronico_CancelarCTePorTxt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/CancelarCTePorTxtResponse" message="tns:IConhecimentoDeTransporteEletronico_CancelarCTePorTxt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarXMLNFeParaIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/EnviarXMLNFeParaIntegracao" message="tns:IConhecimentoDeTransporteEletronico_EnviarXMLNFeParaIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/EnviarXMLNFeParaIntegracaoResponse" message="tns:IConhecimentoDeTransporteEletronico_EnviarXMLNFeParaIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarCTePorXMLNFe">
      <wsdl:input wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/IntegrarCTePorXMLNFe" message="tns:IConhecimentoDeTransporteEletronico_IntegrarCTePorXMLNFe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/IntegrarCTePorXMLNFeResponse" message="tns:IConhecimentoDeTransporteEletronico_IntegrarCTePorXMLNFe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarCTe">
      <wsdl:input wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/IntegrarCTe" message="tns:IConhecimentoDeTransporteEletronico_IntegrarCTe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/IntegrarCTeResponse" message="tns:IConhecimentoDeTransporteEletronico_IntegrarCTe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarCTe">
      <wsdl:input wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/CancelarCTe" message="tns:IConhecimentoDeTransporteEletronico_CancelarCTe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/CancelarCTeResponse" message="tns:IConhecimentoDeTransporteEletronico_CancelarCTe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InutilizarCTe">
      <wsdl:input wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/InutilizarCTe" message="tns:IConhecimentoDeTransporteEletronico_InutilizarCTe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConhecimentoDeTransporteEletronico/InutilizarCTeResponse" message="tns:IConhecimentoDeTransporteEletronico_InutilizarCTe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConhecimentoDeTransporteEletronico" type="tns:IConhecimentoDeTransporteEletronico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarLoteDeXMLPorEmpresaEPeriodo">
      <soap:operation soapAction="http://tempuri.org/IConhecimentoDeTransporteEletronico/BuscarLoteDeXMLPorEmpresaEPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarCTePorTxt">
      <soap:operation soapAction="http://tempuri.org/IConhecimentoDeTransporteEletronico/IntegrarCTePorTxt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCTePorTxt">
      <soap:operation soapAction="http://tempuri.org/IConhecimentoDeTransporteEletronico/CancelarCTePorTxt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarXMLNFeParaIntegracao">
      <soap:operation soapAction="http://tempuri.org/IConhecimentoDeTransporteEletronico/EnviarXMLNFeParaIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarCTePorXMLNFe">
      <soap:operation soapAction="http://tempuri.org/IConhecimentoDeTransporteEletronico/IntegrarCTePorXMLNFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarCTe">
      <soap:operation soapAction="http://tempuri.org/IConhecimentoDeTransporteEletronico/IntegrarCTe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCTe">
      <soap:operation soapAction="http://tempuri.org/IConhecimentoDeTransporteEletronico/CancelarCTe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InutilizarCTe">
      <soap:operation soapAction="http://tempuri.org/IConhecimentoDeTransporteEletronico/InutilizarCTe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConhecimentoDeTransporteEletronico">
    <wsdl:port name="BasicHttpBinding_IConhecimentoDeTransporteEletronico" binding="tns:BasicHttpBinding_IConhecimentoDeTransporteEletronico">
      <soap:address location="http://177.0.245.100/WebServiceIntegracao/ConhecimentoDeTransporteEletronico.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>