WebApplication1/Service References/ServiceReference1/definitions6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://177.0.245.100/WebServiceIntegracao/ConhecimentoDeTransporteEletronico.svc/definitions?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:complexType name="CTe">
    <xs:sequence>
      <xs:element minOccurs="0" name="CFOP" type="xs:int" />
      <xs:element minOccurs="0" name="CIOT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COFINS" nillable="true" type="tns:ImpostoCOFINS" />
      <xs:element minOccurs="0" name="CaracteristicaServico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaracteristicaTransporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChaveCTESubstituicaoComplementar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClienteEntrega" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="ClienteRetira" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="CodigoIBGECidadeInicioPrestacao" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIBGECidadeTerminoPrestacao" type="xs:int" />
      <xs:element minOccurs="0" name="ComponentesDaPrestacao" nillable="true" type="tns:ArrayOfComponentePrestacao" />
      <xs:element minOccurs="0" name="Container" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataAnulacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevistaContainer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevistaEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destinatario" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="DetalhesRetira" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documentos" nillable="true" type="tns:ArrayOfDocumento" />
      <xs:element minOccurs="0" name="DocumentosTransporteAnteriores" nillable="true" type="tns:ArrayOfDocumentoTransporteAnterior" />
      <xs:element minOccurs="0" name="Emitente" nillable="true" type="tns:Empresa" />
      <xs:element minOccurs="0" name="Expedidor" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="ICMS" nillable="true" type="tns:ImpostoICMS" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="IncluirICMSNoFrete" type="q1:OpcaoSimNao" />
      <xs:element minOccurs="0" name="LacreContainer" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="Lotacao" type="q2:OpcaoSimNao" />
      <xs:element minOccurs="0" name="Motoristas" nillable="true" type="tns:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="NumeroCarga" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroUnidade" type="xs:int" />
      <xs:element minOccurs="0" name="ObservacaoDaCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacoesContribuinte" nillable="true" type="tns:ArrayOfObservacao" />
      <xs:element minOccurs="0" name="ObservacoesFisco" nillable="true" type="tns:ArrayOfObservacao" />
      <xs:element minOccurs="0" name="ObservacoesGerais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutrasCaracteristicasDaCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIS" nillable="true" type="tns:ImpostoPIS" />
      <xs:element minOccurs="0" name="PercentualICMSIncluirNoFrete" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProdutoPredominante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdutosPerigosos" nillable="true" type="tns:ArrayOfProdutoPerigoso" />
      <xs:element minOccurs="0" name="QuantidadesCarga" nillable="true" type="tns:ArrayOfQuantidadeCarga" />
      <xs:element minOccurs="0" name="Recebedor" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="Remetente" nillable="true" type="tns:Cliente" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="Retira" type="q3:OpcaoSimNao" />
      <xs:element minOccurs="0" name="Seguros" nillable="true" type="tns:ArrayOfSeguro" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoCTe" type="q4:TipoCTE" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoImpressao" type="q5:TipoImpressao" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoPagamento" type="q6:TipoPagamento" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoServico" type="q7:TipoServico" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoTomador" type="q8:TipoTomador" />
      <xs:element minOccurs="0" name="Tomador" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="ValorAReceber" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorFrete" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalMercadoria" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalPrestacaoServico" type="xs:decimal" />
      <xs:element minOccurs="0" name="Veiculos" nillable="true" type="tns:ArrayOfVeiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTe" nillable="true" type="tns:CTe" />
  <xs:complexType name="ImpostoCOFINS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aliquota" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculo" type="xs:decimal" />
      <xs:element minOccurs="0" name="CST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImpostoCOFINS" nillable="true" type="tns:ImpostoCOFINS" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPFCNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAtividade" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIBGECidade" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailsContador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailsContato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exportacao" type="xs:boolean" />
      <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RGIE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusEmails" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusEmailsContador" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusEmailsContato" type="xs:boolean" />
      <xs:element minOccurs="0" name="Telefone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfComponentePrestacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComponentePrestacao" nillable="true" type="tns:ComponentePrestacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComponentePrestacao" nillable="true" type="tns:ArrayOfComponentePrestacao" />
  <xs:complexType name="ComponentePrestacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncluiBaseCalculoICMS" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncluiValorAReceber" type="xs:boolean" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComponentePrestacao" nillable="true" type="tns:ComponentePrestacao" />
  <xs:complexType name="ArrayOfDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documento" nillable="true" type="tns:Documento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumento" nillable="true" type="tns:ArrayOfDocumento" />
  <xs:complexType name="Documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseCalculoICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculoICMSST" type="xs:decimal" />
      <xs:element minOccurs="0" name="CFOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChaveNFE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemPrincipal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModeloDocumentoFiscal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PINSuframa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="Tipo" type="q9:TipoDocumentoCTe" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMSST" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorProdutos" type="xs:decimal" />
      <xs:element minOccurs="0" name="Volume" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Documento" nillable="true" type="tns:Documento" />
  <xs:complexType name="ArrayOfDocumentoTransporteAnterior">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentoTransporteAnterior" nillable="true" type="tns:DocumentoTransporteAnterior" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentoTransporteAnterior" nillable="true" type="tns:ArrayOfDocumentoTransporteAnterior" />
  <xs:complexType name="DocumentoTransporteAnterior">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emissor" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoDocumento" type="q10:TipoDocumentoAnteriorCTe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoTransporteAnterior" nillable="true" type="tns:DocumentoTransporteAnterior" />
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIBGECidade" type="xs:int" />
      <xs:element minOccurs="0" name="Complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAdministrativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailContador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoEstadual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeContador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptanteSimplesNacional" type="xs:boolean" />
      <xs:element minOccurs="0" name="RNTRC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Responsavel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusEmailAdministrativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusEmailContador" type="xs:boolean" />
      <xs:element minOccurs="0" name="Telefone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoneContador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoneContato" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
  <xs:complexType name="ImpostoICMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aliquota" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculo" type="xs:decimal" />
      <xs:element minOccurs="0" name="CST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentualReducaoBaseCalculo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCreditoPresumido" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDevido" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImpostoICMS" nillable="true" type="tns:ImpostoICMS" />
  <xs:complexType name="ArrayOfMotorista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Motorista" nillable="true" type="tns:Motorista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMotorista" nillable="true" type="tns:ArrayOfMotorista" />
  <xs:complexType name="Motorista">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Motorista" nillable="true" type="tns:Motorista" />
  <xs:complexType name="ArrayOfObservacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Observacao" nillable="true" type="tns:Observacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObservacao" nillable="true" type="tns:ArrayOfObservacao" />
  <xs:complexType name="Observacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Observacao" nillable="true" type="tns:Observacao" />
  <xs:complexType name="ImpostoPIS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aliquota" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculo" type="xs:decimal" />
      <xs:element minOccurs="0" name="CST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImpostoPIS" nillable="true" type="tns:ImpostoPIS" />
  <xs:complexType name="ArrayOfProdutoPerigoso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdutoPerigoso" nillable="true" type="tns:ProdutoPerigoso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdutoPerigoso" nillable="true" type="tns:ArrayOfProdutoPerigoso" />
  <xs:complexType name="ProdutoPerigoso">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClasseRisco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrupoEmbalagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeApropriado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroONU" type="xs:int" />
      <xs:element minOccurs="0" name="PontoFulgor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantidadeTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantidadeTotal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoPerigoso" nillable="true" type="tns:ProdutoPerigoso" />
  <xs:complexType name="ArrayOfQuantidadeCarga">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuantidadeCarga" nillable="true" type="tns:QuantidadeCarga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuantidadeCarga" nillable="true" type="tns:ArrayOfQuantidadeCarga" />
  <xs:complexType name="QuantidadeCarga">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnidadeMedida" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuantidadeCarga" nillable="true" type="tns:QuantidadeCarga" />
  <xs:complexType name="ArrayOfSeguro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Seguro" nillable="true" type="tns:Seguro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeguro" nillable="true" type="tns:ArrayOfSeguro" />
  <xs:complexType name="Seguro">
    <xs:sequence>
      <xs:element minOccurs="0" name="NomeSeguradora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroApolice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroAverbacao" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="Tipo" type="q11:TipoSeguro" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Seguro" nillable="true" type="tns:Seguro" />
  <xs:complexType name="ArrayOfVeiculo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Veiculo" nillable="true" type="tns:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVeiculo" nillable="true" type="tns:ArrayOfVeiculo" />
  <xs:complexType name="Veiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapacidadeKG" type="xs:int" />
      <xs:element minOccurs="0" name="CapacidadeM3" type="xs:int" />
      <xs:element minOccurs="0" name="Chassi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Proprietario" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="RNTRCProprietario" type="xs:int" />
      <xs:element minOccurs="0" name="Renavam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tara" type="xs:int" />
      <xs:element minOccurs="0" name="TipoCarroceria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPropriedade" nillable="true" type="xs:string" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoProprietario" type="q12:TipoProprietarioVeiculo" />
      <xs:element minOccurs="0" name="TipoRodado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoVeiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Veiculo" nillable="true" type="tns:Veiculo" />
</xs:schema>