WebApplication1/Service References/ServiceReference1/definitions2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://177.0.245.100/WebServiceIntegracao/ConhecimentoDeTransporteEletronico.svc/definitions?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
  <xs:import schemaLocation="http://177.0.245.100/WebServiceIntegracao/ConhecimentoDeTransporteEletronico.svc/definitions?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://177.0.245.100/WebServiceIntegracao/ConhecimentoDeTransporteEletronico.svc/definitions?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" />
  <xs:element name="BuscarLoteDeXMLPorEmpresaEPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataEmissaoInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataEmissaoFinal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpjEmpresaEmissora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chaveAcesso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarLoteDeXMLPorEmpresaEPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="BuscarLoteDeXMLPorEmpresaEPeriodoResult" nillable="true" type="q1:RetornoOfArrayOfstringuHEDJ7Dj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarCTePorTxt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoEmpresaPai" type="xs:int" />
        <xs:element minOccurs="0" name="nomeArquivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arquivoTexto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarCTePorTxtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="IntegrarCTePorTxtResult" nillable="true" type="q2:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCTePorTxt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoEmpresaPai" type="xs:int" />
        <xs:element minOccurs="0" name="nomeArquivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arquivoTexto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCTePorTxtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="CancelarCTePorTxtResult" nillable="true" type="q3:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarXMLNFeParaIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="arquivo" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarXMLNFeParaIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="EnviarXMLNFeParaIntegracaoResult" nillable="true" type="q5:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarCTePorXMLNFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="nomeArquivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarCTePorXMLNFeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="IntegrarCTePorXMLNFeResult" nillable="true" type="q6:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="cte" nillable="true" type="q7:CTe" />
        <xs:element minOccurs="0" name="cnpjEmpresaAdministradora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="IntegrarCTeResult" nillable="true" type="q8:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjEmpresaAdministradora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chaveCTe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="justificativa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="CancelarCTeResult" nillable="true" type="q9:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InutilizarCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjEmpresaAdministradora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpjEmpresaEmitente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroCTe" type="xs:int" />
        <xs:element minOccurs="0" name="serieCTe" type="xs:int" />
        <xs:element minOccurs="0" name="justificativa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InutilizarCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="InutilizarCTeResult" nillable="true" type="q10:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>