WebApplication1/Service References/ServiceReference1/definitions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://177.0.245.100/WebServiceIntegracao/ConhecimentoDeTransporteEletronico.svc/definitions?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="TipoDocumentoCTe">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NFe" />
      <xs:enumeration value="NF" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoDocumentoCTe" nillable="true" type="tns:TipoDocumentoCTe" />
  <xs:simpleType name="TipoDocumentoAnteriorCTe">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Eletronico" />
      <xs:enumeration value="Papel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoDocumentoAnteriorCTe" nillable="true" type="tns:TipoDocumentoAnteriorCTe" />
  <xs:simpleType name="OpcaoSimNao">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nao" />
      <xs:enumeration value="Sim" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OpcaoSimNao" nillable="true" type="tns:OpcaoSimNao" />
  <xs:simpleType name="TipoSeguro">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Remetente" />
      <xs:enumeration value="Expedidor" />
      <xs:enumeration value="Recebedor" />
      <xs:enumeration value="Destinatario" />
      <xs:enumeration value="Emitente_CTE" />
      <xs:enumeration value="Tomador_Servico" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoSeguro" nillable="true" type="tns:TipoSeguro" />
  <xs:simpleType name="TipoCTE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Normal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Complemento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Anulacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Substituto">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoCTE" nillable="true" type="tns:TipoCTE" />
  <xs:simpleType name="TipoImpressao">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Retrato">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Paisagem">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoImpressao" nillable="true" type="tns:TipoImpressao" />
  <xs:simpleType name="TipoPagamento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pago" />
      <xs:enumeration value="A_Pagar" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPagamento" nillable="true" type="tns:TipoPagamento" />
  <xs:simpleType name="TipoServico">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="SubContratacao" />
      <xs:enumeration value="Redespacho" />
      <xs:enumeration value="RedIntermediario" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoServico" nillable="true" type="tns:TipoServico" />
  <xs:simpleType name="TipoTomador">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Remetente" />
      <xs:enumeration value="Expedidor" />
      <xs:enumeration value="Recebedor" />
      <xs:enumeration value="Destinatario" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoTomador" nillable="true" type="tns:TipoTomador" />
  <xs:simpleType name="TipoProprietarioVeiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TACAgregado" />
      <xs:enumeration value="TACIndependente" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoProprietarioVeiculo" nillable="true" type="tns:TipoProprietarioVeiculo" />
</xs:schema>