Servicos/Service References/ServicoSGT.Carga/Cargas222.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga.MontagemCarga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga.MontagemCarga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBlocoCarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlocoCarregamento" nillable="true" type="tns:BlocoCarregamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlocoCarregamento" nillable="true" type="tns:ArrayOfBlocoCarregamento" />
  <xs:complexType name="BlocoCarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bloco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlocoCarregamento" nillable="true" type="tns:BlocoCarregamento" />
</xs:schema>