Servicos/Service References/ServicoSGT.Carga/Cargas17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd30" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd33" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd28" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Logistica" />
  <xs:complexType name="Protocolos">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q1:Pessoa" />
      <xs:element minOccurs="0" name="ParametroIdentificacaoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RastreamentoPedido" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Remetente" nillable="true" type="q2:Pessoa" />
      <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
      <xs:element minOccurs="0" name="protocoloIntegracaoPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Protocolos" nillable="true" type="tns:Protocolos" />
  <xs:complexType name="ArrayOfCarga">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Carga" nillable="true" type="tns:Carga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarga" nillable="true" type="tns:ArrayOfCarga" />
  <xs:complexType name="Carga">
    <xs:sequence>
      <xs:element minOccurs="0" name="CargaDePreCarga" type="xs:boolean" />
      <xs:element minOccurs="0" name="DataCriacaoCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilialOrigem" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Motoristas" nillable="true" type="q3:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pedidos" nillable="true" type="tns:ArrayOfPedido" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoCarga" nillable="true" type="q4:TipoCargaEmbarcador" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Transportador" nillable="true" type="q5:Empresa" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculo" nillable="true" type="q6:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carga" nillable="true" type="tns:Carga" />
  <xs:complexType name="ArrayOfPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pedido" nillable="true" type="tns:Pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedido" nillable="true" type="tns:ArrayOfPedido" />
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CNPJsDestinatariosNaoAutorizados" nillable="true" type="q7:ArrayOfstring" />
      <xs:element minOccurs="0" name="CanalEntrega" nillable="true" type="tns:CanalEntrega" />
      <xs:element minOccurs="0" name="CargaRefrigeradaPrecisaEnergia" type="xs:boolean" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="CentroCusto" nillable="true" type="q8:CentroCusto" />
      <xs:element minOccurs="0" name="CodigoBooking" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoOrdemServico" type="xs:int" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Container" nillable="true" type="q9:Container" />
      <xs:element minOccurs="0" name="ContainerADefinir" type="xs:boolean" />
      <xs:element minOccurs="0" name="ContemCargaPerigosa" type="xs:boolean" />
      <xs:element minOccurs="0" name="ContemCargaRefrigerada" type="xs:boolean" />
      <xs:element minOccurs="0" name="CubagemTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="DataCarregamentoPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataColeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataFinalCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataInicioCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoCarrierNavioViagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoTipoPropostaFeeder" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q10:Pessoa" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Destino" nillable="true" type="q11:Endereco" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Embarcador" nillable="true" type="q12:Pessoa" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="EmpresaResponsavel" nillable="true" type="q13:Empresa" />
      <xs:element minOccurs="0" name="ExecaoCap" nillable="true" type="xs:boolean" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Expedidor" nillable="true" type="q14:Pessoa" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="FormaAverbacaoCTE" type="q15:FormaAverbacaoCTE" />
      <xs:element minOccurs="0" name="NecessitaAverbacao" type="xs:boolean" />
      <xs:element minOccurs="0" name="NotasFiscais" nillable="true" type="tns:ArrayOfNotaFiscal" />
      <xs:element minOccurs="0" name="NumeroBL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroBooking" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroLacre1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroLacre2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroLacre3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroOrdemServico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedidoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoLocalEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoProposta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ordem" nillable="true" type="xs:string" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Origem" nillable="true" type="q16:Endereco" />
      <xs:element minOccurs="0" name="PalletAgrupamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PedidoCancelado" type="xs:boolean" />
      <xs:element minOccurs="0" name="PercentualADValorem" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoBruto" type="xs:decimal" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="PortoDestino" nillable="true" type="q17:Porto" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="PortoOrigem" nillable="true" type="q18:Porto" />
      <xs:element minOccurs="0" name="PossuiCTe" type="xs:boolean" />
      <xs:element minOccurs="0" name="PossuiNFS" type="xs:boolean" />
      <xs:element minOccurs="0" name="PossuiNFSManual" type="xs:boolean" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Produtos" nillable="true" type="q19:ArrayOfCargaPedidoProduto" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="ProdutosPedido" nillable="true" type="q20:ArrayOfProduto" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="PropostaComercial" nillable="true" type="q21:PropostaComercial" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="ProvedorOS" nillable="true" type="q22:Pessoa" />
      <xs:element minOccurs="0" name="QuantidadeConhecimentosTaxaDocumentacao" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeContainerBooking" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeTipoContainerReserva" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeVolumes" type="xs:int" />
      <xs:element minOccurs="0" name="RealizarCobrancaTaxaDocumentacao" type="xs:boolean" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Recebedor" nillable="true" type="q23:Pessoa" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Remetente" nillable="true" type="q24:Pessoa" />
      <xs:element minOccurs="0" name="TaraContainer" type="xs:int" />
      <xs:element minOccurs="0" name="Temperatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemperaturaObservacao" nillable="true" type="xs:string" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TerminalPortoDestino" nillable="true" type="q25:TerminalPorto" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TerminalPortoOrigem" nillable="true" type="q26:TerminalPorto" />
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoCargaEmbarcador" nillable="true" type="q27:TipoCargaEmbarcador" />
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoContainerReserva" nillable="true" type="q28:TipoContainer" />
      <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoDocumentoAverbacao" type="q29:TipoDocumentoAverbacao" />
      <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoOperacao" nillable="true" type="q30:TipoOperacao" />
      <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoPagamento" type="q31:TipoPagamento" />
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoPropostaFeeder" type="q32:TipoPropostaFeeder" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoRateio" type="q33:TipoEmissaoCTeDocumentos" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoServicoCarga" nillable="true" type="q34:TipoServicoCarga" />
      <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoTomador" type="q35:TipoTomador" />
      <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Tomador" nillable="true" type="q36:Pessoa" />
      <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Transbordo" nillable="true" type="q37:ArrayOfTransbordo" />
      <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="TransportadoraEmitente" nillable="true" type="q38:Empresa" />
      <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="TransportadoraEmitentePedido" nillable="true" type="q39:Empresa" />
      <xs:element minOccurs="0" name="UsarOutroEnderecoDestino" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsarOutroEnderecoOrigem" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValidarNumeroContainer" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValorDescarga" type="xs:decimal" />
      <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" minOccurs="0" name="ValorFrete" nillable="true" type="q40:FreteValor" />
      <xs:element minOccurs="0" name="ValorFreteCalculado" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValorPedagio" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTaxaDocumento" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalPaletes" type="xs:decimal" />
      <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Viagem" nillable="true" type="q41:Viagem" />
      <xs:element minOccurs="0" name="ViagemJaFoiFinalizada" type="xs:boolean" />
      <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="ViagemLongoCurso" nillable="true" type="q42:Viagem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="CanalEntrega">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CanalEntrega" nillable="true" type="tns:CanalEntrega" />
  <xs:complexType name="ArrayOfNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotaFiscal" nillable="true" type="tns:ArrayOfNotaFiscal" />
  <xs:complexType name="NotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q43:Pessoa" />
      <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Emitente" nillable="true" type="q44:Pessoa" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="PossuiCTe" type="xs:boolean" />
      <xs:element minOccurs="0" name="PossuiNFS" type="xs:boolean" />
      <xs:element minOccurs="0" name="PossuiNFSManual" type="xs:boolean" />
      <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="Produtos" nillable="true" type="q45:ArrayOfProduto" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoOperacaoNotaFiscal" type="q46:TipoOperacaoNotaFiscal" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorFrete" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorProdutos" type="xs:decimal" />
      <xs:element minOccurs="0" name="Volumes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
  <xs:complexType name="ArrayOfValePedagio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValePedagio" nillable="true" type="tns:ValePedagio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValePedagio" nillable="true" type="tns:ArrayOfValePedagio" />
  <xs:complexType name="ValePedagio">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompraComEixosSuspensos" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumeroValePedagio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PracasValePedagio" nillable="true" type="tns:ArrayOfPracaValePedagio" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeEixos" type="xs:int" />
      <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoIntegradora" type="q47:TipoIntegracao" />
      <xs:element minOccurs="0" name="ValorTotalValePedagio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValePedagio" nillable="true" type="tns:ValePedagio" />
  <xs:complexType name="ArrayOfPracaValePedagio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PracaValePedagio" nillable="true" type="tns:PracaValePedagio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPracaValePedagio" nillable="true" type="tns:ArrayOfPracaValePedagio" />
  <xs:complexType name="PracaValePedagio">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoPraca" type="xs:int" />
      <xs:element minOccurs="0" name="ConcessionariaCodigo" type="xs:int" />
      <xs:element minOccurs="0" name="ConcessionariaNome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomePraca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeRodovia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PracaValePedagio" nillable="true" type="tns:PracaValePedagio" />
  <xs:complexType name="ArrayOfProtocolos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Protocolos" nillable="true" type="tns:Protocolos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProtocolos" nillable="true" type="tns:ArrayOfProtocolos" />
  <xs:complexType name="ArrayOfPostagemCorreios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostagemCorreios" nillable="true" type="tns:PostagemCorreios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostagemCorreios" nillable="true" type="tns:ArrayOfPostagemCorreios" />
  <xs:complexType name="PostagemCorreios">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumeroEtiqueta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedidoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostagemCorreios" nillable="true" type="tns:PostagemCorreios" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element name="ProtocolReferenceIntegration" nillable="true" type="xs:string" />
      <xs:element name="ClientReference" nillable="true" type="xs:string" />
      <xs:element name="Reference" nillable="true" type="xs:string" />
      <xs:element name="ModeOfTransport" type="xs:int" />
      <xs:element name="TypeOfTransport" type="xs:int" />
      <xs:element name="Status" nillable="true" type="tns:BookingStatus" />
      <xs:element name="Portage" nillable="true" type="tns:BookingPortage" />
      <xs:element name="Container" nillable="true" type="tns:BookingContainer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:complexType name="BookingStatus">
    <xs:sequence>
      <xs:element name="ShipmentStatus" type="xs:int" />
      <xs:element name="StatusMaritme" nillable="true" type="tns:BookingStatusMaritme" />
      <xs:element name="StatusAir" nillable="true" type="tns:BookingStatusAir" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingStatus" nillable="true" type="tns:BookingStatus" />
  <xs:complexType name="BookingStatusMaritme">
    <xs:sequence>
      <xs:element name="StatusCode" nillable="true" type="xs:string" />
      <xs:element name="StatusDateTime" type="xs:dateTime" />
      <xs:element name="UTCTimeDifference" nillable="true" type="xs:string" />
      <xs:element name="StatusLocation" nillable="true" type="xs:string" />
      <xs:element name="StatusRemarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingStatusMaritme" nillable="true" type="tns:BookingStatusMaritme" />
  <xs:complexType name="BookingStatusAir">
    <xs:sequence>
      <xs:element name="StatusCode" nillable="true" type="xs:string" />
      <xs:element name="StatusDateTime" type="xs:dateTime" />
      <xs:element name="UTCTimeDifference" nillable="true" type="xs:string" />
      <xs:element name="StatusLocation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingStatusAir" nillable="true" type="tns:BookingStatusAir" />
  <xs:complexType name="BookingPortage">
    <xs:sequence>
      <xs:element name="Freight" nillable="true" type="tns:BookingPortageFreight" />
      <xs:element name="RoutingInformation" nillable="true" type="tns:BookingPortageRoutingInformation" />
      <xs:element name="CargoDetails" nillable="true" type="tns:BookingPortageCargoDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingPortage" nillable="true" type="tns:BookingPortage" />
  <xs:complexType name="BookingPortageFreight">
    <xs:sequence>
      <xs:element name="BookingDate" type="xs:dateTime" />
      <xs:element name="BookingNumber" type="xs:int" />
      <xs:element name="Despachante" nillable="true" type="xs:string" />
      <xs:element name="PortOfLoading" nillable="true" type="xs:string" />
      <xs:element name="PortOfLoadingETS" type="xs:dateTime" />
      <xs:element name="PortOfDischargeETA" type="xs:dateTime" />
      <xs:element name="RevisionOfDeparture" type="xs:dateTime" />
      <xs:element name="Departure" type="xs:dateTime" />
      <xs:element name="RevisionArrival" type="xs:dateTime" />
      <xs:element name="FinalArrival" type="xs:dateTime" />
      <xs:element name="GateOutDestination" type="xs:dateTime" />
      <xs:element name="ShippingLineSCACCode" nillable="true" type="xs:string" />
      <xs:element name="OceanBLNo" nillable="true" type="xs:string" />
      <xs:element name="VoyageNo" nillable="true" type="xs:string" />
      <xs:element name="VesselName" nillable="true" type="xs:string" />
      <xs:element name="ShipmentMovement" type="xs:int" />
      <xs:element name="CargoDeadline" type="xs:dateTime" />
      <xs:element name="DraftDeadline" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingPortageFreight" nillable="true" type="tns:BookingPortageFreight" />
  <xs:complexType name="BookingPortageRoutingInformation">
    <xs:sequence>
      <xs:element name="RoutingCode" type="xs:int" />
      <xs:element name="VoyageNo" type="xs:int" />
      <xs:element name="VesselName" nillable="true" type="xs:string" />
      <xs:element name="PortOfoadingLocation" nillable="true" type="xs:string" />
      <xs:element name="PortOfLoading" type="xs:dateTime" />
      <xs:element name="PortOfDischargLocation" nillable="true" type="xs:string" />
      <xs:element name="PortOfDischarge" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingPortageRoutingInformation" nillable="true" type="tns:BookingPortageRoutingInformation" />
  <xs:complexType name="BookingPortageCargoDetails">
    <xs:sequence>
      <xs:element name="TotalNumberOfPackages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingPortageCargoDetails" nillable="true" type="tns:BookingPortageCargoDetails" />
  <xs:complexType name="BookingContainer">
    <xs:sequence>
      <xs:element name="ContainerDetails" nillable="true" type="tns:BookingContainerDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingContainer" nillable="true" type="tns:BookingContainer" />
  <xs:complexType name="BookingContainerDetails">
    <xs:sequence>
      <xs:element name="EmptyGate" type="xs:dateTime" />
      <xs:element name="TerminalName" nillable="true" type="xs:string" />
      <xs:element name="ContainerAtCY" type="xs:dateTime" />
      <xs:element name="ContainerNumber" nillable="true" type="xs:string" />
      <xs:element name="SealNumber" nillable="true" type="xs:string" />
      <xs:element name="EmptyGateInDestination" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingContainerDetails" nillable="true" type="tns:BookingContainerDetails" />
  <xs:complexType name="CargaPreCalculoFrete">
    <xs:sequence>
      <xs:element minOccurs="0" name="DadosPedidos" nillable="true" type="tns:ArrayOfCargaPreCalculoFreteDadosPedido" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocoloTipoOperacao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargaPreCalculoFrete" nillable="true" type="tns:CargaPreCalculoFrete" />
  <xs:complexType name="ArrayOfCargaPreCalculoFreteDadosPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CargaPreCalculoFreteDadosPedido" nillable="true" type="tns:CargaPreCalculoFreteDadosPedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCargaPreCalculoFreteDadosPedido" nillable="true" type="tns:ArrayOfCargaPreCalculoFreteDadosPedido" />
  <xs:complexType name="CargaPreCalculoFreteDadosPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="PesoCargaPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProtocoloPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargaPreCalculoFreteDadosPedido" nillable="true" type="tns:CargaPreCalculoFreteDadosPedido" />
  <xs:complexType name="CargaRotaFrete">
    <xs:sequence>
      <xs:element minOccurs="0" name="Polilinha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
      <xs:element minOccurs="0" name="TempoViagemMinutos" type="xs:int" />
      <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoUltimoPontoRoteirizacao" nillable="true" type="q48:TipoUltimoPontoRoteirizacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargaRotaFrete" nillable="true" type="tns:CargaRotaFrete" />
  <xs:complexType name="DadosTransporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="EixosNocheckin" type="xs:int" />
      <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Motoristas" nillable="true" type="q49:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroVeiculo" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
      <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Reboque1" nillable="true" type="q50:Veiculo" />
      <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Reboque2" nillable="true" type="q51:Veiculo" />
      <xs:element minOccurs="0" name="TipoCheckin" nillable="true" type="xs:string" />
      <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Transportador" nillable="true" type="q52:Empresa" />
      <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculo" nillable="true" type="q53:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosTransporte" nillable="true" type="tns:DadosTransporte" />
  <xs:complexType name="EmbarqueContainer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracaoContainer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmbarque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmbarqueContainer" nillable="true" type="tns:EmbarqueContainer" />
  <xs:complexType name="AjusteDatasPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataPrevisaoEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataValidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AjusteDatasPedido" nillable="true" type="tns:AjusteDatasPedido" />
  <xs:complexType name="RetornoBooking">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloReferencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoBooking" nillable="true" type="tns:RetornoBooking" />
  <xs:complexType name="CargaIntegracaoCompleta">
    <xs:sequence>
      <xs:element minOccurs="0" name="CargaSVMProprio" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="DataCriacaoCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FecharCargaAutomaticamente" nillable="true" type="xs:boolean" />
      <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" minOccurs="0" name="Filial" nillable="true" type="q54:Filial" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPreCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pedidos" nillable="true" type="tns:ArrayOfPedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargaIntegracaoCompleta" nillable="true" type="tns:CargaIntegracaoCompleta" />
  <xs:complexType name="CargaDocumentos">
    <xs:sequence>
      <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="Conhecimentos" nillable="true" type="q55:ArrayOfCTe" />
      <xs:element minOccurs="0" name="PesoBruto" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
      <xs:element minOccurs="0" name="ValorFrete" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorFreteAPagar" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorFreteEmbarcador" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorFreteLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMS" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargaDocumentos" nillable="true" type="tns:CargaDocumentos" />
  <xs:complexType name="ArrayOfPreDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreDocumento" nillable="true" type="tns:PreDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreDocumento" nillable="true" type="tns:ArrayOfPreDocumento" />
  <xs:complexType name="PreDocumento">
    <xs:sequence>
      <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q56:Pessoa" />
      <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Destino" nillable="true" type="q57:Localidade" />
      <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Expedidor" nillable="true" type="q58:Pessoa" />
      <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" minOccurs="0" name="ListaNotas" nillable="true" type="q59:ArrayOfNotaFiscal" />
      <xs:element minOccurs="0" name="ModeloDocumento" nillable="true" type="xs:string" />
      <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Origem" nillable="true" type="q60:Localidade" />
      <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Recebedor" nillable="true" type="q61:Pessoa" />
      <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Remetente" nillable="true" type="q62:Pessoa" />
      <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Tomador" nillable="true" type="q63:Pessoa" />
      <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" minOccurs="0" name="ValorFrete" nillable="true" type="q64:FreteValor" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreDocumento" nillable="true" type="tns:PreDocumento" />
  <xs:complexType name="CargaIntegracao">
    <xs:sequence>
      <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="AcondicionamentoCarga" nillable="true" type="q65:AcondicionamentoCarga" />
      <xs:element minOccurs="0" name="Adicional1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Adicional2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Adicional3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Adicional4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Adicional5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Adicional6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Adicional7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AntecipacaoICMS" type="xs:boolean" />
      <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Averbacao" nillable="true" type="q66:Averbacao" />
      <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="BlocosCarregamento" nillable="true" type="q67:ArrayOfBlocoCarregamento" />
      <xs:element minOccurs="0" name="CFOP" type="xs:int" />
      <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CNPJsDestinatariosNaoAutorizados" nillable="true" type="q68:ArrayOfstring" />
      <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" minOccurs="0" name="CTes" nillable="true" type="q69:ArrayOfCTe" />
      <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="CanalEntrega" nillable="true" type="q70:CanalEntrega" />
      <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="CanalVenda" nillable="true" type="q71:CanalVenda" />
      <xs:element minOccurs="0" name="CargaDePreCarga" type="xs:boolean" />
      <xs:element minOccurs="0" name="CargaPaletizada" type="xs:boolean" />
      <xs:element minOccurs="0" name="CargaRefrigeradaPrecisaEnergia" type="xs:boolean" />
      <xs:element minOccurs="0" name="CargaSVMProprio" type="xs:boolean" />
      <xs:element minOccurs="0" name="CategoriaCargaEmbarcador" nillable="true" type="xs:string" />
      <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="CentroCusto" nillable="true" type="q72:CentroCusto" />
      <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChavesCTes" nillable="true" type="q73:ArrayOfstring" />
      <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="ClienteAdicional" nillable="true" type="q74:Pessoa" />
      <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="ClienteDonoContainer" nillable="true" type="q75:Pessoa" />
      <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="ClientePropostaComercial" nillable="true" type="q76:Pessoa" />
      <xs:element minOccurs="0" name="ClusterRota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAgrupamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAgrupamentoCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoBooking" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIntegracaoRota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoOrdemServico" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPedidoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Companhia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CondicaoExpedicao" nillable="true" type="xs:string" />
      <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Container" nillable="true" type="q77:Container" />
      <xs:element minOccurs="0" name="ContainerADefinir" type="xs:boolean" />
      <xs:element minOccurs="0" name="ContemCargaPerigosa" type="xs:boolean" />
      <xs:element minOccurs="0" name="ContemCargaRefrigerada" type="xs:boolean" />
      <xs:element minOccurs="0" name="CubagemTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustoFrete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DadosTransporteMaritimo" nillable="true" type="tns:DadosTransporteMaritimo" />
      <xs:element minOccurs="0" name="DataAgendamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataAnulacaoCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCancelamentoCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataColeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCriacaoCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCriacaoRemessa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCriacaoVenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEstufagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataFinalAcerto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataFinalCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataInclusaoBooking" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataInclusaoPCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataInicialAcerto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataInicioCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataInicioViagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoChegadaDestinatario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoInicioViagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSeparacaoMercadoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataTerminoCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataUltimaLiberacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataValidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryTerm" nillable="true" type="xs:string" />
      <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="Deposito" nillable="true" type="q78:Deposito" />
      <xs:element minOccurs="0" name="DescricaoCarrierNavioViagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoRota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoTipoPropostaFeeder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Despachante" nillable="true" type="tns:Despachante" />
      <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q79:Pessoa" />
      <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Destino" nillable="true" type="q80:Endereco" />
      <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="DetalheEntrega" nillable="true" type="q81:TipoDetalhe" />
      <xs:element minOccurs="0" name="DiasItinerario" type="xs:int" />
      <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="DiasRestricaoEntrega" nillable="true" type="q82:ArrayOfDiaSemana" />
      <xs:element minOccurs="0" name="DiasUteisPrazoTransportador" type="xs:int" />
      <xs:element minOccurs="0" name="Distancia" type="xs:decimal" />
      <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Distribuicoes" nillable="true" type="q83:ArrayOfDistribuicao" />
      <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Doca" nillable="true" type="q84:Doca" />
      <xs:element minOccurs="0" name="ETA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ETS" nillable="true" type="xs:string" />
      <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Embarcador" nillable="true" type="q85:Pessoa" />
      <xs:element minOccurs="0" name="Embarque" nillable="true" type="xs:string" />
      <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="EmpresaResponsavel" nillable="true" type="q86:EmpresaResponsavel" />
      <xs:element minOccurs="0" name="EntregaAgendada" type="xs:boolean" />
      <xs:element minOccurs="0" name="Especie" nillable="true" type="tns:Especie" />
      <xs:element minOccurs="0" name="ExecaoCab" nillable="true" type="xs:boolean" />
      <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Expedidor" nillable="true" type="q87:Pessoa" />
      <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="FaixaTemperatura" nillable="true" type="q88:FaixaTemperatura" />
      <xs:element minOccurs="0" name="FecharCargaAutomaticamente" type="xs:boolean" />
      <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" minOccurs="0" name="Filial" nillable="true" type="q89:Filial" />
      <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" minOccurs="0" name="FilialVenda" nillable="true" type="q90:Filial" />
      <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="FormaAverbacaoCTE" nillable="true" type="q91:FormaAverbacaoCTE" />
      <xs:element minOccurs="0" name="FreeDeten" type="xs:int" />
      <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="FreteNegociado" nillable="true" type="q92:FreteNegociado" />
      <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" minOccurs="0" name="FreteRota" nillable="true" type="q93:FreteRota" />
      <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Logistica" minOccurs="0" name="Fronteira" nillable="true" type="q94:Fronteira" />
      <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="FuncionarioGerente" nillable="true" type="q95:Funcionario" />
      <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="FuncionarioSupervisor" nillable="true" type="q96:Funcionario" />
      <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="FuncionarioVendedor" nillable="true" type="q97:Funcionario" />
      <xs:element minOccurs="0" name="GrupoFreteMaterial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraPrevisaoEntrega" nillable="true" type="xs:string" />
      <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="HorarioEntrega" nillable="true" type="q98:TipoDetalhe" />
      <xs:element minOccurs="0" name="IDLoteTrizy" type="xs:int" />
      <xs:element minOccurs="0" name="IDPropostaTrizy" type="xs:int" />
      <xs:element minOccurs="0" name="IMOClasse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMOSequencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMOUnidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAutorizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificacaoAdicional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImpressoraNumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InLand" nillable="true" type="tns:InLand" />
      <xs:element minOccurs="0" name="IndicadorPOF" nillable="true" type="xs:string" />
      <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="IndicativoColetaEntrega" type="q99:IndicativoColetaEntrega" />
      <xs:element minOccurs="0" name="KMAsfaltoAteDestino" type="xs:decimal" />
      <xs:element minOccurs="0" name="KMChaoAteDestino" type="xs:decimal" />
      <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Lacres" nillable="true" type="q100:ArrayOfstring" />
      <xs:element minOccurs="0" name="MasterBL" nillable="true" type="xs:string" />
      <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="ModeloVeicular" nillable="true" type="q101:ModeloVeicular" />
      <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Motoristas" nillable="true" type="q102:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="NaoAtualizarDadosDoPedido" type="xs:boolean" />
      <xs:element minOccurs="0" name="NaoGlobalizarPedido" type="xs:boolean" />
      <xs:element minOccurs="0" name="Navio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NavioViagem" nillable="true" type="tns:NavioViagem" />
      <xs:element minOccurs="0" name="NecessarioAjudante" type="xs:boolean" />
      <xs:element minOccurs="0" name="NecessitaAverbacao" type="xs:boolean" />
      <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" minOccurs="0" name="NotasFiscais" nillable="true" type="q103:ArrayOfNotaFiscal" />
      <xs:element minOccurs="0" name="NumeroAcerto" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroAutorizacaoColetaEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroBL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroBooking" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCIOT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCombis" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroCombisPagas" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroControlePedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDIEmbarque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroEXP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroEntregasFinais" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroLacre1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroLacre2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroLacre3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroOSMae" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroOrdem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroOrdemServico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPaletes" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroPaletesFracionado" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroPaletesPagos" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroPedidoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedidoDevolucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedidoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedidoICT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedidoProvisorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedidoTrocaNota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPreCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroRastreioCorreios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSemiPaletes" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroSemiPaletesPagos" type="xs:decimal" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoCTe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoInterna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoLocalEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoProposta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoTransportador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Onda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperadorCargaCPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperadorCargaEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperadorCargaNome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ordem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrdemColeta" type="xs:int" />
      <xs:element minOccurs="0" name="OrdemColetaProgramada" type="xs:int" />
      <xs:element minOccurs="0" name="OrdemEntrega" type="xs:int" />
      <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Origem" nillable="true" type="q104:Endereco" />
      <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="PagamentoMaritimo" nillable="true" type="q105:PagamentoMaritimo" />
      <xs:element minOccurs="0" name="ParametroIdentificacaoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PedidoDeDevolucao" type="xs:boolean" />
      <xs:element minOccurs="0" name="PedidoDeSVMTerceiro" type="xs:boolean" />
      <xs:element minOccurs="0" name="PedidoPallet" type="xs:boolean" />
      <xs:element minOccurs="0" name="PedidoTrocaNota" type="xs:boolean" />
      <xs:element minOccurs="0" name="PercentualADValorem" type="xs:decimal" />
      <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="PercursosMDFe" nillable="true" type="q106:ArrayOfPercursoMDFe" />
      <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="PeriodoEntrega" nillable="true" type="q107:TipoDetalhe" />
      <xs:element minOccurs="0" name="PermiteQuebraPedidoMultiplosCarregamentos" type="xs:boolean" />
      <xs:element minOccurs="0" name="PesoBruto" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoTotalPaletes" type="xs:decimal" />
      <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="PontoPartida" nillable="true" type="q108:Pessoa" />
      <xs:element minOccurs="0" name="PortoChegada" nillable="true" type="xs:string" />
      <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="PortoDestino" nillable="true" type="q109:Porto" />
      <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="PortoOrigem" nillable="true" type="q110:Porto" />
      <xs:element minOccurs="0" name="PortoSaida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortoViagemDestino" nillable="true" type="tns:PortoViagem" />
      <xs:element minOccurs="0" name="PortoViagemOrigem" nillable="true" type="tns:PortoViagem" />
      <xs:element minOccurs="0" name="PossuiGenset" type="xs:boolean" />
      <xs:element minOccurs="0" name="PossuiPendenciaRoteirizacao" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrevisaoEntregaTransportador" nillable="true" type="xs:string" />
      <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="ProcessamentoEspecial" nillable="true" type="q111:TipoDetalhe" />
      <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="ProdutoPredominante" nillable="true" type="q112:Produto" />
      <xs:element minOccurs="0" name="ProdutoVolumoso" type="xs:boolean" />
      <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="Produtos" nillable="true" type="q113:ArrayOfProduto" />
      <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="PropostaComercial" nillable="true" type="q114:PropostaComercial" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocoloCotacao" type="xs:long" />
      <xs:element minOccurs="0" name="ProtocoloPedido" type="xs:int" />
      <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="ProvedorOS" nillable="true" type="q115:Pessoa" />
      <xs:element minOccurs="0" name="QuantidadeConhecimentosTaxaDocumentacao" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeContainerBooking" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeTipoContainerReserva" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeVolumes" type="xs:int" />
      <xs:element minOccurs="0" name="RealizarCobrancaTaxaDocumentacao" type="xs:boolean" />
      <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Recebedor" nillable="true" type="q116:Pessoa" />
      <xs:element minOccurs="0" name="RefEXPTransferencia" nillable="true" type="xs:string" />
      <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="RegiaoDestino" nillable="true" type="q117:Regiao" />
      <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Remetente" nillable="true" type="q118:Pessoa" />
      <xs:element minOccurs="0" name="Reserva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestricaoEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resumo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RotaEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenhaAgendamentoEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SetPointVeiculo" nillable="true" type="xs:string" />
      <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoCarga" type="q119:SituacaoCarga" />
      <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="StatusEXP" nillable="true" type="q120:StatusEXP" />
      <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="StatusPedidoEmbarcador" nillable="true" type="q121:StatusPedidoEmbarcador" />
      <xs:element minOccurs="0" name="TaraContainer" type="xs:int" />
      <xs:element minOccurs="0" name="Temperatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemperaturaObservacao" nillable="true" type="xs:string" />
      <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TerminalPortoDestino" nillable="true" type="q122:TerminalPorto" />
      <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TerminalPortoOrigem" nillable="true" type="q123:TerminalPorto" />
      <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoCalculoCargaFracionada" nillable="true" type="q124:TipoCalculoCargaFracionada" />
      <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoCargaEmbarcador" nillable="true" type="q125:TipoCargaEmbarcador" />
      <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoCarregamento" nillable="true" type="q126:TipoCarregamento" />
      <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoContainerReserva" nillable="true" type="q127:TipoContainer" />
      <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoDocumentoAverbacao" nillable="true" type="q128:TipoDocumentoAverbacao" />
      <xs:element minOccurs="0" name="TipoEmbarque" nillable="true" type="xs:string" />
      <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoOperacao" nillable="true" type="q129:TipoOperacao" />
      <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoPagamento" type="q130:TipoPagamento" />
      <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoPedido" nillable="true" type="q131:TipoPedido" />
      <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoProbe" nillable="true" type="q132:TipoProbe" />
      <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoPropostaFeeder" nillable="true" type="q133:TipoPropostaFeeder" />
      <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoRateioProdutos" type="q134:TipoRateioProdutos" />
      <xs:element minOccurs="0" name="TipoSeguro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoServico" nillable="true" type="xs:string" />
      <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoServicoCarga" nillable="true" type="q135:TipoServicoCarga" />
      <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoTomador" type="q136:TipoTomador" />
      <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Tomador" nillable="true" type="q137:Pessoa" />
      <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Transbordo" nillable="true" type="q138:ArrayOfTransbordo" />
      <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="TransportadoraEmitente" nillable="true" type="q139:Empresa" />
      <xs:element minOccurs="0" name="UsarOutroEnderecoDestino" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsarOutroEnderecoOrigem" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsuarioCriacaoRemessa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UtilizarTipoTomadorInformado" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValidarNumeroContainer" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValorCusteioSVM" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCustoFrete" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDescarga" type="xs:decimal" />
      <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" minOccurs="0" name="ValorFrete" nillable="true" type="q140:FreteValor" />
      <xs:element minOccurs="0" name="ValorFreteCalculado" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValorFreteCobradoCliente" type="xs:decimal" />
      <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" minOccurs="0" name="ValorFreteFilialEmissora" nillable="true" type="q141:FreteValor" />
      <xs:element minOccurs="0" name="ValorFreteInformativo" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPedagio" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTaxaDocumento" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTaxaFeeder" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalPaletes" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalPedido" type="xs:decimal" />
      <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculo" nillable="true" type="q142:Veiculo" />
      <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="VeiculoDaNota" nillable="true" type="q143:Veiculo" />
      <xs:element minOccurs="0" name="Vendedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViaTransporte" nillable="true" type="tns:ViaTransporte" />
      <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Viagem" nillable="true" type="q144:Viagem" />
      <xs:element minOccurs="0" name="ViagemJaFoiFinalizada" type="xs:boolean" />
      <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="ViagemLongoCurso" nillable="true" type="q145:Viagem" />
      <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="ZonaTransporte" nillable="true" type="q146:TipoDetalhe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargaIntegracao" nillable="true" type="tns:CargaIntegracao" />
  <xs:complexType name="DadosTransporteMaritimo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoContratoFOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIdentificacaoCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoNCM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPortoCarregamentoTransbordo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPortoDestinoTransbordo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoRota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoViagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataBooking" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataDepositoContainer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataETADestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataETADestinoFinal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataETASegundaOrigem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataETASegundoDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataETATransbordo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataETSTransbordo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataRetiradaContainerDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoIdentificacaoCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoPortoCarregamentoTransbordo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoPortoDestinoTransbordo" nillable="true" type="xs:string" />
      <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="FretePrepaid" type="q147:FretePrepaid" />
      <xs:element minOccurs="0" name="Halal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Incoterm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensagemTransbordo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetragemCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeNavioTransbordo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroBL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroViagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroViagemTransbordo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundaDataDeadLineCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundaDataDeadLineDraf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoEnvio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transbordo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosTransporteMaritimo" nillable="true" type="tns:DadosTransporteMaritimo" />
  <xs:complexType name="Despachante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Despachante" nillable="true" type="tns:Despachante" />
  <xs:complexType name="Especie">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Especie" nillable="true" type="tns:Especie" />
  <xs:complexType name="InLand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InLand" nillable="true" type="tns:InLand" />
  <xs:complexType name="NavioViagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataDeadLCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataDeadLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NavioViagem" nillable="true" type="tns:NavioViagem" />
  <xs:complexType name="PortoViagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiglaPais" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortoViagem" nillable="true" type="tns:PortoViagem" />
  <xs:complexType name="ViaTransporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViaTransporte" nillable="true" type="tns:ViaTransporte" />
  <xs:complexType name="CargaAtualizacaoRolagem">
    <xs:sequence>
      <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Container" nillable="true" type="q148:Container" />
      <xs:element minOccurs="0" name="Lacre1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lacre2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lacre3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="PortoDestino" nillable="true" type="q149:Porto" />
      <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="PortoOrigem" nillable="true" type="q150:Porto" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
      <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TerminalPortoDestino" nillable="true" type="q151:TerminalPorto" />
      <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TerminalPortoOrigem" nillable="true" type="q152:TerminalPorto" />
      <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Transbordo" nillable="true" type="q153:ArrayOfTransbordo" />
      <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Viagem" nillable="true" type="q154:Viagem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargaAtualizacaoRolagem" nillable="true" type="tns:CargaAtualizacaoRolagem" />
  <xs:complexType name="ArrayOfCargaIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CargaIntegracao" nillable="true" type="tns:CargaIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCargaIntegracao" nillable="true" type="tns:ArrayOfCargaIntegracao" />
  <xs:complexType name="ArrayOfCargaAgrupadaAguardandoIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CargaAgrupadaAguardandoIntegracao" nillable="true" type="tns:CargaAgrupadaAguardandoIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCargaAgrupadaAguardandoIntegracao" nillable="true" type="tns:ArrayOfCargaAgrupadaAguardandoIntegracao" />
  <xs:complexType name="CargaAgrupadaAguardandoIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="CargasFilhas" nillable="true" type="tns:ArrayOfCargaFilhaAguardandoIntegracao" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargaAgrupadaAguardandoIntegracao" nillable="true" type="tns:CargaAgrupadaAguardandoIntegracao" />
  <xs:complexType name="ArrayOfCargaFilhaAguardandoIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CargaFilhaAguardandoIntegracao" nillable="true" type="tns:CargaFilhaAguardandoIntegracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCargaFilhaAguardandoIntegracao" nillable="true" type="tns:ArrayOfCargaFilhaAguardandoIntegracao" />
  <xs:complexType name="CargaFilhaAguardandoIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargaFilhaAguardandoIntegracao" nillable="true" type="tns:CargaFilhaAguardandoIntegracao" />
  <xs:complexType name="ArrayOfCargaSituacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CargaSituacao" nillable="true" type="tns:CargaSituacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCargaSituacao" nillable="true" type="tns:ArrayOfCargaSituacao" />
  <xs:complexType name="CargaSituacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
      <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoCarga" type="q155:SituacaoCarga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargaSituacao" nillable="true" type="tns:CargaSituacao" />
  <xs:complexType name="CargaCancelamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataCancelamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivoCancelamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivoRejeicaoCancelamento" nillable="true" type="xs:string" />
      <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoCancelamento" type="q156:RetornoSolicitacaoCancelamento" />
      <xs:element minOccurs="0" name="UsuarioERP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioMultisoftware" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargaCancelamento" nillable="true" type="tns:CargaCancelamento" />
  <xs:complexType name="CodigosIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracaoFilial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedidoEmbarcador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CodigosIntegracao" nillable="true" type="tns:CodigosIntegracao" />
</xs:schema>