Servicos/Service References/ServicoSGT.Carga/Cargas8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Enumerador" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd34" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Usuarios" />
  <xs:complexType name="ArrayOfModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeloVeicular" nillable="true" type="tns:ModeloVeicular" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeloVeicular" nillable="true" type="tns:ArrayOfModeloVeicular" />
  <xs:complexType name="ModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="CodigoAgrupamentoCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoInterno" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DivisaoCapacidade" nillable="true" type="tns:ArrayOfDivisaoCapacidadeModeloVeicular" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeExtraExcedenteTolerado" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoModeloVeicular" type="q1:TipoModeloVeicularCarga" />
      <xs:element minOccurs="0" name="ToleranciaExtra" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloVeicular" nillable="true" type="tns:ModeloVeicular" />
  <xs:complexType name="ArrayOfDivisaoCapacidadeModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DivisaoCapacidadeModeloVeicular" nillable="true" type="tns:DivisaoCapacidadeModeloVeicular" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDivisaoCapacidadeModeloVeicular" nillable="true" type="tns:ArrayOfDivisaoCapacidadeModeloVeicular" />
  <xs:complexType name="DivisaoCapacidadeModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Coluna" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Piso" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadeDeMedida" nillable="true" type="tns:UnidadeDeMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivisaoCapacidadeModeloVeicular" nillable="true" type="tns:DivisaoCapacidadeModeloVeicular" />
  <xs:complexType name="UnidadeDeMedida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="UnidadeMedida" type="q2:UnidadeMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadeDeMedida" nillable="true" type="tns:UnidadeDeMedida" />
  <xs:complexType name="ArrayOfTipoOperacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoOperacao" nillable="true" type="tns:TipoOperacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoOperacao" nillable="true" type="tns:ArrayOfTipoOperacao" />
  <xs:complexType name="TipoOperacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="BloquearEmissaoDeEntidadeSemCadastro" type="xs:boolean" />
      <xs:element minOccurs="0" name="BloquearEmissaoDosDestinatario" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CNPJsDaOperacao" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CNPJsDestinatariosNaoAutorizados" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="ModalPropostaMultimodal" type="q5:ModalPropostaMultimodal" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoCobrancaMultimodal" type="q6:TipoCobrancaMultimodal" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoPropostaMultimodal" type="q7:TipoPropostaMultimodal" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoServicoMultimodal" type="q8:TipoServicoMultimodal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoOperacao" nillable="true" type="tns:TipoOperacao" />
  <xs:complexType name="ArrayOfEDINotfis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EDINotfis" nillable="true" type="tns:EDINotfis" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEDINotfis" nillable="true" type="tns:ArrayOfEDINotfis" />
  <xs:complexType name="EDINotfis">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataCriacaoEDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EDINotfis" nillable="true" type="tns:EDINotfis" />
  <xs:complexType name="AgrupamentoCarga">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProtocoloCargaAgrupadora" type="xs:int" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProtocoloCargasAgrupadas" nillable="true" type="q9:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgrupamentoCarga" nillable="true" type="tns:AgrupamentoCarga" />
  <xs:complexType name="ArrayOfMotorista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Motorista" nillable="true" type="tns:Motorista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMotorista" nillable="true" type="tns:ArrayOfMotorista" />
  <xs:complexType name="Motorista">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ativo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoriaCNH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="DadosBancarios" nillable="true" type="q10:DadosBancarios" />
      <xs:element minOccurs="0" name="DataAdmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataDemissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissaoRG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataHabilitacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSuspensaoFim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSuspensaoInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataValidadeGR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataVencimentoHabilitacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Endereco" nillable="true" type="q11:Endereco" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Escolaridade" nillable="true" type="q12:Escolaridade" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="EstadoCivil" nillable="true" type="q13:EstadoCivil" />
      <xs:element minOccurs="0" name="EstadoRG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaContatos" nillable="true" type="tns:ArrayOfMotoristaContato" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="ListaDadosBancarios" nillable="true" type="q14:ArrayOfDadosBancarios" />
      <xs:element minOccurs="0" name="MotivoBloqueio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCartao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroHabilitacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPISPASEP" nillable="true" type="xs:string" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Enumerador" minOccurs="0" name="OrgaoEmissorRG" nillable="true" type="q15:OrgaoEmissorRG" />
      <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoColaborador" nillable="true" type="q16:SituacaoColaborador" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Transportador" nillable="true" type="q17:Empresa" />
      <xs:element minOccurs="0" name="UtilizaMultiMobile" nillable="true" type="xs:boolean" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoMotorista" type="q18:TipoMotorista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Motorista" nillable="true" type="tns:Motorista" />
  <xs:complexType name="ArrayOfMotoristaContato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MotoristaContato" nillable="true" type="tns:MotoristaContato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMotoristaContato" nillable="true" type="tns:ArrayOfMotoristaContato" />
  <xs:complexType name="MotoristaContato">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoParentesco" type="q19:TipoParentesco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MotoristaContato" nillable="true" type="tns:MotoristaContato" />
  <xs:complexType name="CentroCusto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CentroCusto" nillable="true" type="tns:CentroCusto" />
  <xs:complexType name="Container">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIntegracao" type="xs:int" />
      <xs:element minOccurs="0" name="DencidadeProduto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InativarCadastro" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lacre1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lacre2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lacre3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PesoLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tara" type="xs:int" />
      <xs:element minOccurs="0" name="TipoContainer" nillable="true" type="tns:TipoContainer" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoPropriedade" type="q20:TipoPropriedadeContainer" />
      <xs:element minOccurs="0" name="Volume" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Container" nillable="true" type="tns:Container" />
  <xs:complexType name="TipoContainer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FFE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InativarCadastro" type="xs:boolean" />
      <xs:element minOccurs="0" name="MetrosCubicos" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoMaximo" type="xs:decimal" />
      <xs:element minOccurs="0" name="TEU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tara" type="xs:decimal" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoContainer" nillable="true" type="tns:TipoContainer" />
  <xs:complexType name="Porto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AtivarDespachanteComoConsignatario" type="xs:boolean" />
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIATA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoMercante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiasAntesDoPodParaEnvioDaDocumentacao" nillable="true" type="xs:int" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Empresa" nillable="true" type="q21:Empresa" />
      <xs:element minOccurs="0" name="InativarCadastro" type="xs:boolean" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Localidade" nillable="true" type="q22:Endereco" />
      <xs:element minOccurs="0" name="QuantidadeHorasFaturamentoAutomatico" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Porto" nillable="true" type="tns:Porto" />
  <xs:complexType name="ArrayOfCargaPedidoProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CargaPedidoProduto" nillable="true" type="tns:CargaPedidoProduto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCargaPedidoProduto" nillable="true" type="tns:ArrayOfCargaPedidoProduto" />
  <xs:complexType name="CargaPedidoProduto">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumeroLotePedidoProdutoLote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PesoTotalEmbalagem" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="Produto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadePlanejada" type="xs:decimal" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorUnitario" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargaPedidoProduto" nillable="true" type="tns:CargaPedidoProduto" />
  <xs:complexType name="PropostaComercial">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropostaComercial" nillable="true" type="tns:PropostaComercial" />
  <xs:complexType name="TerminalPorto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoMercante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoObservacaoContribuinte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTerminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InativarCadastro" type="xs:boolean" />
      <xs:element minOccurs="0" name="Porto" nillable="true" type="tns:Porto" />
      <xs:element minOccurs="0" name="QuantidadeDiasEnvioDocumentacao" type="xs:int" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Terminal" nillable="true" type="q23:Pessoa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminalPorto" nillable="true" type="tns:TerminalPorto" />
  <xs:complexType name="TipoCargaEmbarcador">
    <xs:sequence>
      <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CNPJsDoTipoCargaNoEmbarcador" nillable="true" type="q24:ArrayOfstring" />
      <xs:element minOccurs="0" name="ClasseONU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPSNONU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoONU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SequenciaONU" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoCargaEmbarcador" nillable="true" type="tns:TipoCargaEmbarcador" />
  <xs:complexType name="ArrayOfTransbordo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transbordo" nillable="true" type="tns:Transbordo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransbordo" nillable="true" type="tns:ArrayOfTransbordo" />
  <xs:complexType name="Transbordo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" type="xs:int" />
      <xs:element minOccurs="0" name="Navio" nillable="true" type="tns:Navio" />
      <xs:element minOccurs="0" name="Porto" nillable="true" type="tns:Porto" />
      <xs:element minOccurs="0" name="Sequencia" type="xs:int" />
      <xs:element minOccurs="0" name="Terminal" nillable="true" type="tns:TerminalPorto" />
      <xs:element minOccurs="0" name="Viagem" nillable="true" type="tns:Viagem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transbordo" nillable="true" type="tns:Transbordo" />
  <xs:complexType name="Navio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEmbarcacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIMO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIRIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InativarCadastro" type="xs:boolean" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoEmbarcacao" type="q25:TipoEmbarcacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Navio" nillable="true" type="tns:Navio" />
  <xs:complexType name="Viagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIntegracao" type="xs:int" />
      <xs:element minOccurs="0" name="DataDeadLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoChegadaNavio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoSaidaNavio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Direcao" type="q26:DirecaoViagemMultimodal" />
      <xs:element minOccurs="0" name="ETAConfirmado" type="xs:boolean" />
      <xs:element minOccurs="0" name="ETSConfirmado" type="xs:boolean" />
      <xs:element minOccurs="0" name="InativarCadastro" type="xs:boolean" />
      <xs:element minOccurs="0" name="Navio" nillable="true" type="tns:Navio" />
      <xs:element minOccurs="0" name="NumeroViagem" type="xs:int" />
      <xs:element minOccurs="0" name="PortoAtracacao" nillable="true" type="tns:Porto" />
      <xs:element minOccurs="0" name="Schedules" nillable="true" type="tns:ArrayOfSchedule" />
      <xs:element minOccurs="0" name="TerminalAtracacao" nillable="true" type="tns:TerminalPorto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Viagem" nillable="true" type="tns:Viagem" />
  <xs:complexType name="ArrayOfSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Schedule" nillable="true" type="tns:Schedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchedule" nillable="true" type="tns:ArrayOfSchedule" />
  <xs:complexType name="Schedule">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="DataDeadLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoChegadaNavio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoSaidaNavio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ETAConfirmado" type="xs:boolean" />
      <xs:element minOccurs="0" name="ETSConfirmado" type="xs:boolean" />
      <xs:element minOccurs="0" name="InativarCadastro" type="xs:boolean" />
      <xs:element minOccurs="0" name="PortoAtracacao" nillable="true" type="tns:Porto" />
      <xs:element minOccurs="0" name="TerminalAtracacao" nillable="true" type="tns:TerminalPorto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Schedule" nillable="true" type="tns:Schedule" />
  <xs:complexType name="ArrayOfAnexo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Anexo" nillable="true" type="tns:Anexo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnexo" nillable="true" type="tns:ArrayOfAnexo" />
  <xs:complexType name="Anexo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arquivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extensao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Anexo" nillable="true" type="tns:Anexo" />
  <xs:complexType name="Carregamento">
    <xs:sequence>
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="BlocosPedidosCarregamento" nillable="true" type="q27:ArrayOfBlocosPedidosCarregamento" />
      <xs:element minOccurs="0" name="CodigoIntegracaoFilial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracaoTipoCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracaoTipoOperacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoModeloVeicular" nillable="true" type="xs:string" />
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" minOccurs="0" name="Filial" nillable="true" type="q28:Filial" />
      <xs:element minOccurs="0" name="Motorista" nillable="true" type="tns:Motorista" />
      <xs:element minOccurs="0" name="NumeroCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloCarregamento" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocoloIntegracaoCarga" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocoloPreCarga" nillable="true" type="xs:string" />
      <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProtocolosPedidos" nillable="true" type="q29:ArrayOfint" />
      <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Reboque1" nillable="true" type="q30:Veiculo" />
      <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="TransportadoraEmitente" nillable="true" type="q31:Empresa" />
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculo" nillable="true" type="q32:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carregamento" nillable="true" type="tns:Carregamento" />
  <xs:complexType name="ArrayOfContainer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Container" nillable="true" type="tns:Container" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContainer" nillable="true" type="tns:ArrayOfContainer" />
  <xs:complexType name="ArrayOfTipoCargaEmbarcador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoCargaEmbarcador" nillable="true" type="tns:TipoCargaEmbarcador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoCargaEmbarcador" nillable="true" type="tns:ArrayOfTipoCargaEmbarcador" />
  <xs:complexType name="Averbacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJResponsavel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJSeguradora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeSeguradora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroApolice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroAverbacao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Averbacao" nillable="true" type="tns:Averbacao" />
  <xs:complexType name="ArrayOfBlocoCarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlocoCarregamento" nillable="true" type="tns:BlocoCarregamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlocoCarregamento" nillable="true" type="tns:ArrayOfBlocoCarregamento" />
  <xs:complexType name="BlocoCarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlocoCarregamento" nillable="true" type="tns:BlocoCarregamento" />
  <xs:complexType name="TipoDetalhe">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoDetalhe" nillable="true" type="tns:TipoDetalhe" />
  <xs:complexType name="ArrayOfDistribuicao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Distribuicao" nillable="true" type="tns:Distribuicao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistribuicao" nillable="true" type="tns:ArrayOfDistribuicao" />
  <xs:complexType name="Distribuicao">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoOperacao" nillable="true" type="tns:TipoOperacao" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="TransportadorDistribuidor" nillable="true" type="q33:Empresa" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculo" nillable="true" type="q34:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Distribuicao" nillable="true" type="tns:Distribuicao" />
  <xs:complexType name="Doca">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Doca" nillable="true" type="tns:Doca" />
  <xs:complexType name="EmpresaResponsavel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpresaResponsavel" nillable="true" type="tns:EmpresaResponsavel" />
  <xs:complexType name="FaixaTemperatura">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaixaTemperatura" nillable="true" type="tns:FaixaTemperatura" />
  <xs:complexType name="FreteNegociado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aprovadores" nillable="true" type="tns:ArrayOfFreteNegociadoAprovador" />
      <xs:element minOccurs="0" name="CPFOperador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeOperador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FreteNegociado" nillable="true" type="tns:FreteNegociado" />
  <xs:complexType name="ArrayOfFreteNegociadoAprovador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FreteNegociadoAprovador" nillable="true" type="tns:FreteNegociadoAprovador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFreteNegociadoAprovador" nillable="true" type="tns:ArrayOfFreteNegociadoAprovador" />
  <xs:complexType name="FreteNegociadoAprovador">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FreteNegociadoAprovador" nillable="true" type="tns:FreteNegociadoAprovador" />
  <xs:complexType name="Funcionario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Usuarios" minOccurs="0" name="PerfilAcesso" nillable="true" type="q35:PerfilAcesso" />
      <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
      <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoComercial" type="q36:TipoComercial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Funcionario" nillable="true" type="tns:Funcionario" />
  <xs:complexType name="TipoCarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoCarregamento" nillable="true" type="tns:TipoCarregamento" />
  <xs:complexType name="ArrayOfCarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Carregamento" nillable="true" type="tns:Carregamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarregamento" nillable="true" type="tns:ArrayOfCarregamento" />
  <xs:complexType name="CarregamentoPreCarga">
    <xs:sequence>
      <xs:element minOccurs="0" name="Motoristas" nillable="true" type="tns:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="NumeroPreCarga" nillable="true" type="xs:string" />
      <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Transportador" nillable="true" type="q37:Empresa" />
      <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculo" nillable="true" type="q38:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarregamentoPreCarga" nillable="true" type="tns:CarregamentoPreCarga" />
</xs:schema>