Servicos/Service References/ServicoSGT.Carga/Cargas2312.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Usuarios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Usuarios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PerfilAcesso">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HorarioFinalAcesso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HorarioInicioAcesso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element minOccurs="0" name="Situacao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerfilAcesso" nillable="true" type="tns:PerfilAcesso" />
</xs:schema>