Servicos/Service References/ServicoSGT.Carga/Cargas2310.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Documentos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Documentos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:complexType name="Protocolos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Protocolo" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Protocolos" nillable="true" type="tns:Protocolos" />
  <xs:complexType name="ArrayOfDocumentacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documentacao" nillable="true" type="tns:Documentacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentacao" nillable="true" type="tns:ArrayOfDocumentacao" />
  <xs:complexType name="Documentacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPFOperadorCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CargaIMO" type="xs:boolean" />
      <xs:element minOccurs="0" name="DataGeracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailOperadorCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailOperadorTrakingDocumentacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeOperadorCarga" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="PortoDestino" nillable="true" type="q1:Porto" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="PortoOrigem" nillable="true" type="q2:Porto" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:long" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoTrackingDocumentacao" type="q3:SituacaoTrackingDocumentacao" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoIMO" type="q4:TipoIMO" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoTrackingDocumentacao" type="q5:TipoTrackingDocumentacao" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Viagem" nillable="true" type="q6:Viagem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Documentacao" nillable="true" type="tns:Documentacao" />
  <xs:complexType name="ArrayOfProtocolos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Protocolos" nillable="true" type="tns:Protocolos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProtocolos" nillable="true" type="tns:ArrayOfProtocolos" />
</xs:schema>