Servicos/Service References/ServicoSGT.Carga/Cargas233.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.GestaoPatio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.GestaoPatio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAtualizacaoStatusEtapa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AtualizacaoStatusEtapa" nillable="true" type="tns:AtualizacaoStatusEtapa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAtualizacaoStatusEtapa" nillable="true" type="tns:ArrayOfAtualizacaoStatusEtapa" />
  <xs:complexType name="AtualizacaoStatusEtapa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AtualizacaoStatusEtapa" nillable="true" type="tns:AtualizacaoStatusEtapa" />
</xs:schema>