Servicos/Service References/ServicoSGT.Carga/Cargas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Produtos" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd24" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga.MontagemCarga" />
  <xs:complexType name="ArrayOfProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produto" nillable="true" type="tns:Produto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduto" nillable="true" type="tns:ArrayOfProduto" />
  <xs:complexType name="Produto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altura" type="xs:decimal" />
      <xs:element minOccurs="0" name="AlturaCM" type="xs:decimal" />
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="CSTICMS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Camada" type="xs:decimal" />
      <xs:element minOccurs="0" name="Canal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanalDistribuicao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClasseLogistica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoDocumentacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoGrupoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoNCM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoNFCI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoOrganizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigocEAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comprimento" type="xs:decimal" />
      <xs:element minOccurs="0" name="ComprimentoCM" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Produtos" minOccurs="0" name="Conversao" nillable="true" type="q1:ArrayOfConversao" />
      <xs:element minOccurs="0" name="DescricaoGrupoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoProduto" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Produtos" minOccurs="0" name="EnderecoProduto" nillable="true" type="q2:EnderecoProduto" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" minOccurs="0" name="Filiais" nillable="true" type="q3:ArrayOfFiliais" />
      <xs:element minOccurs="0" name="FinalidadeProduto" nillable="true" type="tns:FinalidadeProduto" />
      <xs:element minOccurs="0" name="IdDemanda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imuno" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InativarCadastro" type="xs:boolean" />
      <xs:element minOccurs="0" name="Largura" type="xs:decimal" />
      <xs:element minOccurs="0" name="LarguraCM" type="xs:decimal" />
      <xs:element minOccurs="0" name="Lastro" type="xs:decimal" />
      <xs:element minOccurs="0" name="LinhaSeparacao" nillable="true" type="tns:LinhaSeparacao" />
      <xs:element minOccurs="0" name="MarcaProduto" nillable="true" type="tns:MarcaProduto" />
      <xs:element minOccurs="0" name="MetroCubito" type="xs:decimal" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoCarga" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" minOccurs="0" name="Organizacao" nillable="true" type="q4:ArrayOfOrganizacao" />
      <xs:element minOccurs="0" name="OrigemMercadoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PalletFechado" type="xs:boolean" />
      <xs:element minOccurs="0" name="PesoLiquidoUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoTotalEmbalagem" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProdutoDivisoesCapacidade" nillable="true" type="tns:ArrayOfProdutoDivisaoCapacidade" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" minOccurs="0" name="ProdutoLotes" nillable="true" type="q5:ArrayOfLote" />
      <xs:element minOccurs="0" name="QtdPalet" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadeCaixa" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeCaixaPorPallet" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeCaixasVazias" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeCaixasVaziasPlanejadas" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeEmbalagem" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadePallet" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadePlanejada" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadePorCaixa" type="xs:int" />
      <xs:element minOccurs="0" name="Setor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SetorLogistica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiglaModalidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiglaUnidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemperaturaTransporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoEmbalagem" nillable="true" type="tns:TipoEmbalagem" />
      <xs:element minOccurs="0" name="UnidadeMedida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadeMedidaPeso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorDesconto" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorUnitario" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produto" nillable="true" type="tns:Produto" />
  <xs:complexType name="FinalidadeProduto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" minOccurs="0" name="PlanoContaCredito" nillable="true" type="q6:PlanoDeConta" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" minOccurs="0" name="PlanoContaDebito" nillable="true" type="q7:PlanoDeConta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinalidadeProduto" nillable="true" type="tns:FinalidadeProduto" />
  <xs:complexType name="LinhaSeparacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" minOccurs="0" name="Filial" nillable="true" type="q8:Filial" />
      <xs:element minOccurs="0" name="NivelPrioridade" type="xs:int" />
      <xs:element minOccurs="0" name="Roteiriza" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinhaSeparacao" nillable="true" type="tns:LinhaSeparacao" />
  <xs:complexType name="MarcaProduto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarcaProduto" nillable="true" type="tns:MarcaProduto" />
  <xs:complexType name="ArrayOfProdutoDivisaoCapacidade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdutoDivisaoCapacidade" nillable="true" type="tns:ProdutoDivisaoCapacidade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdutoDivisaoCapacidade" nillable="true" type="tns:ArrayOfProdutoDivisaoCapacidade" />
  <xs:complexType name="ProdutoDivisaoCapacidade">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="Coluna" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Piso" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadePlanejada" type="xs:decimal" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="UnidadeDeMedida" nillable="true" type="q9:UnidadeDeMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoDivisaoCapacidade" nillable="true" type="tns:ProdutoDivisaoCapacidade" />
  <xs:complexType name="TipoEmbalagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoEmbalagem" nillable="true" type="tns:TipoEmbalagem" />
  <xs:complexType name="ArrayOfBlocosPedidosCarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlocosPedidosCarregamento" nillable="true" type="tns:BlocosPedidosCarregamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlocosPedidosCarregamento" nillable="true" type="tns:ArrayOfBlocosPedidosCarregamento" />
  <xs:complexType name="BlocosPedidosCarregamento">
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga.MontagemCarga" minOccurs="0" name="BlocosCarregamento" nillable="true" type="q10:ArrayOfBlocoCarregamento" />
      <xs:element minOccurs="0" name="ProtocoloPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlocosPedidosCarregamento" nillable="true" type="tns:BlocosPedidosCarregamento" />
  <xs:complexType name="CanalEntrega">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" minOccurs="0" name="Filial" nillable="true" type="q11:Filial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CanalEntrega" nillable="true" type="tns:CanalEntrega" />
  <xs:complexType name="CanalVenda">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" minOccurs="0" name="Filial" nillable="true" type="q12:Filial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CanalVenda" nillable="true" type="tns:CanalVenda" />
  <xs:complexType name="Deposito">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Deposito" nillable="true" type="tns:Deposito" />
  <xs:complexType name="ArrayOfRateioFreteProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RateioFreteProduto" nillable="true" type="tns:RateioFreteProduto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRateioFreteProduto" nillable="true" type="tns:ArrayOfRateioFreteProduto" />
  <xs:complexType name="RateioFreteProduto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveNFe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaRateioComponentes" nillable="true" type="tns:ArrayOfRateioFreteProdutoComponentes" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroOcorrencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorRateado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorRateadoFreteLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorRateadoICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorRateadoValePedagio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RateioFreteProduto" nillable="true" type="tns:RateioFreteProduto" />
  <xs:complexType name="ArrayOfRateioFreteProdutoComponentes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RateioFreteProdutoComponentes" nillable="true" type="tns:RateioFreteProdutoComponentes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRateioFreteProdutoComponentes" nillable="true" type="tns:ArrayOfRateioFreteProdutoComponentes" />
  <xs:complexType name="RateioFreteProdutoComponentes">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracaoComponente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoComponente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorRateadoComponete" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RateioFreteProdutoComponentes" nillable="true" type="tns:RateioFreteProdutoComponentes" />
</xs:schema>