Servicos/Service References/ServicoSGT.Carga/Cargas3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd23" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carregamento.EncaixeRetira" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd25" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Rest" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd29" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CargaCancelamento" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd35" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga.Agrupamento" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd36" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.GestaoPatio" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd37" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Documentos" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:element name="AlterarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" minOccurs="0" name="alteracaoPedido" nillable="true" type="q1:AlteracaoPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AlterarPedidoResult" nillable="true" type="q2:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarModeloVeicularCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="modeloVeicular" nillable="true" type="q3:ModeloVeicular" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q4:Protocolos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarModeloVeicularCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AtualizarModeloVeicularCargaResult" nillable="true" type="q5:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarReciboValePedagio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarReciboValePedagioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarReciboValePedagioResult" nillable="true" type="q6:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarListaReciboValePedagio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarListaReciboValePedagioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarListaReciboValePedagioResult" nillable="true" type="q7:RetornoOfArrayOfstringuHEDJ7Dj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDocumentoCIOT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDocumentoCIOTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarDocumentoCIOTResult" nillable="true" type="q8:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAlteracoesPedidosFinalizadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAlteracoesPedidosFinalizadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConsultarAlteracoesPedidosFinalizadasResult" nillable="true" type="q9:RetornoOfPaginacaoOfRetornoAlteracaoPedidoR2jBdO9H51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasComCanhotosDigitalizados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasComCanhotosDigitalizadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCargasComCanhotosDigitalizadosResult" nillable="true" type="q10:RetornoOfPaginacaoOfint51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriarFaixaTemperatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIntegracao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="faixaInicial" type="xs:decimal" />
        <xs:element minOccurs="0" name="faixaFinal" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriarFaixaTemperaturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="CriarFaixaTemperaturaResult" nillable="true" type="q11:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFaixaTemperatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIntegracao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="faixaInicial" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="faixaFinal" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFaixaTemperaturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AtualizarFaixaTemperaturaResult" nillable="true" type="q12:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEDINotfisCargas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataHoraInicio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEDINotfisCargasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarEDINotfisCargasResult" nillable="true" type="q13:RetornoOfArrayOfEDINotfisYCIsJlsP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAgrupamentoCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAgrupamentoCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarAgrupamentoCargaResult" nillable="true" type="q14:RetornoOfAgrupamentoCargaYCIsJlsP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarConsultaAlteracoesPedidosFinalizadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="protocolosIntegracaoPedido" nillable="true" type="q15:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarConsultaAlteracoesPedidosFinalizadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarConsultaAlteracoesPedidosFinalizadasResult" nillable="true" type="q16:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargaPedidoDestinado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargaPedidoDestinadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCargaPedidoDestinadoResult" nillable="true" type="q17:RetornoOfArrayOfCargaVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDetalhesValePedagio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDetalhesValePedagioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarDetalhesValePedagioResult" nillable="true" type="q18:RetornoOfPaginacaoOfValePedagioVQbIXuKl51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCargaPedidoDestinado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCargaPedidoDestinadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoCargaPedidoDestinadoResult" nillable="true" type="q19:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisponibilizarCargaPedidosDestinadoParaSeparacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="pedidos" nillable="true" type="q20:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisponibilizarCargaPedidosDestinadoParaSeparacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="DisponibilizarCargaPedidosDestinadoParaSeparacaoResult" nillable="true" type="q21:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargaPorTransportador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargaPorTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCargaPorTransportadorResult" nillable="true" type="q22:RetornoOfCargaVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="produto" nillable="true" type="q23:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SalvarProdutoResult" nillable="true" type="q24:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarViagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chaveCTe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataInicioViagem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nomeEmpurrador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarViagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="IniciarViagemResult" nillable="true" type="q25:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarViagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chaveCTe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataFinalViagem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarViagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="FinalizarViagemResult" nillable="true" type="q26:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarPrevisaoEntrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chaveCTe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataPrevisaoEntrega" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarPrevisaoEntregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AtualizarPrevisaoEntregaResult" nillable="true" type="q27:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarEncaixeRetira">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carregamento.EncaixeRetira" minOccurs="0" name="carregamentoIntegracao" nillable="true" type="q28:Carregamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarEncaixeRetiraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="GerarEncaixeRetiraResult" nillable="true" type="q29:RetornoOfArrayOfProtocolosVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarPLPeObejtoPostalCorreios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="postagensCorreios" nillable="true" type="q30:ArrayOfPostagemCorreios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarPLPeObejtoPostalCorreiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AtualizarPLPeObejtoPostalCorreiosResult" nillable="true" type="q31:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebimentoBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="booking" nillable="true" type="q32:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebimentoBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="RecebimentoBookingResult" nillable="true" type="q33:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarPreCalculoCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="cargaIntegracaoPreCalculo" nillable="true" type="q34:CargaPreCalculoFrete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarPreCalculoCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SolicitarPreCalculoCargaResult" nillable="true" type="q35:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarRotaCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="rotaFrete" nillable="true" type="q36:CargaRotaFrete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarRotaCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="InformarRotaCargaResult" nillable="true" type="q37:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarValePedagioCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="integracaoValePedagio" nillable="true" type="q38:ValePedagio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarValePedagioCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="IntegrarValePedagioCargaResult" nillable="true" type="q39:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarDadosTransporteCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="dadosTransporte" nillable="true" type="q40:DadosTransporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarDadosTransporteCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="InformarDadosTransporteCargaResult" nillable="true" type="q41:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarEmbarqueContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="embarqueContainer" nillable="true" type="q42:EmbarqueContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarEmbarqueContainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="InformarEmbarqueContainerResult" nillable="true" type="q43:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarCarregamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="carregamento" nillable="true" type="q44:Carregamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarCarregamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="GerarCarregamentoResult" nillable="true" type="q45:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjustarDatasPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="ajusteDatasPedido" nillable="true" type="q46:AjusteDatasPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjustarDatasPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AjustarDatasPedidoResult" nillable="true" type="q47:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallbackIntegracaoBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="retornoBooking" nillable="true" type="q48:RetornoBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallbackIntegracaoBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="CallbackIntegracaoBookingResult" nillable="true" type="q49:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarDocumentoTransporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Rest" minOccurs="0" name="documentoTransporte" nillable="true" type="q50:DocumentoTransporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarDocumentoTransporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SalvarDocumentoTransporteResult" nillable="true" type="q51:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarCargaCompleta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="cargaIntegracaoCompleta" nillable="true" type="q52:CargaIntegracaoCompleta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarCargaCompletaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AdicionarCargaCompletaResult" nillable="true" type="q53:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCancelamentoCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CargaCancelamento" minOccurs="0" name="envioCancelamentoCarga" nillable="true" type="q54:EnvioCancelamentoCarga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCancelamentoCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarCancelamentoCargaResult" nillable="true" type="q55:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCargaDocumentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="cargaDocumentos" nillable="true" type="q56:CargaDocumentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCargaDocumentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarCargaDocumentosResult" nillable="true" type="q57:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarFrete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q58:Protocolos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarFreteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarFreteResult" nillable="true" type="q59:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarModelosVeicularesPendentesIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quantidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarModelosVeicularesPendentesIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarModelosVeicularesPendentesIntegracaoResult" nillable="true" type="q60:RetornoOfPaginacaoOfModeloVeicularYCIsJlsP51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoModeloVeicular">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="protocolos" nillable="true" type="q61:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoModeloVeicularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoModeloVeicularResult" nillable="true" type="q62:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterCargasAguardandoEnvioDocumentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterCargasAguardandoEnvioDocumentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ObterCargasAguardandoEnvioDocumentosResult" nillable="true" type="q63:RetornoOfPaginacaoOfintTDkdmL1E" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarRecebimentoCargaAguardandoEnvioDocumentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="protocolos" nillable="true" type="q64:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarRecebimentoCargaAguardandoEnvioDocumentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarRecebimentoCargaAguardandoEnvioDocumentosResult" nillable="true" type="q65:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarPreDocumentosPorCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarPreDocumentosPorCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="RetornarPreDocumentosPorCargaResult" nillable="true" type="q66:RetornoOfArrayOfPreDocumentoVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCargaPorNumeroCarregamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pedidoNumeroCarregamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCargaPorNumeroCarregamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConsultarCargaPorNumeroCarregamentoResult" nillable="true" type="q67:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarEmissaoDocumentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarEmissaoDocumentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SolicitarEmissaoDocumentosResult" nillable="true" type="q68:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarSeparacaoMercadoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
        <xs:element minOccurs="0" name="percentualSeparacao" type="xs:int" />
        <xs:element minOccurs="0" name="separacaoMercadoriaConfirmada" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarSeparacaoMercadoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="InformarSeparacaoMercadoriaResult" nillable="true" type="q69:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarNavioViagemDirecao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="viagem" nillable="true" type="q70:Viagem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarNavioViagemDirecaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SalvarNavioViagemDirecaoResult" nillable="true" type="q71:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarQuantidadeContainerBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="novaQuantidade" type="xs:int" />
        <xs:element minOccurs="0" name="numeroBooking" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarQuantidadeContainerBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AlterarQuantidadeContainerBookingResult" nillable="true" type="q72:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasPorTransportador">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasPorTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCargasPorTransportadorResult" nillable="true" type="q73:RetornoOfArrayOfCargaVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasPorTransportadorV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="naoRetornarCargasComplementares" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasPorTransportadorV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCargasPorTransportadorV2Result" nillable="true" type="q74:RetornoOfArrayOfCargaVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCargaTransportador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCargaTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoCargaTransportadorResult" nillable="true" type="q75:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncerrarCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
        <xs:element minOccurs="0" name="ObservacaoEncerramento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncerrarCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EncerrarCargaResult" nillable="true" type="q76:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaTiposDeOperacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaTiposDeOperacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscaTiposDeOperacaoResult" nillable="true" type="q77:RetornoOfPaginacaoOfTipoOperacaoYCIsJlsP51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarModelosVeiculares">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarModelosVeicularesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarModelosVeicularesResult" nillable="true" type="q78:RetornoOfPaginacaoOfModeloVeicularYCIsJlsP51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTiposDeCargaEmbarcador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTiposDeCargaEmbarcadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarTiposDeCargaEmbarcadorResult" nillable="true" type="q79:RetornoOfPaginacaoOfTipoCargaEmbarcadorYCIsJlsP51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCargaAtivaPorNumero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroCarga" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCargaAtivaPorNumeroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConsultarCargaAtivaPorNumeroResult" nillable="true" type="q80:RetornoOfProtocolosVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="dadosIntegracao" nillable="true" type="q81:CargaIntegracao" />
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
        <xs:element minOccurs="0" name="protocoloPedido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AtualizarPedidoResult" nillable="true" type="q82:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="cargaIntegracao" nillable="true" type="q83:CargaIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AdicionarCargaResult" nillable="true" type="q84:RetornoOfProtocolosVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarAgrupamentoDeCargas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga.Agrupamento" minOccurs="0" name="Agrupador" nillable="true" type="q85:Agrupador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarAgrupamentoDeCargasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AdicionarAgrupamentoDeCargasResult" nillable="true" type="q86:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgruparCargas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProtocoloCargas" nillable="true" type="q87:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgruparCargasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AgruparCargasResult" nillable="true" type="q88:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="cargaIntegracao" nillable="true" type="q89:CargaIntegracao" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q90:Protocolos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AtualizarCargaResult" nillable="true" type="q91:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarValorFrete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q92:Protocolos" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" minOccurs="0" name="valorFrete" nillable="true" type="q93:FreteValor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarValorFreteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AtualizarValorFreteResult" nillable="true" type="q94:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarStatusPreCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q95:Protocolos" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.GestaoPatio" minOccurs="0" name="etapas" nillable="true" type="q96:ArrayOfAtualizacaoStatusEtapa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarStatusPreCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AtualizarStatusPreCargaResult" nillable="true" type="q97:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarRolagemCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="cargaAtualizacaoRolagem" nillable="true" type="q98:CargaAtualizacaoRolagem" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q99:Protocolos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarRolagemCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AtualizarRolagemCargaResult" nillable="true" type="q100:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q101:Protocolos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCargaResult" nillable="true" type="q102:RetornoOfArrayOfCargaIntegracaoVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasAgrupadasAguardandoIntegracao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasAgrupadasAguardandoIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCargasAgrupadasAguardandoIntegracaoResult" nillable="true" type="q103:RetornoOfArrayOfCargaAgrupadaAguardandoIntegracaoVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCargasAgrupadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaProtocoloCarga" nillable="true" type="q104:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCargasAgrupadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoCargasAgrupadasResult" nillable="true" type="q105:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSituacaoCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q106:Protocolos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSituacaoCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarSituacaoCargaResult" nillable="true" type="q107:RetornoOfArrayOfCargaSituacaoVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDocumentacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Documentos" minOccurs="0" name="protocolo" nillable="true" type="q108:Protocolos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDocumentacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarDocumentacaoResult" nillable="true" type="q109:RetornoOfArrayOfDocumentacaooGuvdyq5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDocumentacoesPendentesIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDocumentacoesPendentesIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarDocumentacoesPendentesIntegracaoResult" nillable="true" type="q110:RetornoOfPaginacaoOfProtocolosoGuvdyq551p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasPendentesIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
        <xs:element minOccurs="0" name="codigoIntegracaoTipoOperacao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoIntegracaoFilial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasPendentesIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCargasPendentesIntegracaoResult" nillable="true" type="q111:RetornoOfPaginacaoOfProtocolosVQbIXuKl51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasRedespachoPendenteIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasRedespachoPendenteIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCargasRedespachoPendenteIntegracaoResult" nillable="true" type="q112:RetornoOfPaginacaoOfProtocolosVQbIXuKl51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q113:Protocolos" />
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="cargaIntegracao" nillable="true" type="q114:CargaIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AdicionarPedidoResult" nillable="true" type="q115:RetornoOfProtocolosVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferirPedidoEntreCargas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocoloOriginal" nillable="true" type="q116:Protocolos" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocoloFinal" nillable="true" type="q117:Protocolos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferirPedidoEntreCargasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="TransferirPedidoEntreCargasResult" nillable="true" type="q118:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q119:Protocolos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="RemoverPedidoResult" nillable="true" type="q120:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q121:Protocolos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoCargaResult" nillable="true" type="q122:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FecharCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FecharCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="FecharCargaResult" nillable="true" type="q123:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AverbarCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
        <xs:element minOccurs="0" name="codigoBooking" type="xs:int" />
        <xs:element minOccurs="0" name="numeroBooking" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoOrdemServico" type="xs:int" />
        <xs:element minOccurs="0" name="numeroOrgemServico" nillable="true" type="xs:string" />
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="forma" type="q124:FormaAverbacaoCTE" />
        <xs:element minOccurs="0" name="novoValorMercadoria" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AverbarCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AverbarCargaResult" nillable="true" type="q125:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BloquearCancelamentoCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
        <xs:element minOccurs="0" name="codigoBooking" type="xs:int" />
        <xs:element minOccurs="0" name="numeroBooking" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoOrdemServico" type="xs:int" />
        <xs:element minOccurs="0" name="numeroOrgemServico" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BloquearCancelamentoCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BloquearCancelamentoCargaResult" nillable="true" type="q126:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarSinitroAvariaCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
        <xs:element minOccurs="0" name="codigoBooking" type="xs:int" />
        <xs:element minOccurs="0" name="numeroBooking" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoOrdemServico" type="xs:int" />
        <xs:element minOccurs="0" name="numeroOrgemServico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chaveCTe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarSinitroAvariaCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="InformarSinitroAvariaCargaResult" nillable="true" type="q127:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasAguardandoConfirmacaoCancelamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasAguardandoConfirmacaoCancelamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCargasAguardandoConfirmacaoCancelamentoResult" nillable="true" type="q128:RetornoOfPaginacaoOfint51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarRecebimentoCancelamentoCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarRecebimentoCancelamentoCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarRecebimentoCancelamentoCargaResult" nillable="true" type="q129:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCancelamentoDaCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
        <xs:element minOccurs="0" name="motivoDoCancelamento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuarioERPSolicitouCancelamento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="controleIntegracaoEmbarcador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCancelamentoDaCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SolicitarCancelamentoDaCargaResult" nillable="true" type="q130:RetornoOfRetornoSolicitacaoCancelamentoTRAZTvlX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCancelamentoDosDocumentosDaCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
        <xs:element minOccurs="0" name="motivoDoCancelamento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuarioERPSolicitouCancelamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCancelamentoDosDocumentosDaCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SolicitarCancelamentoDosDocumentosDaCargaResult" nillable="true" type="q131:RetornoOfRetornoSolicitacaoCancelamentoTRAZTvlX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCancelamentoDoPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoPedido" type="xs:int" />
        <xs:element minOccurs="0" name="motivoDoCancelamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCancelamentoDoPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SolicitarCancelamentoDoPedidoResult" nillable="true" type="q132:RetornoOfRetornoSolicitacaoCancelamentoTRAZTvlX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalhesCancelamentoDaCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalhesCancelamentoDaCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConsultarDetalhesCancelamentoDaCargaResult" nillable="true" type="q133:RetornoOfCargaCancelamentoVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalhesCancelamentoDocumentosDaCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalhesCancelamentoDocumentosDaCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConsultarDetalhesCancelamentoDocumentosDaCargaResult" nillable="true" type="q134:RetornoOfCargaCancelamentoVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarRateioFreteProdutos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q135:Protocolos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarRateioFreteProdutosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConsultarRateioFreteProdutosResult" nillable="true" type="q136:RetornoOfArrayOfRateioFreteProdutoknUzgH84" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargaPorCodigosIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="codigosIntegracao" nillable="true" type="q137:CodigosIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargaPorCodigosIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCargaPorCodigosIntegracaoResult" nillable="true" type="q138:RetornoOfArrayOfCargaIntegracaoVQbIXuKl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarResumoCargaPorCodigosIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="codigosIntegracao" nillable="true" type="q139:CodigosIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarResumoCargaPorCodigosIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarResumoCargaPorCodigosIntegracaoResult" nillable="true" type="q140:RetornoOfCargapqvO6z3K" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCarregamentoEmMontagemPendenteIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCarregamentoEmMontagemPendenteIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCarregamentoEmMontagemPendenteIntegracaoResult" nillable="true" type="q141:RetornoOfPaginacaoOfCarregamentoYCIsJlsP51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCarregamentosPendentesIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCarregamentosPendentesIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCarregamentosPendentesIntegracaoResult" nillable="true" type="q142:RetornoOfPaginacaoOfCarregamentoYCIsJlsP51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPreCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloPreCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPreCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarPreCargaResult" nillable="true" type="q143:RetornoOfCarregamentoPreCargaYCIsJlsP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCarregamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCarregamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoCarregamentoResult" nillable="true" type="q144:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCarregamentoEmMontagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCarregamentoEmMontagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoCarregamentoEmMontagemResult" nillable="true" type="q145:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VincularCargas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolos" nillable="true" type="q146:ArrayOfProtocolos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VincularCargasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="VincularCargasResult" nillable="true" type="q147:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BloquearCargaFilaCarregamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BloquearCargaFilaCarregamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BloquearCargaFilaCarregamentoResult" nillable="true" type="q148:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiberarCargaFilaCarregamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiberarCargaFilaCarregamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="LiberarCargaFilaCarregamentoResult" nillable="true" type="q149:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiberarEmissaoSemNFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiberarEmissaoSemNFeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="LiberarEmissaoSemNFeResult" nillable="true" type="q150:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarEnvioEmailDocumentosDaCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
        <xs:element minOccurs="0" name="emails" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarEnvioEmailDocumentosDaCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SolicitarEnvioEmailDocumentosDaCargaResult" nillable="true" type="q151:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarImpressaoCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarImpressaoCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarImpressaoCargaResult" nillable="true" type="q152:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCargaComCanhotosDigitalizados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCargaComCanhotosDigitalizadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoCargaComCanhotosDigitalizadosResult" nillable="true" type="q153:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarNumeroCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
        <xs:element minOccurs="0" name="numeroCarga" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarNumeroCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AlterarNumeroCargaResult" nillable="true" type="q154:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverOutrosNumerosCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
        <xs:element minOccurs="0" name="numeroCarga" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverOutrosNumerosCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="RemoverOutrosNumerosCargaResult" nillable="true" type="q155:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCargaPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloPedido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCargaPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConsultarCargaPedidoResult" nillable="true" type="q156:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarInicioViagemCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
        <xs:element minOccurs="0" name="dataHora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarInicioViagemCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="InformarInicioViagemCargaResult" nillable="true" type="q157:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasCanceladasPorTransportador">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasCanceladasPorTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCargasCanceladasPorTransportadorResult" nillable="true" type="q158:RetornoOfArrayOfCargaCancelamentog6I2ue_Sm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCancelamentoTransportador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCancelamentoTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoCancelamentoTransportadorResult" nillable="true" type="q159:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDiarioBordo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDiarioBordoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarDiarioBordoResult" nillable="true" type="q160:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>