Servicos/Service References/ServicoSGT.Carga/Cargas16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Produtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Produtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" />
  <xs:complexType name="ArrayOfConversao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Conversao" nillable="true" type="tns:Conversao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConversao" nillable="true" type="tns:ArrayOfConversao" />
  <xs:complexType name="Conversao">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuantidadeDe" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadePara" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadeDe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadePara" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Conversao" nillable="true" type="tns:Conversao" />
  <xs:complexType name="EnderecoProduto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" minOccurs="0" name="Filial" nillable="true" type="q1:Filial" />
      <xs:element minOccurs="0" name="NivelPrioridade" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnderecoProduto" nillable="true" type="tns:EnderecoProduto" />
</xs:schema>