Servicos/Service References/ServicoSGT.Carga/Cargas9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd28" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Logistica" />
  <xs:complexType name="Localidade">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IBGE" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Pais" nillable="true" type="q1:Pais" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Regiao" nillable="true" type="q2:Regiao" />
      <xs:element minOccurs="0" name="SiglaUF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Localidade" nillable="true" type="tns:Localidade" />
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="ANTT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNAE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIBGECidade" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissaoANTT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataFinalCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataInicialCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataValidadeANTT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAdministrativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailContador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoEstadual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Inscricao_ST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeContador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptanteSimplesNacional" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Responsavel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenhaCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerieCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusEmailAdministrativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusEmailContador" type="xs:boolean" />
      <xs:element minOccurs="0" name="Suframa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoneContador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoneContato" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoInclusaoPedagioBaseCalculoICMS" type="q3:TipoInclusaoPedagioBaseCalculoICMS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
  <xs:complexType name="Filial">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Filial" nillable="true" type="tns:Filial" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPFCNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Cidades" nillable="true" type="q4:ArrayOfanyType" />
      <xs:element minOccurs="0" name="ClassificacaoPessoaCor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:double" />
      <xs:element minOccurs="0" name="CodigoAtividade" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPais" type="xs:int" />
      <xs:element minOccurs="0" name="Complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCadastro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoAtividade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailsContador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailsContato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailsTransportador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exportacao" type="xs:boolean" />
      <xs:element minOccurs="0" name="IM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoSuframa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Localidade" type="xs:int" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumentoExportacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PontoTransbordo" type="xs:boolean" />
      <xs:element minOccurs="0" name="RGIE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Raio" type="xs:int" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalvarEndereco" type="xs:boolean" />
      <xs:element minOccurs="0" name="SiglaPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusEmails" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusEmailsContador" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusEmailsContato" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusEmailsTransportador" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Logistica" minOccurs="0" name="Subareas" nillable="true" type="q5:ArrayOfSubareaCliente" />
      <xs:element minOccurs="0" name="Telefone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoArea" type="q6:TipoArea" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="Veiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CapacidadeKG" type="xs:int" />
      <xs:element minOccurs="0" name="CapacidadeM3" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoModeloVeicularEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoTipoCarroceria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoTipoCombustivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoTipoRodado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoTipoVeiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:Empresa" />
      <xs:element minOccurs="0" name="Excluir" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Motoristas" nillable="true" type="tns:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="NumeroEquipamentoRastreador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Renavam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tara" type="xs:int" />
      <xs:element minOccurs="0" name="TipoDoVeiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VeiculosVinculados" nillable="true" type="tns:ArrayOfVeiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Veiculo" nillable="true" type="tns:Veiculo" />
  <xs:complexType name="ArrayOfMotorista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Motorista" nillable="true" type="tns:Motorista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMotorista" nillable="true" type="tns:ArrayOfMotorista" />
  <xs:complexType name="Motorista">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Excluir" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Motorista" nillable="true" type="tns:Motorista" />
  <xs:complexType name="ArrayOfVeiculo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Veiculo" nillable="true" type="tns:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVeiculo" nillable="true" type="tns:ArrayOfVeiculo" />
  <xs:complexType name="ArrayOfPercursoMDFe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PercursoMDFe" nillable="true" type="tns:PercursoMDFe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPercursoMDFe" nillable="true" type="tns:ArrayOfPercursoMDFe" />
  <xs:complexType name="PercursoMDFe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Excluir" type="xs:boolean" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sigla" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PercursoMDFe" nillable="true" type="tns:PercursoMDFe" />
</xs:schema>