Servicos/Service References/ServicoSGT.Carga/Cargas24.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga.Resumo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga.Resumo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Carga">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pedidos" nillable="true" type="tns:ArrayOfPedido" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element minOccurs="0" name="Situacao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carga" nillable="true" type="tns:Carga" />
  <xs:complexType name="ArrayOfPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pedido" nillable="true" type="tns:Pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedido" nillable="true" type="tns:ArrayOfPedido" />
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="CTe" nillable="true" type="tns:ArrayOfDocumento" />
      <xs:element minOccurs="0" name="NFSe" nillable="true" type="tns:ArrayOfDocumento" />
      <xs:element minOccurs="0" name="NumeroPedidoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="ArrayOfDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documento" nillable="true" type="tns:Documento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumento" nillable="true" type="tns:ArrayOfDocumento" />
  <xs:complexType name="Documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveCTe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoMensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Documento" nillable="true" type="tns:Documento" />
</xs:schema>