Servicos/Service References/ServicoSGT.Carga/Cargas239.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Rest.Unilever.Carga.DocumentoTransporte" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Rest.Unilever.Carga.DocumentoTransporte" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEventosDT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventosDT" nillable="true" type="tns:EventosDT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventosDT" nillable="true" type="tns:ArrayOfEventosDT" />
  <xs:complexType name="EventosDT">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataFimPrevisto" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataFimReal" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInicioPrevisto" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInicioReal" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Qualificador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventosDT" nillable="true" type="tns:EventosDT" />
</xs:schema>