Servicos/Service References/ServicoSGT.Carga/Cargas235.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CargaCancelamento" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CargaCancelamento" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:complexType name="EnvioCancelamentoCarga">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverbacaoCTes" nillable="true" type="tns:ArrayOfEnvioCancelamentoAverbacaoCTe" />
      <xs:element minOccurs="0" name="CTes" nillable="true" type="tns:ArrayOfEnvioCancelamentoCTe" />
      <xs:element minOccurs="0" name="CancelarDocumentosEmitidosNoEmbarcador" type="xs:boolean" />
      <xs:element minOccurs="0" name="DataCancelamento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DuplicarCarga" type="xs:boolean" />
      <xs:element minOccurs="0" name="EnviouAverbacoesCTesParaCancelamento" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" minOccurs="0" name="Justificativa" nillable="true" type="q1:Justificativa" />
      <xs:element minOccurs="0" name="JustificativaCancelamento" nillable="true" type="tns:JustificativaCancelamento" />
      <xs:element minOccurs="0" name="LiberarPedidosParaMontagemCarga" type="xs:boolean" />
      <xs:element minOccurs="0" name="MotivoCancelamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperadorResponsavel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Situacao" type="q2:SituacaoCancelamentoCarga" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoCargaNoCancelamento" type="q3:SituacaoCarga" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Tipo" type="q4:TipoCancelamentoCarga" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnvioCancelamentoCarga" nillable="true" type="tns:EnvioCancelamentoCarga" />
  <xs:complexType name="ArrayOfEnvioCancelamentoAverbacaoCTe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnvioCancelamentoAverbacaoCTe" nillable="true" type="tns:EnvioCancelamentoAverbacaoCTe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnvioCancelamentoAverbacaoCTe" nillable="true" type="tns:ArrayOfEnvioCancelamentoAverbacaoCTe" />
  <xs:complexType name="EnvioCancelamentoAverbacaoCTe">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveCTe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MensagemRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocolo" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="Status" type="q5:StatusAverbacaoCTe" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="Tipo" type="q6:TipoAverbacaoCTe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnvioCancelamentoAverbacaoCTe" nillable="true" type="tns:EnvioCancelamentoAverbacaoCTe" />
  <xs:complexType name="ArrayOfEnvioCancelamentoCTe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnvioCancelamentoCTe" nillable="true" type="tns:EnvioCancelamentoCTe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnvioCancelamentoCTe" nillable="true" type="tns:ArrayOfEnvioCancelamentoCTe" />
  <xs:complexType name="EnvioCancelamentoCTe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cancelado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChaveCTe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataAnulacao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataCancelamento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataRetornoSefaz" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MensagemRetornoSefaz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoCancelamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloCancelamentoInutilizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnvioCancelamentoCTe" nillable="true" type="tns:EnvioCancelamentoCTe" />
  <xs:complexType name="JustificativaCancelamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIntegradao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JustificativaCancelamento" nillable="true" type="tns:JustificativaCancelamento" />
  <xs:complexType name="ArrayOfCargaCancelamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CargaCancelamento" nillable="true" type="tns:CargaCancelamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCargaCancelamento" nillable="true" type="tns:ArrayOfCargaCancelamento" />
  <xs:complexType name="CargaCancelamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataCancelamento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MotivoCancelamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PossuiDocumentoCancelado" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProtocoloCancelamento" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargaCancelamento" nillable="true" type="tns:CargaCancelamento" />
</xs:schema>