Servicos/Service References/ServicoSGT.Carga/Cargas2311.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Rest.Unilever" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Rest.Unilever" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:complexType name="ArrayOfPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pedido" nillable="true" type="tns:Pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedido" nillable="true" type="tns:ArrayOfPedido" />
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProtocoloPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stage" nillable="true" type="tns:ArrayOfStage" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" minOccurs="0" name="TipoPercurso" nillable="true" type="q1:TipoPercurso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="ArrayOfStage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stage" nillable="true" type="tns:Stage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStage" nillable="true" type="tns:ArrayOfStage" />
  <xs:complexType name="Stage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agrupamento" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="CanalEntrega" nillable="true" type="q2:CanalEntrega" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="CanalVenda" nillable="true" type="q3:CanalVenda" />
      <xs:element minOccurs="0" name="DataEntregaPlaneja" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distancia" type="xs:decimal" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Expedidor" nillable="true" type="q4:Cliente" />
      <xs:element minOccurs="0" name="HoraEntregaPlaneja" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="ModeloVeicular" nillable="true" type="q5:ModeloVeicular" />
      <xs:element minOccurs="0" name="NaoPossuiValePedagio" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumeroStage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroVeiculo" type="xs:int" />
      <xs:element minOccurs="0" name="OrdemEntrega" type="xs:int" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Recebedor" nillable="true" type="q6:Cliente" />
      <xs:element minOccurs="0" name="RelevanciaCusto" type="xs:boolean" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoModal" type="q7:TipoModal" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoPercurso" type="q8:Vazio" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="TransportadoraEmitente" nillable="true" type="q9:Empresa" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Veiculo" nillable="true" type="q10:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stage" nillable="true" type="tns:Stage" />
</xs:schema>