Servicos/Service References/ServicoSGT.Carga/Cargas5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:complexType name="AlteracaoPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="Companhia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoEntrega" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q1:Pessoa" />
      <xs:element minOccurs="0" name="ETA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Navio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ordem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PesoBrutoTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="PortoChegada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortoSaida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloIntegracaoPedido" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Recebedor" nillable="true" type="q2:Pessoa" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Remetente" nillable="true" type="q3:Pessoa" />
      <xs:element minOccurs="0" name="Reserva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resumo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoEmbarque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vendedor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlteracaoPedido" nillable="true" type="tns:AlteracaoPedido" />
  <xs:complexType name="ArrayOfRetornoAlteracaoPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetornoAlteracaoPedido" nillable="true" type="tns:RetornoAlteracaoPedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetornoAlteracaoPedido" nillable="true" type="tns:ArrayOfRetornoAlteracaoPedido" />
  <xs:complexType name="RetornoAlteracaoPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="MotivoRejeicao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloIntegracaoPedido" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Situacao" type="q4:SituacaoAlteracaoPedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoAlteracaoPedido" nillable="true" type="tns:RetornoAlteracaoPedido" />
  <xs:complexType name="ArrayOfFiliais">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Filiais" nillable="true" type="tns:Filiais" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFiliais" nillable="true" type="tns:ArrayOfFiliais" />
  <xs:complexType name="Filiais">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NCM" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Situacao" type="q5:SituacaoFilial" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="UsoMaterial" type="q6:UsoMaterial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Filiais" nillable="true" type="tns:Filiais" />
  <xs:complexType name="ArrayOfOrganizacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Organizacao" nillable="true" type="tns:Organizacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizacao" nillable="true" type="tns:ArrayOfOrganizacao" />
  <xs:complexType name="Organizacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Canal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoHierarquia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hierarquia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Setor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Organizacao" nillable="true" type="tns:Organizacao" />
</xs:schema>