Servicos/Service References/ServicoSGT.Carga/Cargas237.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga.Agrupamento" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga.Agrupamento" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" />
  <xs:complexType name="Agrupador">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoAgrupador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoInicioViagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pedidos" nillable="true" type="tns:ArrayOfPedidoAgrupamento" />
      <xs:element minOccurs="0" name="Roteirizacao" nillable="true" type="tns:ArrayOfRoteirizacao" />
      <xs:element minOccurs="0" name="TipoViagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Transportadora" nillable="true" type="q1:Empresa" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculo" nillable="true" type="q2:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agrupador" nillable="true" type="tns:Agrupador" />
  <xs:complexType name="ArrayOfPedidoAgrupamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidoAgrupamento" nillable="true" type="tns:PedidoAgrupamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidoAgrupamento" nillable="true" type="tns:ArrayOfPedidoAgrupamento" />
  <xs:complexType name="PedidoAgrupamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoEntrega" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Expedidor" nillable="true" type="q3:Pessoa" />
      <xs:element minOccurs="0" name="IDIntegracao" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" minOccurs="0" name="NotasFiscal" nillable="true" type="q4:ArrayOfNotaFiscal" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PedidoDeEncaixe" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Recebedor" nillable="true" type="q5:Pessoa" />
      <xs:element minOccurs="0" name="Reentrega" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoAgrupamento" nillable="true" type="tns:PedidoAgrupamento" />
  <xs:complexType name="ArrayOfRoteirizacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Roteirizacao" nillable="true" type="tns:Roteirizacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoteirizacao" nillable="true" type="tns:ArrayOfRoteirizacao" />
  <xs:complexType name="Roteirizacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataInicioDescarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoChegada" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q6:Pessoa" />
      <xs:element minOccurs="0" name="IdEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JanelaDeRecebimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequencia" type="xs:int" />
      <xs:element minOccurs="0" name="TempoDescarregamentoMinutos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Roteirizacao" nillable="true" type="tns:Roteirizacao" />
</xs:schema>