Servicos/Service References/ServicoSGT.Carga/Cargas14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
  <xs:complexType name="ArrayOfLote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lote" nillable="true" type="tns:Lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLote" nillable="true" type="tns:ArrayOfLote" />
  <xs:complexType name="Lote">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataFabricacao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataValidade" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroLote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantidadeLote" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lote" nillable="true" type="tns:Lote" />
  <xs:complexType name="ArrayOfNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotaFiscal" nillable="true" type="tns:ArrayOfNotaFiscal" />
  <xs:complexType name="NotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliquotaICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculoICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculoST" type="xs:decimal" />
      <xs:element minOccurs="0" name="Boletos" nillable="true" type="tns:ArrayOfBoleto" />
      <xs:element minOccurs="0" name="CFOPPredominante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Canhoto" nillable="true" type="tns:Canhoto" />
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChaveCTe" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="ClassificacaoNFe" nillable="true" type="q1:ClassificacaoNFe" />
      <xs:element minOccurs="0" name="CodigoIntegracaoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contabilizacao" nillable="true" type="tns:NotaFiscalContabilizacao" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Containeres" nillable="true" type="q2:ArrayOfContainer" />
      <xs:element minOccurs="0" name="Cubagem" type="xs:decimal" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissaoDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataHoraCriacaoEmbrcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoMercadoria" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q3:Pessoa" />
      <xs:element minOccurs="0" name="DocumentoRecebidoViaNOTFIS" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Emitente" nillable="true" type="q4:Pessoa" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Expedidor" nillable="true" type="q5:Pessoa" />
      <xs:element minOccurs="0" name="GrauRisco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IBGEInicioPrestacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InformacoesComplementares" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KMRota" type="xs:decimal" />
      <xs:element minOccurs="0" name="MasterBL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetroCubico" type="xs:decimal" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="ModalidadeFrete" type="q6:ModalidadePagamentoFrete" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModeloVeicular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NCMPredominante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaturezaOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroCanhoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroControleCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumentoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroOutroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroReferenciaEDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroRomaneio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSolicitacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTransporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObsPlaca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObsTransporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PINSuframa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PesoAferido" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoBruto" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoMiligrama" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="Produtos" nillable="true" type="q7:ArrayOfProduto" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadePallets" type="xs:decimal" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Recebedor" nillable="true" type="q8:Pessoa" />
      <xs:element minOccurs="0" name="Rota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoNFeSefaz" type="q9:SituacaoNFeSefaz" />
      <xs:element minOccurs="0" name="SubRota" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoCarga" nillable="true" type="q10:TipoCargaEmbarcador" />
      <xs:element minOccurs="0" name="TipoDeCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoOperacao" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoOperacaoNotaFiscal" type="q11:TipoOperacaoNotaFiscal" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Tomador" nillable="true" type="q12:Pessoa" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Transportador" nillable="true" type="q13:Empresa" />
      <xs:element minOccurs="0" name="Ultimos7DigitosNumeroPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCOFINS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComponenteAdValorem" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComponenteAdicionalEntrega" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComponenteDescarga" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComponenteFreteCrossDocking" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComponentePedagio" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDesconto" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorFrete" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorFreteLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIPI" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorImpostoImportacao" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorOutros" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPIS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorST" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorSeguro" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalProdutos" type="xs:decimal" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculo" nillable="true" type="q14:Veiculo" />
      <xs:element minOccurs="0" name="Volumes" nillable="true" type="tns:ArrayOfVolume" />
      <xs:element minOccurs="0" name="VolumesTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
  <xs:complexType name="ArrayOfBoleto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Boleto" nillable="true" type="tns:Boleto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBoleto" nillable="true" type="tns:ArrayOfBoleto" />
  <xs:complexType name="Boleto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataVencimento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parcela" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Boleto" nillable="true" type="tns:Boleto" />
  <xs:complexType name="Canhoto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveAcesso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEntregaNota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEnvioCanhoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagemCanhotoBase64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeImagemCanhoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoCanhoto" type="q15:SituacaoCanhoto" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoDigitalizacaoCanhoto" type="q16:SituacaoDigitalizacaoCanhoto" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoCanhoto" type="q17:TipoCanhoto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Canhoto" nillable="true" type="tns:Canhoto" />
  <xs:complexType name="NotaFiscalContabilizacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="CFOPEntrada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CalcularPisCofins" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodContaContabil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoTransacaoRecebimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUnicoNF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContaContabil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContaTransacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataContabilizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataOrdemVenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataRecebimentoFisico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Diretoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Especie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstruturaVenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemFrete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mercado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroRecebimento" type="xs:int" />
      <xs:element minOccurs="0" name="OrdemVenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pedagio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReversaoRecebimento" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransacaoRecebimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotaFiscalContabilizacao" nillable="true" type="tns:NotaFiscalContabilizacao" />
  <xs:complexType name="ArrayOfVolume">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Volume" nillable="true" type="tns:Volume" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVolume" nillable="true" type="tns:ArrayOfVolume" />
  <xs:complexType name="Volume">
    <xs:sequence>
      <xs:element minOccurs="0" name="Especie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarcaVolume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numeracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroLacre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PesoBruto" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Volume" nillable="true" type="tns:Volume" />
</xs:schema>