Servicos/Service References/ServicoSGT.Carga/Cargas238.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Rest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Rest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd26" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Rest.Unilever.Carga.DocumentoTransporte" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd27" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Rest.Unilever" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:5146/Cargas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:complexType name="DocumentoTransporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControleIntegracaoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataAgendamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCriacaoCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataInicioCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPreparacaoPosCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoInicioViagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataRealFaturamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataTerminoCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistanciaTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="DocumentoGlobalizado" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Rest.Unilever.Carga.DocumentoTransporte" minOccurs="0" name="EventosDT" nillable="true" type="q1:ArrayOfEventosDT" />
      <xs:element minOccurs="0" name="ExternalID1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalID2" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Filial" nillable="true" type="q2:Filial" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" minOccurs="0" name="FreteRota" nillable="true" type="q3:FreteRota" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" minOccurs="0" name="InformacoesAdicionais" nillable="true" type="q4:InformacoesAdicionais" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Lacres" nillable="true" type="q5:ArrayOfstring" />
      <xs:element minOccurs="0" name="Motoristas" nillable="true" type="tns:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Rest.Unilever" minOccurs="0" name="Pedido" nillable="true" type="q6:ArrayOfPedido" />
      <xs:element minOccurs="0" name="ProcessamentoEspecial" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="StatusEmbarque" type="q7:StatusEmbarque" />
      <xs:element minOccurs="0" name="StatusLoger" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoCargaEmbarcador" nillable="true" type="q8:TipoCargaEmbarcador" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" minOccurs="0" name="TipoDT" nillable="true" type="q9:TipoDT" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoOperacao" nillable="true" type="q10:TipoOperacao" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="TransportadoraEmitente" nillable="true" type="q11:Empresa" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" minOccurs="0" name="UnidadeNegocio" nillable="true" type="q12:UnidadeNegocio" />
      <xs:element minOccurs="0" name="Veiculo" nillable="true" type="tns:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoTransporte" nillable="true" type="tns:DocumentoTransporte" />
  <xs:complexType name="ArrayOfMotorista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Motorista" nillable="true" type="tns:Motorista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMotorista" nillable="true" type="tns:ArrayOfMotorista" />
  <xs:complexType name="Motorista">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Motorista" nillable="true" type="tns:Motorista" />
  <xs:complexType name="Veiculo">
    <xs:sequence>
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="ModeloVeicular" nillable="true" type="q13:ModeloVeicular" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reboques" nillable="true" type="tns:ArrayOfVeiculo" />
      <xs:element minOccurs="0" name="Renavam" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoRodado" type="q14:TipoRodado" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoVeiculo" type="q15:TipoVeiculo" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Veiculo" nillable="true" type="tns:Veiculo" />
  <xs:complexType name="ArrayOfVeiculo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Veiculo" nillable="true" type="tns:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVeiculo" nillable="true" type="tns:ArrayOfVeiculo" />
</xs:schema>