Servicos/Service References/A2Rastreadores/InterfaceExternaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://posicoes.webservices.framew2.com.br/xsd" xmlns:ns0="http://webservices.framew2.com.br/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="br.com.framew2.webservices" targetNamespace="br.com.framew2.webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>InterfaceExternaService</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax215="http://webservices.framew2.com.br/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservices.framew2.com.br/xsd">
      <xs:complexType name="ComponentesDominio">
        <xs:sequence>
          <xs:element minOccurs="0" name="descricaoComponente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descricaoDominio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="nomeCampo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="unidade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="valor" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RetornoInterfaceExterna">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoRetorno" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="eventos" nillable="true" type="ax215:Evento" />
          <xs:element minOccurs="0" name="mensagemRetorno" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Evento">
        <xs:sequence>
          <xs:element minOccurs="0" name="altitude" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="componentes" nillable="true" type="ax215:Componentes" />
          <xs:element minOccurs="0" name="dataEquipamento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dataGps" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="evento" type="xs:int" />
          <xs:element minOccurs="0" name="hdop" type="xs:short" />
          <xs:element minOccurs="0" name="latitude" type="xs:double" />
          <xs:element minOccurs="0" name="localizacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="longitude" type="xs:double" />
          <xs:element minOccurs="0" name="motorista" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numeroSatelites" type="xs:short" />
          <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="proa" type="xs:short" />
          <xs:element minOccurs="0" name="sequencia" type="xs:int" />
          <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="validade" type="xs:short" />
          <xs:element minOccurs="0" name="velocidade" type="xs:short" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Componentes">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigo" type="xs:int" />
          <xs:element minOccurs="0" name="estado" type="xs:float" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RetornoInterfacePosicaoExterna">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoRetorno" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="eventos" nillable="true" type="ax215:PosicaoEvento" />
          <xs:element minOccurs="0" name="mensagemRetorno" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PosicaoEvento">
        <xs:sequence>
          <xs:element minOccurs="0" name="altitude" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="componentes" nillable="true" type="ax215:Componentes" />
          <xs:element minOccurs="0" name="dataComunicacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dataEquipamento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dataGps" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="distanciaMetros" type="xs:double" />
          <xs:element minOccurs="0" name="evento" type="xs:int" />
          <xs:element minOccurs="0" name="eventoDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fuso" type="xs:int" />
          <xs:element minOccurs="0" name="hdop" type="xs:short" />
          <xs:element minOccurs="0" name="latitude" type="xs:double" />
          <xs:element minOccurs="0" name="localizacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="longitude" type="xs:double" />
          <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numeroSatelites" type="xs:short" />
          <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="proa" type="xs:short" />
          <xs:element minOccurs="0" name="sequencia" type="xs:int" />
          <xs:element minOccurs="0" name="validade" type="xs:short" />
          <xs:element minOccurs="0" name="velocidade" type="xs:short" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ns="br.com.framew2.webservices" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="br.com.framew2.webservices">
      <xs:element name="obterDominiosComponentes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterDominiosComponentesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns0:ComponentesDominio" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="comandoBloqueio">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="situacao" type="xs:int" />
            <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="comandoBloqueioResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:RetornoInterfaceExterna" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="comandoSirene">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="situacao" type="xs:int" />
            <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="comandoSireneResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:RetornoInterfaceExterna" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obtemHistoricoDia">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="dia" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="evts" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obtemHistoricoDiaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:RetornoInterfaceExterna" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterEventos">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterEventosResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:RetornoInterfaceExterna" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterEventosVelocidade">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="velocidade" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterEventosVelocidadeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:RetornoInterfaceExterna" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterUltimaPosicao">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterUltimaPosicaoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:RetornoInterfaceExterna" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterUltimaPosicaoData">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterUltimaPosicaoDataResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:RetornoInterfaceExterna" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterUltimaPosicaoNumero">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="fabricanteId" type="xs:int" />
            <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterUltimaPosicaoNumeroResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:RetornoInterfaceExterna" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterUltimaPosicaoPlaca">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterUltimaPosicaoPlacaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:RetornoInterfaceExterna" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterEventosPosicao">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterEventosPosicaoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:RetornoInterfacePosicaoExterna" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterUltimaPosicaoEvento">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="evts" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterUltimaPosicaoEventoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:RetornoInterfacePosicaoExterna" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterControleDiesel">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="objetoId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obterControleDieselResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns2:RetornoDiesel" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="detalheVeiculo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="idVeiculo" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="detalheVeiculoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns2:RetornoObjs" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listaVeiculos">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listaVeiculosResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns2:RetornoObjs" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sendCommand">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="fabricanteId" type="xs:int" />
            <xs:element minOccurs="0" name="eventoId" type="xs:int" />
            <xs:element minOccurs="0" name="dados" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sendCommandResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listaIDVeiculos">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listaIDVeiculosResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setLog">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="log" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setLogResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:ax217="http://webservices.framew2.com.br/xsd" xmlns:ax216="http://posicoes.webservices.framew2.com.br/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://posicoes.webservices.framew2.com.br/xsd">
      <xs:import namespace="http://webservices.framew2.com.br/xsd" />
      <xs:complexType name="RetornoDiesel">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="diesel" nillable="true" type="ax216:ControleDiesel" />
          <xs:element minOccurs="0" name="retornoId" type="xs:int" />
          <xs:element minOccurs="0" name="retornoMsg" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ControleDiesel">
        <xs:sequence>
          <xs:element minOccurs="0" name="bomba" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="combustivel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="data_gps" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="datainicioabastecimento" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="endereco" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="evento_data" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="filial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fornecido" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="frentista" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="frentista_id" type="xs:int" />
          <xs:element minOccurs="0" name="horimetro_anterior" type="xs:int" />
          <xs:element minOccurs="0" name="horimetro_atual" type="xs:int" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="id_veiculo" type="xs:int" />
          <xs:element minOccurs="0" name="km_anterior" type="xs:int" />
          <xs:element minOccurs="0" name="km_atual" type="xs:int" />
          <xs:element minOccurs="0" name="licenca" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="litros" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="motorista" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numero" type="xs:int" />
          <xs:element minOccurs="0" name="numero_sequencia" type="xs:int" />
          <xs:element minOccurs="0" name="numeroidveiculo_str" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tanque" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tempo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="valor_arla" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="valor_lubrificante" nillable="true" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RetornoObjs">
        <xs:sequence>
          <xs:element minOccurs="0" name="retornoId" type="xs:int" />
          <xs:element minOccurs="0" name="retornoMsg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="veiculos" nillable="true" type="ax216:Veiculo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Veiculo">
        <xs:sequence>
          <xs:element minOccurs="0" name="chassi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="dispositivos" nillable="true" type="ax216:Dispositivo" />
          <xs:element minOccurs="0" name="empresa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="proprietario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Dispositivo">
        <xs:sequence>
          <xs:element minOccurs="0" name="distanciaMetros" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listEventos" nillable="true" type="ax217:PosicaoEvento" />
          <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="setLogRequest">
    <wsdl:part name="parameters" element="ns1:setLog" />
  </wsdl:message>
  <wsdl:message name="setLogResponse">
    <wsdl:part name="parameters" element="ns1:setLogResponse" />
  </wsdl:message>
  <wsdl:message name="obtemHistoricoDiaRequest">
    <wsdl:part name="parameters" element="ns1:obtemHistoricoDia" />
  </wsdl:message>
  <wsdl:message name="obtemHistoricoDiaResponse">
    <wsdl:part name="parameters" element="ns1:obtemHistoricoDiaResponse" />
  </wsdl:message>
  <wsdl:message name="listaVeiculosRequest">
    <wsdl:part name="parameters" element="ns1:listaVeiculos" />
  </wsdl:message>
  <wsdl:message name="listaVeiculosResponse">
    <wsdl:part name="parameters" element="ns1:listaVeiculosResponse" />
  </wsdl:message>
  <wsdl:message name="obterUltimaPosicaoPlacaRequest">
    <wsdl:part name="parameters" element="ns1:obterUltimaPosicaoPlaca" />
  </wsdl:message>
  <wsdl:message name="obterUltimaPosicaoPlacaResponse">
    <wsdl:part name="parameters" element="ns1:obterUltimaPosicaoPlacaResponse" />
  </wsdl:message>
  <wsdl:message name="obterUltimaPosicaoDataRequest">
    <wsdl:part name="parameters" element="ns1:obterUltimaPosicaoData" />
  </wsdl:message>
  <wsdl:message name="obterUltimaPosicaoDataResponse">
    <wsdl:part name="parameters" element="ns1:obterUltimaPosicaoDataResponse" />
  </wsdl:message>
  <wsdl:message name="obterUltimaPosicaoEventoRequest">
    <wsdl:part name="parameters" element="ns1:obterUltimaPosicaoEvento" />
  </wsdl:message>
  <wsdl:message name="obterUltimaPosicaoEventoResponse">
    <wsdl:part name="parameters" element="ns1:obterUltimaPosicaoEventoResponse" />
  </wsdl:message>
  <wsdl:message name="obterControleDieselRequest">
    <wsdl:part name="parameters" element="ns1:obterControleDiesel" />
  </wsdl:message>
  <wsdl:message name="obterControleDieselResponse">
    <wsdl:part name="parameters" element="ns1:obterControleDieselResponse" />
  </wsdl:message>
  <wsdl:message name="obterDominiosComponentesRequest">
    <wsdl:part name="parameters" element="ns1:obterDominiosComponentes" />
  </wsdl:message>
  <wsdl:message name="obterDominiosComponentesResponse">
    <wsdl:part name="parameters" element="ns1:obterDominiosComponentesResponse" />
  </wsdl:message>
  <wsdl:message name="obterUltimaPosicaoRequest">
    <wsdl:part name="parameters" element="ns1:obterUltimaPosicao" />
  </wsdl:message>
  <wsdl:message name="obterUltimaPosicaoResponse">
    <wsdl:part name="parameters" element="ns1:obterUltimaPosicaoResponse" />
  </wsdl:message>
  <wsdl:message name="comandoSireneRequest">
    <wsdl:part name="parameters" element="ns1:comandoSirene" />
  </wsdl:message>
  <wsdl:message name="comandoSireneResponse">
    <wsdl:part name="parameters" element="ns1:comandoSireneResponse" />
  </wsdl:message>
  <wsdl:message name="obterEventosVelocidadeRequest">
    <wsdl:part name="parameters" element="ns1:obterEventosVelocidade" />
  </wsdl:message>
  <wsdl:message name="obterEventosVelocidadeResponse">
    <wsdl:part name="parameters" element="ns1:obterEventosVelocidadeResponse" />
  </wsdl:message>
  <wsdl:message name="obterUltimaPosicaoNumeroRequest">
    <wsdl:part name="parameters" element="ns1:obterUltimaPosicaoNumero" />
  </wsdl:message>
  <wsdl:message name="obterUltimaPosicaoNumeroResponse">
    <wsdl:part name="parameters" element="ns1:obterUltimaPosicaoNumeroResponse" />
  </wsdl:message>
  <wsdl:message name="sendCommandRequest">
    <wsdl:part name="parameters" element="ns1:sendCommand" />
  </wsdl:message>
  <wsdl:message name="sendCommandResponse">
    <wsdl:part name="parameters" element="ns1:sendCommandResponse" />
  </wsdl:message>
  <wsdl:message name="detalheVeiculoRequest">
    <wsdl:part name="parameters" element="ns1:detalheVeiculo" />
  </wsdl:message>
  <wsdl:message name="detalheVeiculoResponse">
    <wsdl:part name="parameters" element="ns1:detalheVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="listaIDVeiculosRequest">
    <wsdl:part name="parameters" element="ns1:listaIDVeiculos" />
  </wsdl:message>
  <wsdl:message name="listaIDVeiculosResponse">
    <wsdl:part name="parameters" element="ns1:listaIDVeiculosResponse" />
  </wsdl:message>
  <wsdl:message name="obterEventosPosicaoRequest">
    <wsdl:part name="parameters" element="ns1:obterEventosPosicao" />
  </wsdl:message>
  <wsdl:message name="obterEventosPosicaoResponse">
    <wsdl:part name="parameters" element="ns1:obterEventosPosicaoResponse" />
  </wsdl:message>
  <wsdl:message name="comandoBloqueioRequest">
    <wsdl:part name="parameters" element="ns1:comandoBloqueio" />
  </wsdl:message>
  <wsdl:message name="comandoBloqueioResponse">
    <wsdl:part name="parameters" element="ns1:comandoBloqueioResponse" />
  </wsdl:message>
  <wsdl:message name="obterEventosRequest">
    <wsdl:part name="parameters" element="ns1:obterEventos" />
  </wsdl:message>
  <wsdl:message name="obterEventosResponse">
    <wsdl:part name="parameters" element="ns1:obterEventosResponse" />
  </wsdl:message>
  <wsdl:portType name="InterfaceExternaServicePortType">
    <wsdl:operation name="setLog">
      <wsdl:input wsaw:Action="urn:setLog" message="ns1:setLogRequest" />
      <wsdl:output wsaw:Action="urn:setLogResponse" message="ns1:setLogResponse" />
    </wsdl:operation>
    <wsdl:operation name="obtemHistoricoDia">
      <wsdl:input wsaw:Action="urn:obtemHistoricoDia" message="ns1:obtemHistoricoDiaRequest" />
      <wsdl:output wsaw:Action="urn:obtemHistoricoDiaResponse" message="ns1:obtemHistoricoDiaResponse" />
    </wsdl:operation>
    <wsdl:operation name="listaVeiculos">
      <wsdl:input wsaw:Action="urn:listaVeiculos" message="ns1:listaVeiculosRequest" />
      <wsdl:output wsaw:Action="urn:listaVeiculosResponse" message="ns1:listaVeiculosResponse" />
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoPlaca">
      <wsdl:input wsaw:Action="urn:obterUltimaPosicaoPlaca" message="ns1:obterUltimaPosicaoPlacaRequest" />
      <wsdl:output wsaw:Action="urn:obterUltimaPosicaoPlacaResponse" message="ns1:obterUltimaPosicaoPlacaResponse" />
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoData">
      <wsdl:input wsaw:Action="urn:obterUltimaPosicaoData" message="ns1:obterUltimaPosicaoDataRequest" />
      <wsdl:output wsaw:Action="urn:obterUltimaPosicaoDataResponse" message="ns1:obterUltimaPosicaoDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoEvento">
      <wsdl:input wsaw:Action="urn:obterUltimaPosicaoEvento" message="ns1:obterUltimaPosicaoEventoRequest" />
      <wsdl:output wsaw:Action="urn:obterUltimaPosicaoEventoResponse" message="ns1:obterUltimaPosicaoEventoResponse" />
    </wsdl:operation>
    <wsdl:operation name="obterControleDiesel">
      <wsdl:input wsaw:Action="urn:obterControleDiesel" message="ns1:obterControleDieselRequest" />
      <wsdl:output wsaw:Action="urn:obterControleDieselResponse" message="ns1:obterControleDieselResponse" />
    </wsdl:operation>
    <wsdl:operation name="obterDominiosComponentes">
      <wsdl:input wsaw:Action="urn:obterDominiosComponentes" message="ns1:obterDominiosComponentesRequest" />
      <wsdl:output wsaw:Action="urn:obterDominiosComponentesResponse" message="ns1:obterDominiosComponentesResponse" />
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicao">
      <wsdl:input wsaw:Action="urn:obterUltimaPosicao" message="ns1:obterUltimaPosicaoRequest" />
      <wsdl:output wsaw:Action="urn:obterUltimaPosicaoResponse" message="ns1:obterUltimaPosicaoResponse" />
    </wsdl:operation>
    <wsdl:operation name="comandoSirene">
      <wsdl:input wsaw:Action="urn:comandoSirene" message="ns1:comandoSireneRequest" />
      <wsdl:output wsaw:Action="urn:comandoSireneResponse" message="ns1:comandoSireneResponse" />
    </wsdl:operation>
    <wsdl:operation name="obterEventosVelocidade">
      <wsdl:input wsaw:Action="urn:obterEventosVelocidade" message="ns1:obterEventosVelocidadeRequest" />
      <wsdl:output wsaw:Action="urn:obterEventosVelocidadeResponse" message="ns1:obterEventosVelocidadeResponse" />
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoNumero">
      <wsdl:input wsaw:Action="urn:obterUltimaPosicaoNumero" message="ns1:obterUltimaPosicaoNumeroRequest" />
      <wsdl:output wsaw:Action="urn:obterUltimaPosicaoNumeroResponse" message="ns1:obterUltimaPosicaoNumeroResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendCommand">
      <wsdl:input wsaw:Action="urn:sendCommand" message="ns1:sendCommandRequest" />
      <wsdl:output wsaw:Action="urn:sendCommandResponse" message="ns1:sendCommandResponse" />
    </wsdl:operation>
    <wsdl:operation name="detalheVeiculo">
      <wsdl:input wsaw:Action="urn:detalheVeiculo" message="ns1:detalheVeiculoRequest" />
      <wsdl:output wsaw:Action="urn:detalheVeiculoResponse" message="ns1:detalheVeiculoResponse" />
    </wsdl:operation>
    <wsdl:operation name="listaIDVeiculos">
      <wsdl:input wsaw:Action="urn:listaIDVeiculos" message="ns1:listaIDVeiculosRequest" />
      <wsdl:output wsaw:Action="urn:listaIDVeiculosResponse" message="ns1:listaIDVeiculosResponse" />
    </wsdl:operation>
    <wsdl:operation name="obterEventosPosicao">
      <wsdl:input wsaw:Action="urn:obterEventosPosicao" message="ns1:obterEventosPosicaoRequest" />
      <wsdl:output wsaw:Action="urn:obterEventosPosicaoResponse" message="ns1:obterEventosPosicaoResponse" />
    </wsdl:operation>
    <wsdl:operation name="comandoBloqueio">
      <wsdl:input wsaw:Action="urn:comandoBloqueio" message="ns1:comandoBloqueioRequest" />
      <wsdl:output wsaw:Action="urn:comandoBloqueioResponse" message="ns1:comandoBloqueioResponse" />
    </wsdl:operation>
    <wsdl:operation name="obterEventos">
      <wsdl:input wsaw:Action="urn:obterEventos" message="ns1:obterEventosRequest" />
      <wsdl:output wsaw:Action="urn:obterEventosResponse" message="ns1:obterEventosResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InterfaceExternaServiceSOAP11Binding" type="ns1:InterfaceExternaServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setLog">
      <soap:operation soapAction="urn:setLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtemHistoricoDia">
      <soap:operation soapAction="urn:obtemHistoricoDia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaVeiculos">
      <soap:operation soapAction="urn:listaVeiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoPlaca">
      <soap:operation soapAction="urn:obterUltimaPosicaoPlaca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoData">
      <soap:operation soapAction="urn:obterUltimaPosicaoData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoEvento">
      <soap:operation soapAction="urn:obterUltimaPosicaoEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterControleDiesel">
      <soap:operation soapAction="urn:obterControleDiesel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDominiosComponentes">
      <soap:operation soapAction="urn:obterDominiosComponentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicao">
      <soap:operation soapAction="urn:obterUltimaPosicao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comandoSirene">
      <soap:operation soapAction="urn:comandoSirene" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterEventosVelocidade">
      <soap:operation soapAction="urn:obterEventosVelocidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoNumero">
      <soap:operation soapAction="urn:obterUltimaPosicaoNumero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendCommand">
      <soap:operation soapAction="urn:sendCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="detalheVeiculo">
      <soap:operation soapAction="urn:detalheVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaIDVeiculos">
      <soap:operation soapAction="urn:listaIDVeiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterEventosPosicao">
      <soap:operation soapAction="urn:obterEventosPosicao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comandoBloqueio">
      <soap:operation soapAction="urn:comandoBloqueio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterEventos">
      <soap:operation soapAction="urn:obterEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InterfaceExternaServiceSOAP12Binding" type="ns1:InterfaceExternaServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setLog">
      <soap12:operation soapAction="urn:setLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtemHistoricoDia">
      <soap12:operation soapAction="urn:obtemHistoricoDia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaVeiculos">
      <soap12:operation soapAction="urn:listaVeiculos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoPlaca">
      <soap12:operation soapAction="urn:obterUltimaPosicaoPlaca" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoData">
      <soap12:operation soapAction="urn:obterUltimaPosicaoData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoEvento">
      <soap12:operation soapAction="urn:obterUltimaPosicaoEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterControleDiesel">
      <soap12:operation soapAction="urn:obterControleDiesel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDominiosComponentes">
      <soap12:operation soapAction="urn:obterDominiosComponentes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicao">
      <soap12:operation soapAction="urn:obterUltimaPosicao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comandoSirene">
      <soap12:operation soapAction="urn:comandoSirene" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterEventosVelocidade">
      <soap12:operation soapAction="urn:obterEventosVelocidade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoNumero">
      <soap12:operation soapAction="urn:obterUltimaPosicaoNumero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendCommand">
      <soap12:operation soapAction="urn:sendCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="detalheVeiculo">
      <soap12:operation soapAction="urn:detalheVeiculo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaIDVeiculos">
      <soap12:operation soapAction="urn:listaIDVeiculos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterEventosPosicao">
      <soap12:operation soapAction="urn:obterEventosPosicao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comandoBloqueio">
      <soap12:operation soapAction="urn:comandoBloqueio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterEventos">
      <soap12:operation soapAction="urn:obterEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InterfaceExternaServiceHttpBinding" type="ns1:InterfaceExternaServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="setLog">
      <http:operation location="InterfaceExternaService/setLog" />
      <wsdl:input>
        <mime:content part="setLog" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="setLog" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtemHistoricoDia">
      <http:operation location="InterfaceExternaService/obtemHistoricoDia" />
      <wsdl:input>
        <mime:content part="obtemHistoricoDia" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="obtemHistoricoDia" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaVeiculos">
      <http:operation location="InterfaceExternaService/listaVeiculos" />
      <wsdl:input>
        <mime:content part="listaVeiculos" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="listaVeiculos" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoPlaca">
      <http:operation location="InterfaceExternaService/obterUltimaPosicaoPlaca" />
      <wsdl:input>
        <mime:content part="obterUltimaPosicaoPlaca" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="obterUltimaPosicaoPlaca" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoData">
      <http:operation location="InterfaceExternaService/obterUltimaPosicaoData" />
      <wsdl:input>
        <mime:content part="obterUltimaPosicaoData" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="obterUltimaPosicaoData" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoEvento">
      <http:operation location="InterfaceExternaService/obterUltimaPosicaoEvento" />
      <wsdl:input>
        <mime:content part="obterUltimaPosicaoEvento" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="obterUltimaPosicaoEvento" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterControleDiesel">
      <http:operation location="InterfaceExternaService/obterControleDiesel" />
      <wsdl:input>
        <mime:content part="obterControleDiesel" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="obterControleDiesel" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDominiosComponentes">
      <http:operation location="InterfaceExternaService/obterDominiosComponentes" />
      <wsdl:input>
        <mime:content part="obterDominiosComponentes" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="obterDominiosComponentes" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicao">
      <http:operation location="InterfaceExternaService/obterUltimaPosicao" />
      <wsdl:input>
        <mime:content part="obterUltimaPosicao" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="obterUltimaPosicao" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comandoSirene">
      <http:operation location="InterfaceExternaService/comandoSirene" />
      <wsdl:input>
        <mime:content part="comandoSirene" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="comandoSirene" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterEventosVelocidade">
      <http:operation location="InterfaceExternaService/obterEventosVelocidade" />
      <wsdl:input>
        <mime:content part="obterEventosVelocidade" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="obterEventosVelocidade" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterUltimaPosicaoNumero">
      <http:operation location="InterfaceExternaService/obterUltimaPosicaoNumero" />
      <wsdl:input>
        <mime:content part="obterUltimaPosicaoNumero" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="obterUltimaPosicaoNumero" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendCommand">
      <http:operation location="InterfaceExternaService/sendCommand" />
      <wsdl:input>
        <mime:content part="sendCommand" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="sendCommand" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="detalheVeiculo">
      <http:operation location="InterfaceExternaService/detalheVeiculo" />
      <wsdl:input>
        <mime:content part="detalheVeiculo" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="detalheVeiculo" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaIDVeiculos">
      <http:operation location="InterfaceExternaService/listaIDVeiculos" />
      <wsdl:input>
        <mime:content part="listaIDVeiculos" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="listaIDVeiculos" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterEventosPosicao">
      <http:operation location="InterfaceExternaService/obterEventosPosicao" />
      <wsdl:input>
        <mime:content part="obterEventosPosicao" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="obterEventosPosicao" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comandoBloqueio">
      <http:operation location="InterfaceExternaService/comandoBloqueio" />
      <wsdl:input>
        <mime:content part="comandoBloqueio" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="comandoBloqueio" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterEventos">
      <http:operation location="InterfaceExternaService/obterEventos" />
      <wsdl:input>
        <mime:content part="obterEventos" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="obterEventos" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InterfaceExternaService">
    <wsdl:port name="InterfaceExternaServiceSOAP11port_http" binding="ns1:InterfaceExternaServiceSOAP11Binding">
      <soap:address location="http://ws1.1gps.com.br:80/services/InterfaceExternaService" />
    </wsdl:port>
    <wsdl:port name="InterfaceExternaServiceSOAP12port_http" binding="ns1:InterfaceExternaServiceSOAP12Binding">
      <soap12:address location="http://ws1.1gps.com.br:80/services/InterfaceExternaService" />
    </wsdl:port>
    <wsdl:port name="InterfaceExternaServiceHttpport" binding="ns1:InterfaceExternaServiceHttpBinding">
      <http:address location="http://ws1.1gps.com.br:80/services/InterfaceExternaService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>