Servicos/Service References/ServicoELT/ELTAverbaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.eltseg01.com.br/ELTAverbaService/ELTAverbaService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="RemoteFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileByteStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CNPJ" nillable="true" type="xs:string" />
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="Length" type="xs:long" />
  <xs:element name="RespostaProcessamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CTE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataHora" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Protocolo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Resultado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>