Servicos/Service References/TresSTecnologia/data_export.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://servicos.3stecnologia.com.br/data_export" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servicos.3stecnologia.com.br/data_export" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://servicos.3stecnologia.com.br/data_export">
      <s:element name="ValidaLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidaLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaVeiculos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaVeiculosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaVeiculosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaClientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaClientesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaSensores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaSensoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaSensoresResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaDistanciaVeiculo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaDistanciaVeiculoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaDistanciaVeiculoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaDistanciaVeiculos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaDistanciaVeiculosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaDistanciaVeiculosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaUtilizacaoVeiculo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaUtilizacaoVeiculoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaUtilizacaoVeiculoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoPosicao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoPosicaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HistoricoPosicaoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoPosicaoCompleto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoPosicaoCompletoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HistoricoPosicaoCompletoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoTemperatura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoTemperaturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HistoricoTemperaturaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoSensor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idSensor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="blnLogradouro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoSensorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HistoricoSensorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoOcorrenciaSensor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idSensor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="blnLogradouro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoOcorrenciaSensorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HistoricoOcorrenciaSensorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoOcorrenciaVelocidade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="blnLogradouro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoOcorrenciaVelocidadeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HistoricoOcorrenciaVelocidadeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoOcorrenciaAlvo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="blnLogradouro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoOcorrenciaAlvoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HistoricoOcorrenciaAlvoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaUltimaPosicaoVeiculos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaUltimaPosicaoVeiculosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaUltimaPosicaoVeiculosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaUltimaPosicaoVeiculo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaUltimaPosicaoVeiculoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaUltimaPosicaoVeiculoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaUltimaPosicaoVeiculoPlaca">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Placa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaUltimaPosicaoVeiculoPlacaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaUltimaPosicaoVeiculoPlacaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaCoordenadaVeiculo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaCoordenadaVeiculoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaCoordenadaVeiculoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaDadosPosicao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idGateway" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaDadosPosicaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaDadosPosicaoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoMensagemEspecial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoMensagemEspecialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HistoricoMensagemEspecialResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoMensagemTerminal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoMensagemTerminalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HistoricoMensagemTerminalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaFormularios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="blnTipoFormulario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaFormulariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaFormulariosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaFormulariosGrupo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaFormulariosGrupoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaFormulariosGrupoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaCamposFormulario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idFormulario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaCamposFormularioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaCamposFormularioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaDadosMensagemTerminal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idMensagem" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaDadosMensagemTerminalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaDadosMensagemTerminalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaPOI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Categoria" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaPOIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaPOIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaLinkMapa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Zoom" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaLinkMapaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaLinkMapaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaStatusComunicacao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEquipamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoStatus" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdeRegistro" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaStatusComunicacaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaStatusComunicacaoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaDados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idEquipamento" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idPosicao" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idSensor" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idMensagem" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idTelemetria" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idAlertaVelocidade" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idAlertaSensor" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idAlertaTemperatura" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idAlertaTempoOperacaoContinua" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idAlertaJornadaDiaria" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idAlertaMovimentacaoindevida" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idCercaAlvo" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idCercaCheckPoint" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idCercaLogradouro" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idCercaPoligonal" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idCercaRota" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaDadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaDadosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaGrupos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaGruposResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaGruposResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaEnviosDeComandos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idVeiculo" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idComando" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaEnviosDeComandosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaEnviosDeComandosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaGruposFormularios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaGruposFormulariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaGruposFormulariosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaGruposVeiculos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idGrupo" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idVeiculo" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaGruposVeiculosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaGruposVeiculosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SincronizaGrupoMacro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SincronizaGrupoMacroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SincronizaGrupoMacroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidaLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ValidaLogin" />
  </wsdl:message>
  <wsdl:message name="ValidaLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ValidaLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ListaVeiculosSoapIn">
    <wsdl:part name="parameters" element="tns:ListaVeiculos" />
  </wsdl:message>
  <wsdl:message name="ListaVeiculosSoapOut">
    <wsdl:part name="parameters" element="tns:ListaVeiculosResponse" />
  </wsdl:message>
  <wsdl:message name="ListaClientesSoapIn">
    <wsdl:part name="parameters" element="tns:ListaClientes" />
  </wsdl:message>
  <wsdl:message name="ListaClientesSoapOut">
    <wsdl:part name="parameters" element="tns:ListaClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ListaSensoresSoapIn">
    <wsdl:part name="parameters" element="tns:ListaSensores" />
  </wsdl:message>
  <wsdl:message name="ListaSensoresSoapOut">
    <wsdl:part name="parameters" element="tns:ListaSensoresResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaDistanciaVeiculoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaDistanciaVeiculo" />
  </wsdl:message>
  <wsdl:message name="RetornaDistanciaVeiculoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaDistanciaVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaDistanciaVeiculosSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaDistanciaVeiculos" />
  </wsdl:message>
  <wsdl:message name="RetornaDistanciaVeiculosSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaDistanciaVeiculosResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaUtilizacaoVeiculoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaUtilizacaoVeiculo" />
  </wsdl:message>
  <wsdl:message name="RetornaUtilizacaoVeiculoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaUtilizacaoVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="HistoricoPosicaoSoapIn">
    <wsdl:part name="parameters" element="tns:HistoricoPosicao" />
  </wsdl:message>
  <wsdl:message name="HistoricoPosicaoSoapOut">
    <wsdl:part name="parameters" element="tns:HistoricoPosicaoResponse" />
  </wsdl:message>
  <wsdl:message name="HistoricoPosicaoCompletoSoapIn">
    <wsdl:part name="parameters" element="tns:HistoricoPosicaoCompleto" />
  </wsdl:message>
  <wsdl:message name="HistoricoPosicaoCompletoSoapOut">
    <wsdl:part name="parameters" element="tns:HistoricoPosicaoCompletoResponse" />
  </wsdl:message>
  <wsdl:message name="HistoricoTemperaturaSoapIn">
    <wsdl:part name="parameters" element="tns:HistoricoTemperatura" />
  </wsdl:message>
  <wsdl:message name="HistoricoTemperaturaSoapOut">
    <wsdl:part name="parameters" element="tns:HistoricoTemperaturaResponse" />
  </wsdl:message>
  <wsdl:message name="HistoricoSensorSoapIn">
    <wsdl:part name="parameters" element="tns:HistoricoSensor" />
  </wsdl:message>
  <wsdl:message name="HistoricoSensorSoapOut">
    <wsdl:part name="parameters" element="tns:HistoricoSensorResponse" />
  </wsdl:message>
  <wsdl:message name="HistoricoOcorrenciaSensorSoapIn">
    <wsdl:part name="parameters" element="tns:HistoricoOcorrenciaSensor" />
  </wsdl:message>
  <wsdl:message name="HistoricoOcorrenciaSensorSoapOut">
    <wsdl:part name="parameters" element="tns:HistoricoOcorrenciaSensorResponse" />
  </wsdl:message>
  <wsdl:message name="HistoricoOcorrenciaVelocidadeSoapIn">
    <wsdl:part name="parameters" element="tns:HistoricoOcorrenciaVelocidade" />
  </wsdl:message>
  <wsdl:message name="HistoricoOcorrenciaVelocidadeSoapOut">
    <wsdl:part name="parameters" element="tns:HistoricoOcorrenciaVelocidadeResponse" />
  </wsdl:message>
  <wsdl:message name="HistoricoOcorrenciaAlvoSoapIn">
    <wsdl:part name="parameters" element="tns:HistoricoOcorrenciaAlvo" />
  </wsdl:message>
  <wsdl:message name="HistoricoOcorrenciaAlvoSoapOut">
    <wsdl:part name="parameters" element="tns:HistoricoOcorrenciaAlvoResponse" />
  </wsdl:message>
  <wsdl:message name="ListaUltimaPosicaoVeiculosSoapIn">
    <wsdl:part name="parameters" element="tns:ListaUltimaPosicaoVeiculos" />
  </wsdl:message>
  <wsdl:message name="ListaUltimaPosicaoVeiculosSoapOut">
    <wsdl:part name="parameters" element="tns:ListaUltimaPosicaoVeiculosResponse" />
  </wsdl:message>
  <wsdl:message name="ListaUltimaPosicaoVeiculoSoapIn">
    <wsdl:part name="parameters" element="tns:ListaUltimaPosicaoVeiculo" />
  </wsdl:message>
  <wsdl:message name="ListaUltimaPosicaoVeiculoSoapOut">
    <wsdl:part name="parameters" element="tns:ListaUltimaPosicaoVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ListaUltimaPosicaoVeiculoPlacaSoapIn">
    <wsdl:part name="parameters" element="tns:ListaUltimaPosicaoVeiculoPlaca" />
  </wsdl:message>
  <wsdl:message name="ListaUltimaPosicaoVeiculoPlacaSoapOut">
    <wsdl:part name="parameters" element="tns:ListaUltimaPosicaoVeiculoPlacaResponse" />
  </wsdl:message>
  <wsdl:message name="ListaCoordenadaVeiculoSoapIn">
    <wsdl:part name="parameters" element="tns:ListaCoordenadaVeiculo" />
  </wsdl:message>
  <wsdl:message name="ListaCoordenadaVeiculoSoapOut">
    <wsdl:part name="parameters" element="tns:ListaCoordenadaVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaDadosPosicaoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaDadosPosicao" />
  </wsdl:message>
  <wsdl:message name="RetornaDadosPosicaoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaDadosPosicaoResponse" />
  </wsdl:message>
  <wsdl:message name="HistoricoMensagemEspecialSoapIn">
    <wsdl:part name="parameters" element="tns:HistoricoMensagemEspecial" />
  </wsdl:message>
  <wsdl:message name="HistoricoMensagemEspecialSoapOut">
    <wsdl:part name="parameters" element="tns:HistoricoMensagemEspecialResponse" />
  </wsdl:message>
  <wsdl:message name="HistoricoMensagemTerminalSoapIn">
    <wsdl:part name="parameters" element="tns:HistoricoMensagemTerminal" />
  </wsdl:message>
  <wsdl:message name="HistoricoMensagemTerminalSoapOut">
    <wsdl:part name="parameters" element="tns:HistoricoMensagemTerminalResponse" />
  </wsdl:message>
  <wsdl:message name="ListaFormulariosSoapIn">
    <wsdl:part name="parameters" element="tns:ListaFormularios" />
  </wsdl:message>
  <wsdl:message name="ListaFormulariosSoapOut">
    <wsdl:part name="parameters" element="tns:ListaFormulariosResponse" />
  </wsdl:message>
  <wsdl:message name="ListaFormulariosGrupoSoapIn">
    <wsdl:part name="parameters" element="tns:ListaFormulariosGrupo" />
  </wsdl:message>
  <wsdl:message name="ListaFormulariosGrupoSoapOut">
    <wsdl:part name="parameters" element="tns:ListaFormulariosGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="ListaCamposFormularioSoapIn">
    <wsdl:part name="parameters" element="tns:ListaCamposFormulario" />
  </wsdl:message>
  <wsdl:message name="ListaCamposFormularioSoapOut">
    <wsdl:part name="parameters" element="tns:ListaCamposFormularioResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaDadosMensagemTerminalSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaDadosMensagemTerminal" />
  </wsdl:message>
  <wsdl:message name="RetornaDadosMensagemTerminalSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaDadosMensagemTerminalResponse" />
  </wsdl:message>
  <wsdl:message name="ListaPOISoapIn">
    <wsdl:part name="parameters" element="tns:ListaPOI" />
  </wsdl:message>
  <wsdl:message name="ListaPOISoapOut">
    <wsdl:part name="parameters" element="tns:ListaPOIResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaLinkMapaSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaLinkMapa" />
  </wsdl:message>
  <wsdl:message name="RetornaLinkMapaSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaLinkMapaResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaStatusComunicacaoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaStatusComunicacao" />
  </wsdl:message>
  <wsdl:message name="RetornaStatusComunicacaoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaStatusComunicacaoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaDadosSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaDados" />
  </wsdl:message>
  <wsdl:message name="RetornaDadosSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaDadosResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaGruposSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaGrupos" />
  </wsdl:message>
  <wsdl:message name="RetornaGruposSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaGruposResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaEnviosDeComandosSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaEnviosDeComandos" />
  </wsdl:message>
  <wsdl:message name="RetornaEnviosDeComandosSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaEnviosDeComandosResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaGruposFormulariosSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaGruposFormularios" />
  </wsdl:message>
  <wsdl:message name="RetornaGruposFormulariosSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaGruposFormulariosResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaGruposVeiculosSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaGruposVeiculos" />
  </wsdl:message>
  <wsdl:message name="RetornaGruposVeiculosSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaGruposVeiculosResponse" />
  </wsdl:message>
  <wsdl:message name="SincronizaGrupoMacroSoapIn">
    <wsdl:part name="parameters" element="tns:SincronizaGrupoMacro" />
  </wsdl:message>
  <wsdl:message name="SincronizaGrupoMacroSoapOut">
    <wsdl:part name="parameters" element="tns:SincronizaGrupoMacroResponse" />
  </wsdl:message>
  <wsdl:portType name="Data_ExportSoap">
    <wsdl:operation name="ValidaLogin">
      <wsdl:input message="tns:ValidaLoginSoapIn" />
      <wsdl:output message="tns:ValidaLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaVeiculos">
      <wsdl:input message="tns:ListaVeiculosSoapIn" />
      <wsdl:output message="tns:ListaVeiculosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaClientes">
      <wsdl:input message="tns:ListaClientesSoapIn" />
      <wsdl:output message="tns:ListaClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaSensores">
      <wsdl:input message="tns:ListaSensoresSoapIn" />
      <wsdl:output message="tns:ListaSensoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaDistanciaVeiculo">
      <wsdl:input message="tns:RetornaDistanciaVeiculoSoapIn" />
      <wsdl:output message="tns:RetornaDistanciaVeiculoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaDistanciaVeiculos">
      <wsdl:input message="tns:RetornaDistanciaVeiculosSoapIn" />
      <wsdl:output message="tns:RetornaDistanciaVeiculosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaUtilizacaoVeiculo">
      <wsdl:input message="tns:RetornaUtilizacaoVeiculoSoapIn" />
      <wsdl:output message="tns:RetornaUtilizacaoVeiculoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HistoricoPosicao">
      <wsdl:input message="tns:HistoricoPosicaoSoapIn" />
      <wsdl:output message="tns:HistoricoPosicaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HistoricoPosicaoCompleto">
      <wsdl:input message="tns:HistoricoPosicaoCompletoSoapIn" />
      <wsdl:output message="tns:HistoricoPosicaoCompletoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HistoricoTemperatura">
      <wsdl:input message="tns:HistoricoTemperaturaSoapIn" />
      <wsdl:output message="tns:HistoricoTemperaturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HistoricoSensor">
      <wsdl:input message="tns:HistoricoSensorSoapIn" />
      <wsdl:output message="tns:HistoricoSensorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HistoricoOcorrenciaSensor">
      <wsdl:input message="tns:HistoricoOcorrenciaSensorSoapIn" />
      <wsdl:output message="tns:HistoricoOcorrenciaSensorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HistoricoOcorrenciaVelocidade">
      <wsdl:input message="tns:HistoricoOcorrenciaVelocidadeSoapIn" />
      <wsdl:output message="tns:HistoricoOcorrenciaVelocidadeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HistoricoOcorrenciaAlvo">
      <wsdl:input message="tns:HistoricoOcorrenciaAlvoSoapIn" />
      <wsdl:output message="tns:HistoricoOcorrenciaAlvoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaUltimaPosicaoVeiculos">
      <wsdl:input message="tns:ListaUltimaPosicaoVeiculosSoapIn" />
      <wsdl:output message="tns:ListaUltimaPosicaoVeiculosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaUltimaPosicaoVeiculo">
      <wsdl:input message="tns:ListaUltimaPosicaoVeiculoSoapIn" />
      <wsdl:output message="tns:ListaUltimaPosicaoVeiculoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaUltimaPosicaoVeiculoPlaca">
      <wsdl:input message="tns:ListaUltimaPosicaoVeiculoPlacaSoapIn" />
      <wsdl:output message="tns:ListaUltimaPosicaoVeiculoPlacaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaCoordenadaVeiculo">
      <wsdl:input message="tns:ListaCoordenadaVeiculoSoapIn" />
      <wsdl:output message="tns:ListaCoordenadaVeiculoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaDadosPosicao">
      <wsdl:input message="tns:RetornaDadosPosicaoSoapIn" />
      <wsdl:output message="tns:RetornaDadosPosicaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HistoricoMensagemEspecial">
      <wsdl:input message="tns:HistoricoMensagemEspecialSoapIn" />
      <wsdl:output message="tns:HistoricoMensagemEspecialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HistoricoMensagemTerminal">
      <wsdl:input message="tns:HistoricoMensagemTerminalSoapIn" />
      <wsdl:output message="tns:HistoricoMensagemTerminalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaFormularios">
      <wsdl:input message="tns:ListaFormulariosSoapIn" />
      <wsdl:output message="tns:ListaFormulariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaFormulariosGrupo">
      <wsdl:input message="tns:ListaFormulariosGrupoSoapIn" />
      <wsdl:output message="tns:ListaFormulariosGrupoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaCamposFormulario">
      <wsdl:input message="tns:ListaCamposFormularioSoapIn" />
      <wsdl:output message="tns:ListaCamposFormularioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaDadosMensagemTerminal">
      <wsdl:input message="tns:RetornaDadosMensagemTerminalSoapIn" />
      <wsdl:output message="tns:RetornaDadosMensagemTerminalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaPOI">
      <wsdl:input message="tns:ListaPOISoapIn" />
      <wsdl:output message="tns:ListaPOISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaLinkMapa">
      <wsdl:input message="tns:RetornaLinkMapaSoapIn" />
      <wsdl:output message="tns:RetornaLinkMapaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaStatusComunicacao">
      <wsdl:input message="tns:RetornaStatusComunicacaoSoapIn" />
      <wsdl:output message="tns:RetornaStatusComunicacaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaDados">
      <wsdl:input message="tns:RetornaDadosSoapIn" />
      <wsdl:output message="tns:RetornaDadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaGrupos">
      <wsdl:input message="tns:RetornaGruposSoapIn" />
      <wsdl:output message="tns:RetornaGruposSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaEnviosDeComandos">
      <wsdl:input message="tns:RetornaEnviosDeComandosSoapIn" />
      <wsdl:output message="tns:RetornaEnviosDeComandosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaGruposFormularios">
      <wsdl:input message="tns:RetornaGruposFormulariosSoapIn" />
      <wsdl:output message="tns:RetornaGruposFormulariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaGruposVeiculos">
      <wsdl:input message="tns:RetornaGruposVeiculosSoapIn" />
      <wsdl:output message="tns:RetornaGruposVeiculosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SincronizaGrupoMacro">
      <wsdl:input message="tns:SincronizaGrupoMacroSoapIn" />
      <wsdl:output message="tns:SincronizaGrupoMacroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Data_ExportSoap" type="tns:Data_ExportSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidaLogin">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ValidaLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaVeiculos">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaVeiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaClientes">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaSensores">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaSensores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDistanciaVeiculo">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaDistanciaVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDistanciaVeiculos">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaDistanciaVeiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaUtilizacaoVeiculo">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaUtilizacaoVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoPosicao">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoPosicao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoPosicaoCompleto">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoPosicaoCompleto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoTemperatura">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoTemperatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoSensor">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoSensor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoOcorrenciaSensor">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoOcorrenciaSensor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoOcorrenciaVelocidade">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoOcorrenciaVelocidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoOcorrenciaAlvo">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoOcorrenciaAlvo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaUltimaPosicaoVeiculos">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaUltimaPosicaoVeiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaUltimaPosicaoVeiculo">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaUltimaPosicaoVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaUltimaPosicaoVeiculoPlaca">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaUltimaPosicaoVeiculoPlaca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaCoordenadaVeiculo">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaCoordenadaVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDadosPosicao">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaDadosPosicao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoMensagemEspecial">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoMensagemEspecial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoMensagemTerminal">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoMensagemTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaFormularios">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaFormularios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaFormulariosGrupo">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaFormulariosGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaCamposFormulario">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaCamposFormulario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDadosMensagemTerminal">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaDadosMensagemTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPOI">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaPOI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaLinkMapa">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaLinkMapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaStatusComunicacao">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaStatusComunicacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDados">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaDados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaGrupos">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaGrupos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaEnviosDeComandos">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaEnviosDeComandos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaGruposFormularios">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaGruposFormularios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaGruposVeiculos">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaGruposVeiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SincronizaGrupoMacro">
      <soap:operation soapAction="http://servicos.3stecnologia.com.br/data_export/SincronizaGrupoMacro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Data_ExportSoap12" type="tns:Data_ExportSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidaLogin">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ValidaLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaVeiculos">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaVeiculos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaClientes">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaSensores">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaSensores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDistanciaVeiculo">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaDistanciaVeiculo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDistanciaVeiculos">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaDistanciaVeiculos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaUtilizacaoVeiculo">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaUtilizacaoVeiculo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoPosicao">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoPosicao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoPosicaoCompleto">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoPosicaoCompleto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoTemperatura">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoTemperatura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoSensor">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoSensor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoOcorrenciaSensor">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoOcorrenciaSensor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoOcorrenciaVelocidade">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoOcorrenciaVelocidade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoOcorrenciaAlvo">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoOcorrenciaAlvo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaUltimaPosicaoVeiculos">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaUltimaPosicaoVeiculos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaUltimaPosicaoVeiculo">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaUltimaPosicaoVeiculo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaUltimaPosicaoVeiculoPlaca">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaUltimaPosicaoVeiculoPlaca" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaCoordenadaVeiculo">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaCoordenadaVeiculo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDadosPosicao">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaDadosPosicao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoMensagemEspecial">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoMensagemEspecial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoMensagemTerminal">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/HistoricoMensagemTerminal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaFormularios">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaFormularios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaFormulariosGrupo">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaFormulariosGrupo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaCamposFormulario">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaCamposFormulario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDadosMensagemTerminal">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaDadosMensagemTerminal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPOI">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/ListaPOI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaLinkMapa">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaLinkMapa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaStatusComunicacao">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaStatusComunicacao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDados">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaDados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaGrupos">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaGrupos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaEnviosDeComandos">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaEnviosDeComandos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaGruposFormularios">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaGruposFormularios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaGruposVeiculos">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/RetornaGruposVeiculos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SincronizaGrupoMacro">
      <soap12:operation soapAction="http://servicos.3stecnologia.com.br/data_export/SincronizaGrupoMacro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Data_Export">
    <wsdl:port name="Data_ExportSoap" binding="tns:Data_ExportSoap">
      <soap:address location="https://3stecnologia.eti.br/data_export/data_export.asmx" />
    </wsdl:port>
    <wsdl:port name="Data_ExportSoap12" binding="tns:Data_ExportSoap12">
      <soap12:address location="https://3stecnologia.eti.br/data_export/data_export.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>