WebApplication1/Service References/ServicoCTeTransportador/CTe2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3521/Transportador/CTe.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RetornoOfArrayOfintuHEDJ7Dj">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfint" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Objeto" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfArrayOfintuHEDJ7Dj" nillable="true" type="tns:RetornoOfArrayOfintuHEDJ7Dj" />
  <xs:complexType name="RetornoOfArrayOfRetornoConsultaXMLlQrtB7Zh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRetornoConsultaXML" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:ArrayOfRetornoConsultaXML" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfArrayOfRetornoConsultaXMLlQrtB7Zh" nillable="true" type="tns:RetornoOfArrayOfRetornoConsultaXMLlQrtB7Zh" />
  <xs:complexType name="ArrayOfRetornoConsultaXML">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetornoConsultaXML" nillable="true" type="tns:RetornoConsultaXML" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetornoConsultaXML" nillable="true" type="tns:ArrayOfRetornoConsultaXML" />
  <xs:complexType name="RetornoConsultaXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element minOccurs="0" name="TipoXML" type="tns:TipoXML" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoConsultaXML" nillable="true" type="tns:RetornoConsultaXML" />
  <xs:simpleType name="TipoXML">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Autorizacao" />
      <xs:enumeration value="Cancelamento" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoXML" nillable="true" type="tns:TipoXML" />
</xs:schema>