SGT.WebAdmin/Service References/ConsultaCTe/CosultaCTe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CosultaCTe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
      <xsd:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
      <xsd:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" />
      <xsd:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
      <xsd:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
      <xsd:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
      <xsd:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
      <xsd:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
      <xsd:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd12" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" />
      <xsd:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ICMS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICosultaCTe_SolicitarRequisicaoSefaz_InputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarRequisicaoSefaz" />
  </wsdl:message>
  <wsdl:message name="ICosultaCTe_SolicitarRequisicaoSefaz_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarRequisicaoSefazResponse" />
  </wsdl:message>
  <wsdl:message name="ICosultaCTe_ConsultarSefaz_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSefaz" />
  </wsdl:message>
  <wsdl:message name="ICosultaCTe_ConsultarSefaz_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSefazResponse" />
  </wsdl:message>
  <wsdl:portType name="ICosultaCTe">
    <wsdl:operation name="SolicitarRequisicaoSefaz">
      <wsdl:input wsaw:Action="http://tempuri.org/ICosultaCTe/SolicitarRequisicaoSefaz" message="tns:ICosultaCTe_SolicitarRequisicaoSefaz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICosultaCTe/SolicitarRequisicaoSefazResponse" message="tns:ICosultaCTe_SolicitarRequisicaoSefaz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSefaz">
      <wsdl:input wsaw:Action="http://tempuri.org/ICosultaCTe/ConsultarSefaz" message="tns:ICosultaCTe_ConsultarSefaz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICosultaCTe/ConsultarSefazResponse" message="tns:ICosultaCTe_ConsultarSefaz_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICosultaCTe" type="tns:ICosultaCTe">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitarRequisicaoSefaz">
      <soap:operation soapAction="http://tempuri.org/ICosultaCTe/SolicitarRequisicaoSefaz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSefaz">
      <soap:operation soapAction="http://tempuri.org/ICosultaCTe/ConsultarSefaz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CosultaCTe">
    <wsdl:port name="BasicHttpBinding_ICosultaCTe" binding="tns:BasicHttpBinding_ICosultaCTe">
      <soap:address location="http://localhost:5146/CosultaCTe.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>