SGT.WebAdmin/Service References/ConsultaCTe/CosultaCTe58.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ICMS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ICMS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ICMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aliquota" type="xs:decimal" />
      <xs:element minOccurs="0" name="CST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExibirNaDacte" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncluirICMSBC" type="xs:boolean" />
      <xs:element minOccurs="0" name="ObservacaoCTe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentualInclusaoBC" type="xs:decimal" />
      <xs:element minOccurs="0" name="PercentualReducaoBC" type="xs:decimal" />
      <xs:element minOccurs="0" name="SimplesNacional" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValorBaseCalculoICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCreditoPresumido" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalTributos" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ICMS" nillable="true" type="tns:ICMS" />
</xs:schema>