Servicos/Service References/ServicoSAP_ST/SI_Criar_Adiantamento_Sync_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://jsl.com.br/Criar_Adiantamento_FI" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_Criar_Adiantamento_Sync_OUT" targetNamespace="http://jsl.com.br/Criar_Adiantamento_FI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_Criar_Adiantamento_Sync_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="http://jsl.com.br/Criar_Adiantamento_FI" targetNamespace="http://jsl.com.br/Criar_Adiantamento_FI" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_Criar_Adiantamento_req" type="p1:DT_Criar_Adiantamento_req" />
      <xsd:element name="MT_Criar_Adiantamento_resp" type="p1:DT_Criar_Adiantamento_resp" />
      <xsd:complexType name="DT_Criar_Adiantamento_req">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">b2c62344ccc111e498920000332d37ea</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="T_HEADER">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">afde7ff8aba911e4babc90004ec42afd</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Item">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">afde7ff7aba911e4953190004ec42afd</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="DOC_CONT">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5f447b3aaba811e4913f90004ec42afd</xsd:appinfo>
                          <xsd:documentation>Número do documento contábil criado no V9</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="DAT_DOC" type="xsd:date">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5f447b3baba811e499a090004ec42afd</xsd:appinfo>
                          <xsd:documentation>DATA_EMISSAO</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="TIPO_DOC">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5f447b3caba811e4bd1890004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “ST”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="EMPRESA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5f447b3daba811e494ca90004ec42afd</xsd:appinfo>
                          <xsd:documentation>PONTO_OPERAÇAO_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="DATA_LANC" type="xsd:date">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5f447b3eaba811e4b5de90004ec42afd</xsd:appinfo>
                          <xsd:documentation>DATA_VENCTO</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MOEDA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5f447b3faba811e493a890004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “BRL”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="5" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="REFERENCIA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5f447b40aba811e497dc90004ec42afd</xsd:appinfo>
                          <xsd:documentation>NUM_CONTABIL</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="16" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TEXTO_CAB">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5f447b41aba811e4996590004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “ADIA RECIBO (NUM_CONTABIL)”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="25" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="TEXTO_COMP">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5f447b42aba811e4ad1190004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “SALDO RECIBO (NUM_CONTABIL)”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="50" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NUM_FILIAL">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5f447b43aba811e4b25090004ec42afd</xsd:appinfo>
                          <xsd:documentation>PONTO_OPERACAO_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="T_ITEM_CARUANA">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">4c09c711abaa11e48bac90004ec42afd</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Item">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">4c09c710abaa11e4caab90004ec42afd</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="CHAVE_LANC">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">afde7ff9aba911e4970490004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “31”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="COD_CARTAO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">afde7ffaaba911e49e7490004ec42afd</xsd:appinfo>
                          <xsd:documentation>CARTAO_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="17" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="MONTANTE">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">afde7ffbaba911e498b690004ec42afd</xsd:appinfo>
                          <xsd:documentation>VALOR_LANC_RS</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="13" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LOCAL_NEG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">afde7ffcaba911e4b78b90004ec42afd</xsd:appinfo>
                          <xsd:documentation>PONTO_OPERACAO_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="COND_PAG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">afde7ffdaba911e4c5ff90004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “Z001”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="DATA_BASE" type="xsd:date">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">afde7ffeaba911e4a22290004ec42afd</xsd:appinfo>
                          <xsd:documentation>DTPREVPGTO</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="BLOQ_PAG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">4c09c70fabaa11e4b38690004ec42afd</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="FORMA_PAG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">afde7fffaba911e481c490004ec42afd</xsd:appinfo>
                          <xsd:documentation>CDFORMAPGTO</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="REF_PAG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">afde8000aba911e4cf4490004ec42afd</xsd:appinfo>
                          <xsd:documentation>NUM_CONTABIL</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="30" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ATRIBUICAO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">afde8001aba911e4b75e90004ec42afd</xsd:appinfo>
                          <xsd:documentation>COLABORADOR_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="18" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BANCO_EMPRESA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">afde8002aba911e48e0d90004ec42afd</xsd:appinfo>
                          <xsd:documentation>BANCO_ID
CONTA DA EMPRESA PARA PAGAMENTO</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="5" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ID_CONTA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">afde8003aba911e4a5d590004ec42afd</xsd:appinfo>
                          <xsd:documentation>BANCO_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="5" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TEXTO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">afde8004aba911e4cb8590004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “ADIANTAMENTO RECIBO (NUM_CONTABIL)”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="50" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="T_ITEM_PROP">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">f04b2020abaa11e4c71b90004ec42afd</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Item">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f04b201fabaa11e48b4e90004ec42afd</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="CHAVE_LANC">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">f04b2013abaa11e4b35290004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “31”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="COD_PROP">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">f04b2014abaa11e4c6ec90004ec42afd</xsd:appinfo>
                          <xsd:documentation>FORNECEDOR_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="17" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="MONTANTE">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">f04b2015abaa11e4a4ed90004ec42afd</xsd:appinfo>
                          <xsd:documentation>VALOR_LANC_RS
DEVERÁ CALCULAR O VALOR DO RECIBO ORGINAL V9 – VALOR_LANC_RS (NESTE CAMPO DEVERÁ RECEBER O SALDO)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="13" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LOCAL_NEGOCIO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">f04b2016abaa11e4af1990004ec42afd</xsd:appinfo>
                          <xsd:documentation>PONTO_OPERACAO_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="COND_PAG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">f04b2017abaa11e485a190004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “Z001”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="DATA_BASE" type="xsd:date">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">f04b2018abaa11e49cf690004ec42afd</xsd:appinfo>
                          <xsd:documentation>DTPREVPGTO</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="BLOQ_PAG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">f04b2019abaa11e4c8b590004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “J”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="FORMA_PAG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">944bdc12abab11e4ce9290004ec42afd</xsd:appinfo>
                          <xsd:documentation>CDFORMAPGTO</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="REF_PAG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">f04b201aabaa11e494c890004ec42afd</xsd:appinfo>
                          <xsd:documentation>NUM_CONTABIL</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="30" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ATRIBUICAO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">f04b201babaa11e48d3a90004ec42afd</xsd:appinfo>
                          <xsd:documentation>COLABORADOR_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="18" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BANCO_EMPRESA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">f04b201cabaa11e4963990004ec42afd</xsd:appinfo>
                          <xsd:documentation>BANCO_ID
CONTA DA EMPRESA PARA PAGAMENTO</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="5" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ID_CONTA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">f04b201dabaa11e4862290004ec42afd</xsd:appinfo>
                          <xsd:documentation>BANCO_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="5" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TEXTO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">f04b201eabaa11e4c44d90004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “BAIXA RECIBO (NUM_CONTABIL)”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="50" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Criar_Adiantamento_resp">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">742c47beabb811e484210000332d37ea</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="T_RETURN">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Item">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="TIPO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">730ef31eabac11e4b0db90004ec42afd</xsd:appinfo>
                          <xsd:documentation>E – Erro
S – Sucesso</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="EMPRESA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">730ef31fabac11e4cf8a90004ec42afd</xsd:appinfo>
                          <xsd:documentation>Empresa lançada</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="DOC_CONT">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">730ef320abac11e481b090004ec42afd</xsd:appinfo>
                          <xsd:documentation>Documento SAP criado – ST</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AREA_FUNC">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">730ef321abac11e4c64d90004ec42afd</xsd:appinfo>
                          <xsd:documentation>Área da mensagem</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="20" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="NUM_MSG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">730ef322abac11e4cc0290004ec42afd</xsd:appinfo>
                          <xsd:documentation>Número da mensagem</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="TEXTO_MSG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">730ef323abac11e4cc3f90004ec42afd</xsd:appinfo>
                          <xsd:documentation>Descrição da mensagem</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="73" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Criar_Adiantamento_req">
    <wsdl:documentation />
    <wsdl:part name="MT_Criar_Adiantamento_req" element="p1:MT_Criar_Adiantamento_req" />
  </wsdl:message>
  <wsdl:message name="MT_Criar_Adiantamento_resp">
    <wsdl:documentation />
    <wsdl:part name="MT_Criar_Adiantamento_resp" element="p1:MT_Criar_Adiantamento_resp" />
  </wsdl:message>
  <wsdl:portType name="SI_Criar_Adiantamento_Sync_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_Criar_Adiantamento_Sync_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_Criar_Adiantamento_Sync_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_Criar_Adiantamento_req" />
      <wsdl:output message="p1:MT_Criar_Adiantamento_resp" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_Criar_Adiantamento_Sync_OUTBinding" type="p1:SI_Criar_Adiantamento_Sync_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_Criar_Adiantamento_Sync_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_Criar_Adiantamento_Sync_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_Criar_Adiantamento_Sync_OUTBinding">
      <address location="http://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_JSL_FRETES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Criar_Adiantamento_Sync_OUT&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FCriar_Adiantamento_FI" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_Criar_Adiantamento_Sync_OUTBinding">
      <address location="https://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_JSL_FRETES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Criar_Adiantamento_Sync_OUT&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FCriar_Adiantamento_FI" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>