Servicos/Service References/ServicoPHContabil/IMetodosPHservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="IMetodosPHservice" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types />
  <message name="Checar0Request" />
  <message name="Checar0Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="Cadastrar1Request">
    <part name="Usuario" type="xs:string" />
    <part name="Senha" type="xs:string" />
    <part name="cpf_cnpj" type="xs:string" />
  </message>
  <message name="Cadastrar1Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="Gravar2Request">
    <part name="Usuario" type="xs:string" />
    <part name="Senha" type="xs:string" />
    <part name="Xml" type="xs:string" />
  </message>
  <message name="Gravar2Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="Consultar3Request">
    <part name="Usuario" type="xs:string" />
    <part name="Senha" type="xs:string" />
    <part name="Sistema" type="xs:string" />
  </message>
  <message name="Consultar3Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="Confirmar4Request">
    <part name="Usuario" type="xs:string" />
    <part name="Senha" type="xs:string" />
    <part name="Chave" type="xs:string" />
  </message>
  <message name="Confirmar4Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="ConsultarExtrato5Request">
    <part name="Usuario" type="xs:string" />
    <part name="Senha" type="xs:string" />
    <part name="AnoMesInicial" type="xs:int" />
    <part name="AnoMesFinal" type="xs:int" />
  </message>
  <message name="ConsultarExtrato5Response">
    <part name="return" type="xs:string" />
  </message>
  <portType name="IMetodosPH">
    <operation name="Checar">
      <input message="tns:Checar0Request" />
      <output message="tns:Checar0Response" />
    </operation>
    <operation name="Cadastrar">
      <input message="tns:Cadastrar1Request" />
      <output message="tns:Cadastrar1Response" />
    </operation>
    <operation name="Gravar">
      <input message="tns:Gravar2Request" />
      <output message="tns:Gravar2Response" />
    </operation>
    <operation name="Consultar">
      <input message="tns:Consultar3Request" />
      <output message="tns:Consultar3Response" />
    </operation>
    <operation name="Confirmar">
      <input message="tns:Confirmar4Request" />
      <output message="tns:Confirmar4Response" />
    </operation>
    <operation name="ConsultarExtrato">
      <input message="tns:ConsultarExtrato5Request" />
      <output message="tns:ConsultarExtrato5Response" />
    </operation>
  </portType>
  <binding name="IMetodosPHbinding" type="tns:IMetodosPH">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="Checar">
      <soap:operation soapAction="Servicos disponibilizados pela PH#Checar" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="Servicos disponibilizados pela PH" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="Servicos disponibilizados pela PH" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Cadastrar">
      <soap:operation soapAction="Servicos disponibilizados pela PH#Cadastrar" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="Servicos disponibilizados pela PH" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="Servicos disponibilizados pela PH" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Gravar">
      <soap:operation soapAction="Servicos disponibilizados pela PH#Gravar" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="Servicos disponibilizados pela PH" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="Servicos disponibilizados pela PH" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Consultar">
      <soap:operation soapAction="Servicos disponibilizados pela PH#Consultar" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="Servicos disponibilizados pela PH" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="Servicos disponibilizados pela PH" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Confirmar">
      <soap:operation soapAction="Servicos disponibilizados pela PH#Confirmar" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="Servicos disponibilizados pela PH" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="Servicos disponibilizados pela PH" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ConsultarExtrato">
      <soap:operation soapAction="Servicos disponibilizados pela PH#ConsultarExtrato" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="Servicos disponibilizados pela PH" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="Servicos disponibilizados pela PH" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="IMetodosPHservice">
    <port name="IMetodosPHPort" binding="tns:IMetodosPHbinding">
      <soap:address location="http://www.phnet.com.br/ws/webservice.dll/soap/IMetodosPH" />
    </port>
  </service>
</definitions>