WebApplication1/Service References/WSImpressaoAPTI/definitions4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://multicteone.cloudapp.net/Apti/WebServiceIntegracaoCTeHomologacao/ImpressaoCTe.svc/definitions?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://multicteone.cloudapp.net/Apti/WebServiceIntegracaoCTeHomologacao/ImpressaoCTe.svc/definitions?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
  <xs:import schemaLocation="http://multicteone.cloudapp.net/Apti/WebServiceIntegracaoCTeHomologacao/ImpressaoCTe.svc/definitions?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:element name="SolicitarImpressao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="codigosCTes" nillable="true" type="q1:ArrayOfint" />
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarImpressaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="SolicitarImpressaoResult" nillable="true" type="q2:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoImpressao" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="status" type="q3:StatusImpressaoCTe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="AlterarResult" nillable="true" type="q4:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterImpressoesPendentes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoEmpresaPai" type="xs:int" />
        <xs:element minOccurs="0" name="numeroUnidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterImpressoesPendentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="ObterImpressoesPendentesResult" nillable="true" type="q5:RetornoOfArrayOfRetornoImpressaolQrtB7Zh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>