WebApplication1/Service References/WSImpressaoAPTI/definitions1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RetornoOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfint" nillable="true" type="tns:RetornoOfint" />
  <xs:complexType name="RetornoOfArrayOfRetornoImpressaolQrtB7Zh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRetornoImpressao" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:ArrayOfRetornoImpressao" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfArrayOfRetornoImpressaolQrtB7Zh" nillable="true" type="tns:RetornoOfArrayOfRetornoImpressaolQrtB7Zh" />
  <xs:complexType name="ArrayOfRetornoImpressao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetornoImpressao" nillable="true" type="tns:RetornoImpressao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetornoImpressao" nillable="true" type="tns:ArrayOfRetornoImpressao" />
  <xs:complexType name="RetornoImpressao">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoImpressao" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroCTe" type="xs:int" />
      <xs:element minOccurs="0" name="PDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerieCTe" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoImpressao" nillable="true" type="tns:RetornoImpressao" />
</xs:schema>