Servicos/Service References/ServicoBalancaKIKI/IntegradorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Integrador" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Integrador" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ListaPesagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoRetorno" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DescricaoRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pesagens" nillable="true" type="tns:ArrayOfPesagem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaPesagem" nillable="true" type="tns:ListaPesagem" />
  <xs:complexType name="ArrayOfPesagem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pesagem" nillable="true" type="tns:Pesagem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPesagem" nillable="true" type="tns:ArrayOfPesagem" />
  <xs:complexType name="Pesagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brix" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCliente" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoMotorista" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoProduto" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoTransportadora" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CpfCnpjCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CpfCnpjTransportadora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CpfMotorista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCadastro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataCancelamento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataPesagemBruto" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataPesagemTara" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescricaoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivoCancelamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeMotorista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeTransportadora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotaFiscal" type="xs:int" />
      <xs:element minOccurs="0" name="PesoBruto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PesoLiquido" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PesoTara" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Placa1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placa2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PorcentagemRefugo" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="QtdeFcoj" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="QtdeNfc" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Ratio" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Rendimento" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Situacao" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pesagem" nillable="true" type="tns:Pesagem" />
</xs:schema>