Servicos/Service References/ServicoBalancaKIKI/IntegradorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cjsrv01.ddns.net:8187/IntegradorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Integrador" />
  <xs:element name="ConsultarPesagensPlaca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DataFim" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NotaFiscal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPesagensPlacaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Integrador" minOccurs="0" name="ConsultarPesagensPlacaResult" nillable="true" type="q1:ListaPesagem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>