Servicos/Service References/ServicoSAP.TransporteFornecimento/MI_LBELGSD00007_TransporteFornecimento_Out_A.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="urn:CENTRALDEABASTECIMENTO:ECC:TransporteFornecimento" name="MI_LBELGSD00007_TransporteFornecimento_Out_A" targetNamespace="urn:CENTRALDEABASTECIMENTO:ECC:TransporteFornecimento" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp1_2:UsingPolicy wsdl:required="true" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" />
  <wsp1_2:Policy wsu:Id="OP_MI_LBELGSD00007_TransporteFornecimento_Out_A" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" />
  <wsdl:types>
    <xsd:schema xmlns="urn:CENTRALDEABASTECIMENTO:ECC:TransporteFornecimento" targetNamespace="urn:CENTRALDEABASTECIMENTO:ECC:TransporteFornecimento" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_TRANSPORTEFORNECIMENTO" type="p1:DT_TRANSPORTEFORNECIMENTO" />
      <xsd:complexType name="DT_TRANSPORTEFORNECIMENTO">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">bdb0803e0c4411ed886500000034625a</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="TransporteFornecimento">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fb637c35f1c311e59f7f54be21e58d11</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="LIFNR">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fb637c26f1c311e5b6ee54be21e58d11</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="OBSERVACAO2">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="60" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="WERKS">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fb637c27f1c311e5cdde54be21e58d11</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="COD_CIDADE">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fb637c28f1c311e5ae3c54be21e58d11</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="7" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="COD_ESTADO">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fb637c29f1c311e5b0f454be21e58d11</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="2" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="DPLBG">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fb637c2af1c311e5992754be21e58d11</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="8" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="VSART">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fb637c2bf1c311e5cb1a54be21e58d11</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="2" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="TDLNR">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fb637c2cf1c311e58f5154be21e58d11</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="SIGNI">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fb637c2df1c311e5a46754be21e58d11</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="20" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="OBSERVACAO">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fb637c2ef1c311e5b54c54be21e58d11</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="60" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="FATOR">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fb637c2ff1c311e5c95154be21e58d11</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="7" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="IDEXTERNO">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fb637c30f1c311e5ad7454be21e58d11</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="OPERACAO">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fb637c31f1c311e599c654be21e58d11</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="3" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="TKNUM">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fb637c32f1c311e5c34554be21e58d11</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="DATBG">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fb637c33f1c311e58aef54be21e58d11</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="8" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="LOTACAO">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">44158427126811ec829e54f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="2" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="VL_PRATICADO">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">44158428126811ecc0d454f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="17" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="VL_ZZVB">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">44158429126811ecaf0a54f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="17" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="VL_ZZAR">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">4415842a126811eca97854f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="17" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="VL_ZZRD">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">4415842b126811ec895b54f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="17" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="VL_ZZVM">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a87325721fe511eca63f54f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="17" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="VL_LEILAO">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">4415842c126811ecadb554f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="17" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MODALIDADE">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">4415842d126811eca90c54f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="APROV1">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a87325731fe511ecc95b54f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="12" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="DATA1">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a87325741fe511ecb0a754f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="8" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="HORA1">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a87325751fe511eca4ca54f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="6" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="APROV2">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a87325761fe511ec8e8e54f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="12" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="DATA2">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a87325771fe511ecb70954f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="8" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="HORA2">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a87325781fe511ec9f9154f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="6" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="APROV3">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a87325791fe511eca05554f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="12" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="DATA3">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a873257a1fe511ec9b3654f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="8" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="HORA3">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a873257b1fe511ecba6854f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="6" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="DT_VL_PRA">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3a849e92312911ec859a54f08990260f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="8" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="PLACA">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">bd8555e00c4411ed87295479cd369206</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="20" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="Material">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fb637c34f1c311e598ca54be21e58d11</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="MATNR">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">0df860e9f1c411e5c8bb54be21e58d11</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="18" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_TRANSPORTEFORNECIMENTO">
    <wsdl:documentation />
    <wsdl:part name="MT_TRANSPORTEFORNECIMENTO" element="p1:MT_TRANSPORTEFORNECIMENTO" />
  </wsdl:message>
  <wsdl:portType name="MI_LBELGSD00007_TransporteFornecimento_Out_A">
    <wsdl:documentation />
    <wsdl:operation name="MI_LBELGSD00007_TransporteFornecimento_Out_A">
      <wsdl:documentation />
      <wsp1_2:Policy xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <wsp:PolicyReference URI="#OP_MI_LBELGSD00007_TransporteFornecimento_Out_A" />
      </wsp1_2:Policy>
      <wsdl:input message="p1:MT_TRANSPORTEFORNECIMENTO" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI_LBELGSD00007_TransporteFornecimento_Out_ABinding" type="p1:MI_LBELGSD00007_TransporteFornecimento_Out_A">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="MI_LBELGSD00007_TransporteFornecimento_Out_A">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MI_LBELGSD00007_TransporteFornecimento_Out_AService">
    <wsdl:port name="HTTP_Port" binding="p1:MI_LBELGSD00007_TransporteFornecimento_Out_ABinding">
      <address location="http://xq3abpas.arcelormittal.com.br:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=CENTRALDEABASTECIMENTO&amp;receiverParty=&amp;receiverService=&amp;interface=MI_LBELGSD00007_TransporteFornecimento_Out_A&amp;interfaceNamespace=urn%3ACENTRALDEABASTECIMENTO%3AECC%3ATransporteFornecimento" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:MI_LBELGSD00007_TransporteFornecimento_Out_ABinding">
      <address location="https://xq3abpas.arcelormittal.com.br:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=CENTRALDEABASTECIMENTO&amp;receiverParty=&amp;receiverService=&amp;interface=MI_LBELGSD00007_TransporteFornecimento_Out_A&amp;interfaceNamespace=urn%3ACENTRALDEABASTECIMENTO%3AECC%3ATransporteFornecimento" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>