WebApplication1/Service References/ServiceReference5/Pedidos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Pedidos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
      <xsd:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
      <xsd:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" />
      <xsd:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
      <xsd:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Logistica" />
      <xsd:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.Entidades" />
      <xsd:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
      <xsd:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd12" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPedidos_EncerrarPedidoMultiEmbarcador_InputMessage">
    <wsdl:part name="parameters" element="tns:EncerrarPedidoMultiEmbarcador" />
  </wsdl:message>
  <wsdl:message name="IPedidos_EncerrarPedidoMultiEmbarcador_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncerrarPedidoMultiEmbarcadorResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidos_BuscarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidos_BuscarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidos_BuscarPedidosPendenteIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPedidosPendenteIntegracao" />
  </wsdl:message>
  <wsdl:message name="IPedidos_BuscarPedidosPendenteIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPedidosPendenteIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidos_AtualizarPedidoMultiEmbarcador_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarPedidoMultiEmbarcador" />
  </wsdl:message>
  <wsdl:message name="IPedidos_AtualizarPedidoMultiEmbarcador_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarPedidoMultiEmbarcadorResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidos_AdicionarPedidoMultiEmbarcador_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarPedidoMultiEmbarcador" />
  </wsdl:message>
  <wsdl:message name="IPedidos_AdicionarPedidoMultiEmbarcador_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarPedidoMultiEmbarcadorResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidos_BuscarPorProtocoloPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorProtocoloPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidos_BuscarPorProtocoloPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorProtocoloPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidos_BuscarPorCodigoCargaMultiEmbarcador_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorCodigoCargaMultiEmbarcador" />
  </wsdl:message>
  <wsdl:message name="IPedidos_BuscarPorCodigoCargaMultiEmbarcador_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorCodigoCargaMultiEmbarcadorResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidos_BuscarPorNotasPendentes_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorNotasPendentes" />
  </wsdl:message>
  <wsdl:message name="IPedidos_BuscarPorNotasPendentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorNotasPendentesResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidos_EnviarXMLNFeParaIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarXMLNFeParaIntegracao" />
  </wsdl:message>
  <wsdl:message name="IPedidos_EnviarXMLNFeParaIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarXMLNFeParaIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidos_EnviarNotasFiscaisPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotasFiscaisPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidos_EnviarNotasFiscaisPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotasFiscaisPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidos_AdicionarPedidoRefatoramentoMultiEmbarcador_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarPedidoRefatoramentoMultiEmbarcador" />
  </wsdl:message>
  <wsdl:message name="IPedidos_AdicionarPedidoRefatoramentoMultiEmbarcador_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarPedidoRefatoramentoMultiEmbarcadorResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidos_BuscarRateioPorPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRateioPorPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidos_BuscarRateioPorPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRateioPorPedidoResponse" />
  </wsdl:message>
  <wsdl:portType name="IPedidos">
    <wsdl:operation name="EncerrarPedidoMultiEmbarcador">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidos/EncerrarPedidoMultiEmbarcador" message="tns:IPedidos_EncerrarPedidoMultiEmbarcador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidos/EncerrarPedidoMultiEmbarcadorResponse" message="tns:IPedidos_EncerrarPedidoMultiEmbarcador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidos/BuscarPedido" message="tns:IPedidos_BuscarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidos/BuscarPedidoResponse" message="tns:IPedidos_BuscarPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPedidosPendenteIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidos/BuscarPedidosPendenteIntegracao" message="tns:IPedidos_BuscarPedidosPendenteIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidos/BuscarPedidosPendenteIntegracaoResponse" message="tns:IPedidos_BuscarPedidosPendenteIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarPedidoMultiEmbarcador">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidos/AtualizarPedidoMultiEmbarcador" message="tns:IPedidos_AtualizarPedidoMultiEmbarcador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidos/AtualizarPedidoMultiEmbarcadorResponse" message="tns:IPedidos_AtualizarPedidoMultiEmbarcador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarPedidoMultiEmbarcador">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidos/AdicionarPedidoMultiEmbarcador" message="tns:IPedidos_AdicionarPedidoMultiEmbarcador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidos/AdicionarPedidoMultiEmbarcadorResponse" message="tns:IPedidos_AdicionarPedidoMultiEmbarcador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorProtocoloPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidos/BuscarPorProtocoloPedido" message="tns:IPedidos_BuscarPorProtocoloPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidos/BuscarPorProtocoloPedidoResponse" message="tns:IPedidos_BuscarPorProtocoloPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorCodigoCargaMultiEmbarcador">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidos/BuscarPorCodigoCargaMultiEmbarcador" message="tns:IPedidos_BuscarPorCodigoCargaMultiEmbarcador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidos/BuscarPorCodigoCargaMultiEmbarcadorResponse" message="tns:IPedidos_BuscarPorCodigoCargaMultiEmbarcador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorNotasPendentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidos/BuscarPorNotasPendentes" message="tns:IPedidos_BuscarPorNotasPendentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidos/BuscarPorNotasPendentesResponse" message="tns:IPedidos_BuscarPorNotasPendentes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarXMLNFeParaIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidos/EnviarXMLNFeParaIntegracao" message="tns:IPedidos_EnviarXMLNFeParaIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidos/EnviarXMLNFeParaIntegracaoResponse" message="tns:IPedidos_EnviarXMLNFeParaIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarNotasFiscaisPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidos/EnviarNotasFiscaisPedido" message="tns:IPedidos_EnviarNotasFiscaisPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidos/EnviarNotasFiscaisPedidoResponse" message="tns:IPedidos_EnviarNotasFiscaisPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarPedidoRefatoramentoMultiEmbarcador">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidos/AdicionarPedidoRefatoramentoMultiEmbarcador" message="tns:IPedidos_AdicionarPedidoRefatoramentoMultiEmbarcador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidos/AdicionarPedidoRefatoramentoMultiEmbarcadorResponse" message="tns:IPedidos_AdicionarPedidoRefatoramentoMultiEmbarcador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarRateioPorPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidos/BuscarRateioPorPedido" message="tns:IPedidos_BuscarRateioPorPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidos/BuscarRateioPorPedidoResponse" message="tns:IPedidos_BuscarRateioPorPedido_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPedidos" type="tns:IPedidos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EncerrarPedidoMultiEmbarcador">
      <soap:operation soapAction="http://tempuri.org/IPedidos/EncerrarPedidoMultiEmbarcador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidos/BuscarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPedidosPendenteIntegracao">
      <soap:operation soapAction="http://tempuri.org/IPedidos/BuscarPedidosPendenteIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarPedidoMultiEmbarcador">
      <soap:operation soapAction="http://tempuri.org/IPedidos/AtualizarPedidoMultiEmbarcador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarPedidoMultiEmbarcador">
      <soap:operation soapAction="http://tempuri.org/IPedidos/AdicionarPedidoMultiEmbarcador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorProtocoloPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidos/BuscarPorProtocoloPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorCodigoCargaMultiEmbarcador">
      <soap:operation soapAction="http://tempuri.org/IPedidos/BuscarPorCodigoCargaMultiEmbarcador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorNotasPendentes">
      <soap:operation soapAction="http://tempuri.org/IPedidos/BuscarPorNotasPendentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarXMLNFeParaIntegracao">
      <soap:operation soapAction="http://tempuri.org/IPedidos/EnviarXMLNFeParaIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarNotasFiscaisPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidos/EnviarNotasFiscaisPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarPedidoRefatoramentoMultiEmbarcador">
      <soap:operation soapAction="http://tempuri.org/IPedidos/AdicionarPedidoRefatoramentoMultiEmbarcador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarRateioPorPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidos/BuscarRateioPorPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pedidos">
    <wsdl:port name="BasicHttpBinding_IPedidos" binding="tns:BasicHttpBinding_IPedidos">
      <soap:address location="http://localhost:54743/Pedidos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>