WebApplication1/Service References/ServiceReference5/Pedidos4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
  <xs:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
  <xs:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd12" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="EncerrarPedidoMultiEmbarcador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloPedido" type="xs:int" />
        <xs:element minOccurs="0" name="ObservacaoEncerramento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncerrarPedidoMultiEmbarcadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="EncerrarPedidoMultiEmbarcadorResult" nillable="true" type="q1:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloPedido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarPedidoResult" nillable="true" type="q2:RetornoOfPedidoknUzgH84" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPedidosPendenteIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPedidosPendenteIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarPedidosPendenteIntegracaoResult" nillable="true" type="q3:RetornoOfRetornoPedidosNaoIntegrados4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarPedidoMultiEmbarcador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="pedidoEmbarcador" nillable="true" type="q4:IntegracaoPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarPedidoMultiEmbarcadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="AtualizarPedidoMultiEmbarcadorResult" nillable="true" type="q5:RetornoOfRetornoMetodoEntrada4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarPedidoMultiEmbarcador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="pedidoEmbarcador" nillable="true" type="q6:IntegracaoPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarPedidoMultiEmbarcadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="AdicionarPedidoMultiEmbarcadorResult" nillable="true" type="q7:RetornoOfRetornoMetodoEntrada4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorProtocoloPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloPedido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorProtocoloPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarPorProtocoloPedidoResult" nillable="true" type="q8:RetornoOfArrayOfRetornoCargaPedido4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorCodigoCargaMultiEmbarcador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCargaMultiEmbarcador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorCodigoCargaMultiEmbarcadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarPorCodigoCargaMultiEmbarcadorResult" nillable="true" type="q9:RetornoOfArrayOfRetornoCargaPedido4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorNotasPendentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorNotasPendentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarPorNotasPendentesResult" nillable="true" type="q10:RetornoOfArrayOfRetornoCargaPedido4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarXMLNFeParaIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/Message" name="arquivo" type="q11:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarXMLNFeParaIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="EnviarXMLNFeParaIntegracaoResult" nillable="true" type="q12:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotasFiscaisPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloPedido" type="xs:int" />
        <xs:element minOccurs="0" name="codigoCargaMultiEmbarcador" type="xs:int" />
        <xs:element minOccurs="0" name="somarValorPaletesNotaAoPedido" type="xs:boolean" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="XMLNotasFiscais" nillable="true" type="q13:ArrayOfXMLNotaFiscal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotasFiscaisPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="EnviarNotasFiscaisPedidoResult" nillable="true" type="q14:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarPedidoRefatoramentoMultiEmbarcador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="pedidoEmbarcador" nillable="true" type="q15:IntegracaoPedido" />
        <xs:element minOccurs="0" name="codigoCargaMultiEmbarcadorRefatoramento" type="xs:int" />
        <xs:element minOccurs="0" name="protocoloPedidoRefatoramento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarPedidoRefatoramentoMultiEmbarcadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="AdicionarPedidoRefatoramentoMultiEmbarcadorResult" nillable="true" type="q16:RetornoOfRetornoMetodoEntrada4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRateioPorPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloPedido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRateioPorPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarRateioPorPedidoResult" nillable="true" type="q17:RetornoOfArrayOfRetornoRateioProduto4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>