WebApplication1/Service References/ServiceReference5/Pedidos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" />
  <xs:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Logistica" />
  <xs:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCargaEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoFilialEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPedidoCliente" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CodigosCargasMultiEmbarcador" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="DataCarregamentoPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataFinalColeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataInicialColeta" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Destinatario" nillable="true" type="q2:Cliente" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Destino" nillable="true" type="q3:Localidade" />
      <xs:element minOccurs="0" name="EnderecoDestino" nillable="true" type="tns:PedidoEndereco" />
      <xs:element minOccurs="0" name="EnderecoOrigem" nillable="true" type="tns:PedidoEndereco" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Expedidor" nillable="true" type="q4:Cliente" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Logistica" minOccurs="0" name="Fronteira" nillable="true" type="q5:Fronteira" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroPaletes" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroPedidoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoCTe" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Origem" nillable="true" type="q6:Localidade" />
      <xs:element minOccurs="0" name="PesoTotalCarga" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoTotalPaletes" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrevisaoEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloPedido" type="xs:int" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Recebedor" nillable="true" type="q7:Cliente" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Remetente" nillable="true" type="q8:Cliente" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Requisitante" type="q9:RequisitanteColeta" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoPedido" type="q10:SituacaoPedido" />
      <xs:element minOccurs="0" name="TipoCarga" nillable="true" type="tns:TipoCarga" />
      <xs:element minOccurs="0" name="TipoColeta" nillable="true" type="tns:TipoColeta" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoPagamento" type="q11:TipoPagamento" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoTomador" type="q12:TipoTomador" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Tomador" nillable="true" type="q13:Cliente" />
      <xs:element minOccurs="0" name="UsarOutroEnderecoDestino" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsarOutroEnderecoOrigem" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValorTotalNotasFiscais" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalPaletes" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="PedidoEndereco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPFCNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEnderecoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Complemento" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Localidade" nillable="true" type="q14:Localidade" />
      <xs:element minOccurs="0" name="Logradouro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoEndereco" nillable="true" type="tns:PedidoEndereco" />
  <xs:complexType name="TipoCarga">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoCarga" nillable="true" type="tns:TipoCarga" />
  <xs:complexType name="TipoColeta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoColeta" nillable="true" type="tns:TipoColeta" />
  <xs:complexType name="IntegracaoPedido">
    <xs:sequence>
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Cliente" nillable="true" type="q15:Cliente" />
      <xs:element minOccurs="0" name="CodigoCargaEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCargaMultiEmbarcador" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCargaMultiEmbarcadorOrigemCancelada" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoFilial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoFilialTomadora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoFronteiraEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIBGEDestino" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIBGEOrigem" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoModeloVeicularEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPedidoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataFinalPrevisaoCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataInicialPrevisaoCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoEntrega" nillable="true" type="xs:string" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Destino" nillable="true" type="q16:Endereco" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Expedidor" nillable="true" type="q17:Cliente" />
      <xs:element minOccurs="0" name="NumeroPaletes" type="xs:int" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Origem" nillable="true" type="q18:Endereco" />
      <xs:element minOccurs="0" name="PesoTotalPaletes" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProdutosDoPedido" nillable="true" type="tns:ArrayOfIntegracaoProdutos" />
      <xs:element minOccurs="0" name="ProtocoloPedido" type="xs:int" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Recebedor" nillable="true" type="q19:Cliente" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Remetente" nillable="true" type="q20:Cliente" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoOperacaoEmissao" type="q21:TipoOperacaoEmissao" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoPagamento" type="q22:TipoPagamento" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoTomador" type="q23:TipoTomador" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Tomador" nillable="true" type="q24:Cliente" />
      <xs:element minOccurs="0" name="UsarOutroEnderecoDestino" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsarOutroEnderecoOrigem" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValorDescarga" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalPaletes" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntegracaoPedido" nillable="true" type="tns:IntegracaoPedido" />
  <xs:complexType name="ArrayOfIntegracaoProdutos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IntegracaoProdutos" nillable="true" type="tns:IntegracaoProdutos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIntegracaoProdutos" nillable="true" type="tns:ArrayOfIntegracaoProdutos" />
  <xs:complexType name="IntegracaoProdutos">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoGrupoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoGrupoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PesoTotalEmbalagem" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadeEmbalagem" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorUnitario" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntegracaoProdutos" nillable="true" type="tns:IntegracaoProdutos" />
  <xs:complexType name="ArrayOfXMLNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="XMLNotaFiscal" nillable="true" type="tns:XMLNotaFiscal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfXMLNotaFiscal" nillable="true" type="tns:ArrayOfXMLNotaFiscal" />
  <xs:complexType name="XMLNotaFiscal">
    <xs:sequence>
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoNotaFiscal" type="q25:TipoNotaFiscal" />
      <xs:element minOccurs="0" name="TokenXMLNF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XMLNotaFiscal" nillable="true" type="tns:XMLNotaFiscal" />
</xs:schema>