WebApplication1/Service References/ServiceReference5/Pedidos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
  <xs:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" />
  <xs:complexType name="RetornoOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfboolean" nillable="true" type="tns:RetornoOfboolean" />
  <xs:complexType name="RetornoOfPedidoknUzgH84">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Pedido" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="Objeto" nillable="true" type="q1:Pedido" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfPedidoknUzgH84" nillable="true" type="tns:RetornoOfPedidoknUzgH84" />
  <xs:complexType name="RetornoOfRetornoPedidosNaoIntegrados4PBTRYa8">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoPedidosNaoIntegrados" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:RetornoPedidosNaoIntegrados" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoPedidosNaoIntegrados4PBTRYa8" nillable="true" type="tns:RetornoOfRetornoPedidosNaoIntegrados4PBTRYa8" />
  <xs:complexType name="RetornoPedidosNaoIntegrados">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CodigosDosPedido" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoPedidosNaoIntegrados" nillable="true" type="tns:RetornoPedidosNaoIntegrados" />
  <xs:complexType name="RetornoOfRetornoMetodoEntrada4PBTRYa8">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoMetodoEntrada" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:RetornoMetodoEntrada" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoMetodoEntrada4PBTRYa8" nillable="true" type="tns:RetornoOfRetornoMetodoEntrada4PBTRYa8" />
  <xs:complexType name="RetornoMetodoEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCargaMultiEmbarcador" type="xs:int" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoMetodoEntrada" nillable="true" type="tns:RetornoMetodoEntrada" />
  <xs:complexType name="RetornoOfArrayOfRetornoCargaPedido4PBTRYa8">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRetornoCargaPedido" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:ArrayOfRetornoCargaPedido" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfArrayOfRetornoCargaPedido4PBTRYa8" nillable="true" type="tns:RetornoOfArrayOfRetornoCargaPedido4PBTRYa8" />
  <xs:complexType name="ArrayOfRetornoCargaPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetornoCargaPedido" nillable="true" type="tns:RetornoCargaPedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetornoCargaPedido" nillable="true" type="tns:ArrayOfRetornoCargaPedido" />
  <xs:complexType name="RetornoCargaPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJTransportador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCargaEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCargaMultiEmbarcador" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoTipoCargaEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTipoVeiculoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCarregamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensagemST" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Motoristas" nillable="true" type="q3:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="NumeroPedidoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlacaVeiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloPedido" type="xs:int" />
      <xs:element minOccurs="0" name="Redespacho" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoNF" type="q4:SituacaoNF" />
      <xs:element minOccurs="0" name="UFVeiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorADValorem" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComplementoFrete" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComplementoICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDescarga" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorFrete" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorOutros" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPedagio" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalAReceber" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoCargaPedido" nillable="true" type="tns:RetornoCargaPedido" />
  <xs:complexType name="RetornoOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfstring" nillable="true" type="tns:RetornoOfstring" />
  <xs:complexType name="RetornoOfArrayOfRetornoRateioProduto4PBTRYa8">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRetornoRateioProduto" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:ArrayOfRetornoRateioProduto" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfArrayOfRetornoRateioProduto4PBTRYa8" nillable="true" type="tns:RetornoOfArrayOfRetornoRateioProduto4PBTRYa8" />
  <xs:complexType name="ArrayOfRetornoRateioProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetornoRateioProduto" nillable="true" type="tns:RetornoRateioProduto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetornoRateioProduto" nillable="true" type="tns:ArrayOfRetornoRateioProduto" />
  <xs:complexType name="RetornoRateioProduto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJTransportador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPFCNPJCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChaveCTe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCargaMultiEmbarcador" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoProdutoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComponentesRateio" nillable="true" type="tns:ArrayOfRetornoComponenteFrete" />
      <xs:element minOccurs="0" name="NumeroProtocoloCTe" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroProtocoloNFS" type="xs:int" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProtocoloPedido" type="xs:int" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorADValoremRateado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComplementoFreteRateado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComplementoICMSRateado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDescargaRateado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMSST" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorOutrosRateado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPedagio" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPedagioRateado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalFrete" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalRateado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorUnitarioProduto" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorUnitarioRateado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoRateioProduto" nillable="true" type="tns:RetornoRateioProduto" />
  <xs:complexType name="ArrayOfRetornoComponenteFrete">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetornoComponenteFrete" nillable="true" type="tns:RetornoComponenteFrete" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetornoComponenteFrete" nillable="true" type="tns:ArrayOfRetornoComponenteFrete" />
  <xs:complexType name="RetornoComponenteFrete">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" minOccurs="0" name="ComponenteFrete" nillable="true" type="q5:ComponenteFrete" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoComponenteFrete" type="q6:TipoComponenteFrete" />
      <xs:element minOccurs="0" name="ValorComponente" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoComponenteFrete" nillable="true" type="tns:RetornoComponenteFrete" />
</xs:schema>