WebApplication1/Service References/ServiceReference5/Pedidos8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54743/Pedidos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="RequisitanteColeta">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Remetente" />
      <xs:enumeration value="Destinatario" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RequisitanteColeta" nillable="true" type="tns:RequisitanteColeta" />
  <xs:simpleType name="SituacaoPedido">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Aberto">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancelado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Finalizado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SituacaoPedido" nillable="true" type="tns:SituacaoPedido" />
  <xs:simpleType name="TipoOperacaoEmissao">
    <xs:restriction base="xs:string">
      <xs:enumeration value="todos" />
      <xs:enumeration value="VendaNormal" />
      <xs:enumeration value="EntregaArmazem" />
      <xs:enumeration value="VendaArmazemCliente" />
      <xs:enumeration value="VendaComRedespacho" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoOperacaoEmissao" nillable="true" type="tns:TipoOperacaoEmissao" />
  <xs:simpleType name="SituacaoNF">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nova">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AgEnvioNF">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NFEnviada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SituacaoNF" nillable="true" type="tns:SituacaoNF" />
  <xs:simpleType name="TipoNotaFiscal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todas" />
      <xs:enumeration value="Venda" />
      <xs:enumeration value="Remessa" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoNotaFiscal" nillable="true" type="tns:TipoNotaFiscal" />
  <xs:simpleType name="TipoComponenteFrete">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TODOS" />
      <xs:enumeration value="ICMS" />
      <xs:enumeration value="PEDAGIO" />
      <xs:enumeration value="DESCARGA" />
      <xs:enumeration value="FRETE" />
      <xs:enumeration value="ADVALOREM" />
      <xs:enumeration value="OUTROS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoComponenteFrete" nillable="true" type="tns:TipoComponenteFrete" />
</xs:schema>