WebApplication1/Service References/ServiceReference5/Pedidos92.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Localidade">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntidadeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Codigo" type="xs:int" />
          <xs:element minOccurs="0" name="CodigoIBGE" type="xs:int" />
          <xs:element minOccurs="0" name="CodigoLocalidadeEmbarcador" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataAtualizacao" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:Estado" />
          <xs:element minOccurs="0" name="LocalidadePolo" nillable="true" type="tns:Localidade" />
          <xs:element minOccurs="0" name="Pais" nillable="true" type="tns:Pais" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Localidade" nillable="true" type="tns:Localidade" />
  <xs:complexType name="EntidadeBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntidadeBase" nillable="true" type="tns:EntidadeBase" />
  <xs:complexType name="Estado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntidadeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoIBGE" type="xs:int" />
          <xs:element minOccurs="0" name="DataAtualizacao" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pais" nillable="true" type="tns:Pais" />
          <xs:element minOccurs="0" name="Sigla" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="Pais">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntidadeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abreviacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Codigo" type="xs:int" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sigla" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Pais" nillable="true" type="tns:Pais" />
</xs:schema>