Servicos/Service References/ServicoSAP.AgruparFatura/SI_Agrupar_Fatura_ASync_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://jsl.com.br/Agrupar_Fatura_FI" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_Agrupar_Fatura_ASync_OUT" targetNamespace="http://jsl.com.br/Agrupar_Fatura_FI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_Operation2" />
  <wsdl:types>
    <xsd:schema xmlns="http://jsl.com.br/Agrupar_Fatura_FI" targetNamespace="http://jsl.com.br/Agrupar_Fatura_FI" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_Agrupar_Fatura_req" type="p1:DT_Agrupar_Fatura_req" />
      <xsd:complexType name="DT_Agrupar_Fatura_req">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">4503a4f32dc611e6c9ee0000332d37ea</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="I_DOC">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">3fa9156b2dc611e6b92c545fd77cc657</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="EMPRESA">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fa8570c2dc611e6886f545fd77cc657</xsd:appinfo>
                    <xsd:documentation>Empresa que está faturando o cliente</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DOCUMENTO">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fa89d8a2dc611e6cadf545fd77cc657</xsd:appinfo>
                    <xsd:documentation>Documento de agrupamento</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="18" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ITEM_DOC">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fa89d8b2dc611e6b0b9545fd77cc657</xsd:appinfo>
                    <xsd:documentation>Itens do documento agrupado</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="CLIENTE">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fa89d8c2dc611e6bcb0545fd77cc657</xsd:appinfo>
                    <xsd:documentation>Cliente faturado</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="16" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="NUM_FATURA">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fa8ba062dc611e6c9e3545fd77cc657</xsd:appinfo>
                    <xsd:documentation>Número de Faturamento SAP</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="20" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DT_VENC_AGRUP" type="xsd:date">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fa8ba072dc611e6c158545fd77cc657</xsd:appinfo>
                    <xsd:documentation>Data de vencimento do Agrupamento</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="DIVISAO" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fa8ba082dc611e68d6f545fd77cc657</xsd:appinfo>
                    <xsd:documentation>Divisão</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="FILIAL" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fa8ba092dc611e69566545fd77cc657</xsd:appinfo>
                    <xsd:documentation>Filial</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="CENTRO_LUCRO" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fa8ba0a2dc611e69c79545fd77cc657</xsd:appinfo>
                    <xsd:documentation>centro de lucro</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="CANAL_DISTRIBUICAO" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fa8dc352dc611e6bae6545fd77cc657</xsd:appinfo>
                    <xsd:documentation>canal de distruibuicao</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="SETOR_ATIVIDADE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fa8dc362dc611e69008545fd77cc657</xsd:appinfo>
                    <xsd:documentation>setor de atividade</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="DATA_DOC" type="xsd:date">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fa8dc372dc611e6a7c0545fd77cc657</xsd:appinfo>
                    <xsd:documentation>data do documento</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="ID_CONTROLE">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fa8dc382dc611e68864545fd77cc657</xsd:appinfo>
                    <xsd:documentation>ID Controle</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="15" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ORIGEM">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fa8dc392dc611e6a250545fd77cc657</xsd:appinfo>
                    <xsd:documentation>Origem</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Agrupar_Fatura_req">
    <wsdl:documentation />
    <wsdl:part name="MT_Agrupar_Fatura_req" element="p1:MT_Agrupar_Fatura_req" />
  </wsdl:message>
  <wsdl:portType name="SI_Agrupar_Fatura_ASync_OUT">
    <wsdl:documentation />
    <wsdl:operation name="Operation2">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_Operation2" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_Agrupar_Fatura_req" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_Agrupar_Fatura_ASync_OUTBinding" type="p1:SI_Agrupar_Fatura_ASync_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="Operation2">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_Agrupar_Fatura_ASync_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_Agrupar_Fatura_ASync_OUTBinding">
      <address location="http://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_TMS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Agrupar_Fatura_ASync_OUT&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FAgrupar_Fatura_FI" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_Agrupar_Fatura_ASync_OUTBinding">
      <address location="https://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_TMS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Agrupar_Fatura_ASync_OUT&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FAgrupar_Fatura_FI" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>