Servicos/Service References/ServicoEFrete.FaturamentoTransportadora/FaturamentoTransportadoraService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.ipc.adm.br/efrete/faturamentotransportadora" xmlns:s1="http://schemas.ipc.adm.br/efrete/faturamentotransportadora/objects" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://schemas.ipc.adm.br/efrete/objects" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://schemas.ipc.adm.br/efrete/faturamentotransportadora" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.ipc.adm.br/efrete/faturamentotransportadora">
      <s:import namespace="http://schemas.ipc.adm.br/efrete/faturamentotransportadora/objects" />
      <s:import namespace="http://schemas.ipc.adm.br/efrete/objects" />
      <s:element name="ObterFaturasPorIntervaloDeDatas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:faturamentoTransportadoraObterFaturasPorIntervaloDeDatasRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterFaturasPorIntervaloDeDatasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="s1:ObterFaturasPorIntervaloDeDatasResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterFaturasPorIntervaloDeDatasPaginado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:faturamentoTransportadoraObterFaturasPorIntervaloDeDatasPaginadoRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterFaturasPorIntervaloDeDatasPaginadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="s1:ObterFaturasPorIntervaloDeDatasPaginadoResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterItensFaturaPaginado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:faturamentoTransportadoraObterItensFaturaPaginadoRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterItensFaturaPaginadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterItensFaturaPaginadoResult" type="tns:FaturamentoTransportadoraObterItensFaturaPaginadoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FaturamentoTransportadoraObterItensFaturaPaginadoResponse">
        <s:complexContent mixed="false">
          <s:extension base="s2:Response">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="NumeroFatura" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="Itens" type="tns:ArrayOfFaturamentoTransportadoraFaturaItem" />
              <s:element minOccurs="1" maxOccurs="1" name="Pagina" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItensPorPagina" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="NumeroPaginas" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfFaturamentoTransportadoraFaturaItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FaturamentoTransportadoraFaturaItem" nillable="true" type="s1:FaturamentoTransportadoraFaturaItem" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObterFaturasCredenciadoPorIntervaloDeDatas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:faturamentoCredenciadoObterFaturasPorIntervaloDeDatasRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterFaturasCredenciadoPorIntervaloDeDatasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="s1:ObterFaturasCredenciadoPorIntervaloDeDatasResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.ipc.adm.br/efrete/faturamentotransportadora/objects">
      <s:import namespace="http://schemas.ipc.adm.br/efrete/objects" />
      <s:element name="faturamentoTransportadoraObterFaturasPorIntervaloDeDatasRequest" type="s1:FaturamentoTransportadoraObterFaturasPorIntervaloDeDatasRequest" />
      <s:complexType name="FaturamentoTransportadoraObterFaturasPorIntervaloDeDatasRequest">
        <s:complexContent mixed="false">
          <s:extension base="s2:Request">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TipoData" nillable="true" type="s1:FaturamentoTransportadoraObterFaturasPorIntervaloDeDatasRequestTipoData" />
              <s:element minOccurs="1" maxOccurs="1" name="DataInicial" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DataFinal" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="MatrizCNPJ" type="s1:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="FaturamentoTransportadoraObterFaturasPorIntervaloDeDatasRequestTipoData">
        <s:restriction base="s:string">
          <s:enumeration value="DataDeRegistro" />
          <s:enumeration value="DataDeAlteracao" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObterFaturasPorIntervaloDeDatasResult" nillable="true" type="s1:FaturamentoTransportadoraObterFaturasPorIntervaloDeDatasResponse" />
      <s:complexType name="FaturamentoTransportadoraObterFaturasPorIntervaloDeDatasResponse">
        <s:complexContent mixed="false">
          <s:extension base="s2:Response">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TipoData" nillable="true" type="s1:FaturamentoTransportadoraObterFaturasPorIntervaloDeDatasRequestTipoData" />
              <s:element minOccurs="1" maxOccurs="1" name="DataInicial" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DataFinal" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="MatrizCNPJ" type="s1:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="Faturas" type="s1:ArrayOfFaturamentoTransportadoraFatura" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfFaturamentoTransportadoraFatura">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FaturamentoTransportadoraFatura" nillable="true" type="s1:FaturamentoTransportadoraFatura" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaturamentoTransportadoraFatura">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Fechamento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Vencimento" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Transportadora" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Taxa" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarifa" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s1:FaturamentoTransportadoraTipoFatura" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s1:FaturamentoTransportadoraTipoStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="Itens" type="s1:ArrayOfFaturamentoTransportadoraFaturaItem" />
          <s:element minOccurs="0" maxOccurs="1" name="Outros" type="s1:ArrayOfFaturamentoTransportadoraFaturaOutro" />
          <s:element minOccurs="0" maxOccurs="1" name="Pagamentos" type="s1:ArrayOfFaturamentoTransportadoraFaturaPagamento" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FaturamentoTransportadoraTipoFatura">
        <s:restriction base="s:string">
          <s:enumeration value="PrePago" />
          <s:enumeration value="Adiantamentos" />
          <s:enumeration value="Quitacao" />
          <s:enumeration value="Frota" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FaturamentoTransportadoraTipoStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Aberto" />
          <s:enumeration value="Cancelado" />
          <s:enumeration value="Encerrado" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfFaturamentoTransportadoraFaturaItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FaturamentoTransportadoraFaturaItem" nillable="true" type="s1:FaturamentoTransportadoraFaturaItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaturamentoTransportadoraFaturaItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DataDeclaracao" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CIOT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdOperacaoCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="s1:FaturamentoTransportadoraFaturaItemTransacao" />
          <s:element minOccurs="1" maxOccurs="1" name="Adiantamento" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Livre" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Estadia" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Quitacao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Frota" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Servico" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s1:FaturamentoTransportadoraFaturaItemTipo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaturamentoTransportadoraFaturaItemTransacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Recibo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentoViagem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QuantidadeDaMercadoriaNoDesembarque" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorDiferencaDeFrete" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorQuebraDeFrete" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FaturamentoTransportadoraFaturaItemTipo">
        <s:restriction base="s:string">
          <s:enumeration value="PrePago" />
          <s:enumeration value="PosPago" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfFaturamentoTransportadoraFaturaOutro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FaturamentoTransportadoraFaturaOutro" nillable="true" type="s1:FaturamentoTransportadoraFaturaOutro" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaturamentoTransportadoraFaturaOutro">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoLancamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Detalhes" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFaturamentoTransportadoraFaturaPagamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FaturamentoTransportadoraFaturaPagamento" nillable="true" type="s1:FaturamentoTransportadoraFaturaPagamento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaturamentoTransportadoraFaturaPagamento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Juros" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Multa" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="faturamentoTransportadoraObterFaturasPorIntervaloDeDatasPaginadoRequest" type="s1:FaturamentoTransportadoraObterFaturasPorIntervaloDeDatasPaginadoRequest" />
      <s:complexType name="FaturamentoTransportadoraObterFaturasPorIntervaloDeDatasPaginadoRequest">
        <s:complexContent mixed="false">
          <s:extension base="s2:Request">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TipoData" nillable="true" type="s1:FaturamentoTransportadoraObterFaturasPorIntervaloDeDatasRequestTipoData" />
              <s:element minOccurs="1" maxOccurs="1" name="DataInicial" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DataFinal" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="MatrizCNPJ" type="s1:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ObterFaturasPorIntervaloDeDatasPaginadoResult" nillable="true" type="s1:FaturamentoTransportadoraObterFaturasPorIntervaloDeDatasPaginadoResponse" />
      <s:complexType name="FaturamentoTransportadoraObterFaturasPorIntervaloDeDatasPaginadoResponse">
        <s:complexContent mixed="false">
          <s:extension base="s2:Response">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TipoData" nillable="true" type="s1:FaturamentoTransportadoraObterFaturasPorIntervaloDeDatasRequestTipoData" />
              <s:element minOccurs="1" maxOccurs="1" name="DataInicial" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DataFinal" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="MatrizCNPJ" type="s1:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="Faturas" type="s1:ArrayOfFaturamentoTransportadoraFatura" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="faturamentoTransportadoraObterItensFaturaPaginadoRequest" type="s1:FaturamentoTransportadoraObterItensFaturaPaginadoRequest" />
      <s:complexType name="FaturamentoTransportadoraObterItensFaturaPaginadoRequest">
        <s:complexContent mixed="false">
          <s:extension base="s2:Request">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="NumeroFatura" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="Pagina" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItensPorPagina" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="faturamentoCredenciadoObterFaturasPorIntervaloDeDatasRequest" type="s1:FaturamentoCredenciadoObterFaturasPorIntervaloDeDatasRequest" />
      <s:complexType name="FaturamentoCredenciadoObterFaturasPorIntervaloDeDatasRequest">
        <s:complexContent mixed="false">
          <s:extension base="s2:Request">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TipoData" nillable="true" type="s1:FaturamentoTransportadoraObterFaturasPorIntervaloDeDatasRequestTipoData" />
              <s:element minOccurs="1" maxOccurs="1" name="DataInicial" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DataFinal" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s1:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ObterFaturasCredenciadoPorIntervaloDeDatasResult" nillable="true" type="s1:FaturamentoCredenciadoObterFaturasPorIntervaloDeDatasResponse" />
      <s:complexType name="FaturamentoCredenciadoObterFaturasPorIntervaloDeDatasResponse">
        <s:complexContent mixed="false">
          <s:extension base="s2:Response">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TipoData" nillable="true" type="s1:FaturamentoTransportadoraObterFaturasPorIntervaloDeDatasRequestTipoData" />
              <s:element minOccurs="1" maxOccurs="1" name="DataInicial" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DataFinal" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s1:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="Faturas" type="s1:ArrayOfFaturamentoCredenciadoFatura" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfFaturamentoCredenciadoFatura">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FaturamentoCredenciadoFatura" nillable="true" type="s1:FaturamentoCredenciadoFatura" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaturamentoCredenciadoFatura">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Fechamento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Vencimento" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Credenciado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Taxa" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarifa" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s1:FaturamentoTransportadoraTipoFatura" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s1:FaturamentoTransportadoraTipoStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="Itens" type="s1:ArrayOfFaturamentoCredenciadoFaturaItem" />
          <s:element minOccurs="0" maxOccurs="1" name="Outros" type="s1:ArrayOfFaturamentoCredenciadoFaturaOutro" />
          <s:element minOccurs="0" maxOccurs="1" name="Pagamentos" type="s1:ArrayOfFaturamentoCredenciadoFaturaPagamento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFaturamentoCredenciadoFaturaItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FaturamentoCredenciadoFaturaItem" nillable="true" type="s1:FaturamentoCredenciadoFaturaItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaturamentoCredenciadoFaturaItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CIOT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="s1:FaturamentoCredenciadoFaturaItemTransacao" />
          <s:element minOccurs="1" maxOccurs="1" name="Adiantamento" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Livre" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Estadia" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Quitacao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Frota" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Servico" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaturamentoCredenciadoFaturaItemTransacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Recibo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentoViagem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QuantidadeDaMercadoriaNoDesembarque" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorDiferencaDeFrete" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorQuebraDeFrete" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFaturamentoCredenciadoFaturaOutro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FaturamentoCredenciadoFaturaOutro" nillable="true" type="s1:FaturamentoCredenciadoFaturaOutro" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaturamentoCredenciadoFaturaOutro">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoLancamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Detalhes" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFaturamentoCredenciadoFaturaPagamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FaturamentoCredenciadoFaturaPagamento" nillable="true" type="s1:FaturamentoCredenciadoFaturaPagamento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaturamentoCredenciadoFaturaPagamento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.ipc.adm.br/efrete/objects">
      <s:complexType name="Request" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Integrador" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Versao" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Response" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Versao" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Sucesso" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Excecao" type="s2:Excecao" />
          <s:element minOccurs="1" maxOccurs="1" name="ProtocoloServico" nillable="true" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Excecao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObterFaturasPorIntervaloDeDatasSoapIn">
    <wsdl:part name="parameters" element="tns:ObterFaturasPorIntervaloDeDatas" />
  </wsdl:message>
  <wsdl:message name="ObterFaturasPorIntervaloDeDatasSoapOut">
    <wsdl:part name="parameters" element="tns:ObterFaturasPorIntervaloDeDatasResponse" />
  </wsdl:message>
  <wsdl:message name="ObterFaturasPorIntervaloDeDatasPaginadoSoapIn">
    <wsdl:part name="parameters" element="tns:ObterFaturasPorIntervaloDeDatasPaginado" />
  </wsdl:message>
  <wsdl:message name="ObterFaturasPorIntervaloDeDatasPaginadoSoapOut">
    <wsdl:part name="parameters" element="tns:ObterFaturasPorIntervaloDeDatasPaginadoResponse" />
  </wsdl:message>
  <wsdl:message name="ObterItensFaturaPaginadoSoapIn">
    <wsdl:part name="parameters" element="tns:ObterItensFaturaPaginado" />
  </wsdl:message>
  <wsdl:message name="ObterItensFaturaPaginadoSoapOut">
    <wsdl:part name="parameters" element="tns:ObterItensFaturaPaginadoResponse" />
  </wsdl:message>
  <wsdl:message name="ObterFaturasCredenciadoPorIntervaloDeDatasSoapIn">
    <wsdl:part name="parameters" element="tns:ObterFaturasCredenciadoPorIntervaloDeDatas" />
  </wsdl:message>
  <wsdl:message name="ObterFaturasCredenciadoPorIntervaloDeDatasSoapOut">
    <wsdl:part name="parameters" element="tns:ObterFaturasCredenciadoPorIntervaloDeDatasResponse" />
  </wsdl:message>
  <wsdl:portType name="FaturamentoTransportadoraServiceSoap">
    <wsdl:operation name="ObterFaturasPorIntervaloDeDatas">
      <wsdl:input message="tns:ObterFaturasPorIntervaloDeDatasSoapIn" />
      <wsdl:output message="tns:ObterFaturasPorIntervaloDeDatasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterFaturasPorIntervaloDeDatasPaginado">
      <wsdl:input message="tns:ObterFaturasPorIntervaloDeDatasPaginadoSoapIn" />
      <wsdl:output message="tns:ObterFaturasPorIntervaloDeDatasPaginadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterItensFaturaPaginado">
      <wsdl:input message="tns:ObterItensFaturaPaginadoSoapIn" />
      <wsdl:output message="tns:ObterItensFaturaPaginadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterFaturasCredenciadoPorIntervaloDeDatas">
      <wsdl:input message="tns:ObterFaturasCredenciadoPorIntervaloDeDatasSoapIn" />
      <wsdl:output message="tns:ObterFaturasCredenciadoPorIntervaloDeDatasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FaturamentoTransportadoraServiceSoap" type="tns:FaturamentoTransportadoraServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterFaturasPorIntervaloDeDatas">
      <soap:operation soapAction="http://schemas.ipc.adm.br/efrete/faturamentotransportadora/ObterFaturasPorIntervaloDeDatas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterFaturasPorIntervaloDeDatasPaginado">
      <soap:operation soapAction="http://schemas.ipc.adm.br/efrete/faturamentotransportadora/ObterFaturasPorIntervaloDeDatasPaginado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterItensFaturaPaginado">
      <soap:operation soapAction="http://schemas.ipc.adm.br/efrete/faturamentotransportadora/ObterItensFaturaPaginado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterFaturasCredenciadoPorIntervaloDeDatas">
      <soap:operation soapAction="http://schemas.ipc.adm.br/efrete/faturamentotransportadora/ObterFaturasCredenciadoPorIntervaloDeDatas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FaturamentoTransportadoraServiceSoap12" type="tns:FaturamentoTransportadoraServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterFaturasPorIntervaloDeDatas">
      <soap12:operation soapAction="http://schemas.ipc.adm.br/efrete/faturamentotransportadora/ObterFaturasPorIntervaloDeDatas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterFaturasPorIntervaloDeDatasPaginado">
      <soap12:operation soapAction="http://schemas.ipc.adm.br/efrete/faturamentotransportadora/ObterFaturasPorIntervaloDeDatasPaginado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterItensFaturaPaginado">
      <soap12:operation soapAction="http://schemas.ipc.adm.br/efrete/faturamentotransportadora/ObterItensFaturaPaginado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterFaturasCredenciadoPorIntervaloDeDatas">
      <soap12:operation soapAction="http://schemas.ipc.adm.br/efrete/faturamentotransportadora/ObterFaturasCredenciadoPorIntervaloDeDatas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FaturamentoTransportadoraService">
    <wsdl:port name="FaturamentoTransportadoraServiceSoap" binding="tns:FaturamentoTransportadoraServiceSoap">
      <soap:address location="https://dev.efrete.com.br/Services/FaturamentoTransportadoraService.asmx" />
    </wsdl:port>
    <wsdl:port name="FaturamentoTransportadoraServiceSoap12" binding="tns:FaturamentoTransportadoraServiceSoap12">
      <soap12:address location="https://dev.efrete.com.br/Services/FaturamentoTransportadoraService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>