Servicos/Service References/ServicoAX.OrdemVenda/RoutingService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/netfx/2009/05/routing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:i1="http://tempuri.org" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoutingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="serviceEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_GSWSalesTableIntegrationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/netfx/2009/05/routing" location="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?wsdl=wsdl0" />
  <wsdl:import namespace="http://tempuri.org" location="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?wsdl=wsdl1" />
  <wsdl:types />
  <wsdl:binding name="serviceEndpoint" type="i0:IRequestReplyRouter">
    <wsp:PolicyReference URI="#serviceEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_GSWSalesTableIntegrationService" type="i1:GSWSalesTableIntegrationService">
    <wsp:PolicyReference URI="#BasicHttpBinding_GSWSalesTableIntegrationService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/GSWSalesTableIntegrationService/delete" style="document" />
      <wsdl:input name="GSWSalesTableIntegrationServiceDeleteRequest">
        <soap:header message="i1:GSWSalesTableIntegrationServiceDeleteRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GSWSalesTableIntegrationServiceDeleteResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://tempuri.org/GSWSalesTableIntegrationService/create" style="document" />
      <wsdl:input name="GSWSalesTableIntegrationServiceCreateRequest">
        <soap:header message="i1:GSWSalesTableIntegrationServiceCreateRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GSWSalesTableIntegrationServiceCreateResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="http://tempuri.org/GSWSalesTableIntegrationService/find" style="document" />
      <wsdl:input name="GSWSalesTableIntegrationServiceFindRequest">
        <soap:header message="i1:GSWSalesTableIntegrationServiceFindRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GSWSalesTableIntegrationServiceFindResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findKeys">
      <soap:operation soapAction="http://tempuri.org/GSWSalesTableIntegrationService/findKeys" style="document" />
      <wsdl:input name="GSWSalesTableIntegrationServiceFindKeysRequest">
        <soap:header message="i1:GSWSalesTableIntegrationServiceFindKeysRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GSWSalesTableIntegrationServiceFindKeysResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getChangedKeys">
      <soap:operation soapAction="http://tempuri.org/GSWSalesTableIntegrationService/getChangedKeys" style="document" />
      <wsdl:input name="GSWSalesTableIntegrationServiceGetChangedKeysRequest">
        <soap:header message="i1:GSWSalesTableIntegrationServiceGetChangedKeysRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GSWSalesTableIntegrationServiceGetChangedKeysResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <soap:operation soapAction="http://tempuri.org/GSWSalesTableIntegrationService/getKeys" style="document" />
      <wsdl:input name="GSWSalesTableIntegrationServiceGetKeysRequest">
        <soap:header message="i1:GSWSalesTableIntegrationServiceGetKeysRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GSWSalesTableIntegrationServiceGetKeysResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="read">
      <soap:operation soapAction="http://tempuri.org/GSWSalesTableIntegrationService/read" style="document" />
      <wsdl:input name="GSWSalesTableIntegrationServiceReadRequest">
        <soap:header message="i1:GSWSalesTableIntegrationServiceReadRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GSWSalesTableIntegrationServiceReadResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/GSWSalesTableIntegrationService/update" style="document" />
      <wsdl:input name="GSWSalesTableIntegrationServiceUpdateRequest">
        <soap:header message="i1:GSWSalesTableIntegrationServiceUpdateRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GSWSalesTableIntegrationServiceUpdateResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoutingService">
    <wsdl:port name="serviceEndpoint" binding="tns:serviceEndpoint">
      <soap:address location="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_GSWSalesTableIntegrationService" binding="tns:BasicHttpBinding_GSWSalesTableIntegrationService">
      <soap:address location="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>