Servicos/Service References/ServicoAX.OrdemVenda/xppservice21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?xsd=xsd11" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?xsd=xsd12" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?xsd=xsd14" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/GSWSalesTableIntegration" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?xsd=xsd13" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GSWSalesTableIntegrationServiceDeleteRequest">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceDeleteRequest" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceDeleteRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceDeleteResponse">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationService_delete_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceCreateRequest" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceCreateRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceCreateResponse" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationService_create_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceFindRequest">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceFindRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceFindResponse">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceFindKeysRequest">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceFindKeysRequest" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceFindKeysRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceFindKeysResponse">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceFindKeysResponse" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationService_findKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceGetChangedKeysRequest">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceGetChangedKeysRequest" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceGetChangedKeysRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceGetChangedKeysResponse">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceGetChangedKeysResponse" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationService_getChangedKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceGetKeysRequest">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceGetKeysRequest" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceGetKeysRequest_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q11:CallContext" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceGetKeysResponse">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceGetKeysResponse" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationService_getKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q12:AifFault" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceReadRequest">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceReadRequest_Headers">
    <wsdl:part xmlns:q13="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q13:CallContext" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceReadResponse">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q14:AifFault" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceUpdateRequest">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceUpdateRequest" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceUpdateRequest_Headers">
    <wsdl:part xmlns:q15="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q15:CallContext" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationServiceUpdateResponse">
    <wsdl:part name="parameters" element="tns:GSWSalesTableIntegrationServiceUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GSWSalesTableIntegrationService_update_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q16:AifFault" />
  </wsdl:message>
  <wsdl:portType name="GSWSalesTableIntegrationService">
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/delete" name="GSWSalesTableIntegrationServiceDeleteRequest" message="tns:GSWSalesTableIntegrationServiceDeleteRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/deleteResponse" name="GSWSalesTableIntegrationServiceDeleteResponse" message="tns:GSWSalesTableIntegrationServiceDeleteResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/deleteAifFaultFault" name="AifFaultFault" message="tns:GSWSalesTableIntegrationService_delete_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/create" name="GSWSalesTableIntegrationServiceCreateRequest" message="tns:GSWSalesTableIntegrationServiceCreateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/createResponse" name="GSWSalesTableIntegrationServiceCreateResponse" message="tns:GSWSalesTableIntegrationServiceCreateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/createAifFaultFault" name="AifFaultFault" message="tns:GSWSalesTableIntegrationService_create_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/find" name="GSWSalesTableIntegrationServiceFindRequest" message="tns:GSWSalesTableIntegrationServiceFindRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/findResponse" name="GSWSalesTableIntegrationServiceFindResponse" message="tns:GSWSalesTableIntegrationServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/findAifFaultFault" name="AifFaultFault" message="tns:GSWSalesTableIntegrationService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="findKeys">
      <wsdl:input wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/findKeys" name="GSWSalesTableIntegrationServiceFindKeysRequest" message="tns:GSWSalesTableIntegrationServiceFindKeysRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/findKeysResponse" name="GSWSalesTableIntegrationServiceFindKeysResponse" message="tns:GSWSalesTableIntegrationServiceFindKeysResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/findKeysAifFaultFault" name="AifFaultFault" message="tns:GSWSalesTableIntegrationService_findKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getChangedKeys">
      <wsdl:input wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/getChangedKeys" name="GSWSalesTableIntegrationServiceGetChangedKeysRequest" message="tns:GSWSalesTableIntegrationServiceGetChangedKeysRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/getChangedKeysResponse" name="GSWSalesTableIntegrationServiceGetChangedKeysResponse" message="tns:GSWSalesTableIntegrationServiceGetChangedKeysResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/getChangedKeysAifFaultFault" name="AifFaultFault" message="tns:GSWSalesTableIntegrationService_getChangedKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <wsdl:input wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/getKeys" name="GSWSalesTableIntegrationServiceGetKeysRequest" message="tns:GSWSalesTableIntegrationServiceGetKeysRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/getKeysResponse" name="GSWSalesTableIntegrationServiceGetKeysResponse" message="tns:GSWSalesTableIntegrationServiceGetKeysResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/getKeysAifFaultFault" name="AifFaultFault" message="tns:GSWSalesTableIntegrationService_getKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/read" name="GSWSalesTableIntegrationServiceReadRequest" message="tns:GSWSalesTableIntegrationServiceReadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/readResponse" name="GSWSalesTableIntegrationServiceReadResponse" message="tns:GSWSalesTableIntegrationServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/readAifFaultFault" name="AifFaultFault" message="tns:GSWSalesTableIntegrationService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/update" name="GSWSalesTableIntegrationServiceUpdateRequest" message="tns:GSWSalesTableIntegrationServiceUpdateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/updateResponse" name="GSWSalesTableIntegrationServiceUpdateResponse" message="tns:GSWSalesTableIntegrationServiceUpdateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/GSWSalesTableIntegrationService/updateAifFaultFault" name="AifFaultFault" message="tns:GSWSalesTableIntegrationService_update_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>