Servicos/Service References/ServicoAX.OrdemVenda/xppservice143.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/GSWSalesTableIntegration" xmlns:st="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/GSWSalesTableIntegration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
  <xs:element name="GSWSalesTableIntegration" type="tns:AxdGSWSalesTableIntegration" />
  <xs:complexType name="AxdGSWSalesTableIntegration">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearNilFieldsOnUpdate" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="st:AxdEnum_XMLDocPurpose" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesTable" type="tns:AxdEntity_SalesTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxdEntity_SalesTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccessKey_BR" nillable="true" type="st:AxdExtType_EFDocAccessKey_BR" />
      <xs:element minOccurs="0" name="CTEDestCityName" nillable="true" type="st:AxdExtType_LogisticsAddressCityName" />
      <xs:element minOccurs="0" name="CTEDestStateId" nillable="true" type="st:AxdUnion_AxdExtType_LogisticsAddressStateId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="CTEOriginCityName" nillable="true" type="st:AxdExtType_LogisticsAddressCityName" />
      <xs:element minOccurs="0" name="CTEOriginStateId" nillable="true" type="st:AxdUnion_AxdExtType_LogisticsAddressStateId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="DefaultDimension" nillable="true" type="st:AxdType_DimensionAttributeValueSet" />
      <xs:element minOccurs="0" name="Payment" nillable="true" type="st:AxdExtType_CustPaymTermId" />
      <xs:element minOccurs="0" name="SalesId" nillable="true" type="st:AxdExtType_SalesIdBase" />
      <xs:element minOccurs="0" name="SalesType" nillable="true" type="st:AxdEnum_SalesType" />
      <xs:element minOccurs="0" name="TotalBalance" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="TotalCashDiscount" nillable="true" type="st:AxdExtType_DiscAmount" />
      <xs:element minOccurs="0" name="TotalInvoice" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="TotalMiscCharges" nillable="true" type="st:AxdExtType_MarkupAmount" />
      <xs:element minOccurs="0" name="TotalSalesTax" nillable="true" type="st:AxdExtType_TaxAmountCur" />
      <xs:element minOccurs="0" name="WorkerSalesTakerPersonnelNumber" nillable="true" type="st:AxdExtType_SalesTakerPersonnelNumber" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GSWSalesTableIntegrationMultiCTE" type="tns:AxdEntity_GSWSalesTableIntegrationMultiCTE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesTable_BR" type="tns:AxdEntity_SalesTable_BR" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesLine" type="tns:AxdEntity_SalesLine" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_GSWSalesTableIntegrationMultiCTE">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountCNPJCPF" nillable="true" type="st:AxdExtType_CNPJCPFNum_BR" />
      <xs:element minOccurs="0" name="AdditionalNotes" nillable="true" type="st:AxdExtType_Notes" />
      <xs:element minOccurs="0" name="IENum_BR" nillable="true" type="st:AxdExtType_IENum_BR" />
      <xs:element minOccurs="0" name="InvoiceAccessKey" nillable="true" type="st:AxdExtType_EFDocAccessKey_BR" />
      <xs:element minOccurs="0" name="InvoiceAccessKeyRef" nillable="true" type="st:AxdExtType_EFDocAccessKey_BR" />
      <xs:element minOccurs="0" name="InvoiceDate" nillable="true" type="st:AxdExtType_FiscalDocumentDate_BR" />
      <xs:element minOccurs="0" name="InvoiceDateRef" nillable="true" type="st:AxdExtType_FiscalDocumentDate_BR" />
      <xs:element minOccurs="0" name="InvoiceModel" nillable="true" type="st:AxdExtType_FiscalDocumentModel_BR" />
      <xs:element minOccurs="0" name="InvoiceModelRef" nillable="true" type="st:AxdExtType_FiscalDocumentModel_BR" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="st:AxdExtType_InvoiceId" />
      <xs:element minOccurs="0" name="InvoiceNumberRef" nillable="true" type="st:AxdExtType_InvoiceId" />
      <xs:element minOccurs="0" name="InvoiceSeries" nillable="true" type="st:AxdExtType_FiscalDocumentSeries_BR" />
      <xs:element minOccurs="0" name="InvoiceSeriesRef" nillable="true" type="st:AxdExtType_FiscalDocumentSeries_BR" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="st:AxdExtType_Notes" />
      <xs:element minOccurs="0" name="OperationTypeID_BR" nillable="true" type="st:AxdExtType_OperationTypeID_BR" />
      <xs:element minOccurs="0" name="ReasonCode" nillable="true" type="st:AxdExtType_ReasonCode" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="SalesId" nillable="true" type="st:AxdExtType_SalesId" />
      <xs:element minOccurs="0" name="SiteCNPJCPF" nillable="true" type="st:AxdExtType_WSYSAccountCNPJCPF" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_SalesTable_BR">
    <xs:sequence>
      <xs:element minOccurs="0" name="CFPSId_BR" nillable="true" type="st:AxdExtType_CFPSId_BR" />
      <xs:element minOccurs="0" name="CustFinalUser_BR" nillable="true" type="st:AxdExtType_CustVendFinalUser_BR" />
      <xs:element minOccurs="0" name="InvoiceRefRecID_BR" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="SalesPurchOperationType_BR" nillable="true" type="st:AxdExtType_OperationTypeID_BR" />
      <xs:element minOccurs="0" name="ServiceCodeOnDlvAddress_BR" nillable="true" type="st:AxdExtType_TaxServiceCodeOnDlvAddress_BR" />
      <xs:element minOccurs="0" name="ShippingInventLocationId" nillable="true" type="st:AxdExtType_InventLocationId" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_SalesLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefaultDimension" nillable="true" type="st:AxdType_DimensionAttributeValueSet" />
      <xs:element minOccurs="0" name="DeliveredIntotal" nillable="true" type="st:AxdExtType_SalesQty" />
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="st:AxdUnion_AxdExtType_ItemIdSmall_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="LedgerDimension" nillable="true" type="st:AxdType_LedgerAccount" />
      <xs:element minOccurs="0" name="LineAmount" nillable="true" type="st:AxdExtType_SalesLineAmount" />
      <xs:element minOccurs="0" name="PriceUnit" nillable="true" type="st:AxdExtType_PriceUnit" />
      <xs:element minOccurs="0" name="RetailCategory" nillable="true" type="st:AxdExtType_RetailCategory" />
      <xs:element minOccurs="0" name="SalesId" nillable="true" type="st:AxdExtType_SalesIdBase" />
      <xs:element minOccurs="0" name="SalesPrice" nillable="true" type="st:AxdExtType_SalesPrice" />
      <xs:element minOccurs="0" name="SalesQty" nillable="true" type="st:AxdExtType_SalesOrderedQty" />
      <xs:element minOccurs="0" name="SalesType" nillable="true" type="st:AxdEnum_SalesType" />
      <xs:element minOccurs="0" name="SalesUnit" nillable="true" type="st:AxdUnion_AxdExtType_SalesUnit_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="SkipICPurchOrderAccountingDistr" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventDim" type="tns:AxdEntity_InventDim" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesLine_BR" type="tns:AxdEntity_SalesLine_BR" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_InventDim">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfigId" nillable="true" type="st:AxdExtType_EcoResItemConfigurationName" />
      <xs:element minOccurs="0" name="InventBatchId" nillable="true" type="st:AxdExtType_InventBatchId" />
      <xs:element minOccurs="0" name="InventColorId" nillable="true" type="st:AxdExtType_EcoResItemColorName" />
      <xs:element minOccurs="0" name="InventDimId" nillable="true" type="st:AxdExtType_InventDimId" />
      <xs:element minOccurs="0" name="InventGTDId_RU" nillable="true" type="st:AxdExtType_InventGTDId_RU" />
      <xs:element minOccurs="0" name="InventLocationId" nillable="true" type="st:AxdExtType_InventLocationId" />
      <xs:element minOccurs="0" name="InventOwnerId_RU" nillable="true" type="st:AxdExtType_InventOwnerId_RU" />
      <xs:element minOccurs="0" name="InventProfileId_RU" nillable="true" type="st:AxdExtType_InventProfileId_RU" />
      <xs:element minOccurs="0" name="InventSerialId" nillable="true" type="st:AxdExtType_InventSerialId" />
      <xs:element minOccurs="0" name="InventSiteId" nillable="true" type="st:AxdExtType_InventSiteId" />
      <xs:element minOccurs="0" name="InventSizeId" nillable="true" type="st:AxdExtType_EcoResItemSizeName" />
      <xs:element minOccurs="0" name="InventStatusId" nillable="true" type="st:AxdExtType_WHSInventStatusId" />
      <xs:element minOccurs="0" name="InventStyleId" nillable="true" type="st:AxdExtType_EcoResItemStyleName" />
      <xs:element minOccurs="0" name="LicensePlateId" nillable="true" type="st:AxdExtType_WHSLicensePlateId" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="WMSLocationId" nillable="true" type="st:AxdExtType_WMSLocationId" />
      <xs:element minOccurs="0" name="WMSPalletId" nillable="true" type="st:AxdExtType_WMSPalletId" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_SalesLine_BR">
    <xs:sequence>
      <xs:element minOccurs="0" name="CFOPTable_BR" nillable="true" type="st:AxdExtType_CustVendCFOPId_BR" />
      <xs:element minOccurs="0" name="DeliveryCFOPTable_BR" nillable="true" type="st:AxdExtType_CustVendCFOPId_BR" />
      <xs:element minOccurs="0" name="FiscalDocumentType_BR" nillable="true" type="st:AxdEntityKey_FiscalDocumentType_BR" />
      <xs:element minOccurs="0" name="SuframaDiscount_BR" nillable="true" type="st:AxdExtType_SalesLinePercent" />
      <xs:element minOccurs="0" name="TaxServiceCode_BR" nillable="true" type="st:AxdExtType_TaxServiceCodeId_BR" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
</xs:schema>