Servicos/Service References/ServicoRepom.Conciliacao/Conciliacao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.repom.com.br/RepomWS/IntegracaoArquivos" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.repom.com.br/RepomWS/IntegracaoArquivos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.repom.com.br/RepomWS/IntegracaoArquivos">
      <s:element name="EmiteFinanceiro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAssinatura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataMovimento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmiteFinanceiroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmiteFinanceiroResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmiteExtrato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAssinatura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataExtrato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmiteExtratoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmiteExtratoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmiteContabil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAssinaturaDigital" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDataMovimento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmiteContabilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmiteContabilResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmiteLiberacaoPagamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAssinaturaDigital" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDataLiberacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmiteLiberacaoPagamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmiteLiberacaoPagamentoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EmiteFinanceiroSoapIn">
    <wsdl:part name="parameters" element="tns:EmiteFinanceiro" />
  </wsdl:message>
  <wsdl:message name="EmiteFinanceiroSoapOut">
    <wsdl:part name="parameters" element="tns:EmiteFinanceiroResponse" />
  </wsdl:message>
  <wsdl:message name="EmiteExtratoSoapIn">
    <wsdl:part name="parameters" element="tns:EmiteExtrato" />
  </wsdl:message>
  <wsdl:message name="EmiteExtratoSoapOut">
    <wsdl:part name="parameters" element="tns:EmiteExtratoResponse" />
  </wsdl:message>
  <wsdl:message name="EmiteContabilSoapIn">
    <wsdl:part name="parameters" element="tns:EmiteContabil" />
  </wsdl:message>
  <wsdl:message name="EmiteContabilSoapOut">
    <wsdl:part name="parameters" element="tns:EmiteContabilResponse" />
  </wsdl:message>
  <wsdl:message name="EmiteLiberacaoPagamentoSoapIn">
    <wsdl:part name="parameters" element="tns:EmiteLiberacaoPagamento" />
  </wsdl:message>
  <wsdl:message name="EmiteLiberacaoPagamentoSoapOut">
    <wsdl:part name="parameters" element="tns:EmiteLiberacaoPagamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="ConciliacaoSoap">
    <wsdl:operation name="EmiteFinanceiro">
      <wsdl:input message="tns:EmiteFinanceiroSoapIn" />
      <wsdl:output message="tns:EmiteFinanceiroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmiteExtrato">
      <wsdl:input message="tns:EmiteExtratoSoapIn" />
      <wsdl:output message="tns:EmiteExtratoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmiteContabil">
      <wsdl:input message="tns:EmiteContabilSoapIn" />
      <wsdl:output message="tns:EmiteContabilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmiteLiberacaoPagamento">
      <wsdl:input message="tns:EmiteLiberacaoPagamentoSoapIn" />
      <wsdl:output message="tns:EmiteLiberacaoPagamentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConciliacaoSoap" type="tns:ConciliacaoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmiteFinanceiro">
      <soap:operation soapAction="http://www.repom.com.br/RepomWS/IntegracaoArquivos/EmiteFinanceiro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmiteExtrato">
      <soap:operation soapAction="http://www.repom.com.br/RepomWS/IntegracaoArquivos/EmiteExtrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmiteContabil">
      <soap:operation soapAction="http://www.repom.com.br/RepomWS/IntegracaoArquivos/EmiteContabil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmiteLiberacaoPagamento">
      <soap:operation soapAction="http://www.repom.com.br/RepomWS/IntegracaoArquivos/EmiteLiberacaoPagamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConciliacaoSoap12" type="tns:ConciliacaoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmiteFinanceiro">
      <soap12:operation soapAction="http://www.repom.com.br/RepomWS/IntegracaoArquivos/EmiteFinanceiro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmiteExtrato">
      <soap12:operation soapAction="http://www.repom.com.br/RepomWS/IntegracaoArquivos/EmiteExtrato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmiteContabil">
      <soap12:operation soapAction="http://www.repom.com.br/RepomWS/IntegracaoArquivos/EmiteContabil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmiteLiberacaoPagamento">
      <soap12:operation soapAction="http://www.repom.com.br/RepomWS/IntegracaoArquivos/EmiteLiberacaoPagamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Conciliacao">
    <wsdl:port name="ConciliacaoSoap" binding="tns:ConciliacaoSoap">
      <soap:address location="http://qa.repom.com.br/repomWS/Conciliacao.asmx" />
    </wsdl:port>
    <wsdl:port name="ConciliacaoSoap12" binding="tns:ConciliacaoSoap12">
      <soap12:address location="http://qa.repom.com.br/repomWS/Conciliacao.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>