Servicos/Service References/ServicoNaturaNovo.ProcessaFatura/SI_ProcessaFatura_Sync11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://www.natura.net/Fatura" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_ProcessaFatura_Sync" targetNamespace="http://www.natura.net/Fatura" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_ProcessaFatura_Sync" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.natura.net/Fatura" targetNamespace="http://www.natura.net/Fatura" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_ProcessaFaturaResponse" type="p1:DT_ProcessaFaturaResponse" />
      <xsd:element name="MT_ProcessaFatura" type="p1:DT_ProcessaFatura" />
      <xsd:complexType name="DT_ProcessaFatura">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">67c8f5d0a03711e5c05200000189c4e2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="dados">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d7d1497d136311e58a1a54ec5bba1438</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="numeroPreFatura" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d7d1496f136311e5b02654ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="dataPreFatura" type="xsd:date">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d7d14970136311e5ae9154ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="numeroFatura" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d7d14971136311e5902854ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="dataVencFatura" type="xsd:date">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d7d14972136311e5a49754ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="dataFatura" type="xsd:date">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d7d14973136311e5b2f654ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="codTranspMatriz" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">514553ad25a911e5b9a454ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" name="itens">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d7d1497c136311e5b90254ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="codTranspEmit" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">d7d14975136311e5a82c54ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="modeloDocFiscal" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">d7d14976136311e5938854ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="numeroDocFiscal" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">d7d14977136311e5a92654ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="serieDocFiscal" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">d7d14978136311e591af54ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="dataDocFiscal" type="xsd:date">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">d7d14979136311e594f054ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="chaveCTe" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">d7d1497b136311e5c12954ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="transporte">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6ea146211e5a0d554ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="docTransporte" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6e7146211e598d554ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="valorFrete" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6e8146211e5911554ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="difValorFrete" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6e9146211e5a5e254ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="impostos">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6fb146211e5a7de54ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="aliquotaICMS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6eb146211e5b6d454ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="baseICMS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6ec146211e587c154ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="valorICMS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6ed146211e5ce1954ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="aliquotaICMSST" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6ee146211e58a7d54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="ivaICMSST" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6ef146211e589e254ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="baseICMSST" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f0146211e58b6854ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="valorICMSST" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f1146211e5c03554ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="aliquotaPIS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f2146211e5905854ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="basePIS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f3146211e59bea54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="valorPIS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f4146211e5c0b154ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="aliquotaCOFINS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f5146211e5a45054ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="baseCOFINS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f6146211e5c57754ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="valorCOFINS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f7146211e5a7c554ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="aliquotaISS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f8146211e5938854ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="baseISS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f9146211e5a76b54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="valorISS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6fa146211e5c16254ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element maxOccurs="unbounded" name="docFiscalRef">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">9d06f701146211e5971c54ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="modelo" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6fc146211e5cb2f54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="numero" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6fd146211e59b0454ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="serie" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6fe146211e5b48454ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="dataEmissao" type="xsd:date">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6ff146211e5824854ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="chaveNFeCTe" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f700146211e5ba6754ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_ProcessaFaturaResponse">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">a4b787d3790511e6c51f00000189c4e2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="dados">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">c627dcf4710d11e6940f00059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="type" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3ee9c6c5708011e6833600059a3c7a00</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="id" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a2560008708011e6bfe200059a3c7a00</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="number" type="xsd:integer">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a2560009708011e6879600059a3c7a00</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="message" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a256000a708011e6c1f300059a3c7a00</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_ProcessaFatura">
    <wsdl:documentation />
    <wsdl:part name="MT_ProcessaFatura" element="p1:MT_ProcessaFatura" />
  </wsdl:message>
  <wsdl:message name="MT_ProcessaFaturaResponse">
    <wsdl:documentation />
    <wsdl:part name="MT_ProcessaFaturaResponse" element="p1:MT_ProcessaFaturaResponse" />
  </wsdl:message>
  <wsdl:portType name="SI_ProcessaFatura_Sync">
    <wsdl:documentation />
    <wsdl:operation name="SI_ProcessaFatura_Sync">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_ProcessaFatura_Sync" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_ProcessaFatura" />
      <wsdl:output message="p1:MT_ProcessaFaturaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ProcessaFatura_SyncBinding" type="p1:SI_ProcessaFatura_Sync">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_ProcessaFatura_Sync">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ProcessaFatura_SyncService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_ProcessaFatura_SyncBinding">
      <address location="http://aslx251br.natura.com.br:50200/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaFatura_Sync&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FFatura" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_ProcessaFatura_SyncBinding">
      <address location="https://aslx251br.natura.com.br:50201/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaFatura_Sync&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FFatura" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>