SGT.WebAdmin/Service References/ConsultaNFe/ConsultaNFe7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SGT.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3226/ConsultaNFe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.NFe" />
  <xs:complexType name="RetornoOfRequisicaoSefazgj5B5PAD">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RequisicaoSefaz" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.NFe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.NFe" minOccurs="0" name="Objeto" nillable="true" type="q1:RequisicaoSefaz" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRequisicaoSefazgj5B5PAD" nillable="true" type="tns:RetornoOfRequisicaoSefazgj5B5PAD" />
  <xs:complexType name="RetornoOfConsultaSefazgj5B5PAD">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ConsultaSefaz" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.NFe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.NFe" minOccurs="0" name="Objeto" nillable="true" type="q2:ConsultaSefaz" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfConsultaSefazgj5B5PAD" nillable="true" type="tns:RetornoOfConsultaSefazgj5B5PAD" />
</xs:schema>