Servicos/Service References/ServicoSGT.NFe/NFe11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" />
  <xs:complexType name="ArrayOfProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produto" nillable="true" type="tns:Produto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduto" nillable="true" type="tns:ArrayOfProduto" />
  <xs:complexType name="Produto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodigoDocumentacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoGrupoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigocEAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoGrupoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InativarCadastro" type="xs:boolean" />
      <xs:element minOccurs="0" name="MetroCubito" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoTotalEmbalagem" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoUnitario" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" minOccurs="0" name="ProdutoLotes" nillable="true" type="q1:ArrayOfLote" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadeEmbalagem" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnidadeMedida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorUnitario" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produto" nillable="true" type="tns:Produto" />
</xs:schema>