Servicos/Service References/ServicoSGT.NFe/NFe13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValePedagio">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJFornecedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJResponsavel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAgendamentoPorto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroComprovante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorValePedagio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValePedagio" nillable="true" type="tns:ValePedagio" />
</xs:schema>