Servicos/Service References/ServicoSGT.NFe/NFe10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
  <xs:complexType name="ArrayOfNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotaFiscal" nillable="true" type="tns:ArrayOfNotaFiscal" />
  <xs:complexType name="NotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliquotaICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculoICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculoST" type="xs:decimal" />
      <xs:element minOccurs="0" name="CFOPPredominante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Canhoto" nillable="true" type="tns:Canhoto" />
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracaoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cubagem" type="xs:decimal" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissaoDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoMercadoria" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q1:Pessoa" />
      <xs:element minOccurs="0" name="DocumentoRecebidoViaNOTFIS" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Emitente" nillable="true" type="q2:Pessoa" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Expedidor" nillable="true" type="q3:Pessoa" />
      <xs:element minOccurs="0" name="GrauRisco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InformacoesComplementares" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KMRota" type="xs:decimal" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="ModalidadeFrete" type="q4:ModalidadePagamentoFrete" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NCMPredominante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaturezaOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroCanhoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroControleCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroReferenciaEDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroRomaneio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSolicitacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PINSuframa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PesoAferido" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoBruto" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoMiligrama" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="Produtos" nillable="true" type="q5:ArrayOfProduto" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadePallets" type="xs:decimal" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Recebedor" nillable="true" type="q6:Pessoa" />
      <xs:element minOccurs="0" name="Rota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoNFeSefaz" type="q7:SituacaoNFeSefaz" />
      <xs:element minOccurs="0" name="SubRota" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoCarga" nillable="true" type="q8:TipoCargaEmbarcador" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoOperacaoNotaFiscal" type="q9:TipoOperacaoNotaFiscal" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Tomador" nillable="true" type="q10:Pessoa" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Transportador" nillable="true" type="q11:Empresa" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCOFINS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComponenteAdValorem" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComponenteAdicionalEntrega" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComponenteDescarga" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComponenteFreteCrossDocking" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComponentePedagio" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDesconto" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorFrete" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorFreteLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIPI" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorImpostoImportacao" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorOutros" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPIS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorST" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorSeguro" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalProdutos" type="xs:decimal" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculo" nillable="true" type="q12:Veiculo" />
      <xs:element minOccurs="0" name="Volumes" nillable="true" type="tns:ArrayOfVolume" />
      <xs:element minOccurs="0" name="VolumesTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
  <xs:complexType name="Canhoto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveAcesso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEnvioCanhoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagemCanhotoBase64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeImagemCanhoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoCanhoto" type="q13:SituacaoCanhoto" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoDigitalizacaoCanhoto" type="q14:SituacaoDigitalizacaoCanhoto" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoCanhoto" type="q15:TipoCanhoto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Canhoto" nillable="true" type="tns:Canhoto" />
  <xs:complexType name="ArrayOfLote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lote" nillable="true" type="tns:Lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLote" nillable="true" type="tns:ArrayOfLote" />
  <xs:complexType name="Lote">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataFabricacao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataValidade" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroLote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantidadeLote" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lote" nillable="true" type="tns:Lote" />
  <xs:complexType name="ArrayOfVolume">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Volume" nillable="true" type="tns:Volume" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVolume" nillable="true" type="tns:ArrayOfVolume" />
  <xs:complexType name="Volume">
    <xs:sequence>
      <xs:element minOccurs="0" name="Especie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarcaVolume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numeracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroLacre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PesoBruto" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Volume" nillable="true" type="tns:Volume" />
  <xs:complexType name="ArrayOfTokenNF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TokenNF" nillable="true" type="tns:TokenNF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTokenNF" nillable="true" type="tns:ArrayOfTokenNF" />
  <xs:complexType name="TokenNF">
    <xs:sequence>
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="AverbacaoNF" nillable="true" type="q16:Averbacao" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoNotaFiscalIntegrada" type="q17:TipoNotaFiscalIntegrada" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenNF" nillable="true" type="tns:TokenNF" />
  <xs:complexType name="ArrayOfCanhotoAvulso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CanhotoAvulso" nillable="true" type="tns:CanhotoAvulso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCanhotoAvulso" nillable="true" type="tns:ArrayOfCanhotoAvulso" />
  <xs:complexType name="CanhotoAvulso">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q18:Pessoa" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="PDF" nillable="true" type="xs:string" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoCanhoto" type="q19:SituacaoCanhoto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CanhotoAvulso" nillable="true" type="tns:CanhotoAvulso" />
  <xs:complexType name="ArrayOfCanhoto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Canhoto" nillable="true" type="tns:Canhoto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCanhoto" nillable="true" type="tns:ArrayOfCanhoto" />
  <xs:complexType name="CanhotoNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arquivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extensao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CanhotoNotaFiscal" nillable="true" type="tns:CanhotoNotaFiscal" />
</xs:schema>