Servicos/Service References/ServicoSGT.ModeloVeicular/ModeloVeicular4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/ModeloVeicular.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
  <xs:element name="BuscarModelosVeicularesDisponiveis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarModelosVeicularesDisponiveisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarModelosVeicularesDisponiveisResult" nillable="true" type="q1:RetornoOfArrayOfModeloVeicularYCIsJlsP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>