Servicos/Service References/WSAngelLiraStatus/WSStatus1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.angellira.com.br/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.angellira.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.angellira.com.br/">
      <s:element name="StatusTransportePorDemanda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lista" type="tns:ArrayOfConsulta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfConsulta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Consulta" nillable="true" type="tns:Consulta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Consulta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="transp_numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cliente_codigo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="StatusTransportePorDemandaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatusTransportePorDemandaResult" type="tns:ArrayOfTransportePorDemanda" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransportePorDemanda">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransportePorDemanda" nillable="true" type="tns:TransportePorDemanda" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransportePorDemanda">
        <s:complexContent mixed="false">
          <s:extension base="tns:Transporte">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="transp_transportador" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="transp_veiculo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="transp_carreta" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="transp_data_fat" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="transp_chegada_origem" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="transp_data_inicio" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="transp_data_fim" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="transp_sequencia" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="posicao_descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="posicao_status" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="cliente_nome" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="cliente_prev_data_chegada" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="cliente_prev_data_saida" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="cliente_data_chegada" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="cliente_data_saida" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="cliente_faixa_inicial" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="cliente_faixa_final" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="cliente_distancia" type="s:double" />
              <s:element minOccurs="0" maxOccurs="1" name="cliente_tempo_prev_chegada" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_codigo" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_data_cadastro" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_prev_chegada_origem" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_prev_saida_origem" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="viagem_status" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="cliente_atual_prev_chegada" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="cliente_atual_prev_saida" nillable="true" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Transporte">
        <s:complexContent mixed="false">
          <s:extension base="tns:Retorno">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="transp_numero" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="cliente_codigo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Retorno">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="motivo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidationSoapHeader" type="tns:ValidationSoapHeader" />
      <s:complexType name="ValidationSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userCod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userPwd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="homologacao" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="api_interna" nillable="true" type="s:boolean" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="StatusTransportePorData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="inicio" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fim" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="procedimentos" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="StatusTransportePorDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatusTransportePorDataResult" type="tns:ArrayOfTransportePorData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransportePorData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransportePorData" nillable="true" type="tns:TransportePorData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransportePorData">
        <s:complexContent mixed="false">
          <s:extension base="tns:Transporte">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="codigo_unico" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_procedimento" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_codigo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="viagem_status" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_data_cadastro" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="viagem_origem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_prev_chegada_origem" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_prev_saida_origem" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_chegada_origem" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_chegada_origem_subunidade" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_saida_origem_subunidade" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_saida_origem" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_inicio" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_fim" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="viagem_tempo_origem" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="viagem_destino" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="viagem_tempo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="viagem_distancia_prevista" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="viagem_distancia_percorrida" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="cliente_nome" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="cliente_prim_agenda" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="cliente_prev_chegada" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="cliente_prev_saida" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="cliente_transit_time" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="cliente_chegada" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="cliente_chegada_subunidade" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="cliente_saida_subunidade" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="cliente_saida" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="cliente_tempo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="cliente_prev_tempo_transit" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="cliente_prev_data_transit" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="viagem_status_code" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="viagem_status_adic_code" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="viagem_status_adic" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="viagem_codigo_origem" nillable="true" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="viagem_codigo_destino" nillable="true" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="viagem_placa_veiculo" nillable="true" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="viagem_placa_carreta_1" nillable="true" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="viagem_placa_carreta_2" nillable="true" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetPosicaoVeiculo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="placas" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPosicaoVeiculoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPosicaoVeiculoResult" type="tns:ArrayOfPosicao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPosicao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Posicao" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="DATAHORA" type="s:dateTime" />
                <s:element minOccurs="0" maxOccurs="1" name="DESCRICAO" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="IDMENSAGEM" type="s:long" />
                <s:element minOccurs="0" maxOccurs="1" name="IDRASTREADOR" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="LATITUDE" type="s:float" />
                <s:element minOccurs="0" maxOccurs="1" name="LONGITUDE" type="s:float" />
                <s:element minOccurs="0" maxOccurs="1" name="PLACA" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="IGNICAO" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="VELOCIDADE" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="DATATEMPERATURA" nillable="true" type="s:dateTime" />
                <s:element minOccurs="0" maxOccurs="1" name="TEMPERATURA" nillable="true" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="CIDADE" nillable="true" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="UF" nillable="true" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="HODOMETRO" type="s:int" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetStatusViagem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="V_Carga" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusViagemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusViagemResult" type="tns:StatusViagem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StatusViagem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="V_Codigo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="V_ProcedimentoEmbarque" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="V_Carga" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="V_Veiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="V_Reboque" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="V_Origem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="V_Destino" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="V_Prev_Inicio" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="V_Prev_Fim" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="V_Cadastro" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="V_Chegada_Origem" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="V_Inicio" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="V_Fim" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="V_Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="V_Distancia_Prevista" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="V_Distancia_Percorrida" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="V_Distancia_Veiculo_Origem" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="V_Previsao_Veiculo_Origem" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="V_Distancia_Veiculo_Destino" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="V_Previsao_Veiculo_Destino" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="V_PosicaoPrincipal" type="tns:Coordenada" />
          <s:element minOccurs="0" maxOccurs="1" name="V_Mensagem" type="tns:Mensagem" />
          <s:element minOccurs="0" maxOccurs="1" name="V_Entregas" type="tns:ArrayOfStatusEntrega" />
          <s:element minOccurs="0" maxOccurs="1" name="V_Token" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Coordenada">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Data" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Mensagem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="data" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descricao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="coordenada" type="tns:Coordenada" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStatusEntrega">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StatusEntrega" nillable="true" type="tns:StatusEntrega" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StatusEntrega">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="E_Seq" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="E_Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="E_Cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="E_Chegada" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="E_Saida" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="E_Prev_Chegada" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="E_Prev_Saida" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="E_Prev_Chegada_Original" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="E_Prev_Saida_Original" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="E_Distancia" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="E_Imagens" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="E_Ocorrencias" type="tns:ArrayOfOcorrencia" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOcorrencia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Ocorrencia" nillable="true" type="tns:Ocorrencia" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ocorrencia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descricao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="observacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="imagens" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="data" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStatusPedagio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcedimentoEmbarque" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Carga" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusPedagioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusPedagioResult" type="tns:StatusPedagio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StatusPedagio">
        <s:complexContent mixed="false">
          <s:extension base="tns:Retorno">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Estagio" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TentativasEsgotadas" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="EfetuaCompra" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="SemPedagio" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoSemparar" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Comprovante" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetDadosVeiculos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dataControle" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDadosVeiculosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDadosVeiculosResult" type="tns:ArrayOfDadosVeiculo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDadosVeiculo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DadosVeiculo" nillable="true" type="tns:DadosVeiculo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DadosVeiculo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoProprietario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Proprietario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Placa" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QuantidadeEixos" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoVeiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Marca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Modelo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Renavam" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Chassi" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AnoModelo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MCT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tecnologia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStatusViagemVeiculo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="veiculo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusViagemVeiculoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusViagemVeiculoResult" type="tns:ArrayOfStatusViagem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStatusViagem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StatusViagem" nillable="true" type="tns:StatusViagem" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRotograma">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Viagem" type="tns:IdentificadorViagem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IdentificadorViagem">
        <s:complexContent mixed="false">
          <s:extension base="tns:Cancelamento" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Cancelamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="V_Carga" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="V_ProcedimentoEmbarque" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRotogramaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRotogramaResult" type="tns:RetornoItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoItem">
        <s:complexContent mixed="false">
          <s:extension base="tns:Retorno">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="descricao" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetComprovanteAgendamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="viagem" type="tns:IdentificadorViagem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComprovanteAgendamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetComprovanteAgendamentoResult" type="tns:RetornoItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCadastroVeiculo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="placa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCadastroVeiculoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCadastroVeiculoResult" type="tns:DadosVeiculo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocalAbastecimento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Placas" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="dataIni" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dataFim" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocalAbastecimentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocalAbastecimentoResult" type="tns:ArrayOfVeiculos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVeiculos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Veiculos" nillable="true" type="tns:Veiculos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Veiculos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Placa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Condutor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DATAHORA" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Coordenada" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Hodometro" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StatusTransportePorDemandaSoapIn">
    <wsdl:part name="parameters" element="tns:StatusTransportePorDemanda" />
  </wsdl:message>
  <wsdl:message name="StatusTransportePorDemandaSoapOut">
    <wsdl:part name="parameters" element="tns:StatusTransportePorDemandaResponse" />
  </wsdl:message>
  <wsdl:message name="StatusTransportePorDemandaValidationSoapHeader">
    <wsdl:part name="ValidationSoapHeader" element="tns:ValidationSoapHeader" />
  </wsdl:message>
  <wsdl:message name="StatusTransportePorDataSoapIn">
    <wsdl:part name="parameters" element="tns:StatusTransportePorData" />
  </wsdl:message>
  <wsdl:message name="StatusTransportePorDataSoapOut">
    <wsdl:part name="parameters" element="tns:StatusTransportePorDataResponse" />
  </wsdl:message>
  <wsdl:message name="StatusTransportePorDataValidationSoapHeader">
    <wsdl:part name="ValidationSoapHeader" element="tns:ValidationSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetPosicaoVeiculoSoapIn">
    <wsdl:part name="parameters" element="tns:GetPosicaoVeiculo" />
  </wsdl:message>
  <wsdl:message name="GetPosicaoVeiculoSoapOut">
    <wsdl:part name="parameters" element="tns:GetPosicaoVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="GetPosicaoVeiculoValidationSoapHeader">
    <wsdl:part name="ValidationSoapHeader" element="tns:ValidationSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetStatusViagemSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusViagem" />
  </wsdl:message>
  <wsdl:message name="GetStatusViagemSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusViagemResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusViagemValidationSoapHeader">
    <wsdl:part name="ValidationSoapHeader" element="tns:ValidationSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetStatusPedagioSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusPedagio" />
  </wsdl:message>
  <wsdl:message name="GetStatusPedagioSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusPedagioResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusPedagioValidationSoapHeader">
    <wsdl:part name="ValidationSoapHeader" element="tns:ValidationSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetDadosVeiculosSoapIn">
    <wsdl:part name="parameters" element="tns:GetDadosVeiculos" />
  </wsdl:message>
  <wsdl:message name="GetDadosVeiculosSoapOut">
    <wsdl:part name="parameters" element="tns:GetDadosVeiculosResponse" />
  </wsdl:message>
  <wsdl:message name="GetDadosVeiculosValidationSoapHeader">
    <wsdl:part name="ValidationSoapHeader" element="tns:ValidationSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetStatusViagemVeiculoSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusViagemVeiculo" />
  </wsdl:message>
  <wsdl:message name="GetStatusViagemVeiculoSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusViagemVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusViagemVeiculoValidationSoapHeader">
    <wsdl:part name="ValidationSoapHeader" element="tns:ValidationSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetRotogramaSoapIn">
    <wsdl:part name="parameters" element="tns:GetRotograma" />
  </wsdl:message>
  <wsdl:message name="GetRotogramaSoapOut">
    <wsdl:part name="parameters" element="tns:GetRotogramaResponse" />
  </wsdl:message>
  <wsdl:message name="GetRotogramaValidationSoapHeader">
    <wsdl:part name="ValidationSoapHeader" element="tns:ValidationSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetComprovanteAgendamentoSoapIn">
    <wsdl:part name="parameters" element="tns:GetComprovanteAgendamento" />
  </wsdl:message>
  <wsdl:message name="GetComprovanteAgendamentoSoapOut">
    <wsdl:part name="parameters" element="tns:GetComprovanteAgendamentoResponse" />
  </wsdl:message>
  <wsdl:message name="GetComprovanteAgendamentoValidationSoapHeader">
    <wsdl:part name="ValidationSoapHeader" element="tns:ValidationSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetCadastroVeiculoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCadastroVeiculo" />
  </wsdl:message>
  <wsdl:message name="GetCadastroVeiculoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCadastroVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="GetCadastroVeiculoValidationSoapHeader">
    <wsdl:part name="ValidationSoapHeader" element="tns:ValidationSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetLocalAbastecimentoSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocalAbastecimento" />
  </wsdl:message>
  <wsdl:message name="GetLocalAbastecimentoSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocalAbastecimentoResponse" />
  </wsdl:message>
  <wsdl:message name="GetLocalAbastecimentoValidationSoapHeader">
    <wsdl:part name="ValidationSoapHeader" element="tns:ValidationSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="WSStatusSoap">
    <wsdl:operation name="StatusTransportePorDemanda">
      <wsdl:input message="tns:StatusTransportePorDemandaSoapIn" />
      <wsdl:output message="tns:StatusTransportePorDemandaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StatusTransportePorData">
      <wsdl:input message="tns:StatusTransportePorDataSoapIn" />
      <wsdl:output message="tns:StatusTransportePorDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPosicaoVeiculo">
      <wsdl:input message="tns:GetPosicaoVeiculoSoapIn" />
      <wsdl:output message="tns:GetPosicaoVeiculoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusViagem">
      <wsdl:input message="tns:GetStatusViagemSoapIn" />
      <wsdl:output message="tns:GetStatusViagemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusPedagio">
      <wsdl:input message="tns:GetStatusPedagioSoapIn" />
      <wsdl:output message="tns:GetStatusPedagioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDadosVeiculos">
      <wsdl:input message="tns:GetDadosVeiculosSoapIn" />
      <wsdl:output message="tns:GetDadosVeiculosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusViagemVeiculo">
      <wsdl:input message="tns:GetStatusViagemVeiculoSoapIn" />
      <wsdl:output message="tns:GetStatusViagemVeiculoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRotograma">
      <wsdl:input message="tns:GetRotogramaSoapIn" />
      <wsdl:output message="tns:GetRotogramaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetComprovanteAgendamento">
      <wsdl:input message="tns:GetComprovanteAgendamentoSoapIn" />
      <wsdl:output message="tns:GetComprovanteAgendamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCadastroVeiculo">
      <wsdl:input message="tns:GetCadastroVeiculoSoapIn" />
      <wsdl:output message="tns:GetCadastroVeiculoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalAbastecimento">
      <wsdl:input message="tns:GetLocalAbastecimentoSoapIn" />
      <wsdl:output message="tns:GetLocalAbastecimentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSStatusSoap" type="tns:WSStatusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StatusTransportePorDemanda">
      <soap:operation soapAction="http://www.angellira.com.br/StatusTransportePorDemanda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:StatusTransportePorDemandaValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusTransportePorData">
      <soap:operation soapAction="http://www.angellira.com.br/StatusTransportePorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:StatusTransportePorDataValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPosicaoVeiculo">
      <soap:operation soapAction="http://www.angellira.com.br/GetPosicaoVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPosicaoVeiculoValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusViagem">
      <soap:operation soapAction="http://www.angellira.com.br/GetStatusViagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetStatusViagemValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusPedagio">
      <soap:operation soapAction="http://www.angellira.com.br/GetStatusPedagio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetStatusPedagioValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDadosVeiculos">
      <soap:operation soapAction="http://www.angellira.com.br/GetDadosVeiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDadosVeiculosValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusViagemVeiculo">
      <soap:operation soapAction="http://www.angellira.com.br/GetStatusViagemVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetStatusViagemVeiculoValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRotograma">
      <soap:operation soapAction="http://www.angellira.com.br/GetRotograma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetRotogramaValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComprovanteAgendamento">
      <soap:operation soapAction="http://www.angellira.com.br/GetComprovanteAgendamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetComprovanteAgendamentoValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCadastroVeiculo">
      <soap:operation soapAction="http://www.angellira.com.br/GetCadastroVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCadastroVeiculoValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalAbastecimento">
      <soap:operation soapAction="http://www.angellira.com.br/GetLocalAbastecimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetLocalAbastecimentoValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSStatusSoap12" type="tns:WSStatusSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StatusTransportePorDemanda">
      <soap12:operation soapAction="http://www.angellira.com.br/StatusTransportePorDemanda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:StatusTransportePorDemandaValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusTransportePorData">
      <soap12:operation soapAction="http://www.angellira.com.br/StatusTransportePorData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:StatusTransportePorDataValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPosicaoVeiculo">
      <soap12:operation soapAction="http://www.angellira.com.br/GetPosicaoVeiculo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPosicaoVeiculoValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusViagem">
      <soap12:operation soapAction="http://www.angellira.com.br/GetStatusViagem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetStatusViagemValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusPedagio">
      <soap12:operation soapAction="http://www.angellira.com.br/GetStatusPedagio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetStatusPedagioValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDadosVeiculos">
      <soap12:operation soapAction="http://www.angellira.com.br/GetDadosVeiculos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDadosVeiculosValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusViagemVeiculo">
      <soap12:operation soapAction="http://www.angellira.com.br/GetStatusViagemVeiculo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetStatusViagemVeiculoValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRotograma">
      <soap12:operation soapAction="http://www.angellira.com.br/GetRotograma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRotogramaValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComprovanteAgendamento">
      <soap12:operation soapAction="http://www.angellira.com.br/GetComprovanteAgendamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetComprovanteAgendamentoValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCadastroVeiculo">
      <soap12:operation soapAction="http://www.angellira.com.br/GetCadastroVeiculo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCadastroVeiculoValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalAbastecimento">
      <soap12:operation soapAction="http://www.angellira.com.br/GetLocalAbastecimento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetLocalAbastecimentoValidationSoapHeader" part="ValidationSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSStatus">
    <wsdl:port name="WSStatusSoap" binding="tns:WSStatusSoap">
      <soap:address location="https://api.angellira.com.br/ws-soap/WSStatus.asmx" />
    </wsdl:port>
    <wsdl:port name="WSStatusSoap12" binding="tns:WSStatusSoap12">
      <soap12:address location="https://api.angellira.com.br/ws-soap/WSStatus.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>