WebApplication1/Service References/WSNFe/NFe.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54743/NFe.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:complexType name="ArrayOfDadosNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DadosNotaFiscal" nillable="true" type="tns:DadosNotaFiscal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDadosNotaFiscal" nillable="true" type="tns:ArrayOfDadosNotaFiscal" />
  <xs:complexType name="DadosNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseCalculoICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculoST" type="xs:decimal" />
      <xs:element minOccurs="0" name="CPFCNPJDestinatario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPFCNPJRemetente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaturezaOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoNotaFiscal" type="q1:TipoNotaFiscal" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCOFINS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDesconto" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIPI" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorImpostoImportacao" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorOutros" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPIS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorST" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorSeguro" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalProdutos" type="xs:decimal" />
      <xs:element minOccurs="0" name="Volumes" type="xs:int" />
      <xs:element minOccurs="0" name="codigoCanhotoNF" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosNotaFiscal" nillable="true" type="tns:DadosNotaFiscal" />
</xs:schema>