Servicos/Service References/ServicoMarilan.AdicionarFatura/AdicionarFatura_1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:s0="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp:UsingPolicy required="true" />
  <wsp:Policy wsu:Id="BN__binding">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <wsp:ExactlyOne>
                      <sp:HttpBasicAuthentication />
                      <sp:RequireClientCertificate />
                    </wsp:ExactlyOne>
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <wsp:ExactlyOne>
                  <sp:Basic256 />
                  <sp:Basic192 />
                  <sp:Basic128 />
                  <sp:TripleDes />
                  <sp:Basic256Rsa15 />
                  <sp:Basic192Rsa15 />
                  <sp:Basic128Rsa15 />
                  <sp:TripleDesRsa15 />
                  <sp:Basic256Sha256 />
                  <sp:Basic192Sha256 />
                  <sp:Basic128Sha256 />
                  <sp:TripleDesSha256 />
                  <sp:Basic256Sha256Rsa15 />
                  <sp:Basic192Sha256Rsa15 />
                  <sp:Basic128Sha256Rsa15 />
                  <sp:TripleDesSha256Rsa15 />
                </wsp:ExactlyOne>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <types>
    <xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:element name="AdicionarFatura">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="I_FATURA">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="s0:ZEME_FATURA" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AdicionarFatura.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="E_MESSAGE">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="100" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="E_SUCESSO">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ZEME_FATURA">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ZZEMPRESA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZZCENTRO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZZCODIGO_TRANSPORTADOR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZZCNPJ_TRANSPORTADOR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="16" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZZNUMERO_FATURA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZZNUMERO_SERIE_FATURA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZZFLAG_180_DIAS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZZDATA_PROCESSAMENTO" type="s0:date" />
          <xsd:element minOccurs="0" name="ZZHORA_PROCESSAMENTO" type="s0:time" />
          <xsd:element minOccurs="0" name="ZZDOCUMENTOS" type="s0:ZTMM_DOCUMENTOS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZEMM_DOCUMENTOS">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ZZNUMERO_NFS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZZNUMERO_CTE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZZNUMERO_SERIE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZZPROTOCOLO_CARGA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZZPROTOCOLO_PEDIDO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZZNUMERO_MIRO_SAP">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZZEXERCICIO_MIRO_SAP">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZTMM_DOCUMENTOS">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="s0:ZEMM_DOCUMENTOS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="....-..-.." />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="time">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:pattern value="..:..:.." />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </types>
  <message name="AdicionarFaturaOutput">
    <part name="parameters" element="s0:AdicionarFatura.Response" />
  </message>
  <message name="AdicionarFaturaInput">
    <part name="parameters" element="s0:AdicionarFatura" />
  </message>
  <portType name="AdicionarFaturaPortType">
    <operation name="AdicionarFatura">
      <input message="s0:AdicionarFaturaInput" />
      <output message="s0:AdicionarFaturaOutput" />
    </operation>
  </portType>
  <binding name="AdicionarFaturaBinding" type="s0:AdicionarFaturaPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__binding" />
    </wsp:Policy>
    <operation name="AdicionarFatura">
      <soap:operation soapAction="http://www.sap.com/AdicionarFatura" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="service">
    <port name="port" binding="s0:AdicionarFaturaBinding">
      <soap:address location="http://marilan-integration-suite-qas-w4gcvzkq.it-cpi008-rt.cfapps.br10.hana.ondemand.com/cxf/MultiEmbarcador/AdicionarFatura" />
    </port>
  </service>
</definitions>