Servicos/Service References/ServicoNatura.ProcessaCTeNFSe/SI_ProcessaCteNfse_Sync.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://www.natura.net/CteNfse" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_ProcessaCteNfse_Sync" targetNamespace="http://www.natura.net/CteNfse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_ProcessaCteNfse_Sync" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.natura.net/CteNfse" targetNamespace="http://www.natura.net/CteNfse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_EletronicDocumentResponse" type="p1:DT_EletronicDocumentResponse" />
      <xsd:element name="MT_EletronicDocumentRequest" type="p1:DT_EletronicDocumentRequest" />
      <xsd:complexType name="DT_EletronicDocumentRequest">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">25381b18710d11e6a17c00000189c4e2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="dados">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fd821a531b7211e5b6da54ec5bba1438</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="numeroTransporte" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fd821a4d1b7211e5a9f954ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="codTranspMatriz" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">2971b82225a811e5ce5c54ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="codTranspEmit" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">811e4de62f0811e5ada7aaaaaaac9800</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="cnpjEmitente" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fd821a4e1b7211e5ceb754ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="cnpjTomador" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fd821a4f1b7211e58e0b54ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" name="documentoFiscal">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fd821a521b7211e5ad7554ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="numero" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">9b22a56c1b7311e586a454ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="serie" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">9b22a56d1b7311e5a18154ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="modelo" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">9b22a56e1b7311e5add354ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="dataEmissao" type="xsd:date">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">9b22a56f1b7311e58fe854ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="origem" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">9b22a5701b7311e5998254ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="destino" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">9b22a5711b7311e59d8854ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="tipoDoc" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">c22414432f0711e5afadaaaaaaac9800</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="valorFrete" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">9b22a5721b7311e5a11854ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="valorImpostos" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">9b22a5731b7311e5902d54ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="nfse">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">9b22a5741b7311e5bc4154ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="retencao" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed705e771b7411e5833654ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="aliqISS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed705e781b7411e5c06f54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="baseISS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed705e791b7411e5c77854ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="valorISS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed705e7a1b7411e5c1f054ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="aliqPIS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed705e7b1b7411e5c16254ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="basePIS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed705e7c1b7411e5c43954ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="valorPIS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed705e7d1b7411e5b26754ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="aliqCOFINS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed705e7e1b7411e5c50954ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="baseCOFINS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed72c13b1b7411e5a52a54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="valorCOFINS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed72c13c1b7411e594ae54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="aliqCSLL" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed72c13d1b7411e5a67c54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="baseCSLL" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed72c13e1b7411e5cebc54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="valorCSLL" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed72c13f1b7411e5bbb654ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="aliqIR" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed72c1401b7411e59fe354ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="baseIR" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed72c1411b7411e5855b54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="valorIR" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">ed72c1421b7411e5adae54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="cte">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">f4f0e1ec1b7411e5b9fe54ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="chaveCTe" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">f4f0e1d41b7411e59ec054ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="xmlCTe" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">f4f0e1d51b7411e5bfac54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element maxOccurs="unbounded" name="notasTransportadas">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">189e9a7c370411e5916baaaaaaac9800</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="chaveNFe" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">189e84f6370411e5c5a6aaaaaaac9800</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="dataEmissao" type="xsd:date">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">189e84f7370411e5957caaaaaaac9800</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_EletronicDocumentResponse">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">174034a573cf11e6ce9e00000189c4e2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="dados">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">c627dcf4710d11e6940f00059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="type" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3ee9c6c5708011e6833600059a3c7a00</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="id" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a2560008708011e6bfe200059a3c7a00</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="number" type="xsd:integer">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a2560009708011e6879600059a3c7a00</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="message" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a256000a708011e6c1f300059a3c7a00</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_EletronicDocumentRequest">
    <wsdl:documentation />
    <wsdl:part name="MT_EletronicDocumentRequest" element="p1:MT_EletronicDocumentRequest" />
  </wsdl:message>
  <wsdl:message name="MT_EletronicDocumentResponse">
    <wsdl:documentation />
    <wsdl:part name="MT_EletronicDocumentResponse" element="p1:MT_EletronicDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="SI_ProcessaCteNfse_Sync">
    <wsdl:documentation />
    <wsdl:operation name="SI_ProcessaCteNfse_Sync">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_ProcessaCteNfse_Sync" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_EletronicDocumentRequest" />
      <wsdl:output message="p1:MT_EletronicDocumentResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ProcessaCteNfse_SyncBinding" type="p1:SI_ProcessaCteNfse_Sync">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_ProcessaCteNfse_Sync">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ProcessaCteNfse_SyncService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_ProcessaCteNfse_SyncBinding">
      <address location="http://aslx251br.natura.com.br:50200/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaCteNfse_Sync&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FCteNfse" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_ProcessaCteNfse_SyncBinding">
      <address location="https://aslx251br.natura.com.br:50201/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaCteNfse_Sync&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FCteNfse" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>