EmissaoCTe.API/Service References/ConsultaCNPJ/ConsultaCNPJ87.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SGT.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://multicte.cloudapp.net/SGT.WebService/ConsultaCNPJ.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pessoa" />
  <xs:complexType name="RetornoOfRequisicaoFazendaPessoaJuridicaDggAjPvf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RequisicaoFazendaPessoaJuridica" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pessoa" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pessoa" minOccurs="0" name="Objeto" nillable="true" type="q1:RequisicaoFazendaPessoaJuridica" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRequisicaoFazendaPessoaJuridicaDggAjPvf" nillable="true" type="tns:RetornoOfRequisicaoFazendaPessoaJuridicaDggAjPvf" />
  <xs:complexType name="RetornoOfConsultaReceitaPessoaJuridicaDggAjPvf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ConsultaReceitaPessoaJuridica" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pessoa" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pessoa" minOccurs="0" name="Objeto" nillable="true" type="q2:ConsultaReceitaPessoaJuridica" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfConsultaReceitaPessoaJuridicaDggAjPvf" nillable="true" type="tns:RetornoOfConsultaReceitaPessoaJuridicaDggAjPvf" />
  <xs:complexType name="RetornoOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfstring" nillable="true" type="tns:RetornoOfstring" />
</xs:schema>