EmissaoCTe.API/Service References/ConsultaCNPJ/ConsultaCNPJ85.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://multicte.cloudapp.net/SGT.WebService/ConsultaCNPJ.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
  <xs:import schemaLocation="http://multicte.cloudapp.net/SGT.WebService/ConsultaCNPJ.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pessoa" />
  <xs:element name="SolicitarRequisicaoFazendaPessoaJuridica">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarRequisicaoFazendaPessoaJuridicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SolicitarRequisicaoFazendaPessoaJuridicaResult" nillable="true" type="q1:RetornoOfRequisicaoFazendaPessoaJuridicaDggAjPvf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPessoaJuridicaFazenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pessoa" minOccurs="0" name="requisicaoReceita" nillable="true" type="q2:RequisicaoFazendaPessoaJuridica" />
        <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Captcha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPessoaJuridicaFazendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConsultarPessoaJuridicaFazendaResult" nillable="true" type="q3:RetornoOfConsultaReceitaPessoaJuridicaDggAjPvf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarInscricaoSintegra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarInscricaoSintegraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConsultarInscricaoSintegraResult" nillable="true" type="q4:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCadastroCentralizado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCadastroCentralizadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConsultarCadastroCentralizadoResult" nillable="true" type="q5:RetornoOfConsultaReceitaPessoaJuridicaDggAjPvf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>