EmissaoCTe.API/Service References/ConsultaCNPJ/ConsultaCNPJ1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConsultaCNPJ" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://multicte.cloudapp.net/SGT.WebService/ConsultaCNPJ.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://multicte.cloudapp.net/SGT.WebService/ConsultaCNPJ.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://multicte.cloudapp.net/SGT.WebService/ConsultaCNPJ.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
      <xsd:import schemaLocation="http://multicte.cloudapp.net/SGT.WebService/ConsultaCNPJ.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pessoa" />
      <xsd:import schemaLocation="http://multicte.cloudapp.net/SGT.WebService/ConsultaCNPJ.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" />
      <xsd:import schemaLocation="http://multicte.cloudapp.net/SGT.WebService/ConsultaCNPJ.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
      <xsd:import schemaLocation="http://multicte.cloudapp.net/SGT.WebService/ConsultaCNPJ.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
      <xsd:import schemaLocation="http://multicte.cloudapp.net/SGT.WebService/ConsultaCNPJ.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
      <xsd:import schemaLocation="http://multicte.cloudapp.net/SGT.WebService/ConsultaCNPJ.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConsultaCNPJ_SolicitarRequisicaoFazendaPessoaJuridica_InputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarRequisicaoFazendaPessoaJuridica" />
  </wsdl:message>
  <wsdl:message name="IConsultaCNPJ_SolicitarRequisicaoFazendaPessoaJuridica_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarRequisicaoFazendaPessoaJuridicaResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultaCNPJ_ConsultarPessoaJuridicaFazenda_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPessoaJuridicaFazenda" />
  </wsdl:message>
  <wsdl:message name="IConsultaCNPJ_ConsultarPessoaJuridicaFazenda_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPessoaJuridicaFazendaResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultaCNPJ_ConsultarInscricaoSintegra_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarInscricaoSintegra" />
  </wsdl:message>
  <wsdl:message name="IConsultaCNPJ_ConsultarInscricaoSintegra_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarInscricaoSintegraResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultaCNPJ_ConsultarCadastroCentralizado_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCadastroCentralizado" />
  </wsdl:message>
  <wsdl:message name="IConsultaCNPJ_ConsultarCadastroCentralizado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCadastroCentralizadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IConsultaCNPJ">
    <wsdl:operation name="SolicitarRequisicaoFazendaPessoaJuridica">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultaCNPJ/SolicitarRequisicaoFazendaPessoaJuridica" message="tns:IConsultaCNPJ_SolicitarRequisicaoFazendaPessoaJuridica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultaCNPJ/SolicitarRequisicaoFazendaPessoaJuridicaResponse" message="tns:IConsultaCNPJ_SolicitarRequisicaoFazendaPessoaJuridica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPessoaJuridicaFazenda">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultaCNPJ/ConsultarPessoaJuridicaFazenda" message="tns:IConsultaCNPJ_ConsultarPessoaJuridicaFazenda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultaCNPJ/ConsultarPessoaJuridicaFazendaResponse" message="tns:IConsultaCNPJ_ConsultarPessoaJuridicaFazenda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarInscricaoSintegra">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultaCNPJ/ConsultarInscricaoSintegra" message="tns:IConsultaCNPJ_ConsultarInscricaoSintegra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultaCNPJ/ConsultarInscricaoSintegraResponse" message="tns:IConsultaCNPJ_ConsultarInscricaoSintegra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCadastroCentralizado">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultaCNPJ/ConsultarCadastroCentralizado" message="tns:IConsultaCNPJ_ConsultarCadastroCentralizado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultaCNPJ/ConsultarCadastroCentralizadoResponse" message="tns:IConsultaCNPJ_ConsultarCadastroCentralizado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConsultaCNPJ" type="tns:IConsultaCNPJ">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitarRequisicaoFazendaPessoaJuridica">
      <soap:operation soapAction="http://tempuri.org/IConsultaCNPJ/SolicitarRequisicaoFazendaPessoaJuridica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPessoaJuridicaFazenda">
      <soap:operation soapAction="http://tempuri.org/IConsultaCNPJ/ConsultarPessoaJuridicaFazenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarInscricaoSintegra">
      <soap:operation soapAction="http://tempuri.org/IConsultaCNPJ/ConsultarInscricaoSintegra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCadastroCentralizado">
      <soap:operation soapAction="http://tempuri.org/IConsultaCNPJ/ConsultarCadastroCentralizado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaCNPJ">
    <wsdl:port name="BasicHttpBinding_IConsultaCNPJ" binding="tns:BasicHttpBinding_IConsultaCNPJ">
      <soap:address location="http://multicte.cloudapp.net/SGT.WebService/ConsultaCNPJ.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>