Servicos/Service References/SGT.WebService.NFS/NFS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NFS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_INFS_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.NFS" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
      <xsd:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INFS_BuscarNFSs_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNFSs" />
  </wsdl:message>
  <wsdl:message name="INFS_BuscarNFSs_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNFSsResponse" />
  </wsdl:message>
  <wsdl:message name="INFS_BuscarNFSsPorCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNFSsPorCarga" />
  </wsdl:message>
  <wsdl:message name="INFS_BuscarNFSsPorCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNFSsPorCargaResponse" />
  </wsdl:message>
  <wsdl:message name="INFS_BuscarNFSsPorPeriodo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNFSsPorPeriodo" />
  </wsdl:message>
  <wsdl:message name="INFS_BuscarNFSsPorPeriodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNFSsPorPeriodoResponse" />
  </wsdl:message>
  <wsdl:message name="INFS_BuscarNFSPorProtocolo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNFSPorProtocolo" />
  </wsdl:message>
  <wsdl:message name="INFS_BuscarNFSPorProtocolo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNFSPorProtocoloResponse" />
  </wsdl:message>
  <wsdl:message name="INFS_BuscarNFSesComplementaresAguardandoIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNFSesComplementaresAguardandoIntegracao" />
  </wsdl:message>
  <wsdl:message name="INFS_BuscarNFSesComplementaresAguardandoIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNFSesComplementaresAguardandoIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="INFS_BuscarNFSAguardandoIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNFSAguardandoIntegracao" />
  </wsdl:message>
  <wsdl:message name="INFS_BuscarNFSAguardandoIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNFSAguardandoIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="INFS_EnviarNFSe_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNFSe" />
  </wsdl:message>
  <wsdl:message name="INFS_EnviarNFSe_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNFSeResponse" />
  </wsdl:message>
  <wsdl:message name="INFS_ConfirmarIntegracaoNFS_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoNFS" />
  </wsdl:message>
  <wsdl:message name="INFS_ConfirmarIntegracaoNFS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoNFSResponse" />
  </wsdl:message>
  <wsdl:message name="INFS_ConfirmarIntegracaoNFSComplementar_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoNFSComplementar" />
  </wsdl:message>
  <wsdl:message name="INFS_ConfirmarIntegracaoNFSComplementar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoNFSComplementarResponse" />
  </wsdl:message>
  <wsdl:message name="INFS_InformarRejeicaoNFS_InputMessage">
    <wsdl:part name="parameters" element="tns:InformarRejeicaoNFS" />
  </wsdl:message>
  <wsdl:message name="INFS_InformarRejeicaoNFS_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformarRejeicaoNFSResponse" />
  </wsdl:message>
  <wsdl:portType name="INFS">
    <wsdl:operation name="BuscarNFSs">
      <wsdl:input wsaw:Action="http://tempuri.org/INFS/BuscarNFSs" message="tns:INFS_BuscarNFSs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFS/BuscarNFSsResponse" message="tns:INFS_BuscarNFSs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNFSsPorCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/INFS/BuscarNFSsPorCarga" message="tns:INFS_BuscarNFSsPorCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFS/BuscarNFSsPorCargaResponse" message="tns:INFS_BuscarNFSsPorCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNFSsPorPeriodo">
      <wsdl:input wsaw:Action="http://tempuri.org/INFS/BuscarNFSsPorPeriodo" message="tns:INFS_BuscarNFSsPorPeriodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFS/BuscarNFSsPorPeriodoResponse" message="tns:INFS_BuscarNFSsPorPeriodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNFSPorProtocolo">
      <wsdl:input wsaw:Action="http://tempuri.org/INFS/BuscarNFSPorProtocolo" message="tns:INFS_BuscarNFSPorProtocolo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFS/BuscarNFSPorProtocoloResponse" message="tns:INFS_BuscarNFSPorProtocolo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNFSesComplementaresAguardandoIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/INFS/BuscarNFSesComplementaresAguardandoIntegracao" message="tns:INFS_BuscarNFSesComplementaresAguardandoIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFS/BuscarNFSesComplementaresAguardandoIntegracaoResponse" message="tns:INFS_BuscarNFSesComplementaresAguardandoIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNFSAguardandoIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/INFS/BuscarNFSAguardandoIntegracao" message="tns:INFS_BuscarNFSAguardandoIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFS/BuscarNFSAguardandoIntegracaoResponse" message="tns:INFS_BuscarNFSAguardandoIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarNFSe">
      <wsdl:input wsaw:Action="http://tempuri.org/INFS/EnviarNFSe" message="tns:INFS_EnviarNFSe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFS/EnviarNFSeResponse" message="tns:INFS_EnviarNFSe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoNFS">
      <wsdl:input wsaw:Action="http://tempuri.org/INFS/ConfirmarIntegracaoNFS" message="tns:INFS_ConfirmarIntegracaoNFS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFS/ConfirmarIntegracaoNFSResponse" message="tns:INFS_ConfirmarIntegracaoNFS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoNFSComplementar">
      <wsdl:input wsaw:Action="http://tempuri.org/INFS/ConfirmarIntegracaoNFSComplementar" message="tns:INFS_ConfirmarIntegracaoNFSComplementar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFS/ConfirmarIntegracaoNFSComplementarResponse" message="tns:INFS_ConfirmarIntegracaoNFSComplementar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformarRejeicaoNFS">
      <wsdl:input wsaw:Action="http://tempuri.org/INFS/InformarRejeicaoNFS" message="tns:INFS_InformarRejeicaoNFS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFS/InformarRejeicaoNFSResponse" message="tns:INFS_InformarRejeicaoNFS_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INFS" type="tns:INFS">
    <wsp:PolicyReference URI="#BasicHttpBinding_INFS_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarNFSs">
      <soap:operation soapAction="http://tempuri.org/INFS/BuscarNFSs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNFSsPorCarga">
      <soap:operation soapAction="http://tempuri.org/INFS/BuscarNFSsPorCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNFSsPorPeriodo">
      <soap:operation soapAction="http://tempuri.org/INFS/BuscarNFSsPorPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNFSPorProtocolo">
      <soap:operation soapAction="http://tempuri.org/INFS/BuscarNFSPorProtocolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNFSesComplementaresAguardandoIntegracao">
      <soap:operation soapAction="http://tempuri.org/INFS/BuscarNFSesComplementaresAguardandoIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNFSAguardandoIntegracao">
      <soap:operation soapAction="http://tempuri.org/INFS/BuscarNFSAguardandoIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarNFSe">
      <soap:operation soapAction="http://tempuri.org/INFS/EnviarNFSe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoNFS">
      <soap:operation soapAction="http://tempuri.org/INFS/ConfirmarIntegracaoNFS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoNFSComplementar">
      <soap:operation soapAction="http://tempuri.org/INFS/ConfirmarIntegracaoNFSComplementar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformarRejeicaoNFS">
      <soap:operation soapAction="http://tempuri.org/INFS/InformarRejeicaoNFS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFS">
    <wsdl:port name="BasicHttpBinding_INFS" binding="tns:BasicHttpBinding_INFS">
      <soap:address location="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>