Servicos/Service References/SGT.WebService.NFS/NFS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="UnidadeMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M3" />
      <xs:enumeration value="KG" />
      <xs:enumeration value="TON" />
      <xs:enumeration value="UN" />
      <xs:enumeration value="LT" />
      <xs:enumeration value="MMBTU" />
      <xs:enumeration value="M3_ST">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UnidadeMedida" nillable="true" type="tns:UnidadeMedida" />
  <xs:simpleType name="TipoPessoa">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fisica" />
      <xs:enumeration value="Juridica" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPessoa" nillable="true" type="tns:TipoPessoa" />
  <xs:simpleType name="StatusNFSe">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EmDigitacao" />
      <xs:enumeration value="Pendente" />
      <xs:enumeration value="Enviado" />
      <xs:enumeration value="Autorizado" />
      <xs:enumeration value="EmCancelamento" />
      <xs:enumeration value="Cancelado" />
      <xs:enumeration value="AgGeracaoNFSeManual" />
      <xs:enumeration value="AgDadosNFSeManual" />
      <xs:enumeration value="AgAprovacaoNFSeManual" />
      <xs:enumeration value="NFSeManualGerada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AguardandoAutorizacaoRPS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Rejeicao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusNFSe" nillable="true" type="tns:StatusNFSe" />
  <xs:simpleType name="TipoNotaFiscalServico">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Manual" />
      <xs:enumeration value="Eletronica" />
      <xs:enumeration value="Conjugada" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoNotaFiscalServico" nillable="true" type="tns:TipoNotaFiscalServico" />
  <xs:simpleType name="TipoProprietarioVeiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TACAgregado" />
      <xs:enumeration value="TACIndependente" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoProprietarioVeiculo" nillable="true" type="tns:TipoProprietarioVeiculo" />
</xs:schema>