Servicos/Service References/SGT.WebService.NFS/NFS15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.NFS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.NFS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" />
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" />
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" />
  <xs:complexType name="ArrayOfNFS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NFS" nillable="true" type="tns:NFS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNFS" nillable="true" type="tns:ArrayOfNFS" />
  <xs:complexType name="NFS">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" minOccurs="0" name="CentroResultado" nillable="true" type="q1:CentroResultado" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" minOccurs="0" name="CentroResultadoDestinatario" nillable="true" type="q2:CentroResultado" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" minOccurs="0" name="CentroResultadoEscrituracao" nillable="true" type="q3:CentroResultado" />
      <xs:element minOccurs="0" name="CodigoServico" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" minOccurs="0" name="ContasContabeis" nillable="true" type="q4:ArrayOfContaContabil" />
      <xs:element minOccurs="0" name="ItemServico" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="LocalidadePrestacaoServico" nillable="true" type="q5:Localidade" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Motoristas" nillable="true" type="q6:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="NFSManual" nillable="true" type="tns:NFSManual" />
      <xs:element minOccurs="0" name="NFSe" nillable="true" type="tns:NFSe" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="ObservacoesContribuinte" nillable="true" type="q7:ArrayOfObservacao" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProtocolosDePedidos" nillable="true" type="q8:ArrayOfint" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoNotaFiscalServico" type="q9:TipoNotaFiscalServico" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Tomador" nillable="true" type="q10:Pessoa" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="TransportadoraEmitente" nillable="true" type="q11:Empresa" />
      <xs:element minOccurs="0" name="UltimoRetornoSEFAZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValoresNFS" nillable="true" type="tns:ValorNFS" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculo" nillable="true" type="q12:Veiculo" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolos" nillable="true" type="q13:ArrayOfProtocolos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NFS" nillable="true" type="tns:NFS" />
  <xs:complexType name="NFSManual">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="ServicosPrestados" nillable="true" type="tns:ArrayOfNFSManualServicoPrestado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NFSManual" nillable="true" type="tns:NFSManual" />
  <xs:complexType name="ArrayOfNFSManualServicoPrestado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NFSManualServicoPrestado" nillable="true" type="tns:NFSManualServicoPrestado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNFSManualServicoPrestado" nillable="true" type="tns:ArrayOfNFSManualServicoPrestado" />
  <xs:complexType name="NFSManualServicoPrestado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      <xs:element minOccurs="0" name="ValorTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NFSManualServicoPrestado" nillable="true" type="tns:NFSManualServicoPrestado" />
  <xs:complexType name="NFSe">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoVerificacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="Documentos" nillable="true" type="q14:ArrayOfDocumentosCTe" />
      <xs:element minOccurs="0" name="MotivoCancelamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaturezaNFSe" nillable="true" type="tns:NaturezaNFSe" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroNFSeComplementada" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroProtocolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroRPS" type="xs:int" />
      <xs:element minOccurs="0" name="PDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloCarga" type="xs:int" />
      <xs:element minOccurs="0" name="Serie" type="xs:int" />
      <xs:element minOccurs="0" name="SerieNFSeComplementada" type="xs:int" />
      <xs:element minOccurs="0" name="SerieRPS" nillable="true" type="xs:string" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="StatusNFSe" type="q15:StatusNFSe" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NFSe" nillable="true" type="tns:NFSe" />
  <xs:complexType name="NaturezaNFSe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NaturezaNFSe" nillable="true" type="tns:NaturezaNFSe" />
  <xs:complexType name="ValorNFS">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliquotaISS" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculoISS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ISSRetido" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValorCOFINS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCSLL" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDeducoes" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDescontoCondicionado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDescontoIncondicionado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorINSS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIR" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorISS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorISSRetido" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorOutrasRetencoes" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPIS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorServicos" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValorNFS" nillable="true" type="tns:ValorNFS" />
  <xs:complexType name="ArrayOfNFSComplementar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NFSComplementar" nillable="true" type="tns:NFSComplementar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNFSComplementar" nillable="true" type="tns:ArrayOfNFSComplementar" />
  <xs:complexType name="NFSComplementar">
    <xs:sequence>
      <xs:element minOccurs="0" name="NFS" nillable="true" type="tns:NFS" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Ocorrencia" minOccurs="0" name="Ocorrencia" nillable="true" type="q16:Ocorrencia" />
      <xs:element minOccurs="0" name="ProtocoloNFSComplementado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NFSComplementar" nillable="true" type="tns:NFSComplementar" />
</xs:schema>