Servicos/Service References/SGT.WebService.NFS/NFS11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:complexType name="Protocolos">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q1:Pessoa" />
      <xs:element minOccurs="0" name="ParametroIdentificacaoCliente" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Remetente" nillable="true" type="q2:Pessoa" />
      <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
      <xs:element minOccurs="0" name="protocoloIntegracaoPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Protocolos" nillable="true" type="tns:Protocolos" />
  <xs:complexType name="ArrayOfProtocolos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Protocolos" nillable="true" type="tns:Protocolos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProtocolos" nillable="true" type="tns:ArrayOfProtocolos" />
</xs:schema>