Servicos/Service References/SGT.WebService.NFS/NFS4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://frimesa.multiembarcador.com.br/SGT.WebService/NFS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="TipoModeloVeicularCarga">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SemModeloVeicular">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Todos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Geral">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Reboque">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Tracao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoModeloVeicularCarga" nillable="true" type="tns:TipoModeloVeicularCarga" />
  <xs:simpleType name="ModalPropostaMultimodal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="PortoPorta" />
      <xs:enumeration value="PortaPorto" />
      <xs:enumeration value="PortaPorta" />
      <xs:enumeration value="PortoPorto" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ModalPropostaMultimodal" nillable="true" type="tns:ModalPropostaMultimodal" />
  <xs:simpleType name="TipoCobrancaMultimodal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="BLLongoCurso" />
      <xs:enumeration value="NotaFiscalServico" />
      <xs:enumeration value="CTeRodoviario" />
      <xs:enumeration value="CTeMultimodal" />
      <xs:enumeration value="CTEAquaviario" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoCobrancaMultimodal" nillable="true" type="tns:TipoCobrancaMultimodal" />
  <xs:simpleType name="TipoPropostaMultimodal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="CargaFechada" />
      <xs:enumeration value="CargaFracionada" />
      <xs:enumeration value="Feeder" />
      <xs:enumeration value="VAS" />
      <xs:enumeration value="TakePayFeeder" />
      <xs:enumeration value="TAkePayCabotagem" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPropostaMultimodal" nillable="true" type="tns:TipoPropostaMultimodal" />
  <xs:simpleType name="TipoServicoMultimodal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Subcontratacao" />
      <xs:enumeration value="RedespachoIntermediario" />
      <xs:enumeration value="VinculadoMultimodalTerceiro" />
      <xs:enumeration value="VinculadoMultimodalProprio" />
      <xs:enumeration value="Redespacho" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoServicoMultimodal" nillable="true" type="tns:TipoServicoMultimodal" />
  <xs:simpleType name="ParametroRateioFormula">
    <xs:restriction base="xs:string">
      <xs:enumeration value="todos" />
      <xs:enumeration value="peso" />
      <xs:enumeration value="distancia" />
      <xs:enumeration value="porNotaFiscal" />
      <xs:enumeration value="ValorMercadoria" />
      <xs:enumeration value="porCTe" />
      <xs:enumeration value="porValorCTe" />
      <xs:enumeration value="MetroCubico" />
      <xs:enumeration value="porFracionadaTonelada" />
      <xs:enumeration value="porFracionadaMetroCubico" />
      <xs:enumeration value="PesoLiquido" />
      <xs:enumeration value="Volume" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ParametroRateioFormula" nillable="true" type="tns:ParametroRateioFormula" />
  <xs:simpleType name="RegimeTributario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoInformado" />
      <xs:enumeration value="SimplesNacional" />
      <xs:enumeration value="LucroReal" />
      <xs:enumeration value="LucroPresumido" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegimeTributario" nillable="true" type="tns:RegimeTributario" />
  <xs:simpleType name="TipoEmissaoCTeDocumentos">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoInformado" />
      <xs:enumeration value="EmitePorPedidoAgrupado" />
      <xs:enumeration value="EmitePorNotaFiscalAgrupada" />
      <xs:enumeration value="EmitePorNotaFiscalIndividual" />
      <xs:enumeration value="EmitePorPedidoIndividual" />
      <xs:enumeration value="EmitePorNotaFiscalAgrupadaEntrePedidos" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoEmissaoCTeDocumentos" nillable="true" type="tns:TipoEmissaoCTeDocumentos" />
  <xs:simpleType name="TipoFavorecidoCIOT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Transportador">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Motorista">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoFavorecidoCIOT" nillable="true" type="tns:TipoFavorecidoCIOT" />
  <xs:simpleType name="TipoPagamentoCIOT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SemPgto" />
      <xs:enumeration value="Cartao" />
      <xs:enumeration value="Deposito" />
      <xs:enumeration value="Transferencia" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPagamentoCIOT" nillable="true" type="tns:TipoPagamentoCIOT" />
  <xs:simpleType name="TipoDocumentoRetorno">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="PDF" />
      <xs:enumeration value="XML" />
      <xs:enumeration value="Todos" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoDocumentoRetorno" nillable="true" type="tns:TipoDocumentoRetorno" />
  <xs:simpleType name="TipoContaBanco">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Corrente">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Poupança">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Salario">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoContaBanco" nillable="true" type="tns:TipoContaBanco" />
  <xs:simpleType name="TipoMotorista">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Proprio" />
      <xs:enumeration value="Terceiro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoMotorista" nillable="true" type="tns:TipoMotorista" />
  <xs:simpleType name="TipoVeiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tracao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Reboque">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoVeiculo" nillable="true" type="tns:TipoVeiculo" />
  <xs:simpleType name="TipoCarroceria">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoAplicavel" />
      <xs:enumeration value="Aberta" />
      <xs:enumeration value="FechadaBau" />
      <xs:enumeration value="Graneleira" />
      <xs:enumeration value="PortaContainer" />
      <xs:enumeration value="Utilitario" />
      <xs:enumeration value="Sider" />
      <xs:enumeration value="Todos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoCarroceria" nillable="true" type="tns:TipoCarroceria" />
  <xs:simpleType name="TipoPropriedadeVeiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Proprio">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Terceiros">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPropriedadeVeiculo" nillable="true" type="tns:TipoPropriedadeVeiculo" />
  <xs:simpleType name="TipoRodado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoAplicavel" />
      <xs:enumeration value="Truck" />
      <xs:enumeration value="Toco" />
      <xs:enumeration value="CavaloMecanico" />
      <xs:enumeration value="VAN" />
      <xs:enumeration value="Utilitario" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoRodado" nillable="true" type="tns:TipoRodado" />
</xs:schema>