WebApplication1/Service References/ServicoIntegracaoNFSe/IntegracaoNFSe2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3521/IntegracaoNFSe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:complexType name="RetornoOfRetornoNFSelQrtB7Zh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoNFSe" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:RetornoNFSe" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoNFSelQrtB7Zh" nillable="true" type="tns:RetornoOfRetornoNFSelQrtB7Zh" />
  <xs:complexType name="RetornoNFSe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arquivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJEmitente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoNFSe" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoVerificacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensagemRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeArquivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroNFSe" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroProtocolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerieNFSe" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="StatusNFSe" type="q1:StatusNFSe" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="Tipo" type="q2:TipoIntegracaoNFSe" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoNFSe" nillable="true" type="tns:RetornoNFSe" />
</xs:schema>