WebApplication1/Service References/ServicoIntegracaoNFSe/IntegracaoNFSe3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3521/IntegracaoNFSe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="TipoIntegracaoNFSe">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Emissao" />
      <xs:enumeration value="Cancelamento" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoIntegracaoNFSe" nillable="true" type="tns:TipoIntegracaoNFSe" />
  <xs:simpleType name="TipoRetornoIntegracao">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="XML">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PDF">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CONEMB">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TXT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XML_PDF">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoRetornoIntegracao" nillable="true" type="tns:TipoRetornoIntegracao" />
  <xs:simpleType name="StatusNFSe">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EmDigitacao" />
      <xs:enumeration value="Pendente" />
      <xs:enumeration value="Enviado" />
      <xs:enumeration value="Autorizado" />
      <xs:enumeration value="EmCancelamento" />
      <xs:enumeration value="Cancelado" />
      <xs:enumeration value="Rejeicao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusNFSe" nillable="true" type="tns:StatusNFSe" />
</xs:schema>