Servicos/Service References/ServicoRepom.Expedicao/expedicao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.repom.com.br/RepomWS/Expedicao" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.repom.com.br/RepomWS/Expedicao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Expedição da Integração Simplificada.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.repom.com.br/RepomWS/Expedicao">
      <s:element name="IntegraDadosCadastroNacional">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAssinaturaDigital" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlInContratado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlInMotorista" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlInVeiculo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlInCarreta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntegraDadosCadastroNacionalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IntegraDadosCadastroNacionalResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmiteContrato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAssinaturaDigital" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlIn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmiteContratoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmiteContratoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaContrato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAssinaturaDigital" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlIn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaContratoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConsultaContratoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelaContrato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAssinaturaDigital" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlIn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelaContratoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CancelaContratoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaAberturaContrato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAssinaturaDigital" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlIn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaAberturaContratoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidaAberturaContratoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarPortadorCartao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAssinaturaDigital" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlIn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarPortadorCartaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AlterarPortadorCartaoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXmlErr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IntegraDadosCadastroNacionalSoapIn">
    <wsdl:part name="parameters" element="tns:IntegraDadosCadastroNacional" />
  </wsdl:message>
  <wsdl:message name="IntegraDadosCadastroNacionalSoapOut">
    <wsdl:part name="parameters" element="tns:IntegraDadosCadastroNacionalResponse" />
  </wsdl:message>
  <wsdl:message name="EmiteContratoSoapIn">
    <wsdl:part name="parameters" element="tns:EmiteContrato" />
  </wsdl:message>
  <wsdl:message name="EmiteContratoSoapOut">
    <wsdl:part name="parameters" element="tns:EmiteContratoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaContratoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaContrato" />
  </wsdl:message>
  <wsdl:message name="ConsultaContratoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaContratoResponse" />
  </wsdl:message>
  <wsdl:message name="CancelaContratoSoapIn">
    <wsdl:part name="parameters" element="tns:CancelaContrato" />
  </wsdl:message>
  <wsdl:message name="CancelaContratoSoapOut">
    <wsdl:part name="parameters" element="tns:CancelaContratoResponse" />
  </wsdl:message>
  <wsdl:message name="ValidaAberturaContratoSoapIn">
    <wsdl:part name="parameters" element="tns:ValidaAberturaContrato" />
  </wsdl:message>
  <wsdl:message name="ValidaAberturaContratoSoapOut">
    <wsdl:part name="parameters" element="tns:ValidaAberturaContratoResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarPortadorCartaoSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarPortadorCartao" />
  </wsdl:message>
  <wsdl:message name="AlterarPortadorCartaoSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarPortadorCartaoResponse" />
  </wsdl:message>
  <wsdl:portType name="ExpedicaoSoap">
    <wsdl:operation name="IntegraDadosCadastroNacional">
      <wsdl:input message="tns:IntegraDadosCadastroNacionalSoapIn" />
      <wsdl:output message="tns:IntegraDadosCadastroNacionalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmiteContrato">
      <wsdl:input message="tns:EmiteContratoSoapIn" />
      <wsdl:output message="tns:EmiteContratoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaContrato">
      <wsdl:input message="tns:ConsultaContratoSoapIn" />
      <wsdl:output message="tns:ConsultaContratoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelaContrato">
      <wsdl:input message="tns:CancelaContratoSoapIn" />
      <wsdl:output message="tns:CancelaContratoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidaAberturaContrato">
      <wsdl:input message="tns:ValidaAberturaContratoSoapIn" />
      <wsdl:output message="tns:ValidaAberturaContratoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarPortadorCartao">
      <wsdl:input message="tns:AlterarPortadorCartaoSoapIn" />
      <wsdl:output message="tns:AlterarPortadorCartaoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExpedicaoSoap" type="tns:ExpedicaoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IntegraDadosCadastroNacional">
      <soap:operation soapAction="http://www.repom.com.br/RepomWS/Expedicao/IntegraDadosCadastroNacional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmiteContrato">
      <soap:operation soapAction="http://www.repom.com.br/RepomWS/Expedicao/EmiteContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaContrato">
      <soap:operation soapAction="http://www.repom.com.br/RepomWS/Expedicao/ConsultaContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaContrato">
      <soap:operation soapAction="http://www.repom.com.br/RepomWS/Expedicao/CancelaContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaAberturaContrato">
      <soap:operation soapAction="http://www.repom.com.br/RepomWS/Expedicao/ValidaAberturaContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarPortadorCartao">
      <soap:operation soapAction="http://www.repom.com.br/RepomWS/Expedicao/AlterarPortadorCartao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExpedicaoSoap12" type="tns:ExpedicaoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IntegraDadosCadastroNacional">
      <soap12:operation soapAction="http://www.repom.com.br/RepomWS/Expedicao/IntegraDadosCadastroNacional" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmiteContrato">
      <soap12:operation soapAction="http://www.repom.com.br/RepomWS/Expedicao/EmiteContrato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaContrato">
      <soap12:operation soapAction="http://www.repom.com.br/RepomWS/Expedicao/ConsultaContrato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaContrato">
      <soap12:operation soapAction="http://www.repom.com.br/RepomWS/Expedicao/CancelaContrato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaAberturaContrato">
      <soap12:operation soapAction="http://www.repom.com.br/RepomWS/Expedicao/ValidaAberturaContrato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarPortadorCartao">
      <soap12:operation soapAction="http://www.repom.com.br/RepomWS/Expedicao/AlterarPortadorCartao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Expedicao">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Expedição da Integração Simplificada.</wsdl:documentation>
    <wsdl:port name="ExpedicaoSoap" binding="tns:ExpedicaoSoap">
      <soap:address location="http://qa.repom.com.br/repomws/expedicao.asmx" />
    </wsdl:port>
    <wsdl:port name="ExpedicaoSoap12" binding="tns:ExpedicaoSoap12">
      <soap12:address location="http://qa.repom.com.br/repomws/expedicao.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>