Servicos/Service References/ServicoSGT.CTe/CTe1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="UnidadeMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M3" />
      <xs:enumeration value="KG" />
      <xs:enumeration value="TON" />
      <xs:enumeration value="UN" />
      <xs:enumeration value="LT" />
      <xs:enumeration value="MMBTU" />
      <xs:enumeration value="M3_ST">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UnidadeMedida" nillable="true" type="tns:UnidadeMedida" />
  <xs:simpleType name="TipoPessoa">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fisica" />
      <xs:enumeration value="Juridica" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPessoa" nillable="true" type="tns:TipoPessoa" />
  <xs:simpleType name="StatusMDFe">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EmDigitacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Pendente">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Enviado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Autorizado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EmEncerramento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Encerrado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EmCancelamento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancelado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Rejeicao" />
      <xs:enumeration value="EmitidoContingencia" />
      <xs:enumeration value="AguardandoCompraValePedagio" />
      <xs:enumeration value="EventoInclusaoMotoristaEnviado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusMDFe" nillable="true" type="tns:StatusMDFe" />
  <xs:simpleType name="TipoCTE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Normal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Complemento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Anulacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Substituto">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoCTE" nillable="true" type="tns:TipoCTE" />
  <xs:simpleType name="TipoServico">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="SubContratacao" />
      <xs:enumeration value="Redespacho" />
      <xs:enumeration value="RedIntermediario" />
      <xs:enumeration value="ServVinculadoMultimodal" />
      <xs:enumeration value="TransporteDePessoas">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TransporteDeValores">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ExcessoDeBagagem">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoServico" nillable="true" type="tns:TipoServico" />
  <xs:simpleType name="TipoTomador">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoInformado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Remetente">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Expedidor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Recebedor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Destinatario">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Intermediario" />
      <xs:enumeration value="Tomador" />
      <xs:enumeration value="Outros">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoTomador" nillable="true" type="tns:TipoTomador" />
  <xs:simpleType name="TipoProprietarioVeiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TACAgregado" />
      <xs:enumeration value="TACIndependente" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoProprietarioVeiculo" nillable="true" type="tns:TipoProprietarioVeiculo" />
  <xs:simpleType name="TipoCampoCCe">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Texto" />
      <xs:enumeration value="Inteiro" />
      <xs:enumeration value="Decimal" />
      <xs:enumeration value="Selecao" />
      <xs:enumeration value="Data" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoCampoCCe" nillable="true" type="tns:TipoCampoCCe" />
  <xs:simpleType name="StatusCCe">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EmDigitacao" />
      <xs:enumeration value="Pendente" />
      <xs:enumeration value="Enviado" />
      <xs:enumeration value="Autorizado" />
      <xs:enumeration value="Rejeicao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusCCe" nillable="true" type="tns:StatusCCe" />
  <xs:simpleType name="OpcaoSimNao">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nao" />
      <xs:enumeration value="Sim" />
      <xs:enumeration value="Todos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OpcaoSimNao" nillable="true" type="tns:OpcaoSimNao" />
  <xs:simpleType name="TipoDocumentoAnulacao">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NFe">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CTe" />
      <xs:enumeration value="CTouNF">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoDocumentoAnulacao" nillable="true" type="tns:TipoDocumentoAnulacao" />
  <xs:simpleType name="TipoDocumentoCTe">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NFe" />
      <xs:enumeration value="NF" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoDocumentoCTe" nillable="true" type="tns:TipoDocumentoCTe" />
  <xs:simpleType name="TipoPropostaFeeder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Mercosul" />
      <xs:enumeration value="Alianca" />
      <xs:enumeration value="HSBR" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPropostaFeeder" nillable="true" type="tns:TipoPropostaFeeder" />
  <xs:simpleType name="TipoSeguro">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Remetente" />
      <xs:enumeration value="Expedidor" />
      <xs:enumeration value="Recebedor" />
      <xs:enumeration value="Destinatario" />
      <xs:enumeration value="Emitente_CTE" />
      <xs:enumeration value="Tomador_Servico" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoSeguro" nillable="true" type="tns:TipoSeguro" />
  <xs:simpleType name="TipoAmbiente">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="Producao" />
      <xs:enumeration value="Homologacao" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoAmbiente" nillable="true" type="tns:TipoAmbiente" />
  <xs:simpleType name="TipoImpressao">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Retrato">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Paisagem">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoImpressao" nillable="true" type="tns:TipoImpressao" />
  <xs:simpleType name="TipoPagamento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pago" />
      <xs:enumeration value="A_Pagar" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPagamento" nillable="true" type="tns:TipoPagamento" />
  <xs:simpleType name="FormaAverbacaoCTE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Definitiva" />
      <xs:enumeration value="Provisoria" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FormaAverbacaoCTE" nillable="true" type="tns:FormaAverbacaoCTE" />
  <xs:simpleType name="IntegradoraAverbacao">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoDefinido" />
      <xs:enumeration value="ATM" />
      <xs:enumeration value="Quorum" />
      <xs:enumeration value="PortoSeguro" />
      <xs:enumeration value="ELT" />
      <xs:enumeration value="Senig" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IntegradoraAverbacao" nillable="true" type="tns:IntegradoraAverbacao" />
  <xs:simpleType name="StatusAverbacaoCTe">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pendente" />
      <xs:enumeration value="Sucesso" />
      <xs:enumeration value="Cancelado" />
      <xs:enumeration value="Enviado" />
      <xs:enumeration value="AgEmissao" />
      <xs:enumeration value="AgCancelamento" />
      <xs:enumeration value="Rejeicao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Todos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusAverbacaoCTe" nillable="true" type="tns:StatusAverbacaoCTe" />
  <xs:simpleType name="TipoAverbacaoCTe">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Autorizacao" />
      <xs:enumeration value="Cancelamento" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoAverbacaoCTe" nillable="true" type="tns:TipoAverbacaoCTe" />
</xs:schema>