Servicos/Service References/ServicoSGT.CTe/CTe2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="TipoContaBanco">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="Corrente" />
      <xs:enumeration value="Poupança" />
      <xs:enumeration value="Salario" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoContaBanco" nillable="true" type="tns:TipoContaBanco" />
  <xs:simpleType name="TipoModeloVeicularCarga">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SemModeloVeicular">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Todos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Geral">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Reboque">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Tracao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoModeloVeicularCarga" nillable="true" type="tns:TipoModeloVeicularCarga" />
  <xs:simpleType name="ModalPropostaMultimodal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="PortoPorta" />
      <xs:enumeration value="PortaPorto" />
      <xs:enumeration value="PortaPorta" />
      <xs:enumeration value="PortoPorto" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ModalPropostaMultimodal" nillable="true" type="tns:ModalPropostaMultimodal" />
  <xs:simpleType name="TipoCobrancaMultimodal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="BLLongoCurso" />
      <xs:enumeration value="NotaFiscalServico" />
      <xs:enumeration value="CTeRodoviario" />
      <xs:enumeration value="CTeMultimodal" />
      <xs:enumeration value="CTEAquaviario" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoCobrancaMultimodal" nillable="true" type="tns:TipoCobrancaMultimodal" />
  <xs:simpleType name="TipoPropostaMultimodal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="CargaFechada" />
      <xs:enumeration value="CargaFracionada" />
      <xs:enumeration value="Feeder" />
      <xs:enumeration value="VAS" />
      <xs:enumeration value="TakePayFeeder" />
      <xs:enumeration value="TAkePayCabotagem" />
      <xs:enumeration value="NoShowCabotagem" />
      <xs:enumeration value="FaturamentoContabilidade" />
      <xs:enumeration value="DemurrageCabotagem" />
      <xs:enumeration value="DetentionCabotagem" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPropostaMultimodal" nillable="true" type="tns:TipoPropostaMultimodal" />
  <xs:simpleType name="TipoServicoMultimodal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Subcontratacao" />
      <xs:enumeration value="RedespachoIntermediario" />
      <xs:enumeration value="VinculadoMultimodalTerceiro" />
      <xs:enumeration value="VinculadoMultimodalProprio" />
      <xs:enumeration value="Redespacho" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoServicoMultimodal" nillable="true" type="tns:TipoServicoMultimodal" />
  <xs:simpleType name="IndicadorIE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ContribuinteICMS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ContribuinteIsento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NaoContribuinte">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IndicadorIE" nillable="true" type="tns:IndicadorIE" />
  <xs:simpleType name="ParametroRateioFormula">
    <xs:restriction base="xs:string">
      <xs:enumeration value="todos" />
      <xs:enumeration value="peso" />
      <xs:enumeration value="distancia" />
      <xs:enumeration value="porNotaFiscal" />
      <xs:enumeration value="ValorMercadoria" />
      <xs:enumeration value="porCTe" />
      <xs:enumeration value="porValorCTe" />
      <xs:enumeration value="MetroCubico" />
      <xs:enumeration value="porFracionadaTonelada" />
      <xs:enumeration value="porFracionadaMetroCubico" />
      <xs:enumeration value="PesoLiquido" />
      <xs:enumeration value="Volume" />
      <xs:enumeration value="FatorPonderacaoDistanciaPeso" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ParametroRateioFormula" nillable="true" type="tns:ParametroRateioFormula" />
  <xs:simpleType name="RegimeTributario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoInformado" />
      <xs:enumeration value="SimplesNacional" />
      <xs:enumeration value="LucroReal" />
      <xs:enumeration value="LucroPresumido" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegimeTributario" nillable="true" type="tns:RegimeTributario" />
  <xs:simpleType name="TipoEmissaoCTeDocumentos">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoInformado" />
      <xs:enumeration value="EmitePorPedidoAgrupado" />
      <xs:enumeration value="EmitePorNotaFiscalAgrupada" />
      <xs:enumeration value="EmitePorNotaFiscalIndividual" />
      <xs:enumeration value="EmitePorPedidoIndividual" />
      <xs:enumeration value="EmitePorNotaFiscalAgrupadaEntrePedidos" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoEmissaoCTeDocumentos" nillable="true" type="tns:TipoEmissaoCTeDocumentos" />
  <xs:simpleType name="TipoFavorecidoCIOT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Transportador">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Motorista">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoFavorecidoCIOT" nillable="true" type="tns:TipoFavorecidoCIOT" />
  <xs:simpleType name="TipoPagamentoCIOT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SemPgto" />
      <xs:enumeration value="Cartao" />
      <xs:enumeration value="Deposito" />
      <xs:enumeration value="Transferencia" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPagamentoCIOT" nillable="true" type="tns:TipoPagamentoCIOT" />
  <xs:simpleType name="TipoDocumentoRetorno">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="PDF" />
      <xs:enumeration value="XML" />
      <xs:enumeration value="Todos" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoDocumentoRetorno" nillable="true" type="tns:TipoDocumentoRetorno" />
  <xs:simpleType name="BoletoStatusTitulo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="Emitido" />
      <xs:enumeration value="Gerado" />
      <xs:enumeration value="Erro" />
      <xs:enumeration value="EmGeracao" />
      <xs:enumeration value="AguardandoRemessa" />
      <xs:enumeration value="ComRemessaEBoleto" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BoletoStatusTitulo" nillable="true" type="tns:BoletoStatusTitulo" />
  <xs:simpleType name="TipoInclusaoPedagioBaseCalculoICMS">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UsarPadrao" />
      <xs:enumeration value="SempreIncluir" />
      <xs:enumeration value="NuncaIncluir" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoInclusaoPedagioBaseCalculoICMS" nillable="true" type="tns:TipoInclusaoPedagioBaseCalculoICMS" />
  <xs:simpleType name="FormaTitulo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Outros">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Boleto">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Deposito">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cheque">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cartao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Dinheiro">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Financiamento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DebitoAutomatico">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Transferencia">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CobrancaJudicial">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PagamentoSalario">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FormaTitulo" nillable="true" type="tns:FormaTitulo" />
  <xs:simpleType name="MoedaCotacaoBancoCentral">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todas">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Real">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DolarVenda">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DolarCompra">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10813</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PesoArgentino">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PesoUruguaio">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PesoChileno">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Guarani">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NovoSolPeruano">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MoedaCotacaoBancoCentral" nillable="true" type="tns:MoedaCotacaoBancoCentral" />
  <xs:simpleType name="StatusTitulo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="EmAberto" />
      <xs:enumeration value="Atrazada" />
      <xs:enumeration value="Quitada" />
      <xs:enumeration value="Cancelado" />
      <xs:enumeration value="EmNegociacao" />
      <xs:enumeration value="Bloqueado" />
      <xs:enumeration value="Antecipado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusTitulo" nillable="true" type="tns:StatusTitulo" />
  <xs:simpleType name="SituacaoAtivoPesquisa">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Ativo" />
      <xs:enumeration value="Inativo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SituacaoAtivoPesquisa" nillable="true" type="tns:SituacaoAtivoPesquisa" />
  <xs:simpleType name="TipoTitulo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Receber" />
      <xs:enumeration value="Pagar" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoTitulo" nillable="true" type="tns:TipoTitulo" />
  <xs:simpleType name="TipoPropriedadeContainer">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="Proprio" />
      <xs:enumeration value="Soc" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPropriedadeContainer" nillable="true" type="tns:TipoPropriedadeContainer" />
  <xs:simpleType name="Escolaridade">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SemInstrucaoFormal" />
      <xs:enumeration value="EnsinoFundamental" />
      <xs:enumeration value="EnsinoMedio" />
      <xs:enumeration value="EnsinoSuperior" />
      <xs:enumeration value="PosGraduacao" />
      <xs:enumeration value="Mestrado" />
      <xs:enumeration value="Doutorado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Escolaridade" nillable="true" type="tns:Escolaridade" />
  <xs:simpleType name="EstadoCivil">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Outros" />
      <xs:enumeration value="Solteiro" />
      <xs:enumeration value="Casado" />
      <xs:enumeration value="Divorciado" />
      <xs:enumeration value="Desquitado" />
      <xs:enumeration value="Viuvo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EstadoCivil" nillable="true" type="tns:EstadoCivil" />
  <xs:simpleType name="TipoParentesco">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="Outro" />
      <xs:enumeration value="Pai" />
      <xs:enumeration value="Mae" />
      <xs:enumeration value="Filhos" />
      <xs:enumeration value="Irmao" />
      <xs:enumeration value="Avo" />
      <xs:enumeration value="Neto" />
      <xs:enumeration value="Tio" />
      <xs:enumeration value="Sobrinho" />
      <xs:enumeration value="Bisavo" />
      <xs:enumeration value="Bisneto" />
      <xs:enumeration value="Primo" />
      <xs:enumeration value="Trisavo" />
      <xs:enumeration value="Trineto" />
      <xs:enumeration value="TioAvo" />
      <xs:enumeration value="SobrinhoNeto" />
      <xs:enumeration value="Esposo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoParentesco" nillable="true" type="tns:TipoParentesco" />
  <xs:simpleType name="SituacaoColaborador">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Afastado" />
      <xs:enumeration value="Atestado" />
      <xs:enumeration value="Ferias" />
      <xs:enumeration value="Folga" />
      <xs:enumeration value="Suspenso" />
      <xs:enumeration value="Trabalhando" />
      <xs:enumeration value="DSR" />
      <xs:enumeration value="EmTreinamento" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SituacaoColaborador" nillable="true" type="tns:SituacaoColaborador" />
  <xs:simpleType name="TipoGeracaoCIOT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PorViagem" />
      <xs:enumeration value="PorPeriodo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoGeracaoCIOT" nillable="true" type="tns:TipoGeracaoCIOT" />
  <xs:simpleType name="TipoMotorista">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Proprio" />
      <xs:enumeration value="Terceiro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoMotorista" nillable="true" type="tns:TipoMotorista" />
  <xs:simpleType name="SituacaoCTeSefaz">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Autorizada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancelada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Denegada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Rejeitada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Pendente">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Enviada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Inutilizada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EmDigitacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EmCancelamento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EmInutilizacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Anulado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AguardandoAssinatura">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AguardandoAssinaturaCancelamento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AguardandoAssinaturaInutilizacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AguardandoEmissaoEmail">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AguardandoNFSe">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ContingenciaFSDA">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">17</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AnuladoGerencialmente">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">18</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SituacaoCTeSefaz" nillable="true" type="tns:SituacaoCTeSefaz" />
  <xs:simpleType name="TipoModal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Rodoviario" />
      <xs:enumeration value="Aereo" />
      <xs:enumeration value="Aquaviario" />
      <xs:enumeration value="Ferroviario" />
      <xs:enumeration value="Dutoviario" />
      <xs:enumeration value="Multimodal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoModal" nillable="true" type="tns:TipoModal" />
  <xs:simpleType name="TipoComponenteFrete">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TODOS" />
      <xs:enumeration value="ICMS" />
      <xs:enumeration value="PEDAGIO" />
      <xs:enumeration value="DESCARGA" />
      <xs:enumeration value="FRETE" />
      <xs:enumeration value="ADVALOREM" />
      <xs:enumeration value="ISS" />
      <xs:enumeration value="OUTROS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ValorKM">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ValorKMExcedente">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CLIENTE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PISCONFIS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GRIS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ENTREGA">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PERNOITE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INCONSISTENTE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoComponenteFrete" nillable="true" type="tns:TipoComponenteFrete" />
  <xs:simpleType name="TipoVeiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tracao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Reboque">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoVeiculo" nillable="true" type="tns:TipoVeiculo" />
  <xs:simpleType name="TipoCarroceria">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoAplicavel" />
      <xs:enumeration value="Aberta" />
      <xs:enumeration value="FechadaBau" />
      <xs:enumeration value="Graneleira" />
      <xs:enumeration value="PortaContainer" />
      <xs:enumeration value="Utilitario" />
      <xs:enumeration value="Sider" />
      <xs:enumeration value="Todos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoCarroceria" nillable="true" type="tns:TipoCarroceria" />
  <xs:simpleType name="TipoPropriedadeVeiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Proprio">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Terceiros">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPropriedadeVeiculo" nillable="true" type="tns:TipoPropriedadeVeiculo" />
  <xs:simpleType name="TipoRodado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoAplicavel" />
      <xs:enumeration value="Truck" />
      <xs:enumeration value="Toco" />
      <xs:enumeration value="CavaloMecanico" />
      <xs:enumeration value="VAN" />
      <xs:enumeration value="Utilitario" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoRodado" nillable="true" type="tns:TipoRodado" />
  <xs:simpleType name="ModoCompraValePedagioTarget">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CartaoTarget">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PedagioTagViaFacil">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PedagioTagVeloe">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PedagioTagMoveMais">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ModoCompraValePedagioTarget" nillable="true" type="tns:ModoCompraValePedagioTarget" />
  <xs:simpleType name="SituacaoFatura">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EmAntamento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fechado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancelado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Liquidado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EmFechamento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EmCancelamento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SemRegraAprovacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AguardandoAprovacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AprovacaoRejeitada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SituacaoFatura" nillable="true" type="tns:SituacaoFatura" />
  <xs:simpleType name="DirecaoViagemMultimodal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Norte" />
      <xs:enumeration value="Sul" />
      <xs:enumeration value="Leste" />
      <xs:enumeration value="Oeste" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DirecaoViagemMultimodal" nillable="true" type="tns:DirecaoViagemMultimodal" />
  <xs:simpleType name="TipoEmbarcacao">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="Alvarenga" />
      <xs:enumeration value="Barcaca" />
      <xs:enumeration value="BarcacaPropulsada" />
      <xs:enumeration value="Cargueiro" />
      <xs:enumeration value="CatamaraMisto" />
      <xs:enumeration value="CatamaraPassageiros" />
      <xs:enumeration value="ChataCargueira" />
      <xs:enumeration value="ChataGraneleira" />
      <xs:enumeration value="ChataMista" />
      <xs:enumeration value="ChataTanque" />
      <xs:enumeration value="Empurrador" />
      <xs:enumeration value="Estimulacao" />
      <xs:enumeration value="FerryBoat" />
      <xs:enumeration value="Flotel" />
      <xs:enumeration value="Flutuante" />
      <xs:enumeration value="CabreaGuindaste" />
      <xs:enumeration value="LanchaMista" />
      <xs:enumeration value="LanchaPassageiros" />
      <xs:enumeration value="LanchaPratico" />
      <xs:enumeration value="ManuseioDeEspias" />
      <xs:enumeration value="Pesquisa" />
      <xs:enumeration value="Rebocador" />
      <xs:enumeration value="Suprimento" />
      <xs:enumeration value="Transbordador" />
      <xs:enumeration value="CargaPesada" />
      <xs:enumeration value="Frigorifico" />
      <xs:enumeration value="Glp" />
      <xs:enumeration value="Graneleiro" />
      <xs:enumeration value="MineroPetroleiro" />
      <xs:enumeration value="MultiProposito" />
      <xs:enumeration value="NavioCisterna" />
      <xs:enumeration value="Passageiros" />
      <xs:enumeration value="Petroleiro" />
      <xs:enumeration value="PortaConteiner" />
      <xs:enumeration value="TanqueQuimico" />
      <xs:enumeration value="RoRo" />
      <xs:enumeration value="Draga" />
      <xs:enumeration value="Outros" />
      <xs:enumeration value="Balsa" />
      <xs:enumeration value="Dsv" />
      <xs:enumeration value="Swath" />
      <xs:enumeration value="Rov" />
      <xs:enumeration value="Ahts" />
      <xs:enumeration value="Ut4000" />
      <xs:enumeration value="Ut750" />
      <xs:enumeration value="Rsv" />
      <xs:enumeration value="TanqueGlp" />
      <xs:enumeration value="PatrolVessel" />
      <xs:enumeration value="TanqueGnl">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">50</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LançamentoDeLinhas">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">51</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BarcoAMotor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">52</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BalsaMotorizada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">53</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mpsv">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">54</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Pesqueiro">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">55</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Psv">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">56</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoEmbarcacao" nillable="true" type="tns:TipoEmbarcacao" />
  <xs:simpleType name="SituacaoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoLocalizado" />
      <xs:enumeration value="Aprovado" />
      <xs:enumeration value="Rejeitado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Inconsistente">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SituacaoDocumento" nillable="true" type="tns:SituacaoDocumento" />
  <xs:simpleType name="InformacaoManuseio">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Im01">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Im02">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Im03">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Im04">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Im05">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Im06">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Im07">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Im08">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Im09">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Im10">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Im11">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Im12">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Im13">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Im14">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Im15">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Im99">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="InformacaoManuseio" nillable="true" type="tns:InformacaoManuseio" />
  <xs:simpleType name="FerroviaResponsavel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FerroviaOrigem">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FerroviaDestino">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FerroviaResponsavel" nillable="true" type="tns:FerroviaResponsavel" />
  <xs:simpleType name="TipoTrafego">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Proprio" />
      <xs:enumeration value="Mutuo" />
      <xs:enumeration value="Rodoferroviario" />
      <xs:enumeration value="Rodoviario" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoTrafego" nillable="true" type="tns:TipoTrafego" />
  <xs:simpleType name="ModeloNotaFiscal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NFModelo01Avulsa">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Produtor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ModeloNotaFiscal" nillable="true" type="tns:ModeloNotaFiscal" />
  <xs:simpleType name="TipoOutroDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Declaracao" />
      <xs:enumeration value="Dutoviario">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Outros">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoOutroDocumento" nillable="true" type="tns:TipoOutroDocumento" />
  <xs:simpleType name="UnidadeDeMedidaCTeAereo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Quilograma">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="QuilogramaBruto">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Litros">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TI">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unidades">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UnidadeDeMedidaCTeAereo" nillable="true" type="tns:UnidadeDeMedidaCTeAereo" />
  <xs:simpleType name="ResponsavelSeguro">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Transportador">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Embarcador">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResponsavelSeguro" nillable="true" type="tns:ResponsavelSeguro" />
  <xs:simpleType name="SeguradoraAverbacao">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoDefinido" />
      <xs:enumeration value="ATM" />
      <xs:enumeration value="Bradesco" />
      <xs:enumeration value="PortoSeguro" />
      <xs:enumeration value="ELT" />
      <xs:enumeration value="Senig" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SeguradoraAverbacao" nillable="true" type="tns:SeguradoraAverbacao" />
  <xs:simpleType name="SituacaoAverbacaoFechamento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todas" />
      <xs:enumeration value="EmAberto" />
      <xs:enumeration value="EmFechamento" />
      <xs:enumeration value="Finalizada" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SituacaoAverbacaoFechamento" nillable="true" type="tns:SituacaoAverbacaoFechamento" />
</xs:schema>