Servicos/Service References/ServicoSGT.CTe/CTe21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Escrituracao" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Escrituracao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RetornoIntegracaoPagamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="MensagemRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessadoSucesso" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProtolocoIntegracao" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoIntegracaoPagamento" nillable="true" type="tns:RetornoIntegracaoPagamento" />
</xs:schema>