Servicos/Service References/ServicoSGT.CTe/CTe3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd22" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd23" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" />
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd24" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Escrituracao" />
  <xs:element name="BuscarAverbacaoCTes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q1:Protocolos" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q2:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAverbacaoCTesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarAverbacaoCTesResult" nillable="true" type="q3:RetornoOfPaginacaoOfCTeAverbacaopIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q4:Protocolos" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q5:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTesResult" nillable="true" type="q6:RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesTk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q7:Protocolos" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q8:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesTkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTesTkResult" nillable="true" type="q9:RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q10:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTesPorCargaResult" nillable="true" type="q11:RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorOcorrencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoOcorrencia" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q12:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorOcorrenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTesPorOcorrenciaResult" nillable="true" type="q13:RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorBoleto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nossoNumeroBoleto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroBanco" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q14:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorBoletoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTesPorBoletoResult" nillable="true" type="q15:RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataFinal" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q16:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
        <xs:element minOccurs="0" name="codigoTipoOperacao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="situacao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTesPorPeriodoResult" nillable="true" type="q17:RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorPeriodoTk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataFinal" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q18:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
        <xs:element minOccurs="0" name="codigoTipoOperacao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="situacao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorPeriodoTkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTesPorPeriodoTkResult" nillable="true" type="q19:RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesComplementaresAguardandoIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q20:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="codificarUTF8" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesComplementaresAguardandoIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTesComplementaresAguardandoIntegracaoResult" nillable="true" type="q21:RetornoOfPaginacaoOfCTeComplementarpIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCTeComplementar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCTeComplementarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoCTeComplementarResult" nillable="true" type="q22:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarCCe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="camposCCe" nillable="true" type="q23:CamposCCe" />
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarCCeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="GerarCCeResult" nillable="true" type="q24:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCCe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="cce" nillable="true" type="q25:CCe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCCeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarCCeResult" nillable="true" type="q26:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarRecebimentoCancelamentoCTeComplementar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarRecebimentoCancelamentoCTeComplementarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarRecebimentoCancelamentoCTeComplementarResult" nillable="true" type="q27:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTePorProtocolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q28:TipoDocumentoRetorno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTePorProtocoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTePorProtocoloResult" nillable="true" type="q29:RetornoOfCTepIzbOyUQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarPrevisaoPagamentoCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
        <xs:element minOccurs="0" name="dataPrevisaoPagamento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarPrevisaoPagamentoCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="InformarPrevisaoPagamentoCTeResult" nillable="true" type="q30:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarPagamentoCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
        <xs:element minOccurs="0" name="dataPagamento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarPagamentoCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarPagamentoCTeResult" nillable="true" type="q31:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsultaResult" nillable="true" type="q32:RetornoOfPaginacaoOfint51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTitulosPorPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
        <xs:element minOccurs="0" name="dataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataFinal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTitulosPorPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarTitulosPorPeriodoResult" nillable="true" type="q33:RetornoOfPaginacaoOfTitulopIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTeCanceladoPorProtocolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
        <xs:element minOccurs="0" name="statusCTe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTeCanceladoPorProtocoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTeCanceladoPorProtocoloResult" nillable="true" type="q34:RetornoOfCTepIzbOyUQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarConsultaCTeCancelado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarConsultaCTeCanceladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarConsultaCTeCanceladoResult" nillable="true" type="q35:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOutrosDocsPorPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataFinal" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q36:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOutrosDocsPorPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarOutrosDocsPorPeriodoResult" nillable="true" type="q37:RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarFaturaCTes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q38:Protocolos" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q39:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarFaturaCTesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarFaturaCTesResult" nillable="true" type="q40:RetornoOfPaginacaoOfCTeFaturapIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitarTituloCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoTitulo" type="xs:int" />
        <xs:element minOccurs="0" name="dataPagamento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valorAcrescimo" type="xs:decimal" />
        <xs:element minOccurs="0" name="valorDesconto" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitarTituloCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="QuitarTituloCTeResult" nillable="true" type="q41:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarFaturasCTePorProtocolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarFaturasCTePorProtocoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarFaturasCTePorProtocoloResult" nillable="true" type="q42:RetornoOfFaturasCTepIzbOyUQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNotaFiscal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chaveNFe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNotaFiscalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarNotaFiscalResult" nillable="true" type="q43:RetornoOfDocumentosCTepIzbOyUQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesFaturadosPendenteDeIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesFaturadosPendenteDeIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTesFaturadosPendenteDeIntegracaoResult" nillable="true" type="q44:RetornoOfPaginacaoOfint51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCTeFaturado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCTeFaturadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoCTeFaturadoResult" nillable="true" type="q45:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarSituacaoCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="chavesCTe" nillable="true" type="q46:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarSituacaoCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="VerificarSituacaoCTeResult" nillable="true" type="q47:RetornoOfArrayOfSituacaoCTepIzbOyUQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarArquivoXMLCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/Message" name="arquivo" type="q48:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarArquivoXMLCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarArquivoXMLCTeResult" nillable="true" type="q49:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
        <xs:element minOccurs="0" name="dataEventoDesacordo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valorCTeSustituicao" type="xs:decimal" />
        <xs:element minOccurs="0" name="cnpjTomador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacaoCTeAnulacao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacaoCTeSustituicao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AnularCTeResult" nillable="true" type="q50:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarDadosCTesAnteriores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q51:Protocolos" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" minOccurs="0" name="Ctes" nillable="true" type="q52:ArrayOfCTe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarDadosCTesAnterioresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="IntegrarDadosCTesAnterioresResult" nillable="true" type="q53:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarCTesAnteriores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q54:Protocolos" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" minOccurs="0" name="TokensXMLCtes" nillable="true" type="q55:ArrayOfTokenCte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarCTesAnterioresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="IntegrarCTesAnterioresResult" nillable="true" type="q56:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReemitirCTesRejeitados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReemitirCTesRejeitadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ReemitirCTesRejeitadosResult" nillable="true" type="q57:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarIntegracaoPagamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Escrituracao" minOccurs="0" name="retornoIntegracaoPagamento" nillable="true" type="q58:RetornoIntegracaoPagamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarIntegracaoPagamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="RetornarIntegracaoPagamentoResult" nillable="true" type="q59:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTePorChave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chaveCTe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTePorChaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTePorChaveResult" nillable="true" type="q60:RetornoOfCTe_S2VakUsz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCTeAnterior">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" minOccurs="0" name="cte" nillable="true" type="q61:CTe" />
        <xs:element minOccurs="0" name="numeroCarga" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroBooking" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroOS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCTeAnteriorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarCTeAnteriorResult" nillable="true" type="q62:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDadosAverbacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" minOccurs="0" name="dadosAverbacao" nillable="true" type="q63:DadosAverbacao" />
        <xs:element minOccurs="0" name="numeroCarga" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroBooking" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroOS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDadosAverbacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarDadosAverbacaoResult" nillable="true" type="q64:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDadosAverbacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chaveCTe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDadosAverbacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarDadosAverbacaoResult" nillable="true" type="q65:RetornoOfArrayOfDadosAverbacao_S2VakUsz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarDadosDoMercante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="dadosDoMercante" nillable="true" type="q66:DadosDoMercante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarDadosDoMercanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SalvarDadosDoMercanteResult" nillable="true" type="q67:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarDadosCTeAnteriores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="dadosCtes" nillable="true" type="q68:DadosCTes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarDadosCTeAnterioresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="IntegrarDadosCTeAnterioresResult" nillable="true" type="q69:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RealizarAnulacaoGerencial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="requestAnulacao" nillable="true" type="q70:RequestAnulacaoGerencial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RealizarAnulacaoGerencialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="RealizarAnulacaoGerencialResult" nillable="true" type="q71:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" minOccurs="0" name="cte" nillable="true" type="q72:CTe" />
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarCTeResult" nillable="true" type="q73:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarEscrituracaoCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
        <xs:element minOccurs="0" name="codigoEscrituracao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarEscrituracaoCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="InformarEscrituracaoCTeResult" nillable="true" type="q74:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCTesAnteriores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="requestCteAnteriores" nillable="true" type="q75:RequestCteAnteriores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCTesAnterioresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarCTesAnterioresResult" nillable="true" type="q76:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>