Servicos/Service References/ServicoSGT.CTe/CTe4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SGT.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd23" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" />
  <xs:complexType name="RetornoOfPaginacaoOfCTeAverbacaopIzbOyUQ51p1vPsU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService">
            <GenericParameter Name="CTeAverbacao" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:PaginacaoOfCTeAverbacaopIzbOyUQ" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfPaginacaoOfCTeAverbacaopIzbOyUQ51p1vPsU" nillable="true" type="tns:RetornoOfPaginacaoOfCTeAverbacaopIzbOyUQ51p1vPsU" />
  <xs:complexType name="PaginacaoOfCTeAverbacaopIzbOyUQ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CTeAverbacao" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="Itens" nillable="true" type="q1:ArrayOfCTeAverbacao" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginacaoOfCTeAverbacaopIzbOyUQ" nillable="true" type="tns:PaginacaoOfCTeAverbacaopIzbOyUQ" />
  <xs:complexType name="RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService">
            <GenericParameter Name="CTe" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:PaginacaoOfCTepIzbOyUQ" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" nillable="true" type="tns:RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" />
  <xs:complexType name="PaginacaoOfCTepIzbOyUQ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CTe" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="Itens" nillable="true" type="q2:ArrayOfCTe" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginacaoOfCTepIzbOyUQ" nillable="true" type="tns:PaginacaoOfCTepIzbOyUQ" />
  <xs:complexType name="RetornoOfPaginacaoOfCTeComplementarpIzbOyUQ51p1vPsU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService">
            <GenericParameter Name="CTeComplementar" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:PaginacaoOfCTeComplementarpIzbOyUQ" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfPaginacaoOfCTeComplementarpIzbOyUQ51p1vPsU" nillable="true" type="tns:RetornoOfPaginacaoOfCTeComplementarpIzbOyUQ51p1vPsU" />
  <xs:complexType name="PaginacaoOfCTeComplementarpIzbOyUQ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CTeComplementar" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="Itens" nillable="true" type="q3:ArrayOfCTeComplementar" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginacaoOfCTeComplementarpIzbOyUQ" nillable="true" type="tns:PaginacaoOfCTeComplementarpIzbOyUQ" />
  <xs:complexType name="RetornoOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfboolean" nillable="true" type="tns:RetornoOfboolean" />
  <xs:complexType name="RetornoOfCTepIzbOyUQ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CTe" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="Objeto" nillable="true" type="q4:CTe" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfCTepIzbOyUQ" nillable="true" type="tns:RetornoOfCTepIzbOyUQ" />
  <xs:complexType name="RetornoOfPaginacaoOfint51p1vPsU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService">
            <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:PaginacaoOfint" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfPaginacaoOfint51p1vPsU" nillable="true" type="tns:RetornoOfPaginacaoOfint51p1vPsU" />
  <xs:complexType name="PaginacaoOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Itens" nillable="true" type="q5:ArrayOfint" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginacaoOfint" nillable="true" type="tns:PaginacaoOfint" />
  <xs:complexType name="RetornoOfPaginacaoOfTitulopIzbOyUQ51p1vPsU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService">
            <GenericParameter Name="Titulo" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:PaginacaoOfTitulopIzbOyUQ" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfPaginacaoOfTitulopIzbOyUQ51p1vPsU" nillable="true" type="tns:RetornoOfPaginacaoOfTitulopIzbOyUQ51p1vPsU" />
  <xs:complexType name="PaginacaoOfTitulopIzbOyUQ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Titulo" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="Itens" nillable="true" type="q6:ArrayOfTitulo" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginacaoOfTitulopIzbOyUQ" nillable="true" type="tns:PaginacaoOfTitulopIzbOyUQ" />
  <xs:complexType name="RetornoOfPaginacaoOfCTeFaturapIzbOyUQ51p1vPsU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService">
            <GenericParameter Name="CTeFatura" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:PaginacaoOfCTeFaturapIzbOyUQ" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfPaginacaoOfCTeFaturapIzbOyUQ51p1vPsU" nillable="true" type="tns:RetornoOfPaginacaoOfCTeFaturapIzbOyUQ51p1vPsU" />
  <xs:complexType name="PaginacaoOfCTeFaturapIzbOyUQ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CTeFatura" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="Itens" nillable="true" type="q7:ArrayOfCTeFatura" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginacaoOfCTeFaturapIzbOyUQ" nillable="true" type="tns:PaginacaoOfCTeFaturapIzbOyUQ" />
  <xs:complexType name="RetornoOfFaturasCTepIzbOyUQ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FaturasCTe" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="Objeto" nillable="true" type="q8:FaturasCTe" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfFaturasCTepIzbOyUQ" nillable="true" type="tns:RetornoOfFaturasCTepIzbOyUQ" />
  <xs:complexType name="RetornoOfDocumentosCTepIzbOyUQ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DocumentosCTe" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="Objeto" nillable="true" type="q9:DocumentosCTe" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfDocumentosCTepIzbOyUQ" nillable="true" type="tns:RetornoOfDocumentosCTepIzbOyUQ" />
  <xs:complexType name="RetornoOfArrayOfSituacaoCTepIzbOyUQ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfSituacaoCTe" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="Objeto" nillable="true" type="q10:ArrayOfSituacaoCTe" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfArrayOfSituacaoCTepIzbOyUQ" nillable="true" type="tns:RetornoOfArrayOfSituacaoCTepIzbOyUQ" />
  <xs:complexType name="RetornoOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfstring" nillable="true" type="tns:RetornoOfstring" />
  <xs:complexType name="RetornoOfCTe_S2VakUsz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CTe" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" minOccurs="0" name="Objeto" nillable="true" type="q11:CTe" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfCTe_S2VakUsz" nillable="true" type="tns:RetornoOfCTe_S2VakUsz" />
  <xs:complexType name="RetornoOfArrayOfDadosAverbacao_S2VakUsz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfDadosAverbacao" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" minOccurs="0" name="Objeto" nillable="true" type="q12:ArrayOfDadosAverbacao" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfArrayOfDadosAverbacao_S2VakUsz" nillable="true" type="tns:RetornoOfArrayOfDadosAverbacao_S2VakUsz" />
</xs:schema>