Servicos/Service References/ServicoSGT.CTe/CTe9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" />
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/CTe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:complexType name="Pessoa">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdicionarComoOutroEndereco" type="xs:boolean" />
      <xs:element minOccurs="0" name="AtualizarEnderecoPessoa" type="xs:boolean" />
      <xs:element minOccurs="0" name="CNAE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPFCNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cliente" type="xs:boolean" />
      <xs:element minOccurs="0" name="ClienteExterior" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAtividade" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoDocumentoFornecedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DadosBancarios" nillable="true" type="tns:DadosBancarios" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailFatura" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Endereco" nillable="true" type="q1:Endereco" />
      <xs:element minOccurs="0" name="ExigeAgendamento" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExigirNumeroControleCliente" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExigirNumeroNumeroReferenciaCliente" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fornecedor" type="xs:boolean" />
      <xs:element minOccurs="0" name="GerarCIOT" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="GrupoPessoa" nillable="true" type="tns:GrupoPessoa" />
      <xs:element minOccurs="0" name="IM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InativarCliente" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="IndicadorIE" nillable="true" type="q2:IndicadorIE" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" minOccurs="0" name="MesoRegiao" nillable="true" type="q3:MesoRegiao" />
      <xs:element minOccurs="0" name="NaoEObrigatorioInformarNfeNaColeta" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="NaoEnviarParaDocsys" type="xs:boolean" />
      <xs:element minOccurs="0" name="NaoExigePreenchimentoDeChecklistEntrega" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCUITRUIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCartaoCIOT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="ParametroRateioFormulaExclusivo" type="q4:ParametroRateioFormula" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:long" />
      <xs:element minOccurs="0" name="RGIE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RNTRC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RaioEmMetros" type="xs:int" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="RegimeTributario" type="q5:RegimeTributario" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoEmissaoCTeDocumentosExclusivo" type="q6:TipoEmissaoCTeDocumentos" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoFavorecidoCIOT" nillable="true" type="q7:TipoFavorecidoCIOT" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoPagamentoCIOT" nillable="true" type="q8:TipoPagamentoCIOT" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoPessoa" type="q9:TipoPessoa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pessoa" nillable="true" type="tns:Pessoa" />
  <xs:complexType name="DadosBancarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Banco" nillable="true" type="tns:Banco" />
      <xs:element minOccurs="0" name="DigitoAgencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroConta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortadorConta" nillable="true" type="tns:Pessoa" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoContaBanco" type="q10:TipoContaBanco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosBancarios" nillable="true" type="tns:DadosBancarios" />
  <xs:complexType name="Banco">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoBanco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeBanco" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Banco" nillable="true" type="tns:Banco" />
  <xs:complexType name="GrupoPessoa">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="ModelosVeiculares" nillable="true" type="q11:ArrayOfModeloVeicular" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TiposOperacaoes" nillable="true" type="q12:ArrayOfTipoOperacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GrupoPessoa" nillable="true" type="tns:GrupoPessoa" />
  <xs:complexType name="ArrayOfDadosBancarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DadosBancarios" nillable="true" type="tns:DadosBancarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDadosBancarios" nillable="true" type="tns:ArrayOfDadosBancarios" />
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atividade" type="xs:int" />
      <xs:element minOccurs="0" name="Ativo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Certificado" nillable="true" type="tns:Certificado" />
      <xs:element minOccurs="0" name="CodigoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DadosBancarios" nillable="true" type="tns:DadosBancarios" />
      <xs:element minOccurs="0" name="Emails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmissaoDocumentosForaDoSistema" type="xs:boolean" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Endereco" nillable="true" type="q13:Endereco" />
      <xs:element minOccurs="0" name="IE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoMunicipal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiberacaoParaPagamentoAutomatico" type="xs:boolean" />
      <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element minOccurs="0" name="RNTRC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="RegimeTributario" type="q14:RegimeTributario" />
      <xs:element minOccurs="0" name="SimplesNacional" type="xs:boolean" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoCIOT" nillable="true" type="q15:TipoGeracaoCIOT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
  <xs:complexType name="Certificado">
    <xs:sequence>
      <xs:element minOccurs="0" name="CertificadoAtivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="DataFim" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInicio" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Certificado" nillable="true" type="tns:Certificado" />
</xs:schema>