WebApplication1/Service References/WSNFSe/NotaFiscalDeServicoEletronica.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotaFiscalDeServicoEletronica" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3521/NotaFiscalDeServicoEletronica.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3521/NotaFiscalDeServicoEletronica.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3521/NotaFiscalDeServicoEletronica.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.NFSe" />
      <xsd:import schemaLocation="http://localhost:3521/NotaFiscalDeServicoEletronica.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" />
      <xsd:import schemaLocation="http://localhost:3521/NotaFiscalDeServicoEletronica.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotaFiscalDeServicoEletronica_IntegrarNFSe_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarNFSe" />
  </wsdl:message>
  <wsdl:message name="INotaFiscalDeServicoEletronica_IntegrarNFSe_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarNFSeResponse" />
  </wsdl:message>
  <wsdl:message name="INotaFiscalDeServicoEletronica_CancelarNFSe_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarNFSe" />
  </wsdl:message>
  <wsdl:message name="INotaFiscalDeServicoEletronica_CancelarNFSe_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarNFSeResponse" />
  </wsdl:message>
  <wsdl:message name="INotaFiscalDeServicoEletronica_ExcluirNFSe_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirNFSe" />
  </wsdl:message>
  <wsdl:message name="INotaFiscalDeServicoEletronica_ExcluirNFSe_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirNFSeResponse" />
  </wsdl:message>
  <wsdl:portType name="INotaFiscalDeServicoEletronica">
    <wsdl:operation name="IntegrarNFSe">
      <wsdl:input wsaw:Action="http://tempuri.org/INotaFiscalDeServicoEletronica/IntegrarNFSe" message="tns:INotaFiscalDeServicoEletronica_IntegrarNFSe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotaFiscalDeServicoEletronica/IntegrarNFSeResponse" message="tns:INotaFiscalDeServicoEletronica_IntegrarNFSe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarNFSe">
      <wsdl:input wsaw:Action="http://tempuri.org/INotaFiscalDeServicoEletronica/CancelarNFSe" message="tns:INotaFiscalDeServicoEletronica_CancelarNFSe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotaFiscalDeServicoEletronica/CancelarNFSeResponse" message="tns:INotaFiscalDeServicoEletronica_CancelarNFSe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirNFSe">
      <wsdl:input wsaw:Action="http://tempuri.org/INotaFiscalDeServicoEletronica/ExcluirNFSe" message="tns:INotaFiscalDeServicoEletronica_ExcluirNFSe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotaFiscalDeServicoEletronica/ExcluirNFSeResponse" message="tns:INotaFiscalDeServicoEletronica_ExcluirNFSe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotaFiscalDeServicoEletronica" type="tns:INotaFiscalDeServicoEletronica">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IntegrarNFSe">
      <soap:operation soapAction="http://tempuri.org/INotaFiscalDeServicoEletronica/IntegrarNFSe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNFSe">
      <soap:operation soapAction="http://tempuri.org/INotaFiscalDeServicoEletronica/CancelarNFSe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirNFSe">
      <soap:operation soapAction="http://tempuri.org/INotaFiscalDeServicoEletronica/ExcluirNFSe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotaFiscalDeServicoEletronica">
    <wsdl:port name="BasicHttpBinding_INotaFiscalDeServicoEletronica" binding="tns:BasicHttpBinding_INotaFiscalDeServicoEletronica">
      <soap:address location="http://localhost:3521/NotaFiscalDeServicoEletronica.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>