WebApplication1/Service References/WSNFSe/NotaFiscalDeServicoEletronica2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIBGECidade" type="xs:int" />
      <xs:element minOccurs="0" name="Complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAdministrativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailContador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoEstadual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoMunicipal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeContador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptanteSimplesNacional" type="xs:boolean" />
      <xs:element minOccurs="0" name="RNTRC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Responsavel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusEmailAdministrativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusEmailContador" type="xs:boolean" />
      <xs:element minOccurs="0" name="Telefone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoneContador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoneContato" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPFCNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAtividade" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIBGECidade" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailsContador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailsContato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exportacao" type="xs:boolean" />
      <xs:element minOccurs="0" name="IM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumentoExportacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RGIE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusEmails" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusEmailsContador" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusEmailsContato" type="xs:boolean" />
      <xs:element minOccurs="0" name="Telefone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
</xs:schema>