WebApplication1/Service References/WSNFSe/NotaFiscalDeServicoEletronica1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3521/NotaFiscalDeServicoEletronica.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.NFSe" />
  <xs:import schemaLocation="http://localhost:3521/NotaFiscalDeServicoEletronica.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
  <xs:element name="IntegrarNFSe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.NFSe" minOccurs="0" name="nfse" nillable="true" type="q1:NFSe" />
        <xs:element minOccurs="0" name="cnpjEmpresaAdministradora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarNFSeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="IntegrarNFSeResult" nillable="true" type="q2:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarNFSe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjEmpresaAdministradora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoNFSe" type="xs:int" />
        <xs:element minOccurs="0" name="justificativa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarNFSeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="CancelarNFSeResult" nillable="true" type="q3:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirNFSe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjEmpresaAdministradora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoNFSe" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirNFSeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="ExcluirNFSeResult" nillable="true" type="q4:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>