WebApplication1/Service References/WSNFSe/NotaFiscalDeServicoEletronica.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.NFSe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.NFSe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3521/NotaFiscalDeServicoEletronica.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" />
  <xs:complexType name="NFSe">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliquotaISS" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculoISS" type="xs:decimal" />
      <xs:element minOccurs="0" name="CodigoIBGECidadePrestacaoServico" type="xs:int" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Emitente" nillable="true" type="q1:Empresa" />
      <xs:element minOccurs="0" name="ISSRetido" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Intermediario" nillable="true" type="q2:Cliente" />
      <xs:element minOccurs="0" name="Itens" nillable="true" type="tns:ArrayOfItem" />
      <xs:element minOccurs="0" name="Natureza" nillable="true" type="tns:Natureza" />
      <xs:element minOccurs="0" name="NumeroSubstituicao" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OutrasInformacoes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerieSubstituicao" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" minOccurs="0" name="Tomador" nillable="true" type="q3:Cliente" />
      <xs:element minOccurs="0" name="ValorCOFINS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCSLL" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDeducoes" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDescontoCondicionado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDescontoIncondicionado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorINSS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIR" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorISS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorISSRetido" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorOutrasRetencoes" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPIS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorServicos" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NFSe" nillable="true" type="tns:NFSe" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliquotaISS" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculoISS" type="xs:decimal" />
      <xs:element minOccurs="0" name="CodigoIBGECidade" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIBGECidadeIncidencia" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPaisPrestacaoServico" type="xs:int" />
      <xs:element minOccurs="0" name="Discriminacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExigibilidadeISS" type="xs:int" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="Servico" nillable="true" type="tns:Servico" />
      <xs:element minOccurs="0" name="ServicoPrestadoNoPais" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValorDeducoes" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDescontoCondicionado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDescontoIncondicionado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorISS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorServico" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="Servico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aliquota" type="xs:decimal" />
      <xs:element minOccurs="0" name="CNAE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTributacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Servico" nillable="true" type="tns:Servico" />
  <xs:complexType name="Natureza">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Natureza" nillable="true" type="tns:Natureza" />
</xs:schema>