Servicos/Service References/ServicoSigaFacil/WSFreteUnik1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.rtkomp.com.br/" targetNamespace="http://ws.rtkomp.com.br/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bloquearCTRC" type="tns:bloquearCTRC" />
  <xs:element name="bloquearCTRCResponse" type="tns:bloquearCTRCResponse" />
  <xs:element name="cancelamento" type="tns:cancelamento" />
  <xs:element name="cancelamentoResponse" type="tns:cancelamentoResponse" />
  <xs:element name="carregarViagemCTRC" type="tns:carregarViagemCTRC" />
  <xs:element name="carregarViagemCTRCResponse" type="tns:carregarViagemCTRCResponse" />
  <xs:element name="confirmarCarregamento" type="tns:confirmarCarregamento" />
  <xs:element name="confirmarCarregamentoResponse" type="tns:confirmarCarregamentoResponse" />
  <xs:element name="consultarStatusViagem" type="tns:consultarStatusViagem" />
  <xs:element name="consultarStatusViagemResponse" type="tns:consultarStatusViagemResponse" />
  <xs:element name="gerarToken" type="tns:gerarToken" />
  <xs:element name="gerarTokenResponse" type="tns:gerarTokenResponse" />
  <xs:element name="getTransportador" type="tns:getTransportador" />
  <xs:element name="getTransportadorResponse" type="tns:getTransportadorResponse" />
  <xs:element name="incluirAssociarCartao" type="tns:incluirAssociarCartao" />
  <xs:element name="incluirAssociarCartaoResponse" type="tns:incluirAssociarCartaoResponse" />
  <xs:element name="integrarMotorista" type="tns:integrarMotorista" />
  <xs:element name="integrarMotoristaResponse" type="tns:integrarMotoristaResponse" />
  <xs:element name="integrarTransportador" type="tns:integrarTransportador" />
  <xs:element name="integrarTransportadorResponse" type="tns:integrarTransportadorResponse" />
  <xs:element name="validaMotorista" type="tns:validaMotorista" />
  <xs:element name="validaMotoristaResponse" type="tns:validaMotoristaResponse" />
  <xs:complexType name="gerarToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="cdContratante" type="xs:string" />
      <xs:element minOccurs="0" name="nrCNPJ" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gerarTokenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarStatusViagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="cdContratante" type="xs:string" />
      <xs:element minOccurs="0" name="dsSenha" type="xs:string" />
      <xs:element minOccurs="0" name="consultaViagem" type="tns:reqConsultarStatusViagemBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reqConsultarStatusViagemBean">
    <xs:sequence>
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilialContratante" type="xs:int" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element name="filialTransporte" type="xs:int" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="numeroOperacao" type="xs:string" />
      <xs:element name="numeroViagem" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarStatusViagemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:respConsultarStatusViagemBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respConsultarStatusViagemBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="codResposta" type="xs:string" />
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilialContratante" type="xs:int" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element name="filialTransporte" type="xs:int" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element minOccurs="0" name="msgErro" type="xs:string" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="nsuFast" type="xs:string" />
      <xs:element minOccurs="0" name="numeroOperacao" type="xs:string" />
      <xs:element name="numeroViagem" type="xs:int" />
      <xs:element name="statusViagem" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirmarCarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="cdContratante" type="xs:string" />
      <xs:element minOccurs="0" name="dsSenha" type="xs:string" />
      <xs:element minOccurs="0" name="confirmaViagem" type="tns:reqConfCarregamentoBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reqConfCarregamentoBean">
    <xs:sequence>
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilialContratante" type="xs:int" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="numeroOperacao" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirmarCarregamentoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:respConfCarregamentoBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respConfCarregamentoBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="codResposta" type="xs:string" />
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilialContratante" type="xs:int" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element minOccurs="0" name="msgErro" type="xs:string" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="nsuFast" type="xs:string" />
      <xs:element minOccurs="0" name="numeroOperacao" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="cdContratante" type="xs:string" />
      <xs:element minOccurs="0" name="dsSenha" type="xs:string" />
      <xs:element minOccurs="0" name="cancelamento" type="tns:reqCancelamentoBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reqCancelamentoBean">
    <xs:sequence>
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilial" type="xs:int" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element name="filialTransporteFilialConhecimento" type="xs:int" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element name="motivoCancelamento" type="xs:int" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="nsuFast0210" type="xs:string" />
      <xs:element name="numeroEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="numeroOperacao" type="xs:string" />
      <xs:element minOccurs="0" name="numeroSerie" type="xs:string" />
      <xs:element minOccurs="0" name="numeroViagemNumeroCTRC" type="xs:string" />
      <xs:element name="tpCancelamento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelamentoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:respCancelamentoBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respCancelamentoBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="codResposta" type="xs:string" />
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilial" type="xs:int" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element name="filialTransporteFilialConhecimento" type="xs:int" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element name="motivoCancelamento" type="xs:int" />
      <xs:element minOccurs="0" name="msgErro" type="xs:string" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="nsuFast" type="xs:string" />
      <xs:element minOccurs="0" name="nsuFast0210" type="xs:string" />
      <xs:element name="numeroEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="numeroOperacao" type="xs:string" />
      <xs:element minOccurs="0" name="numeroSerie" type="xs:string" />
      <xs:element minOccurs="0" name="numeroViagemNumeroCTRC" type="xs:string" />
      <xs:element name="tpCancelamento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bloquearCTRC">
    <xs:sequence>
      <xs:element minOccurs="0" name="cdContratante" type="xs:string" />
      <xs:element minOccurs="0" name="dsSenha" type="xs:string" />
      <xs:element minOccurs="0" name="bloqueioCTRC" type="tns:reqBloqueioCTRCBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reqBloqueioCTRCBean">
    <xs:sequence>
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilial" type="xs:int" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element name="filialConhecimento" type="xs:int" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element name="motivoBloqueio" type="xs:int" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="numeroCTRC" type="xs:string" />
      <xs:element name="numeroEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="numeroSerie" type="xs:string" />
      <xs:element name="tpBloqueio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bloquearCTRCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:respBloqueioCTRCBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respBloqueioCTRCBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="codResposta" type="xs:string" />
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilial" type="xs:int" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element name="filialConhecimento" type="xs:int" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element name="motivoBloqueio" type="xs:int" />
      <xs:element minOccurs="0" name="msgErro" type="xs:string" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="nsuFast" type="xs:string" />
      <xs:element minOccurs="0" name="numeroCTRC" type="xs:string" />
      <xs:element name="numeroEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="numeroSerie" type="xs:string" />
      <xs:element name="tpBloqueio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validaMotorista">
    <xs:sequence>
      <xs:element minOccurs="0" name="cdContratante" type="xs:string" />
      <xs:element minOccurs="0" name="dsSenha" type="xs:string" />
      <xs:element minOccurs="0" name="cpfMotorista" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validaMotoristaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:respValidaMotoristaBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respValidaMotoristaBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="cdContratante" type="xs:string" />
      <xs:element minOccurs="0" name="codResposta" type="xs:string" />
      <xs:element minOccurs="0" name="cpfMotorista" type="xs:string" />
      <xs:element minOccurs="0" name="dsSenha" type="xs:string" />
      <xs:element minOccurs="0" name="msgErro" type="xs:string" />
      <xs:element minOccurs="0" name="nomeMotorista" type="xs:string" />
      <xs:element minOccurs="0" name="nrCartaoAssociado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="incluirAssociarCartao">
    <xs:sequence>
      <xs:element minOccurs="0" name="cdContratante" type="xs:string" />
      <xs:element minOccurs="0" name="dsSenha" type="xs:string" />
      <xs:element minOccurs="0" name="incluirCartao" type="tns:reqIncluirAssociarCartaoBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reqIncluirAssociarCartaoBean">
    <xs:sequence>
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilial" type="xs:int" />
      <xs:element minOccurs="0" name="cpfMotorista" type="xs:string" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element name="idtac" type="xs:int" />
      <xs:element minOccurs="0" name="nomeMotorista" type="xs:string" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="trilha2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="incluirAssociarCartaoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:respIncluirAssociarCartaoBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respIncluirAssociarCartaoBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="codResposta" type="xs:string" />
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilial" type="xs:int" />
      <xs:element minOccurs="0" name="cpfMotorista" type="xs:string" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element name="idTac" type="xs:int" />
      <xs:element minOccurs="0" name="msgErro" type="xs:string" />
      <xs:element minOccurs="0" name="nomeMotorista" type="xs:string" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="nsuFast" type="xs:string" />
      <xs:element minOccurs="0" name="trilha2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTransportador">
    <xs:sequence>
      <xs:element minOccurs="0" name="cdContratante" type="xs:string" />
      <xs:element minOccurs="0" name="dsSenha" type="xs:string" />
      <xs:element minOccurs="0" name="cpfCnpjTransportador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTransportadorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:respTransportadorBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respTransportadorBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="bairro" type="xs:string" />
      <xs:element minOccurs="0" name="bairroCorresp" type="xs:string" />
      <xs:element minOccurs="0" name="cdFilialResponsavel" type="xs:string" />
      <xs:element minOccurs="0" name="cdTransportador" type="xs:string" />
      <xs:element minOccurs="0" name="celular" type="xs:string" />
      <xs:element minOccurs="0" name="cep" type="xs:string" />
      <xs:element minOccurs="0" name="cepCorresp" type="xs:string" />
      <xs:element minOccurs="0" name="cidade" type="xs:string" />
      <xs:element minOccurs="0" name="cidadeCorresp" type="xs:string" />
      <xs:element minOccurs="0" name="codResposta" type="xs:string" />
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element minOccurs="0" name="complemento" type="xs:string" />
      <xs:element minOccurs="0" name="complementoCorresp" type="xs:string" />
      <xs:element minOccurs="0" name="cpfCnpj" type="xs:string" />
      <xs:element minOccurs="0" name="dtAtualizacao" type="xs:string" />
      <xs:element minOccurs="0" name="dtClienteDesde" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="endereco" type="xs:string" />
      <xs:element minOccurs="0" name="enderecoCorresp" type="xs:string" />
      <xs:element minOccurs="0" name="fantasia" type="xs:string" />
      <xs:element name="fisicajuridica" type="xs:int" />
      <xs:element minOccurs="0" name="idEstadoCorresp" type="xs:string" />
      <xs:element minOccurs="0" name="idFormaPadraoAdmto" type="xs:string" />
      <xs:element minOccurs="0" name="idFormaPadraoQuitacao" type="xs:string" />
      <xs:element minOccurs="0" name="idestado" type="xs:string" />
      <xs:element minOccurs="0" name="ierg" type="xs:string" />
      <xs:element minOccurs="0" name="msgErro" type="xs:string" />
      <xs:element minOccurs="0" name="nmContato" type="xs:string" />
      <xs:element minOccurs="0" name="nmContatoContratante" type="xs:string" />
      <xs:element minOccurs="0" name="nmContatoFilial" type="xs:string" />
      <xs:element minOccurs="0" name="nmTransportador" type="xs:string" />
      <xs:element minOccurs="0" name="nrLote" type="xs:string" />
      <xs:element name="nrResidenciaCorresp" type="xs:int" />
      <xs:element minOccurs="0" name="nrTelFilial" type="xs:string" />
      <xs:element name="nrdiaspgto" type="xs:int" />
      <xs:element minOccurs="0" name="nsuFast" type="xs:string" />
      <xs:element name="numcasa" type="xs:int" />
      <xs:element minOccurs="0" name="numeroAgencia" type="xs:string" />
      <xs:element minOccurs="0" name="numeroBanco" type="xs:string" />
      <xs:element minOccurs="0" name="numeroContaCorrente" type="xs:string" />
      <xs:element minOccurs="0" name="rntrc" type="xs:string" />
      <xs:element minOccurs="0" name="telefone" type="xs:string" />
      <xs:element name="tpContaCorrente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carregarViagemCTRC">
    <xs:sequence>
      <xs:element minOccurs="0" name="cdContratante" type="xs:string" />
      <xs:element minOccurs="0" name="dsSenha" type="xs:string" />
      <xs:element minOccurs="0" name="carregarViagem" type="tns:reqCarregamentoFreteViagemBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reqCarregamentoFreteViagemBean">
    <xs:sequence>
      <xs:element name="cdGrupoDocETF" type="xs:int" />
      <xs:element name="codigoCiot" type="xs:long" />
      <xs:element name="codigoFilialContratante" type="xs:int" />
      <xs:element minOccurs="0" name="codigoMunicipioDestino" type="xs:string" />
      <xs:element minOccurs="0" name="codigoMunicipioOrigem" type="xs:string" />
      <xs:element minOccurs="0" name="codigoNaturezaCarga" type="xs:string" />
      <xs:element minOccurs="0" name="cpfCnpjContratado" type="xs:string" />
      <xs:element minOccurs="0" name="cpfCnpjContratante" type="xs:string" />
      <xs:element minOccurs="0" name="cpfCnpjDestinatario" type="xs:string" />
      <xs:element minOccurs="0" name="cpfCnpjInteressado" type="xs:string" />
      <xs:element minOccurs="0" name="cpfCnpjTransportador" type="xs:string" />
      <xs:element minOccurs="0" name="cpfMotorista" type="xs:string" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element minOccurs="0" name="dataFimViagem" type="xs:string" />
      <xs:element minOccurs="0" name="dataInicioViagem" type="xs:string" />
      <xs:element name="filialTransporte" type="xs:int" />
      <xs:element minOccurs="0" name="flagCliente" type="xs:string" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element name="idTac" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaCTRC" nillable="true" type="tns:carregamentoFreteCTRCBean" />
      <xs:element minOccurs="0" name="nomeCondutor" type="xs:string" />
      <xs:element minOccurs="0" name="nrCartaoAssociacao" type="xs:string" />
      <xs:element minOccurs="0" name="nrContrato" type="xs:string" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="numeroAgencia" type="xs:string" />
      <xs:element minOccurs="0" name="numeroBanco" type="xs:string" />
      <xs:element minOccurs="0" name="numeroContaCorrente" type="xs:string" />
      <xs:element name="numeroViagem" type="xs:int" />
      <xs:element minOccurs="0" name="pesoCarga" type="xs:string" />
      <xs:element name="prAdtoTAC" type="xs:double" />
      <xs:element name="prAdtoVinculado" type="xs:double" />
      <xs:element name="prQuitacaoTAC" type="xs:double" />
      <xs:element name="prQuitacaoVinculado" type="xs:double" />
      <xs:element minOccurs="0" name="razaoSocialTransportador" type="xs:string" />
      <xs:element name="regraQuitacaoAdiantamento" type="xs:int" />
      <xs:element name="regraQuitacaoQuitacao" type="xs:int" />
      <xs:element minOccurs="0" name="rntrcContratado" type="xs:string" />
      <xs:element minOccurs="0" name="rntrcContratante" type="xs:string" />
      <xs:element minOccurs="0" name="rntrcTransportador" type="xs:string" />
      <xs:element name="tipoViagem" type="xs:int" />
      <xs:element name="tipoViagemANTT" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="veiculoOperacaoTransp" nillable="true" type="tns:veiculoOperacaoTranspBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carregamentoFreteCTRCBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="codResposta" type="xs:string" />
      <xs:element minOccurs="0" name="especie" type="xs:string" />
      <xs:element name="exigeDataEntregaPOS" type="xs:int" />
      <xs:element name="exigePesoChegada" type="xs:int" />
      <xs:element name="filialConhecimento" type="xs:int" />
      <xs:element name="filialTransporte" type="xs:int" />
      <xs:element name="idCobraDiferencaFrete" type="xs:int" />
      <xs:element name="idTipoQuebra" type="xs:int" />
      <xs:element name="idTipoTolerancia" type="xs:int" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="numeroCTRC" type="xs:string" />
      <xs:element name="numeroEmpresa" type="xs:int" />
      <xs:element name="numeroNotaFiscal" type="xs:int" />
      <xs:element minOccurs="0" name="numeroSerie" type="xs:string" />
      <xs:element minOccurs="0" name="percentTolerancia" type="xs:decimal" />
      <xs:element minOccurs="0" name="percentToleranciaSup" type="xs:decimal" />
      <xs:element minOccurs="0" name="pesoBruto" type="xs:decimal" />
      <xs:element minOccurs="0" name="pesoLotacao" type="xs:decimal" />
      <xs:element minOccurs="0" name="quantidade" type="xs:decimal" />
      <xs:element name="tipoPeso" type="xs:int" />
      <xs:element minOccurs="0" name="valorAdiantamento" type="xs:decimal" />
      <xs:element minOccurs="0" name="valorCartaoPedagio" type="xs:decimal" />
      <xs:element minOccurs="0" name="valorFrete" type="xs:decimal" />
      <xs:element minOccurs="0" name="valorINSS" type="xs:decimal" />
      <xs:element minOccurs="0" name="valorIRRF" type="xs:decimal" />
      <xs:element minOccurs="0" name="valorMercadoriaKG" type="xs:decimal" />
      <xs:element minOccurs="0" name="valorOutrosDescontos" type="xs:decimal" />
      <xs:element minOccurs="0" name="valorPedagio" type="xs:decimal" />
      <xs:element minOccurs="0" name="valorSeguro" type="xs:decimal" />
      <xs:element minOccurs="0" name="valorSenat" type="xs:decimal" />
      <xs:element minOccurs="0" name="valorSest" type="xs:decimal" />
      <xs:element minOccurs="0" name="valorTarifaEmissaoCartao" type="xs:decimal" />
      <xs:element minOccurs="0" name="valorTarifaFrete" type="xs:decimal" />
      <xs:element minOccurs="0" name="valorTotalMercadoria" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="veiculoOperacaoTranspBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="placa" type="xs:string" />
      <xs:element minOccurs="0" name="rntrc" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carregarViagemCTRCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:respCarregamentoViagemBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respCarregamentoViagemBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="avisoTransportador" type="xs:string" />
      <xs:element minOccurs="0" name="codEmpresa" type="xs:string" />
      <xs:element minOccurs="0" name="codResposta" type="xs:string" />
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilialContratante" type="xs:int" />
      <xs:element minOccurs="0" name="codigoIdentificacaoOperacao" type="xs:string" />
      <xs:element minOccurs="0" name="codigoMunicipioDestino" type="xs:string" />
      <xs:element minOccurs="0" name="codigoMunicipioOrigem" type="xs:string" />
      <xs:element minOccurs="0" name="codigoNaturezaCarga" type="xs:string" />
      <xs:element minOccurs="0" name="codigoVerificador" type="xs:string" />
      <xs:element minOccurs="0" name="cpfCnpjContratado" type="xs:string" />
      <xs:element minOccurs="0" name="cpfCnpjContratante" type="xs:string" />
      <xs:element minOccurs="0" name="cpfCnpjDestinatario" type="xs:string" />
      <xs:element minOccurs="0" name="cpfCnpjInteressado" type="xs:string" />
      <xs:element minOccurs="0" name="cpfCnpjTransportador" type="xs:string" />
      <xs:element minOccurs="0" name="cpfMotorista" type="xs:string" />
      <xs:element minOccurs="0" name="dadosSituacaoTransportador" type="tns:dadosSituacaoTransportadorBean" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element minOccurs="0" name="dataInicioViagem" type="xs:string" />
      <xs:element minOccurs="0" name="dataTerminoViagem" type="xs:string" />
      <xs:element minOccurs="0" name="excecao" type="tns:excecaoBean" />
      <xs:element name="filialTransporte" type="xs:int" />
      <xs:element minOccurs="0" name="flagCliente" type="xs:string" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaCTRCResp" nillable="true" type="tns:respCarregamentoFreteCTRCBean" />
      <xs:element minOccurs="0" name="msgErro" type="xs:string" />
      <xs:element minOccurs="0" name="nrCartaoAssociacao" type="xs:string" />
      <xs:element minOccurs="0" name="nrContrato" type="xs:string" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="nsuFast" type="xs:string" />
      <xs:element name="numeroViagem" type="xs:int" />
      <xs:element minOccurs="0" name="pesoCarga" type="xs:string" />
      <xs:element minOccurs="0" name="rntrcContratado" type="xs:string" />
      <xs:element minOccurs="0" name="rntrcContratante" type="xs:string" />
      <xs:element minOccurs="0" name="sucesso" type="xs:string" />
      <xs:element minOccurs="0" name="tipoViagem" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dadosSituacaoTransportadorBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="cpfCnpjTransportador" type="xs:string" />
      <xs:element minOccurs="0" name="dataValidadeRntrc" type="xs:string" />
      <xs:element minOccurs="0" name="equiparadoTac" type="xs:string" />
      <xs:element minOccurs="0" name="nomeRazaoSocialTransportador" type="xs:string" />
      <xs:element minOccurs="0" name="rntrcAtivo" type="xs:string" />
      <xs:element minOccurs="0" name="rntrcTransportador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="situacaoVeiculoFrotaTransportador" nillable="true" type="tns:sitVeiculoFrotaBean" />
      <xs:element minOccurs="0" name="tipoTransportador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sitVeiculoFrotaBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="placa" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="excecaoBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="mensagem" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respCarregamentoFreteCTRCBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="codResposta" type="xs:string" />
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilialContratante" type="xs:int" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element name="filialConhecimento" type="xs:int" />
      <xs:element name="filialTransporte" type="xs:int" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element minOccurs="0" name="nrContrato" type="xs:string" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="nsuFast" type="xs:string" />
      <xs:element minOccurs="0" name="numeroCTRC" type="xs:string" />
      <xs:element name="numeroEmpresa" type="xs:int" />
      <xs:element name="numeroNotaFiscal" type="xs:int" />
      <xs:element minOccurs="0" name="numeroSerie" type="xs:string" />
      <xs:element name="numeroViagem" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="integrarMotorista">
    <xs:sequence>
      <xs:element minOccurs="0" name="cdContratante" type="xs:string" />
      <xs:element minOccurs="0" name="dsSenha" type="xs:string" />
      <xs:element minOccurs="0" name="beanMotorista" type="tns:reqCadMotoristaBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reqCadMotoristaBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="bairro" type="xs:string" />
      <xs:element minOccurs="0" name="bairroCorresp" type="xs:string" />
      <xs:element minOccurs="0" name="celular" type="xs:string" />
      <xs:element minOccurs="0" name="cep" type="xs:string" />
      <xs:element minOccurs="0" name="cepCorresp" type="xs:string" />
      <xs:element minOccurs="0" name="cidade" type="xs:string" />
      <xs:element minOccurs="0" name="cidadeCorresp" type="xs:string" />
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilial" type="xs:int" />
      <xs:element minOccurs="0" name="complemento" type="xs:string" />
      <xs:element minOccurs="0" name="complementoCorresp" type="xs:string" />
      <xs:element minOccurs="0" name="cpf" type="xs:string" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element minOccurs="0" name="dtExpedicaoRG" type="xs:string" />
      <xs:element minOccurs="0" name="dtNascimento" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="endereco" type="xs:string" />
      <xs:element minOccurs="0" name="enderecoCorresp" type="xs:string" />
      <xs:element name="estadoCivil" type="xs:int" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element name="idEscolaridade" type="xs:int" />
      <xs:element minOccurs="0" name="idEstado" type="xs:string" />
      <xs:element minOccurs="0" name="idEstadoCorresp" type="xs:string" />
      <xs:element name="idSexo" type="xs:int" />
      <xs:element minOccurs="0" name="ierg" type="xs:string" />
      <xs:element minOccurs="0" name="nmMae" type="xs:string" />
      <xs:element minOccurs="0" name="nome" type="xs:string" />
      <xs:element name="nrResidenciaCorresp" type="xs:int" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element name="numcasa" type="xs:int" />
      <xs:element minOccurs="0" name="orgaoExpedidorRG" type="xs:string" />
      <xs:element name="qualificacaoProfissional" type="xs:int" />
      <xs:element minOccurs="0" name="rntrc" type="xs:string" />
      <xs:element minOccurs="0" name="telefone" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="integrarMotoristaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:respCadMotoristaBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respCadMotoristaBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="codResposta" type="xs:string" />
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilial" type="xs:int" />
      <xs:element minOccurs="0" name="cpf" type="xs:string" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element minOccurs="0" name="msgErro" type="xs:string" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="nsuFast" type="xs:string" />
      <xs:element name="statusCadastro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="integrarTransportador">
    <xs:sequence>
      <xs:element minOccurs="0" name="cdContratante" type="xs:string" />
      <xs:element minOccurs="0" name="dsSenha" type="xs:string" />
      <xs:element minOccurs="0" name="transportador" type="tns:reqCadTransportadorBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reqCadTransportadorBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="bairro" type="xs:string" />
      <xs:element minOccurs="0" name="bairroCorresp" type="xs:string" />
      <xs:element minOccurs="0" name="celular" type="xs:string" />
      <xs:element minOccurs="0" name="cep" type="xs:string" />
      <xs:element minOccurs="0" name="cepCorresp" type="xs:string" />
      <xs:element minOccurs="0" name="cidade" type="xs:string" />
      <xs:element minOccurs="0" name="cidadeCorresp" type="xs:string" />
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilial" type="xs:int" />
      <xs:element minOccurs="0" name="complemento" type="xs:string" />
      <xs:element minOccurs="0" name="complementoCorresp" type="xs:string" />
      <xs:element minOccurs="0" name="cpfCnpj" type="xs:string" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="endereco" type="xs:string" />
      <xs:element minOccurs="0" name="enderecoCorresp" type="xs:string" />
      <xs:element minOccurs="0" name="fantasia" type="xs:string" />
      <xs:element name="fisicajuridica" type="xs:int" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element minOccurs="0" name="idEstadoCorresp" type="xs:string" />
      <xs:element minOccurs="0" name="idestado" type="xs:string" />
      <xs:element minOccurs="0" name="ierg" type="xs:string" />
      <xs:element minOccurs="0" name="nmContato" type="xs:string" />
      <xs:element name="nrResidenciaCorresp" type="xs:int" />
      <xs:element name="nrdiaspgto" type="xs:int" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element name="numcasa" type="xs:int" />
      <xs:element minOccurs="0" name="numeroAgencia" type="xs:string" />
      <xs:element minOccurs="0" name="numeroBanco" type="xs:string" />
      <xs:element minOccurs="0" name="numeroContaCorrente" type="xs:string" />
      <xs:element minOccurs="0" name="razaoSocial" type="xs:string" />
      <xs:element minOccurs="0" name="rntrc" type="xs:string" />
      <xs:element minOccurs="0" name="telefone" type="xs:string" />
      <xs:element name="tpContaCorrente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="integrarTransportadorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:respCadTransportadorBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respCadTransportadorBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="codResposta" type="xs:string" />
      <xs:element name="codigoContratante" type="xs:int" />
      <xs:element name="codigoFilial" type="xs:int" />
      <xs:element minOccurs="0" name="cpfCnpj" type="xs:string" />
      <xs:element minOccurs="0" name="data" type="xs:string" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element minOccurs="0" name="msgErro" type="xs:string" />
      <xs:element minOccurs="0" name="nsuContratante" type="xs:string" />
      <xs:element minOccurs="0" name="nsuFast" type="xs:string" />
      <xs:element minOccurs="0" name="rntrc" type="xs:string" />
      <xs:element name="statusCadastro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>