Servicos/Service References/ServicoSigaFacil/WSFreteUnik1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws.rtkomp.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WSFreteUnik" targetNamespace="http://ws.rtkomp.com.br/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://homol.wsfrete.unik.com.br:80/WSFrete_Unik/WSFreteUnik?xsd=1" namespace="http://ws.rtkomp.com.br/" />
    </xsd:schema>
  </types>
  <message name="bloquearCTRC">
    <part name="parameters" element="tns:bloquearCTRC" />
  </message>
  <message name="bloquearCTRCResponse">
    <part name="parameters" element="tns:bloquearCTRCResponse" />
  </message>
  <message name="consultarStatusViagem">
    <part name="parameters" element="tns:consultarStatusViagem" />
  </message>
  <message name="consultarStatusViagemResponse">
    <part name="parameters" element="tns:consultarStatusViagemResponse" />
  </message>
  <message name="confirmarCarregamento">
    <part name="parameters" element="tns:confirmarCarregamento" />
  </message>
  <message name="confirmarCarregamentoResponse">
    <part name="parameters" element="tns:confirmarCarregamentoResponse" />
  </message>
  <message name="validaMotorista">
    <part name="parameters" element="tns:validaMotorista" />
  </message>
  <message name="validaMotoristaResponse">
    <part name="parameters" element="tns:validaMotoristaResponse" />
  </message>
  <message name="getTransportador">
    <part name="parameters" element="tns:getTransportador" />
  </message>
  <message name="getTransportadorResponse">
    <part name="parameters" element="tns:getTransportadorResponse" />
  </message>
  <message name="integrarTransportador">
    <part name="parameters" element="tns:integrarTransportador" />
  </message>
  <message name="integrarTransportadorResponse">
    <part name="parameters" element="tns:integrarTransportadorResponse" />
  </message>
  <message name="integrarMotorista">
    <part name="parameters" element="tns:integrarMotorista" />
  </message>
  <message name="integrarMotoristaResponse">
    <part name="parameters" element="tns:integrarMotoristaResponse" />
  </message>
  <message name="incluirAssociarCartao">
    <part name="parameters" element="tns:incluirAssociarCartao" />
  </message>
  <message name="incluirAssociarCartaoResponse">
    <part name="parameters" element="tns:incluirAssociarCartaoResponse" />
  </message>
  <message name="carregarViagemCTRC">
    <part name="parameters" element="tns:carregarViagemCTRC" />
  </message>
  <message name="carregarViagemCTRCResponse">
    <part name="parameters" element="tns:carregarViagemCTRCResponse" />
  </message>
  <message name="cancelamento">
    <part name="parameters" element="tns:cancelamento" />
  </message>
  <message name="cancelamentoResponse">
    <part name="parameters" element="tns:cancelamentoResponse" />
  </message>
  <message name="gerarToken">
    <part name="parameters" element="tns:gerarToken" />
  </message>
  <message name="gerarTokenResponse">
    <part name="parameters" element="tns:gerarTokenResponse" />
  </message>
  <portType name="WSFreteUnik">
    <operation name="bloquearCTRC">
      <input wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/bloquearCTRCRequest" message="tns:bloquearCTRC" />
      <output wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/bloquearCTRCResponse" message="tns:bloquearCTRCResponse" />
    </operation>
    <operation name="consultarStatusViagem">
      <input wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/consultarStatusViagemRequest" message="tns:consultarStatusViagem" />
      <output wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/consultarStatusViagemResponse" message="tns:consultarStatusViagemResponse" />
    </operation>
    <operation name="confirmarCarregamento">
      <input wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/confirmarCarregamentoRequest" message="tns:confirmarCarregamento" />
      <output wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/confirmarCarregamentoResponse" message="tns:confirmarCarregamentoResponse" />
    </operation>
    <operation name="validaMotorista">
      <input wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/validaMotoristaRequest" message="tns:validaMotorista" />
      <output wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/validaMotoristaResponse" message="tns:validaMotoristaResponse" />
    </operation>
    <operation name="getTransportador">
      <input wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/getTransportadorRequest" message="tns:getTransportador" />
      <output wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/getTransportadorResponse" message="tns:getTransportadorResponse" />
    </operation>
    <operation name="integrarTransportador">
      <input wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/integrarTransportadorRequest" message="tns:integrarTransportador" />
      <output wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/integrarTransportadorResponse" message="tns:integrarTransportadorResponse" />
    </operation>
    <operation name="integrarMotorista">
      <input wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/integrarMotoristaRequest" message="tns:integrarMotorista" />
      <output wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/integrarMotoristaResponse" message="tns:integrarMotoristaResponse" />
    </operation>
    <operation name="incluirAssociarCartao">
      <input wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/incluirAssociarCartaoRequest" message="tns:incluirAssociarCartao" />
      <output wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/incluirAssociarCartaoResponse" message="tns:incluirAssociarCartaoResponse" />
    </operation>
    <operation name="carregarViagemCTRC">
      <input wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/carregarViagemCTRCRequest" message="tns:carregarViagemCTRC" />
      <output wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/carregarViagemCTRCResponse" message="tns:carregarViagemCTRCResponse" />
    </operation>
    <operation name="cancelamento">
      <input wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/cancelamentoRequest" message="tns:cancelamento" />
      <output wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/cancelamentoResponse" message="tns:cancelamentoResponse" />
    </operation>
    <operation name="gerarToken">
      <input wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/gerarTokenRequest" message="tns:gerarToken" />
      <output wsam:Action="http://ws.rtkomp.com.br/WSFreteUnik/gerarTokenResponse" message="tns:gerarTokenResponse" />
    </operation>
  </portType>
  <binding name="WSFreteUnikPortBinding" type="tns:WSFreteUnik">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="bloquearCTRC">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarStatusViagem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="confirmarCarregamento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="validaMotorista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getTransportador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="integrarTransportador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="integrarMotorista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="incluirAssociarCartao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="carregarViagemCTRC">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cancelamento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="gerarToken">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WSFreteUnik">
    <port name="WSFreteUnikPort" binding="tns:WSFreteUnikPortBinding">
      <soap:address location="http://homol.wsfrete.unik.com.br:80/WSFrete_Unik/WSFreteUnik" />
    </port>
  </service>
</definitions>