WebApplication1/Service References/Cargas/Cargas7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComponenteFrete">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoMultiEmbarcador" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComponenteFrete" nillable="true" type="tns:ComponenteFrete" />
</xs:schema>