WebApplication1/Service References/ServiceReference2/Empresa.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1474/Empresa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
  <xs:import schemaLocation="http://localhost:1474/Empresa.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:element name="BuscarEmpresaEmissora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chaveAcesso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEmpresaEmissoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="BuscarEmpresaEmissoraResult" nillable="true" type="q1:RetornoOfEmpresaX8of5MvI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEmpresaPai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chaveAcesso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEmpresaPaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="BuscarEmpresaPaiResult" nillable="true" type="q2:RetornoOfEmpresaX8of5MvI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEmpresaAdministradora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chaveAcesso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEmpresaAdministradoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="BuscarEmpresaAdministradoraResult" nillable="true" type="q3:RetornoOfEmpresaX8of5MvI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarEmpresaPai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="empresa" nillable="true" type="q4:Empresa" />
        <xs:element minOccurs="0" name="chaveAcesso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarEmpresaPaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="SalvarEmpresaPaiResult" nillable="true" type="q5:RetornoOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarEmpresaEmissora">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="empresa" nillable="true" type="q6:Empresa" />
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chaveAcesso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarEmpresaEmissoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="SalvarEmpresaEmissoraResult" nillable="true" type="q7:RetornoOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarStatusEmpresaEmissora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chaveAcesso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarStatusEmpresaEmissoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="AlterarStatusEmpresaEmissoraResult" nillable="true" type="q8:RetornoOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarStatusEmpresaPai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chaveAcesso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarStatusEmpresaPaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="AlterarStatusEmpresaPaiResult" nillable="true" type="q9:RetornoOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCredencial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chaveAcesso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCredencialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="BuscarCredencialResult" nillable="true" type="q10:RetornoOfCredencialX8of5MvI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>