WebApplication1/Service References/ServiceReference2/Empresa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Empresa" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1474/Empresa.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1474/Empresa.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1474/Empresa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
      <xsd:import schemaLocation="http://localhost:1474/Empresa.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpresa_BuscarEmpresaEmissora_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmpresaEmissora" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarEmpresaEmissora_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmpresaEmissoraResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarEmpresaPai_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmpresaPai" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarEmpresaPai_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmpresaPaiResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarEmpresaAdministradora_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmpresaAdministradora" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarEmpresaAdministradora_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmpresaAdministradoraResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarEmpresaPai_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarEmpresaPai" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarEmpresaPai_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarEmpresaPaiResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarEmpresaEmissora_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarEmpresaEmissora" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarEmpresaEmissora_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarEmpresaEmissoraResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_AlterarStatusEmpresaEmissora_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarStatusEmpresaEmissora" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_AlterarStatusEmpresaEmissora_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarStatusEmpresaEmissoraResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_AlterarStatusEmpresaPai_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarStatusEmpresaPai" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_AlterarStatusEmpresaPai_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarStatusEmpresaPaiResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarCredencial_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCredencial" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarCredencial_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCredencialResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpresa">
    <wsdl:operation name="BuscarEmpresaEmissora">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarEmpresaEmissora" message="tns:IEmpresa_BuscarEmpresaEmissora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarEmpresaEmissoraResponse" message="tns:IEmpresa_BuscarEmpresaEmissora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEmpresaPai">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarEmpresaPai" message="tns:IEmpresa_BuscarEmpresaPai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarEmpresaPaiResponse" message="tns:IEmpresa_BuscarEmpresaPai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEmpresaAdministradora">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarEmpresaAdministradora" message="tns:IEmpresa_BuscarEmpresaAdministradora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarEmpresaAdministradoraResponse" message="tns:IEmpresa_BuscarEmpresaAdministradora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarEmpresaPai">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/SalvarEmpresaPai" message="tns:IEmpresa_SalvarEmpresaPai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/SalvarEmpresaPaiResponse" message="tns:IEmpresa_SalvarEmpresaPai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarEmpresaEmissora">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/SalvarEmpresaEmissora" message="tns:IEmpresa_SalvarEmpresaEmissora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/SalvarEmpresaEmissoraResponse" message="tns:IEmpresa_SalvarEmpresaEmissora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarStatusEmpresaEmissora">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/AlterarStatusEmpresaEmissora" message="tns:IEmpresa_AlterarStatusEmpresaEmissora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/AlterarStatusEmpresaEmissoraResponse" message="tns:IEmpresa_AlterarStatusEmpresaEmissora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarStatusEmpresaPai">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/AlterarStatusEmpresaPai" message="tns:IEmpresa_AlterarStatusEmpresaPai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/AlterarStatusEmpresaPaiResponse" message="tns:IEmpresa_AlterarStatusEmpresaPai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCredencial">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarCredencial" message="tns:IEmpresa_BuscarCredencial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarCredencialResponse" message="tns:IEmpresa_BuscarCredencial_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpresa" type="tns:IEmpresa">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarEmpresaEmissora">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarEmpresaEmissora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEmpresaPai">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarEmpresaPai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEmpresaAdministradora">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarEmpresaAdministradora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarEmpresaPai">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/SalvarEmpresaPai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarEmpresaEmissora">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/SalvarEmpresaEmissora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarStatusEmpresaEmissora">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/AlterarStatusEmpresaEmissora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarStatusEmpresaPai">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/AlterarStatusEmpresaPai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCredencial">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarCredencial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Empresa">
    <wsdl:port name="BasicHttpBinding_IEmpresa" binding="tns:BasicHttpBinding_IEmpresa">
      <soap:address location="http://localhost:1474/Empresa.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>