Servicos/Service References/ServicosYPE.IntegrarGestaoDevolucao/SI_OS_RecebeDadosLaudoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_OS_RecebeDadosLaudo"
	targetNamespace="urn:multiembarcador:RecebeDadosLaudo"
	xmlns:p1="urn:multiembarcador:RecebeDadosLaudo"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_SI_OS_RecebeDadosLaudo" />
	<wsdl:types>
		<xsd:schema targetNamespace="urn:multiembarcador:RecebeDadosLaudo"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="urn:multiembarcador:RecebeDadosLaudo">
			<xsd:element name="MT_RecebeDadosLaudo_Resp" type="DT_RecebeDadosLaudo_Resp" />
			<xsd:element name="MT_RecebeDadosLaudo_Req" type="DT_RecebeDadosLaudo_Req" />
			<xsd:complexType name="DT_RecebeDadosLaudo_Req">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">
						937dd01a655e11efbe7b00000152c5fa</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="DadosLaudo" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">
								4476a54d656011efa1b600155d01cb7d</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="CodFornecedor" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a539656011efac9900155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ChaveNFeReferencia" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a53a656011efc47900155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ChaveNFD" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a53b656011efa16500155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Atribuicao" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a53c656011efb82c00155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="NumeroLaudo" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a53d656011ef896500155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="NumeroDocumento" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a53e656011efb22d00155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DataDocumento" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a53f656011ef9dd700155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="TipoDocumento" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a540656011efaa0e00155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DataBase" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a541656011efc65f00155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="NumeroDias" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a542656011efc0c900155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DataEmissao" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a543656011efbbcb00155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DataVencimento" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a544656011efa8ff00155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DataCompensacao" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a545656011efce6300155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PossuiBloqueio" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a546656011efb3ba00155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Pagamento" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a547656011efc5ae00155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Valor" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a548656011efb14e00155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Moeda" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a549656011ef9ebd00155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="NumeroCompensacao" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a54a656011efcda300155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Observacao" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a54b656011ef9e7800155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Cabecalho" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											4476a54c656011efc00a00155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DT_RecebeDadosLaudo_Resp">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">
						5dc76671656011efa43f00000152c5fa</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="DadosLaudoRetorno" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="NumeroLaudo" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											a55ce3d0649611efa3f500155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Status" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											a55ce3d1649611efb99500155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Mensagem" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">
											a55ce3d3649611ef8ee400155d01cb7d</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MT_RecebeDadosLaudo_Req">
		<wsdl:documentation />
		<wsdl:part name="MT_RecebeDadosLaudo_Req" element="p1:MT_RecebeDadosLaudo_Req" />
	</wsdl:message>
	<wsdl:message name="MT_RecebeDadosLaudo_Resp">
		<wsdl:documentation />
		<wsdl:part name="MT_RecebeDadosLaudo_Resp" element="p1:MT_RecebeDadosLaudo_Resp" />
	</wsdl:message>
	<wsdl:portType name="SI_OS_RecebeDadosLaudo">
		<wsdl:documentation />
		<wsdl:operation name="SI_OS_RecebeDadosLaudo">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SI_OS_RecebeDadosLaudo" />
			</wsp:Policy>
			<wsdl:input message="p1:MT_RecebeDadosLaudo_Req" />
			<wsdl:output message="p1:MT_RecebeDadosLaudo_Resp" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SI_OS_RecebeDadosLaudoBinding" type="p1:SI_OS_RecebeDadosLaudo">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="SI_OS_RecebeDadosLaudo">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SI_OS_RecebeDadosLaudoService">
		<wsdl:port name="HTTP_Port" binding="p1:SI_OS_RecebeDadosLaudoBinding">
			<soap:address
				location="http://bramplxpoq01.ype.ind.br:50400/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MULTIEMBARCADOR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_RecebeDadosLaudo&amp;interfaceNamespace=urn%3Amultiembarcador%3ARecebeDadosLaudo"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
		<wsdl:port name="HTTPS_Port" binding="p1:SI_OS_RecebeDadosLaudoBinding">
			<soap:address
				location="https://bramplxpoq01.ype.ind.br:50401/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MULTIEMBARCADOR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_RecebeDadosLaudo&amp;interfaceNamespace=urn%3Amultiembarcador%3ARecebeDadosLaudo"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>