Servicos/Service References/DTeRecepcao/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.portalfiscal.inf.br/dte/wsdl/DTeRecepcao" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.portalfiscal.inf.br/dte/wsdl/DTeRecepcao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/dte/wsdl/DTeRecepcao">
      <s:element name="dteDadosMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dteRecepcaoLoteResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dteCabecMsg" type="tns:dteCabecMsg" />
      <s:complexType name="dteCabecMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cUF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="versaoDados" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="webhook" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="dteRecepcaoLoteSoap12In">
    <wsdl:part name="dteDadosMsg" element="tns:dteDadosMsg" />
  </wsdl:message>
  <wsdl:message name="dteRecepcaoLoteSoap12Out">
    <wsdl:part name="dteRecepcaoLoteResult" element="tns:dteRecepcaoLoteResult" />
  </wsdl:message>
  <wsdl:message name="dteRecepcaoLotedteCabecMsg">
    <wsdl:part name="dteCabecMsg" element="tns:dteCabecMsg" />
  </wsdl:message>
  <wsdl:portType name="DTeRecepcaoSoap12">
    <wsdl:operation name="dteRecepcaoLote">
      <wsdl:input message="tns:dteRecepcaoLoteSoap12In" />
      <wsdl:output message="tns:dteRecepcaoLoteSoap12Out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DTeRecepcaoSoap12" type="tns:DTeRecepcaoSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dteRecepcaoLote">
      <soap12:operation soapAction="https://dte.valec.gov.br/ws/DTerecepcao/" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:dteRecepcaoLotedteCabecMsg" part="dteCabecMsg" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:dteRecepcaoLotedteCabecMsg" part="dteCabecMsg" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DTeRecepcao">
    <wsdl:port name="DTeRecepcaoSoap12" binding="tns:DTeRecepcaoSoap12">
      <soap12:address location="https://dte.infraestrutura.gov.br/ws/DTerecepcao/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>