Servicos/Service References/ServicoSAP_SU/SI_Criar_Saldo_Frete_Sync_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://jsl.com.br/Criar_Saldo_Frete_FI" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_Criar_Saldo_Frete_Sync_OUT" targetNamespace="http://jsl.com.br/Criar_Saldo_Frete_FI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_Criar_Saldo_Frete_Sync_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="http://jsl.com.br/Criar_Saldo_Frete_FI" targetNamespace="http://jsl.com.br/Criar_Saldo_Frete_FI" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_Criar_Saldo_Frete_req" type="p1:DT_Criar_Saldo_Frete_req" />
      <xsd:element name="MT_Criar_Saldo_Frete_resp" type="p1:DT_Criar_Saldo_Frete_resp" />
      <xsd:complexType name="DT_Criar_Saldo_Frete_req">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">57b00b43abcd11e493660000332d37ea</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="T_HEADER">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">110e09e4abce11e4cb2590004ec42afd</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Item">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">110e09e3abce11e4b61890004ec42afd</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="DOC_CONT">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">110e09d9abce11e4855a90004ec42afd</xsd:appinfo>
                          <xsd:documentation>Número do documento contábil criado no último movimento</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="DATA_DOC" type="xsd:date">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">110e09daabce11e49f7e90004ec42afd</xsd:appinfo>
                          <xsd:documentation>DATA_EMISSAO</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="TIPO_DOC">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">110e09dbabce11e494d490004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “SU”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="EMPRESA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">110e09dcabce11e4b75d90004ec42afd</xsd:appinfo>
                          <xsd:documentation>PONTO_OPERAÇAO_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="DATA_LANC" type="xsd:date">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">110e09ddabce11e4bada90004ec42afd</xsd:appinfo>
                          <xsd:documentation>DATA_VENCTO</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MOEDA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">110e09deabce11e48c9b90004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “BRL”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="5" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="REFERENCIA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">110e09dfabce11e4c40190004ec42afd</xsd:appinfo>
                          <xsd:documentation>NUM_CONTABIL</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="16" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TEXTO_CABECALHO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">110e09e0abce11e49f8d90004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “SALDO RECIBO (NUM_CONTABIL)”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="25" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="TEXTO_COMP">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">110e09e1abce11e4cba490004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “BAIXA TOTAL RECIBO (NUM_CONTABIL)”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="50" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NUM_FILIAL">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">110e09e2abce11e4c95590004ec42afd</xsd:appinfo>
                          <xsd:documentation>PONTO_OPERACAO_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="T_ITEM_CARUANA">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fddda428abd011e49a7090004ec42afd</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Item">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fddda427abd011e4b81c90004ec42afd</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="CHAVE_LANC">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">fddda419abd011e4af6590004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “31”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="COD_CARTAO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">fddda41aabd011e4b30390004ec42afd</xsd:appinfo>
                          <xsd:documentation>CARTAO_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="17" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="MONTANTE">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">fddda41babd011e4a32e90004ec42afd</xsd:appinfo>
                          <xsd:documentation>VALOR_LANC_RS</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="13" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LOCAL_NEG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">fddda41cabd011e4a3d790004ec42afd</xsd:appinfo>
                          <xsd:documentation>PONTO_OPERACAO_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="COND_PAG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">fddda41dabd011e49d7390004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “Z001”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="DATA_BASE" type="xsd:date">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">fddda41eabd011e4c74790004ec42afd</xsd:appinfo>
                          <xsd:documentation>DTPREVPGTO</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="BLOQ_PAG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">fddda41fabd011e4a74d90004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “J”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="FORMA_PAG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">fddda420abd011e48e7790004ec42afd</xsd:appinfo>
                          <xsd:documentation>CDFORMAPGTO</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="REF_PAG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">fddda421abd011e4c51e90004ec42afd</xsd:appinfo>
                          <xsd:documentation>NUM_CONTABIL</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="30" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ATRIBUICAO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">fddda422abd011e4c96c90004ec42afd</xsd:appinfo>
                          <xsd:documentation>COLABORADOR_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="18" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BANCO_EMPRESA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">fddda423abd011e4867c90004ec42afd</xsd:appinfo>
                          <xsd:documentation>BANCO_ID
CONTA DA EMPRESA PARA PAGAMENTO</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="5" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ID_CONTA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">fddda424abd011e4924e90004ec42afd</xsd:appinfo>
                          <xsd:documentation>BANCO_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="5" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TEXTO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">fddda425abd011e490a690004ec42afd</xsd:appinfo>
                          <xsd:documentation>FIXO = “ADIANTAMENTO RECIBO (NUM_CONTABIL)”</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="50" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="COD_FORN">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">fddda426abd011e48e8590004ec42afd</xsd:appinfo>
                          <xsd:documentation>FORNECEDOR_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="16" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Criar_Saldo_Frete_resp">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">3ae0aab4abd111e4c7700000332d37ea</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="T_RETURN">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Item">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="TIPO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">730ef31eabac11e4b0db90004ec42afd</xsd:appinfo>
                          <xsd:documentation>E – Erro
S – Sucesso</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="EMPRESA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">730ef31fabac11e4cf8a90004ec42afd</xsd:appinfo>
                          <xsd:documentation>Empresa lançada</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="DOC_CONT">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">730ef320abac11e481b090004ec42afd</xsd:appinfo>
                          <xsd:documentation>Documento SAP criado – ST</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AREA_FUNC">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">730ef321abac11e4c64d90004ec42afd</xsd:appinfo>
                          <xsd:documentation>Área da mensagem</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="20" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="NUM_MSG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">730ef322abac11e4cc0290004ec42afd</xsd:appinfo>
                          <xsd:documentation>Número da mensagem</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="TEXTO_MSG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">730ef323abac11e4cc3f90004ec42afd</xsd:appinfo>
                          <xsd:documentation>Descrição da mensagem</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="73" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Criar_Saldo_Frete_req">
    <wsdl:documentation />
    <wsdl:part name="MT_Criar_Saldo_Frete_req" element="p1:MT_Criar_Saldo_Frete_req" />
  </wsdl:message>
  <wsdl:message name="MT_Criar_Saldo_Frete_resp">
    <wsdl:documentation />
    <wsdl:part name="MT_Criar_Saldo_Frete_resp" element="p1:MT_Criar_Saldo_Frete_resp" />
  </wsdl:message>
  <wsdl:portType name="SI_Criar_Saldo_Frete_Sync_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_Criar_Saldo_Frete_Sync_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_Criar_Saldo_Frete_Sync_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_Criar_Saldo_Frete_req" />
      <wsdl:output message="p1:MT_Criar_Saldo_Frete_resp" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_Criar_Saldo_Frete_Sync_OUTBinding" type="p1:SI_Criar_Saldo_Frete_Sync_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_Criar_Saldo_Frete_Sync_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_Criar_Saldo_Frete_Sync_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_Criar_Saldo_Frete_Sync_OUTBinding">
      <address location="http://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_JSL_FRETES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Criar_Saldo_Frete_Sync_OUT&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FCriar_Saldo_Frete_FI" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_Criar_Saldo_Frete_Sync_OUTBinding">
      <address location="https://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_JSL_FRETES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Criar_Saldo_Frete_Sync_OUT&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FCriar_Saldo_Frete_FI" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>