WebApplication1/Service References/ServicoNFeNovo/NFe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NFe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd13" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INFe_BuscarCargasAguardandoNotasFiscais_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCargasAguardandoNotasFiscais" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarCargasAguardandoNotasFiscais_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCargasAguardandoNotasFiscaisResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_ConfirmarRecebimentoCargaAguardandoNotasFiscais_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarRecebimentoCargaAguardandoNotasFiscais" />
  </wsdl:message>
  <wsdl:message name="INFe_ConfirmarRecebimentoCargaAguardandoNotasFiscais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarRecebimentoCargaAguardandoNotasFiscaisResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarArquivoXMLNFe_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarArquivoXMLNFe" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarArquivoXMLNFe_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarArquivoXMLNFeResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_IntegrarNotasFiscais_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarNotasFiscais" />
  </wsdl:message>
  <wsdl:message name="INFe_IntegrarNotasFiscais_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarNotasFiscaisResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_IntegrarNotaFiscal_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="INFe_IntegrarNotaFiscal_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_InformarCancelamentoNotaFiscal_InputMessage">
    <wsdl:part name="parameters" element="tns:InformarCancelamentoNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="INFe_InformarCancelamentoNotaFiscal_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformarCancelamentoNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarCanhotosAvulsos_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCanhotosAvulsos" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarCanhotosAvulsos_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCanhotosAvulsosResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatarioResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario" />
  </wsdl:message>
  <wsdl:message name="INFe_ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatarioResponse" />
  </wsdl:message>
  <wsdl:portType name="INFe">
    <wsdl:operation name="BuscarCargasAguardandoNotasFiscais">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/BuscarCargasAguardandoNotasFiscais" message="tns:INFe_BuscarCargasAguardandoNotasFiscais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/BuscarCargasAguardandoNotasFiscaisResponse" message="tns:INFe_BuscarCargasAguardandoNotasFiscais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarRecebimentoCargaAguardandoNotasFiscais">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/ConfirmarRecebimentoCargaAguardandoNotasFiscais" message="tns:INFe_ConfirmarRecebimentoCargaAguardandoNotasFiscais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/ConfirmarRecebimentoCargaAguardandoNotasFiscaisResponse" message="tns:INFe_ConfirmarRecebimentoCargaAguardandoNotasFiscais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarArquivoXMLNFe">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/EnviarArquivoXMLNFe" message="tns:INFe_EnviarArquivoXMLNFe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/EnviarArquivoXMLNFeResponse" message="tns:INFe_EnviarArquivoXMLNFe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarNotasFiscais">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/IntegrarNotasFiscais" message="tns:INFe_IntegrarNotasFiscais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/IntegrarNotasFiscaisResponse" message="tns:INFe_IntegrarNotasFiscais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarNotaFiscal">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/IntegrarNotaFiscal" message="tns:INFe_IntegrarNotaFiscal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/IntegrarNotaFiscalResponse" message="tns:INFe_IntegrarNotaFiscal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformarCancelamentoNotaFiscal">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/InformarCancelamentoNotaFiscal" message="tns:INFe_InformarCancelamentoNotaFiscal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/InformarCancelamentoNotaFiscalResponse" message="tns:INFe_InformarCancelamentoNotaFiscal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCanhotosAvulsos">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/BuscarCanhotosAvulsos" message="tns:INFe_BuscarCanhotosAvulsos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/BuscarCanhotosAvulsosResponse" message="tns:INFe_BuscarCanhotosAvulsos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario" message="tns:INFe_BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatarioResponse" message="tns:INFe_BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario" message="tns:INFe_ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatarioResponse" message="tns:INFe_ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INFe" type="tns:INFe">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarCargasAguardandoNotasFiscais">
      <soap:operation soapAction="http://tempuri.org/INFe/BuscarCargasAguardandoNotasFiscais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarRecebimentoCargaAguardandoNotasFiscais">
      <soap:operation soapAction="http://tempuri.org/INFe/ConfirmarRecebimentoCargaAguardandoNotasFiscais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarArquivoXMLNFe">
      <soap:operation soapAction="http://tempuri.org/INFe/EnviarArquivoXMLNFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarNotasFiscais">
      <soap:operation soapAction="http://tempuri.org/INFe/IntegrarNotasFiscais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/INFe/IntegrarNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformarCancelamentoNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/INFe/InformarCancelamentoNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCanhotosAvulsos">
      <soap:operation soapAction="http://tempuri.org/INFe/BuscarCanhotosAvulsos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario">
      <soap:operation soapAction="http://tempuri.org/INFe/BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario">
      <soap:operation soapAction="http://tempuri.org/INFe/ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFe">
    <wsdl:port name="BasicHttpBinding_INFe" binding="tns:BasicHttpBinding_INFe">
      <soap:address location="http://localhost:5146/NFe.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>