WebApplication1/Service References/ServicoNFeNovo/NFe12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="TipoNotaFiscalIntegrada">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Faturamento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RemessaPallet">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoNotaFiscalIntegrada" nillable="true" type="tns:TipoNotaFiscalIntegrada" />
  <xs:simpleType name="SituacaoCanhoto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todas" />
      <xs:enumeration value="Pendente" />
      <xs:enumeration value="Justificado" />
      <xs:enumeration value="RecebidoFisicamente" />
      <xs:enumeration value="Extraviado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SituacaoCanhoto" nillable="true" type="tns:SituacaoCanhoto" />
  <xs:simpleType name="ModalidadePagamentoFrete">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pago" />
      <xs:enumeration value="A_Pagar" />
      <xs:enumeration value="Outros" />
      <xs:enumeration value="NaoDefinido">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ModalidadePagamentoFrete" nillable="true" type="tns:ModalidadePagamentoFrete" />
  <xs:simpleType name="SituacaoNFeSefaz">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Autorizada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancelada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Denegada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SituacaoNFeSefaz" nillable="true" type="tns:SituacaoNFeSefaz" />
  <xs:simpleType name="TipoOperacaoNotaFiscal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Entrada" />
      <xs:enumeration value="Saida" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoOperacaoNotaFiscal" nillable="true" type="tns:TipoOperacaoNotaFiscal" />
  <xs:simpleType name="TipoContaBanco">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Corrente">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Poupança">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoContaBanco" nillable="true" type="tns:TipoContaBanco" />
  <xs:simpleType name="TipoModeloVeicularCarga">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Geral">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Reboque">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Tracao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoModeloVeicularCarga" nillable="true" type="tns:TipoModeloVeicularCarga" />
  <xs:simpleType name="TipoVeiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tracao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Reboque">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoVeiculo" nillable="true" type="tns:TipoVeiculo" />
  <xs:simpleType name="TipoMotorista">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Proprio" />
      <xs:enumeration value="Terceiro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoMotorista" nillable="true" type="tns:TipoMotorista" />
  <xs:simpleType name="TipoCarroceria">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoAplicavel" />
      <xs:enumeration value="Aberta" />
      <xs:enumeration value="FechadaBau" />
      <xs:enumeration value="Graneleira" />
      <xs:enumeration value="PortaContainer" />
      <xs:enumeration value="Sider" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoCarroceria" nillable="true" type="tns:TipoCarroceria" />
  <xs:simpleType name="TipoPropriedadeVeiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Proprio">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Terceiros">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPropriedadeVeiculo" nillable="true" type="tns:TipoPropriedadeVeiculo" />
  <xs:simpleType name="TipoRodado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoAplicavel" />
      <xs:enumeration value="Truck" />
      <xs:enumeration value="Toco" />
      <xs:enumeration value="CavaloMecanico" />
      <xs:enumeration value="VAN" />
      <xs:enumeration value="Utilitario" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoRodado" nillable="true" type="tns:TipoRodado" />
</xs:schema>