WebApplication1/Service References/ServicoNFeNovo/NFe13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SGT.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" />
  <xs:complexType name="RetornoOfPaginacaoOfProtocolosVQbIXuKl51p1vPsU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService">
            <GenericParameter Name="Protocolos" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:PaginacaoOfProtocolosVQbIXuKl" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfPaginacaoOfProtocolosVQbIXuKl51p1vPsU" nillable="true" type="tns:RetornoOfPaginacaoOfProtocolosVQbIXuKl51p1vPsU" />
  <xs:complexType name="PaginacaoOfProtocolosVQbIXuKl">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Protocolos" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="Itens" nillable="true" type="q1:ArrayOfProtocolos" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginacaoOfProtocolosVQbIXuKl" nillable="true" type="tns:PaginacaoOfProtocolosVQbIXuKl" />
  <xs:complexType name="RetornoOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfboolean" nillable="true" type="tns:RetornoOfboolean" />
  <xs:complexType name="RetornoOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfstring" nillable="true" type="tns:RetornoOfstring" />
  <xs:complexType name="RetornoOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfint" nillable="true" type="tns:RetornoOfint" />
  <xs:complexType name="RetornoOfPaginacaoOfCanhotoAvulso6G1AQy_Sx51p1vPsU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService">
            <GenericParameter Name="CanhotoAvulso" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:PaginacaoOfCanhotoAvulso6G1AQy_Sx" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfPaginacaoOfCanhotoAvulso6G1AQy_Sx51p1vPsU" nillable="true" type="tns:RetornoOfPaginacaoOfCanhotoAvulso6G1AQy_Sx51p1vPsU" />
  <xs:complexType name="PaginacaoOfCanhotoAvulso6G1AQy_Sx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CanhotoAvulso" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" minOccurs="0" name="Itens" nillable="true" type="q2:ArrayOfCanhotoAvulso" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginacaoOfCanhotoAvulso6G1AQy_Sx" nillable="true" type="tns:PaginacaoOfCanhotoAvulso6G1AQy_Sx" />
  <xs:complexType name="RetornoOfPaginacaoOfNotaFiscal6G1AQy_Sx51p1vPsU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService">
            <GenericParameter Name="NotaFiscal" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:PaginacaoOfNotaFiscal6G1AQy_Sx" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfPaginacaoOfNotaFiscal6G1AQy_Sx51p1vPsU" nillable="true" type="tns:RetornoOfPaginacaoOfNotaFiscal6G1AQy_Sx51p1vPsU" />
  <xs:complexType name="PaginacaoOfNotaFiscal6G1AQy_Sx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NotaFiscal" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" minOccurs="0" name="Itens" nillable="true" type="q3:ArrayOfNotaFiscal" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginacaoOfNotaFiscal6G1AQy_Sx" nillable="true" type="tns:PaginacaoOfNotaFiscal6G1AQy_Sx" />
</xs:schema>