WebApplication1/Service References/ServicoNFeNovo/NFe8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:complexType name="Pessoa">
    <xs:sequence>
      <xs:element minOccurs="0" name="AtualizarEnderecoPessoa" type="xs:boolean" />
      <xs:element minOccurs="0" name="CPFCNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClienteExterior" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodigoAtividade" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Endereco" nillable="true" type="q1:Endereco" />
      <xs:element minOccurs="0" name="IM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RGIE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoPessoa" type="q2:TipoPessoa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pessoa" nillable="true" type="tns:Pessoa" />
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DadosBancarios" nillable="true" type="tns:DadosBancarios" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Endereco" nillable="true" type="q3:Endereco" />
      <xs:element minOccurs="0" name="IE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoMunicipal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RNTRC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SimplesNacional" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
  <xs:complexType name="DadosBancarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Banco" nillable="true" type="tns:Banco" />
      <xs:element minOccurs="0" name="DigitoAgencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroConta" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoContaBanco" type="q4:TipoContaBanco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosBancarios" nillable="true" type="tns:DadosBancarios" />
  <xs:complexType name="Banco">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoBanco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeBanco" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Banco" nillable="true" type="tns:Banco" />
  <xs:complexType name="GrupoPessoa">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="ModelosVeiculares" nillable="true" type="q5:ArrayOfModeloVeicular" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TiposOperacaoes" nillable="true" type="q6:ArrayOfTipoOperacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GrupoPessoa" nillable="true" type="tns:GrupoPessoa" />
</xs:schema>