Servicos/Service References/ServicoAX.Transportadora/xppservice148.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/Customer" xmlns:st="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Customer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTECustomer/xppservice.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
  <xs:element name="Customer" type="tns:AxdCustomer" />
  <xs:complexType name="AxdCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearNilFieldsOnUpdate" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="st:AxdEnum_XMLDocPurpose" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" name="ValidAsOfDateTime" nillable="true" type="st:AxdType_DateTime" />
      <xs:element minOccurs="0" name="ValidFromDateTime" nillable="true" type="st:AxdType_DateTime" />
      <xs:element minOccurs="0" name="ValidTimeStateType" nillable="true" type="st:AxdEnum_AxdValidTimeStateType" />
      <xs:element minOccurs="0" name="ValidToDateTime" nillable="true" type="st:AxdType_DateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustTable" type="tns:AxdEntity_CustTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxdEntity_CustTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNum" nillable="true" type="st:AxdUnion_AxdExtType_CustAccount_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="AccountStatement" nillable="true" type="st:AxdEnum_CustAccountStatement" />
      <xs:element minOccurs="0" name="Affiliated_RU" nillable="true" type="st:AxdExtType_CustAffiliated_RU" />
      <xs:element minOccurs="0" name="AgencyLocationCode" nillable="true" type="st:AxdExtType_AgencyLocationCode" />
      <xs:element minOccurs="0" name="AuthorityOffice_IT" nillable="true" type="st:AxdExtType_AuthorityOffice_IT" />
      <xs:element minOccurs="0" name="BankAccount" nillable="true" type="st:AxdExtType_CustBankAccountId" />
      <xs:element minOccurs="0" name="BankCentralBankPurposeCode" nillable="true" type="st:AxdExtType_BankCentralBankPurposeCode" />
      <xs:element minOccurs="0" name="BankCentralBankPurposeText" nillable="true" type="st:AxdExtType_BankCentralBankPurposeText" />
      <xs:element minOccurs="0" name="BankCustPaymIdTable" nillable="true" type="st:AxdExtType_BankCustPaymIdType" />
      <xs:element minOccurs="0" name="BirthCountyCode_IT" nillable="true" type="st:AxdExtType_AddressCountyCode_IT" />
      <xs:element minOccurs="0" name="BirthDate_IT" nillable="true" type="st:AxdExtType_BirthDate" />
      <xs:element minOccurs="0" name="BirthPlace_IT" nillable="true" type="st:AxdExtType_AddressCity" />
      <xs:element minOccurs="0" name="Blocked" nillable="true" type="st:AxdExtType_CustBlocked" />
      <xs:element minOccurs="0" name="CashDisc" nillable="true" type="st:AxdExtType_CustCashDiscCode" />
      <xs:element minOccurs="0" name="CashDiscBaseDays" nillable="true" type="st:AxdExtType_CashDiscBaseDays" />
      <xs:element minOccurs="0" name="CCMNum_BR" nillable="true" type="st:AxdExtType_CCMNum_BR" />
      <xs:element minOccurs="0" name="CFDIEnabled_MX" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="CFDISkipIEPSTaxes_MX" nillable="true" type="st:AxdExtType_CFDISkipIEPS_MX" />
      <xs:element minOccurs="0" name="ClearingPeriod" nillable="true" type="st:AxdExtType_CustClearingPeriod" />
      <xs:element minOccurs="0" name="CNAE_BR" nillable="true" type="st:AxdExtType_CNAE_BR" />
      <xs:element minOccurs="0" name="CNPJCPFNum_BR" nillable="true" type="st:AxdExtType_CNPJCPFNum_BR" />
      <xs:element minOccurs="0" name="CommercialRegister" nillable="true" type="st:AxdExtType_CommercialRegister" />
      <xs:element minOccurs="0" name="CommercialRegisterInsetNumber" nillable="true" type="st:AxdExtType_CommercialRegisterInsetNumber" />
      <xs:element minOccurs="0" name="CommercialRegisterSection" nillable="true" type="st:AxdExtType_CommercialRegisterSection" />
      <xs:element minOccurs="0" name="CommissionGroup" nillable="true" type="st:AxdExtType_CommissCustomerGroup" />
      <xs:element minOccurs="0" name="CompanyChainId" nillable="true" type="st:AxdExtType_smmChainId" />
      <xs:element minOccurs="0" name="CompanyIdSiret" nillable="true" type="st:AxdExtType_CompanyIdSiret" />
      <xs:element minOccurs="0" name="CompanyNAFCode" nillable="true" type="st:AxdExtType_CompanyIdNAF" />
      <xs:element minOccurs="0" name="CompanyType_MX" nillable="true" type="st:AxdEnum_CompanyType_MX" />
      <xs:element minOccurs="0" name="ConsDay_JP" nillable="true" type="st:AxdExtType_CustConsDay_JP" />
      <xs:element minOccurs="0" name="ContactPersonId" nillable="true" type="st:AxdExtType_ContactPersonId" />
      <xs:element minOccurs="0" name="CreateVendor" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="CreditCardAddressVerification" nillable="true" type="st:AxdEnum_CreditCardAddressVerification" />
      <xs:element minOccurs="0" name="CreditCardAddressVerificationLevel" nillable="true" type="st:AxdEnum_CreditCardAddressVerificationLevel" />
      <xs:element minOccurs="0" name="CreditCardAddressVerificationVoid" nillable="true" type="st:AxdExtType_CreditCardAddressVerificationVoid" />
      <xs:element minOccurs="0" name="CreditCardCVC" nillable="true" type="st:AxdEnum_CreditCardCVC" />
      <xs:element minOccurs="0" name="CreditMax" nillable="true" type="st:AxdExtType_CustCreditMaxMST" />
      <xs:element minOccurs="0" name="CreditRating" nillable="true" type="st:AxdExtType_CustCreditRating" />
      <xs:element minOccurs="0" name="Curp_MX" nillable="true" type="st:AxdExtType_Curp_MX" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="st:AxdUnion_AxdExtType_CustCurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="CustClassificationId" nillable="true" type="st:AxdExtType_CustClassificationId" />
      <xs:element minOccurs="0" name="CustExcludeCollectionFee" nillable="true" type="st:AxdExtType_CustExcludeCollectionFee" />
      <xs:element minOccurs="0" name="CustExcludeInterestCharges" nillable="true" type="st:AxdExtType_CustExcludeInterestCharges" />
      <xs:element minOccurs="0" name="CustFinalUser_BR" nillable="true" type="st:AxdExtType_CustVendFinalUser_BR" />
      <xs:element minOccurs="1" name="CustGroup" type="st:AxdExtType_CustGroupId" />
      <xs:element minOccurs="0" name="CustItemGroupId" nillable="true" type="st:AxdExtType_CustItemGroupId" />
      <xs:element minOccurs="0" name="CustTradingPartnerCode" nillable="true" type="st:AxdExtType_TradingPartnerCodeId" />
      <xs:element minOccurs="0" name="CustWhtContributionType_BR" nillable="true" type="st:AxdEnum_CustWhtContributionType_BR" />
      <xs:element minOccurs="0" name="DefaultDimension" nillable="true" type="st:AxdType_DimensionAttributeValueSet" />
      <xs:element minOccurs="0" name="DefaultDirectDebitMandate" nillable="true" type="st:AxdExtType_CustMandateId" />
      <xs:element minOccurs="0" name="DefaultInventStatusId" nillable="true" type="st:AxdExtType_WHSDefaultStatusId" />
      <xs:element minOccurs="0" name="DestinationCodeId" nillable="true" type="st:AxdExtType_CustDestinationCodeId" />
      <xs:element minOccurs="0" name="DlvMode" nillable="true" type="st:AxdUnion_AxdExtType_CustDlvModeId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="DlvReason" nillable="true" type="st:AxdExtType_DlvReasonId" />
      <xs:element minOccurs="0" name="DlvTerm" nillable="true" type="st:AxdUnion_AxdExtType_CustDlvTermId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="EInvoice" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="EInvoiceAttachment" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="EinvoiceEANNum" nillable="true" type="st:AxdExtType_EinvoiceEANNum" />
      <xs:element minOccurs="0" name="EInvoiceRegister_IT" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="EndDisc" nillable="true" type="st:AxdExtType_CustEndDiscCode" />
      <xs:element minOccurs="0" name="EnterpriseCode" nillable="true" type="st:AxdExtType_EnterpriseCode" />
      <xs:element minOccurs="0" name="EnterpriseNumber" nillable="true" type="st:AxdExtType_TaxEnterpriseNumber" />
      <xs:element minOccurs="0" name="EntityId" nillable="true" type="st:AxdExtType_TableId" />
      <xs:element minOccurs="0" name="EntryCertificateRequired_W" nillable="true" type="st:AxdExtType_EntryCertificateRequired_W" />
      <xs:element minOccurs="0" name="ExportSales_PL" nillable="true" type="st:AxdExtType_PlExportSales" />
      <xs:element minOccurs="0" name="ExpressBillOfLading" nillable="true" type="st:AxdExtType_TMSExpressBillofLading" />
      <xs:element minOccurs="0" name="FactoringAccount" nillable="true" type="st:AxdExtType_BankCustFactoringAccount" />
      <xs:element minOccurs="0" name="FederalComments" nillable="true" type="st:AxdExtType_FederalComments" />
      <xs:element minOccurs="0" name="FedNonFedIndicator" nillable="true" type="st:AxdEnum_FederalNonFederalIndicatorCode" />
      <xs:element minOccurs="0" name="FineCode_BR" nillable="true" type="st:AxdExtType_CustFineCode_BR" />
      <xs:element minOccurs="0" name="FiscalCode" nillable="true" type="st:AxdExtType_FiscalCode" />
      <xs:element minOccurs="0" name="FiscalDocType_PL" nillable="true" type="st:AxdEnum_PlFiscalDocType" />
      <xs:element minOccurs="0" name="ForecastDMPInclude" nillable="true" type="st:AxdExtType_ForecastDMPInclude" />
      <xs:element minOccurs="0" name="ForeignerId_BR" nillable="true" type="st:AxdExtType_EFDocForeignerId_BR" />
      <xs:element minOccurs="0" name="ForeignResident_RU" nillable="true" type="st:AxdExtType_ForeignResident_RU" />
      <xs:element minOccurs="0" name="ForeignTaxRegistration_MX" nillable="true" type="st:AxdExtType_ForeignTaxRegistration_MX" />
      <xs:element minOccurs="0" name="ForeignTrade_MX" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="FreightZone" nillable="true" type="st:AxdExtType_CustFreightZoneId" />
      <xs:element minOccurs="0" name="GenerateIncomingFiscalDocument_BR" nillable="true" type="st:AxdExtType_GenerateIncomingFiscalDocument_BR" />
      <xs:element minOccurs="0" name="GiroType" nillable="true" type="st:AxdExtType_PaymentStubInvoiceId" />
      <xs:element minOccurs="0" name="GiroTypeAccountStatement" nillable="true" type="st:AxdExtType_PaymentStubAccountStatementId" />
      <xs:element minOccurs="0" name="GiroTypeCollectionletter" nillable="true" type="st:AxdExtType_PaymentStubCollectionId" />
      <xs:element minOccurs="0" name="GiroTypeFreeTextInvoice" nillable="true" type="st:AxdExtType_PaymentStubInvoiceId" />
      <xs:element minOccurs="0" name="GiroTypeInterestNote" nillable="true" type="st:AxdExtType_PaymentStubInterestId" />
      <xs:element minOccurs="0" name="GiroTypeProjInvoice" nillable="true" type="st:AxdExtType_PaymentStubProjId" />
      <xs:element minOccurs="0" name="ICMSContributor_BR" nillable="true" type="st:AxdExtType_ICMSContributor_BR" />
      <xs:element minOccurs="0" name="IdentificationNumber" nillable="true" type="st:AxdExtType_CustIdentificationNumber" />
      <xs:element minOccurs="0" name="IENum_BR" nillable="true" type="st:AxdExtType_IENum_BR" />
      <xs:element minOccurs="0" name="InclTax" nillable="true" type="st:AxdExtType_InclTax" />
      <xs:element minOccurs="0" name="INSSCEI_BR" nillable="true" type="st:AxdExtType_INSSCEI_BR" />
      <xs:element minOccurs="0" name="IntBank_LV" nillable="true" type="st:AxdExtType_CustBankAccountId" />
      <xs:element minOccurs="0" name="InterCompanyAllowIndirectCreation" nillable="true" type="st:AxdExtType_InterCompanyAllowIndirectCreation" />
      <xs:element minOccurs="0" name="InterCompanyAutoCreateOrders" nillable="true" type="st:AxdExtType_InterCompanyAutoCreateOrders" />
      <xs:element minOccurs="0" name="InterCompanyDirectDelivery" nillable="true" type="st:AxdExtType_InterCompanyDirectDelivery" />
      <xs:element minOccurs="0" name="InterestCode_BR" nillable="true" type="st:AxdExtType_CustInterestCode_BR" />
      <xs:element minOccurs="0" name="InventLocation" nillable="true" type="st:AxdExtType_InventLocationId" />
      <xs:element minOccurs="0" name="InventProfileId_RU" nillable="true" type="st:AxdExtType_InventProfileId_RU" />
      <xs:element minOccurs="0" name="InventProfileType_RU" nillable="true" type="st:AxdEnum_InventProfileType_RU" />
      <xs:element minOccurs="0" name="InventSiteId" nillable="true" type="st:AxdExtType_InventSiteId" />
      <xs:element minOccurs="0" name="InvoiceAccount" nillable="true" type="st:AxdUnion_AxdExtType_CustInvoiceAccount_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="InvoiceAddress" nillable="true" type="st:AxdExtType_CustInvoiceAddress" />
      <xs:element minOccurs="0" name="InvoicePostingType_RU" nillable="true" type="st:AxdEnum_SalesInvoicePostingType_RU" />
      <xs:element minOccurs="0" name="IRS1099CIndicator" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="IssueOwnEntryCertificate_W" nillable="true" type="st:AxdExtType_IssueOwnEntryCertificate_W" />
      <xs:element minOccurs="0" name="IssuerCountry_HU" nillable="true" type="st:AxdExtType_AddressCountryRegionId" />
      <xs:element minOccurs="0" name="LineDisc" nillable="true" type="st:AxdExtType_CustLineDiscCode" />
      <xs:element minOccurs="0" name="LineOfBusinessId" nillable="true" type="st:AxdExtType_CustLineOfBusinessId" />
      <xs:element minOccurs="0" name="LvPaymTransCodes" nillable="true" type="st:AxdExtType_LvPaymCode" />
      <xs:element minOccurs="0" name="MainContactPersonnelNumber" nillable="true" type="st:AxdExtType_HcmPersonnelNumberId" />
      <xs:element minOccurs="0" name="MainContactWorker" nillable="true" type="st:AxdExtType_HcmPersonnelNumberId" />
      <xs:element minOccurs="0" name="MandatoryCreditLimit" nillable="true" type="st:AxdExtType_MandatoryCreditLimit" />
      <xs:element minOccurs="0" name="MandatoryVatDate_PL" nillable="true" type="st:AxdExtType_PlMandatoryVatDate" />
      <xs:element minOccurs="0" name="MarkupGroup" nillable="true" type="st:AxdExtType_CustMarkupGroupId" />
      <xs:element minOccurs="0" name="MCRMergedParent" nillable="true" type="st:AxdUnion_AxdExtType_CustAccount_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="MCRMergedRoot" nillable="true" type="st:AxdUnion_AxdExtType_CustAccount_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="st:AxdExtType_smmBusRelMemo" />
      <xs:element minOccurs="0" name="ModifiedDateTime" nillable="true" type="st:AxdExtType_ModifiedDateTime" />
      <xs:element minOccurs="0" name="MultiCTE_Integrated" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="MultiLineDisc" nillable="true" type="st:AxdExtType_CustMultiLineDiscCode" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="st:AxdExtType_CustName" />
      <xs:element minOccurs="0" name="NIT_BR" nillable="true" type="st:AxdExtType_NIT_BR" />
      <xs:element minOccurs="0" name="numberSequenceGroup" nillable="true" type="st:AxdExtType_NumberSequenceGroupId" />
      <xs:element minOccurs="0" name="OneTimeCustomer" nillable="true" type="st:AxdExtType_OneTimeCustomer" />
      <xs:element minOccurs="0" name="OrderEntryDeadlineGroupId" nillable="true" type="st:AxdExtType_InventOrderEntryDeadlineGroupId" />
      <xs:element minOccurs="0" name="OrgId" nillable="true" type="st:AxdExtType_OrgId" />
      <xs:element minOccurs="0" name="OurAccountNum" nillable="true" type="st:AxdExtType_CustAccountExt" />
      <xs:element minOccurs="0" name="PackageDepositExcempt_PL" nillable="true" type="st:AxdExtType_PlPackageDepositExcempt" />
      <xs:element minOccurs="0" name="PackMaterialFeeLicenseNum" nillable="true" type="st:AxdExtType_InventPackingMaterialFeeLicenseNum" />
      <xs:element minOccurs="0" name="Party" nillable="true" type="st:AxdExtType_DirPartyNumber" />
      <xs:element minOccurs="0" name="PartyCountry" nillable="true" type="st:AxdExtType_AddressCountryRegionId" />
      <xs:element minOccurs="0" name="PartyState" nillable="true" type="st:AxdExtType_AddressStateId" />
      <xs:element minOccurs="0" name="PassportNo_HU" nillable="true" type="st:AxdExtType_PassportNo_HU" />
      <xs:element minOccurs="0" name="PaymDayId" nillable="true" type="st:AxdExtType_CustPaymDayId" />
      <xs:element minOccurs="0" name="PaymentReference_EE" nillable="true" type="st:AxdExtType_CustPaymReference_EE" />
      <xs:element minOccurs="0" name="PaymMode" nillable="true" type="st:AxdExtType_CustPaymMode" />
      <xs:element minOccurs="0" name="PaymSched" nillable="true" type="st:AxdExtType_PaymSchedId" />
      <xs:element minOccurs="0" name="PaymSpec" nillable="true" type="st:AxdExtType_PaymSpec" />
      <xs:element minOccurs="0" name="PaymTermId" nillable="true" type="st:AxdExtType_CustPaymTermId" />
      <xs:element minOccurs="0" name="PBACustGroupId" nillable="true" type="st:AxdExtType_PBACustGroupId" />
      <xs:element minOccurs="0" name="PdsCustRebateGroupId" nillable="true" type="st:AxdExtType_PdsCustRebateGroupId" />
      <xs:element minOccurs="0" name="PdsFreightAccrued" nillable="true" type="st:AxdExtType_PdsFreightAccrued" />
      <xs:element minOccurs="0" name="PdsRebateTMAGroup" nillable="true" type="st:AxdExtType_PdsRebateProgramTMAGroup" />
      <xs:element minOccurs="0" name="PresenceType_BR" nillable="true" type="st:AxdEnum_EFDocPresenceType_BR" />
      <xs:element minOccurs="0" name="PriceGroup" nillable="true" type="st:AxdExtType_CustPriceGroup" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="RegNum_W" nillable="true" type="st:AxdExtType_CompanyRegNum" />
      <xs:element minOccurs="0" name="ResidenceForeignCountryRegionId_IT" nillable="true" type="st:AxdExtType_AddressCountryRegionId" />
      <xs:element minOccurs="0" name="Rfc_MX" nillable="true" type="st:AxdExtType_Rfc_MX" />
      <xs:element minOccurs="0" name="RFIDCaseTagging" nillable="true" type="st:AxdExtType_RFIDCaseTagging" />
      <xs:element minOccurs="0" name="RFIDItemTagging" nillable="true" type="st:AxdExtType_RFIDItemTagging" />
      <xs:element minOccurs="0" name="RFIDPalletTagging" nillable="true" type="st:AxdExtType_RFIDPalletTagging" />
      <xs:element minOccurs="0" name="SalesCalendarId" nillable="true" type="st:AxdExtType_SalesCalendarId" />
      <xs:element minOccurs="0" name="SalesDistrictId" nillable="true" type="st:AxdExtType_smmSalesDistrictId" />
      <xs:element minOccurs="0" name="SalesGroup" nillable="true" type="st:AxdExtType_CommissSalesGroup" />
      <xs:element minOccurs="0" name="SalesPoolId" nillable="true" type="st:AxdExtType_CustSalesPoolId" />
      <xs:element minOccurs="0" name="SATPaymMethod_MX" nillable="true" type="st:AxdExtType_EInvoiceExtCodeId_MX" />
      <xs:element minOccurs="0" name="SATPurpose_MX" nillable="true" type="st:AxdExtType_EInvoiceExtCodeId_MX" />
      <xs:element minOccurs="0" name="SegmentId" nillable="true" type="st:AxdExtType_smmSegmentId" />
      <xs:element minOccurs="0" name="ServiceCodeOnDlvAddress_BR" nillable="true" type="st:AxdExtType_TaxServiceCodeOnDlvAddress_BR" />
      <xs:element minOccurs="0" name="ShipCarrierAccount" nillable="true" type="st:AxdExtType_ShipCarrierAccount" />
      <xs:element minOccurs="0" name="ShipCarrierAccountCode" nillable="true" type="st:AxdExtType_ShipCarrierAccountCode" />
      <xs:element minOccurs="0" name="ShipCarrierBlindShipment" nillable="true" type="st:AxdExtType_ShipCarrierBlindShipment" />
      <xs:element minOccurs="0" name="ShipCarrierFuelSurcharge" nillable="true" type="st:AxdExtType_ShipCarrierFuelSurcharge" />
      <xs:element minOccurs="0" name="ShipCarrierId" nillable="true" type="st:AxdExtType_ShipCarrierId" />
      <xs:element minOccurs="0" name="SIA_Integrated" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="SimpleNational_BR" nillable="true" type="st:AxdExtType_FBSpedSimpleNational_BR" />
      <xs:element minOccurs="0" name="State" nillable="true" type="st:AxdUnion_AxdExtType_LogisticsAddressStateId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="StateInscription_MX" nillable="true" type="st:AxdExtType_StateInscription_MX" />
      <xs:element minOccurs="0" name="StatisticsGroup" nillable="true" type="st:AxdExtType_CustStatGroupId" />
      <xs:element minOccurs="0" name="SubsegmentId" nillable="true" type="st:AxdExtType_smmSubsegmentId" />
      <xs:element minOccurs="0" name="Suframa_BR" nillable="true" type="st:AxdExtType_CustSuframa_BR" />
      <xs:element minOccurs="0" name="SuframaNumber_BR" nillable="true" type="st:AxdExtType_CustSuframaNumber_BR" />
      <xs:element minOccurs="0" name="SuframaPISCOFINS_BR" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="SuppItemGroupId" nillable="true" type="st:AxdExtType_CustSuppItemGroupId" />
      <xs:element minOccurs="0" name="SyncEntityId" nillable="true" type="st:AxdExtType_SyncEntityId" />
      <xs:element minOccurs="0" name="SyncVersion" nillable="true" type="st:AxdExtType_SyncVersion" />
      <xs:element minOccurs="0" name="TaxBorderNumber_FI" nillable="true" type="st:AxdExtType_TaxBorderNumber_FI" />
      <xs:element minOccurs="0" name="TaxGroup" nillable="true" type="st:AxdExtType_TaxGroup" />
      <xs:element minOccurs="0" name="TaxGSTReliefGroupHeading_MY" nillable="true" type="st:AxdExtType_TaxGSTReliefGroupId_MY" />
      <xs:element minOccurs="0" name="TaxLicenseNum" nillable="true" type="st:AxdExtType_TaxPackagingLicenseNum" />
      <xs:element minOccurs="0" name="TaxPeriodPaymentCode_PL" nillable="true" type="st:AxdExtType_PlTaxPeriodPaymentCode" />
      <xs:element minOccurs="0" name="TaxWithholdCalculate_IN" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="TaxWithholdCalculate_TH" nillable="true" type="st:AxdExtType_TaxWithholdCalculate_TH" />
      <xs:element minOccurs="0" name="TaxWithholdGroup_TH" nillable="true" type="st:AxdExtType_TaxWithholdGroup" />
      <xs:element minOccurs="0" name="UnitedVATInvoice_LT" nillable="true" type="st:AxdExtType_UnitedVATInvoice_LT" />
      <xs:element minOccurs="0" name="UseCashDisc" nillable="true" type="st:AxdEnum_UseCashDisc" />
      <xs:element minOccurs="0" name="UseOriginalDocumentAsFacture_RU" nillable="true" type="st:AxdExtType_UseOriginalDocumentAsFacture_RU" />
      <xs:element minOccurs="0" name="UsePurchRequest" nillable="true" type="st:AxdExtType_RetailUsePurchRequest" />
      <xs:element minOccurs="0" name="VATNum" nillable="true" type="st:AxdExtType_VATNum" />
      <xs:element minOccurs="0" name="VendAccount" nillable="true" type="st:AxdUnion_AxdExtType_VendAccount_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="WebSalesOrderDisplay" nillable="true" type="st:AxdEnum_ECPsalesOrdersViewType" />
      <xs:element minOccurs="0" name="WSYSCustomer" nillable="true" type="st:AxdExtType_WSYSCustomer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirParty" type="tns:AxdEntity_DirParty_DirPartyTable" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_DirParty_DirPartyTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstanceRelationType" nillable="true" type="st:AxdExtType_RelationType" />
      <xs:element minOccurs="0" name="KnownAs" nillable="true" type="st:AxdExtType_DirPartyName" />
      <xs:element minOccurs="0" name="LanguageId" nillable="true" type="st:AxdExtType_LanguageId" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="st:AxdExtType_DirPartyName" />
      <xs:element minOccurs="0" name="NameAlias" nillable="true" type="st:AxdExtType_NameAlias" />
      <xs:element minOccurs="0" name="PartyNumber" nillable="true" type="st:AxdExtType_DirPartyNumber" />
      <xs:element minOccurs="0" name="PrimaryAddressLocation" nillable="true" type="st:AxdExtType_LogisticsLocationId" />
      <xs:element minOccurs="0" name="PrimaryContactEmail" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressRecId" />
      <xs:element minOccurs="0" name="PrimaryContactFax" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressRecId" />
      <xs:element minOccurs="0" name="PrimaryContactPhone" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressRecId" />
      <xs:element minOccurs="0" name="PrimaryContactTelex" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressRecId" />
      <xs:element minOccurs="0" name="PrimaryContactURL" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressRecId" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirPartyPostalAddressView" type="tns:AxdEntity_DirPartyPostalAddressView" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirPartyContactInfoView" type="tns:AxdEntity_DirPartyContactInfoView" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_DirPartyPostalAddressView">
    <xs:sequence>
      <xs:element minOccurs="0" name="_RecId_LogisticsPostalAddress" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="_recVersion_LogisticsPostalAddress" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="st:AxdExtType_LogisticsAddressing" />
      <xs:element minOccurs="0" name="Apartment_RU" nillable="true" type="st:AxdExtType_LogisticsAddressApartment_RU" />
      <xs:element minOccurs="0" name="Building_RU" nillable="true" type="st:AxdExtType_LogisticsAddressBuilding_RU" />
      <xs:element minOccurs="0" name="BuildingCompliment" nillable="true" type="st:AxdExtType_LogisticsAddressBuildingCompliment" />
      <xs:element minOccurs="0" name="City" nillable="true" type="st:AxdExtType_LogisticsAddressCity" />
      <xs:element minOccurs="0" name="CityRecId" nillable="true" type="st:AxdExtType_LogisticsAddressCityRecId" />
      <xs:element minOccurs="0" name="CNPJCPFNum_BR" nillable="true" type="st:AxdExtType_CNPJCPFNum_BR" />
      <xs:element minOccurs="0" name="CountryCurrencyCode" nillable="true" type="st:AxdUnion_AxdExtType_CurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="CountryRegionId" nillable="true" type="st:AxdUnion_AxdExtType_LogisticsAddressCountryRegionId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="County" nillable="true" type="st:AxdUnion_AxdExtType_LogisticsAddressCountyId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="District" nillable="true" type="st:AxdExtType_LogisticsAddressDistrictRecId" />
      <xs:element minOccurs="0" name="DistrictName" nillable="true" type="st:AxdExtType_LogisticsAddressDistrictName" />
      <xs:element minOccurs="0" name="FlatId_RU" nillable="true" type="st:AxdExtType_LogisticsAddressFlatId_RU" />
      <xs:element minOccurs="0" name="HouseId_RU" nillable="true" type="st:AxdExtType_LogisticsAddressHouseId_RU" />
      <xs:element minOccurs="0" name="IENum_BR" nillable="true" type="st:AxdExtType_IENum_BR" />
      <xs:element minOccurs="0" name="IsLocationOwner" nillable="true" type="st:AxdExtType_DirPartyIsLocationOwner" />
      <xs:element minOccurs="0" name="ISOcode" nillable="true" type="st:AxdExtType_LogisticsAddressCountryRegionISOCode" />
      <xs:element minOccurs="0" name="IsPrimary" nillable="true" type="st:AxdExtType_LogisticsIsPrimaryAddress" />
      <xs:element minOccurs="0" name="IsPrimaryTaxRegistration" nillable="true" type="st:AxdExtType_LogisticsIsPrimaryTaxRegistrationAddress" />
      <xs:element minOccurs="0" name="IsPrivate" nillable="true" type="st:AxdExtType_LogisticsIsPrivate" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="st:AxdExtType_LogisticsAddressLatitude" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="st:AxdExtType_Description" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="st:AxdExtType_LogisticsAddressLongitude" />
      <xs:element minOccurs="0" name="Party" nillable="true" type="st:AxdExtType_DirPartyNumber" />
      <xs:element minOccurs="0" name="PartyLocation" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="PostalAddress" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="PostBox" nillable="true" type="st:AxdExtType_LogisticsAddressPostBox" />
      <xs:element minOccurs="0" name="PrivateForParty" nillable="true" type="st:AxdExtType_DirPartyPrivateLocationRecId" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="st:AxdExtType_DirPartyLocationRoleNames" />
      <xs:element minOccurs="0" name="State" nillable="true" type="st:AxdUnion_AxdExtType_LogisticsAddressStateId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="st:AxdExtType_LogisticsAddressStreet" />
      <xs:element minOccurs="0" name="StreetId_RU" nillable="true" type="st:AxdExtType_LogisticsAddressStreetID_RU" />
      <xs:element minOccurs="0" name="StreetNumber" nillable="true" type="st:AxdExtType_LogisticsAddressStreetNumber" />
      <xs:element minOccurs="0" name="TimeZone" nillable="true" type="st:AxdEnum_Timezone" />
      <xs:element minOccurs="0" name="ValidFrom" nillable="true" type="st:AxdExtType_EffectiveDateTime" />
      <xs:element minOccurs="0" name="ValidTo" nillable="true" type="st:AxdExtType_ExpirationDateTime" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="st:AxdUnion_AxdExtType_LogisticsAddressZipCodeId_AxdType_ExtCodeValue" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
    <xs:attribute name="updateMode" type="st:AxdEnum_ValidTimeStateUpdate" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_DirPartyContactInfoView">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryRegionCode" nillable="true" type="st:AxdExtType_LogisticsCountryRegionCode" />
      <xs:element minOccurs="0" name="ElectronicAddress" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="IsInstantMessage" nillable="true" type="st:AxdExtType_LogisticsIsInstantMessage" />
      <xs:element minOccurs="0" name="IsLocationOwner" nillable="true" type="st:AxdExtType_DirPartyIsLocationOwner" />
      <xs:element minOccurs="0" name="IsMobilePhone" nillable="true" type="st:AxdExtType_LogisticsIsMobilePhone" />
      <xs:element minOccurs="0" name="IsPrimary" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="IsPrivate" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="LocationId" nillable="true" type="st:AxdExtType_LogisticsLocationId" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="st:AxdExtType_Description" />
      <xs:element minOccurs="0" name="Locator" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressLocator" />
      <xs:element minOccurs="0" name="LocatorExtension" nillable="true" type="st:AxdExtType_PhoneLocal" />
      <xs:element minOccurs="0" name="Party" nillable="true" type="st:AxdExtType_DirPartyNumber" />
      <xs:element minOccurs="0" name="PartyLocation" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="PrivateForParty" nillable="true" type="st:AxdExtType_DirPartyPrivateLocationRecId" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="st:AxdExtType_DirPartyLocationRoleNames" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="st:AxdEnum_LogisticsElectronicAddressMethodType" />
      <xs:element minOccurs="0" name="TypeIcon" nillable="true" type="st:AxdExtType_Integer" />
      <xs:element minOccurs="0" name="ValidFrom" nillable="true" type="st:AxdExtType_EffectiveDateTime" />
      <xs:element minOccurs="0" name="ValidTo" nillable="true" type="st:AxdExtType_ExpirationDateTime" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_DirParty_DirPerson">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AxdEntity_DirParty_DirPartyTable">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnniversaryDay" nillable="true" type="st:AxdExtType_Day" />
          <xs:element minOccurs="0" name="AnniversaryMonth" nillable="true" type="st:AxdEnum_MonthsOfYear" />
          <xs:element minOccurs="0" name="AnniversaryYear" nillable="true" type="st:AxdType_Integer" />
          <xs:element minOccurs="0" name="BirthDay" nillable="true" type="st:AxdExtType_Day" />
          <xs:element minOccurs="0" name="BirthMonth" nillable="true" type="st:AxdEnum_MonthsOfYear" />
          <xs:element minOccurs="0" name="BirthYear" nillable="true" type="st:AxdType_Integer" />
          <xs:element minOccurs="0" name="ChildrenNames" nillable="true" type="st:AxdExtType_DirPersonChildrenNames" />
          <xs:element minOccurs="0" name="CommunicatorSignIn" nillable="true" type="st:AxdExtType_LogisticsElectronicAddressRecId" />
          <xs:element minOccurs="0" name="Gender" nillable="true" type="st:AxdEnum_Gender" />
          <xs:element minOccurs="0" name="Hobbies" nillable="true" type="st:AxdExtType_DirPersonHobbies" />
          <xs:element minOccurs="0" name="Initials" nillable="true" type="st:AxdExtType_DirPersonInitials" />
          <xs:element minOccurs="0" name="MaritalStatus" nillable="true" type="st:AxdEnum_DirPersonMaritalStatus" />
          <xs:element minOccurs="0" name="NameSequence" nillable="true" type="st:AxdExtType_DirNameSequenceDisplayAs" />
          <xs:element minOccurs="0" name="PersonalSuffix" nillable="true" type="st:AxdEntityKey_DirNameAffix" />
          <xs:element minOccurs="0" name="PersonalTitle" nillable="true" type="st:AxdEntityKey_DirNameAffix" />
          <xs:element minOccurs="0" name="PersonSuffix" nillable="true" type="st:AxdExtType_DirNameAffixValue" />
          <xs:element minOccurs="0" name="PersonTitle" nillable="true" type="st:AxdExtType_DirNameAffixValue" />
          <xs:element minOccurs="0" name="PhoneticFirstName" nillable="true" type="st:AxdExtType_DirPhoneticFirstName" />
          <xs:element minOccurs="0" name="PhoneticLastName" nillable="true" type="st:AxdExtType_DirPhoneticLastName" />
          <xs:element minOccurs="0" name="PhoneticMiddleName" nillable="true" type="st:AxdExtType_DirPhoneticMiddleName" />
          <xs:element minOccurs="0" name="ProfessionalSuffix" nillable="true" type="st:AxdExtType_DirNameProfessionalSuffix" />
          <xs:element minOccurs="0" name="ProfessionalTitle" nillable="true" type="st:AxdExtType_DirNameProfessionalTitle" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonName" type="tns:AxdEntity_PersonName" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AxdEntity_PersonName">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="st:AxdExtType_FirstName" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="st:AxdExtType_LastName" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="st:AxdExtType_MiddleName" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="ValidFrom" nillable="true" type="st:AxdExtType_EffectiveDateTime" />
      <xs:element minOccurs="0" name="ValidTo" nillable="true" type="st:AxdExtType_ExpirationDateTime" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
    <xs:attribute name="updateMode" type="st:AxdEnum_ValidTimeStateUpdate" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_DirParty_DirOrganizationBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AxdEntity_DirParty_DirPartyTable">
        <xs:sequence>
          <xs:element minOccurs="0" name="DunsNumberRecId" nillable="true" type="st:AxdExtType_LogisticsDunsNumber" />
          <xs:element minOccurs="0" name="PhoneticName" nillable="true" type="st:AxdExtType_DirPartyName" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AxdEntity_DirParty_OMInternalOrganization" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AxdEntity_DirParty_DirOrganizationBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganizationType" nillable="true" type="st:AxdEnum_OMInternalOrganizationType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AxdEntity_DirParty_DirOrganization">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AxdEntity_DirParty_DirOrganizationBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ABC" nillable="true" type="st:AxdEnum_ABC" />
          <xs:element minOccurs="0" name="NumberOfEmployees" nillable="true" type="st:AxdExtType_DirOrganizationNumberOfEmployees" />
          <xs:element minOccurs="0" name="OrgNumber" nillable="true" type="st:AxdExtType_DirOrganizationNumber" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizationName" type="tns:AxdEntity_OrganizationName" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AxdEntity_OrganizationName">
    <xs:sequence>
      <xs:element minOccurs="1" name="Name" type="st:AxdExtType_DirPartyName" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="ValidFrom" nillable="true" type="st:AxdExtType_EffectiveDateTime" />
      <xs:element minOccurs="0" name="ValidTo" nillable="true" type="st:AxdExtType_ExpirationDateTime" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
    <xs:attribute name="updateMode" type="st:AxdEnum_ValidTimeStateUpdate" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_DirParty_CompanyInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AxdEntity_DirParty_OMInternalOrganization">
        <xs:sequence>
          <xs:element minOccurs="0" name="Accountant_LT" nillable="true" type="st:AxdExtType_Name" />
          <xs:element minOccurs="0" name="AccountingPersonnel_JP" nillable="true" type="st:AxdExtType_AccountingPersonnel_JP" />
          <xs:element minOccurs="0" name="AccountOfficeRefNum" nillable="true" type="st:AxdExtType_AccountOfficeRefNum" />
          <xs:element minOccurs="0" name="ActivityCode" nillable="true" type="st:AxdExtType_CompanyActivityCode" />
          <xs:element minOccurs="0" name="AddrFormat" nillable="true" type="st:AxdExtType_AddressFormatId" />
          <xs:element minOccurs="0" name="Bank" nillable="true" type="st:AxdExtType_CompanyBankAccountId" />
          <xs:element minOccurs="0" name="BankAcctUsedFor1099" nillable="true" type="st:AxdExtType_CompanyBankAccountId" />
          <xs:element minOccurs="0" name="BankCentralBankPurposeCode" nillable="true" type="st:AxdExtType_BankCentralBankPurposeCode" />
          <xs:element minOccurs="0" name="BankCentralBankPurposeText" nillable="true" type="st:AxdExtType_BankCentralBankPurposeText" />
          <xs:element minOccurs="0" name="BranchId" nillable="true" type="st:AxdExtType_CompanyBranchId" />
          <xs:element minOccurs="0" name="branchNumber" nillable="true" type="st:AxdExtType_TaxBranchNumber" />
          <xs:element minOccurs="0" name="BusinessActivity_SA" nillable="true" type="st:AxdExtType_CompanyBusinessActivityZakat_SA" />
          <xs:element minOccurs="0" name="BusinessActivityDesc_SA" nillable="true" type="st:AxdExtType_CompanyBusinessActivityDescZakat_SA" />
          <xs:element minOccurs="0" name="BusinessCommencedDate_JP" nillable="true" type="st:AxdExtType_AssetBusinessCommencedDate_JP" />
          <xs:element minOccurs="0" name="BusinessInitialCapital_JP" nillable="true" type="st:AxdExtType_AssetBusinessInitialCapital_JP" />
          <xs:element minOccurs="0" name="BusinessItem_JP" nillable="true" type="st:AxdExtType_AssetBusinessItem_JP" />
          <xs:element minOccurs="0" name="BusinessNumber_CA" nillable="true" type="st:AxdExtType_BusinessNumber_CA" />
          <xs:element minOccurs="0" name="CertifiedTaxAccountant_JP" nillable="true" type="st:AxdExtType_AssetCertifiedTaxAccountant_JP" />
          <xs:element minOccurs="0" name="CNAE_BR" nillable="true" type="st:AxdExtType_CNAE_BR" />
          <xs:element minOccurs="0" name="CombinedFedStateFiler" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="CommercialRegister" nillable="true" type="st:AxdExtType_CommercialRegister" />
          <xs:element minOccurs="0" name="CommercialRegisterInsetNumber" nillable="true" type="st:AxdExtType_CommercialRegisterInsetNumber" />
          <xs:element minOccurs="0" name="CommercialRegisterSection" nillable="true" type="st:AxdExtType_CommercialRegisterSection" />
          <xs:element minOccurs="0" name="CompanyNAFCode" nillable="true" type="st:AxdExtType_CompanyIdNAF" />
          <xs:element minOccurs="0" name="CompanyRegComFR" nillable="true" type="st:AxdExtType_CompanyRegComFR" />
          <xs:element minOccurs="0" name="CompanyRepresentative_JP" nillable="true" type="st:AxdExtType_CompanyRepresentative_JP" />
          <xs:element minOccurs="0" name="CompanyType_MX" nillable="true" type="st:AxdEnum_CompanyType_MX" />
          <xs:element minOccurs="0" name="ConversionDate" nillable="true" type="st:AxdExtType_TransDate" />
          <xs:element minOccurs="0" name="CoRegNum" nillable="true" type="st:AxdExtType_CompanyCoRegNum" />
          <xs:element minOccurs="0" name="CUC_IT" nillable="true" type="st:AxdExtType_CUC_IT" />
          <xs:element minOccurs="0" name="Curp_MX" nillable="true" type="st:AxdExtType_Curp_MX" />
          <xs:element minOccurs="0" name="CustomsCustomerNumber_FI" nillable="true" type="st:AxdExtType_CustomsCustomerNumber_FI" />
          <xs:element minOccurs="0" name="CustomsLicenseNumber_FI" nillable="true" type="st:AxdExtType_CustomsLicenseNumber_FI" />
          <xs:element minOccurs="1" name="DataArea" type="st:AxdExtType_DataAreaId" />
          <xs:element minOccurs="0" name="DBA" nillable="true" type="st:AxdExtType_DBA" />
          <xs:element minOccurs="0" name="DVRid" nillable="true" type="st:AxdExtType_CompanyDVRid" />
          <xs:element minOccurs="0" name="EeEnablePersonalDataReadLog" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="EeEnableRoleChangeLog" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="EnterpriseCode" nillable="true" type="st:AxdExtType_EnterpriseCode" />
          <xs:element minOccurs="0" name="EnterpriseNumber" nillable="true" type="st:AxdExtType_TaxEnterpriseNumber" />
          <xs:element minOccurs="0" name="EntityId" nillable="true" type="st:AxdExtType_TableId" />
          <xs:element minOccurs="0" name="FICreditorID_DK" nillable="true" type="st:AxdExtType_FICreditorID_DK" />
          <xs:element minOccurs="0" name="FileNumber_SA" nillable="true" type="st:AxdExtType_CompanyFileNumZakat_SA" />
          <xs:element minOccurs="0" name="FiscalCode_IT" nillable="true" type="st:AxdExtType_IVACode" />
          <xs:element minOccurs="0" name="ForeignEntityIndicator" nillable="true" type="st:AxdExtType_Tax1099ForeignEntityIndicator" />
          <xs:element minOccurs="0" name="FSS_RU" nillable="true" type="st:AxdExtType_FSS" />
          <xs:element minOccurs="0" name="FSSAccount_RU" nillable="true" type="st:AxdUnion_AxdExtType_VendAccount_AxdType_ExtCodeValue" />
          <xs:element minOccurs="0" name="Giro" nillable="true" type="st:AxdExtType_GiroNum" />
          <xs:element minOccurs="0" name="GiroContract" nillable="true" type="st:AxdExtType_GiroContractNum" />
          <xs:element minOccurs="0" name="GiroContractAccount" nillable="true" type="st:AxdExtType_GiroContractAccount" />
          <xs:element minOccurs="0" name="Head_LT" nillable="true" type="st:AxdExtType_Name" />
          <xs:element minOccurs="0" name="ImportVATNum" nillable="true" type="st:AxdExtType_VATNum" />
          <xs:element minOccurs="0" name="ImportVATNumBranchId" nillable="true" type="st:AxdExtType_CompanyBranchId" />
          <xs:element minOccurs="0" name="IntrastatCode" nillable="true" type="st:AxdExtType_IntrastatExternalCode" />
          <xs:element minOccurs="0" name="IsConsolidationCompany" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="IsEliminationCompany" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="IssuingSignature" nillable="true" type="st:AxdExtType_IssuingSignature_IT" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="st:AxdExtType_ParametersKey" />
          <xs:element minOccurs="0" name="LastFilingIndicator" nillable="true" type="st:AxdExtType_Tax1099LastFilingIndicator" />
          <xs:element minOccurs="0" name="LegalFormFR" nillable="true" type="st:AxdExtType_CompanyLegalFormFR" />
          <xs:element minOccurs="0" name="LegalNature_IT" nillable="true" type="st:AxdEnum_LegalNature_IT" />
          <xs:element minOccurs="0" name="LegalRepresentative_JP" nillable="true" type="st:AxdExtType_AssetLegalRepresentative_JP" />
          <xs:element minOccurs="0" name="LegalRepresentativeCurp_MX" nillable="true" type="st:AxdExtType_Curp_MX" />
          <xs:element minOccurs="0" name="LegalRepresentativeName_MX" nillable="true" type="st:AxdExtType_LegalRepresentativeName_MX" />
          <xs:element minOccurs="0" name="LegalRepresentativeRfc_MX" nillable="true" type="st:AxdExtType_Rfc_MX" />
          <xs:element minOccurs="0" name="NameControl" nillable="true" type="st:AxdExtType_NameControl" />
          <xs:element minOccurs="0" name="OrganizationLegalForm_RU" nillable="true" type="st:AxdExtType_OrganizationLegalForm_RU" />
          <xs:element minOccurs="0" name="OrgId" nillable="true" type="st:AxdExtType_OrgId" />
          <xs:element minOccurs="0" name="PackMaterialFeeLicenseNum" nillable="true" type="st:AxdExtType_InventPackingMaterialFeeLicenseNum" />
          <xs:element minOccurs="0" name="PaymInstruction1" nillable="true" type="st:AxdExtType_PaymInstructionId" />
          <xs:element minOccurs="0" name="PaymInstruction2" nillable="true" type="st:AxdExtType_PaymInstructionId" />
          <xs:element minOccurs="0" name="PaymInstruction3" nillable="true" type="st:AxdExtType_PaymInstructionId" />
          <xs:element minOccurs="0" name="PaymInstruction4" nillable="true" type="st:AxdExtType_PaymInstructionId" />
          <xs:element minOccurs="0" name="PaymRoutingDNB" nillable="true" type="st:AxdExtType_PaymRoutingDNB" />
          <xs:element minOccurs="0" name="PaymTraderNumber" nillable="true" type="st:AxdExtType_PaymTraderNumber" />
          <xs:element minOccurs="0" name="PersonInCharge_JP" nillable="true" type="st:AxdExtType_AssetPersonInCharge_JP" />
          <xs:element minOccurs="0" name="PFRegNum_RU" nillable="true" type="st:AxdExtType_PFRegNum_RU" />
          <xs:element minOccurs="0" name="PlanningCompany" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="PrintCorrInvoiceLabel_DE" nillable="true" type="st:AxdExtType_PrintCorrInvoiceLabel_DE" />
          <xs:element minOccurs="0" name="PrintCorrInvoiceLabelEffDate_DE" nillable="true" type="st:AxdExtType_PrintCorrInvoiceLabelEffDate_DE" />
          <xs:element minOccurs="0" name="PrintEnterpriseregister_NO" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="PrintINNKPPInAddress_RU" nillable="true" type="st:AxdExtType_PrintINNKPPInAddress_RU" />
          <xs:element minOccurs="0" name="RAlienCorpCountry" nillable="true" type="st:AxdExtType_AddressCountryRegionId" />
          <xs:element minOccurs="0" name="RAlienCorpName" nillable="true" type="st:AxdExtType_CompanyName" />
          <xs:element minOccurs="0" name="RegNum" nillable="true" type="st:AxdExtType_CompanyRegNum" />
          <xs:element minOccurs="0" name="Resident_W" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="Rfc_MX" nillable="true" type="st:AxdExtType_Rfc_MX" />
          <xs:element minOccurs="0" name="RFullName" nillable="true" type="st:AxdExtType_CompanyName" />
          <xs:element minOccurs="0" name="ShippingCalendarId" nillable="true" type="st:AxdExtType_CompanyShippingCalendarId" />
          <xs:element minOccurs="0" name="SiaCode" nillable="true" type="st:AxdExtType_CompanySIACode" />
          <xs:element minOccurs="0" name="SoftwareIdentificationCode_CA" nillable="true" type="st:AxdExtType_SoftwareIdentificationCode_CA" />
          <xs:element minOccurs="0" name="StateInscription_MX" nillable="true" type="st:AxdExtType_StateInscription_MX" />
          <xs:element minOccurs="0" name="SubordinateCode" nillable="true" type="st:AxdExtType_SubordinateCode" />
          <xs:element minOccurs="0" name="Tax1099RegNum" nillable="true" type="st:AxdExtType_Tax1099RegNum" />
          <xs:element minOccurs="0" name="TaxAuthority_RU" nillable="true" type="st:AxdExtType_TaxAuthority" />
          <xs:element minOccurs="0" name="TaxRegimeCode_MX" nillable="true" type="st:AxdExtType_EInvoiceExtCodeId_MX" />
          <xs:element minOccurs="0" name="TaxRepresentative" nillable="true" type="st:AxdExtType_TaxRepresentative" />
          <xs:element minOccurs="0" name="TCC" nillable="true" type="st:AxdExtType_TCC" />
          <xs:element minOccurs="0" name="TemplateFolder_W" nillable="true" type="st:AxdExtType_FilePath" />
          <xs:element minOccurs="0" name="UPSNum" nillable="true" type="st:AxdExtType_UPSNum" />
          <xs:element minOccurs="0" name="validate1099OnEntry" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="VATNum" nillable="true" type="st:AxdExtType_VATNum" />
          <xs:element minOccurs="0" name="VATNumBranchId" nillable="true" type="st:AxdExtType_CompanyBranchId" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AxdEntity_DirParty_OMOperatingUnit">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AxdEntity_DirParty_OMInternalOrganization">
        <xs:sequence>
          <xs:element minOccurs="0" name="HcmWorker" nillable="true" type="st:AxdExtType_HcmPersonnelNumberId" />
          <xs:element minOccurs="1" name="OMOperatingUnitNumber" type="st:AxdExtType_NumberSequenceGroupId" />
          <xs:element minOccurs="1" name="OMOperatingUnitType" type="st:AxdEnum_OMOperatingUnitType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AxdEntity_DirParty_OMTeam">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AxdEntity_DirParty_OMInternalOrganization">
        <xs:sequence>
          <xs:element minOccurs="1" name="Description" type="st:AxdExtType_Description" />
          <xs:element minOccurs="0" name="IsActive" nillable="true" type="st:AxdEnum_NoYes" />
          <xs:element minOccurs="0" name="TeamAdministrator" nillable="true" type="st:AxdExtType_UserId" />
          <xs:element minOccurs="1" name="TeamMembershipCriterion" type="st:AxdExtType_OMTeamMembershipCriterionId" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>