Servicos/Service References/ServicoNatura.ProcessaPreFatura/SI_ProcessaPreFaturaSync_OB1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://www.natura.net/preFatura" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_ProcessaPreFaturaSync_OB" targetNamespace="http://www.natura.net/preFatura" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_ProcessaPreFaturaSync_OB" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.natura.net/preFatura" targetNamespace="http://www.natura.net/preFatura" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_RecebePreFatura" type="p1:DT_RecebePreFatura" />
      <xsd:element name="MT_EnviaParamPreFatura" type="p1:DT_EnviaParamPreFatura" />
      <xsd:complexType name="DT_EnviaParamPreFatura">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">d292bffba33311e5ccc800000189c4e2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="dados">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">21842ce61e5f11e59e8b54ec5bba1438</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="dataDe" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">2181ac761e5f11e5ae5a54ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="dataAte" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3a625e9e1e6111e5b68954ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="codTranspMatriz" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">7a22a0d4263411e5a78d54ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="codTranspEmitente" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d0a5de68a33311e588e054ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="numeroPreFatura" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">21842ce51e5f11e5c35d54ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_RecebePreFatura">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">9f86bd98324c11e59f3900000189c4e2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="dados">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d7d1497d136311e58a1a54ec5bba1438</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="numeroPreFatura" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d7d1496f136311e5b02654ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="dataPreFatura" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d7d14970136311e5ae9154ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="numeroFatura" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d7d14971136311e5902854ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="dataVencFatura" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d7d14972136311e5a49754ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="dataFatura" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d7d14973136311e5b2f654ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="codTranspMatriz" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d7d14974136311e5cc8c54ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="itens">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d7d1497c136311e5b90254ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="codTranspEmit" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">d7d14975136311e5a82c54ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="modeloDocFiscal" type="xsd:int">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">d7d14976136311e5938854ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="numeroDocFiscal" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">d7d14977136311e5a92654ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="serieDocFiscal" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">d7d14978136311e591af54ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="dataDocFiscal" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">d7d14979136311e594f054ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="chaveCTe" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">d7d1497b136311e5c12954ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="transporte">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6ea146211e5a0d554ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="docTransporte" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6e7146211e598d554ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="valorFrete" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6e8146211e5911554ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="difValorFrete" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6e9146211e5a5e254ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="impostos">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6fb146211e5a7de54ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="aliquotaICMS" type="xsd:decimal">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6eb146211e5b6d454ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="baseICMS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6ec146211e587c154ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="valorICMS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6ed146211e5ce1954ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="aliquotaICMSST" type="xsd:decimal">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6ee146211e58a7d54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="ivaICMSST" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6ef146211e589e254ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="baseICMSST" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f0146211e58b6854ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="valorICMSST" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f1146211e5c03554ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="aliquotaPIS" type="xsd:decimal">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f2146211e5905854ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="basePIS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f3146211e59bea54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="valorPIS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f4146211e5c0b154ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="aliquotaCOFINS" type="xsd:decimal">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f5146211e5a45054ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="baseCOFINS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f6146211e5c57754ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="valorCOFINS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f7146211e5a7c554ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="aliquotaISS" type="xsd:decimal">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f8146211e5938854ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="baseISS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6f9146211e5a76b54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="valorISS" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6fa146211e5c16254ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element maxOccurs="unbounded" name="docFiscalRef">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">9d06f701146211e5971c54ec5bba1438</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="modelo" type="xsd:int">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6fc146211e5cb2f54ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="numero" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6fd146211e59b0454ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="serie" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6fe146211e5b48454ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="dataEmissao" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f6ff146211e5824854ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="chaveNFeCTe" type="xsd:string">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">9d06f700146211e5ba6754ec5bba1438</xsd:appinfo>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="mensagem" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">094bd5ed25a911e58ff654ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_EnviaParamPreFatura">
    <wsdl:documentation />
    <wsdl:part name="MT_EnviaParamPreFatura" element="p1:MT_EnviaParamPreFatura" />
  </wsdl:message>
  <wsdl:message name="MT_RecebePreFatura">
    <wsdl:documentation />
    <wsdl:part name="MT_RecebePreFatura" element="p1:MT_RecebePreFatura" />
  </wsdl:message>
  <wsdl:portType name="SI_ProcessaPreFaturaSync_OB">
    <wsdl:documentation />
    <wsdl:operation name="SI_ProcessaPreFaturaSync_OB">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_ProcessaPreFaturaSync_OB" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_EnviaParamPreFatura" />
      <wsdl:output message="p1:MT_RecebePreFatura" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ProcessaPreFaturaSync_OBBinding" type="p1:SI_ProcessaPreFaturaSync_OB">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_ProcessaPreFaturaSync_OB">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ProcessaPreFaturaSync_OBService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_ProcessaPreFaturaSync_OBBinding">
      <address location="http://aslx251br.natura.com.br:50200/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaPreFaturaSync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FpreFatura" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_ProcessaPreFaturaSync_OBBinding">
      <address location="https://aslx251br.natura.com.br:50201/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaPreFaturaSync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FpreFatura" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>