Servicos/Service References/ServicoAX.ContratoFrete/xppservice2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/services/Imports">
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalInvoice/xppservice.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/services" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalInvoice/xppservice.svc?xsd=xsd11" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalInvoice/xppservice.svc?xsd=xsd13" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalInvoice/xppservice.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalInvoice/xppservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalInvoice/xppservice.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalInvoice/xppservice.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalInvoice/xppservice.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalInvoice/xppservice.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalInvoice/xppservice.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchaseInvoice" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalInvoice/xppservice.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalInvoice/xppservice.svc?xsd=xsd12" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalInvoice/xppservice.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PurchaseInvoiceServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:PurchaseInvoiceServiceCreateRequest" />
  </wsdl:message>
  <wsdl:message name="PurchaseInvoiceServiceCreateRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="PurchaseInvoiceServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:PurchaseInvoiceServiceCreateResponse" />
  </wsdl:message>
  <wsdl:message name="PurchaseInvoiceService_create_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="PurchaseInvoiceServiceGetChangedKeysRequest">
    <wsdl:part name="parameters" element="tns:PurchaseInvoiceServiceGetChangedKeysRequest" />
  </wsdl:message>
  <wsdl:message name="PurchaseInvoiceServiceGetChangedKeysRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="PurchaseInvoiceServiceGetChangedKeysResponse">
    <wsdl:part name="parameters" element="tns:PurchaseInvoiceServiceGetChangedKeysResponse" />
  </wsdl:message>
  <wsdl:message name="PurchaseInvoiceService_getChangedKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="PurchaseInvoiceServiceGetKeysRequest">
    <wsdl:part name="parameters" element="tns:PurchaseInvoiceServiceGetKeysRequest" />
  </wsdl:message>
  <wsdl:message name="PurchaseInvoiceServiceGetKeysRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="PurchaseInvoiceServiceGetKeysResponse">
    <wsdl:part name="parameters" element="tns:PurchaseInvoiceServiceGetKeysResponse" />
  </wsdl:message>
  <wsdl:message name="PurchaseInvoiceService_getKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:portType name="PurchaseInvoiceService">
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchaseInvoiceService/create" name="PurchaseInvoiceServiceCreateRequest" message="tns:PurchaseInvoiceServiceCreateRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchaseInvoiceService/createResponse" name="PurchaseInvoiceServiceCreateResponse" message="tns:PurchaseInvoiceServiceCreateResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchaseInvoiceService/createAifFaultFault" name="AifFaultFault" message="tns:PurchaseInvoiceService_create_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getChangedKeys">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchaseInvoiceService/getChangedKeys" name="PurchaseInvoiceServiceGetChangedKeysRequest" message="tns:PurchaseInvoiceServiceGetChangedKeysRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchaseInvoiceService/getChangedKeysResponse" name="PurchaseInvoiceServiceGetChangedKeysResponse" message="tns:PurchaseInvoiceServiceGetChangedKeysResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchaseInvoiceService/getChangedKeysAifFaultFault" name="AifFaultFault" message="tns:PurchaseInvoiceService_getChangedKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchaseInvoiceService/getKeys" name="PurchaseInvoiceServiceGetKeysRequest" message="tns:PurchaseInvoiceServiceGetKeysRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchaseInvoiceService/getKeysResponse" name="PurchaseInvoiceServiceGetKeysResponse" message="tns:PurchaseInvoiceServiceGetKeysResponse" />
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/PurchaseInvoiceService/getKeysAifFaultFault" name="AifFaultFault" message="tns:PurchaseInvoiceService_getKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>