Servicos/Service References/ServicoAX.ContratoFrete/xppservice136.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchaseInvoice" xmlns:st="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/PurchaseInvoice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalInvoice/xppservice.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
  <xs:element name="PurchaseInvoice" type="tns:AxdPurchaseInvoice" />
  <xs:complexType name="AxdPurchaseInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearNilFieldsOnUpdate" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="st:AxdEnum_XMLDocPurpose" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LedgerJournalTable" type="tns:AxdEntity_LedgerJournalTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxdEntity_LedgerJournalTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Approver" nillable="true" type="st:AxdExtType_HcmPersonnelNumberId" />
      <xs:element minOccurs="0" name="AssetTransferType_LT" nillable="true" type="st:AxdEnum_LtAssetTransferType" />
      <xs:element minOccurs="0" name="BankAccountId" nillable="true" type="st:AxdExtType_CompanyBankAccountId" />
      <xs:element minOccurs="0" name="BankRemittanceType" nillable="true" type="st:AxdEnum_BankRemittanceType" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="st:AxdUnion_AxdExtType_CurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="CurrentOperationsTax" nillable="true" type="st:AxdEnum_CurrentOperationsTax" />
      <xs:element minOccurs="0" name="CustVendNegInstProtestProcess" nillable="true" type="st:AxdEnum_CustVendNegInstProtestProcess" />
      <xs:element minOccurs="0" name="DefaultDimension" nillable="true" type="st:AxdType_DimensionAttributeValueSet" />
      <xs:element minOccurs="0" name="DetailSummaryPosting" nillable="true" type="st:AxdEnum_DetailSummary" />
      <xs:element minOccurs="0" name="DocumentNum" nillable="true" type="st:AxdExtType_DocumentNum" />
      <xs:element minOccurs="0" name="EndBalance" nillable="true" type="st:AxdExtType_LedgerJournalEndBalance" />
      <xs:element minOccurs="0" name="ExchRate" nillable="true" type="st:AxdExtType_ExchRate" />
      <xs:element minOccurs="0" name="ExchrateSecondary" nillable="true" type="st:AxdExtType_ExchrateSecondary" />
      <xs:element minOccurs="0" name="FixedExchRate" nillable="true" type="st:AxdExtType_FixedExchRate" />
      <xs:element minOccurs="0" name="FixedOffsetAccount" nillable="true" type="st:AxdExtType_FixedOffsetAccount" />
      <xs:element minOccurs="0" name="GroupBlockId" nillable="true" type="st:AxdExtType_JournalBlockUserGroupId" />
      <xs:element minOccurs="0" name="InUseBy" nillable="true" type="st:AxdExtType_UserId" />
      <xs:element minOccurs="0" name="JournalBalance" nillable="true" type="st:AxdExtType_LedgerJournalBalance" />
      <xs:element minOccurs="0" name="JournalName" nillable="true" type="st:AxdExtType_LedgerJournalNameId" />
      <xs:element minOccurs="0" name="JournalNum" nillable="true" type="st:AxdExtType_LedgerJournalId" />
      <xs:element minOccurs="0" name="JournalTotalCredit" nillable="true" type="st:AxdExtType_AmountMST" />
      <xs:element minOccurs="0" name="JournalTotalDebit" nillable="true" type="st:AxdExtType_AmountMST" />
      <xs:element minOccurs="0" name="JournalTotalOffsetBalance" nillable="true" type="st:AxdExtType_AmountMST" />
      <xs:element minOccurs="0" name="JournalType" nillable="true" type="st:AxdEnum_LedgerJournalType" />
      <xs:element minOccurs="0" name="LedgerJournalInclTax" nillable="true" type="st:AxdExtType_LedgerJournalInclTax" />
      <xs:element minOccurs="0" name="LinesLimitBeforeDistribution" nillable="true" type="st:AxdExtType_LedgerJournalLinesLimit" />
      <xs:element minOccurs="0" name="Log" nillable="true" type="st:AxdExtType_LogText" />
      <xs:element minOccurs="0" name="MultiCTEIntegrated" nillable="true" type="st:AxdExtType_MultiCTEIntegrated" />
      <xs:element minOccurs="0" name="MultiCTEIntegrationId" nillable="true" type="st:AxdExtType_DocumentNum" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="st:AxdExtType_Name" />
      <xs:element minOccurs="0" name="NumberSequenceTable" nillable="true" type="st:AxdEntityKey_NumberSequenceTable" />
      <xs:element minOccurs="0" name="NumOfLines" nillable="true" type="st:AxdExtType_JournalNumOfLines" />
      <xs:element minOccurs="0" name="OffsetAccountType" nillable="true" type="st:AxdEnum_LedgerJournalACType" />
      <xs:element minOccurs="0" name="OffsetLedgerDimension" nillable="true" type="st:AxdType_MultiTypeDefaultAccount" />
      <xs:element minOccurs="0" name="OriginalCompany" nillable="true" type="st:AxdExtType_SelectableDataArea" />
      <xs:element minOccurs="0" name="OriginalJournalNum" nillable="true" type="st:AxdExtType_LedgerJournalId" />
      <xs:element minOccurs="0" name="PaymentsGenerated_IT" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="Posted" nillable="true" type="st:AxdExtType_JournalPosted" />
      <xs:element minOccurs="0" name="PostedDateTime" nillable="true" type="st:AxdExtType_JournalPostedDateTime" />
      <xs:element minOccurs="0" name="ProtestSettledBill" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="RejectedBy" nillable="true" type="st:AxdExtType_UserId" />
      <xs:element minOccurs="0" name="RemoveLineAfterPosting" nillable="true" type="st:AxdExtType_LedgerJournalDelLine" />
      <xs:element minOccurs="0" name="ReportedAsReadyBy" nillable="true" type="st:AxdExtType_UserId" />
      <xs:element minOccurs="0" name="RetailStatementId" nillable="true" type="st:AxdExtType_RetailStatementId" />
      <xs:element minOccurs="0" name="ReverseDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="ReverseEntry" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="st:AxdExtType_JournalSessionId" />
      <xs:element minOccurs="0" name="SessionLoginDateTime" nillable="true" type="st:AxdExtType_JournalSessionLoginDateTime" />
      <xs:element minOccurs="0" name="SystemBlocked" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="TaxObligationCompany" nillable="true" type="st:AxdEnum_TaxObligationCompany" />
      <xs:element minOccurs="0" name="UserBlockId" nillable="true" type="st:AxdExtType_JournalBlockUserId" />
      <xs:element minOccurs="0" name="VoucherAllocatedAtPosting" nillable="true" type="st:AxdExtType_VoucherAllocatedAtPosting" />
      <xs:element minOccurs="0" name="WorkflowApprovalStatus" nillable="true" type="st:AxdEnum_LedgerJournalWFApprovalStatus" />
      <xs:element minOccurs="0" name="WSYSIntegrated" nillable="true" type="st:AxdExtType_WSYSIntegrated" />
      <xs:element minOccurs="0" name="WSYSPaymCompensationJournal" nillable="true" type="st:AxdExtType_WSYSPaymCompensationJournal" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LedgerJournalTrans" type="tns:AxdEntity_LedgerJournalTrans" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocuRefTable" type="tns:AxdEntity_DocuRefTable" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LedgerJournalTable_W" type="tns:AxdEntity_LedgerJournalTable_W" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_LedgerJournalTrans">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="st:AxdEnum_LedgerJournalACType" />
      <xs:element minOccurs="0" name="AcknowledgementDate" nillable="true" type="st:AxdExtType_AcknowledgementDate" />
      <xs:element minOccurs="0" name="AmountCurCredit" nillable="true" type="st:AxdExtType_AmountCurCredit" />
      <xs:element minOccurs="0" name="AmountCurDebit" nillable="true" type="st:AxdExtType_AmountCurDebit" />
      <xs:element minOccurs="0" name="Approved" nillable="true" type="st:AxdExtType_Approved" />
      <xs:element minOccurs="0" name="AssessableValue_IN" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="Attachments_CN" nillable="true" type="st:AxdExtType_Counter" />
      <xs:element minOccurs="0" name="BankAccountId" nillable="true" type="st:AxdExtType_CompanyBankAccountId" />
      <xs:element minOccurs="0" name="BankBillOfExchangeNum" nillable="true" type="st:AxdExtType_BankBillOfExchangeNum" />
      <xs:element minOccurs="0" name="BankCentralBankPurposeCode" nillable="true" type="st:AxdExtType_BankCentralBankPurposeCode" />
      <xs:element minOccurs="0" name="BankCentralBankPurposeText" nillable="true" type="st:AxdExtType_BankCentralBankPurposeText" />
      <xs:element minOccurs="0" name="BankChequeNum" nillable="true" type="st:AxdExtType_BankChequeNum" />
      <xs:element minOccurs="0" name="BankDepositNum" nillable="true" type="st:AxdExtType_BankDepositNum" />
      <xs:element minOccurs="0" name="BankDepositVoucher" nillable="true" type="st:AxdExtType_BankDepositVoucher" />
      <xs:element minOccurs="0" name="BankNegInstRecipientName" nillable="true" type="st:AxdExtType_BankNegInstRecipientName" />
      <xs:element minOccurs="0" name="BankPromissoryNoteNum" nillable="true" type="st:AxdExtType_BankPromissoryNoteNum" />
      <xs:element minOccurs="0" name="BankReconcileAccountAtPost" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="BankRemittanceFileId" nillable="true" type="st:AxdExtType_BankRemittanceFileId" />
      <xs:element minOccurs="0" name="BankRemittanceType" nillable="true" type="st:AxdEnum_BankRemittanceType" />
      <xs:element minOccurs="0" name="BankTransType" nillable="true" type="st:AxdExtType_BankTransactionType" />
      <xs:element minOccurs="0" name="BudgetSourceLedgerEntryUnposted" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="Cancel" nillable="true" type="st:AxdExtType_Cancelled" />
      <xs:element minOccurs="0" name="CashDiscAmount" nillable="true" type="st:AxdExtType_DiscAmount" />
      <xs:element minOccurs="0" name="CashDiscCode" nillable="true" type="st:AxdExtType_CashDiscCode" />
      <xs:element minOccurs="0" name="CashDiscPercent" nillable="true" type="st:AxdExtType_DiscPct" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="st:AxdExtType_SelectableDataArea" />
      <xs:element minOccurs="0" name="CompanyLocation_IN" nillable="true" type="st:AxdExtType_LogisticsLocationId" />
      <xs:element minOccurs="0" name="ConsignmentNoteNum_IN" nillable="true" type="st:AxdExtType_ConsignmentNum_IN" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="st:AxdExtType_CurrencyCode" />
      <xs:element minOccurs="0" name="CustEinvoicePaymDeliveryNum" nillable="true" type="st:AxdExtType_CustEinvoicePaymDeliveryNum" />
      <xs:element minOccurs="0" name="CustEinvoicePaymSectionNum" nillable="true" type="st:AxdExtType_CustEinvoicePaymSectionNum" />
      <xs:element minOccurs="0" name="CustEinvoicePaymTransNum" nillable="true" type="st:AxdExtType_CustEinvoicePaymTransNum" />
      <xs:element minOccurs="0" name="CustomsDuty_IN" nillable="true" type="st:AxdExtType_CustomsAmount_IN" />
      <xs:element minOccurs="0" name="CustomsTariffCodeTable_IN" nillable="true" type="st:AxdEntityKey_CustomsTariffCodeTable_IN" />
      <xs:element minOccurs="0" name="CustomsTariffDirection_IN" nillable="true" type="st:AxdEnum_Direction_IN" />
      <xs:element minOccurs="0" name="CustVendBankAccountId" nillable="true" type="st:AxdExtType_BankAccountID" />
      <xs:element minOccurs="0" name="CustVendNegInstProtestReason" nillable="true" type="st:AxdEnum_CustVendNegInstProtestReason" />
      <xs:element minOccurs="0" name="DateCashDisc" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="DefaultDimension" nillable="true" type="st:AxdType_DimensionAttributeValueSet" />
      <xs:element minOccurs="1" name="DocumentDate" type="st:AxdExtType_DocumentDate" />
      <xs:element minOccurs="0" name="DocumentNum" nillable="true" type="st:AxdExtType_DocumentNum" />
      <xs:element minOccurs="0" name="Due" nillable="true" type="st:AxdExtType_DueDate" />
      <xs:element minOccurs="0" name="EnterpriseNumber" nillable="true" type="st:AxdExtType_TaxEnterpriseNumber" />
      <xs:element minOccurs="0" name="ErrorCodePayment" nillable="true" type="st:AxdExtType_ErrorCodePayment" />
      <xs:element minOccurs="0" name="EUSalesList" nillable="true" type="st:AxdExtType_ListDispatchId" />
      <xs:element minOccurs="0" name="ExchRate" nillable="true" type="st:AxdExtType_ExchRate" />
      <xs:element minOccurs="0" name="ExchRateSecond" nillable="true" type="st:AxdExtType_ExchrateSecondary" />
      <xs:element minOccurs="0" name="ExciseRecordType_IN" nillable="true" type="st:AxdEnum_ExciseRecordType_IN" />
      <xs:element minOccurs="0" name="ExciseTariffCodes_IN" nillable="true" type="st:AxdExtType_TariffCode_IN" />
      <xs:element minOccurs="0" name="ExciseType_IN" nillable="true" type="st:AxdEnum_ExciseType_IN" />
      <xs:element minOccurs="0" name="FileCreated" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="ForeignCompany" nillable="true" type="st:AxdExtType_SelectableDataArea" />
      <xs:element minOccurs="0" name="ForeignVoucher" nillable="true" type="st:AxdExtType_Voucher" />
      <xs:element minOccurs="0" name="FreqCode" nillable="true" type="st:AxdEnum_PeriodUnit" />
      <xs:element minOccurs="0" name="FreqValue" nillable="true" type="st:AxdExtType_Freq" />
      <xs:element minOccurs="0" name="FurtherPostingRecId" nillable="true" type="st:AxdExtType_LedgerJournalTransRefRecId" />
      <xs:element minOccurs="0" name="FurtherPostingType" nillable="true" type="st:AxdExtType_FurtherPostingType" />
      <xs:element minOccurs="0" name="GSTHSTTaxType_CA" nillable="true" type="st:AxdEnum_GSTHSTTaxType_CA" />
      <xs:element minOccurs="0" name="GTAServiceCategory_IN" nillable="true" type="st:AxdEnum_GTAServiceCategory_IN" />
      <xs:element minOccurs="0" name="ImportDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="1" name="Invoice" type="st:AxdExtType_InvoiceId" />
      <xs:element minOccurs="0" name="InvoiceReleaseDate" nillable="true" type="st:AxdExtType_InvoiceReleaseDate" />
      <xs:element minOccurs="0" name="JournalNum" nillable="true" type="st:AxdExtType_LedgerJournalId" />
      <xs:element minOccurs="0" name="LastTransferred" nillable="true" type="st:AxdExtType_LastTransferred" />
      <xs:element minOccurs="1" name="LedgerDimension" type="st:AxdType_MultiTypeAccount" />
      <xs:element minOccurs="0" name="LedgerVoucherType_CN" nillable="true" type="st:AxdExtType_LedgerVoucherTypeId_CN" />
      <xs:element minOccurs="0" name="LineNum" nillable="true" type="st:AxdExtType_LineNum" />
      <xs:element minOccurs="0" name="Listcode" nillable="true" type="st:AxdExtType_ListcodeId" />
      <xs:element minOccurs="0" name="LoadingDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="MarkedInvoice" nillable="true" type="st:AxdExtType_InvoiceId" />
      <xs:element minOccurs="0" name="MaximumRetailPrice_IN" nillable="true" type="st:AxdExtType_MaximumRetailPrice_IN" />
      <xs:element minOccurs="0" name="MultiCTEIntegrationId" nillable="true" type="st:AxdExtType_DocumentNum" />
      <xs:element minOccurs="0" name="NatureOfAssessee_IN" nillable="true" type="st:AxdEnum_NatureOfAssessee_IN" />
      <xs:element minOccurs="0" name="NegInstId" nillable="true" type="st:AxdExtType_CustVendNegInstId" />
      <xs:element minOccurs="0" name="NonRecoverablePercent_IN" nillable="true" type="st:AxdExtType_Percent" />
      <xs:element minOccurs="0" name="OffsetAccountType" nillable="true" type="st:AxdEnum_LedgerJournalACType" />
      <xs:element minOccurs="0" name="OffsetCompany" nillable="true" type="st:AxdExtType_SelectableDataArea" />
      <xs:element minOccurs="0" name="OffsetDefaultDimension" nillable="true" type="st:AxdType_DimensionAttributeValueSet" />
      <xs:element minOccurs="0" name="OffsetLedgerDimension" nillable="true" type="st:AxdType_MultiTypeAccount" />
      <xs:element minOccurs="0" name="OffsetTxt" nillable="true" type="st:AxdExtType_LedgerJournalTransTxt" />
      <xs:element minOccurs="0" name="OperationType_MX" nillable="true" type="st:AxdEnum_VendorOperationType_MX" />
      <xs:element minOccurs="0" name="Payment" nillable="true" type="st:AxdExtType_PaymTermId" />
      <xs:element minOccurs="0" name="PaymentAccount" nillable="true" type="st:AxdExtType_CompanyBankAccountId" />
      <xs:element minOccurs="0" name="PaymentNotes" nillable="true" type="st:AxdExtType_PaymNote" />
      <xs:element minOccurs="0" name="PaymentSequenceNum" nillable="true" type="st:AxdExtType_PaymentSequenceNum" />
      <xs:element minOccurs="0" name="PaymentStatus" nillable="true" type="st:AxdEnum_CustVendPaymStatus" />
      <xs:element minOccurs="0" name="PaymId" nillable="true" type="st:AxdExtType_PaymId" />
      <xs:element minOccurs="0" name="PaymInstruction1" nillable="true" type="st:AxdExtType_PaymInstructionId" />
      <xs:element minOccurs="0" name="PaymInstruction2" nillable="true" type="st:AxdExtType_PaymInstructionId" />
      <xs:element minOccurs="0" name="PaymInstruction3" nillable="true" type="st:AxdExtType_PaymInstructionId" />
      <xs:element minOccurs="0" name="PaymInstruction4" nillable="true" type="st:AxdExtType_PaymInstructionId" />
      <xs:element minOccurs="0" name="PaymMode" nillable="true" type="st:AxdExtType_PaymMode" />
      <xs:element minOccurs="0" name="PaymReference" nillable="true" type="st:AxdExtType_PaymReference" />
      <xs:element minOccurs="0" name="PaymSpec" nillable="true" type="st:AxdExtType_PaymSpec" />
      <xs:element minOccurs="0" name="PoolRecId" nillable="true" type="st:AxdExtType_LedgerJournalTransRefRecId" />
      <xs:element minOccurs="0" name="PostingProfile" nillable="true" type="st:AxdExtType_PostingProfile" />
      <xs:element minOccurs="0" name="Prepayment" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="st:AxdExtType_Price" />
      <xs:element minOccurs="0" name="PurchIdRange" nillable="true" type="st:AxdExtType_PurchIdRange" />
      <xs:element minOccurs="0" name="PurchLedgerPosting" nillable="true" type="st:AxdExtType_PurchLedgerPosting" />
      <xs:element minOccurs="0" name="Qty" nillable="true" type="st:AxdExtType_QtyStatistical" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="RefCopyReverse_CN" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="ReleaseDate" nillable="true" type="st:AxdExtType_PostReleaseDate" />
      <xs:element minOccurs="0" name="ReleaseDateComment" nillable="true" type="st:AxdExtType_ReleaseDateComment" />
      <xs:element minOccurs="0" name="RemainAmount" nillable="true" type="st:AxdExtType_Amount" />
      <xs:element minOccurs="0" name="RemitteeCurrency" nillable="true" type="st:AxdExtType_CurrencyCode" />
      <xs:element minOccurs="0" name="ReverseDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="ReverseEntry" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="SalesTaxFormTypes_IN" nillable="true" type="st:AxdExtType_FormType_IN" />
      <xs:element minOccurs="0" name="SettleVoucher" nillable="true" type="st:AxdEnum_SettlementType" />
      <xs:element minOccurs="0" name="Tax1099Amount" nillable="true" type="st:AxdExtType_Tax1099Amount" />
      <xs:element minOccurs="0" name="Tax1099Fields" nillable="true" type="st:AxdEntityKey_Tax1099Fields" />
      <xs:element minOccurs="0" name="Tax1099State" nillable="true" type="st:AxdExtType_Tax1099State" />
      <xs:element minOccurs="0" name="Tax1099StateAmount" nillable="true" type="st:AxdExtType_Tax1099StateAmount" />
      <xs:element minOccurs="0" name="TaxCode" nillable="true" type="st:AxdExtType_TaxCode" />
      <xs:element minOccurs="0" name="TaxDirectionControl" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="TaxGroup" nillable="true" type="st:AxdExtType_TaxGroupJournal" />
      <xs:element minOccurs="0" name="TaxItemGroup" nillable="true" type="st:AxdExtType_TaxGroupJournal" />
      <xs:element minOccurs="0" name="TaxWithholdAlternateVendorAcct_TH" nillable="true" type="st:AxdExtType_TaxWithholdAlternateVendorAcct_TH" />
      <xs:element minOccurs="0" name="TaxWithholdCalculate_TH" nillable="true" type="st:AxdExtType_TaxWithholdCalculate_TH" />
      <xs:element minOccurs="0" name="TaxWithholdGroup" nillable="true" type="st:AxdExtType_TaxWithholdGroup" />
      <xs:element minOccurs="0" name="TaxWithholdItemGroupHeading_TH" nillable="true" type="st:AxdExtType_TaxWithholdItemGroup_TH" />
      <xs:element minOccurs="0" name="TCSGroup_IN" nillable="true" type="st:AxdExtType_TaxWithholdGroup" />
      <xs:element minOccurs="0" name="TDSGroup_IN" nillable="true" type="st:AxdExtType_TaxWithholdGroup" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="st:AxdEnum_LedgerTransType" />
      <xs:element minOccurs="0" name="TransDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="Transfer" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="Transferred" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="TransferredBy" nillable="true" type="st:AxdExtType_UserId" />
      <xs:element minOccurs="0" name="TransferredOn" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="TransferredTo" nillable="true" type="st:AxdExtType_LedgerJournalId" />
      <xs:element minOccurs="0" name="Txt" nillable="true" type="st:AxdExtType_LedgerJournalTransTxt" />
      <xs:element minOccurs="0" name="VATGoodsType_IN" nillable="true" type="st:AxdEnum_VATGoodsType_IN" />
      <xs:element minOccurs="0" name="VATNumJournal" nillable="true" type="st:AxdExtType_VATNumJournal" />
      <xs:element minOccurs="0" name="VendBankAccount" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="VendInvoiceDeclaration_IS" nillable="true" type="st:AxdExtType_InvoiceSlipDeclarationId_IS" />
      <xs:element minOccurs="0" name="VendTransId" nillable="true" type="st:AxdExtType_VendTransRefRecId" />
      <xs:element minOccurs="0" name="Voucher" nillable="true" type="st:AxdExtType_Voucher" />
      <xs:element minOccurs="0" name="Voucher_CN" nillable="true" type="st:AxdExtType_Voucher_CN" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HcmWorkerLineApprover" type="tns:AxdEntity_HcmWorkerLineApprover" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VendInvoiceInfo" type="tns:AxdEntity_VendInvoiceInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocuRefTrans" type="tns:AxdEntity_DocuRefTrans" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VendTransCashDisc" type="tns:AxdEntity_VendTransCashDisc" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxServiceTariff" type="tns:AxdEntity_TaxServiceTariff" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_HcmWorkerLineApprover">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="st:AxdExtType_DirPartyName" />
      <xs:element minOccurs="0" name="PartyNumber" nillable="true" type="st:AxdExtType_DirPartyNumber" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_VendInvoiceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="InventDimId" nillable="true" type="st:AxdExtType_InventDimId" />
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="st:AxdUnion_AxdExtType_ItemIdSmall_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="LineDisc" nillable="true" type="st:AxdExtType_PurchLineDisc" />
      <xs:element minOccurs="0" name="LinePercent" nillable="true" type="st:AxdExtType_PurchLinePercent" />
      <xs:element minOccurs="0" name="MultiLnDisc" nillable="true" type="st:AxdExtType_PurchMultiLnDisc" />
      <xs:element minOccurs="0" name="MultiLnPercent" nillable="true" type="st:AxdExtType_PurchMultiLnPercent" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="st:AxdExtType_ItemName" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="st:AxdExtType_PurchId" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="st:AxdExtType_InventQty" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="RefRecId" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="RefTableId" nillable="true" type="st:AxdExtType_RefTableId" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="st:AxdExtType_PriceUnit" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="st:AxdExtType_PurchPrice" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventDim" type="tns:AxdEntity_InventDim" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_InventDim">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfigId" nillable="true" type="st:AxdExtType_EcoResItemConfigurationName" />
      <xs:element minOccurs="0" name="InventBatchId" nillable="true" type="st:AxdExtType_InventBatchId" />
      <xs:element minOccurs="0" name="InventColorId" nillable="true" type="st:AxdExtType_EcoResItemColorName" />
      <xs:element minOccurs="0" name="InventDimId" nillable="true" type="st:AxdExtType_InventDimId" />
      <xs:element minOccurs="0" name="InventGTDId_RU" nillable="true" type="st:AxdExtType_InventGTDId_RU" />
      <xs:element minOccurs="0" name="InventLocationId" nillable="true" type="st:AxdExtType_InventLocationId" />
      <xs:element minOccurs="0" name="InventOwnerId_RU" nillable="true" type="st:AxdExtType_InventOwnerId_RU" />
      <xs:element minOccurs="0" name="InventProfileId_RU" nillable="true" type="st:AxdExtType_InventProfileId_RU" />
      <xs:element minOccurs="0" name="InventSerialId" nillable="true" type="st:AxdExtType_InventSerialId" />
      <xs:element minOccurs="0" name="InventSiteId" nillable="true" type="st:AxdExtType_InventSiteId" />
      <xs:element minOccurs="0" name="InventSizeId" nillable="true" type="st:AxdExtType_EcoResItemSizeName" />
      <xs:element minOccurs="0" name="InventStatusId" nillable="true" type="st:AxdExtType_WHSInventStatusId" />
      <xs:element minOccurs="0" name="InventStyleId" nillable="true" type="st:AxdExtType_EcoResItemStyleName" />
      <xs:element minOccurs="0" name="LicensePlateId" nillable="true" type="st:AxdExtType_WHSLicensePlateId" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="WMSLocationId" nillable="true" type="st:AxdExtType_WMSLocationId" />
      <xs:element minOccurs="0" name="WMSPalletId" nillable="true" type="st:AxdExtType_WMSPalletId" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_DocuRefTrans">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualCompanyId" nillable="true" type="st:AxdExtType_SelectableDataArea" />
      <xs:element minOccurs="0" name="Author" nillable="true" type="st:AxdExtType_DirPartyNumber" />
      <xs:element minOccurs="0" name="ContactPersonId" nillable="true" type="st:AxdExtType_ContactPersonId" />
      <xs:element minOccurs="0" name="DocuTemplate" nillable="true" type="st:AxdExtType_Filename" />
      <xs:element minOccurs="0" name="EncyclopediaItemId" nillable="true" type="st:AxdExtType_smmEncyclopediaItemId" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="st:AxdExtType_Description" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="st:AxdExtType_Notes" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="RefCompanyId" nillable="true" type="st:AxdExtType_SelectableDataArea" />
      <xs:element minOccurs="0" name="RefRecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RefTableId" nillable="true" type="st:AxdExtType_TableId" />
      <xs:element minOccurs="0" name="Restriction" nillable="true" type="st:AxdEnum_DocuRestriction" />
      <xs:element minOccurs="0" name="smmTable" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="TypeId" nillable="true" type="st:AxdExtType_DocuTypeId" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_VendTransCashDisc">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashDiscAmount" nillable="true" type="st:AxdExtType_VendCashDiscAmount" />
      <xs:element minOccurs="0" name="CashDiscCode" nillable="true" type="st:AxdExtType_CashDiscCode" />
      <xs:element minOccurs="0" name="CashDiscdate" nillable="true" type="st:AxdExtType_VendCashDiscDate" />
      <xs:element minOccurs="0" name="CashDiscDue" nillable="true" type="st:AxdEnum_CashDiscDue" />
      <xs:element minOccurs="0" name="CashDiscPercent" nillable="true" type="st:AxdExtType_DiscPct" />
      <xs:element minOccurs="0" name="Manual" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="RefRecId" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="RefTableId" nillable="true" type="st:AxdExtType_RefTableId" />
      <xs:element minOccurs="0" name="RoyaltyDiscAmount" nillable="true" type="st:AxdExtType_VendCashDiscAmount" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_TaxServiceTariff">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceTariffNumber" nillable="true" type="st:AxdExtType_ServiceTariffId_PL" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_DocuRefTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualCompanyId" nillable="true" type="st:AxdExtType_SelectableDataArea" />
      <xs:element minOccurs="0" name="Author" nillable="true" type="st:AxdExtType_DirPartyNumber" />
      <xs:element minOccurs="0" name="ContactPersonId" nillable="true" type="st:AxdExtType_ContactPersonId" />
      <xs:element minOccurs="0" name="DocuTemplate" nillable="true" type="st:AxdExtType_Filename" />
      <xs:element minOccurs="0" name="EncyclopediaItemId" nillable="true" type="st:AxdExtType_smmEncyclopediaItemId" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="st:AxdExtType_Description" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="st:AxdExtType_Notes" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="RefCompanyId" nillable="true" type="st:AxdExtType_SelectableDataArea" />
      <xs:element minOccurs="0" name="RefRecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RefTableId" nillable="true" type="st:AxdExtType_TableId" />
      <xs:element minOccurs="0" name="Restriction" nillable="true" type="st:AxdEnum_DocuRestriction" />
      <xs:element minOccurs="0" name="smmTable" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="TypeId" nillable="true" type="st:AxdExtType_DocuTypeId" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_LedgerJournalTable_W">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApprovalStatus_CN" nillable="true" type="st:AxdEnum_LedgerApprovalStatus_CN" />
      <xs:element minOccurs="0" name="CashAccount_W" nillable="true" type="st:AxdExtType_RCashAccount" />
      <xs:element minOccurs="0" name="CategoryPurpose_W" nillable="true" type="st:AxdExtType_CategoryPurposeRecId_W" />
      <xs:element minOccurs="0" name="ChargeBearer_W" nillable="true" type="st:AxdExtType_ChargeBearerRecId_W" />
      <xs:element minOccurs="0" name="DebitCurrencyCode_LT" nillable="true" type="st:AxdUnion_AxdExtType_LtDebitCurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="FiscalEstablishment_BR" nillable="true" type="st:AxdExtType_FiscalEstablishmentId_BR" />
      <xs:element minOccurs="0" name="ForeignBankFee_LT" nillable="true" type="st:AxdExtType_LTForeignBankFee" />
      <xs:element minOccurs="0" name="InformByPhone_LT" nillable="true" type="st:AxdExtType_LTInformByPhone" />
      <xs:element minOccurs="0" name="InformByTelex_LT" nillable="true" type="st:AxdExtType_LTInformByTelex" />
      <xs:element minOccurs="0" name="LocalInstrument_W" nillable="true" type="st:AxdExtType_LocalInstrumentRecId_W" />
      <xs:element minOccurs="0" name="PaymentPriority_LT" nillable="true" type="st:AxdExtType_LTPaymentPriority" />
      <xs:element minOccurs="0" name="Prepayment_W" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="ReportingDate_RU" nillable="true" type="st:AxdExtType_ReportingDate_RU" />
      <xs:element minOccurs="0" name="Reverse_RU" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="ReverseType_RU" nillable="true" type="st:AxdEnum_JournalReverseType_RU" />
      <xs:element minOccurs="0" name="RTax25RegVersion" nillable="true" type="st:AxdExtType_Version" />
      <xs:element minOccurs="0" name="ServiceLevel_W" nillable="true" type="st:AxdExtType_ServiceLevelRecId_W" />
      <xs:element minOccurs="0" name="TaxType_BR" nillable="true" type="st:AxdEnum_TaxType_BR" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
</xs:schema>