Servicos/Service References/ServicoSAP_V9/SI_Recibo_Frete_Sync_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://jsl.com.br/Recibo_Frete_FI" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_Recibo_Frete_Sync_OUT" targetNamespace="http://jsl.com.br/Recibo_Frete_FI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_Recibo_Frete_Sync_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="http://jsl.com.br/Recibo_Frete_FI" targetNamespace="http://jsl.com.br/Recibo_Frete_FI" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="DT_Recibo_Frete_req">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="T_ABASTECIMENTO">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="p1:ZBRFIAPS0080" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="T_ACCOUNTGL">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="p1:ZBRFIAPS0014" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="T_ACCOUNTPAYABLE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="p1:ZBRFIAPS0012" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="T_ACCOUNTWT">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="p1:ZBRFIAPS0015" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="T_CURRENCYAMOUNT">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="p1:ZBRFIAPS0013" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="T_HEADER">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="p1:ZBRFIAPS0011" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DT_Recibo_Frete_resp">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="T_RETURN">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="p1:ZBRFIAPS0001" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="genericDate">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="....-..-.." />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:union memberTypes="xsd:date p1:genericDate" />
      </xsd:simpleType>
      <xsd:complexType name="ZBRFIAPS0080">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MENGE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="KFZKZ">
            <xsd:annotation>
              <xsd:documentation>License plate no. of vehichle</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZBRFIAPS0015">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ID_SEQ">
            <xsd:annotation>
              <xsd:documentation>Character Field Length = 10</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WT_TYPE">
            <xsd:annotation>
              <xsd:documentation>Indicator for withholding tax type</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WT_CODE">
            <xsd:annotation>
              <xsd:documentation>Indicator for withholding tax type</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VALOR_LANC_RS">
            <xsd:annotation>
              <xsd:documentation>Valor Lançamento</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZBRFIAPS0013">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ID_SEQ">
            <xsd:annotation>
              <xsd:documentation>Character Field Length = 10</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CURRENCY">
            <xsd:annotation>
              <xsd:documentation>Currency Key</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VALOR_LANC_RS">
            <xsd:annotation>
              <xsd:documentation>Valor Lançamento</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZBRFIAPS0014">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ID_SEQ">
            <xsd:annotation>
              <xsd:documentation>Character Field Length = 10</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="HKONT">
            <xsd:annotation>
              <xsd:documentation>General Ledger Account</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OBSERV">
            <xsd:annotation>
              <xsd:documentation>Item Text</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NUM_CONTABIL">
            <xsd:annotation>
              <xsd:documentation>Nº Contabil</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VENC_DATE" type="p1:date">
            <xsd:annotation>
              <xsd:documentation>Baseline Date For Due Date Calculation</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="LIFNR">
            <xsd:annotation>
              <xsd:documentation>Account Number of Vendor or Creditor</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ALLOC_NMBR">
            <xsd:annotation>
              <xsd:documentation>Assignment Number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="KOSTL">
            <xsd:annotation>
              <xsd:documentation>Cost Center</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PLANT">
            <xsd:annotation>
              <xsd:documentation>Plant</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZBRFIAPS0011">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ID_SEQ">
            <xsd:annotation>
              <xsd:documentation>Character Field Length = 10</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NOME_LEGADO">
            <xsd:annotation>
              <xsd:documentation>User Name</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BUKRS">
            <xsd:annotation>
              <xsd:documentation>Company Code</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BLDAT" type="p1:date">
            <xsd:annotation>
              <xsd:documentation>Document Date in Document</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="NRCGCCIC">
            <xsd:annotation>
              <xsd:documentation>CNPJ/CFP Proprietáio do veiculo</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="14" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NUM_CONTABIL">
            <xsd:annotation>
              <xsd:documentation>Nº Contabil</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TIPO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OBSERV">
            <xsd:annotation>
              <xsd:documentation>Item Text</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZBRFIAPS0012">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ID_SEQ">
            <xsd:annotation>
              <xsd:documentation>Character Field Length = 10</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LIFNR">
            <xsd:annotation>
              <xsd:documentation>Account Number of Vendor or Creditor</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NUM_CONTABIL">
            <xsd:annotation>
              <xsd:documentation>Nº Contabil</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VENC_DATE" type="p1:date">
            <xsd:annotation>
              <xsd:documentation>Baseline Date For Due Date Calculation</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ALLOC_NMBR">
            <xsd:annotation>
              <xsd:documentation>Assignment Number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OBSERV">
            <xsd:annotation>
              <xsd:documentation>Item Text</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BANK_ID">
            <xsd:annotation>
              <xsd:documentation>Short key for a house bank</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BUSINESSPLACE">
            <xsd:annotation>
              <xsd:documentation>Stores</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZBRFIAPS0001">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TIPO">
            <xsd:annotation>
              <xsd:documentation>Single-Character Flag</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BUKRS">
            <xsd:annotation>
              <xsd:documentation>Company Code</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BELNR">
            <xsd:annotation>
              <xsd:documentation>Accounting Document Number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ARBGB">
            <xsd:annotation>
              <xsd:documentation>Application Area</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MSGNR">
            <xsd:annotation>
              <xsd:documentation>Message number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NATXT">
            <xsd:annotation>
              <xsd:documentation>Message Text</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="73" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p1.DT_Recibo_Frete_req">
    <wsdl:documentation />
    <wsdl:part name="DT_Recibo_Frete_req" element="p1:DT_Recibo_Frete_req" />
  </wsdl:message>
  <wsdl:message name="p1.DT_Recibo_Frete_resp">
    <wsdl:documentation />
    <wsdl:part name="DT_Recibo_Frete_resp" element="p1:DT_Recibo_Frete_resp" />
  </wsdl:message>
  <wsdl:portType name="SI_Recibo_Frete_Sync_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_Recibo_Frete_Sync_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_Recibo_Frete_Sync_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:p1.DT_Recibo_Frete_req" />
      <wsdl:output message="p1:p1.DT_Recibo_Frete_resp" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_Recibo_Frete_Sync_OUTBinding" type="p1:SI_Recibo_Frete_Sync_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_Recibo_Frete_Sync_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_Recibo_Frete_Sync_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_Recibo_Frete_Sync_OUTBinding">
      <address location="http://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_TMS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Recibo_Frete_Sync_OUT&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FRecibo_Frete_FI" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_Recibo_Frete_Sync_OUTBinding">
      <address location="https://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_TMS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Recibo_Frete_Sync_OUT&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FRecibo_Frete_FI" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>