SGT.Mobile/Connected Services/NFe/NFe.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="UnidadeMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M3" />
      <xs:enumeration value="KG" />
      <xs:enumeration value="TON" />
      <xs:enumeration value="UN" />
      <xs:enumeration value="LT" />
      <xs:enumeration value="MMBTU" />
      <xs:enumeration value="M3_ST">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UnidadeMedida" nillable="true" type="tns:UnidadeMedida" />
  <xs:simpleType name="TipoPessoa">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fisica" />
      <xs:enumeration value="Juridica" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPessoa" nillable="true" type="tns:TipoPessoa" />
  <xs:simpleType name="TipoProprietarioVeiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TACAgregado" />
      <xs:enumeration value="TACIndependente" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoProprietarioVeiculo" nillable="true" type="tns:TipoProprietarioVeiculo" />
  <xs:simpleType name="TipoCompraValePedagio">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="Cartao" />
      <xs:enumeration value="Tag" />
      <xs:enumeration value="Cupom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoCompraValePedagio" nillable="true" type="tns:TipoCompraValePedagio" />
  <xs:simpleType name="TipoPagamento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pago" />
      <xs:enumeration value="A_Pagar" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPagamento" nillable="true" type="tns:TipoPagamento" />
  <xs:simpleType name="TipoTomador">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoInformado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Remetente">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Expedidor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Recebedor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Destinatario">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Intermediario" />
      <xs:enumeration value="Outros">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoTomador" nillable="true" type="tns:TipoTomador" />
</xs:schema>