SGT.Mobile/Connected Services/NFe/NFe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NFe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd14" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" />
      <xsd:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.NFe" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INFe_BuscarNotasFiscaisVinculadas_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNotasFiscaisVinculadas" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarNotasFiscaisVinculadas_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNotasFiscaisVinculadasResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarStreamImagemCanhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarStreamImagemCanhoto" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarStreamImagemCanhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarStreamImagemCanhotoResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarImagemCanhotoLeituraOCR_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarImagemCanhotoLeituraOCR" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarImagemCanhotoLeituraOCR_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarImagemCanhotoLeituraOCRResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarImagemCanhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarImagemCanhoto" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarImagemCanhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarImagemCanhotoResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarCargasAguardandoNotasFiscais_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCargasAguardandoNotasFiscais" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarCargasAguardandoNotasFiscais_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCargasAguardandoNotasFiscaisResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_ConfirmarRecebimentoCargaAguardandoNotasFiscais_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarRecebimentoCargaAguardandoNotasFiscais" />
  </wsdl:message>
  <wsdl:message name="INFe_ConfirmarRecebimentoCargaAguardandoNotasFiscais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarRecebimentoCargaAguardandoNotasFiscaisResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarArquivoXMLNFe_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarArquivoXMLNFe" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarArquivoXMLNFe_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarArquivoXMLNFeResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_IntegrarNotasFiscais_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarNotasFiscais" />
  </wsdl:message>
  <wsdl:message name="INFe_IntegrarNotasFiscais_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarNotasFiscaisResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_IntegrarNotasFiscaisComAverbacaoeValePedagio_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarNotasFiscaisComAverbacaoeValePedagio" />
  </wsdl:message>
  <wsdl:message name="INFe_IntegrarNotasFiscaisComAverbacaoeValePedagio_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarNotasFiscaisComAverbacaoeValePedagioResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_IntegrarNotaFiscal_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="INFe_IntegrarNotaFiscal_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_InformarCancelamentoNotaFiscal_InputMessage">
    <wsdl:part name="parameters" element="tns:InformarCancelamentoNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="INFe_InformarCancelamentoNotaFiscal_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformarCancelamentoNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_IntegrarNotaFiscalPorPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarNotaFiscalPorPedido" />
  </wsdl:message>
  <wsdl:message name="INFe_IntegrarNotaFiscalPorPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarNotaFiscalPorPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarCanhotosAvulsos_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCanhotosAvulsos" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarCanhotosAvulsos_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCanhotosAvulsosResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatarioResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario" />
  </wsdl:message>
  <wsdl:message name="INFe_ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatarioResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_ExcluirNotaFiscalPorChave_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirNotaFiscalPorChave" />
  </wsdl:message>
  <wsdl:message name="INFe_ExcluirNotaFiscalPorChave_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirNotaFiscalPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_ExcluirNotaFiscal_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="INFe_ExcluirNotaFiscal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_RemoverNotaFiscal_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="INFe_RemoverNotaFiscal_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_InformarDadosContabeisNotaFiscal_InputMessage">
    <wsdl:part name="parameters" element="tns:InformarDadosContabeisNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="INFe_InformarDadosContabeisNotaFiscal_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformarDadosContabeisNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_IntegrarDadosNotasFiscais_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarDadosNotasFiscais" />
  </wsdl:message>
  <wsdl:message name="INFe_IntegrarDadosNotasFiscais_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarDadosNotasFiscaisResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarStreamImagemOcorrencia_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarStreamImagemOcorrencia" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarStreamImagemOcorrencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarStreamImagemOcorrenciaResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarDigitalizacaoCanhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDigitalizacaoCanhoto" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarDigitalizacaoCanhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDigitalizacaoCanhotoResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarImagemOcorrencia_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarImagemOcorrencia" />
  </wsdl:message>
  <wsdl:message name="INFe_EnviarImagemOcorrencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarImagemOcorrenciaResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarCanhotosNotasFiscaisDigitalizados_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCanhotosNotasFiscaisDigitalizados" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarCanhotosNotasFiscaisDigitalizados_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCanhotosNotasFiscaisDigitalizadosResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_ConfirmarIntegracaoDigitalizacaoCanhotoNotasFiscais_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoDigitalizacaoCanhotoNotasFiscais" />
  </wsdl:message>
  <wsdl:message name="INFe_ConfirmarIntegracaoDigitalizacaoCanhotoNotasFiscais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoDigitalizacaoCanhotoNotasFiscaisResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarCanhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCanhoto" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarCanhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCanhotoResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarCanhotoPorChaveNFe_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCanhotoPorChaveNFe" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarCanhotoPorChaveNFe_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCanhotoPorChaveNFeResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_SolicitarCancelamentoDoPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarCancelamentoDoPedido" />
  </wsdl:message>
  <wsdl:message name="INFe_SolicitarCancelamentoDoPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarCancelamentoDoPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_EnvioNFeColeta_InputMessage">
    <wsdl:part name="parameters" element="tns:EnvioNFeColeta" />
  </wsdl:message>
  <wsdl:message name="INFe_EnvioNFeColeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnvioNFeColetaResponse" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarNotasPorNumeroCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNotasPorNumeroCarga" />
  </wsdl:message>
  <wsdl:message name="INFe_BuscarNotasPorNumeroCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNotasPorNumeroCargaResponse" />
  </wsdl:message>
  <wsdl:portType name="INFe">
    <wsdl:operation name="BuscarNotasFiscaisVinculadas">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/BuscarNotasFiscaisVinculadas" message="tns:INFe_BuscarNotasFiscaisVinculadas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/BuscarNotasFiscaisVinculadasResponse" message="tns:INFe_BuscarNotasFiscaisVinculadas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarStreamImagemCanhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/EnviarStreamImagemCanhoto" message="tns:INFe_EnviarStreamImagemCanhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/EnviarStreamImagemCanhotoResponse" message="tns:INFe_EnviarStreamImagemCanhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarImagemCanhotoLeituraOCR">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/EnviarImagemCanhotoLeituraOCR" message="tns:INFe_EnviarImagemCanhotoLeituraOCR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/EnviarImagemCanhotoLeituraOCRResponse" message="tns:INFe_EnviarImagemCanhotoLeituraOCR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarImagemCanhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/EnviarImagemCanhoto" message="tns:INFe_EnviarImagemCanhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/EnviarImagemCanhotoResponse" message="tns:INFe_EnviarImagemCanhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCargasAguardandoNotasFiscais">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/BuscarCargasAguardandoNotasFiscais" message="tns:INFe_BuscarCargasAguardandoNotasFiscais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/BuscarCargasAguardandoNotasFiscaisResponse" message="tns:INFe_BuscarCargasAguardandoNotasFiscais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarRecebimentoCargaAguardandoNotasFiscais">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/ConfirmarRecebimentoCargaAguardandoNotasFiscais" message="tns:INFe_ConfirmarRecebimentoCargaAguardandoNotasFiscais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/ConfirmarRecebimentoCargaAguardandoNotasFiscaisResponse" message="tns:INFe_ConfirmarRecebimentoCargaAguardandoNotasFiscais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarArquivoXMLNFe">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/EnviarArquivoXMLNFe" message="tns:INFe_EnviarArquivoXMLNFe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/EnviarArquivoXMLNFeResponse" message="tns:INFe_EnviarArquivoXMLNFe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarNotasFiscais">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/IntegrarNotasFiscais" message="tns:INFe_IntegrarNotasFiscais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/IntegrarNotasFiscaisResponse" message="tns:INFe_IntegrarNotasFiscais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarNotasFiscaisComAverbacaoeValePedagio">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/IntegrarNotasFiscaisComAverbacaoeValePedagio" message="tns:INFe_IntegrarNotasFiscaisComAverbacaoeValePedagio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/IntegrarNotasFiscaisComAverbacaoeValePedagioResponse" message="tns:INFe_IntegrarNotasFiscaisComAverbacaoeValePedagio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarNotaFiscal">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/IntegrarNotaFiscal" message="tns:INFe_IntegrarNotaFiscal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/IntegrarNotaFiscalResponse" message="tns:INFe_IntegrarNotaFiscal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformarCancelamentoNotaFiscal">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/InformarCancelamentoNotaFiscal" message="tns:INFe_InformarCancelamentoNotaFiscal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/InformarCancelamentoNotaFiscalResponse" message="tns:INFe_InformarCancelamentoNotaFiscal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarNotaFiscalPorPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/IntegrarNotaFiscalPorPedido" message="tns:INFe_IntegrarNotaFiscalPorPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/IntegrarNotaFiscalPorPedidoResponse" message="tns:INFe_IntegrarNotaFiscalPorPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCanhotosAvulsos">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/BuscarCanhotosAvulsos" message="tns:INFe_BuscarCanhotosAvulsos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/BuscarCanhotosAvulsosResponse" message="tns:INFe_BuscarCanhotosAvulsos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario" message="tns:INFe_BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatarioResponse" message="tns:INFe_BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario" message="tns:INFe_ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatarioResponse" message="tns:INFe_ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirNotaFiscalPorChave">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/ExcluirNotaFiscalPorChave" message="tns:INFe_ExcluirNotaFiscalPorChave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/ExcluirNotaFiscalPorChaveResponse" message="tns:INFe_ExcluirNotaFiscalPorChave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirNotaFiscal">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/ExcluirNotaFiscal" message="tns:INFe_ExcluirNotaFiscal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/ExcluirNotaFiscalResponse" message="tns:INFe_ExcluirNotaFiscal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverNotaFiscal">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/RemoverNotaFiscal" message="tns:INFe_RemoverNotaFiscal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/RemoverNotaFiscalResponse" message="tns:INFe_RemoverNotaFiscal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformarDadosContabeisNotaFiscal">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/InformarDadosContabeisNotaFiscal" message="tns:INFe_InformarDadosContabeisNotaFiscal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/InformarDadosContabeisNotaFiscalResponse" message="tns:INFe_InformarDadosContabeisNotaFiscal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarDadosNotasFiscais">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/IntegrarDadosNotasFiscais" message="tns:INFe_IntegrarDadosNotasFiscais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/IntegrarDadosNotasFiscaisResponse" message="tns:INFe_IntegrarDadosNotasFiscais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarStreamImagemOcorrencia">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/EnviarStreamImagemOcorrencia" message="tns:INFe_EnviarStreamImagemOcorrencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/EnviarStreamImagemOcorrenciaResponse" message="tns:INFe_EnviarStreamImagemOcorrencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDigitalizacaoCanhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/EnviarDigitalizacaoCanhoto" message="tns:INFe_EnviarDigitalizacaoCanhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/EnviarDigitalizacaoCanhotoResponse" message="tns:INFe_EnviarDigitalizacaoCanhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarImagemOcorrencia">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/EnviarImagemOcorrencia" message="tns:INFe_EnviarImagemOcorrencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/EnviarImagemOcorrenciaResponse" message="tns:INFe_EnviarImagemOcorrencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCanhotosNotasFiscaisDigitalizados">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/BuscarCanhotosNotasFiscaisDigitalizados" message="tns:INFe_BuscarCanhotosNotasFiscaisDigitalizados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/BuscarCanhotosNotasFiscaisDigitalizadosResponse" message="tns:INFe_BuscarCanhotosNotasFiscaisDigitalizados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoDigitalizacaoCanhotoNotasFiscais">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/ConfirmarIntegracaoDigitalizacaoCanhotoNotasFiscais" message="tns:INFe_ConfirmarIntegracaoDigitalizacaoCanhotoNotasFiscais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/ConfirmarIntegracaoDigitalizacaoCanhotoNotasFiscaisResponse" message="tns:INFe_ConfirmarIntegracaoDigitalizacaoCanhotoNotasFiscais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCanhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/BuscarCanhoto" message="tns:INFe_BuscarCanhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/BuscarCanhotoResponse" message="tns:INFe_BuscarCanhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCanhotoPorChaveNFe">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/BuscarCanhotoPorChaveNFe" message="tns:INFe_BuscarCanhotoPorChaveNFe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/BuscarCanhotoPorChaveNFeResponse" message="tns:INFe_BuscarCanhotoPorChaveNFe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SolicitarCancelamentoDoPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/SolicitarCancelamentoDoPedido" message="tns:INFe_SolicitarCancelamentoDoPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/SolicitarCancelamentoDoPedidoResponse" message="tns:INFe_SolicitarCancelamentoDoPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnvioNFeColeta">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/EnvioNFeColeta" message="tns:INFe_EnvioNFeColeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/EnvioNFeColetaResponse" message="tns:INFe_EnvioNFeColeta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNotasPorNumeroCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/INFe/BuscarNotasPorNumeroCarga" message="tns:INFe_BuscarNotasPorNumeroCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFe/BuscarNotasPorNumeroCargaResponse" message="tns:INFe_BuscarNotasPorNumeroCarga_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INFe" type="tns:INFe">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarNotasFiscaisVinculadas">
      <soap:operation soapAction="http://tempuri.org/INFe/BuscarNotasFiscaisVinculadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarStreamImagemCanhoto">
      <soap:operation soapAction="http://tempuri.org/INFe/EnviarStreamImagemCanhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarImagemCanhotoLeituraOCR">
      <soap:operation soapAction="http://tempuri.org/INFe/EnviarImagemCanhotoLeituraOCR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarImagemCanhoto">
      <soap:operation soapAction="http://tempuri.org/INFe/EnviarImagemCanhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCargasAguardandoNotasFiscais">
      <soap:operation soapAction="http://tempuri.org/INFe/BuscarCargasAguardandoNotasFiscais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarRecebimentoCargaAguardandoNotasFiscais">
      <soap:operation soapAction="http://tempuri.org/INFe/ConfirmarRecebimentoCargaAguardandoNotasFiscais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarArquivoXMLNFe">
      <soap:operation soapAction="http://tempuri.org/INFe/EnviarArquivoXMLNFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarNotasFiscais">
      <soap:operation soapAction="http://tempuri.org/INFe/IntegrarNotasFiscais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarNotasFiscaisComAverbacaoeValePedagio">
      <soap:operation soapAction="http://tempuri.org/INFe/IntegrarNotasFiscaisComAverbacaoeValePedagio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/INFe/IntegrarNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformarCancelamentoNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/INFe/InformarCancelamentoNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarNotaFiscalPorPedido">
      <soap:operation soapAction="http://tempuri.org/INFe/IntegrarNotaFiscalPorPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCanhotosAvulsos">
      <soap:operation soapAction="http://tempuri.org/INFe/BuscarCanhotosAvulsos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario">
      <soap:operation soapAction="http://tempuri.org/INFe/BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario">
      <soap:operation soapAction="http://tempuri.org/INFe/ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirNotaFiscalPorChave">
      <soap:operation soapAction="http://tempuri.org/INFe/ExcluirNotaFiscalPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/INFe/ExcluirNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/INFe/RemoverNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformarDadosContabeisNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/INFe/InformarDadosContabeisNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarDadosNotasFiscais">
      <soap:operation soapAction="http://tempuri.org/INFe/IntegrarDadosNotasFiscais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarStreamImagemOcorrencia">
      <soap:operation soapAction="http://tempuri.org/INFe/EnviarStreamImagemOcorrencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDigitalizacaoCanhoto">
      <soap:operation soapAction="http://tempuri.org/INFe/EnviarDigitalizacaoCanhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarImagemOcorrencia">
      <soap:operation soapAction="http://tempuri.org/INFe/EnviarImagemOcorrencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCanhotosNotasFiscaisDigitalizados">
      <soap:operation soapAction="http://tempuri.org/INFe/BuscarCanhotosNotasFiscaisDigitalizados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoDigitalizacaoCanhotoNotasFiscais">
      <soap:operation soapAction="http://tempuri.org/INFe/ConfirmarIntegracaoDigitalizacaoCanhotoNotasFiscais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCanhoto">
      <soap:operation soapAction="http://tempuri.org/INFe/BuscarCanhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCanhotoPorChaveNFe">
      <soap:operation soapAction="http://tempuri.org/INFe/BuscarCanhotoPorChaveNFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolicitarCancelamentoDoPedido">
      <soap:operation soapAction="http://tempuri.org/INFe/SolicitarCancelamentoDoPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioNFeColeta">
      <soap:operation soapAction="http://tempuri.org/INFe/EnvioNFeColeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNotasPorNumeroCarga">
      <soap:operation soapAction="http://tempuri.org/INFe/BuscarNotasPorNumeroCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFe">
    <wsdl:port name="BasicHttpBinding_INFe" binding="tns:BasicHttpBinding_INFe">
      <soap:address location="http://localhost:5146/NFe.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>