SGT.Mobile/Connected Services/NFe/NFe144.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.NFe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.NFe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDadosNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DadosNotaFiscal" nillable="true" type="tns:DadosNotaFiscal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDadosNotaFiscal" nillable="true" type="tns:ArrayOfDadosNotaFiscal" />
  <xs:complexType name="DadosNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracaoDestinatario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracaoEmitente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosNotaFiscal" nillable="true" type="tns:DadosNotaFiscal" />
</xs:schema>