SGT.Mobile/Connected Services/NFe/NFe6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd14" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" />
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" />
  <xs:import schemaLocation="http://localhost:5146/NFe.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="BuscarNotasFiscaisVinculadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCarga" type="xs:int" />
        <xs:element minOccurs="0" name="protocoloPedido" type="xs:int" />
        <xs:element minOccurs="0" name="chaveCTe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNotasFiscaisVinculadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarNotasFiscaisVinculadasResult" nillable="true" type="q1:RetornoOfPaginacaoOfNotaFiscal6G1AQy_Sx51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarStreamImagemCanhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="imagem" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarStreamImagemCanhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarStreamImagemCanhotoResult" nillable="true" type="q3:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarImagemCanhotoLeituraOCR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" type="xs:int" />
        <xs:element minOccurs="0" name="tokenImagem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarImagemCanhotoLeituraOCRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarImagemCanhotoLeituraOCRResult" nillable="true" type="q4:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarImagemCanhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" type="xs:int" />
        <xs:element minOccurs="0" name="canhoto" type="xs:int" />
        <xs:element minOccurs="0" name="tokenImagem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataEntregaNotaCliente" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="chaveNFe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroNota" type="xs:int" />
        <xs:element minOccurs="0" name="serieNota" type="xs:int" />
        <xs:element minOccurs="0" name="cnpjCpfEmissor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarImagemCanhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarImagemCanhotoResult" nillable="true" type="q5:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasAguardandoNotasFiscais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasAguardandoNotasFiscaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCargasAguardandoNotasFiscaisResult" nillable="true" type="q6:RetornoOfPaginacaoOfProtocolosVQbIXuKl51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarRecebimentoCargaAguardandoNotasFiscais">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q7:Protocolos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarRecebimentoCargaAguardandoNotasFiscaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarRecebimentoCargaAguardandoNotasFiscaisResult" nillable="true" type="q8:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarArquivoXMLNFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/Message" name="arquivo" type="q9:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarArquivoXMLNFeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarArquivoXMLNFeResult" nillable="true" type="q10:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarNotasFiscais">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q11:Protocolos" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" minOccurs="0" name="TokensXMLNotasFiscais" nillable="true" type="q12:ArrayOfTokenNF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarNotasFiscaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="IntegrarNotasFiscaisResult" nillable="true" type="q13:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarNotasFiscaisComAverbacaoeValePedagio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q14:Protocolos" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" minOccurs="0" name="TokensXMLNotasFiscais" nillable="true" type="q15:ArrayOfTokenNF" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Averbacao" nillable="true" type="q16:Averbacao" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" minOccurs="0" name="ValePedagio" nillable="true" type="q17:ValePedagio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarNotasFiscaisComAverbacaoeValePedagioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="IntegrarNotasFiscaisComAverbacaoeValePedagioResult" nillable="true" type="q18:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarNotaFiscal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" minOccurs="0" name="tokenXML" nillable="true" type="q19:TokenNF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarNotaFiscalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="IntegrarNotaFiscalResult" nillable="true" type="q20:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarCancelamentoNotaFiscal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloNFe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarCancelamentoNotaFiscalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="InformarCancelamentoNotaFiscalResult" nillable="true" type="q21:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarNotaFiscalPorPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="Pedido" nillable="true" type="q22:Pedido" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" minOccurs="0" name="TokenXMLNotaFiscal" nillable="true" type="q23:TokenNF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarNotaFiscalPorPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="IntegrarNotaFiscalPorPedidoResult" nillable="true" type="q24:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCanhotosAvulsos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCanhotosAvulsosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCanhotosAvulsosResult" nillable="true" type="q25:RetornoOfPaginacaoOfCanhotoAvulso6G1AQy_Sx51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarNotasFiscaisComRecebimentoConfirmadoNoDestinatarioResult" nillable="true" type="q26:RetornoOfPaginacaoOfNotaFiscal6G1AQy_Sx51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloNFe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarRecebimentoNotaFiscalComRecebimentoConfirmadoNoDestinatarioResult" nillable="true" type="q27:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirNotaFiscalPorChave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q28:Protocolos" />
        <xs:element minOccurs="0" name="chaveNFe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirNotaFiscalPorChaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ExcluirNotaFiscalPorChaveResult" nillable="true" type="q29:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirNotaFiscal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q30:Protocolos" />
        <xs:element minOccurs="0" name="protocoloNotaFiscal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirNotaFiscalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ExcluirNotaFiscalResult" nillable="true" type="q31:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverNotaFiscal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="notaFiscal" nillable="true" type="q32:NotaFiscal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverNotaFiscalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="RemoverNotaFiscalResult" nillable="true" type="q33:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarDadosContabeisNotaFiscal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" minOccurs="0" name="notasFiscais" nillable="true" type="q34:ArrayOfNotaFiscal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarDadosContabeisNotaFiscalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="InformarDadosContabeisNotaFiscalResult" nillable="true" type="q35:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarDadosNotasFiscais">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q36:Protocolos" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" minOccurs="0" name="notasFiscais" nillable="true" type="q37:ArrayOfNotaFiscal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarDadosNotasFiscaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="IntegrarDadosNotasFiscaisResult" nillable="true" type="q38:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarStreamImagemOcorrencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/Message" name="imagem" type="q39:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarStreamImagemOcorrenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarStreamImagemOcorrenciaResult" nillable="true" type="q40:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDigitalizacaoCanhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" minOccurs="0" name="canhotoIntegracao" nillable="true" type="q41:Canhoto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDigitalizacaoCanhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarDigitalizacaoCanhotoResult" nillable="true" type="q42:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarImagemOcorrencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" type="xs:int" />
        <xs:element minOccurs="0" name="ocorrencia" type="xs:int" />
        <xs:element minOccurs="0" name="tokenImagem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarImagemOcorrenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarImagemOcorrenciaResult" nillable="true" type="q43:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCanhotosNotasFiscaisDigitalizados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCanhotosNotasFiscaisDigitalizadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCanhotosNotasFiscaisDigitalizadosResult" nillable="true" type="q44:RetornoOfPaginacaoOfCanhoto6G1AQy_Sx51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoDigitalizacaoCanhotoNotasFiscais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoDigitalizacaoCanhotoNotasFiscaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoDigitalizacaoCanhotoNotasFiscaisResult" nillable="true" type="q45:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCanhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCanhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCanhotoResult" nillable="true" type="q46:RetornoOfCanhotoNotaFiscal6G1AQy_Sx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCanhotoPorChaveNFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chaveNFe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCanhotoPorChaveNFeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCanhotoPorChaveNFeResult" nillable="true" type="q47:RetornoOfCanhotoNotaFiscal6G1AQy_Sx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCancelamentoDoPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoPedido" type="xs:int" />
        <xs:element minOccurs="0" name="motivoDoCancelamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCancelamentoDoPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SolicitarCancelamentoDoPedidoResult" nillable="true" type="q48:RetornoOfRetornoSolicitacaoCancelamentoTRAZTvlX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvioNFeColeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroOS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroContainer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taraContainer" type="xs:decimal" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaLacres" nillable="true" type="q49:ArrayOfstring" />
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaChaves" nillable="true" type="q50:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvioNFeColetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnvioNFeColetaResult" nillable="true" type="q51:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNotasPorNumeroCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="numerosCarga" nillable="true" type="q52:ArrayOfstring" />
        <xs:element minOccurs="0" name="dataCriacaoCargaInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataCriacaoCargaFinal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoIntegracaoFilial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinatario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoTipoOperacao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNotasPorNumeroCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarNotasPorNumeroCargaResult" nillable="true" type="q53:RetornoOfPaginacaoOfDadosNotaFiscalgj5B5PAD51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>