Servicos/Service References/ServicoDigitalCom/DcloggWS4Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://dclogg.digitalcomm.com.br/ValePedagio/v4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="DcloggWS4Service" targetNamespace="http://dclogg.digitalcomm.com.br/ValePedagio/v4" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="DcloggWS4PortBinding_MTOM_Policy">
    <ns1:OptimizedMimeSerialization wsp:Optional="true" xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
  </wsp:Policy>
  <types>
    <xs:schema targetNamespace="http://dclogg.digitalcomm.com.br/ValePedagio/v4" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="DataLoad" nillable="true" type="xs:anyType" />
      <xs:element name="DcloggWSException" type="tns:DcloggWSException" />
      <xs:element name="listarMeioPagamentoVeiculo" type="tns:listarMeioPagamentoVeiculo" />
      <xs:element name="listarMeioPagamentoVeiculoResponse" type="tns:listarMeioPagamentoVeiculoResponse" />
      <xs:element name="obterStatusVeiculo" type="tns:obterStatusVeiculo" />
      <xs:element name="obterStatusVeiculoResponse" type="tns:obterStatusVeiculoResponse" />
      <xs:complexType name="categoriaVeiculoVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoriaRodocred" type="xs:int" />
          <xs:element minOccurs="0" name="descricao" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tipoOperacaoVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="descricao" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="statusVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="descricao" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="messageKey" type="xs:string" />
          <xs:element minOccurs="0" name="tipoMensagem" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DcloggWSException">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="messageKey" type="xs:string" />
          <xs:element minOccurs="0" name="resourceBundle" type="tns:resourceBundle" />
          <xs:element minOccurs="0" name="resourceBundleDB" type="tns:resourceBundleDB" />
          <xs:element minOccurs="0" name="tipoMensagem" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="resourceBundle" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="resourceBundleDB">
        <xs:sequence>
          <xs:element minOccurs="0" name="bundle" type="xs:string" />
          <xs:element minOccurs="0" name="countryCode" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="languageCode" type="xs:string" />
          <xs:element minOccurs="0" name="stringId" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
          <xs:element minOccurs="0" name="variantCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cidadeVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cidade" type="xs:string" />
          <xs:element minOccurs="0" name="codigoCidade" type="xs:string" />
          <xs:element minOccurs="0" name="codigoCidadeDbtrans" type="xs:int" />
          <xs:element minOccurs="0" name="codigoEstado" type="xs:string" />
          <xs:element minOccurs="0" name="codigoIbge" type="xs:int" />
          <xs:element minOccurs="0" name="siglaEstado" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mesAnoVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ano" type="xs:int" />
          <xs:element minOccurs="0" name="mes" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="transportadoraVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cnpj" type="xs:string" />
          <xs:element minOccurs="0" name="codigo" type="xs:int" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="idTransportadora" type="xs:string" />
          <xs:element minOccurs="0" name="razaoSocial" type="xs:string" />
          <xs:element minOccurs="0" name="rntrc" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="veiculoVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoriaVeiculo" type="tns:categoriaVeiculoVO" />
          <xs:element minOccurs="0" name="nomeMotorista" type="xs:string" />
          <xs:element name="nroEixo" type="xs:int" />
          <xs:element minOccurs="0" name="placaVeiculo" type="xs:string" />
          <xs:element minOccurs="0" name="tag" type="xs:string" />
          <xs:element minOccurs="0" name="transportadora" type="tns:transportadoraVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listarMeioPagamentoVeiculo">
        <xs:sequence>
          <xs:element minOccurs="0" name="placaVeiculo" type="xs:string" />
          <xs:element minOccurs="0" name="cnpj" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listarMeioPagamentoVeiculoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:obterStatusVeiculoVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="obterStatusVeiculoVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="meansOfPayment" type="tns:meiosPagamentoEnum" />
          <xs:element minOccurs="0" name="nroEixo" type="xs:int" />
          <xs:element minOccurs="0" name="placaVeiculo" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="tns:statusVO" />
          <xs:element minOccurs="0" name="tag" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="obterStatusVeiculo">
        <xs:sequence>
          <xs:element minOccurs="0" name="placaVeiculo" type="xs:string" />
          <xs:element minOccurs="0" name="meansOfPayment" type="tns:meiosPagamentoEnum" />
          <xs:element minOccurs="0" name="cnpj" type="xs:string" />
          <xs:element minOccurs="0" name="login" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="obterStatusVeiculoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:obterStatusVeiculoVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="meiosPagamentoEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SEM_PARAR" />
          <xs:enumeration value="DBTRANS" />
          <xs:enumeration value="REPOM" />
          <xs:enumeration value="TARGET_MP" />
          <xs:enumeration value="MOVE_MAIS" />
          <xs:enumeration value="VELOE" />
          <xs:enumeration value="CONECTCAR" />
          <xs:enumeration value="NOT_DEFINED" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </types>
  <message name="DcloggWSException">
    <part name="fault" element="tns:DcloggWSException" />
  </message>
  <message name="listarMeioPagamentoVeiculo">
    <part name="parameters" element="tns:listarMeioPagamentoVeiculo" />
  </message>
  <message name="listarMeioPagamentoVeiculoResponse">
    <part name="parameters" element="tns:listarMeioPagamentoVeiculoResponse" />
  </message>
  <message name="obterStatusVeiculo">
    <part name="parameters" element="tns:obterStatusVeiculo" />
  </message>
  <message name="obterStatusVeiculoResponse">
    <part name="parameters" element="tns:obterStatusVeiculoResponse" />
  </message>
  <portType name="IDcloggWS4">
    <operation name="listarMeioPagamentoVeiculo">
      <input wsam:Action="http://dclogg.digitalcomm.com.br/ValePedagio/v4/IDcloggWS4/listarMeioPagamentoVeiculoRequest" message="tns:listarMeioPagamentoVeiculo" />
      <output wsam:Action="http://dclogg.digitalcomm.com.br/ValePedagio/v4/IDcloggWS4/listarMeioPagamentoVeiculoResponse" message="tns:listarMeioPagamentoVeiculoResponse" />
      <fault wsam:Action="http://dclogg.digitalcomm.com.br/ValePedagio/v4/IDcloggWS4/listarMeioPagamentoVeiculo/Fault/DcloggWSException" name="DcloggWSException" message="tns:DcloggWSException" />
    </operation>
    <operation name="obterStatusVeiculo">
      <input wsam:Action="http://dclogg.digitalcomm.com.br/ValePedagio/v4/IDcloggWS4/obterStatusVeiculoRequest" message="tns:obterStatusVeiculo" />
      <output wsam:Action="http://dclogg.digitalcomm.com.br/ValePedagio/v4/IDcloggWS4/obterStatusVeiculoResponse" message="tns:obterStatusVeiculoResponse" />
      <fault wsam:Action="http://dclogg.digitalcomm.com.br/ValePedagio/v4/IDcloggWS4/obterStatusVeiculo/Fault/DcloggWSException" name="DcloggWSException" message="tns:DcloggWSException" />
    </operation>
  </portType>
  <binding name="DcloggWS4PortBinding" type="tns:IDcloggWS4">
    <wsp:PolicyReference URI="#DcloggWS4PortBinding_MTOM_Policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarMeioPagamentoVeiculo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DcloggWSException">
        <soap:fault use="literal" name="DcloggWSException" namespace="" />
      </fault>
    </operation>
    <operation name="obterStatusVeiculo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DcloggWSException">
        <soap:fault use="literal" name="DcloggWSException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="DcloggWS4Service">
    <port name="DcloggWS4Port" binding="tns:DcloggWS4PortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL" />
    </port>
  </service>
</definitions>