Servicos/Service References/ServicoSAP_ST_Cancelamento/SI_Cancel_ST_Sync_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://jsl.com.br/Cancel_ST_FI" name="SI_Cancel_ST_Sync_OUT" targetNamespace="http://jsl.com.br/Cancel_ST_FI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_Cancel_ST_Sync_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="http://jsl.com.br/Cancel_ST_FI" targetNamespace="http://jsl.com.br/Cancel_ST_FI" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_Cancel_ST_resp" type="p1:DT_Cancel_ST_resp" />
      <xsd:element name="MT_Cancel_ST_req" type="p1:DT_Cancel_ST_req" />
      <xsd:complexType name="DT_Cancel_ST_req">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">81881f4db57411e5afe2000032d838ee</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="T_DOC">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Item">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="DOC_CONT_ST" type="xsd:string" />
                      <xsd:element name="EMPRESA" type="xsd:string" />
                      <xsd:element name="EXERCICIO" type="xsd:string" />
                      <xsd:element name="FORNECEDOR" type="xsd:string" />
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Cancel_ST_resp">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">c62db607b57411e59dc5000032d838ee</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="T_RETURN">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Item">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="TIPO" type="xsd:string" />
                      <xsd:element minOccurs="0" name="EMPRESA" type="xsd:string" />
                      <xsd:element minOccurs="0" name="DOC_CONT" type="xsd:string" />
                      <xsd:element minOccurs="0" name="AREA_FUNC" type="xsd:string" />
                      <xsd:element minOccurs="0" name="NUM_MSG" type="xsd:string" />
                      <xsd:element minOccurs="0" name="TEXTO_MSG" type="xsd:string" />
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Cancel_ST_req">
    <wsdl:documentation />
    <wsdl:part name="MT_Cancel_ST_req" element="p1:MT_Cancel_ST_req" />
  </wsdl:message>
  <wsdl:message name="MT_Cancel_ST_resp">
    <wsdl:documentation />
    <wsdl:part name="MT_Cancel_ST_resp" element="p1:MT_Cancel_ST_resp" />
  </wsdl:message>
  <wsdl:portType name="SI_Cancel_ST_Sync_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_Cancel_ST_Sync_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_Cancel_ST_Sync_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_Cancel_ST_req" />
      <wsdl:output message="p1:MT_Cancel_ST_resp" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_Cancel_ST_Sync_OUTBinding" type="p1:SI_Cancel_ST_Sync_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_Cancel_ST_Sync_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_Cancel_ST_Sync_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_Cancel_ST_Sync_OUTBinding">
      <address location="http://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;&amp;senderService=BC_JSL_FRETES&amp;&amp;receiverParty=&amp;&amp;receiverService=&amp;&amp;interface=SI_Cancel_ST_Sync_OUT&amp;&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FCancel_ST_FI" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_Cancel_ST_Sync_OUTBinding">
      <address location="https://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;&amp;senderService=BC_JSL_FRETES&amp;&amp;receiverParty=&amp;&amp;receiverService=&amp;&amp;interface=SI_Cancel_ST_Sync_OUT&amp;&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FCancel_ST_FI" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>