Servicos/Service References/ServicoMinerva.IntegraCargas/IntegraCargas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.minervafoods.com/IntegraCargasME" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.minervafoods.com/IntegraCargasME" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.minervafoods.com/IntegraCargasME">
      <s:element name="IntegrarDocumentosCarga">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documentosCarga" type="tns:ArrayOfDocumentosCarga" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDocumentosCarga">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DocumentosCarga" nillable="true" type="tns:DocumentosCarga" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DocumentosCarga">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodFilial" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProtocoloCarga" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NumCarregamento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumPedidoEmbarcador" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="cTe" type="tns:CTe" />
          <s:element minOccurs="0" maxOccurs="1" name="mDFe" type="tns:MDFe" />
          <s:element minOccurs="0" maxOccurs="1" name="Averbacao" type="tns:DadosAverbacao" />
          <s:element minOccurs="0" maxOccurs="1" name="Pedagio" type="tns:DadosPedagio" />
          <s:element minOccurs="0" maxOccurs="1" name="ComponentesDoFrete" type="tns:ArrayOfComponentesFrete" />
          <s:element minOccurs="1" maxOccurs="1" name="NumRedespacho" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumProtocolo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CTe">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ChaveCTe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XMLCTe" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorFrete" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorICMS" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AliquotaICMS" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorISS" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AliquotaISS" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DataEmissao" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MDFe">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ChaveMDFe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XMLMDFe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UFCarregamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UFDescarregamento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DadosAverbacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NumAverbacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apolice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Averbadora" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DtaRetorno" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MsgRetorno" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DadosPedagio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NumValePedagio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Integradora" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SituacaoPedagio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorPedagio" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tentativas" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SituacaoIntegracao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DtaRetorno" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MsgRetorno" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfComponentesFrete">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ComponentesFrete" nillable="true" type="tns:ComponentesFrete" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ComponentesFrete">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoIntegracao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescricaoComponente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoComponente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DescontarValorTotalAReceber" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IncluirBaseCalculoICMS" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorComponente" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="IntegrarDocumentosCargaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IntegrarDocumentosCargaResult" type="tns:RetornoPadrao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoPadrao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Retorno" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="RetornoMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IntegrarDocumentosCargaNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documentosCarga" type="tns:ArrayOfDocumentosCarga" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntegrarDocumentosCargaNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IntegrarDocumentosCargaNewResult" type="tns:RetornoPadrao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntegrarCancelamentoCarga">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargaCancelamento" type="tns:CargaCancelamento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CargaCancelamento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodFilial" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Protocolo_Carga" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NumPedidoEmbarcador" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="IntegrarCancelamentoCargaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IntegrarCancelamentoCargaResult" type="tns:RetornoPadrao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntegraCTeComplementar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cTeComplementar" type="tns:CTeComplementar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CTeComplementar">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProtocoloCarga" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProtocoloOcorrencia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoOcorrencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoIntegracaoComponente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ComponenteFrete" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorOcorrencia" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ObsOcorrencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cTes" type="tns:ArrayOfCTe" />
          <s:element minOccurs="0" maxOccurs="1" name="CpfUsuario" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataOcorrencia" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Provisionada" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCTe">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CTe" nillable="true" type="tns:CTe" />
        </s:sequence>
      </s:complexType>
      <s:element name="IntegraCTeComplementarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IntegraCTeComplementarResult" type="tns:RetornoPadrao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntegrarCancelamentoOcorrencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="protocoloCarga" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="protocoloOcorrencia" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="usuarioCancelamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="motivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntegrarCancelamentoOcorrenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IntegrarCancelamentoOcorrenciaResult" type="tns:RetornoPadrao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscaDanfeNFe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chave_nfe" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscaDanfeNFeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscaDanfeNFeResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarNotasFiscaisPorCNPJ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnpj_emitente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="data_inicio" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="data_fim" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="cod_filial" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_operacao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarNotasFiscaisPorCNPJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarNotasFiscaisPorCNPJResult" type="tns:ArrayOfNotasFiscaisTerceiros" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfNotasFiscaisTerceiros">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NotasFiscaisTerceiros" nillable="true" type="tns:NotasFiscaisTerceiros" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NotasFiscaisTerceiros">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="chave_acesso_nfe" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dta_emissao" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="xml_nfe" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GerarDanfeNFe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlNFe" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarDanfeNFeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GerarDanfeNFeResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravarDadosCanhoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dadosCanhoto" type="tns:Canhoto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Canhoto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodFilial" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProtocoloCarga" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NumCarregamentoMulti" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndTipoCanhoto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DtaEmissao" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DtaDigitalizacao" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Situacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SituacaoDigitalizacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChaveAcesso" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DtaEvento" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoEvento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioAprovacao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GravarDadosCanhotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GravarDadosCanhotoResult" type="tns:RetornoPadrao" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IntegrarDocumentosCargaSoapIn">
    <wsdl:part name="parameters" element="tns:IntegrarDocumentosCarga" />
  </wsdl:message>
  <wsdl:message name="IntegrarDocumentosCargaSoapOut">
    <wsdl:part name="parameters" element="tns:IntegrarDocumentosCargaResponse" />
  </wsdl:message>
  <wsdl:message name="IntegrarDocumentosCargaNewSoapIn">
    <wsdl:part name="parameters" element="tns:IntegrarDocumentosCargaNew" />
  </wsdl:message>
  <wsdl:message name="IntegrarDocumentosCargaNewSoapOut">
    <wsdl:part name="parameters" element="tns:IntegrarDocumentosCargaNewResponse" />
  </wsdl:message>
  <wsdl:message name="IntegrarCancelamentoCargaSoapIn">
    <wsdl:part name="parameters" element="tns:IntegrarCancelamentoCarga" />
  </wsdl:message>
  <wsdl:message name="IntegrarCancelamentoCargaSoapOut">
    <wsdl:part name="parameters" element="tns:IntegrarCancelamentoCargaResponse" />
  </wsdl:message>
  <wsdl:message name="IntegraCTeComplementarSoapIn">
    <wsdl:part name="parameters" element="tns:IntegraCTeComplementar" />
  </wsdl:message>
  <wsdl:message name="IntegraCTeComplementarSoapOut">
    <wsdl:part name="parameters" element="tns:IntegraCTeComplementarResponse" />
  </wsdl:message>
  <wsdl:message name="IntegrarCancelamentoOcorrenciaSoapIn">
    <wsdl:part name="parameters" element="tns:IntegrarCancelamentoOcorrencia" />
  </wsdl:message>
  <wsdl:message name="IntegrarCancelamentoOcorrenciaSoapOut">
    <wsdl:part name="parameters" element="tns:IntegrarCancelamentoOcorrenciaResponse" />
  </wsdl:message>
  <wsdl:message name="BuscaDanfeNFeSoapIn">
    <wsdl:part name="parameters" element="tns:BuscaDanfeNFe" />
  </wsdl:message>
  <wsdl:message name="BuscaDanfeNFeSoapOut">
    <wsdl:part name="parameters" element="tns:BuscaDanfeNFeResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarNotasFiscaisPorCNPJSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarNotasFiscaisPorCNPJ" />
  </wsdl:message>
  <wsdl:message name="BuscarNotasFiscaisPorCNPJSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarNotasFiscaisPorCNPJResponse" />
  </wsdl:message>
  <wsdl:message name="GerarDanfeNFeSoapIn">
    <wsdl:part name="parameters" element="tns:GerarDanfeNFe" />
  </wsdl:message>
  <wsdl:message name="GerarDanfeNFeSoapOut">
    <wsdl:part name="parameters" element="tns:GerarDanfeNFeResponse" />
  </wsdl:message>
  <wsdl:message name="GravarDadosCanhotoSoapIn">
    <wsdl:part name="parameters" element="tns:GravarDadosCanhoto" />
  </wsdl:message>
  <wsdl:message name="GravarDadosCanhotoSoapOut">
    <wsdl:part name="parameters" element="tns:GravarDadosCanhotoResponse" />
  </wsdl:message>
  <wsdl:portType name="IntegraCargasSoap">
    <wsdl:operation name="IntegrarDocumentosCarga">
      <wsdl:input message="tns:IntegrarDocumentosCargaSoapIn" />
      <wsdl:output message="tns:IntegrarDocumentosCargaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarDocumentosCargaNew">
      <wsdl:input message="tns:IntegrarDocumentosCargaNewSoapIn" />
      <wsdl:output message="tns:IntegrarDocumentosCargaNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarCancelamentoCarga">
      <wsdl:input message="tns:IntegrarCancelamentoCargaSoapIn" />
      <wsdl:output message="tns:IntegrarCancelamentoCargaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IntegraCTeComplementar">
      <wsdl:input message="tns:IntegraCTeComplementarSoapIn" />
      <wsdl:output message="tns:IntegraCTeComplementarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IntegrarCancelamentoOcorrencia">
      <wsdl:input message="tns:IntegrarCancelamentoOcorrenciaSoapIn" />
      <wsdl:output message="tns:IntegrarCancelamentoOcorrenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscaDanfeNFe">
      <wsdl:input message="tns:BuscaDanfeNFeSoapIn" />
      <wsdl:output message="tns:BuscaDanfeNFeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNotasFiscaisPorCNPJ">
      <wsdl:input message="tns:BuscarNotasFiscaisPorCNPJSoapIn" />
      <wsdl:output message="tns:BuscarNotasFiscaisPorCNPJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GerarDanfeNFe">
      <wsdl:input message="tns:GerarDanfeNFeSoapIn" />
      <wsdl:output message="tns:GerarDanfeNFeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GravarDadosCanhoto">
      <wsdl:input message="tns:GravarDadosCanhotoSoapIn" />
      <wsdl:output message="tns:GravarDadosCanhotoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntegraCargasSoap" type="tns:IntegraCargasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IntegrarDocumentosCarga">
      <soap:operation soapAction="http://www.minervafoods.com/IntegraCargasME/IntegrarDocumentosCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarDocumentosCargaNew">
      <soap:operation soapAction="http://www.minervafoods.com/IntegraCargasME/IntegrarDocumentosCargaNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarCancelamentoCarga">
      <soap:operation soapAction="http://www.minervafoods.com/IntegraCargasME/IntegrarCancelamentoCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegraCTeComplementar">
      <soap:operation soapAction="http://www.minervafoods.com/IntegraCargasME/IntegraCTeComplementar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarCancelamentoOcorrencia">
      <soap:operation soapAction="http://www.minervafoods.com/IntegraCargasME/IntegrarCancelamentoOcorrencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaDanfeNFe">
      <soap:operation soapAction="http://www.minervafoods.com/IntegraCargasME/BuscaDanfeNFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNotasFiscaisPorCNPJ">
      <soap:operation soapAction="http://www.minervafoods.com/IntegraCargasME/BuscarNotasFiscaisPorCNPJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarDanfeNFe">
      <soap:operation soapAction="http://www.minervafoods.com/IntegraCargasME/GerarDanfeNFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravarDadosCanhoto">
      <soap:operation soapAction="http://www.minervafoods.com/IntegraCargasME/GravarDadosCanhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IntegraCargasSoap12" type="tns:IntegraCargasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IntegrarDocumentosCarga">
      <soap12:operation soapAction="http://www.minervafoods.com/IntegraCargasME/IntegrarDocumentosCarga" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarDocumentosCargaNew">
      <soap12:operation soapAction="http://www.minervafoods.com/IntegraCargasME/IntegrarDocumentosCargaNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarCancelamentoCarga">
      <soap12:operation soapAction="http://www.minervafoods.com/IntegraCargasME/IntegrarCancelamentoCarga" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegraCTeComplementar">
      <soap12:operation soapAction="http://www.minervafoods.com/IntegraCargasME/IntegraCTeComplementar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrarCancelamentoOcorrencia">
      <soap12:operation soapAction="http://www.minervafoods.com/IntegraCargasME/IntegrarCancelamentoOcorrencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaDanfeNFe">
      <soap12:operation soapAction="http://www.minervafoods.com/IntegraCargasME/BuscaDanfeNFe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNotasFiscaisPorCNPJ">
      <soap12:operation soapAction="http://www.minervafoods.com/IntegraCargasME/BuscarNotasFiscaisPorCNPJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarDanfeNFe">
      <soap12:operation soapAction="http://www.minervafoods.com/IntegraCargasME/GerarDanfeNFe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravarDadosCanhoto">
      <soap12:operation soapAction="http://www.minervafoods.com/IntegraCargasME/GravarDadosCanhoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegraCargas">
    <wsdl:port name="IntegraCargasSoap" binding="tns:IntegraCargasSoap">
      <soap:address location="http://190.1.1.31:7075/IntegraCargas.asmx" />
    </wsdl:port>
    <wsdl:port name="IntegraCargasSoap12" binding="tns:IntegraCargasSoap12">
      <soap12:address location="http://190.1.1.31:7075/IntegraCargas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>