Servicos/Service References/ServicoConsultaCTe/CosultaCTe11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ICMS" />
  <xs:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ISS" />
  <xs:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:complexType name="FreteValor">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComponentesAdicionais" nillable="true" type="tns:ArrayOfComponenteAdicional" />
      <xs:element minOccurs="0" name="FreteProprio" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ICMS" minOccurs="0" name="ICMS" nillable="true" type="q1:ICMS" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ISS" minOccurs="0" name="ISS" nillable="true" type="q2:ISS" />
      <xs:element minOccurs="0" name="ValorPrestacaoServico" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalAReceber" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FreteValor" nillable="true" type="tns:FreteValor" />
  <xs:complexType name="ArrayOfComponenteAdicional">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComponenteAdicional" nillable="true" type="tns:ComponenteAdicional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComponenteAdicional" nillable="true" type="tns:ArrayOfComponenteAdicional" />
  <xs:complexType name="ComponenteAdicional">
    <xs:sequence>
      <xs:element minOccurs="0" name="Componente" nillable="true" type="tns:Componente" />
      <xs:element minOccurs="0" name="DescontarValorTotalAReceber" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncluirBaseCalculoICMS" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValorComponente" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComponenteAdicional" nillable="true" type="tns:ComponenteAdicional" />
  <xs:complexType name="Componente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoComponenteFrete" type="q3:TipoComponenteFrete" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Componente" nillable="true" type="tns:Componente" />
</xs:schema>