Servicos/Service References/ServicoConsultaCTe/CosultaCTe10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="TipoPessoa">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fisica" />
      <xs:enumeration value="Juridica" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPessoa" nillable="true" type="tns:TipoPessoa" />
  <xs:simpleType name="TipoProprietarioVeiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TACAgregado" />
      <xs:enumeration value="TACIndependente" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoProprietarioVeiculo" nillable="true" type="tns:TipoProprietarioVeiculo" />
  <xs:simpleType name="UnidadeMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M3" />
      <xs:enumeration value="KG" />
      <xs:enumeration value="TON" />
      <xs:enumeration value="UN" />
      <xs:enumeration value="LT" />
      <xs:enumeration value="MMBTU" />
      <xs:enumeration value="M3_ST">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UnidadeMedida" nillable="true" type="tns:UnidadeMedida" />
  <xs:simpleType name="TipoSeguro">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Remetente" />
      <xs:enumeration value="Expedidor" />
      <xs:enumeration value="Recebedor" />
      <xs:enumeration value="Destinatario" />
      <xs:enumeration value="Emitente_CTE" />
      <xs:enumeration value="Tomador_Servico" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoSeguro" nillable="true" type="tns:TipoSeguro" />
  <xs:simpleType name="TipoAmbiente">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Producao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Homologacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoAmbiente" nillable="true" type="tns:TipoAmbiente" />
  <xs:simpleType name="TipoCTE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Normal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Complemento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Anulacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Substituto">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoCTE" nillable="true" type="tns:TipoCTE" />
  <xs:simpleType name="TipoImpressao">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Retrato">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Paisagem">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoImpressao" nillable="true" type="tns:TipoImpressao" />
  <xs:simpleType name="TipoPagamento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pago" />
      <xs:enumeration value="A_Pagar" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPagamento" nillable="true" type="tns:TipoPagamento" />
  <xs:simpleType name="TipoServico">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="SubContratacao" />
      <xs:enumeration value="Redespacho" />
      <xs:enumeration value="RedIntermediario" />
      <xs:enumeration value="ServVinculadoMultimodal" />
      <xs:enumeration value="TransporteDePessoas">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TransporteDeValores">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ExcessoDeBagagem">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoServico" nillable="true" type="tns:TipoServico" />
  <xs:simpleType name="TipoTomador">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Remetente" />
      <xs:enumeration value="Expedidor" />
      <xs:enumeration value="Recebedor" />
      <xs:enumeration value="Destinatario" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoTomador" nillable="true" type="tns:TipoTomador" />
</xs:schema>