Servicos/Service References/ServicoConsultaCTe/CosultaCTe6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" />
  <xs:complexType name="RequisicaoSefaz">
    <xs:sequence>
      <xs:element minOccurs="0" name="Captcha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EVENTVALIDATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenCaptcha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEWSTATE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequisicaoSefaz" nillable="true" type="tns:RequisicaoSefaz" />
  <xs:complexType name="ConsultaSefaz">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" minOccurs="0" name="CTe" nillable="true" type="q1:CTe" />
      <xs:element minOccurs="0" name="ConsultaValida" type="xs:boolean" />
      <xs:element minOccurs="0" name="MensagemSefaz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultaSefaz" nillable="true" type="tns:ConsultaSefaz" />
</xs:schema>