Servicos/Service References/ServicoConsultaCTe/CosultaCTe5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
  <xs:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
  <xs:element name="SolicitarRequisicaoSefaz">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarRequisicaoSefazResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SolicitarRequisicaoSefazResult" nillable="true" type="q1:RetornoOfRequisicaoSefazpIzbOyUQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSefaz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="requisicaoSefaz" nillable="true" type="q2:RequisicaoSefaz" />
        <xs:element minOccurs="0" name="ChaveCTe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Capcha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSefazResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConsultarSefazResult" nillable="true" type="q3:RetornoOfConsultaSefazpIzbOyUQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>