Servicos/Service References/ServicoNatura.ProcessaConsultaNF/SI_ProcessaConsultaNFSync_OB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://www.natura.net/ConsultaNF" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_ProcessaConsultaNFSync_OB" targetNamespace="http://www.natura.net/ConsultaNF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_ProcessaConsultaNFSync_OB" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.natura.net/ConsultaNF" targetNamespace="http://www.natura.net/ConsultaNF" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_RecebeProtocoloNF" type="p1:DT_RecebeProtocoloNF" />
      <xsd:element name="MT_EnviaParamConsultaNF" type="p1:DT_EnviaParamConsultaNF" />
      <xsd:complexType name="DT_EnviaParamConsultaNF">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">f71e341936c311e5b99b00000189c4e2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="dados">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">f79a051c23e611e583c354ec5bba1438</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="dataDe" type="xsd:date">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f79a051923e611e59b4654ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="dataAte" type="xsd:date">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">695c4abd36c111e598ceaaaaaaac9800</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="codTranspEmit" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f79a051a23e611e5a2fe54ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="codTranspMatriz" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">55f8aaec36c111e598fdaaaaaaac9800</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="numTransporte" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f79a051b23e611e5aabf54ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_RecebeProtocoloNF">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">dca444151a6e11e5be2c00000189c4e2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="dados">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="protocolo" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_EnviaParamConsultaNF">
    <wsdl:documentation />
    <wsdl:part name="MT_EnviaParamConsultaNF" element="p1:MT_EnviaParamConsultaNF" />
  </wsdl:message>
  <wsdl:message name="MT_RecebeProtocoloNF">
    <wsdl:documentation />
    <wsdl:part name="MT_RecebeProtocoloNF" element="p1:MT_RecebeProtocoloNF" />
  </wsdl:message>
  <wsdl:portType name="SI_ProcessaConsultaNFSync_OB">
    <wsdl:documentation />
    <wsdl:operation name="SI_ProcessaConsultaNFSync_OB">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_ProcessaConsultaNFSync_OB" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_EnviaParamConsultaNF" />
      <wsdl:output message="p1:MT_RecebeProtocoloNF" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ProcessaConsultaNFSync_OBBinding" type="p1:SI_ProcessaConsultaNFSync_OB">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_ProcessaConsultaNFSync_OB">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ProcessaConsultaNFSync_OBService">
    <wsdl:port name="SI_ProcessaConsultaNFSync_OBPort" binding="p1:SI_ProcessaConsultaNFSync_OBBinding">
      <address location="http://aslx88br.natura.com.br:50200/sap/xi/engine?type=entry&amp;version=3.0&amp;Sender.Service=TRANSPORTES&amp;Interface=http%3A%2F%2Fwww.natura.net%2FConsultaNF%5ESI_ProcessaConsultaNFSync_OB" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>