Servicos/Service References/ServicoBBC/CiotService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="https://ciot.jslleasing.com.br/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="https://ciot.jslleasing.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://ciot.jslleasing.com.br/Imports">
      <xsd:import schemaLocation="https://ciotwsb.bancobbcdigital.com.br:8091/CiotService.svc?xsd=xsd0" namespace="https://ciot.jslleasing.com.br/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CiotService_DeclararOperacaoTransporte_InputMessage">
    <wsdl:part name="parameters" element="tns:DeclararOperacaoTransporte" />
  </wsdl:message>
  <wsdl:message name="CiotService_DeclararOperacaoTransporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeclararOperacaoTransporteResponse" />
  </wsdl:message>
  <wsdl:message name="CiotService_ConsultarSituacaoTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSituacaoTransportador" />
  </wsdl:message>
  <wsdl:message name="CiotService_ConsultarSituacaoTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSituacaoTransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="CiotService_ConsultarFrotaTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarFrotaTransportador" />
  </wsdl:message>
  <wsdl:message name="CiotService_ConsultarFrotaTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarFrotaTransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="CiotService_CancelarOperacaoTransporte_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarOperacaoTransporte" />
  </wsdl:message>
  <wsdl:message name="CiotService_CancelarOperacaoTransporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarOperacaoTransporteResponse" />
  </wsdl:message>
  <wsdl:message name="CiotService_RetificarOperacaoTransporte_InputMessage">
    <wsdl:part name="parameters" element="tns:RetificarOperacaoTransporte" />
  </wsdl:message>
  <wsdl:message name="CiotService_RetificarOperacaoTransporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetificarOperacaoTransporteResponse" />
  </wsdl:message>
  <wsdl:message name="CiotService_ConsultarSituacaoCiot_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSituacaoCiot" />
  </wsdl:message>
  <wsdl:message name="CiotService_ConsultarSituacaoCiot_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSituacaoCiotResponse" />
  </wsdl:message>
  <wsdl:message name="CiotService_EncerrarOperacaoTransporte_InputMessage">
    <wsdl:part name="parameters" element="tns:EncerrarOperacaoTransporte" />
  </wsdl:message>
  <wsdl:message name="CiotService_EncerrarOperacaoTransporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncerrarOperacaoTransporteResponse" />
  </wsdl:message>
  <wsdl:message name="CiotService_ConsultarOperacaoTacAgregado_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarOperacaoTacAgregado" />
  </wsdl:message>
  <wsdl:message name="CiotService_ConsultarOperacaoTacAgregado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarOperacaoTacAgregadoResponse" />
  </wsdl:message>
  <wsdl:portType name="CiotService">
    <wsdl:operation name="DeclararOperacaoTransporte">
      <wsdl:input wsaw:Action="https://ciot.jslleasing.com.br/CiotService/DeclararOperacaoTransporte" message="tns:CiotService_DeclararOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="https://ciot.jslleasing.com.br/CiotService/DeclararOperacaoTransporteResponse" message="tns:CiotService_DeclararOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoTransportador">
      <wsdl:input wsaw:Action="https://ciot.jslleasing.com.br/CiotService/ConsultarSituacaoTransportador" message="tns:CiotService_ConsultarSituacaoTransportador_InputMessage" />
      <wsdl:output wsaw:Action="https://ciot.jslleasing.com.br/CiotService/ConsultarSituacaoTransportadorResponse" message="tns:CiotService_ConsultarSituacaoTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarFrotaTransportador">
      <wsdl:input wsaw:Action="https://ciot.jslleasing.com.br/CiotService/ConsultarFrotaTransportador" message="tns:CiotService_ConsultarFrotaTransportador_InputMessage" />
      <wsdl:output wsaw:Action="https://ciot.jslleasing.com.br/CiotService/ConsultarFrotaTransportadorResponse" message="tns:CiotService_ConsultarFrotaTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarOperacaoTransporte">
      <wsdl:input wsaw:Action="https://ciot.jslleasing.com.br/CiotService/CancelarOperacaoTransporte" message="tns:CiotService_CancelarOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="https://ciot.jslleasing.com.br/CiotService/CancelarOperacaoTransporteResponse" message="tns:CiotService_CancelarOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetificarOperacaoTransporte">
      <wsdl:input wsaw:Action="https://ciot.jslleasing.com.br/CiotService/RetificarOperacaoTransporte" message="tns:CiotService_RetificarOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="https://ciot.jslleasing.com.br/CiotService/RetificarOperacaoTransporteResponse" message="tns:CiotService_RetificarOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoCiot">
      <wsdl:input wsaw:Action="https://ciot.jslleasing.com.br/CiotService/ConsultarSituacaoCiot" message="tns:CiotService_ConsultarSituacaoCiot_InputMessage" />
      <wsdl:output wsaw:Action="https://ciot.jslleasing.com.br/CiotService/ConsultarSituacaoCiotResponse" message="tns:CiotService_ConsultarSituacaoCiot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EncerrarOperacaoTransporte">
      <wsdl:input wsaw:Action="https://ciot.jslleasing.com.br/CiotService/EncerrarOperacaoTransporte" message="tns:CiotService_EncerrarOperacaoTransporte_InputMessage" />
      <wsdl:output wsaw:Action="https://ciot.jslleasing.com.br/CiotService/EncerrarOperacaoTransporteResponse" message="tns:CiotService_EncerrarOperacaoTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarOperacaoTacAgregado">
      <wsdl:input wsaw:Action="https://ciot.jslleasing.com.br/CiotService/ConsultarOperacaoTacAgregado" message="tns:CiotService_ConsultarOperacaoTacAgregado_InputMessage" />
      <wsdl:output wsaw:Action="https://ciot.jslleasing.com.br/CiotService/ConsultarOperacaoTacAgregadoResponse" message="tns:CiotService_ConsultarOperacaoTacAgregado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>