Servicos/Service References/ServicoBBC/CiotService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:i0="https://ciot.jslleasing.com.br/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CiotService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_CiotService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="https://ciot.jslleasing.com.br/" location="https://ciotwsb.bancobbcdigital.com.br:8091/CiotService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_CiotService" type="i0:CiotService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeclararOperacaoTransporte">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/DeclararOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoTransportador">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/ConsultarSituacaoTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarFrotaTransportador">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/ConsultarFrotaTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarOperacaoTransporte">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/CancelarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetificarOperacaoTransporte">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/RetificarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoCiot">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/ConsultarSituacaoCiot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncerrarOperacaoTransporte">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/EncerrarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarOperacaoTacAgregado">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/ConsultarOperacaoTacAgregado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_CiotService" type="i0:CiotService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_CiotService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeclararOperacaoTransporte">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/DeclararOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoTransportador">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/ConsultarSituacaoTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarFrotaTransportador">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/ConsultarFrotaTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarOperacaoTransporte">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/CancelarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetificarOperacaoTransporte">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/RetificarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoCiot">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/ConsultarSituacaoCiot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncerrarOperacaoTransporte">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/EncerrarOperacaoTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarOperacaoTacAgregado">
      <soap:operation soapAction="https://ciot.jslleasing.com.br/CiotService/ConsultarOperacaoTacAgregado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CiotService">
    <wsdl:port name="BasicHttpBinding_CiotService" binding="tns:BasicHttpBinding_CiotService">
      <soap:address location="http://ciotwsb.bancobbcdigital.com.br:8090/CiotService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_CiotService" binding="tns:BasicHttpsBinding_CiotService">
      <soap:address location="https://ciotwsb.bancobbcdigital.com.br:8091/CiotService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>