Servicos/Service References/ServicoSAP.ConsultaCTe/SI_Consulta_Doc_Sync_I101_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://jsl.com.br/ConsultaDocumento_I101" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_Consulta_Doc_Sync_I101_OUT" targetNamespace="http://jsl.com.br/ConsultaDocumento_I101" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_Consulta_Doc_Sync_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="http://jsl.com.br/ConsultaDocumento_I101" targetNamespace="http://jsl.com.br/ConsultaDocumento_I101" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_Consulta_Doc_Req" type="p1:DT_Consulta_Doc_Req" />
      <xsd:element name="MT_Consulta_Doc_Resp" type="p1:DT_Consulta_Doc_Resp" />
      <xsd:complexType name="DT_Consulta_Doc_Resp">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">80108307ff5611e9c1270000332d37ea</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ID_CONTROLE" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb6dfb8111e9ac6b025041000001</xsd:appinfo>
              <xsd:documentation>ID de Controle</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NUM_DOC_EXT" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb6efb8111e98800025041000001</xsd:appinfo>
              <xsd:documentation>Nº. Documento Externo Emitido</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SERIE" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb6ffb8111e9a619025041000001</xsd:appinfo>
              <xsd:documentation>Série</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CENTRO" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb70fb8111e9abc9025041000001</xsd:appinfo>
              <xsd:documentation>Centro (próprio ou externo)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DOC_VENDA" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb71fb8111e9cd32025041000001</xsd:appinfo>
              <xsd:documentation>Documento de vendas</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ITEM_DEOC_VENDA" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb72fb8111e9c6de025041000001</xsd:appinfo>
              <xsd:documentation>Item do documento de vendas</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TIPO_DOC_VENDA" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb73fb8111e99e35025041000001</xsd:appinfo>
              <xsd:documentation>Tipo de documento de vendas</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TIPO_PEDIDO" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb74fb8111e9c4fb025041000001</xsd:appinfo>
              <xsd:documentation>Tipo de pedido do cliente (pedido feito por telefone,fax..)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DOC_FATURA" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb75fb8111e99836025041000001</xsd:appinfo>
              <xsd:documentation>Documento de faturamento</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NUM_DOC" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb76fb8111e9cacd025041000001</xsd:appinfo>
              <xsd:documentation>Nº documento</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="STATUS_PROC" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb77fb8111e99885025041000001</xsd:appinfo>
              <xsd:documentation>Status do processamento</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="STATUS_ENV" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb78fb8111e9aa4f025041000001</xsd:appinfo>
              <xsd:documentation>Status do Envio</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NUM_NF" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb79fb8111e990cb025041000001</xsd:appinfo>
              <xsd:documentation>Número Nota Fiscal</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NOME_RESP" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb7afb8111e9b028025041000001</xsd:appinfo>
              <xsd:documentation>Nome do responsável que adicionou o objeto</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DT_REG" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb7bfb8111e98c95025041000001</xsd:appinfo>
              <xsd:documentation>Data de criação do registro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="HR_REG" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb7cfb8111e9a180025041000001</xsd:appinfo>
              <xsd:documentation>Hora do registro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DT_ENV" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb7dfb8111e9c0e5025041000001</xsd:appinfo>
              <xsd:documentation>Data do envio</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="HR_ENV" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb7efb8111e9bdd6025041000001</xsd:appinfo>
              <xsd:documentation>Hora do Envio</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MENSAGEM" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7e13eb7ffb8111e98a58025041000001</xsd:appinfo>
              <xsd:documentation>Mensagem</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Consulta_Doc_Req">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">801de22cff5611e9901e0000332d37ea</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ID_CONTROLE" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">c4ec0b72fb8011e9a1c8025041000001</xsd:appinfo>
              <xsd:documentation>ID de Controle</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NUM_DOC_EXT" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">c4ec0b73fb8011e98d61025041000001</xsd:appinfo>
              <xsd:documentation>Nº. Documento Externo Emitido</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SERIE" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">c4ec0b74fb8011e9b2a9025041000001</xsd:appinfo>
              <xsd:documentation>Série</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CENTRO" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">c4ec0b75fb8011e983d1025041000001</xsd:appinfo>
              <xsd:documentation>Centro (próprio ou externo)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Consulta_Doc_Req">
    <wsdl:documentation />
    <wsdl:part name="MT_Consulta_Doc_Req" element="p1:MT_Consulta_Doc_Req" />
  </wsdl:message>
  <wsdl:message name="MT_Consulta_Doc_Resp">
    <wsdl:documentation />
    <wsdl:part name="MT_Consulta_Doc_Resp" element="p1:MT_Consulta_Doc_Resp" />
  </wsdl:message>
  <wsdl:portType name="SI_Consulta_Doc_Sync_I101_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_Consulta_Doc_Sync_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_Consulta_Doc_Sync_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_Consulta_Doc_Req" />
      <wsdl:output message="p1:MT_Consulta_Doc_Resp" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_Consulta_Doc_Sync_I101_OUTBinding" type="p1:SI_Consulta_Doc_Sync_I101_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_Consulta_Doc_Sync_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_Consulta_Doc_Sync_I101_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_Consulta_Doc_Sync_I101_OUTBinding">
      <address location="http://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_TMS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Consulta_Doc_Sync_I101_OUT&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FConsultaDocumento_I101" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_Consulta_Doc_Sync_I101_OUTBinding">
      <address location="https://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_TMS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Consulta_Doc_Sync_I101_OUT&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FConsultaDocumento_I101" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>