Servicos/Service References/ServicoSGT.Financeiro/Financeiro6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd25" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Fatura" />
  <xs:element name="BuscarTituloAReceberQuitadoPendentesIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTituloAReceberQuitadoPendentesIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarTituloAReceberQuitadoPendentesIntegracaoResult" nillable="true" type="q1:RetornoOfPaginacaoOfTituloQuitadoZDIs1xja51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoTituloQuitado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoTituloQuitadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoTituloQuitadoResult" nillable="true" type="q2:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDocumentoEntradaPorOrdemCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloOrdemCompra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDocumentoEntradaPorOrdemCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConsultarDocumentoEntradaPorOrdemCompraResult" nillable="true" type="q3:RetornoOfPaginacaoOfDocumentoEntradaZDIs1xja51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitarTituloPagar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
        <xs:element minOccurs="0" name="dataPagamento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valorAcrescimo" type="xs:decimal" />
        <xs:element minOccurs="0" name="valorDesconto" type="xs:decimal" />
        <xs:element minOccurs="0" name="codigoIntegracaoFormaPagamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitarTituloPagarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="QuitarTituloPagarResult" nillable="true" type="q4:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTitulosPagarPendenteIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
        <xs:element minOccurs="0" name="codigoIntergracaoTipoMovimento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTitulosPagarPendenteIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarTitulosPagarPendenteIntegracaoResult" nillable="true" type="q5:RetornoOfPaginacaoOfTituloZDIs1xja51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoTituloPagar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoTituloPagarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoTituloPagarResult" nillable="true" type="q6:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarFaturaCompleta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Fatura" minOccurs="0" name="faturaIntegracao" nillable="true" type="q7:FaturaIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarFaturaCompletaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarFaturaCompletaResult" nillable="true" type="q8:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="RecebePDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Fatura" minOccurs="0" name="faturaIntegracao" nillable="true" type="q7:FaturaIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebePDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="RecebePDFResult" nillable="true" type="q8:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>