Servicos/Service References/ServicoSGT.Financeiro/Financeiro14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
  <xs:complexType name="ArrayOfTituloQuitado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TituloQuitado" nillable="true" type="tns:TituloQuitado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTituloQuitado" nillable="true" type="tns:ArrayOfTituloQuitado" />
  <xs:complexType name="TituloQuitado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atribuicao" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="CTes" nillable="true" type="q1:ArrayOfCTe" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Conta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Empresa" nillable="true" type="q2:Empresa" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoBaixa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoMovimento" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Pessoa" nillable="true" type="q3:Pessoa" />
      <xs:element minOccurs="0" name="PlanoRecebimento" nillable="true" type="tns:PlanoDeConta" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoTitulo" type="q4:TipoTitulo" />
      <xs:element minOccurs="0" name="ValorOriginal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPago" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TituloQuitado" nillable="true" type="tns:TituloQuitado" />
  <xs:complexType name="CentroResultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CentroResultado" nillable="true" type="tns:CentroResultado" />
  <xs:complexType name="PlanoDeConta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plano" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanoDeConta" nillable="true" type="tns:PlanoDeConta" />
  <xs:complexType name="ArrayOfDocumentoEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentoEntrada" nillable="true" type="tns:DocumentoEntrada" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentoEntrada" nillable="true" type="tns:ArrayOfDocumentoEntrada" />
  <xs:complexType name="DocumentoEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataEntrada" type="xs:dateTime" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q5:Empresa" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Fornecedor" nillable="true" type="q6:Pessoa" />
      <xs:element minOccurs="0" name="Numero" type="xs:long" />
      <xs:element minOccurs="0" name="OrdemCompra" nillable="true" type="tns:OrdemCompra" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="Produtos" nillable="true" type="q7:ArrayOfProduto" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorBruto" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorProdutos" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalDesconto" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoEntrada" nillable="true" type="tns:DocumentoEntrada" />
  <xs:complexType name="OrdemCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="CondicaoPagamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataPrevisaoRetorno" type="xs:dateTime" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Fornecedor" nillable="true" type="q8:Pessoa" />
      <xs:element minOccurs="0" name="MotivoCompra" nillable="true" type="tns:MotivoCompra" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="Produtos" nillable="true" type="q9:ArrayOfProduto" />
      <xs:element minOccurs="0" name="StrData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrDataPrevisaoRetorno" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Transportador" nillable="true" type="q10:Pessoa" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculo" nillable="true" type="q11:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdemCompra" nillable="true" type="tns:OrdemCompra" />
  <xs:complexType name="MotivoCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MotivoCompra" nillable="true" type="tns:MotivoCompra" />
  <xs:complexType name="ArrayOfTitulo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Titulo" nillable="true" type="tns:Titulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTitulo" nillable="true" type="tns:ArrayOfTitulo" />
  <xs:complexType name="Titulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoAbastecimento" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIntegracaoPagamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataVencimento" type="xs:dateTime" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Empresa" nillable="true" type="q12:Empresa" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="FormaTitulo" type="q13:FormaTitulo" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Moeda" type="q14:MoedaCotacaoBancoCentral" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parcelas" nillable="true" type="xs:string" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Pessoa" nillable="true" type="q15:Pessoa" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Situacao" type="q16:StatusTitulo" />
      <xs:element minOccurs="0" name="TipoMovimento" nillable="true" type="tns:TipoMovimento" />
      <xs:element minOccurs="0" name="ValorOriginal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Titulo" nillable="true" type="tns:Titulo" />
  <xs:complexType name="TipoMovimento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CentrosResultados" nillable="true" type="tns:ArrayOfCentroResultado" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanoEntrada" nillable="true" type="tns:PlanoDeConta" />
      <xs:element minOccurs="0" name="PlanoSaida" nillable="true" type="tns:PlanoDeConta" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Situacao" type="q17:SituacaoAtivoPesquisa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoMovimento" nillable="true" type="tns:TipoMovimento" />
  <xs:complexType name="ArrayOfCentroResultado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CentroResultado" nillable="true" type="tns:CentroResultado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCentroResultado" nillable="true" type="tns:ArrayOfCentroResultado" />
</xs:schema>