Servicos/Service References/ServicoSGT.Financeiro/Financeiro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Financeiro" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ConfiguracaoContabil" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd12" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Enumerador" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.CTe" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ICMS" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ISS" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd21" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Produtos" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd23" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd24" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" />
      <xsd:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd25" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Fatura" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFinanceiro_BuscarTituloAReceberQuitadoPendentesIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTituloAReceberQuitadoPendentesIntegracao" />
  </wsdl:message>
  <wsdl:message name="IFinanceiro_BuscarTituloAReceberQuitadoPendentesIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTituloAReceberQuitadoPendentesIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanceiro_ConfirmarIntegracaoTituloQuitado_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoTituloQuitado" />
  </wsdl:message>
  <wsdl:message name="IFinanceiro_ConfirmarIntegracaoTituloQuitado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoTituloQuitadoResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanceiro_ConsultarDocumentoEntradaPorOrdemCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDocumentoEntradaPorOrdemCompra" />
  </wsdl:message>
  <wsdl:message name="IFinanceiro_ConsultarDocumentoEntradaPorOrdemCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDocumentoEntradaPorOrdemCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanceiro_QuitarTituloPagar_InputMessage">
    <wsdl:part name="parameters" element="tns:QuitarTituloPagar" />
  </wsdl:message>
  <wsdl:message name="IFinanceiro_QuitarTituloPagar_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuitarTituloPagarResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanceiro_BuscarTitulosPagarPendenteIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTitulosPagarPendenteIntegracao" />
  </wsdl:message>
  <wsdl:message name="IFinanceiro_BuscarTitulosPagarPendenteIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTitulosPagarPendenteIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanceiro_ConfirmarIntegracaoTituloPagar_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoTituloPagar" />
  </wsdl:message>
  <wsdl:message name="IFinanceiro_ConfirmarIntegracaoTituloPagar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoTituloPagarResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanceiro_EnviarFaturaCompleta_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarFaturaCompleta" />
  </wsdl:message>
  <wsdl:message name="IFinanceiro_EnviarFaturaCompleta_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarFaturaCompletaResponse" />
  </wsdl:message>
<wsdl:message name="IFinanceiro_RecebePDF_InputMessage">
    <wsdl:part name="parameters" element="tns:RecebePDF" />
  </wsdl:message>
  <wsdl:message name="IFinanceiro_RecebePDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecebePDFResponse" />
  </wsdl:message>
  <wsdl:portType name="IFinanceiro">
    <wsdl:operation name="BuscarTituloAReceberQuitadoPendentesIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceiro/BuscarTituloAReceberQuitadoPendentesIntegracao" message="tns:IFinanceiro_BuscarTituloAReceberQuitadoPendentesIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceiro/BuscarTituloAReceberQuitadoPendentesIntegracaoResponse" message="tns:IFinanceiro_BuscarTituloAReceberQuitadoPendentesIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoTituloQuitado">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceiro/ConfirmarIntegracaoTituloQuitado" message="tns:IFinanceiro_ConfirmarIntegracaoTituloQuitado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceiro/ConfirmarIntegracaoTituloQuitadoResponse" message="tns:IFinanceiro_ConfirmarIntegracaoTituloQuitado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDocumentoEntradaPorOrdemCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceiro/ConsultarDocumentoEntradaPorOrdemCompra" message="tns:IFinanceiro_ConsultarDocumentoEntradaPorOrdemCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceiro/ConsultarDocumentoEntradaPorOrdemCompraResponse" message="tns:IFinanceiro_ConsultarDocumentoEntradaPorOrdemCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuitarTituloPagar">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceiro/QuitarTituloPagar" message="tns:IFinanceiro_QuitarTituloPagar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceiro/QuitarTituloPagarResponse" message="tns:IFinanceiro_QuitarTituloPagar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTitulosPagarPendenteIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceiro/BuscarTitulosPagarPendenteIntegracao" message="tns:IFinanceiro_BuscarTitulosPagarPendenteIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceiro/BuscarTitulosPagarPendenteIntegracaoResponse" message="tns:IFinanceiro_BuscarTitulosPagarPendenteIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoTituloPagar">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceiro/ConfirmarIntegracaoTituloPagar" message="tns:IFinanceiro_ConfirmarIntegracaoTituloPagar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceiro/ConfirmarIntegracaoTituloPagarResponse" message="tns:IFinanceiro_ConfirmarIntegracaoTituloPagar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarFaturaCompleta">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceiro/EnviarFaturaCompleta" message="tns:IFinanceiro_EnviarFaturaCompleta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceiro/EnviarFaturaCompletaResponse" message="tns:IFinanceiro_EnviarFaturaCompleta_OutputMessage" />
    </wsdl:operation>
 <wsdl:operation name="RecebePDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceiro/RecebePDF" message="tns:IFinanceiro_RecebePDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceiro/RecebePDFResponse" message="tns:IFinanceiro_RecebePDF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFinanceiro" type="tns:IFinanceiro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarTituloAReceberQuitadoPendentesIntegracao">
      <soap:operation soapAction="http://tempuri.org/IFinanceiro/BuscarTituloAReceberQuitadoPendentesIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoTituloQuitado">
      <soap:operation soapAction="http://tempuri.org/IFinanceiro/ConfirmarIntegracaoTituloQuitado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDocumentoEntradaPorOrdemCompra">
      <soap:operation soapAction="http://tempuri.org/IFinanceiro/ConsultarDocumentoEntradaPorOrdemCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuitarTituloPagar">
      <soap:operation soapAction="http://tempuri.org/IFinanceiro/QuitarTituloPagar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTitulosPagarPendenteIntegracao">
      <soap:operation soapAction="http://tempuri.org/IFinanceiro/BuscarTitulosPagarPendenteIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoTituloPagar">
      <soap:operation soapAction="http://tempuri.org/IFinanceiro/ConfirmarIntegracaoTituloPagar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarFaturaCompleta">
      <soap:operation soapAction="http://tempuri.org/IFinanceiro/EnviarFaturaCompleta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
<wsdl:operation name="RecebePDF">
      <soap:operation soapAction="http://tempuri.org/IFinanceiro/RecebePDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Financeiro">
    <wsdl:port name="BasicHttpBinding_IFinanceiro" binding="tns:BasicHttpBinding_IFinanceiro">
      <soap:address location="http://localhost:5146/Financeiro.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>