Servicos/Service References/ServicoSGT.Financeiro/Financeiro24.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Fatura" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Fatura" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" />
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
  <xs:complexType name="FaturaIntegracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acrescimo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Agencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AliquotaICMS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Banco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CTe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CTes" nillable="true" type="tns:ArrayOfFaturaIntegracaoCTe" />
      <xs:element minOccurs="0" name="Carga" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Cliente" nillable="true" type="q1:Pessoa" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="ClienteTomadorFatura" nillable="true" type="q2:Pessoa" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoDeposito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTransportadora" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Container" nillable="true" type="q3:Container" />
      <xs:element minOccurs="0" name="DataBaseCRT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataCancelamentoFatura" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataFatura" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataFechamento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataFinal" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInicial" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Desconto" type="xs:decimal" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Destino" nillable="true" type="q4:Localidade" />
      <xs:element minOccurs="0" name="DigitoAgencia" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Empresa" nillable="true" type="q5:Empresa" />
      <xs:element minOccurs="0" name="FaturamentoExclusivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="GerarDocumentosAutomaticamente" type="xs:boolean" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="GrupoPessoas" nillable="true" type="q6:GrupoPessoa" />
      <xs:element minOccurs="0" name="IETomador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImprimeObservacaoFatura" type="xs:boolean" />
      <xs:element minOccurs="0" name="MDFe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModalidadeFrete" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="MoedaCotacaoBancoCentral" nillable="true" type="q7:MoedaCotacaoBancoCentral" />
      <xs:element minOccurs="0" name="MotivoCancelamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaoUtilizarMoedaEstrangeira" type="xs:boolean" />
      <xs:element minOccurs="0" name="NomeCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NovoModelo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroBooking" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroConta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroControleCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroFaturaOriginal" type="xs:long" />
      <xs:element minOccurs="0" name="NumeroPreFatura" type="xs:long" />
      <xs:element minOccurs="0" name="NumeroReferenciaEDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoFatura" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Origem" nillable="true" type="q8:Localidade" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="PaisOrigem" nillable="true" type="q9:Pais" />
      <xs:element minOccurs="0" name="Parcelas" nillable="true" type="tns:ArrayOfFaturaIntegracaoParcela" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="PedidoViagemNavio" nillable="true" type="q10:Viagem" />
      <xs:element minOccurs="0" name="ReverteuAcrescimoDesconto" type="xs:boolean" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TerminalDestino" nillable="true" type="q11:TerminalPorto" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TerminalOrigem" nillable="true" type="q12:TerminalPorto" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoArredondamentoParcelas" type="q13:TipoArredondamento" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoCarga" nillable="true" type="q14:TipoCargaEmbarcador" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoContaBanco" nillable="true" type="q15:TipoContaBanco" />
      <xs:element minOccurs="0" name="TipoFrete" nillable="true" type="xs:string" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" minOccurs="0" name="TipoMovimentoReversao" nillable="true" type="q16:TipoMovimento" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" minOccurs="0" name="TipoMovimentoReversaoAcrescimo" nillable="true" type="q17:TipoMovimento" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" minOccurs="0" name="TipoMovimentoReversaoDesconto" nillable="true" type="q18:TipoMovimento" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" minOccurs="0" name="TipoMovimentoUso" nillable="true" type="q19:TipoMovimento" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" minOccurs="0" name="TipoMovimentoUsoAcrescimo" nillable="true" type="q20:TipoMovimento" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" minOccurs="0" name="TipoMovimentoUsoDesconto" nillable="true" type="q21:TipoMovimento" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TipoOperacao" nillable="true" type="q22:TipoOperacao" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoPessoa" type="q23:TipoPessoa" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoPropostaMultimodal" nillable="true" type="q24:ArrayOfTipoPropostaMultimodal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalMoedaEstrangeira" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorMoedaCotacao" type="xs:decimal" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculo" nillable="true" type="q25:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaturaIntegracao" nillable="true" type="tns:FaturaIntegracao" />
  <xs:complexType name="ArrayOfFaturaIntegracaoCTe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FaturaIntegracaoCTe" nillable="true" type="tns:FaturaIntegracaoCTe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaturaIntegracaoCTe" nillable="true" type="tns:ArrayOfFaturaIntegracaoCTe" />
  <xs:complexType name="FaturaIntegracaoCTe">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveCTe" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaturaIntegracaoCTe" nillable="true" type="tns:FaturaIntegracaoCTe" />
  <xs:complexType name="ArrayOfFaturaIntegracaoParcela">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FaturaIntegracaoParcela" nillable="true" type="tns:FaturaIntegracaoParcela" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaturaIntegracaoParcela" nillable="true" type="tns:ArrayOfFaturaIntegracaoParcela" />
  <xs:complexType name="FaturaIntegracaoParcela">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acrescimo" type="xs:decimal" />
      <xs:element minOccurs="0" name="CodigoTitulo" type="xs:int" />
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataVencimento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Desconto" type="xs:decimal" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="FormaTitulo" nillable="true" type="q26:FormaTitulo" />
      <xs:element minOccurs="0" name="NossoNumeroBoleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequencia" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalMoeda" type="xs:decimal" />
      <xs:element minOccurs="0" name="VencimentoTitulo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaturaIntegracaoParcela" nillable="true" type="tns:FaturaIntegracaoParcela" />
</xs:schema>