Servicos/Service References/ServicoSGT.Financeiro/Financeiro23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="TipoPropriedadeContainer">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="Proprio" />
      <xs:enumeration value="Soc" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPropriedadeContainer" nillable="true" type="tns:TipoPropriedadeContainer" />
  <xs:simpleType name="TipoContaBanco">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="Corrente" />
      <xs:enumeration value="Poupança" />
      <xs:enumeration value="Salario" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoContaBanco" nillable="true" type="tns:TipoContaBanco" />
  <xs:simpleType name="TipoModeloVeicularCarga">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SemModeloVeicular">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Todos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Geral">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Reboque">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Tracao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoModeloVeicularCarga" nillable="true" type="tns:TipoModeloVeicularCarga" />
  <xs:simpleType name="ModalPropostaMultimodal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="PortoPorta" />
      <xs:enumeration value="PortaPorto" />
      <xs:enumeration value="PortaPorta" />
      <xs:enumeration value="PortoPorto" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ModalPropostaMultimodal" nillable="true" type="tns:ModalPropostaMultimodal" />
  <xs:simpleType name="TipoCobrancaMultimodal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="BLLongoCurso" />
      <xs:enumeration value="NotaFiscalServico" />
      <xs:enumeration value="CTeRodoviario" />
      <xs:enumeration value="CTeMultimodal" />
      <xs:enumeration value="CTEAquaviario" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoCobrancaMultimodal" nillable="true" type="tns:TipoCobrancaMultimodal" />
  <xs:simpleType name="TipoPropostaMultimodal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="CargaFechada" />
      <xs:enumeration value="CargaFracionada" />
      <xs:enumeration value="Feeder" />
      <xs:enumeration value="VAS" />
      <xs:enumeration value="TakePayFeeder" />
      <xs:enumeration value="TAkePayCabotagem" />
      <xs:enumeration value="NoShowCabotagem" />
      <xs:enumeration value="FaturamentoContabilidade" />
      <xs:enumeration value="DemurrageCabotagem" />
      <xs:enumeration value="DetentionCabotagem" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPropostaMultimodal" nillable="true" type="tns:TipoPropostaMultimodal" />
  <xs:simpleType name="TipoServicoMultimodal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Subcontratacao" />
      <xs:enumeration value="RedespachoIntermediario" />
      <xs:enumeration value="VinculadoMultimodalTerceiro" />
      <xs:enumeration value="VinculadoMultimodalProprio" />
      <xs:enumeration value="Redespacho" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoServicoMultimodal" nillable="true" type="tns:TipoServicoMultimodal" />
  <xs:simpleType name="IndicadorIE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ContribuinteICMS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ContribuinteIsento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NaoContribuinte">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IndicadorIE" nillable="true" type="tns:IndicadorIE" />
  <xs:simpleType name="ParametroRateioFormula">
    <xs:restriction base="xs:string">
      <xs:enumeration value="todos" />
      <xs:enumeration value="peso" />
      <xs:enumeration value="distancia" />
      <xs:enumeration value="porNotaFiscal" />
      <xs:enumeration value="ValorMercadoria" />
      <xs:enumeration value="porCTe" />
      <xs:enumeration value="porValorCTe" />
      <xs:enumeration value="MetroCubico" />
      <xs:enumeration value="porFracionadaTonelada" />
      <xs:enumeration value="porFracionadaMetroCubico" />
      <xs:enumeration value="PesoLiquido" />
      <xs:enumeration value="Volume" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ParametroRateioFormula" nillable="true" type="tns:ParametroRateioFormula" />
  <xs:simpleType name="RegimeTributario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoInformado" />
      <xs:enumeration value="SimplesNacional" />
      <xs:enumeration value="LucroReal" />
      <xs:enumeration value="LucroPresumido" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegimeTributario" nillable="true" type="tns:RegimeTributario" />
  <xs:simpleType name="TipoEmissaoCTeDocumentos">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoInformado" />
      <xs:enumeration value="EmitePorPedidoAgrupado" />
      <xs:enumeration value="EmitePorNotaFiscalAgrupada" />
      <xs:enumeration value="EmitePorNotaFiscalIndividual" />
      <xs:enumeration value="EmitePorPedidoIndividual" />
      <xs:enumeration value="EmitePorNotaFiscalAgrupadaEntrePedidos" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoEmissaoCTeDocumentos" nillable="true" type="tns:TipoEmissaoCTeDocumentos" />
  <xs:simpleType name="TipoFavorecidoCIOT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Transportador">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Motorista">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoFavorecidoCIOT" nillable="true" type="tns:TipoFavorecidoCIOT" />
  <xs:simpleType name="TipoPagamentoCIOT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SemPgto" />
      <xs:enumeration value="Cartao" />
      <xs:enumeration value="Deposito" />
      <xs:enumeration value="Transferencia" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPagamentoCIOT" nillable="true" type="tns:TipoPagamentoCIOT" />
  <xs:simpleType name="Escolaridade">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SemInstrucaoFormal" />
      <xs:enumeration value="EnsinoFundamental" />
      <xs:enumeration value="EnsinoMedio" />
      <xs:enumeration value="EnsinoSuperior" />
      <xs:enumeration value="PosGraduacao" />
      <xs:enumeration value="Mestrado" />
      <xs:enumeration value="Doutorado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Escolaridade" nillable="true" type="tns:Escolaridade" />
  <xs:simpleType name="EstadoCivil">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Outros" />
      <xs:enumeration value="Solteiro" />
      <xs:enumeration value="Casado" />
      <xs:enumeration value="Divorciado" />
      <xs:enumeration value="Desquitado" />
      <xs:enumeration value="Viuvo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EstadoCivil" nillable="true" type="tns:EstadoCivil" />
  <xs:simpleType name="TipoParentesco">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="Outro" />
      <xs:enumeration value="Pai" />
      <xs:enumeration value="Mae" />
      <xs:enumeration value="Filhos" />
      <xs:enumeration value="Irmao" />
      <xs:enumeration value="Avo" />
      <xs:enumeration value="Neto" />
      <xs:enumeration value="Tio" />
      <xs:enumeration value="Sobrinho" />
      <xs:enumeration value="Bisavo" />
      <xs:enumeration value="Bisneto" />
      <xs:enumeration value="Primo" />
      <xs:enumeration value="Trisavo" />
      <xs:enumeration value="Trineto" />
      <xs:enumeration value="TioAvo" />
      <xs:enumeration value="SobrinhoNeto" />
      <xs:enumeration value="Esposo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoParentesco" nillable="true" type="tns:TipoParentesco" />
  <xs:simpleType name="TipoMotorista">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Proprio" />
      <xs:enumeration value="Terceiro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoMotorista" nillable="true" type="tns:TipoMotorista" />
  <xs:simpleType name="SituacaoCTeSefaz">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Autorizada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancelada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Denegada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Rejeitada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Pendente">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Enviada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Inutilizada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EmDigitacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EmCancelamento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EmInutilizacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Anulado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AguardandoAssinatura">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AguardandoAssinaturaCancelamento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AguardandoAssinaturaInutilizacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AguardandoEmissaoEmail">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AguardandoNFSe">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ContingenciaFSDA">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">17</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AnuladoGerencialmente">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">18</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SituacaoCTeSefaz" nillable="true" type="tns:SituacaoCTeSefaz" />
  <xs:simpleType name="TipoModal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Rodoviario" />
      <xs:enumeration value="Aereo" />
      <xs:enumeration value="Aquaviario" />
      <xs:enumeration value="Ferroviario" />
      <xs:enumeration value="Dutoviario" />
      <xs:enumeration value="Multimodal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoModal" nillable="true" type="tns:TipoModal" />
  <xs:simpleType name="TipoComponenteFrete">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TODOS" />
      <xs:enumeration value="ICMS" />
      <xs:enumeration value="PEDAGIO" />
      <xs:enumeration value="DESCARGA" />
      <xs:enumeration value="FRETE" />
      <xs:enumeration value="ADVALOREM" />
      <xs:enumeration value="ISS" />
      <xs:enumeration value="OUTROS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ValorKM">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ValorKMExcedente">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CLIENTE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PISCONFIS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INCONSISTENTE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoComponenteFrete" nillable="true" type="tns:TipoComponenteFrete" />
  <xs:simpleType name="TipoVeiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tracao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Reboque">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoVeiculo" nillable="true" type="tns:TipoVeiculo" />
  <xs:simpleType name="TipoCarroceria">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoAplicavel" />
      <xs:enumeration value="Aberta" />
      <xs:enumeration value="FechadaBau" />
      <xs:enumeration value="Graneleira" />
      <xs:enumeration value="PortaContainer" />
      <xs:enumeration value="Utilitario" />
      <xs:enumeration value="Sider" />
      <xs:enumeration value="Todos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoCarroceria" nillable="true" type="tns:TipoCarroceria" />
  <xs:simpleType name="TipoPropriedadeVeiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Proprio">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Terceiros">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPropriedadeVeiculo" nillable="true" type="tns:TipoPropriedadeVeiculo" />
  <xs:simpleType name="TipoRodado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoAplicavel" />
      <xs:enumeration value="Truck" />
      <xs:enumeration value="Toco" />
      <xs:enumeration value="CavaloMecanico" />
      <xs:enumeration value="VAN" />
      <xs:enumeration value="Utilitario" />
      <xs:enumeration value="Outros" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoRodado" nillable="true" type="tns:TipoRodado" />
  <xs:simpleType name="ModoCompraValePedagioTarget">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CartaoTarget">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PedagioTagViaFacil">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PedagioTagVeloe">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PedagioTagMoveMais">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ModoCompraValePedagioTarget" nillable="true" type="tns:ModoCompraValePedagioTarget" />
  <xs:simpleType name="TipoTitulo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Receber" />
      <xs:enumeration value="Pagar" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoTitulo" nillable="true" type="tns:TipoTitulo" />
  <xs:simpleType name="TipoFilial">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Filial">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Matriz">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Agencia">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoFilial" nillable="true" type="tns:TipoFilial" />
  <xs:simpleType name="SituacaoFilial">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SemSitaucao" />
      <xs:enumeration value="RecibidoDeMRDR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RequisitoDeCompra">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">40</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PrecoPadraoEstimado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">45</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProntoTodosUsuarios">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">60</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IntencaoDescontinuar">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">70</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EmDescontinuacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">80</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Descontinuado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">90</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DesativadoCriadoComErro">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">95</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SituacaoFilial" nillable="true" type="tns:SituacaoFilial" />
  <xs:simpleType name="UsoMaterial">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Revenda" />
      <xs:enumeration value="ContinuacaoProcessamento" />
      <xs:enumeration value="Consumo" />
      <xs:enumeration value="Imobilizado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UsoMaterial" nillable="true" type="tns:UsoMaterial" />
  <xs:simpleType name="FormaTitulo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Outros">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Boleto">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Deposito">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cheque">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cartao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Dinheiro">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Financiamento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DebitoAutomatico">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Transferencia">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CobrancaJudicial">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PagamentoSalario">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FormaTitulo" nillable="true" type="tns:FormaTitulo" />
  <xs:simpleType name="MoedaCotacaoBancoCentral">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todas">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Real">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DolarVenda">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DolarCompra">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10813</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PesoArgentino">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PesoUruguaio">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PesoChileno">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Guarani">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NovoSolPeruano">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MoedaCotacaoBancoCentral" nillable="true" type="tns:MoedaCotacaoBancoCentral" />
  <xs:simpleType name="StatusTitulo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="EmAberto" />
      <xs:enumeration value="Atrazada" />
      <xs:enumeration value="Quitada" />
      <xs:enumeration value="Cancelado" />
      <xs:enumeration value="EmNegociacao" />
      <xs:enumeration value="Bloqueado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusTitulo" nillable="true" type="tns:StatusTitulo" />
  <xs:simpleType name="SituacaoAtivoPesquisa">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Ativo" />
      <xs:enumeration value="Inativo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SituacaoAtivoPesquisa" nillable="true" type="tns:SituacaoAtivoPesquisa" />
  <xs:simpleType name="DirecaoViagemMultimodal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Norte" />
      <xs:enumeration value="Sul" />
      <xs:enumeration value="Leste" />
      <xs:enumeration value="Oeste" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DirecaoViagemMultimodal" nillable="true" type="tns:DirecaoViagemMultimodal" />
  <xs:simpleType name="TipoEmbarcacao">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nenhum" />
      <xs:enumeration value="Alvarenga" />
      <xs:enumeration value="Barcaca" />
      <xs:enumeration value="BarcacaPropulsada" />
      <xs:enumeration value="Cargueiro" />
      <xs:enumeration value="CatamaraMisto" />
      <xs:enumeration value="CatamaraPassageiros" />
      <xs:enumeration value="ChataCargueira" />
      <xs:enumeration value="ChataGraneleira" />
      <xs:enumeration value="ChataMista" />
      <xs:enumeration value="ChataTanque" />
      <xs:enumeration value="Empurrador" />
      <xs:enumeration value="Estimulacao" />
      <xs:enumeration value="FerryBoat" />
      <xs:enumeration value="Flotel" />
      <xs:enumeration value="Flutuante" />
      <xs:enumeration value="CabreaGuindaste" />
      <xs:enumeration value="LanchaMista" />
      <xs:enumeration value="LanchaPassageiros" />
      <xs:enumeration value="LanchaPratico" />
      <xs:enumeration value="ManuseioDeEspias" />
      <xs:enumeration value="Pesquisa" />
      <xs:enumeration value="Rebocador" />
      <xs:enumeration value="Suprimento" />
      <xs:enumeration value="Transbordador" />
      <xs:enumeration value="CargaPesada" />
      <xs:enumeration value="Frigorifico" />
      <xs:enumeration value="Glp" />
      <xs:enumeration value="Graneleiro" />
      <xs:enumeration value="MineroPetroleiro" />
      <xs:enumeration value="MultiProposito" />
      <xs:enumeration value="NavioCisterna" />
      <xs:enumeration value="Passageiros" />
      <xs:enumeration value="Petroleiro" />
      <xs:enumeration value="PortaConteiner" />
      <xs:enumeration value="TanqueQuimico" />
      <xs:enumeration value="RoRo" />
      <xs:enumeration value="Draga" />
      <xs:enumeration value="Outros" />
      <xs:enumeration value="Balsa" />
      <xs:enumeration value="Dsv" />
      <xs:enumeration value="Swath" />
      <xs:enumeration value="Rov" />
      <xs:enumeration value="Ahts" />
      <xs:enumeration value="Ut4000" />
      <xs:enumeration value="Ut750" />
      <xs:enumeration value="Rsv" />
      <xs:enumeration value="TanqueGlp" />
      <xs:enumeration value="PatrolVessel" />
      <xs:enumeration value="TanqueGnl">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">50</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LançamentoDeLinhas">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">51</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BarcoAMotor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">52</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BalsaMotorizada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">53</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mpsv">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">54</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Pesqueiro">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">55</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Psv">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">56</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoEmbarcacao" nillable="true" type="tns:TipoEmbarcacao" />
  <xs:simpleType name="TipoArredondamento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Primeira">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ultima">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoArredondamento" nillable="true" type="tns:TipoArredondamento" />
  <xs:simpleType name="TipoPessoa">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pessoa">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GrupoPessoa">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPessoa" nillable="true" type="tns:TipoPessoa" />
  <xs:complexType name="ArrayOfTipoPropostaMultimodal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoPropostaMultimodal" type="tns:TipoPropostaMultimodal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoPropostaMultimodal" nillable="true" type="tns:ArrayOfTipoPropostaMultimodal" />
</xs:schema>