Servicos/Service References/ServicoSGT.Financeiro/Financeiro3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Financeiro.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:complexType name="ArrayOfFiliais">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Filiais" nillable="true" type="tns:Filiais" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFiliais" nillable="true" type="tns:ArrayOfFiliais" />
  <xs:complexType name="Filiais">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NCM" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Situacao" type="q1:SituacaoFilial" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="UsoMaterial" type="q2:UsoMaterial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Filiais" nillable="true" type="tns:Filiais" />
  <xs:complexType name="ArrayOfOrganizacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Organizacao" nillable="true" type="tns:Organizacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizacao" nillable="true" type="tns:ArrayOfOrganizacao" />
  <xs:complexType name="Organizacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Canal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoHierarquia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hierarquia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Setor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Organizacao" nillable="true" type="tns:Organizacao" />
</xs:schema>