Servicos/Service References/ServicoNatura.ProcessaOcorrencias/SI_ProcessaOcorrenciasAsync_OB1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://www.natura.com.br/ocorrencias" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_ProcessaOcorrenciasAsync_OB" targetNamespace="http://www.natura.com.br/ocorrencias" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_ProcessaOcorrenciasAsync_OB" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.natura.com.br/ocorrencias" targetNamespace="http://www.natura.com.br/ocorrencias" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_ListaOcorrencias" type="p1:DT_ListaOcorrencias" />
      <xsd:complexType name="DT_ListaOcorrencias">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">42c9a7da2c8311e5c8ab00000189c4e2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="dados">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">92a546510ddc11e5ab56aaaaaaac9800</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="documentoTransporte" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">92a5464e0ddc11e582a3aaaaaaac9800</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="codTranspMatriz" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">67771b5e23e611e5938654ec5bba1438</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" name="ocorrencias">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">92a546500ddc11e58afaaaaaaaac9800</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="chaveNFe" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">92a5464f0ddc11e5b2e5aaaaaaac9800</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="codigoOcorrencia" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">735fd5c00de811e5ad05aaaaaaac9800</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="dataOcorrencia" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">735fd5c10de811e59b8faaaaaaac9800</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="horaOcorrencia" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">735fd5c20de811e5b2b7aaaaaaac9800</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="textoOcorrencia" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">735fd5c30de811e5a7f0aaaaaaac9800</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_ListaOcorrencias">
    <wsdl:documentation />
    <wsdl:part name="MT_ListaOcorrencias" element="p1:MT_ListaOcorrencias" />
  </wsdl:message>
  <wsdl:portType name="SI_ProcessaOcorrenciasAsync_OB">
    <wsdl:documentation />
    <wsdl:operation name="SI_ProcessaOcorrenciasAsync_OB">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_ProcessaOcorrenciasAsync_OB" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_ListaOcorrencias" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ProcessaOcorrenciasAsync_OBBinding" type="p1:SI_ProcessaOcorrenciasAsync_OB">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_ProcessaOcorrenciasAsync_OB">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ProcessaOcorrenciasAsync_OBService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_ProcessaOcorrenciasAsync_OBBinding">
      <address location="http://aslx251br.natura.com.br:50200/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaOcorrenciasAsync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.com.br%2Focorrencias" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_ProcessaOcorrenciasAsync_OBBinding">
      <address location="https://aslx251br.natura.com.br:50201/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaOcorrenciasAsync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.com.br%2Focorrencias" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>