Servicos/Service References/ServicoSGT.TipoCarga/TipoCarga3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/TipoCarga.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTipoCargaEmbarcador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoCargaEmbarcador" nillable="true" type="tns:TipoCargaEmbarcador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoCargaEmbarcador" nillable="true" type="tns:ArrayOfTipoCargaEmbarcador" />
  <xs:complexType name="TipoCargaEmbarcador">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CNPJsDoTipoCargaNoEmbarcador" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ClasseONU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPSNONU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacaoONU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SequenciaONU" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoCargaEmbarcador" nillable="true" type="tns:TipoCargaEmbarcador" />
</xs:schema>