Servicos/Service References/ServicoSAP.EstornaFatura/SI_Estorno_Agrup_Async.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://jsl.com.br/Estorno_Agrup_Async_FI" name="SI_Estorno_Agrup_Async" targetNamespace="http://jsl.com.br/Estorno_Agrup_Async_FI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_Estorno_Agrup_Async" />
  <wsdl:types>
    <xsd:schema xmlns="http://jsl.com.br/Estorno_Agrup_Async_FI" targetNamespace="http://jsl.com.br/Estorno_Agrup_Async_FI" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_Estorno_Agrup_Async" type="p1:DT_Estorno_Agrup_Async" />
      <xsd:complexType name="DT_Estorno_Agrup_Async">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">b788f84970bf11e899d70000332d37ea</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="I_DOC">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9384f70dbc4711e4a0a790004ec42afd</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Item">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b4e159d4383511e887e15414965e6711</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="ID_CONTROLE" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b774e82270bf11e8bb22549edb500601</xsd:appinfo>
                          <xsd:documentation>ID Controle</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="EMPRESA" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">4408d98cdd2c11e4a5035499425a2b2c</xsd:appinfo>
                          <xsd:documentation>Empresa</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="DOC_AGRUPAMENTO" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">4408d98ddd2c11e49cdc5499425a2b2c</xsd:appinfo>
                          <xsd:documentation>Documento de agrupamento</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="ITEM_DOC" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">4408d98edd2c11e499f75499425a2b2c</xsd:appinfo>
                          <xsd:documentation>Itens do documento agrupado que está estornando</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="CLIENTE" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">4408d98fdd2c11e4cfe75499425a2b2c</xsd:appinfo>
                          <xsd:documentation>Cliente</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="ORIGEM" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b4e159d3383511e899eb5414965e6711</xsd:appinfo>
                          <xsd:documentation>Origem</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Estorno_Agrup_Async">
    <wsdl:documentation />
    <wsdl:part name="MT_Estorno_Agrup_Async" element="p1:MT_Estorno_Agrup_Async" />
  </wsdl:message>
  <wsdl:portType name="SI_Estorno_Agrup_Async">
    <wsdl:documentation />
    <wsdl:operation name="SI_Estorno_Agrup_Async">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_Estorno_Agrup_Async" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_Estorno_Agrup_Async" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_Estorno_Agrup_AsyncBinding" type="p1:SI_Estorno_Agrup_Async">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_Estorno_Agrup_Async">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_Estorno_Agrup_AsyncService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_Estorno_Agrup_AsyncBinding">
      <address location="http://av02cid.simpar.cloud:58500/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_TMS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Estorno_Agrup_Async&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FEstorno_Agrup_Async_FI" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_Estorno_Agrup_AsyncBinding">
      <address location="https://av02cid.simpar.cloud:58501/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_TMS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Estorno_Agrup_Async&amp;interfaceNamespace=http%3A%2F%2Fjsl.com.br%2FEstorno_Agrup_Async_FI" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>