Servicos/Service References/WSEmpresa/definitions5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.125/WebServiceIntegracao/Empresa.svc/definitions?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:import schemaLocation="http://192.168.0.125/WebServiceIntegracao/Empresa.svc/definitions?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
  <xs:element name="SalvarEmpresaEmissora">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="empresa" nillable="true" type="q1:Empresa" />
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarEmpresaEmissoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="SalvarEmpresaEmissoraResult" nillable="true" type="q2:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarEmpresaEmissoraParaEmissao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjEmpresaEmissora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarEmpresaEmissoraParaEmissaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="ValidarEmpresaEmissoraParaEmissaoResult" nillable="true" type="q3:RetornoOfRetornoValidarEmpresalQrtB7Zh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarEmpresaEmissoraIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="empresa" nillable="true" type="q4:Empresa" />
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chaveAcesso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarEmpresaEmissoraIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="SalvarEmpresaEmissoraIntegracaoResult" nillable="true" type="q5:RetornoOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterDetalhesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjEmpresaEmissora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterDetalhesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="ObterDetalhesEmpresaResult" nillable="true" type="q6:RetornoOfEmpresaX8of5MvI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarVencimentoCertificado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataVencimento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ambiente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="homologacao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefone" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="empresa" nillable="true" type="q7:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarVencimentoCertificadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="EnviarVencimentoCertificadoResult" nillable="true" type="q8:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>