Servicos/Service References/WSEmpresa/Empresa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Empresa" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.125/WebServiceIntegracao/Empresa.svc/definitions?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.125/WebServiceIntegracao/Empresa.svc/definitions?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.125/WebServiceIntegracao/Empresa.svc/definitions?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
      <xsd:import schemaLocation="http://192.168.0.125/WebServiceIntegracao/Empresa.svc/definitions?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
      <xsd:import schemaLocation="http://192.168.0.125/WebServiceIntegracao/Empresa.svc/definitions?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
      <xsd:import schemaLocation="http://192.168.0.125/WebServiceIntegracao/Empresa.svc/definitions?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
      <xsd:import schemaLocation="http://192.168.0.125/WebServiceIntegracao/Empresa.svc/definitions?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpresa_SalvarEmpresaEmissora_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarEmpresaEmissora" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarEmpresaEmissora_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarEmpresaEmissoraResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ValidarEmpresaEmissoraParaEmissao_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarEmpresaEmissoraParaEmissao" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ValidarEmpresaEmissoraParaEmissao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarEmpresaEmissoraParaEmissaoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarEmpresaEmissoraIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarEmpresaEmissoraIntegracao" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarEmpresaEmissoraIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarEmpresaEmissoraIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ObterDetalhesEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterDetalhesEmpresa" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ObterDetalhesEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterDetalhesEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_EnviarVencimentoCertificado_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarVencimentoCertificado" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_EnviarVencimentoCertificado_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarVencimentoCertificadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpresa">
    <wsdl:operation name="SalvarEmpresaEmissora">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/SalvarEmpresaEmissora" message="tns:IEmpresa_SalvarEmpresaEmissora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/SalvarEmpresaEmissoraResponse" message="tns:IEmpresa_SalvarEmpresaEmissora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarEmpresaEmissoraParaEmissao">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/ValidarEmpresaEmissoraParaEmissao" message="tns:IEmpresa_ValidarEmpresaEmissoraParaEmissao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/ValidarEmpresaEmissoraParaEmissaoResponse" message="tns:IEmpresa_ValidarEmpresaEmissoraParaEmissao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarEmpresaEmissoraIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/SalvarEmpresaEmissoraIntegracao" message="tns:IEmpresa_SalvarEmpresaEmissoraIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/SalvarEmpresaEmissoraIntegracaoResponse" message="tns:IEmpresa_SalvarEmpresaEmissoraIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterDetalhesEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/ObterDetalhesEmpresa" message="tns:IEmpresa_ObterDetalhesEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/ObterDetalhesEmpresaResponse" message="tns:IEmpresa_ObterDetalhesEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarVencimentoCertificado">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/EnviarVencimentoCertificado" message="tns:IEmpresa_EnviarVencimentoCertificado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/EnviarVencimentoCertificadoResponse" message="tns:IEmpresa_EnviarVencimentoCertificado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpresa" type="tns:IEmpresa">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SalvarEmpresaEmissora">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/SalvarEmpresaEmissora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarEmpresaEmissoraParaEmissao">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/ValidarEmpresaEmissoraParaEmissao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarEmpresaEmissoraIntegracao">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/SalvarEmpresaEmissoraIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDetalhesEmpresa">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/ObterDetalhesEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarVencimentoCertificado">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/EnviarVencimentoCertificado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Empresa">
    <wsdl:port name="BasicHttpBinding_IEmpresa" binding="tns:BasicHttpBinding_IEmpresa">
      <soap:address location="http://192.168.0.125/WebServiceIntegracao/Empresa.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>