Servicos/Service References/ServicoComprovei.CriarRota/CommonTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="WebServiceComprovei:CommonTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PosicaoType">
    <xs:sequence>
      <xs:element name="Latitude" type="xs:decimal" />
      <xs:element name="Longitude" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CNHType">
    <xs:sequence>
      <xs:element name="Numero" type="xs:string" />
      <xs:element name="Vencimento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoteType">
    <xs:sequence>
      <xs:element name="CodFabricante">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(\s*[^\s]\s*)+" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="NomeFabricante">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(\s*[^\s]\s*)+" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DataFabricacao">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\s*|[0-9]{4}-[0-9]{2}-[0-9]{2}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DataValidade">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\s*|[0-9]{4}-[0-9]{2}-[0-9]{2}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CodAnvisa">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\s*|[0-9]{13}|ISENTO" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="codigo" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="\S+" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="VolumeType">
    <xs:sequence>
      <xs:element name="PesoBruto" type="xs:string" />
      <xs:element name="PesoLiquido" type="xs:string" />
      <xs:element name="Uom" type="xs:string" />
      <xs:element name="Barcode" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="codigo" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="CamposLivresType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampoLivre1" type="xs:string" />
      <xs:element minOccurs="0" name="CampoLivre2" type="xs:string" />
      <xs:element minOccurs="0" name="CampoLivre3" type="xs:string" />
      <xs:element minOccurs="0" name="CampoLivre4" type="xs:string" />
      <xs:element minOccurs="0" name="CampoLivre5" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SlaType">
    <xs:choice>
      <xs:element default="0" name="DiasUteis" type="xs:integer" />
      <xs:element name="DataSla">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ItinerarioType">
    <xs:sequence>
      <xs:element name="ChaveUnica">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Codigo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="Descricao" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoDeBarras" type="xs:string" />
      <xs:element minOccurs="0" name="Data" type="xs:string" />
      <xs:element minOccurs="0" name="Turno" type="xs:string" />
      <xs:element minOccurs="0" name="Prioridade" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" type="xs:string" />
      <xs:element minOccurs="0" name="PontoTransbordo1" type="xs:string" />
      <xs:element minOccurs="0" name="CnpjTransportador1" type="xs:string" />
      <xs:element minOccurs="0" name="NomeTransportador1" type="xs:string" />
      <xs:element minOccurs="0" name="Filial" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>