Servicos/Service References/ServicoComprovei.CriarRota/Credenciais.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:wsc="WebServiceComprovei" elementFormDefault="qualified" targetNamespace="WebServiceComprovei" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Credenciais" type="wsc:Credenciais" />
  <xs:complexType name="Credenciais">
    <xs:sequence>
      <xs:element name="Usuario" type="xs:string" />
      <xs:element name="Senha" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>