Servicos/Service References/ServicoComprovei.CriarRota/getImportProtocolStatus.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wscugips="WebServiceComprovei:getImportProtocolStatus" elementFormDefault="qualified" targetNamespace="WebServiceComprovei:getImportProtocolStatus" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="getImportProtocolStatus" type="wscugips:getImportProtocolStatusType" />
  <xsd:complexType name="getImportProtocolStatusType">
    <xsd:sequence>
      <xsd:element name="protocolo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getImportProtocolStatusResponse" type="wscugips:getImportProtocolStatusResponseType" />
  <xsd:complexType name="getImportProtocolStatusResponseType">
    <xsd:sequence>
      <xsd:element name="status" type="xsd:string" />
      <xsd:element name="protocolo" type="xsd:string" />
      <xsd:element name="metodo" type="xsd:string" />
      <xsd:element name="dataCriacao" type="xsd:string" />
      <xsd:element name="dataConclusao" type="xsd:string" />
      <xsd:element name="processado" type="xsd:string" />
      <xsd:element name="resultado" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>