Servicos/Service References/ServicoComprovei.CriarRota/uploadRoute.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wscur="WebServiceComprovei:uploadRoute" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wscws011="WebServiceComprovei:WS011" elementFormDefault="qualified" targetNamespace="WebServiceComprovei:uploadRoute" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../validation/WS011.xsd" namespace="WebServiceComprovei:WS011" />
  <xsd:element name="uploadRoute" type="wscur:uploadRouteType" />
  <xsd:complexType name="uploadRouteType">
    <xsd:sequence>
      <xsd:element name="Rotas" type="wscws011:RotasType" />
      <xsd:element name="nomeArquivo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="uploadRouteResponse" type="wscur:uploadRouteResponseType" />
  <xsd:complexType name="uploadRouteResponseType">
    <xsd:sequence>
      <xsd:element name="status" type="xsd:string" />
      <xsd:element name="protocolo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>