Servicos/Service References/ServicoComprovei.CriarRota/uploadRouteUsingDocumentKey.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wscws012="WebServiceComprovei:WS012" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wscurrdk="WebServiceComprovei:uploadRouteUsingDocumentKey" elementFormDefault="qualified" targetNamespace="WebServiceComprovei:uploadRouteUsingDocumentKey" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../validation/WS012.xsd" namespace="WebServiceComprovei:WS012" />
  <xsd:element name="uploadRouteUsingDocumentKey" type="wscurrdk:uploadRouteUsingDocumentKeyType" />
  <xsd:complexType name="uploadRouteUsingDocumentKeyType">
    <xsd:sequence>
      <xsd:element name="Rotas" type="wscws012:RotasType" />
      <xsd:element name="nomeArquivo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="uploadRouteUsingDocumentKeyResponse" type="wscurrdk:uploadRouteUsingDocumentKeyResponseType" />
  <xsd:complexType name="uploadRouteUsingDocumentKeyResponseType">
    <xsd:sequence>
      <xsd:element name="status" type="xsd:string" />
      <xsd:element name="protocolo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>