Servicos/Service References/ServicoComprovei.CriarRota/WS012.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:wscws012="WebServiceComprovei:WS012" xmlns:wscct="WebServiceComprovei:CommonTypes" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="WebServiceComprovei:WS012" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="./CommonTypes.xsd" namespace="WebServiceComprovei:CommonTypes" />
  <xs:element name="Rotas" type="wscws012:RotasType" />
  <xs:complexType name="RotasType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Rota">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="rotadestino" type="xs:string" />
            <xs:element minOccurs="0" name="rotanome" type="xs:string" />
            <xs:element name="Data" type="xs:string" />
            <xs:element minOccurs="0" name="Regiao" type="xs:string" />
            <xs:element name="Transportadora">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Codigo" type="xs:string" />
                  <xs:element name="Razao" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Motorista">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Usuario" type="xs:string" />
                  <xs:element name="PlacaVeiculo" type="xs:string" />
                  <xs:element minOccurs="0" name="TipoVeiculo" type="xs:string" />
                  <xs:element minOccurs="0" name="Nome" type="xs:string" />
                  <xs:element minOccurs="0" name="Telefone" type="xs:string" />
                  <xs:element minOccurs="0" name="CNH" type="wscct:CNHType" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Base">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Origem">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Nome" type="xs:string" />
                        <xs:element name="Rua" type="xs:string" />
                        <xs:element name="Numero" type="xs:string" />
                        <xs:element name="Complemento" type="xs:string" />
                        <xs:element name="Bairro" type="xs:string" />
                        <xs:element name="Cidade" type="xs:string" />
                        <xs:element name="Estado" type="xs:string" />
                        <xs:element name="CEP" type="xs:string" />
                        <xs:element name="Pais" type="xs:string" />
                        <xs:element minOccurs="0" name="Contato" type="xs:string" />
                        <xs:element minOccurs="0" name="Email" type="xs:string" />
                        <xs:element minOccurs="0" name="Telefone" type="xs:string" />
                        <xs:element minOccurs="0" name="Cnpj">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="\d*|\s{0}" />
                              <xs:maxLength value="14" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CnpjMatriz">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="\d*|\s{0}" />
                              <xs:maxLength value="14" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="TipoMatriz">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="courier" />
                              <xs:enumeration value="shipper" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CodigoIBGE" type="xs:string" />
                        <xs:element minOccurs="0" name="Posicao" type="wscct:PosicaoType" />
                      </xs:sequence>
                      <xs:attribute name="codigo" type="xs:string" use="required" />
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Destino">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Nome" type="xs:string" />
                        <xs:element name="Rua" type="xs:string" />
                        <xs:element name="Numero" type="xs:string" />
                        <xs:element name="Complemento" type="xs:string" />
                        <xs:element name="Bairro" type="xs:string" />
                        <xs:element name="Cidade" type="xs:string" />
                        <xs:element name="Estado" type="xs:string" />
                        <xs:element name="CEP" type="xs:string" />
                        <xs:element name="Pais" type="xs:string" />
                        <xs:element minOccurs="0" name="Contato" type="xs:string" />
                        <xs:element minOccurs="0" name="Email" type="xs:string" />
                        <xs:element minOccurs="0" name="Telefone" type="xs:string" />
                        <xs:element minOccurs="0" name="Cnpj">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="\d*|\s{0}" />
                              <xs:maxLength value="14" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CnpjMatriz">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="\d*|\s{0}" />
                              <xs:maxLength value="14" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="TipoMatriz">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="courier" />
                              <xs:enumeration value="shipper" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CodigoIBGE" type="xs:string" />
                        <xs:element minOccurs="0" name="Posicao" type="wscct:PosicaoType" />
                      </xs:sequence>
                      <xs:attribute name="codigo" type="xs:string" use="required" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="limites">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="inicio" type="xs:string" />
                  <xs:element minOccurs="0" name="fim" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="TipoRota">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="D" />
                  <xs:enumeration value="T" />
                  <xs:enumeration value="P" />
                  <xs:enumeration value="R" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="TipoMaterial" type="xs:string" />
            <xs:element minOccurs="0" name="Fornecimento" type="xs:string" />
            <xs:element minOccurs="0" name="TipoFrete" type="xs:string" />
            <xs:element minOccurs="0" name="Modal" type="xs:string" />
            <xs:element minOccurs="0" name="CamposLivres" type="wscct:CamposLivresType" />
            <xs:element name="Paradas">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="Parada">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Documento">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="ChaveNota" type="xs:string" />
                              <xs:element minOccurs="0" name="Agendamento" type="xs:string" />
                              <xs:element minOccurs="0" name="Itinerario" type="wscct:ItinerarioType" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="numero" type="xs:string" use="required" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="numero" type="xs:string" use="required" />
          <xs:attribute default="1" name="replicate" type="xs:integer" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>