Servicos/Service References/ServicoComprovei.CriarRota/WS011.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:wscct="WebServiceComprovei:CommonTypes" xmlns:wscws011="WebServiceComprovei:WS011" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="WebServiceComprovei:WS011" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="./CommonTypes.xsd" namespace="WebServiceComprovei:CommonTypes" />
  <xs:element name="Rotas" type="wscws011:RotasType" />
  <xs:complexType name="RotasType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Rota">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="rotadestino" type="xs:string" />
            <xs:element minOccurs="0" name="rotanome" type="xs:string" />
            <xs:element name="Data" type="xs:string" />
            <xs:element minOccurs="0" name="Regiao" type="xs:string" />
            <xs:element name="Transportadora">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Codigo" type="xs:string" />
                  <xs:element name="Razao" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Motorista">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Usuario" type="xs:string" />
                  <xs:element name="PlacaVeiculo" type="xs:string" />
                  <xs:element minOccurs="0" name="TipoVeiculo" type="xs:string" />
                  <xs:element minOccurs="0" name="Nome" type="xs:string" />
                  <xs:element minOccurs="0" name="Telefone" type="xs:string" />
                  <xs:element minOccurs="0" name="CNH" type="wscct:CNHType" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Base">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Origem">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Nome" type="xs:string" />
                        <xs:element name="Rua" type="xs:string" />
                        <xs:element name="Numero" type="xs:string" />
                        <xs:element name="Complemento" type="xs:string" />
                        <xs:element name="Bairro" type="xs:string" />
                        <xs:element name="Cidade" type="xs:string" />
                        <xs:element name="Estado" type="xs:string" />
                        <xs:element name="CEP" type="xs:string" />
                        <xs:element name="Pais" type="xs:string" />
                        <xs:element minOccurs="0" name="Contato" type="xs:string" />
                        <xs:element minOccurs="0" name="Email" type="xs:string" />
                        <xs:element minOccurs="0" name="Telefone" type="xs:string" />
                        <xs:element minOccurs="0" name="Cnpj">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="\d*|\s{0}" />
                              <xs:maxLength value="14" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CnpjMatriz">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="\d*|\s{0}" />
                              <xs:maxLength value="14" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="TipoMatriz">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="courier" />
                              <xs:enumeration value="shipper" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CodigoIBGE" type="xs:string" />
                        <xs:element minOccurs="0" name="Posicao" type="wscct:PosicaoType" />
                      </xs:sequence>
                      <xs:attribute name="codigo" type="xs:string" use="required" />
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Destino">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Nome" type="xs:string" />
                        <xs:element name="Rua" type="xs:string" />
                        <xs:element name="Numero" type="xs:string" />
                        <xs:element name="Complemento" type="xs:string" />
                        <xs:element name="Bairro" type="xs:string" />
                        <xs:element name="Cidade" type="xs:string" />
                        <xs:element name="Estado" type="xs:string" />
                        <xs:element name="CEP" type="xs:string" />
                        <xs:element name="Pais" type="xs:string" />
                        <xs:element minOccurs="0" name="Contato" type="xs:string" />
                        <xs:element minOccurs="0" name="Email" type="xs:string" />
                        <xs:element minOccurs="0" name="Telefone" type="xs:string" />
                        <xs:element minOccurs="0" name="Cnpj">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="\d*|\s{0}" />
                              <xs:maxLength value="14" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CnpjMatriz">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="\d*|\s{0}" />
                              <xs:maxLength value="14" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="TipoMatriz">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="courier" />
                              <xs:enumeration value="shipper" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CodigoIBGE" type="xs:string" />
                        <xs:element minOccurs="0" name="Posicao" type="wscct:PosicaoType" />
                      </xs:sequence>
                      <xs:attribute name="codigo" type="xs:string" use="required" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="limites">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="inicio" type="xs:string" />
                  <xs:element minOccurs="0" name="fim" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="TipoRota">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="D" />
                  <xs:enumeration value="T" />
                  <xs:enumeration value="P" />
                  <xs:enumeration value="R" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="TipoMaterial" type="xs:string" />
            <xs:element minOccurs="0" name="Fornecimento" type="xs:string" />
            <xs:element minOccurs="0" name="TipoFrete" type="xs:string" />
            <xs:element minOccurs="0" name="Modal" type="xs:string" />
            <xs:element minOccurs="0" name="CamposLivres" type="wscct:CamposLivresType" />
            <xs:element name="Paradas">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="Parada">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Tipo">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="E" />
                              <xs:enumeration value="T" />
                              <xs:enumeration value="C" />
                              <xs:enumeration value="CA" />
                              <xs:enumeration value="CA2" />
                              <xs:enumeration value="CN" />
                              <xs:enumeration value="CG" />
                              <xs:enumeration value="CO" />
                              <xs:enumeration value="CIE" />
                              <xs:enumeration value="R" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="Mensagem" type="xs:string" />
                        <xs:element name="Documento">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="Tipo" type="xs:string" />
                              <xs:element name="Serie" type="xs:string" />
                              <xs:element name="Emissao" type="xs:string" />
                              <xs:element minOccurs="0" name="Atualizacao" type="xs:string" />
                              <xs:element name="Numero" type="xs:string" />
                              <xs:element minOccurs="0" name="FotoItem" type="xs:string" />
                              <xs:element name="ChaveNota" type="xs:string" />
                              <xs:element minOccurs="0" name="ValorNota" type="xs:string" />
                              <xs:element minOccurs="0" name="ModeloDoc" type="xs:string" />
                              <xs:element minOccurs="0" name="Cnpj">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:pattern value="\d*|\s{0}" />
                                    <xs:maxLength value="14" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element minOccurs="0" name="CnpjEmissor">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:pattern value="\d*|\s{0}" />
                                    <xs:maxLength value="14" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element minOccurs="0" name="CnpjTransportador">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:pattern value="\d*|\s{0}" />
                                    <xs:maxLength value="14" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element minOccurs="0" name="CnpjConsignatario">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:pattern value="\d*|\s{0}" />
                                    <xs:maxLength value="14" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element minOccurs="0" name="Romaneio" type="xs:string" />
                              <xs:element minOccurs="0" name="Remessa" type="xs:string" />
                              <xs:element minOccurs="0" name="Pedido" type="xs:string" />
                              <xs:element minOccurs="0" name="Placa" type="xs:string" />
                              <xs:element minOccurs="0" name="Filial" type="xs:string" />
                              <xs:element minOccurs="0" name="Peso" type="xs:string" />
                              <xs:element minOccurs="0" name="Cubagem" type="xs:string" />
                              <xs:element minOccurs="0" name="ONU" type="xs:string" />
                              <xs:element minOccurs="0" name="Anotacao" type="xs:string" />
                              <xs:element minOccurs="0" name="Agendamento" type="xs:string" />
                              <xs:element minOccurs="0" name="PesoLiquido" type="xs:string" />
                              <xs:element minOccurs="0" name="Volume" type="xs:string" />
                              <xs:element minOccurs="0" name="Janela">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="0" name="DataHoraIni" type="xs:string" />
                                    <xs:element minOccurs="0" name="DataHoraFim" type="xs:string" />
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="TipoMaterial" type="xs:string" />
                              <xs:element minOccurs="0" name="Fornecimento" type="xs:string" />
                              <xs:element minOccurs="0" name="TipoFrete" type="xs:string" />
                              <xs:element minOccurs="0" name="Modal" type="xs:string" />
                              <xs:element minOccurs="0" name="Sla" type="wscct:SlaType" />
                              <xs:element minOccurs="0" name="InfosPedido">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element maxOccurs="unbounded" name="InfoPedido">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="PedidoInterno" type="xs:string" />
                                          <xs:element name="PedidoCliente" type="xs:string" />
                                          <xs:element name="DataPedido" type="xs:string" />
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="Embarcador">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="0" name="cnpj">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:pattern value="\d*|\s{0}" />
                                          <xs:maxLength value="14" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="Nome" type="xs:string" />
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="CamposLivres" type="wscct:CamposLivresType" />
                              <xs:element minOccurs="0" name="Itinerario" type="wscct:ItinerarioType" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="Cliente">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="Codigo" type="xs:string" />
                              <xs:element minOccurs="0" name="codigointerno" type="xs:string" />
                              <xs:element name="Contato" type="xs:string" />
                              <xs:element name="Telefone" type="xs:string" />
                              <xs:element name="Email" type="xs:string" />
                              <xs:element name="Razao" type="xs:string" />
                              <xs:element name="Endereco" type="xs:string" />
                              <xs:element name="Bairro" type="xs:string" />
                              <xs:element name="Cidade" type="xs:string" />
                              <xs:element name="Estado" type="xs:string" />
                              <xs:element name="Pais" type="xs:string" />
                              <xs:element name="CEP" type="xs:string" />
                              <xs:element minOccurs="0" name="Regiao" type="xs:string" />
                              <xs:element minOccurs="0" name="TipoCliente" type="xs:string" />
                              <xs:element minOccurs="0" name="Mensagem" type="xs:string" />
                              <xs:element minOccurs="0" name="vendedorcodigo" type="xs:string" />
                              <xs:element minOccurs="0" name="vendedornome" type="xs:string" />
                              <xs:element minOccurs="0" name="vendedoremail" type="xs:string" />
                              <xs:element minOccurs="0" name="vendedorcelular" type="xs:string" />
                              <xs:element minOccurs="0" name="gerentecodigo" type="xs:string" />
                              <xs:element minOccurs="0" name="gerentenome" type="xs:string" />
                              <xs:element minOccurs="0" name="gerenteemail" type="xs:string" />
                              <xs:element minOccurs="0" name="gerentecelular" type="xs:string" />
                              <xs:element minOccurs="0" name="supervisorcodigo" type="xs:string" />
                              <xs:element minOccurs="0" name="supervisornome" type="xs:string" />
                              <xs:element minOccurs="0" name="supervisoremail" type="xs:string" />
                              <xs:element minOccurs="0" name="supervisorcelular" type="xs:string" />
                              <xs:element minOccurs="0" name="gerenteseniorcodigo" type="xs:string" />
                              <xs:element minOccurs="0" name="gerenteseniornome" type="xs:string" />
                              <xs:element minOccurs="0" name="gerentesenioremail" type="xs:string" />
                              <xs:element minOccurs="0" name="gerenteseniorcelular" type="xs:string" />
                              <xs:element minOccurs="0" name="CodigoIBGE" type="xs:string" />
                              <xs:element minOccurs="0" name="Posicao" type="wscct:PosicaoType" />
                              <xs:element minOccurs="0" name="CodigoGrupo" type="xs:string" />
                              <xs:element minOccurs="0" name="DescricaoGrupo" type="xs:string" />
                              <xs:element minOccurs="0" name="CodigoTrajeto" type="xs:string" />
                              <xs:element minOccurs="0" name="NomeTrajeto" type="xs:string" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="danfes">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="unbounded" name="danfe">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="SerieDanfe" type="xs:string" />
                                    <xs:element name="chavedanfe" type="xs:string" />
                                    <xs:element name="dataemissaodanfe" type="xs:string" />
                                  </xs:sequence>
                                  <xs:attribute name="NumDanfe" type="xs:string" use="required" />
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="SKUs">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="unbounded" name="SKU">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="PesoBruto" type="xs:string" />
                                    <xs:element name="PesoLiquido" type="xs:string" />
                                    <xs:element name="Volumes" type="xs:string" />
                                    <xs:element name="Descricao" type="xs:string" />
                                    <xs:element name="Qde" type="xs:string" />
                                    <xs:element name="Uom" type="xs:string" />
                                    <xs:element name="Barcode" type="xs:string" />
                                    <xs:element minOccurs="0" name="Lote" type="wscct:LoteType" />
                                    <xs:element minOccurs="0" name="CodVolume" type="xs:string" />
                                    <xs:element minOccurs="0" name="BU" type="xs:string" />
                                  </xs:sequence>
                                  <xs:attribute name="codigo" type="xs:string" use="required" />
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="Volumes">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="1" maxOccurs="unbounded" name="Volume" type="wscct:VolumeType" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="Sla" type="wscct:SlaType" />
                        <xs:element minOccurs="0" name="ETA">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="ETAInicial">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="8" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element default="0" name="TempoDePermanenciaPrevisto" type="xs:integer" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="numero" type="xs:string" use="required" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="numero" type="xs:string" use="required" />
          <xs:attribute name="replicate" type="xs:integer" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>