Servicos/Service References/WSOrtec/DANONE_TEST.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.ortec.com/CAIS" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ortec.com/CAIS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ortec.com/CAIS/Imports">
      <xsd:import schemaLocation="https://dan-brs-app1-t.ortec-hosting.com/CAIS/ApplicationIntegration/DANONE_TEST?xsd=xsd0" namespace="http://www.ortec.com/CAIS" />
      <xsd:import schemaLocation="https://dan-brs-app1-t.ortec-hosting.com/CAIS/ApplicationIntegration/DANONE_TEST?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationIntegrationService_SendCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCommand" />
  </wsdl:message>
  <wsdl:message name="IApplicationIntegrationService_SendCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationIntegrationService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IApplicationIntegrationService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplicationIntegrationService">
    <wsdl:operation name="SendCommand">
      <wsdl:input wsam:Action="http://www.ortec.com/CAIS/IApplicationIntegrationService/SendCommand" message="tns:IApplicationIntegrationService_SendCommand_InputMessage" />
      <wsdl:output wsam:Action="http://www.ortec.com/CAIS/IApplicationIntegrationService/SendCommandResponse" message="tns:IApplicationIntegrationService_SendCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsam:Action="http://www.ortec.com/CAIS/IApplicationIntegrationService/SendMessage" message="tns:IApplicationIntegrationService_SendMessage_InputMessage" />
      <wsdl:output wsam:Action="http://www.ortec.com/CAIS/IApplicationIntegrationService/SendMessageResponse" message="tns:IApplicationIntegrationService_SendMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>