Servicos/Service References/SGT.WebService.MDFe/MDFe2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SGT.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://frimesa.multihomo.com.br/SGT.WebService/MDFe.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" />
  <xs:import schemaLocation="https://frimesa.multihomo.com.br/SGT.WebService/MDFe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:complexType name="RetornoOfPaginacaoOfMDFeUBGeyIFJ51p1vPsU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService">
            <GenericParameter Name="MDFe" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:PaginacaoOfMDFeUBGeyIFJ" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfPaginacaoOfMDFeUBGeyIFJ51p1vPsU" nillable="true" type="tns:RetornoOfPaginacaoOfMDFeUBGeyIFJ51p1vPsU" />
  <xs:complexType name="PaginacaoOfMDFeUBGeyIFJ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginacaoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MDFe" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" minOccurs="0" name="Itens" nillable="true" type="q1:ArrayOfMDFe" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginacaoOfMDFeUBGeyIFJ" nillable="true" type="tns:PaginacaoOfMDFeUBGeyIFJ" />
  <xs:complexType name="RetornoOfMDFeUBGeyIFJ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MDFe" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" minOccurs="0" name="Objeto" nillable="true" type="q2:MDFe" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfMDFeUBGeyIFJ" nillable="true" type="tns:RetornoOfMDFeUBGeyIFJ" />
  <xs:complexType name="RetornoOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfboolean" nillable="true" type="tns:RetornoOfboolean" />
  <xs:complexType name="RetornoOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfstring" nillable="true" type="tns:RetornoOfstring" />
  <xs:complexType name="RetornoOfStatusMDFeCgwIm_SdB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="StatusMDFe" Namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="Objeto" type="q3:StatusMDFe" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfStatusMDFeCgwIm_SdB" nillable="true" type="tns:RetornoOfStatusMDFeCgwIm_SdB" />
  <xs:complexType name="RetornoOfProtocoloMDFeManualUBGeyIFJ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProtocoloMDFeManual" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" minOccurs="0" name="Objeto" nillable="true" type="q4:ProtocoloMDFeManual" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfProtocoloMDFeManualUBGeyIFJ" nillable="true" type="tns:RetornoOfProtocoloMDFeManualUBGeyIFJ" />
</xs:schema>