Servicos/Service References/SGT.WebService.MDFe/MDFe13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://frimesa.multihomo.com.br/SGT.WebService/MDFe.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://frimesa.multihomo.com.br/SGT.WebService/MDFe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="https://frimesa.multihomo.com.br/SGT.WebService/MDFe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="https://frimesa.multihomo.com.br/SGT.WebService/MDFe.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" />
  <xs:import schemaLocation="https://frimesa.multihomo.com.br/SGT.WebService/MDFe.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="https://frimesa.multihomo.com.br/SGT.WebService/MDFe.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
  <xs:complexType name="ArrayOfMDFe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MDFe" nillable="true" type="tns:MDFe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMDFe" nillable="true" type="tns:ArrayOfMDFe" />
  <xs:complexType name="MDFe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="PDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProtocolosDeCTe" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Serie" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="StatusMDFe" type="q2:StatusMDFe" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="TransportadoraEmitente" nillable="true" type="q3:Empresa" />
      <xs:element minOccurs="0" name="UFDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UFOrigem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XMLAutorizacao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MDFe" nillable="true" type="tns:MDFe" />
  <xs:complexType name="MDFeManual">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" minOccurs="0" name="ListaCIOT" nillable="true" type="q4:ArrayOfCIOT" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" minOccurs="0" name="ListaValePedagio" nillable="true" type="q5:ArrayOfValePedagio" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Motoristas" nillable="true" type="q6:ArrayOfMotorista" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProtocolosDasCargas" nillable="true" type="q7:ArrayOfint" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculo" nillable="true" type="q8:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MDFeManual" nillable="true" type="tns:MDFeManual" />
  <xs:complexType name="ProtocoloMDFeManual">
    <xs:sequence>
      <xs:element minOccurs="0" name="protocoloMDFeManual" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProtocoloMDFeManual" nillable="true" type="tns:ProtocoloMDFeManual" />
</xs:schema>