WebApplication1/Service References/ServiceReference6/Cargas2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
  <xs:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:element name="ConfirmarIntegracaoDoCTeComplementar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoDoCTeComplementarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="ConfirmarIntegracaoDoCTeComplementarResult" nillable="true" type="q1:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesComplementaresNaoIntegrados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesComplementaresNaoIntegradosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarCTesComplementaresNaoIntegradosResult" nillable="true" type="q2:RetornoOfRetornoCTeComplementar4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargaVeiculosNaoIntegrados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargaVeiculosNaoIntegradosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarCargaVeiculosNaoIntegradosResult" nillable="true" type="q3:RetornoOfRetornoCargaPorSituacao4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoDoVeiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCargaMultiEmbarcador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoDoVeiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="ConfirmarIntegracaoDoVeiculoResult" nillable="true" type="q4:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="integracaoCarga" nillable="true" type="q5:IntegracaoCarga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="AlterarCargaResult" nillable="true" type="q6:RetornoOfRetornoAlteracaoCarga4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FecharCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCargaMultiEmbarcador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FecharCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="FecharCargaResult" nillable="true" type="q7:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCancelamentoDaCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCargaMultiEmbarcador" type="xs:int" />
        <xs:element minOccurs="0" name="notaDeCancelamento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuarioERPSolicitouCancelamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCancelamentoDaCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="SolicitarCancelamentoDaCargaResult" nillable="true" type="q8:RetornoOfSituacaoCargaTRAZTvlX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarCancelamentoDaCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCargaMultiEmbarcador" type="xs:int" />
        <xs:element minOccurs="0" name="usuarioERPConfirmouCancelamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarCancelamentoDaCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="ConfirmarCancelamentoDaCargaResult" nillable="true" type="q9:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasComProblemaEmissao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasComProblemaEmissaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarCargasComProblemaEmissaoResult" nillable="true" type="q10:RetornoOfRetornoCargaPorSituacao4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasAguardandoConfirmacaoCancelamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasAguardandoConfirmacaoCancelamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarCargasAguardandoConfirmacaoCancelamentoResult" nillable="true" type="q11:RetornoOfRetornoCargaPorSituacao4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDetalhesCancelamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCargaMultiEmbarcador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDetalhesCancelamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarDetalhesCancelamentoResult" nillable="true" type="q12:RetornoOfRetornoDetalhesCancelamento4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCargaMultiEmbarcador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarPorCargaResult" nillable="true" type="q13:RetornoOfRetornoCarga4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDetalhesFretePorCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCargaMultiEmbarcador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDetalhesFretePorCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarDetalhesFretePorCargaResult" nillable="true" type="q14:RetornoOfRetornoDetalhesFrete4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarImpressaoDocumentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCargaMultiEmbarcador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarImpressaoDocumentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="ConfirmarImpressaoDocumentosResult" nillable="true" type="q15:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarInicioTransporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCargaMultiEmbarcador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarInicioTransporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="ConfirmarInicioTransporteResult" nillable="true" type="q16:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncerrarCargaMultiEmbarcador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCargaMultiEmbarcador" type="xs:int" />
        <xs:element minOccurs="0" name="ObservacaoEncerramento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncerrarCargaMultiEmbarcadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="EncerrarCargaMultiEmbarcadorResult" nillable="true" type="q17:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProtocolo" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="tipoRetorno" nillable="true" type="q18:TipoRetornoIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarCTeResult" nillable="true" type="q19:RetornoOfRetornoCTe4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMDFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProtocolo" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="tipoRetorno" nillable="true" type="q20:TipoRetornoIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMDFeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarMDFeResult" nillable="true" type="q21:RetornoOfRetornoMDFe4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasPorSituacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="situacaoCarga" type="q22:SituacaoCarga" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargasPorSituacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarCargasPorSituacaoResult" nillable="true" type="q23:RetornoOfRetornoCargaPorSituacao4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRateioPorCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCarga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRateioPorCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarRateioPorCargaResult" nillable="true" type="q24:RetornoOfArrayOfRetornoRateioProduto4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRateioPorCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProtocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRateioPorCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" minOccurs="0" name="BuscarRateioPorCTeResult" nillable="true" type="q25:RetornoOfArrayOfRetornoRateioProduto4PBTRYa8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>