WebApplication1/Service References/ServiceReference6/Cargas5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:complexType name="CTe">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliquotaICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculoICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="CFOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJCPFDestinatario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJCPFExpedidor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJCPFRecebedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJCPFRemetente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJCPFTomador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncluirICMSNoFrete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lotacao" type="xs:boolean" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroProtocolo" type="xs:int" />
      <xs:element minOccurs="0" name="PercentualICMSIncluirNoFrete" type="xs:decimal" />
      <xs:element minOccurs="0" name="PercentualReducaoBaseCalculoICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProtocolosDePedidos" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Serie" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoCTE" type="q2:TipoCTE" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoServico" type="q3:TipoServico" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoTomador" type="q4:TipoTomador" />
      <xs:element minOccurs="0" name="ValorAReceber" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorFrete" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMSDevido" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPrestacaoServico" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPresumido" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalMercadoria" type="xs:decimal" />
      <xs:element minOccurs="0" name="VersaoCTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="componentesFreteCTe" nillable="true" type="tns:ArrayOfComponenteFreteCTe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTe" nillable="true" type="tns:CTe" />
  <xs:complexType name="ArrayOfComponenteFreteCTe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComponenteFreteCTe" nillable="true" type="tns:ComponenteFreteCTe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComponenteFreteCTe" nillable="true" type="tns:ArrayOfComponenteFreteCTe" />
  <xs:complexType name="ComponenteFreteCTe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComponenteFreteCTe" nillable="true" type="tns:ComponenteFreteCTe" />
  <xs:complexType name="IntegracaoCarga">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJTransportador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCarga" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoTipoCargaEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTipoVeiculoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Motoristas" nillable="true" type="tns:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="PlacaVeiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Redespacho" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntegracaoCarga" nillable="true" type="tns:IntegracaoCarga" />
  <xs:complexType name="ArrayOfMotorista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Motorista" nillable="true" type="tns:Motorista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMotorista" nillable="true" type="tns:ArrayOfMotorista" />
  <xs:complexType name="Motorista">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Motorista" nillable="true" type="tns:Motorista" />
  <xs:complexType name="ArrayOfCTe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CTe" nillable="true" type="tns:CTe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCTe" nillable="true" type="tns:ArrayOfCTe" />
  <xs:complexType name="ArrayOfMDFe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MDFe" nillable="true" type="tns:MDFe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMDFe" nillable="true" type="tns:ArrayOfMDFe" />
  <xs:complexType name="MDFe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroProtocolo" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProtocolosDeCTe" nillable="true" type="q5:ArrayOfint" />
      <xs:element minOccurs="0" name="Serie" type="xs:int" />
      <xs:element minOccurs="0" name="UFDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UFOrigem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MDFe" nillable="true" type="tns:MDFe" />
  <xs:complexType name="ArrayOfNotaFiscalServico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotaFiscalServico" nillable="true" type="tns:NotaFiscalServico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotaFiscalServico" nillable="true" type="tns:ArrayOfNotaFiscalServico" />
  <xs:complexType name="NotaFiscalServico">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJCPFDestinatario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJCPFRemetente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalidadePrestacao" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroProtocolo" type="xs:int" />
      <xs:element minOccurs="0" name="ValorAReceber" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotaFiscalServico" nillable="true" type="tns:NotaFiscalServico" />
</xs:schema>