WebApplication1/Service References/ServiceReference6/Cargas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="SituacaoCarga">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaLogistica" />
      <xs:enumeration value="Nova" />
      <xs:enumeration value="CalculoFrete" />
      <xs:enumeration value="EmLeilao" />
      <xs:enumeration value="AgTransportador" />
      <xs:enumeration value="AgNFe" />
      <xs:enumeration value="PendeciaDocumentos" />
      <xs:enumeration value="AgImpressaoDocumentos" />
      <xs:enumeration value="ProntoTransporte" />
      <xs:enumeration value="EmTransporte" />
      <xs:enumeration value="LiberadoPagamento" />
      <xs:enumeration value="Encerrada" />
      <xs:enumeration value="EmCancelamento" />
      <xs:enumeration value="Cancelada" />
      <xs:enumeration value="RejeicaoCancelamento" />
      <xs:enumeration value="Todas">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SituacaoCarga" nillable="true" type="tns:SituacaoCarga" />
  <xs:simpleType name="TipoFreteEscolhido">
    <xs:restriction base="xs:string">
      <xs:enumeration value="todos" />
      <xs:enumeration value="Tabela" />
      <xs:enumeration value="Operador" />
      <xs:enumeration value="Leilao" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoFreteEscolhido" nillable="true" type="tns:TipoFreteEscolhido" />
  <xs:simpleType name="TipoComponenteFrete">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TODOS" />
      <xs:enumeration value="ICMS" />
      <xs:enumeration value="PEDAGIO" />
      <xs:enumeration value="DESCARGA" />
      <xs:enumeration value="FRETE" />
      <xs:enumeration value="ADVALOREM" />
      <xs:enumeration value="OUTROS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoComponenteFrete" nillable="true" type="tns:TipoComponenteFrete" />
</xs:schema>