WebApplication1/Service References/ServiceReference6/Cargas4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" />
  <xs:complexType name="RetornoOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfboolean" nillable="true" type="tns:RetornoOfboolean" />
  <xs:complexType name="RetornoOfRetornoCTeComplementar4PBTRYa8">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoCTeComplementar" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:RetornoCTeComplementar" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoCTeComplementar4PBTRYa8" nillable="true" type="tns:RetornoOfRetornoCTeComplementar4PBTRYa8" />
  <xs:complexType name="RetornoCTeComplementar">
    <xs:sequence>
      <xs:element minOccurs="0" name="CtesComplementares" nillable="true" type="tns:ArrayOfRetornoCargaCteComplementar" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoCTeComplementar" nillable="true" type="tns:RetornoCTeComplementar" />
  <xs:complexType name="ArrayOfRetornoCargaCteComplementar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetornoCargaCteComplementar" nillable="true" type="tns:RetornoCargaCteComplementar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetornoCargaCteComplementar" nillable="true" type="tns:ArrayOfRetornoCargaCteComplementar" />
  <xs:complexType name="RetornoCargaCteComplementar">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCargaMultiEmbarcador" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="CteComplementar" nillable="true" type="q1:CTe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoCargaCteComplementar" nillable="true" type="tns:RetornoCargaCteComplementar" />
  <xs:complexType name="RetornoOfRetornoCargaPorSituacao4PBTRYa8">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoCargaPorSituacao" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:RetornoCargaPorSituacao" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoCargaPorSituacao4PBTRYa8" nillable="true" type="tns:RetornoOfRetornoCargaPorSituacao4PBTRYa8" />
  <xs:complexType name="RetornoCargaPorSituacao">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CodigosDasCargas" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="NumeroTotalDeRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoCargaPorSituacao" nillable="true" type="tns:RetornoCargaPorSituacao" />
  <xs:complexType name="RetornoOfRetornoAlteracaoCarga4PBTRYa8">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoAlteracaoCarga" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:RetornoAlteracaoCarga" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoAlteracaoCarga4PBTRYa8" nillable="true" type="tns:RetornoOfRetornoAlteracaoCarga4PBTRYa8" />
  <xs:complexType name="RetornoAlteracaoCarga">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCargaMultiEmbarcador" type="xs:int" />
      <xs:element minOccurs="0" name="MensagemPendeciaCalculoFrete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PendenciaCalculoFrete" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoCarga" type="q3:SituacaoCarga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoAlteracaoCarga" nillable="true" type="tns:RetornoAlteracaoCarga" />
  <xs:complexType name="RetornoOfSituacaoCargaTRAZTvlX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SituacaoCarga" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Objeto" type="q4:SituacaoCarga" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfSituacaoCargaTRAZTvlX" nillable="true" type="tns:RetornoOfSituacaoCargaTRAZTvlX" />
  <xs:complexType name="RetornoOfRetornoDetalhesCancelamento4PBTRYa8">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoDetalhesCancelamento" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:RetornoDetalhesCancelamento" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoDetalhesCancelamento4PBTRYa8" nillable="true" type="tns:RetornoOfRetornoDetalhesCancelamento4PBTRYa8" />
  <xs:complexType name="RetornoDetalhesCancelamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataCancelamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensagemRejeicaoCancelamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivoCancelamento" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoCancelamentoCarga" type="q5:SituacaoCarga" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioERP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDetalhesCancelamento" nillable="true" type="tns:RetornoDetalhesCancelamento" />
  <xs:complexType name="RetornoOfRetornoCarga4PBTRYa8">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoCarga" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:RetornoCarga" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoCarga4PBTRYa8" nillable="true" type="tns:RetornoOfRetornoCarga4PBTRYa8" />
  <xs:complexType name="RetornoCarga">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJTransportador" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CPFMotorista" nillable="true" type="q6:ArrayOfstring" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="CTEs" nillable="true" type="q7:ArrayOfCTe" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CargasVinculadas" nillable="true" type="q8:ArrayOfint" />
      <xs:element minOccurs="0" name="CodigoCargaMultiEmbarcador" type="xs:int" />
      <xs:element minOccurs="0" name="CotacaoMoeda" type="xs:decimal" />
      <xs:element minOccurs="0" name="DataCarregamento" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="MDFEs" nillable="true" type="q9:ArrayOfMDFe" />
      <xs:element minOccurs="0" name="MensagemRejeicao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Moeda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivoPendenciaEmissao" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="NotasFiscaisServico" nillable="true" type="q10:ArrayOfNotaFiscalServico" />
      <xs:element minOccurs="0" name="PlacaVeiculo" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoCarga" type="q11:SituacaoCarga" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoFreteEscolhido" type="q12:TipoFreteEscolhido" />
      <xs:element minOccurs="0" name="UFVeiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorFrete" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoCarga" nillable="true" type="tns:RetornoCarga" />
  <xs:complexType name="RetornoOfRetornoDetalhesFrete4PBTRYa8">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoDetalhesFrete" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:RetornoDetalhesFrete" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoDetalhesFrete4PBTRYa8" nillable="true" type="tns:RetornoOfRetornoDetalhesFrete4PBTRYa8" />
  <xs:complexType name="RetornoDetalhesFrete">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoFreteEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoFreteMultiEmbarcador" type="xs:int" />
      <xs:element minOccurs="0" name="ValorFrete" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoDetalhesFrete" nillable="true" type="tns:RetornoDetalhesFrete" />
  <xs:complexType name="RetornoOfRetornoCTe4PBTRYa8">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoCTe" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:RetornoCTe" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoCTe4PBTRYa8" nillable="true" type="tns:RetornoOfRetornoCTe4PBTRYa8" />
  <xs:complexType name="RetornoCTe">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChaveCTe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCTe" type="xs:int" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensagemRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCTe" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroProtocolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroRecibo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerieCTe" type="xs:int" />
      <xs:element minOccurs="0" name="StatusCTe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoCTe" nillable="true" type="tns:RetornoCTe" />
  <xs:complexType name="RetornoOfRetornoMDFe4PBTRYa8">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoMDFe" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:RetornoMDFe" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoMDFe4PBTRYa8" nillable="true" type="tns:RetornoOfRetornoMDFe4PBTRYa8" />
  <xs:complexType name="RetornoMDFe">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CargaPropria" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChaveMDFe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoMDFe" type="xs:int" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensagemRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMDFe" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroProtocolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroRecibo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerieMDFe" type="xs:int" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="StatusMDFe" type="q13:StatusMDFe" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoMDFe" nillable="true" type="tns:RetornoMDFe" />
  <xs:complexType name="RetornoOfArrayOfRetornoRateioProduto4PBTRYa8">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRetornoRateioProduto" Namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:ArrayOfRetornoRateioProduto" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfArrayOfRetornoRateioProduto4PBTRYa8" nillable="true" type="tns:RetornoOfArrayOfRetornoRateioProduto4PBTRYa8" />
  <xs:complexType name="ArrayOfRetornoRateioProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetornoRateioProduto" nillable="true" type="tns:RetornoRateioProduto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetornoRateioProduto" nillable="true" type="tns:ArrayOfRetornoRateioProduto" />
  <xs:complexType name="RetornoRateioProduto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJTransportador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPFCNPJCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChaveCTe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCargaMultiEmbarcador" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoProdutoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComponentesRateio" nillable="true" type="tns:ArrayOfRetornoComponenteFrete" />
      <xs:element minOccurs="0" name="NumeroProtocoloCTe" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroProtocoloNFS" type="xs:int" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProtocoloPedido" type="xs:int" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorADValoremRateado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComplementoFreteRateado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorComplementoICMSRateado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDescargaRateado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMSST" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorOutrosRateado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPedagio" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPedagioRateado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalFrete" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalRateado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorUnitarioProduto" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorUnitarioRateado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoRateioProduto" nillable="true" type="tns:RetornoRateioProduto" />
  <xs:complexType name="ArrayOfRetornoComponenteFrete">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetornoComponenteFrete" nillable="true" type="tns:RetornoComponenteFrete" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetornoComponenteFrete" nillable="true" type="tns:ArrayOfRetornoComponenteFrete" />
  <xs:complexType name="RetornoComponenteFrete">
    <xs:sequence>
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" minOccurs="0" name="ComponenteFrete" nillable="true" type="q14:ComponenteFrete" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoComponenteFrete" type="q15:TipoComponenteFrete" />
      <xs:element minOccurs="0" name="ValorComponente" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoComponenteFrete" nillable="true" type="tns:RetornoComponenteFrete" />
</xs:schema>