WebApplication1/Service References/ServiceReference6/Cargas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cargas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MultiEmbarcador.Integracao" />
      <xsd:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
      <xsd:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:54743/Cargas.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICargas_ConfirmarIntegracaoDoCTeComplementar_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoDoCTeComplementar" />
  </wsdl:message>
  <wsdl:message name="ICargas_ConfirmarIntegracaoDoCTeComplementar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoDoCTeComplementarResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarCTesComplementaresNaoIntegrados_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTesComplementaresNaoIntegrados" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarCTesComplementaresNaoIntegrados_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTesComplementaresNaoIntegradosResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarCargaVeiculosNaoIntegrados_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCargaVeiculosNaoIntegrados" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarCargaVeiculosNaoIntegrados_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCargaVeiculosNaoIntegradosResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_ConfirmarIntegracaoDoVeiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoDoVeiculo" />
  </wsdl:message>
  <wsdl:message name="ICargas_ConfirmarIntegracaoDoVeiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoDoVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_AlterarCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarCarga" />
  </wsdl:message>
  <wsdl:message name="ICargas_AlterarCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarCargaResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_FecharCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:FecharCarga" />
  </wsdl:message>
  <wsdl:message name="ICargas_FecharCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:FecharCargaResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_SolicitarCancelamentoDaCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarCancelamentoDaCarga" />
  </wsdl:message>
  <wsdl:message name="ICargas_SolicitarCancelamentoDaCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarCancelamentoDaCargaResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_ConfirmarCancelamentoDaCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarCancelamentoDaCarga" />
  </wsdl:message>
  <wsdl:message name="ICargas_ConfirmarCancelamentoDaCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarCancelamentoDaCargaResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarCargasComProblemaEmissao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCargasComProblemaEmissao" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarCargasComProblemaEmissao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCargasComProblemaEmissaoResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarCargasAguardandoConfirmacaoCancelamento_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCargasAguardandoConfirmacaoCancelamento" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarCargasAguardandoConfirmacaoCancelamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCargasAguardandoConfirmacaoCancelamentoResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarDetalhesCancelamento_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarDetalhesCancelamento" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarDetalhesCancelamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarDetalhesCancelamentoResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarPorCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorCarga" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarPorCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorCargaResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarDetalhesFretePorCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarDetalhesFretePorCarga" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarDetalhesFretePorCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarDetalhesFretePorCargaResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_ConfirmarImpressaoDocumentos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarImpressaoDocumentos" />
  </wsdl:message>
  <wsdl:message name="ICargas_ConfirmarImpressaoDocumentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarImpressaoDocumentosResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_ConfirmarInicioTransporte_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarInicioTransporte" />
  </wsdl:message>
  <wsdl:message name="ICargas_ConfirmarInicioTransporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarInicioTransporteResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_EncerrarCargaMultiEmbarcador_InputMessage">
    <wsdl:part name="parameters" element="tns:EncerrarCargaMultiEmbarcador" />
  </wsdl:message>
  <wsdl:message name="ICargas_EncerrarCargaMultiEmbarcador_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncerrarCargaMultiEmbarcadorResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarCTe_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTe" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarCTe_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCTeResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarMDFe_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMDFe" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarMDFe_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMDFeResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarCargasPorSituacao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCargasPorSituacao" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarCargasPorSituacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCargasPorSituacaoResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarRateioPorCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRateioPorCarga" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarRateioPorCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRateioPorCargaResponse" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarRateioPorCTe_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRateioPorCTe" />
  </wsdl:message>
  <wsdl:message name="ICargas_BuscarRateioPorCTe_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRateioPorCTeResponse" />
  </wsdl:message>
  <wsdl:portType name="ICargas">
    <wsdl:operation name="ConfirmarIntegracaoDoCTeComplementar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/ConfirmarIntegracaoDoCTeComplementar" message="tns:ICargas_ConfirmarIntegracaoDoCTeComplementar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/ConfirmarIntegracaoDoCTeComplementarResponse" message="tns:ICargas_ConfirmarIntegracaoDoCTeComplementar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCTesComplementaresNaoIntegrados">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/BuscarCTesComplementaresNaoIntegrados" message="tns:ICargas_BuscarCTesComplementaresNaoIntegrados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/BuscarCTesComplementaresNaoIntegradosResponse" message="tns:ICargas_BuscarCTesComplementaresNaoIntegrados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCargaVeiculosNaoIntegrados">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/BuscarCargaVeiculosNaoIntegrados" message="tns:ICargas_BuscarCargaVeiculosNaoIntegrados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/BuscarCargaVeiculosNaoIntegradosResponse" message="tns:ICargas_BuscarCargaVeiculosNaoIntegrados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoDoVeiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/ConfirmarIntegracaoDoVeiculo" message="tns:ICargas_ConfirmarIntegracaoDoVeiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/ConfirmarIntegracaoDoVeiculoResponse" message="tns:ICargas_ConfirmarIntegracaoDoVeiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/AlterarCarga" message="tns:ICargas_AlterarCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/AlterarCargaResponse" message="tns:ICargas_AlterarCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FecharCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/FecharCarga" message="tns:ICargas_FecharCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/FecharCargaResponse" message="tns:ICargas_FecharCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SolicitarCancelamentoDaCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/SolicitarCancelamentoDaCarga" message="tns:ICargas_SolicitarCancelamentoDaCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/SolicitarCancelamentoDaCargaResponse" message="tns:ICargas_SolicitarCancelamentoDaCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarCancelamentoDaCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/ConfirmarCancelamentoDaCarga" message="tns:ICargas_ConfirmarCancelamentoDaCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/ConfirmarCancelamentoDaCargaResponse" message="tns:ICargas_ConfirmarCancelamentoDaCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCargasComProblemaEmissao">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/BuscarCargasComProblemaEmissao" message="tns:ICargas_BuscarCargasComProblemaEmissao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/BuscarCargasComProblemaEmissaoResponse" message="tns:ICargas_BuscarCargasComProblemaEmissao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCargasAguardandoConfirmacaoCancelamento">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/BuscarCargasAguardandoConfirmacaoCancelamento" message="tns:ICargas_BuscarCargasAguardandoConfirmacaoCancelamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/BuscarCargasAguardandoConfirmacaoCancelamentoResponse" message="tns:ICargas_BuscarCargasAguardandoConfirmacaoCancelamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarDetalhesCancelamento">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/BuscarDetalhesCancelamento" message="tns:ICargas_BuscarDetalhesCancelamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/BuscarDetalhesCancelamentoResponse" message="tns:ICargas_BuscarDetalhesCancelamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/BuscarPorCarga" message="tns:ICargas_BuscarPorCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/BuscarPorCargaResponse" message="tns:ICargas_BuscarPorCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarDetalhesFretePorCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/BuscarDetalhesFretePorCarga" message="tns:ICargas_BuscarDetalhesFretePorCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/BuscarDetalhesFretePorCargaResponse" message="tns:ICargas_BuscarDetalhesFretePorCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarImpressaoDocumentos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/ConfirmarImpressaoDocumentos" message="tns:ICargas_ConfirmarImpressaoDocumentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/ConfirmarImpressaoDocumentosResponse" message="tns:ICargas_ConfirmarImpressaoDocumentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarInicioTransporte">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/ConfirmarInicioTransporte" message="tns:ICargas_ConfirmarInicioTransporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/ConfirmarInicioTransporteResponse" message="tns:ICargas_ConfirmarInicioTransporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EncerrarCargaMultiEmbarcador">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/EncerrarCargaMultiEmbarcador" message="tns:ICargas_EncerrarCargaMultiEmbarcador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/EncerrarCargaMultiEmbarcadorResponse" message="tns:ICargas_EncerrarCargaMultiEmbarcador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCTe">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/BuscarCTe" message="tns:ICargas_BuscarCTe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/BuscarCTeResponse" message="tns:ICargas_BuscarCTe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMDFe">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/BuscarMDFe" message="tns:ICargas_BuscarMDFe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/BuscarMDFeResponse" message="tns:ICargas_BuscarMDFe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCargasPorSituacao">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/BuscarCargasPorSituacao" message="tns:ICargas_BuscarCargasPorSituacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/BuscarCargasPorSituacaoResponse" message="tns:ICargas_BuscarCargasPorSituacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarRateioPorCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/BuscarRateioPorCarga" message="tns:ICargas_BuscarRateioPorCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/BuscarRateioPorCargaResponse" message="tns:ICargas_BuscarRateioPorCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarRateioPorCTe">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargas/BuscarRateioPorCTe" message="tns:ICargas_BuscarRateioPorCTe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargas/BuscarRateioPorCTeResponse" message="tns:ICargas_BuscarRateioPorCTe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICargas" type="tns:ICargas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConfirmarIntegracaoDoCTeComplementar">
      <soap:operation soapAction="http://tempuri.org/ICargas/ConfirmarIntegracaoDoCTeComplementar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCTesComplementaresNaoIntegrados">
      <soap:operation soapAction="http://tempuri.org/ICargas/BuscarCTesComplementaresNaoIntegrados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCargaVeiculosNaoIntegrados">
      <soap:operation soapAction="http://tempuri.org/ICargas/BuscarCargaVeiculosNaoIntegrados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoDoVeiculo">
      <soap:operation soapAction="http://tempuri.org/ICargas/ConfirmarIntegracaoDoVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarCarga">
      <soap:operation soapAction="http://tempuri.org/ICargas/AlterarCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FecharCarga">
      <soap:operation soapAction="http://tempuri.org/ICargas/FecharCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolicitarCancelamentoDaCarga">
      <soap:operation soapAction="http://tempuri.org/ICargas/SolicitarCancelamentoDaCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarCancelamentoDaCarga">
      <soap:operation soapAction="http://tempuri.org/ICargas/ConfirmarCancelamentoDaCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCargasComProblemaEmissao">
      <soap:operation soapAction="http://tempuri.org/ICargas/BuscarCargasComProblemaEmissao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCargasAguardandoConfirmacaoCancelamento">
      <soap:operation soapAction="http://tempuri.org/ICargas/BuscarCargasAguardandoConfirmacaoCancelamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDetalhesCancelamento">
      <soap:operation soapAction="http://tempuri.org/ICargas/BuscarDetalhesCancelamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorCarga">
      <soap:operation soapAction="http://tempuri.org/ICargas/BuscarPorCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDetalhesFretePorCarga">
      <soap:operation soapAction="http://tempuri.org/ICargas/BuscarDetalhesFretePorCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarImpressaoDocumentos">
      <soap:operation soapAction="http://tempuri.org/ICargas/ConfirmarImpressaoDocumentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarInicioTransporte">
      <soap:operation soapAction="http://tempuri.org/ICargas/ConfirmarInicioTransporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncerrarCargaMultiEmbarcador">
      <soap:operation soapAction="http://tempuri.org/ICargas/EncerrarCargaMultiEmbarcador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCTe">
      <soap:operation soapAction="http://tempuri.org/ICargas/BuscarCTe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMDFe">
      <soap:operation soapAction="http://tempuri.org/ICargas/BuscarMDFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCargasPorSituacao">
      <soap:operation soapAction="http://tempuri.org/ICargas/BuscarCargasPorSituacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarRateioPorCarga">
      <soap:operation soapAction="http://tempuri.org/ICargas/BuscarRateioPorCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarRateioPorCTe">
      <soap:operation soapAction="http://tempuri.org/ICargas/BuscarRateioPorCTe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cargas">
    <wsdl:port name="BasicHttpBinding_ICargas" binding="tns:BasicHttpBinding_ICargas">
      <soap:address location="http://localhost:54743/Cargas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>