WebApplication1/Service References/WSImpressaoCTe/ImpressaoCTe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImpressaoCTe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.125/WebServiceIntegracaoLocal/ImpressaoCTe.svc/definitions?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.125/WebServiceIntegracaoLocal/ImpressaoCTe.svc/definitions?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.125/WebServiceIntegracaoLocal/ImpressaoCTe.svc/definitions?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://192.168.0.125/WebServiceIntegracaoLocal/ImpressaoCTe.svc/definitions?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
      <xsd:import schemaLocation="http://192.168.0.125/WebServiceIntegracaoLocal/ImpressaoCTe.svc/definitions?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImpressaoCTe_SolicitarImpressao_InputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarImpressao" />
  </wsdl:message>
  <wsdl:message name="IImpressaoCTe_SolicitarImpressao_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarImpressaoResponse" />
  </wsdl:message>
  <wsdl:message name="IImpressaoCTe_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="IImpressaoCTe_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="IImpressaoCTe_ObterImpressoesPendentes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterImpressoesPendentes" />
  </wsdl:message>
  <wsdl:message name="IImpressaoCTe_ObterImpressoesPendentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterImpressoesPendentesResponse" />
  </wsdl:message>
  <wsdl:portType name="IImpressaoCTe">
    <wsdl:operation name="SolicitarImpressao">
      <wsdl:input wsaw:Action="http://tempuri.org/IImpressaoCTe/SolicitarImpressao" message="tns:IImpressaoCTe_SolicitarImpressao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImpressaoCTe/SolicitarImpressaoResponse" message="tns:IImpressaoCTe_SolicitarImpressao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/IImpressaoCTe/Alterar" message="tns:IImpressaoCTe_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImpressaoCTe/AlterarResponse" message="tns:IImpressaoCTe_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterImpressoesPendentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IImpressaoCTe/ObterImpressoesPendentes" message="tns:IImpressaoCTe_ObterImpressoesPendentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImpressaoCTe/ObterImpressoesPendentesResponse" message="tns:IImpressaoCTe_ObterImpressoesPendentes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImpressaoCTe" type="tns:IImpressaoCTe">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitarImpressao">
      <soap:operation soapAction="http://tempuri.org/IImpressaoCTe/SolicitarImpressao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/IImpressaoCTe/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterImpressoesPendentes">
      <soap:operation soapAction="http://tempuri.org/IImpressaoCTe/ObterImpressoesPendentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImpressaoCTe">
    <wsdl:port name="BasicHttpBinding_IImpressaoCTe" binding="tns:BasicHttpBinding_IImpressaoCTe">
      <soap:address location="http://192.168.0.125/WebServiceIntegracaoLocal/ImpressaoCTe.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>