Servicos/Service References/ServicoSGT.Empresa/Empresa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Empresa" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Configuracoes" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NotaFiscal" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" />
      <xsd:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpresa_InformarMacroVeiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:InformarMacroVeiculo" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_InformarMacroVeiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformarMacroVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarVeiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarVeiculo" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarVeiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarVeiculoProtocolo_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarVeiculoProtocolo" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarVeiculoProtocolo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarVeiculoProtocoloResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarMotorista_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarMotorista" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarMotorista_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarMotoristaResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarMotoristaProtocolo_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarMotoristaProtocolo" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarMotoristaProtocolo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarMotoristaProtocoloResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarVeiculoValePedagioCIOT_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarVeiculoValePedagioCIOT" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarVeiculoValePedagioCIOT_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarVeiculoValePedagioCIOTResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConsultarTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTransportador" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConsultarTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarTransportadores_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTransportadores" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarTransportadores_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTransportadoresResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarVeiculosPendentesIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVeiculosPendentesIntegracao" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarVeiculosPendentesIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVeiculosPendentesIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarMotoristasPendentesIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMotoristasPendentesIntegracao" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarMotoristasPendentesIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMotoristasPendentesIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarTransportadoresPendentesIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTransportadoresPendentesIntegracao" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarTransportadoresPendentesIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTransportadoresPendentesIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoVeiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoVeiculo" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoVeiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoVeiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoMotorista_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoMotorista" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoMotorista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoMotoristaResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoTransportador" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoTransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarTransportador" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarTransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarFeriado_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarFeriado" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_SalvarFeriado_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarFeriadoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_InformarDadosBancariosTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:InformarDadosBancariosTransportador" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_InformarDadosBancariosTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformarDadosBancariosTransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarAbastecimentosPendentesIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAbastecimentosPendentesIntegracao" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarAbastecimentosPendentesIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAbastecimentosPendentesIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoAbastecimento_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoAbastecimento" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoAbastecimento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoAbastecimentoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarTipoMovimento_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTipoMovimento" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarTipoMovimento_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTipoMovimentoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarNaviosPendentesIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNaviosPendentesIntegracao" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarNaviosPendentesIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNaviosPendentesIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoNavio_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoNavio" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoNavio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoNavioResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarViagemPendentesIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarViagemPendentesIntegracao" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarViagemPendentesIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarViagemPendentesIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoViagem_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoViagem" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoViagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoViagemResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarPortoPendentesIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPortoPendentesIntegracao" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarPortoPendentesIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPortoPendentesIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoPorto_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoPorto" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoPorto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoPortoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarTipoContainerIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTipoContainerIntegracao" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarTipoContainerIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTipoContainerIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoTipoContainer_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoTipoContainer" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoTipoContainer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoTipoContainerResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarTerminalPortoPendentesIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTerminalPortoPendentesIntegracao" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarTerminalPortoPendentesIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTerminalPortoPendentesIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoTerminalPorto_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoTerminalPorto" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoTerminalPorto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoTerminalPortoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarProdutoPendentesIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProdutoPendentesIntegracao" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_BuscarProdutoPendentesIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProdutoPendentesIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoProduto" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConfirmarIntegracaoProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarIntegracaoProdutoResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpresa">
    <wsdl:operation name="InformarMacroVeiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/InformarMacroVeiculo" message="tns:IEmpresa_InformarMacroVeiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/InformarMacroVeiculoResponse" message="tns:IEmpresa_InformarMacroVeiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarVeiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/SalvarVeiculo" message="tns:IEmpresa_SalvarVeiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/SalvarVeiculoResponse" message="tns:IEmpresa_SalvarVeiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarVeiculoProtocolo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/SalvarVeiculoProtocolo" message="tns:IEmpresa_SalvarVeiculoProtocolo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/SalvarVeiculoProtocoloResponse" message="tns:IEmpresa_SalvarVeiculoProtocolo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarMotorista">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/SalvarMotorista" message="tns:IEmpresa_SalvarMotorista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/SalvarMotoristaResponse" message="tns:IEmpresa_SalvarMotorista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarMotoristaProtocolo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/SalvarMotoristaProtocolo" message="tns:IEmpresa_SalvarMotoristaProtocolo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/SalvarMotoristaProtocoloResponse" message="tns:IEmpresa_SalvarMotoristaProtocolo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarVeiculoValePedagioCIOT">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/SalvarVeiculoValePedagioCIOT" message="tns:IEmpresa_SalvarVeiculoValePedagioCIOT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/SalvarVeiculoValePedagioCIOTResponse" message="tns:IEmpresa_SalvarVeiculoValePedagioCIOT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTransportador">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/ConsultarTransportador" message="tns:IEmpresa_ConsultarTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/ConsultarTransportadorResponse" message="tns:IEmpresa_ConsultarTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTransportadores">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarTransportadores" message="tns:IEmpresa_BuscarTransportadores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarTransportadoresResponse" message="tns:IEmpresa_BuscarTransportadores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarVeiculosPendentesIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarVeiculosPendentesIntegracao" message="tns:IEmpresa_BuscarVeiculosPendentesIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarVeiculosPendentesIntegracaoResponse" message="tns:IEmpresa_BuscarVeiculosPendentesIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMotoristasPendentesIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarMotoristasPendentesIntegracao" message="tns:IEmpresa_BuscarMotoristasPendentesIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarMotoristasPendentesIntegracaoResponse" message="tns:IEmpresa_BuscarMotoristasPendentesIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTransportadoresPendentesIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarTransportadoresPendentesIntegracao" message="tns:IEmpresa_BuscarTransportadoresPendentesIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarTransportadoresPendentesIntegracaoResponse" message="tns:IEmpresa_BuscarTransportadoresPendentesIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoVeiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoVeiculo" message="tns:IEmpresa_ConfirmarIntegracaoVeiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoVeiculoResponse" message="tns:IEmpresa_ConfirmarIntegracaoVeiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoMotorista">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoMotorista" message="tns:IEmpresa_ConfirmarIntegracaoMotorista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoMotoristaResponse" message="tns:IEmpresa_ConfirmarIntegracaoMotorista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoTransportador">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoTransportador" message="tns:IEmpresa_ConfirmarIntegracaoTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoTransportadorResponse" message="tns:IEmpresa_ConfirmarIntegracaoTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarTransportador">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/SalvarTransportador" message="tns:IEmpresa_SalvarTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/SalvarTransportadorResponse" message="tns:IEmpresa_SalvarTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarFeriado">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/SalvarFeriado" message="tns:IEmpresa_SalvarFeriado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/SalvarFeriadoResponse" message="tns:IEmpresa_SalvarFeriado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformarDadosBancariosTransportador">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/InformarDadosBancariosTransportador" message="tns:IEmpresa_InformarDadosBancariosTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/InformarDadosBancariosTransportadorResponse" message="tns:IEmpresa_InformarDadosBancariosTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAbastecimentosPendentesIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarAbastecimentosPendentesIntegracao" message="tns:IEmpresa_BuscarAbastecimentosPendentesIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarAbastecimentosPendentesIntegracaoResponse" message="tns:IEmpresa_BuscarAbastecimentosPendentesIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoAbastecimento">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoAbastecimento" message="tns:IEmpresa_ConfirmarIntegracaoAbastecimento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoAbastecimentoResponse" message="tns:IEmpresa_ConfirmarIntegracaoAbastecimento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTipoMovimento">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarTipoMovimento" message="tns:IEmpresa_BuscarTipoMovimento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarTipoMovimentoResponse" message="tns:IEmpresa_BuscarTipoMovimento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNaviosPendentesIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarNaviosPendentesIntegracao" message="tns:IEmpresa_BuscarNaviosPendentesIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarNaviosPendentesIntegracaoResponse" message="tns:IEmpresa_BuscarNaviosPendentesIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoNavio">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoNavio" message="tns:IEmpresa_ConfirmarIntegracaoNavio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoNavioResponse" message="tns:IEmpresa_ConfirmarIntegracaoNavio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarViagemPendentesIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarViagemPendentesIntegracao" message="tns:IEmpresa_BuscarViagemPendentesIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarViagemPendentesIntegracaoResponse" message="tns:IEmpresa_BuscarViagemPendentesIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoViagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoViagem" message="tns:IEmpresa_ConfirmarIntegracaoViagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoViagemResponse" message="tns:IEmpresa_ConfirmarIntegracaoViagem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPortoPendentesIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarPortoPendentesIntegracao" message="tns:IEmpresa_BuscarPortoPendentesIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarPortoPendentesIntegracaoResponse" message="tns:IEmpresa_BuscarPortoPendentesIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoPorto">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoPorto" message="tns:IEmpresa_ConfirmarIntegracaoPorto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoPortoResponse" message="tns:IEmpresa_ConfirmarIntegracaoPorto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTipoContainerIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarTipoContainerIntegracao" message="tns:IEmpresa_BuscarTipoContainerIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarTipoContainerIntegracaoResponse" message="tns:IEmpresa_BuscarTipoContainerIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoTipoContainer">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoTipoContainer" message="tns:IEmpresa_ConfirmarIntegracaoTipoContainer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoTipoContainerResponse" message="tns:IEmpresa_ConfirmarIntegracaoTipoContainer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTerminalPortoPendentesIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarTerminalPortoPendentesIntegracao" message="tns:IEmpresa_BuscarTerminalPortoPendentesIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarTerminalPortoPendentesIntegracaoResponse" message="tns:IEmpresa_BuscarTerminalPortoPendentesIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoTerminalPorto">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoTerminalPorto" message="tns:IEmpresa_ConfirmarIntegracaoTerminalPorto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoTerminalPortoResponse" message="tns:IEmpresa_ConfirmarIntegracaoTerminalPorto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProdutoPendentesIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/BuscarProdutoPendentesIntegracao" message="tns:IEmpresa_BuscarProdutoPendentesIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/BuscarProdutoPendentesIntegracaoResponse" message="tns:IEmpresa_BuscarProdutoPendentesIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoProduto" message="tns:IEmpresa_ConfirmarIntegracaoProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/ConfirmarIntegracaoProdutoResponse" message="tns:IEmpresa_ConfirmarIntegracaoProduto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpresa" type="tns:IEmpresa">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InformarMacroVeiculo">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/InformarMacroVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarVeiculo">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/SalvarVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarVeiculoProtocolo">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/SalvarVeiculoProtocolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarMotorista">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/SalvarMotorista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarMotoristaProtocolo">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/SalvarMotoristaProtocolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarVeiculoValePedagioCIOT">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/SalvarVeiculoValePedagioCIOT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTransportador">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/ConsultarTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTransportadores">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarTransportadores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarVeiculosPendentesIntegracao">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarVeiculosPendentesIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMotoristasPendentesIntegracao">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarMotoristasPendentesIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTransportadoresPendentesIntegracao">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarTransportadoresPendentesIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoVeiculo">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/ConfirmarIntegracaoVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoMotorista">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/ConfirmarIntegracaoMotorista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoTransportador">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/ConfirmarIntegracaoTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarTransportador">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/SalvarTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarFeriado">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/SalvarFeriado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformarDadosBancariosTransportador">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/InformarDadosBancariosTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAbastecimentosPendentesIntegracao">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarAbastecimentosPendentesIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoAbastecimento">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/ConfirmarIntegracaoAbastecimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTipoMovimento">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarTipoMovimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNaviosPendentesIntegracao">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarNaviosPendentesIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoNavio">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/ConfirmarIntegracaoNavio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarViagemPendentesIntegracao">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarViagemPendentesIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoViagem">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/ConfirmarIntegracaoViagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPortoPendentesIntegracao">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarPortoPendentesIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoPorto">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/ConfirmarIntegracaoPorto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTipoContainerIntegracao">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarTipoContainerIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoTipoContainer">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/ConfirmarIntegracaoTipoContainer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTerminalPortoPendentesIntegracao">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarTerminalPortoPendentesIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoTerminalPorto">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/ConfirmarIntegracaoTerminalPorto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProdutoPendentesIntegracao">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/BuscarProdutoPendentesIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarIntegracaoProduto">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/ConfirmarIntegracaoProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Empresa">
    <wsdl:port name="BasicHttpBinding_IEmpresa" binding="tns:BasicHttpBinding_IEmpresa">
      <soap:address location="http://localhost:5146/Empresa.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>