Servicos/Service References/ServicoSGT.Empresa/Empresa12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:complexType name="ValePedagio">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJFornecedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJResponsavel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAgendamentoPorto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroComprovante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantidadeEixos" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoCompra" nillable="true" type="q1:TipoCompraValePedagio" />
      <xs:element minOccurs="0" name="ValorValePedagio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValePedagio" nillable="true" type="tns:ValePedagio" />
  <xs:complexType name="CIOT">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJCPFResponsavel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CIOT" nillable="true" type="tns:CIOT" />
</xs:schema>