Servicos/Service References/ServicoSGT.Empresa/Empresa122.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Configuracoes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Configuracoes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:complexType name="Feriado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ano" type="xs:int" />
      <xs:element minOccurs="0" name="Ativo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dia" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Localidade" nillable="true" type="q1:Localidade" />
      <xs:element minOccurs="0" name="Mes" type="xs:int" />
      <xs:element minOccurs="0" name="SiglaUF" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Tipo" nillable="true" type="q2:TipoFeriado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feriado" nillable="true" type="tns:Feriado" />
</xs:schema>