Servicos/Service References/ServicoSGT.Empresa/Empresa131.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lote" nillable="true" type="tns:Lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLote" nillable="true" type="tns:ArrayOfLote" />
  <xs:complexType name="Lote">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataFabricacao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataValidade" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroLote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantidadeLote" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lote" nillable="true" type="tns:Lote" />
</xs:schema>