Servicos/Service References/ServicoSGT.Empresa/Empresa1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
  <xs:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
  <xs:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" />
  <xs:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Configuracoes" />
  <xs:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:element name="InformarMacroVeiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="macroIntegracao" nillable="true" type="q1:Macro" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="veiculoIntegracao" nillable="true" type="q2:Veiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarMacroVeiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="InformarMacroVeiculoResult" nillable="true" type="q3:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarVeiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="veiculoIntegracao" nillable="true" type="q4:Veiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarVeiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SalvarVeiculoResult" nillable="true" type="q5:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarVeiculoProtocolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="veiculoIntegracao" nillable="true" type="q6:Veiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarVeiculoProtocoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SalvarVeiculoProtocoloResult" nillable="true" type="q7:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarMotorista">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="motoristaIntegracao" nillable="true" type="q8:Motorista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarMotoristaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SalvarMotoristaResult" nillable="true" type="q9:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarMotoristaProtocolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="motoristaIntegracao" nillable="true" type="q10:Motorista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarMotoristaProtocoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SalvarMotoristaProtocoloResult" nillable="true" type="q11:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarVeiculoValePedagioCIOT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="empresa" nillable="true" type="q12:Empresa" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="veiculo" nillable="true" type="q13:Veiculo" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" minOccurs="0" name="valePedagio" nillable="true" type="q14:ValePedagio" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" minOccurs="0" name="ciot" nillable="true" type="q15:CIOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarVeiculoValePedagioCIOTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SalvarVeiculoValePedagioCIOTResult" nillable="true" type="q16:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTransportador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConsultarTransportadorResult" nillable="true" type="q17:RetornoOfEmpresaenvyzHPB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTransportadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTransportadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarTransportadoresResult" nillable="true" type="q18:RetornoOfPaginacaoOfEmpresaenvyzHPB51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVeiculosPendentesIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVeiculosPendentesIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarVeiculosPendentesIntegracaoResult" nillable="true" type="q19:RetornoOfPaginacaoOfVeiculoPrfa960O51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMotoristasPendentesIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMotoristasPendentesIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarMotoristasPendentesIntegracaoResult" nillable="true" type="q20:RetornoOfPaginacaoOfMotoristaYCIsJlsP51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTransportadoresPendentesIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTransportadoresPendentesIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarTransportadoresPendentesIntegracaoResult" nillable="true" type="q21:RetornoOfPaginacaoOfEmpresaenvyzHPB51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoVeiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoVeiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoVeiculoResult" nillable="true" type="q22:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoMotorista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoMotoristaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoMotoristaResult" nillable="true" type="q23:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoTransportador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoTransportadorResult" nillable="true" type="q24:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarTransportador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="transportador" nillable="true" type="q25:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SalvarTransportadorResult" nillable="true" type="q26:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarFeriado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Configuracoes" minOccurs="0" name="feriado" nillable="true" type="q27:Feriado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarFeriadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SalvarFeriadoResult" nillable="true" type="q28:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarDadosBancariosTransportador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjTransportador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoBanco" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoContaBanco" type="q29:TipoContaBanco" />
        <xs:element minOccurs="0" name="numeroConta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="digitoAgencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarDadosBancariosTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="InformarDadosBancariosTransportadorResult" nillable="true" type="q30:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAbastecimentosPendentesIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAbastecimentosPendentesIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarAbastecimentosPendentesIntegracaoResult" nillable="true" type="q31:RetornoOfPaginacaoOfConsultaAbastecimentoPrfa960O51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoAbastecimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoAbastecimentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoAbastecimentoResult" nillable="true" type="q32:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTipoMovimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTipoMovimentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarTipoMovimentoResult" nillable="true" type="q33:RetornoOfPaginacaoOfTipoMovimentoZDIs1xja51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNaviosPendentesIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNaviosPendentesIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarNaviosPendentesIntegracaoResult" nillable="true" type="q34:RetornoOfPaginacaoOfNavioYCIsJlsP51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoNavio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoNavioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoNavioResult" nillable="true" type="q35:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarViagemPendentesIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarViagemPendentesIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarViagemPendentesIntegracaoResult" nillable="true" type="q36:RetornoOfPaginacaoOfViagemYCIsJlsP51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoViagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoViagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoViagemResult" nillable="true" type="q37:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPortoPendentesIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPortoPendentesIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarPortoPendentesIntegracaoResult" nillable="true" type="q38:RetornoOfPaginacaoOfPortoYCIsJlsP51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoPorto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoPortoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoPortoResult" nillable="true" type="q39:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTipoContainerIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTipoContainerIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarTipoContainerIntegracaoResult" nillable="true" type="q40:RetornoOfPaginacaoOfTipoContainerYCIsJlsP51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoTipoContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoTipoContainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoTipoContainerResult" nillable="true" type="q41:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTerminalPortoPendentesIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTerminalPortoPendentesIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarTerminalPortoPendentesIntegracaoResult" nillable="true" type="q42:RetornoOfPaginacaoOfTerminalPortoYCIsJlsP51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoTerminalPorto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoTerminalPortoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoTerminalPortoResult" nillable="true" type="q43:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProdutoPendentesIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProdutoPendentesIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarProdutoPendentesIntegracaoResult" nillable="true" type="q44:RetornoOfPaginacaoOfProdutoknUzgH8451p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoProdutoResult" nillable="true" type="q45:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>