Servicos/Service References/ServicoSGT.Empresa/Empresa8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Empresa.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:complexType name="CentroResultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CentroResultado" nillable="true" type="tns:CentroResultado" />
  <xs:complexType name="ArrayOfTipoMovimento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoMovimento" nillable="true" type="tns:TipoMovimento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoMovimento" nillable="true" type="tns:ArrayOfTipoMovimento" />
  <xs:complexType name="TipoMovimento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanoEntrada" nillable="true" type="tns:PlanoDeConta" />
      <xs:element minOccurs="0" name="PlanoSaida" nillable="true" type="tns:PlanoDeConta" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Situacao" type="q1:SituacaoAtivoPesquisa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoMovimento" nillable="true" type="tns:TipoMovimento" />
  <xs:complexType name="PlanoDeConta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plano" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanoDeConta" nillable="true" type="tns:PlanoDeConta" />
</xs:schema>