Servicos/Service References/ServicoConsultaNFe/ConsultaNFe5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.125/SGT.WebService/ConsultaNFe.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://192.168.0.125/SGT.WebService/ConsultaNFe.svc?xsd=xsd12" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.0.125/SGT.WebService/ConsultaNFe.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://192.168.0.125/SGT.WebService/ConsultaNFe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
  <xs:complexType name="ArrayOfModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeloVeicular" nillable="true" type="tns:ModeloVeicular" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeloVeicular" nillable="true" type="tns:ArrayOfModeloVeicular" />
  <xs:complexType name="ModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoModeloVeicular" type="q1:TipoModeloVeicularCarga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloVeicular" nillable="true" type="tns:ModeloVeicular" />
  <xs:complexType name="ArrayOfTipoOperacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoOperacao" nillable="true" type="tns:TipoOperacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoOperacao" nillable="true" type="tns:ArrayOfTipoOperacao" />
  <xs:complexType name="TipoOperacao">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CNPJsDaOperacao" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoOperacao" nillable="true" type="tns:TipoOperacao" />
  <xs:complexType name="ArrayOfMotorista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Motorista" nillable="true" type="tns:Motorista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMotorista" nillable="true" type="tns:ArrayOfMotorista" />
  <xs:complexType name="Motorista">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="DadosBancarios" nillable="true" type="q3:DadosBancarios" />
      <xs:element minOccurs="0" name="DataAdmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataHabilitacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataVencimentoHabilitacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Endereco" nillable="true" type="q4:Endereco" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroHabilitacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Motorista" nillable="true" type="tns:Motorista" />
</xs:schema>