EmissaoCTe.API/Service References/ConsultaCTe/CosultaCTe1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.CTe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" />
  <xs:import schemaLocation="http://localhost:5146/CosultaCTe.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
  <xs:complexType name="CTe">
    <xs:sequence>
      <xs:element minOccurs="0" name="CFOP" type="xs:int" />
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChaveCTEReferenciado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChaveCTeComplementado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Destinatario" nillable="true" type="q1:Pessoa" />
      <xs:element minOccurs="0" name="DetalhesRetira" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentosAnteriores" nillable="true" type="tns:ArrayOfDocumentoAnterior" />
      <xs:element minOccurs="0" name="DocumentosAnterioresDePapel" nillable="true" type="tns:ArrayOfDocumentoAnteriorPapel" />
      <xs:element minOccurs="0" name="Duplicata" nillable="true" type="tns:Duplicata" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Emitente" nillable="true" type="q2:Empresa" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Expedidor" nillable="true" type="q3:Pessoa" />
      <xs:element minOccurs="0" name="InformacaoAdicionalContribuinte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InformacaoAdicionalFisco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InformacaoCarga" nillable="true" type="tns:InformacaoCarga" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="LocalidadeFimPrestacao" nillable="true" type="q4:Localidade" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="LocalidadeInicioPrestacao" nillable="true" type="q5:Localidade" />
      <xs:element minOccurs="0" name="ModalRodoviario" nillable="true" type="tns:ModalRodoviario" />
      <xs:element minOccurs="0" name="NFEs" nillable="true" type="tns:ArrayOfNFe" />
      <xs:element minOccurs="0" name="NaturezaOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotasFiscais" nillable="true" type="tns:ArrayOfNotaFiscal" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroRomaneio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacoesContribuinte" nillable="true" type="tns:ArrayOfObservacao" />
      <xs:element minOccurs="0" name="ObservacoesFisco" nillable="true" type="tns:ArrayOfObservacao" />
      <xs:element minOccurs="0" name="ObservacoesGeral" nillable="true" type="tns:Observacao" />
      <xs:element minOccurs="0" name="OutrosDocumentos" nillable="true" type="tns:ArrayOfOutroDocumento" />
      <xs:element minOccurs="0" name="ProdutosPerigosos" nillable="true" type="tns:ArrayOfProdutoPerigoso" />
      <xs:element minOccurs="0" name="Protocolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantidadesCarga" nillable="true" type="tns:ArrayOfQuantidadeCarga" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Recebedor" nillable="true" type="q6:Pessoa" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Remetente" nillable="true" type="q7:Pessoa" />
      <xs:element minOccurs="0" name="Retira" type="xs:boolean" />
      <xs:element minOccurs="0" name="Seguros" nillable="true" type="tns:ArrayOfSeguro" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="SituacaoCTeSefaz" type="q8:SituacaoCTeSefaz" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoAmbiente" type="q9:TipoAmbiente" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoCTE" type="q10:TipoCTE" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoImpressao" type="q11:TipoImpressao" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoModal" type="q12:TipoModal" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoPagamento" type="q13:TipoPagamento" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoServico" type="q14:TipoServico" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoTomador" type="q15:TipoTomador" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Tomador" nillable="true" type="q16:Pessoa" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frete" minOccurs="0" name="ValorFrete" nillable="true" type="q17:FreteValor" />
      <xs:element minOccurs="0" name="Versao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Xml" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTe" nillable="true" type="tns:CTe" />
  <xs:complexType name="ArrayOfDocumentoAnterior">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentoAnterior" nillable="true" type="tns:DocumentoAnterior" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentoAnterior" nillable="true" type="tns:ArrayOfDocumentoAnterior" />
  <xs:complexType name="DocumentoAnterior">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChaveAcesso" nillable="true" type="xs:string" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Emitente" nillable="true" type="q18:Pessoa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoAnterior" nillable="true" type="tns:DocumentoAnterior" />
  <xs:complexType name="ArrayOfDocumentoAnteriorPapel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentoAnteriorPapel" nillable="true" type="tns:DocumentoAnteriorPapel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentoAnteriorPapel" nillable="true" type="tns:ArrayOfDocumentoAnteriorPapel" />
  <xs:complexType name="DocumentoAnteriorPapel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Emitente" nillable="true" type="q19:Pessoa" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumentoTransportaAnteriorPapel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoAnteriorPapel" nillable="true" type="tns:DocumentoAnteriorPapel" />
  <xs:complexType name="Duplicata">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataDuplicata" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Parcela" type="xs:int" />
      <xs:element minOccurs="0" name="ValorDuplicata" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Duplicata" nillable="true" type="tns:Duplicata" />
  <xs:complexType name="InformacaoCarga">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaracteristicaServico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaracteristicaTransporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Container" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEntregaContainer" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroLacreContainer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutrasCaracteristicas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdutoPredominante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorTotalCarga" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformacaoCarga" nillable="true" type="tns:InformacaoCarga" />
  <xs:complexType name="ModalRodoviario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CIOT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lotacao" type="xs:boolean" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Motoristas" nillable="true" type="q20:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="RNTRC" nillable="true" type="xs:string" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculos" nillable="true" type="q21:ArrayOfVeiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModalRodoviario" nillable="true" type="tns:ModalRodoviario" />
  <xs:complexType name="ArrayOfNFe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NFe" nillable="true" type="tns:NFe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNFe" nillable="true" type="tns:ArrayOfNFe" />
  <xs:complexType name="NFe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NFe" nillable="true" type="tns:NFe" />
  <xs:complexType name="ArrayOfNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotaFiscal" nillable="true" type="tns:ArrayOfNotaFiscal" />
  <xs:complexType name="NotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseCalculoICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculoICMSST" type="xs:decimal" />
      <xs:element minOccurs="0" name="CFOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="ModeloNotaFiscal" type="q22:ModeloNotaFiscal" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMSST" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorProdutos" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
  <xs:complexType name="ArrayOfObservacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Observacao" nillable="true" type="tns:Observacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObservacao" nillable="true" type="tns:ArrayOfObservacao" />
  <xs:complexType name="Observacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Campo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Observacao" nillable="true" type="tns:Observacao" />
  <xs:complexType name="ArrayOfOutroDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OutroDocumento" nillable="true" type="tns:OutroDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOutroDocumento" nillable="true" type="tns:ArrayOfOutroDocumento" />
  <xs:complexType name="OutroDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="Tipo" type="q23:TipoOutroDocumento" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutroDocumento" nillable="true" type="tns:OutroDocumento" />
  <xs:complexType name="ArrayOfProdutoPerigoso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdutoPerigoso" nillable="true" type="tns:ProdutoPerigoso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdutoPerigoso" nillable="true" type="tns:ArrayOfProdutoPerigoso" />
  <xs:complexType name="ProdutoPerigoso">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClasseRisco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeApropriado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroONU" type="xs:int" />
      <xs:element minOccurs="0" name="PontoFulgor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Volumes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoPerigoso" nillable="true" type="tns:ProdutoPerigoso" />
  <xs:complexType name="ArrayOfQuantidadeCarga">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuantidadeCarga" nillable="true" type="tns:QuantidadeCarga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuantidadeCarga" nillable="true" type="tns:ArrayOfQuantidadeCarga" />
  <xs:complexType name="QuantidadeCarga">
    <xs:sequence>
      <xs:element minOccurs="0" name="Medida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:decimal" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="Unidade" type="q24:UnidadeMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuantidadeCarga" nillable="true" type="tns:QuantidadeCarga" />
  <xs:complexType name="ArrayOfSeguro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Seguro" nillable="true" type="tns:Seguro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeguro" nillable="true" type="tns:ArrayOfSeguro" />
  <xs:complexType name="Seguro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apolice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Averbacao" nillable="true" type="xs:string" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="ResponsavelSeguro" type="q25:TipoSeguro" />
      <xs:element minOccurs="0" name="Seguradora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Seguro" nillable="true" type="tns:Seguro" />
</xs:schema>