EmissaoCTe.API/Service References/ConsultaCTe/CosultaCTe12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ISS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.ISS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ISS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aliquota" type="xs:decimal" />
      <xs:element minOccurs="0" name="IncluirISSBaseCalculo" type="xs:boolean" />
      <xs:element minOccurs="0" name="PercentualRetencao" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorBaseCalculoISS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorISS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorRetencaoISS" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ISS" nillable="true" type="tns:ISS" />
</xs:schema>