WebApplication1/Service References/WsFreteHavan/Fretes14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Frete" />
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" />
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" />
  <xs:element name="CalcularFrete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Frete" minOccurs="0" name="dadosCalculoFrete" nillable="true" type="q1:DadosCalculoFrete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularFreteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" minOccurs="0" name="CalcularFreteResult" nillable="true" type="q2:RetornoOfRetornoCalculoFretej0uwYGqY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterCotacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" minOccurs="0" name="cotacao" nillable="true" type="q3:Cotacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterCotacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" minOccurs="0" name="ObterCotacaoResult" nillable="true" type="q4:RetornoOfArrayOfRetornoCotacaoR2jBdO9H" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>