WebApplication1/Service References/WsFreteHavan/Fretes9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Frete" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Frete" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DadosCalculoFrete">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CEPDestino" nillable="true" type="q1:ArrayOfint" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CEPOrigem" nillable="true" type="q2:ArrayOfint" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IBGEDestino" nillable="true" type="q3:ArrayOfint" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IBGEOrigem" nillable="true" type="q4:ArrayOfint" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorMercadoria" type="xs:decimal" />
      <xs:element minOccurs="0" name="Volumes" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosCalculoFrete" nillable="true" type="tns:DadosCalculoFrete" />
  <xs:complexType name="RetornoCalculoFrete">
    <xs:sequence>
      <xs:element minOccurs="0" name="Valores" nillable="true" type="tns:ArrayOfRetornoCalculoFreteValores" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoCalculoFrete" nillable="true" type="tns:RetornoCalculoFrete" />
  <xs:complexType name="ArrayOfRetornoCalculoFreteValores">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetornoCalculoFreteValores" nillable="true" type="tns:RetornoCalculoFreteValores" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetornoCalculoFreteValores" nillable="true" type="tns:ArrayOfRetornoCalculoFreteValores" />
  <xs:complexType name="RetornoCalculoFreteValores">
    <xs:sequence>
      <xs:element minOccurs="0" name="Componentes" nillable="true" type="tns:ArrayOfRetornoCalculoFreteValoresComponente" />
      <xs:element minOccurs="0" name="ValorFreteLiquido" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalFrete" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoCalculoFreteValores" nillable="true" type="tns:RetornoCalculoFreteValores" />
  <xs:complexType name="ArrayOfRetornoCalculoFreteValoresComponente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetornoCalculoFreteValoresComponente" nillable="true" type="tns:RetornoCalculoFreteValoresComponente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetornoCalculoFreteValoresComponente" nillable="true" type="tns:ArrayOfRetornoCalculoFreteValoresComponente" />
  <xs:complexType name="RetornoCalculoFreteValoresComponente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoCalculoFreteValoresComponente" nillable="true" type="tns:RetornoCalculoFreteValoresComponente" />
</xs:schema>