WebApplication1/Service References/WsFreteHavan/Fretes4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" />
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Frete" />
  <xs:complexType name="Cotacao">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="EnderecoDestino" nillable="true" type="q1:Endereco" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Expedidor" nillable="true" type="q2:Pessoa" />
      <xs:element minOccurs="0" name="NumeroCarrinho" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="Produtos" nillable="true" type="q3:ArrayOfProduto" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" minOccurs="0" name="TipoOperacao" nillable="true" type="q4:TipoOperacao" />
      <xs:element minOccurs="0" name="ValorTotalMercadoria" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cotacao" nillable="true" type="tns:Cotacao" />
  <xs:complexType name="ArrayOfRetornoCotacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetornoCotacao" nillable="true" type="tns:RetornoCotacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetornoCotacao" nillable="true" type="tns:ArrayOfRetornoCotacao" />
  <xs:complexType name="RetornoCotacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataPrazoEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoColeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistanciaRaioKM" type="xs:decimal" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="EnderecoDestino" nillable="true" type="q5:Endereco" />
      <xs:element minOccurs="0" name="PrazoEntrega" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocoloCotacao" type="xs:long" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Transportador" nillable="true" type="q6:Empresa" />
      <xs:element minOccurs="0" name="ValorCotacao" nillable="true" type="tns:ValorCotacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoCotacao" nillable="true" type="tns:RetornoCotacao" />
  <xs:complexType name="ValorCotacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aliquota" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculo" type="xs:decimal" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Frete" minOccurs="0" name="Componentes" nillable="true" type="q7:ArrayOfRetornoCalculoFreteValoresComponente" />
      <xs:element minOccurs="0" name="FreteProprio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorICMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorISS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorISSRetido" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalCotacao" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValorCotacao" nillable="true" type="tns:ValorCotacao" />
</xs:schema>