WebApplication1/Service References/WsFreteHavan/Fretes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pedido" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" />
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" />
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:complexType name="ArrayOfProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produto" nillable="true" type="tns:Produto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduto" nillable="true" type="tns:ArrayOfProduto" />
  <xs:complexType name="Produto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altura" type="xs:decimal" />
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="CSTICMS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Camada" type="xs:decimal" />
      <xs:element minOccurs="0" name="CanalDistribuicao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClasseLogistica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoDocumentacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoGrupoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoNCM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoNFCI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigocEAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comprimento" type="xs:decimal" />
      <xs:element minOccurs="0" name="DescricaoGrupoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imuno" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InativarCadastro" type="xs:boolean" />
      <xs:element minOccurs="0" name="Largura" type="xs:decimal" />
      <xs:element minOccurs="0" name="Lastro" type="xs:decimal" />
      <xs:element minOccurs="0" name="LinhaSeparacao" nillable="true" type="tns:LinhaSeparacao" />
      <xs:element minOccurs="0" name="MarcaProduto" nillable="true" type="tns:MarcaProduto" />
      <xs:element minOccurs="0" name="MetroCubito" type="xs:decimal" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrigemMercadoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PalletFechado" type="xs:boolean" />
      <xs:element minOccurs="0" name="PesoTotalEmbalagem" type="xs:decimal" />
      <xs:element minOccurs="0" name="PesoUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProdutoDivisoesCapacidade" nillable="true" type="tns:ArrayOfProdutoDivisaoCapacidade" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.NFe" minOccurs="0" name="ProdutoLotes" nillable="true" type="q1:ArrayOfLote" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadeCaixaPorPallet" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeCaixasVazias" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeCaixasVaziasPlanejadas" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeEmbalagem" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadePallet" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadePlanejada" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadePorCaixa" type="xs:int" />
      <xs:element minOccurs="0" name="SetorLogistica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiglaModalidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoEmbalagem" nillable="true" type="tns:TipoEmbalagem" />
      <xs:element minOccurs="0" name="UnidadeMedida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorDesconto" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorUnitario" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produto" nillable="true" type="tns:Produto" />
  <xs:complexType name="LinhaSeparacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Filial" minOccurs="0" name="Filial" nillable="true" type="q2:Filial" />
      <xs:element minOccurs="0" name="NivelPrioridade" type="xs:int" />
      <xs:element minOccurs="0" name="Roteiriza" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinhaSeparacao" nillable="true" type="tns:LinhaSeparacao" />
  <xs:complexType name="MarcaProduto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarcaProduto" nillable="true" type="tns:MarcaProduto" />
  <xs:complexType name="ArrayOfProdutoDivisaoCapacidade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdutoDivisaoCapacidade" nillable="true" type="tns:ProdutoDivisaoCapacidade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdutoDivisaoCapacidade" nillable="true" type="tns:ArrayOfProdutoDivisaoCapacidade" />
  <xs:complexType name="ProdutoDivisaoCapacidade">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="Coluna" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Piso" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadePlanejada" type="xs:decimal" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="UnidadeDeMedida" nillable="true" type="q3:UnidadeDeMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoDivisaoCapacidade" nillable="true" type="tns:ProdutoDivisaoCapacidade" />
  <xs:complexType name="TipoEmbalagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoEmbalagem" nillable="true" type="tns:TipoEmbalagem" />
  <xs:complexType name="TipoOperacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoEmbarcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoOperacao" nillable="true" type="tns:TipoOperacao" />
</xs:schema>