WebApplication1/Service References/WsFreteHavan/Fretes13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeloVeicular" nillable="true" type="tns:ModeloVeicular" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeloVeicular" nillable="true" type="tns:ArrayOfModeloVeicular" />
  <xs:complexType name="ModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DivisaoCapacidade" nillable="true" type="tns:ArrayOfDivisaoCapacidadeModeloVeicular" />
      <xs:element minOccurs="0" name="QuantidadeExtraExcedenteTolerado" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoModeloVeicular" type="q1:TipoModeloVeicularCarga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloVeicular" nillable="true" type="tns:ModeloVeicular" />
  <xs:complexType name="ArrayOfDivisaoCapacidadeModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DivisaoCapacidadeModeloVeicular" nillable="true" type="tns:DivisaoCapacidadeModeloVeicular" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDivisaoCapacidadeModeloVeicular" nillable="true" type="tns:ArrayOfDivisaoCapacidadeModeloVeicular" />
  <xs:complexType name="DivisaoCapacidadeModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Coluna" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Piso" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadeDeMedida" nillable="true" type="tns:UnidadeDeMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivisaoCapacidadeModeloVeicular" nillable="true" type="tns:DivisaoCapacidadeModeloVeicular" />
  <xs:complexType name="UnidadeDeMedida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="UnidadeMedida" type="q2:UnidadeMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadeDeMedida" nillable="true" type="tns:UnidadeDeMedida" />
  <xs:complexType name="ArrayOfTipoOperacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoOperacao" nillable="true" type="tns:TipoOperacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoOperacao" nillable="true" type="tns:ArrayOfTipoOperacao" />
  <xs:complexType name="TipoOperacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="BloquearEmissaoDeEntidadeSemCadastro" type="xs:boolean" />
      <xs:element minOccurs="0" name="BloquearEmissaoDosDestinatario" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CNPJsDaOperacao" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CNPJsDestinatariosNaoAutorizados" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="ModalPropostaMultimodal" type="q5:ModalPropostaMultimodal" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoCobrancaMultimodal" type="q6:TipoCobrancaMultimodal" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoPropostaMultimodal" type="q7:TipoPropostaMultimodal" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoServicoMultimodal" type="q8:TipoServicoMultimodal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoOperacao" nillable="true" type="tns:TipoOperacao" />
</xs:schema>