WebApplication1/Service References/WsFreteHavan/Fretes12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Frete" />
  <xs:import schemaLocation="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" />
  <xs:complexType name="RetornoOfRetornoCalculoFretej0uwYGqY">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoCalculoFrete" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Frete" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Frete" minOccurs="0" name="Objeto" nillable="true" type="q1:RetornoCalculoFrete" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoCalculoFretej0uwYGqY" nillable="true" type="tns:RetornoOfRetornoCalculoFretej0uwYGqY" />
  <xs:complexType name="RetornoOfArrayOfRetornoCotacaoR2jBdO9H">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRetornoCotacao" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMensagem" type="xs:int" />
      <xs:element minOccurs="0" name="DataRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Pedido" minOccurs="0" name="Objeto" nillable="true" type="q2:ArrayOfRetornoCotacao" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfArrayOfRetornoCotacaoR2jBdO9H" nillable="true" type="tns:RetornoOfArrayOfRetornoCotacaoR2jBdO9H" />
</xs:schema>