Servicos/Service References/WSDisponibilidade/Disponibilidade1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/Disponibilidade.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
  <xs:element name="Testar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="TestarResult" nillable="true" type="q1:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>