Servicos/Service References/ServicoSAP_V9_Cancelar/SI_Cancel_V9_Sync_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://jsl.com.br/Cancela_V9_FI" name="SI_Cancel_V9_Sync_OUT" targetNamespace="http://jsl.com.br/Cancela_V9_FI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_Cancel_V9_Sync_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="http://jsl.com.br/Cancela_V9_FI" targetNamespace="http://jsl.com.br/Cancela_V9_FI" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_Cancel_V9_resp" type="p1:DT_Cancel_V9_resp" />
      <xsd:element name="MT_Cancel_V9_req" type="p1:DT_Cancel_V9_req" />
      <xsd:complexType name="DT_Cancel_V9_req">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">7f525061b12c11e4b9c60000332d37ea</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="T_DOC">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">e8a2bc64ac6311e4b3eb90004ec42afd</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Item">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e8a2bc63ac6311e4a72390004ec42afd</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="DOC_CONT_V9">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">
                            5b25c5bfac5811e4b5ce90004ec42afd</xsd:appinfo>
                          <xsd:documentation>Número do documento contábil criado no último movimento
                            ST</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="EMPRESA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">
                            5b25c5c0ac5811e4b7fc90004ec42afd</xsd:appinfo>
                          <xsd:documentation>PONTO_OPERAÇAO_ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="EXERCICIO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">
                            5b25c5c1ac5811e4a9d790004ec42afd</xsd:appinfo>
                          <xsd:documentation>DATA_EMISSAO (4)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="FORNECEDOR">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">
                            5b25c5c2ac5811e49a2090004ec42afd</xsd:appinfo>
                          <xsd:documentation>CARTAO_ID (Código da Caruana)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Cancel_V9_resp">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">7f4c0e1db12c11e485130000332d37ea</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="T_RETURN">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">e10293eaac6311e4b71090004ec42afd</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Item">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e10293e9ac6311e4c97590004ec42afd</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="TIPO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">
                            36cc4149ac5911e4960790004ec42afd</xsd:appinfo>
                          <xsd:documentation>E – Erro S – Sucesso</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="EMPRESA">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">
                            36cc414aac5911e49d5e90004ec42afd</xsd:appinfo>
                          <xsd:documentation>Empresa lançada</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="DOC_CONT">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">
                            36cc414bac5911e4871e90004ec42afd</xsd:appinfo>
                          <xsd:documentation>Documento SAP criado – V9</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AREA_FUNC">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">
                            36cc414cac5911e4cb1f90004ec42afd</xsd:appinfo>
                          <xsd:documentation>Área da mensagem</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="20" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="NUM_MSG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">
                            36cc414dac5911e49eb890004ec42afd</xsd:appinfo>
                          <xsd:documentation>Número da mensagem</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="TEXTO_MSG">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">
                            36cc414eac5911e4cc5f90004ec42afd</xsd:appinfo>
                          <xsd:documentation>Descrição da mensagem</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="73" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Cancel_V9_req">
    <wsdl:documentation />
    <wsdl:part name="MT_Cancel_V9_req" element="p1:MT_Cancel_V9_req" />
  </wsdl:message>
  <wsdl:message name="MT_Cancel_V9_resp">
    <wsdl:documentation />
    <wsdl:part name="MT_Cancel_V9_resp" element="p1:MT_Cancel_V9_resp" />
  </wsdl:message>
  <wsdl:portType name="SI_Cancel_V9_Sync_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_Cancel_V9_Sync_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_Cancel_V9_Sync_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_Cancel_V9_req" />
      <wsdl:output message="p1:MT_Cancel_V9_resp" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_Cancel_V9_Sync_OUTBinding" type="p1:SI_Cancel_V9_Sync_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_Cancel_V9_Sync_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_Cancel_V9_Sync_OUTService">
    <wsdl:port name="SI_Cancel_V9_Sync_OUTPort" binding="p1:SI_Cancel_V9_Sync_OUTBinding">
      <address location="http://sapwsintdev.simpar.com.br/XISOAPAdapter/MessageServlet?channel=:BC_TMS:CC_SOAP_CancelV9_SND&amp;version=3.0&amp;Sender.Service=BC_TMS&amp;Interface=http%3A%2F%2Fjsl.com.br%2FCancela_V9_FI%5ESI_Cancel_V9_Sync_OUT" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>