Servicos/Service References/WSValidacaoCommerce/Validacao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Validacao" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58276/Validacao.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58276/Validacao.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IValidacao_ExisteCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteCliente" />
  </wsdl:message>
  <wsdl:message name="IValidacao_ExisteCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IValidacao_InsereDadosCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:InsereDadosCliente" />
  </wsdl:message>
  <wsdl:message name="IValidacao_InsereDadosCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsereDadosClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IValidacao_RetornaDataVencimento_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornaDataVencimento" />
  </wsdl:message>
  <wsdl:message name="IValidacao_RetornaDataVencimento_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornaDataVencimentoResponse" />
  </wsdl:message>
  <wsdl:message name="IValidacao_BloquearCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:BloquearCliente" />
  </wsdl:message>
  <wsdl:message name="IValidacao_BloquearCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:BloquearClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IValidacao_DesbloquearCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:DesbloquearCliente" />
  </wsdl:message>
  <wsdl:message name="IValidacao_DesbloquearCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesbloquearClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IValidacao">
    <wsdl:operation name="ExisteCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidacao/ExisteCliente" message="tns:IValidacao_ExisteCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidacao/ExisteClienteResponse" message="tns:IValidacao_ExisteCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsereDadosCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidacao/InsereDadosCliente" message="tns:IValidacao_InsereDadosCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidacao/InsereDadosClienteResponse" message="tns:IValidacao_InsereDadosCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornaDataVencimento">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidacao/RetornaDataVencimento" message="tns:IValidacao_RetornaDataVencimento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidacao/RetornaDataVencimentoResponse" message="tns:IValidacao_RetornaDataVencimento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BloquearCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidacao/BloquearCliente" message="tns:IValidacao_BloquearCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidacao/BloquearClienteResponse" message="tns:IValidacao_BloquearCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DesbloquearCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidacao/DesbloquearCliente" message="tns:IValidacao_DesbloquearCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidacao/DesbloquearClienteResponse" message="tns:IValidacao_DesbloquearCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IValidacao" type="tns:IValidacao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExisteCliente">
      <soap:operation soapAction="http://tempuri.org/IValidacao/ExisteCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsereDadosCliente">
      <soap:operation soapAction="http://tempuri.org/IValidacao/InsereDadosCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDataVencimento">
      <soap:operation soapAction="http://tempuri.org/IValidacao/RetornaDataVencimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BloquearCliente">
      <soap:operation soapAction="http://tempuri.org/IValidacao/BloquearCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesbloquearCliente">
      <soap:operation soapAction="http://tempuri.org/IValidacao/DesbloquearCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Validacao">
    <wsdl:port name="BasicHttpBinding_IValidacao" binding="tns:BasicHttpBinding_IValidacao">
      <soap:address location="http://localhost:58276/Validacao.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>