Servicos/Service References/WSValidacaoCommerce/Validacao1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExisteCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjCpf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsereDadosCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjCpf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fantasia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsereDadosClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsereDadosClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaDataVencimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjCpf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaDataVencimentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaDataVencimentoResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BloquearCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjCpf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BloquearClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BloquearClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesbloquearCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjCpf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesbloquearClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DesbloquearClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>