WebApplication1/Service References/ServicoMDFeTransportador/MDFe.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3521/Transportador/MDFe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
  <xs:import schemaLocation="http://localhost:3521/Transportador/MDFe.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ObterProtocolos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataFinal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterProtocolosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="ObterProtocolosResult" nillable="true" type="q1:RetornoOfArrayOfintuHEDJ7Dj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="protocolos" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="ObterXMLResult" nillable="true" type="q3:RetornoOfArrayOfRetornoConsultaXMLlQrtB7Zh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>