WebApplication1/Service References/ServicoMDFeTransportador/MDFe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MDFe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3521/Transportador/MDFe.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3521/Transportador/MDFe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3521/Transportador/MDFe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
      <xsd:import schemaLocation="http://localhost:3521/Transportador/MDFe.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMDFe_ObterProtocolos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterProtocolos" />
  </wsdl:message>
  <wsdl:message name="IMDFe_ObterProtocolos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterProtocolosResponse" />
  </wsdl:message>
  <wsdl:message name="IMDFe_ObterXML_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterXML" />
  </wsdl:message>
  <wsdl:message name="IMDFe_ObterXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IMDFe">
    <wsdl:operation name="ObterProtocolos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDFe/ObterProtocolos" message="tns:IMDFe_ObterProtocolos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDFe/ObterProtocolosResponse" message="tns:IMDFe_ObterProtocolos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDFe/ObterXML" message="tns:IMDFe_ObterXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDFe/ObterXMLResponse" message="tns:IMDFe_ObterXML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMDFe" type="tns:IMDFe">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterProtocolos">
      <soap:operation soapAction="http://tempuri.org/IMDFe/ObterProtocolos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterXML">
      <soap:operation soapAction="http://tempuri.org/IMDFe/ObterXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MDFe">
    <wsdl:port name="BasicHttpBinding_IMDFe" binding="tns:BasicHttpBinding_IMDFe">
      <soap:address location="http://localhost:3521/Transportador/MDFe.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>