Servicos/Service References/ServicoSGT.MDFe/MDFe111.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfMotorista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Motorista" nillable="true" type="tns:Motorista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMotorista" nillable="true" type="tns:ArrayOfMotorista" />
  <xs:complexType name="Motorista">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ativo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoriaCNH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="DadosBancarios" nillable="true" type="q1:DadosBancarios" />
      <xs:element minOccurs="0" name="DataAdmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataHabilitacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSuspensaoFim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSuspensaoInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataValidadeGR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataVencimentoHabilitacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" minOccurs="0" name="Endereco" nillable="true" type="q2:Endereco" />
      <xs:element minOccurs="0" name="MotivoBloqueio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCartao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroHabilitacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Transportador" nillable="true" type="q3:Empresa" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoMotorista" type="q4:TipoMotorista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Motorista" nillable="true" type="tns:Motorista" />
  <xs:complexType name="ArrayOfAnexo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Anexo" nillable="true" type="tns:Anexo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnexo" nillable="true" type="tns:ArrayOfAnexo" />
  <xs:complexType name="Anexo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arquivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extensao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Anexo" nillable="true" type="tns:Anexo" />
  <xs:complexType name="ArrayOfModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeloVeicular" nillable="true" type="tns:ModeloVeicular" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeloVeicular" nillable="true" type="tns:ArrayOfModeloVeicular" />
  <xs:complexType name="ModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DivisaoCapacidade" nillable="true" type="tns:ArrayOfDivisaoCapacidadeModeloVeicular" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoModeloVeicular" type="q5:TipoModeloVeicularCarga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloVeicular" nillable="true" type="tns:ModeloVeicular" />
  <xs:complexType name="ArrayOfDivisaoCapacidadeModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DivisaoCapacidadeModeloVeicular" nillable="true" type="tns:DivisaoCapacidadeModeloVeicular" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDivisaoCapacidadeModeloVeicular" nillable="true" type="tns:ArrayOfDivisaoCapacidadeModeloVeicular" />
  <xs:complexType name="DivisaoCapacidadeModeloVeicular">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Coluna" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Piso" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadeDeMedida" nillable="true" type="tns:UnidadeDeMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivisaoCapacidadeModeloVeicular" nillable="true" type="tns:DivisaoCapacidadeModeloVeicular" />
  <xs:complexType name="UnidadeDeMedida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="UnidadeMedida" type="q6:UnidadeMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadeDeMedida" nillable="true" type="tns:UnidadeDeMedida" />
  <xs:complexType name="ArrayOfTipoOperacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoOperacao" nillable="true" type="tns:TipoOperacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoOperacao" nillable="true" type="tns:ArrayOfTipoOperacao" />
  <xs:complexType name="TipoOperacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="BloquearEmissaoDeEntidadeSemCadastro" type="xs:boolean" />
      <xs:element minOccurs="0" name="BloquearEmissaoDosDestinatario" type="xs:boolean" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CNPJsDaOperacao" nillable="true" type="q7:ArrayOfstring" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CNPJsDestinatariosNaoAutorizados" nillable="true" type="q8:ArrayOfstring" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="ModalPropostaMultimodal" type="q9:ModalPropostaMultimodal" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoCobrancaMultimodal" type="q10:TipoCobrancaMultimodal" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoPropostaMultimodal" type="q11:TipoPropostaMultimodal" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoServicoMultimodal" type="q12:TipoServicoMultimodal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoOperacao" nillable="true" type="tns:TipoOperacao" />
</xs:schema>