Servicos/Service References/ServicoSGT.MDFe/MDFe5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd12" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:element name="BuscarMDFes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q1:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMDFesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarMDFesResult" nillable="true" type="q2:RetornoOfPaginacaoOfMDFeUBGeyIFJ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMDFesPorCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q3:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMDFesPorCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarMDFesPorCargaResult" nillable="true" type="q4:RetornoOfPaginacaoOfMDFeUBGeyIFJ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMDFesPorPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataFinal" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q5:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMDFesPorPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarMDFesPorPeriodoResult" nillable="true" type="q6:RetornoOfPaginacaoOfMDFeUBGeyIFJ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMDFePorProtocolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloMDFe" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q7:TipoDocumentoRetorno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMDFePorProtocoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarMDFePorProtocoloResult" nillable="true" type="q8:RetornoOfMDFeUBGeyIFJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarEncerramentoMDFePorChaveCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chaveCTe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarEncerramentoMDFePorChaveCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SolicitarEncerramentoMDFePorChaveCTeResult" nillable="true" type="q9:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarArquivoXMLMDFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/Message" name="arquivo" type="q10:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarArquivoXMLMDFeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarArquivoXMLMDFeResult" nillable="true" type="q11:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaStatusMDFePorChaveCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chaveCTe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaStatusMDFePorChaveCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConsultaStatusMDFePorChaveCTeResult" nillable="true" type="q12:RetornoOfStatusMDFeCgwIm_SdB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarEmissaoMDFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" minOccurs="0" name="mdfeManual" nillable="true" type="q13:MDFeManual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarEmissaoMDFeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="SolicitarEmissaoMDFeResult" nillable="true" type="q14:RetornoOfProtocoloMDFeManualUBGeyIFJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMDFesPorMDFeManual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoMDFeManual" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q15:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMDFesPorMDFeManualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarMDFesPorMDFeManualResult" nillable="true" type="q16:RetornoOfPaginacaoOfMDFeUBGeyIFJ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMDFeAquaviario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" minOccurs="0" name="mdfeAquaviario" nillable="true" type="q17:MDFeAquaviario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMDFeAquaviarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarMDFeAquaviarioResult" nillable="true" type="q18:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarSituacaoMDFeAquaviario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chaveMDFe" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="statusMDFe" type="q19:StatusMDFe" />
        <xs:element minOccurs="0" name="protocolo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataEvento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="mensagemRetornoSefaz" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarSituacaoMDFeAquaviarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AtualizarSituacaoMDFeAquaviarioResult" nillable="true" type="q20:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>