Servicos/Service References/ServicoSGT.MDFe/MDFe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MDFe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Localidade" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd12" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Enumerador" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
      <xsd:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMDFe_BuscarMDFes_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMDFes" />
  </wsdl:message>
  <wsdl:message name="IMDFe_BuscarMDFes_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMDFesResponse" />
  </wsdl:message>
  <wsdl:message name="IMDFe_BuscarMDFesPorCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMDFesPorCarga" />
  </wsdl:message>
  <wsdl:message name="IMDFe_BuscarMDFesPorCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMDFesPorCargaResponse" />
  </wsdl:message>
  <wsdl:message name="IMDFe_BuscarMDFesPorPeriodo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMDFesPorPeriodo" />
  </wsdl:message>
  <wsdl:message name="IMDFe_BuscarMDFesPorPeriodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMDFesPorPeriodoResponse" />
  </wsdl:message>
  <wsdl:message name="IMDFe_BuscarMDFePorProtocolo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMDFePorProtocolo" />
  </wsdl:message>
  <wsdl:message name="IMDFe_BuscarMDFePorProtocolo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMDFePorProtocoloResponse" />
  </wsdl:message>
  <wsdl:message name="IMDFe_SolicitarEncerramentoMDFePorChaveCTe_InputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarEncerramentoMDFePorChaveCTe" />
  </wsdl:message>
  <wsdl:message name="IMDFe_SolicitarEncerramentoMDFePorChaveCTe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarEncerramentoMDFePorChaveCTeResponse" />
  </wsdl:message>
  <wsdl:message name="IMDFe_EnviarArquivoXMLMDFe_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarArquivoXMLMDFe" />
  </wsdl:message>
  <wsdl:message name="IMDFe_EnviarArquivoXMLMDFe_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarArquivoXMLMDFeResponse" />
  </wsdl:message>
  <wsdl:message name="IMDFe_ConsultaStatusMDFePorChaveCTe_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaStatusMDFePorChaveCTe" />
  </wsdl:message>
  <wsdl:message name="IMDFe_ConsultaStatusMDFePorChaveCTe_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaStatusMDFePorChaveCTeResponse" />
  </wsdl:message>
  <wsdl:message name="IMDFe_SolicitarEmissaoMDFe_InputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarEmissaoMDFe" />
  </wsdl:message>
  <wsdl:message name="IMDFe_SolicitarEmissaoMDFe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarEmissaoMDFeResponse" />
  </wsdl:message>
  <wsdl:message name="IMDFe_BuscarMDFesPorMDFeManual_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMDFesPorMDFeManual" />
  </wsdl:message>
  <wsdl:message name="IMDFe_BuscarMDFesPorMDFeManual_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMDFesPorMDFeManualResponse" />
  </wsdl:message>
  <wsdl:message name="IMDFe_EnviarMDFeAquaviario_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMDFeAquaviario" />
  </wsdl:message>
  <wsdl:message name="IMDFe_EnviarMDFeAquaviario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMDFeAquaviarioResponse" />
  </wsdl:message>
  <wsdl:message name="IMDFe_AtualizarSituacaoMDFeAquaviario_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarSituacaoMDFeAquaviario" />
  </wsdl:message>
  <wsdl:message name="IMDFe_AtualizarSituacaoMDFeAquaviario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarSituacaoMDFeAquaviarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IMDFe">
    <wsdl:operation name="BuscarMDFes">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDFe/BuscarMDFes" message="tns:IMDFe_BuscarMDFes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDFe/BuscarMDFesResponse" message="tns:IMDFe_BuscarMDFes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMDFesPorCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDFe/BuscarMDFesPorCarga" message="tns:IMDFe_BuscarMDFesPorCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDFe/BuscarMDFesPorCargaResponse" message="tns:IMDFe_BuscarMDFesPorCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMDFesPorPeriodo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDFe/BuscarMDFesPorPeriodo" message="tns:IMDFe_BuscarMDFesPorPeriodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDFe/BuscarMDFesPorPeriodoResponse" message="tns:IMDFe_BuscarMDFesPorPeriodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMDFePorProtocolo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDFe/BuscarMDFePorProtocolo" message="tns:IMDFe_BuscarMDFePorProtocolo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDFe/BuscarMDFePorProtocoloResponse" message="tns:IMDFe_BuscarMDFePorProtocolo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SolicitarEncerramentoMDFePorChaveCTe">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDFe/SolicitarEncerramentoMDFePorChaveCTe" message="tns:IMDFe_SolicitarEncerramentoMDFePorChaveCTe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDFe/SolicitarEncerramentoMDFePorChaveCTeResponse" message="tns:IMDFe_SolicitarEncerramentoMDFePorChaveCTe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarArquivoXMLMDFe">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDFe/EnviarArquivoXMLMDFe" message="tns:IMDFe_EnviarArquivoXMLMDFe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDFe/EnviarArquivoXMLMDFeResponse" message="tns:IMDFe_EnviarArquivoXMLMDFe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaStatusMDFePorChaveCTe">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDFe/ConsultaStatusMDFePorChaveCTe" message="tns:IMDFe_ConsultaStatusMDFePorChaveCTe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDFe/ConsultaStatusMDFePorChaveCTeResponse" message="tns:IMDFe_ConsultaStatusMDFePorChaveCTe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SolicitarEmissaoMDFe">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDFe/SolicitarEmissaoMDFe" message="tns:IMDFe_SolicitarEmissaoMDFe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDFe/SolicitarEmissaoMDFeResponse" message="tns:IMDFe_SolicitarEmissaoMDFe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMDFesPorMDFeManual">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDFe/BuscarMDFesPorMDFeManual" message="tns:IMDFe_BuscarMDFesPorMDFeManual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDFe/BuscarMDFesPorMDFeManualResponse" message="tns:IMDFe_BuscarMDFesPorMDFeManual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMDFeAquaviario">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDFe/EnviarMDFeAquaviario" message="tns:IMDFe_EnviarMDFeAquaviario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDFe/EnviarMDFeAquaviarioResponse" message="tns:IMDFe_EnviarMDFeAquaviario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarSituacaoMDFeAquaviario">
      <wsdl:input wsaw:Action="http://tempuri.org/IMDFe/AtualizarSituacaoMDFeAquaviario" message="tns:IMDFe_AtualizarSituacaoMDFeAquaviario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMDFe/AtualizarSituacaoMDFeAquaviarioResponse" message="tns:IMDFe_AtualizarSituacaoMDFeAquaviario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMDFe" type="tns:IMDFe">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarMDFes">
      <soap:operation soapAction="http://tempuri.org/IMDFe/BuscarMDFes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMDFesPorCarga">
      <soap:operation soapAction="http://tempuri.org/IMDFe/BuscarMDFesPorCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMDFesPorPeriodo">
      <soap:operation soapAction="http://tempuri.org/IMDFe/BuscarMDFesPorPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMDFePorProtocolo">
      <soap:operation soapAction="http://tempuri.org/IMDFe/BuscarMDFePorProtocolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolicitarEncerramentoMDFePorChaveCTe">
      <soap:operation soapAction="http://tempuri.org/IMDFe/SolicitarEncerramentoMDFePorChaveCTe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarArquivoXMLMDFe">
      <soap:operation soapAction="http://tempuri.org/IMDFe/EnviarArquivoXMLMDFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaStatusMDFePorChaveCTe">
      <soap:operation soapAction="http://tempuri.org/IMDFe/ConsultaStatusMDFePorChaveCTe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolicitarEmissaoMDFe">
      <soap:operation soapAction="http://tempuri.org/IMDFe/SolicitarEmissaoMDFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMDFesPorMDFeManual">
      <soap:operation soapAction="http://tempuri.org/IMDFe/BuscarMDFesPorMDFeManual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarMDFeAquaviario">
      <soap:operation soapAction="http://tempuri.org/IMDFe/EnviarMDFeAquaviario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarSituacaoMDFeAquaviario">
      <soap:operation soapAction="http://tempuri.org/IMDFe/AtualizarSituacaoMDFeAquaviario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MDFe">
    <wsdl:port name="BasicHttpBinding_IMDFe" binding="tns:BasicHttpBinding_IMDFe">
      <soap:address location="http://localhost:5146/MDFe.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>