Servicos/Service References/ServicoSGT.MDFe/MDFe115.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:complexType name="Veiculo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Anexos" nillable="true" type="q1:ArrayOfAnexo" />
      <xs:element minOccurs="0" name="AnoFabricacao" type="xs:int" />
      <xs:element minOccurs="0" name="AnoModelo" type="xs:int" />
      <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CapacidadeKG" type="xs:int" />
      <xs:element minOccurs="0" name="CapacidadeM3" type="xs:int" />
      <xs:element minOccurs="0" name="CapacidadeMaximaTanque" type="xs:decimal" />
      <xs:element minOccurs="0" name="CentroCarregamentos" nillable="true" type="tns:ArrayOfCentroCarregamento" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" minOccurs="0" name="CentroResultado" nillable="true" type="q2:CentroResultado" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Cor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataAquisicao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataRetiradaCtrn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSuspensaoFim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSuspensaoInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataValidadeGR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoMarcaVeiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoModeloVeiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Equipamentos" nillable="true" type="tns:ArrayOfEquipamento" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="GrupoPessoaSegmento" nillable="true" type="q3:GrupoPessoa" />
      <xs:element minOccurs="0" name="KilometragemAtual" type="xs:int" />
      <xs:element minOccurs="0" name="MaxGross" type="xs:int" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="tns:Modelo" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="ModeloVeicular" nillable="true" type="q4:ModeloVeicular" />
      <xs:element minOccurs="0" name="MotivoBloqueio" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Motoristas" nillable="true" type="q5:ArrayOfMotorista" />
      <xs:element minOccurs="0" name="NumeroCartaoValePedagio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroChassi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroContainer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroEquipamentoRastreador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroFrota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMotor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrdemReboque" type="xs:int" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PossuiRastreador" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PossuiTagValePedagio" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Proprietario" nillable="true" type="tns:Proprietario" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element minOccurs="0" name="RNTC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reboques" nillable="true" type="tns:ArrayOfVeiculo" />
      <xs:element minOccurs="0" name="Renavam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegmentoVeiculo" nillable="true" type="tns:SegmentoVeiculo" />
      <xs:element minOccurs="0" name="Tara" type="xs:int" />
      <xs:element minOccurs="0" name="TaraContainer" type="xs:int" />
      <xs:element minOccurs="0" name="TecnologiaRastreador" nillable="true" type="tns:TecnologiaRastreador" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoCarroceria" type="q6:TipoCarroceria" />
      <xs:element minOccurs="0" name="TipoComunicacaoRastreador" nillable="true" type="tns:TipoComunicacaoRastreador" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoPropriedadeVeiculo" type="q7:TipoPropriedadeVeiculo" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoRodado" type="q8:TipoRodado" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoTagValePedagio" nillable="true" type="q9:ModoCompraValePedagioTarget" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoVeiculo" type="q10:TipoVeiculo" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="Transportador" nillable="true" type="q11:Empresa" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorContainerAverbacao" type="xs:decimal" />
      <xs:element minOccurs="0" name="XCampo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XTexto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Veiculo" nillable="true" type="tns:Veiculo" />
  <xs:complexType name="ArrayOfCentroCarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CentroCarregamento" nillable="true" type="tns:CentroCarregamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCentroCarregamento" nillable="true" type="tns:ArrayOfCentroCarregamento" />
  <xs:complexType name="CentroCarregamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CentroCarregamento" nillable="true" type="tns:CentroCarregamento" />
  <xs:complexType name="ArrayOfEquipamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Equipamento" nillable="true" type="tns:Equipamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipamento" nillable="true" type="tns:ArrayOfEquipamento" />
  <xs:complexType name="Equipamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnoFabricacao" type="xs:int" />
      <xs:element minOccurs="0" name="AnoModelo" type="xs:int" />
      <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CapacidadeTanque" type="xs:decimal" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Financeiro" minOccurs="0" name="CentroResultado" nillable="true" type="q12:CentroResultado" />
      <xs:element minOccurs="0" name="Chassi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Cor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataAquisicao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hodometro" type="xs:decimal" />
      <xs:element minOccurs="0" name="Horimetro" type="xs:decimal" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Renavan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Segmento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Equipamento" nillable="true" type="tns:Equipamento" />
  <xs:complexType name="Modelo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodigoFIPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="tns:Marca" />
      <xs:element minOccurs="0" name="NumeroEixos" type="xs:int" />
      <xs:element minOccurs="0" name="PossuiArla32" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Modelo" nillable="true" type="tns:Modelo" />
  <xs:complexType name="Marca">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoVeiculo" type="q13:TipoVeiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Marca" nillable="true" type="tns:Marca" />
  <xs:complexType name="Proprietario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CIOT" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="FornecedorValePedagio" nillable="true" type="q14:Pessoa" />
      <xs:element minOccurs="0" name="NumeroCompraValePedagio" nillable="true" type="xs:string" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="ResponsavelValePedagio" nillable="true" type="q15:Pessoa" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="TipoTACVeiculo" type="q16:TipoProprietarioVeiculo" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="TransportadorTerceiro" nillable="true" type="q17:Empresa" />
      <xs:element minOccurs="0" name="ValorValePedagio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proprietario" nillable="true" type="tns:Proprietario" />
  <xs:complexType name="ArrayOfVeiculo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Veiculo" nillable="true" type="tns:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVeiculo" nillable="true" type="tns:ArrayOfVeiculo" />
  <xs:complexType name="SegmentoVeiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SegmentoVeiculo" nillable="true" type="tns:SegmentoVeiculo" />
  <xs:complexType name="TecnologiaRastreador">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoInterno" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TecnologiaRastreador" nillable="true" type="tns:TecnologiaRastreador" />
  <xs:complexType name="TipoComunicacaoRastreador">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIntegracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoComunicacaoRastreador" nillable="true" type="tns:TipoComunicacaoRastreador" />
</xs:schema>