Servicos/Service References/ServicoSGT.MDFe/MDFe1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.MDFe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:import schemaLocation="http://localhost:5146/MDFe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:complexType name="ArrayOfMDFe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MDFe" nillable="true" type="tns:MDFe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMDFe" nillable="true" type="tns:ArrayOfMDFe" />
  <xs:complexType name="MDFe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chave" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChavesDeCTe" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="DataAutorizacao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensagemRetornoSefaz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocolo" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocoloAutorizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloCancelamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocoloEncerramento" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProtocolosDeCTe" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="Serie" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="StatusMDFe" type="q3:StatusMDFe" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Pessoas" minOccurs="0" name="TransportadoraEmitente" nillable="true" type="q4:Empresa" />
      <xs:element minOccurs="0" name="UFDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UFOrigem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XMLAutorizacao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MDFe" nillable="true" type="tns:MDFe" />
  <xs:complexType name="MDFeManual">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" minOccurs="0" name="ListaCIOT" nillable="true" type="q5:ArrayOfCIOT" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" minOccurs="0" name="ListaValePedagio" nillable="true" type="q6:ArrayOfValePedagio" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Motoristas" nillable="true" type="q7:ArrayOfMotorista" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProtocolosDasCargas" nillable="true" type="q8:ArrayOfint" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Frota" minOccurs="0" name="Veiculo" nillable="true" type="q9:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MDFeManual" nillable="true" type="tns:MDFeManual" />
  <xs:complexType name="ProtocoloMDFeManual">
    <xs:sequence>
      <xs:element minOccurs="0" name="protocoloMDFeManual" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProtocoloMDFeManual" nillable="true" type="tns:ProtocoloMDFeManual" />
  <xs:complexType name="MDFeAquaviario">
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Destino" nillable="true" type="q10:Localidade" />
      <xs:element minOccurs="0" name="MDFe" nillable="true" type="tns:MDFe" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Origem" nillable="true" type="q11:Localidade" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="PortoDesembarque" nillable="true" type="q12:Porto" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="PortoEmbarque" nillable="true" type="q13:Porto" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TerminaisDestino" nillable="true" type="q14:ArrayOfTerminalPorto" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="TerminaisOrigem" nillable="true" type="q15:ArrayOfTerminalPorto" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="TipoModalMDFe" type="q16:TipoModalMDFe" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="TransportadoraEmitente" nillable="true" type="q17:Empresa" />
      <xs:element minOccurs="0" name="UsarDadosCTe" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsarSeguroCTe" type="xs:boolean" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Carga" minOccurs="0" name="Viagem" nillable="true" type="q18:Viagem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MDFeAquaviario" nillable="true" type="tns:MDFeAquaviario" />
</xs:schema>