WebApplication1/Service References/WSEmpresa/Empresa3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://win-tvgf109n8ru/WebServiceIntegracaoLocal/Empresa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:import schemaLocation="http://win-tvgf109n8ru/WebServiceIntegracaoLocal/Empresa.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
  <xs:element name="SalvarEmpresaEmissora">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="empresa" nillable="true" type="q1:Empresa" />
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarEmpresaEmissoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="SalvarEmpresaEmissoraResult" nillable="true" type="q2:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarEmpresaEmissoraParaEmissao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjEmpresaEmissora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarEmpresaEmissoraParaEmissaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="ValidarEmpresaEmissoraParaEmissaoResult" nillable="true" type="q3:RetornoOfRetornoValidarEmpresalQrtB7Zh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarEmpresaEmissoraIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="empresa" nillable="true" type="q4:Empresa" />
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chaveAcesso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarEmpresaEmissoraIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="SalvarEmpresaEmissoraIntegracaoResult" nillable="true" type="q5:RetornoOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterDetalhesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjEmpresaEmissora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterDetalhesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="ObterDetalhesEmpresaResult" nillable="true" type="q6:RetornoOfEmpresaX8of5MvI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>