WebApplication1/Service References/WSEmpresa/Empresa.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://win-tvgf109n8ru/WebServiceIntegracaoLocal/Empresa.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="http://win-tvgf109n8ru/WebServiceIntegracaoLocal/Empresa.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://win-tvgf109n8ru/WebServiceIntegracaoLocal/Empresa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
  <xs:complexType name="RetornoOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfstring" nillable="true" type="tns:RetornoOfstring" />
  <xs:complexType name="RetornoOfRetornoValidarEmpresalQrtB7Zh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RetornoValidarEmpresa" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:RetornoValidarEmpresa" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfRetornoValidarEmpresalQrtB7Zh" nillable="true" type="tns:RetornoOfRetornoValidarEmpresalQrtB7Zh" />
  <xs:complexType name="RetornoValidarEmpresa">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="Ambiente" type="q1:TipoAmbiente" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Inconsistencias" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoValidarEmpresa" nillable="true" type="tns:RetornoValidarEmpresa" />
  <xs:complexType name="RetornoOfanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfanyType" nillable="true" type="tns:RetornoOfanyType" />
  <xs:complexType name="RetornoOfEmpresaX8of5MvI">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Empresa" Namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor" minOccurs="0" name="Objeto" nillable="true" type="q3:Empresa" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoOfEmpresaX8of5MvI" nillable="true" type="tns:RetornoOfEmpresaX8of5MvI" />
</xs:schema>