WebApplication1/Service References/ServiceReference4/IntegracaoCTe1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3521/IntegracaoCTe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
  <xs:import schemaLocation="http://localhost:3521/IntegracaoCTe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
  <xs:element name="Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="statusIntegracao" type="q1:StatusIntegracao" />
        <xs:element minOccurs="0" name="codigoEmpresaPai" type="xs:int" />
        <xs:element minOccurs="0" name="numeroCarga" type="xs:int" />
        <xs:element minOccurs="0" name="numeroUnidade" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="tipoRetorno" type="q2:TipoRetornoIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="BuscarResult" nillable="true" type="q3:RetornoOfArrayOfRetornoCTelQrtB7Zh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCTe" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="tipoIntegracao" type="q4:TipoIntegracao" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="statusIntegracao" type="q5:StatusIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="AlterarResult" nillable="true" type="q6:RetornoOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorCodigoCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCTe" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="tipoIntegracao" type="q7:TipoIntegracao" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="tipoRetorno" type="q8:TipoRetornoIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorCodigoCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="BuscarPorCodigoCTeResult" nillable="true" type="q9:RetornoOfRetornoCTelQrtB7Zh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorCodigoMDFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoMDFe" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="tipoRetorno" type="q10:TipoRetornoIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorCodigoMDFeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="BuscarPorCodigoMDFeResult" nillable="true" type="q11:RetornoOfArrayOfRetornoCTelQrtB7Zh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorNumeroDaNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjEmpresaEmitente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroNotaFiscal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serieNotaFiscal" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="tipoIntegracao" type="q12:TipoIntegracao" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" minOccurs="0" name="tipoRetorno" type="q13:TipoRetornoIntegracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorNumeroDaNotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="BuscarPorNumeroDaNotaResult" nillable="true" type="q14:RetornoOfRetornoCTelQrtB7Zh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>