WebApplication1/Service References/ServiceReference4/IntegracaoCTe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntegracaoCTe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3521/IntegracaoCTe.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3521/IntegracaoCTe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3521/IntegracaoCTe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.Enumeradores" />
      <xsd:import schemaLocation="http://localhost:3521/IntegracaoCTe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntegracaoCTe_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoCTe_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoCTe_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoCTe_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoCTe_BuscarPorCodigoCTe_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorCodigoCTe" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoCTe_BuscarPorCodigoCTe_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorCodigoCTeResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoCTe_BuscarPorCodigoMDFe_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorCodigoMDFe" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoCTe_BuscarPorCodigoMDFe_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorCodigoMDFeResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoCTe_BuscarPorNumeroDaNota_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorNumeroDaNota" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoCTe_BuscarPorNumeroDaNota_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorNumeroDaNotaResponse" />
  </wsdl:message>
  <wsdl:portType name="IIntegracaoCTe">
    <wsdl:operation name="Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoCTe/Buscar" message="tns:IIntegracaoCTe_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoCTe/BuscarResponse" message="tns:IIntegracaoCTe_Buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoCTe/Alterar" message="tns:IIntegracaoCTe_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoCTe/AlterarResponse" message="tns:IIntegracaoCTe_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorCodigoCTe">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoCTe/BuscarPorCodigoCTe" message="tns:IIntegracaoCTe_BuscarPorCodigoCTe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoCTe/BuscarPorCodigoCTeResponse" message="tns:IIntegracaoCTe_BuscarPorCodigoCTe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorCodigoMDFe">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoCTe/BuscarPorCodigoMDFe" message="tns:IIntegracaoCTe_BuscarPorCodigoMDFe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoCTe/BuscarPorCodigoMDFeResponse" message="tns:IIntegracaoCTe_BuscarPorCodigoMDFe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorNumeroDaNota">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoCTe/BuscarPorNumeroDaNota" message="tns:IIntegracaoCTe_BuscarPorNumeroDaNota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoCTe/BuscarPorNumeroDaNotaResponse" message="tns:IIntegracaoCTe_BuscarPorNumeroDaNota_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIntegracaoCTe" type="tns:IIntegracaoCTe">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoCTe/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoCTe/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorCodigoCTe">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoCTe/BuscarPorCodigoCTe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorCodigoMDFe">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoCTe/BuscarPorCodigoMDFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorNumeroDaNota">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoCTe/BuscarPorNumeroDaNota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegracaoCTe">
    <wsdl:port name="BasicHttpBinding_IIntegracaoCTe" binding="tns:BasicHttpBinding_IIntegracaoCTe">
      <soap:address location="http://localhost:3521/IntegracaoCTe.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>