WebApplication1/Service References/WSMDFe/ManifestoEletronicoDeDocumentosFiscais2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3521/ManifestoEletronicoDeDocumentosFiscais.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" />
  <xs:import schemaLocation="http://localhost:3521/ManifestoEletronicoDeDocumentosFiscais.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" />
  <xs:import schemaLocation="http://localhost:3521/ManifestoEletronicoDeDocumentosFiscais.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="IntegrarMDFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoEmpresaPai" type="xs:int" />
        <xs:element minOccurs="0" name="numeroCarga" type="xs:int" />
        <xs:element minOccurs="0" name="numeroUnidade" type="xs:int" />
        <xs:element minOccurs="0" name="dataHoraEncerramento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarMDFeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="IntegrarMDFeResult" nillable="true" type="q1:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarMDFePorTxt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoEmpresaPai" type="xs:int" />
        <xs:element minOccurs="0" name="nomeArquivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arquivoTexto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarMDFePorTxtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="IntegrarMDFePorTxtResult" nillable="true" type="q2:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarMDFePorObjeto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.MDFe" minOccurs="0" name="mdfe" nillable="true" type="q3:MDFe" />
        <xs:element minOccurs="0" name="cnpjEmpresaAdministradora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarMDFePorObjetoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="IntegrarMDFePorObjetoResult" nillable="true" type="q4:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarMDFePorNFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoEmpresaPai" type="xs:int" />
        <xs:element minOccurs="0" name="numeroCarga" type="xs:int" />
        <xs:element minOccurs="0" name="numeroUnidade" type="xs:int" />
        <xs:element minOccurs="0" name="dataHoraEncerramento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarMDFePorNFeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="IntegrarMDFePorNFeResult" nillable="true" type="q5:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarMDFePorCTes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="codigosCTes" nillable="true" type="q6:ArrayOfint" />
        <xs:element minOccurs="0" name="cnpjEmpresaEmitente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpjEmpresaPai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrarMDFePorCTesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="IntegrarMDFePorCTesResult" nillable="true" type="q7:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncerrarMDFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjEmpresaAdministradora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoMDFe" type="xs:int" />
        <xs:element minOccurs="0" name="dataHoraEncerramento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoIBGEMunicipioEncerramento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncerrarMDFeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="EncerrarMDFeResult" nillable="true" type="q8:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarMDFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpjEmpresaAdministradora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoMDFe" type="xs:int" />
        <xs:element minOccurs="0" name="justificativa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarMDFeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EmissaoCTe.Integracao" minOccurs="0" name="CancelarMDFeResult" nillable="true" type="q9:RetornoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>