Servicos/Service References/ServicoAX.Pedido/xppservice21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalPaym/xppservice.svc?xsd=xsd7" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalPaym/xppservice.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalPaym/xppservice.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalPaym/xppservice.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalPaym/xppservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalPaym/xppservice.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalPaym/xppservice.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalPaym/xppservice.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalPaym/xppservice.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/GSWVendPaymJournal" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalPaym/xppservice.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalPaym/xppservice.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://aplax_hom.novaagrisa.local:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalPaym/xppservice.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GSWVendPaymJournalServiceDeleteRequest">
    <wsdl:part name="parameters" element="tns:GSWVendPaymJournalServiceDeleteRequest" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalServiceDeleteRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalServiceDeleteResponse">
    <wsdl:part name="parameters" element="tns:GSWVendPaymJournalServiceDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalService_delete_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalServiceReadRequest">
    <wsdl:part name="parameters" element="tns:GSWVendPaymJournalServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalServiceReadRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalServiceReadResponse">
    <wsdl:part name="parameters" element="tns:GSWVendPaymJournalServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalServiceFindRequest">
    <wsdl:part name="parameters" element="tns:GSWVendPaymJournalServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalServiceFindRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalServiceFindResponse">
    <wsdl:part name="parameters" element="tns:GSWVendPaymJournalServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalServiceUpdateRequest">
    <wsdl:part name="parameters" element="tns:GSWVendPaymJournalServiceUpdateRequest" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalServiceUpdateRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalServiceUpdateResponse">
    <wsdl:part name="parameters" element="tns:GSWVendPaymJournalServiceUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalService_update_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:GSWVendPaymJournalServiceCreateRequest" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalServiceCreateRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:GSWVendPaymJournalServiceCreateResponse" />
  </wsdl:message>
  <wsdl:message name="GSWVendPaymJournalService_create_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:portType name="GSWVendPaymJournalService">
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/GSWVendPaymJournalService/delete" name="GSWVendPaymJournalServiceDeleteRequest" message="tns:GSWVendPaymJournalServiceDeleteRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/GSWVendPaymJournalService/deleteResponse" name="GSWVendPaymJournalServiceDeleteResponse" message="tns:GSWVendPaymJournalServiceDeleteResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/GSWVendPaymJournalService/deleteAifFaultFault" name="AifFaultFault" message="tns:GSWVendPaymJournalService_delete_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/GSWVendPaymJournalService/read" name="GSWVendPaymJournalServiceReadRequest" message="tns:GSWVendPaymJournalServiceReadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/GSWVendPaymJournalService/readResponse" name="GSWVendPaymJournalServiceReadResponse" message="tns:GSWVendPaymJournalServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/GSWVendPaymJournalService/readAifFaultFault" name="AifFaultFault" message="tns:GSWVendPaymJournalService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/GSWVendPaymJournalService/find" name="GSWVendPaymJournalServiceFindRequest" message="tns:GSWVendPaymJournalServiceFindRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/GSWVendPaymJournalService/findResponse" name="GSWVendPaymJournalServiceFindResponse" message="tns:GSWVendPaymJournalServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/GSWVendPaymJournalService/findAifFaultFault" name="AifFaultFault" message="tns:GSWVendPaymJournalService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/GSWVendPaymJournalService/update" name="GSWVendPaymJournalServiceUpdateRequest" message="tns:GSWVendPaymJournalServiceUpdateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/GSWVendPaymJournalService/updateResponse" name="GSWVendPaymJournalServiceUpdateResponse" message="tns:GSWVendPaymJournalServiceUpdateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/GSWVendPaymJournalService/updateAifFaultFault" name="AifFaultFault" message="tns:GSWVendPaymJournalService_update_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/GSWVendPaymJournalService/create" name="GSWVendPaymJournalServiceCreateRequest" message="tns:GSWVendPaymJournalServiceCreateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/GSWVendPaymJournalService/createResponse" name="GSWVendPaymJournalServiceCreateResponse" message="tns:GSWVendPaymJournalServiceCreateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/GSWVendPaymJournalService/createAifFaultFault" name="AifFaultFault" message="tns:GSWVendPaymJournalService_create_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>